<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  
  <div style="height: 49px;">
    <i class="fas fa-bars fa-2x" (click)="handleSidebarToggle()"></i>
  </div>

  <div class="menu-items-container scroll">
    <ul class="menu-items">
      <!-- <li class="menu-item-li" >
        <a routerLink="/dashboards/dashboard-2" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="25.603" height="21.481" viewBox="0 0 25.603 21.481">
              <g id="dashboard" transform="translate(-22 -18.483)">
                <g id="Group_22230" data-name="Group 22230" transform="translate(-25.505 -119.752)">
                  <path id="Path_11584" data-name="Path 11584" d="M62.716,155.312c.02.268.037.5.054.738.033.439.05.88.1,1.317a1.6,1.6,0,0,0,.776,1.179c.308.2.63.376.94.569a.978.978,0,0,1,.252.209c.137.178.068.344-.153.379a2.49,2.49,0,0,1-.357.013l-8.26,0c-.145,0-.343.03-.345-.168a.517.517,0,0,1,.2-.374c.337-.235.7-.431,1.054-.648a1.535,1.535,0,0,0,.756-1.186c.067-.63.1-1.262.144-1.894a.589.589,0,0,0-.027-.129H48.633c-.1,0-.2,0-.3-.005a.769.769,0,0,1-.822-.807c-.005-.082-.005-.166-.005-.248q0-7.476,0-14.951a2.2,2.2,0,0,1,.04-.464.686.686,0,0,1,.631-.564,4.644,4.644,0,0,1,.6-.026q11.578-.01,23.155-.014a2.488,2.488,0,0,1,.492.047.8.8,0,0,1,.677.837q0,7.7,0,15.391a.806.806,0,0,1-.79.793c-.421.027-.844.014-1.266.014q-4.02,0-8.039-.005Zm9.132-1.9V140.035h-23.1v13.378Z" fill="#0091fb"/>
                  <path id="Path_11585" data-name="Path 11585" d="M63.463,148.464a3.136,3.136,0,0,1-3.486-.213,3.2,3.2,0,0,1-1.078-3.692,3.114,3.114,0,0,1,2.8-2.048c.005.08.014.162.014.246,0,.917,0,1.834.013,2.751a.961.961,0,0,0,.148.465c.5.789,1,1.569,1.507,2.351C63.412,148.364,63.433,148.409,63.463,148.464Z" transform="translate(3.425 1.308)" fill="#0091fb"/>
                  <path id="Path_11586" data-name="Path 11586" d="M64.051,143.612a3.389,3.389,0,0,1-.926,4.522l-1.668-2.579Z" transform="translate(4.27 1.646)" fill="#0091fb"/>
                  <path id="Path_11587" data-name="Path 11587" d="M61.353,145.528v-3.2a3.151,3.151,0,0,1,2.5,1.33Z" transform="translate(4.239 1.248)" fill="#0091fb"/>
                  <path id="Path_11588" data-name="Path 11588" d="M54.5,148.776c-1.1,0-2.206,0-3.308,0a.909.909,0,0,1-.849-.541.941.941,0,0,1-.089-.436q0-2.092,0-4.186c0-.141,0-.281,0-.422a.281.281,0,0,1,.56-.034.767.767,0,0,1,0,.1q0,2.275,0,4.55a.4.4,0,0,0,.124.313.374.374,0,0,0,.235.1c.031,0,.063,0,.1,0h6.554a.307.307,0,0,1,.283.128.268.268,0,0,1,.016.283.263.263,0,0,1-.234.152c-.027,0-.056,0-.084,0Z" transform="translate(0.841 1.428)" fill="#0091fb"/>
                  <path id="Path_11589" data-name="Path 11589" d="M51.409,146.667a.285.285,0,0,1,.1-.214l1.708-1.706c.085-.085.171-.167.253-.255.031-.033.05-.03.081,0,.31.312.623.623.933.936.039.038.059.038.1,0q.67-.674,1.344-1.345c.039-.038.039-.06,0-.1-.111-.107-.218-.217-.327-.327-.013-.012-.037-.022-.03-.043s.029-.013.044-.016l1.472-.327c.055-.012.059-.008.046.048q-.161.729-.323,1.455c0,.02,0,.048-.021.055s-.037-.021-.052-.035c-.1-.1-.208-.206-.311-.311-.052-.052-.052-.052-.107,0L55.105,145.7c-.176.175-.355.35-.53.528-.038.038-.059.033-.094,0-.307-.308-.615-.615-.921-.925-.039-.039-.06-.043-.1,0-.516.518-1.033,1.034-1.55,1.553a.3.3,0,0,1-.274.1A.275.275,0,0,1,51.409,146.667Z" transform="translate(1.195 1.541)" fill="#0091fb"/>
                </g>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Dashboard</div>
        </a>
      </li> -->
      <li class="menu-item-li"  >
        <a routerLink="/newModule/learners/lists" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.411" height="22" viewBox="0 0 20.411 22">
              <g id="learners" transform="translate(-24.794 -18)">
                <g id="Group_22234" data-name="Group 22234" transform="translate(-23.314 -179.966)">
                  <path id="Path_11590" data-name="Path 11590" d="M64.267,214.859v-2.675c-.511.045-1.008.069-1.5.134a11.025,11.025,0,0,0-3.6,1.047c-.6.306-.6.3-.6.978q.007,2.16.013,4.319c0,.087,0,.173,0,.281H57.91v-.27c0-1.575.007-3.15.018-4.725a.352.352,0,0,0-.2-.358,10.1,10.1,0,0,0-3.709-1.225c-.586-.088-1.18-.128-1.793-.192v2.663a5.216,5.216,0,0,1,.972.01,1.579,1.579,0,0,1,1.254,1.467,1.62,1.62,0,0,1-.97,1.657,15.693,15.693,0,0,1-3.579.966c-1.147.144-1.679-.471-1.766-1.566a7.641,7.641,0,0,1,3.829-7.625,12.127,12.127,0,0,1,3.355-1.449.468.468,0,0,1,.342.061,4.49,4.49,0,0,0,5.15.005.5.5,0,0,1,.364-.064,12.159,12.159,0,0,1,4.554,2.261,7.088,7.088,0,0,1,2.683,4.754,6.408,6.408,0,0,1-.008,2.3,2.714,2.714,0,0,1-.175.517,1.305,1.305,0,0,1-1.427.84,11.8,11.8,0,0,1-2.624-.575c-.334-.1-.665-.214-1-.324a1.709,1.709,0,0,1-1.1-2.063,1.648,1.648,0,0,1,1.98-1.177C64.129,214.843,64.19,214.848,64.267,214.859Z" transform="translate(0 0.99)" fill="#0091fb"/>
                  <path id="Path_11591" data-name="Path 11591" d="M58.2,197.966a5.164,5.164,0,0,1,4.512,3.338,5.763,5.763,0,0,1-1.537,6.664,5.176,5.176,0,0,1-7.464-.8,5.785,5.785,0,0,1,1.485-8.485A5.53,5.53,0,0,1,58.2,197.966Z" transform="translate(0.419)" fill="#0091fb"/>
                </g>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Learner</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/educator/lists" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="23.468" height="17.357" viewBox="0 0 23.468 17.357">
              <g id="educator" transform="translate(-23 -20)">
                <g id="Group_22236" data-name="Group 22236" transform="translate(-24.198 -247.748)">
                  <path id="Path_11592" data-name="Path 11592" d="M69.758,279.363q0,1.854,0,3.709a2.154,2.154,0,0,1-.163.822,1.146,1.146,0,0,1-.23.36.787.787,0,0,1-1.248-.083,1.635,1.635,0,0,1-.3-.838c-.013-.14-.016-.282-.016-.422q0-2.92.006-5.839c0-.141,0-.283-.018-.422-.016-.166-.081-.215-.264-.218a.216.216,0,0,0-.252.219,2.059,2.059,0,0,0,0,.212q0,3.375,0,6.751c0,.313.023.293-.271.293l-5.158-.015c-.225,0-.225,0-.225-.245q0-3.31,0-6.62a2.06,2.06,0,0,0-.021-.405c-.024-.12-.046-.15-.158-.163-.293-.033-.392-.028-.4.347-.01.531,0,1.063-.006,1.594,0,.142-.01.282-.019.422a1.446,1.446,0,0,1-.105.44.834.834,0,0,1-1.045.553,1.037,1.037,0,0,1-.466-.265q-1.039-.945-2.082-1.885-.274-.247-.55-.491a1.456,1.456,0,0,1-.473-1.336c.008-.07.016-.14.018-.21a.478.478,0,0,0-.14-.364c-.029-.03-.06-.059-.091-.087q-1.908-1.727-3.814-3.456c-.19-.172-.375-.351-.56-.528a1.025,1.025,0,0,1-.137-.152.369.369,0,0,1,.115-.492.139.139,0,0,1,.158.017,2.023,2.023,0,0,1,.156.131q2.035,1.868,4.071,3.735c.15.138.311.262.466.4a.245.245,0,0,0,.258.048c.058-.019.115-.045.173-.064a.789.789,0,0,1,.875.2c.311.313.638.606.969.895.064.057.127.164.214.129.105-.041.081-.174.091-.273a4.471,4.471,0,0,1,.406-1.54,2.769,2.769,0,0,1,1.942-1.536,1.169,1.169,0,0,1,.243-.016q2.351-.022,4.7-.043a6.7,6.7,0,0,1,.747.006,2.86,2.86,0,0,1,2.53,2.489,7.885,7.885,0,0,1,.081,1.3c.006.982,0,1.963,0,2.944Z" transform="translate(0.903 0.582)" fill="#0091fb"/>
                  <path id="Path_11593" data-name="Path 11593" d="M60.826,273.379a.513.513,0,0,1-.019-.219q0-1.758,0-3.514a1.533,1.533,0,0,0-.013-.259.8.8,0,0,0-.711-.693c-.1-.008-.192-.01-.289-.01H48.945c-.1,0-.193,0-.289.011a.816.816,0,0,0-.722.79c0,.05,0,.1,0,.146v11a1.4,1.4,0,0,0,.018.276.809.809,0,0,0,.741.678c.046,0,.092,0,.138,0H59.924a1.2,1.2,0,0,0,.2-.01.787.787,0,0,0,.655-.6c.046-.16.034-.163.209-.168.138,0,.274,0,.412,0s.148.021.129.166a1.575,1.575,0,0,1-1.224,1.365,1.592,1.592,0,0,1-.3.03q-5.632,0-11.262,0a1.572,1.572,0,0,1-1.539-1.628c0-.19,0-.38,0-.569q0-5.246,0-10.492a2.5,2.5,0,0,1,.036-.485,1.55,1.55,0,0,1,1.389-1.275q.114-.007.229-.007H59.886a1.991,1.991,0,0,1,.47.04,1.593,1.593,0,0,1,1.185,1.557c0,1.079,0,2.158,0,3.237a.259.259,0,0,1-.125.254c-.161.1-.316.216-.474.325A.258.258,0,0,1,60.826,273.379Z" transform="translate(0 0.033)" fill="#0091fb"/>
                  <path id="Path_11594" data-name="Path 11594" d="M62.7,272.844a2.331,2.331,0,0,1-2.336-2.132,2.532,2.532,0,0,1,1.8-2.9,2.336,2.336,0,0,1,2.855,2.108,2.8,2.8,0,0,1-.236,1.612A2.25,2.25,0,0,1,62.7,272.844Z" transform="translate(2.749)" fill="#0091fb"/>
                </g>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Educator</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/academic/academicDetails" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.21" height="23.088" viewBox="0 0 13.63 12.123">
              <g id="academic" transform="translate(-55.01 -273.397)">
                <path id="Path_11898" data-name="Path 11898" d="M68.46,276.6a.278.278,0,0,0,0-.52l-6.53-2.66a.256.256,0,0,0-.21,0l-6.53,2.66a.278.278,0,0,0,0,.52l1.86.76v5.93a.28.28,0,0,0,.18.26l1.24.5v1.19a.28.28,0,1,0,.56,0v-.96l2.7,1.1a.359.359,0,0,0,.11.02.426.426,0,0,0,.11-.02l4.5-1.83a.28.28,0,0,0,.18-.26v-5.93Z" fill="#8dcbfa"/>
                <path id="Path_11899" data-name="Path 11899" d="M58.46,277.94v3.31l-.86-.34v-3.32Z" fill="#0091ff"/>
                <path id="Path_11900" data-name="Path 11900" d="M57.6,283.1v-1.59l.86.35v1.59Z" fill="#0091ff"/>
                <path id="Path_11901" data-name="Path 11901" d="M61.82,284.82l-2.8-1.14v-1.59l2.7,1.1a.359.359,0,0,0,.11.02.426.426,0,0,0,.11-.02l4.11-1.68v1.58Z" fill="#0091ff"/>
                <path id="Path_11902" data-name="Path 11902" d="M66.04,280.91l-4.22,1.72-2.8-1.14v-3.32l2.7,1.1a.359.359,0,0,0,.11.02.426.426,0,0,0,.11-.02l1.67-.68a.282.282,0,1,0-.22-.52l-1.57.64-2.34-.95,2.45-1a.282.282,0,1,0-.22-.52l-2.98,1.21-2.7-1.1,5.78-2.36,5.78,2.36-3,1.22a.282.282,0,1,0,.22.52l1.22-.5.01,3.32Z" fill="#0091ff"/>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Academic</div>
        </a>
      </li>
      <!-- <li class="menu-item-li" >
        <a routerLink="/newModule/curriculumn/list"  routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.21" height="23.088" viewBox="0 0 19.21 23.088">
              <g id="curriculum" transform="translate(-25.202 -17.041)">
                <g id="Group_23554" data-name="Group 23554" transform="translate(-86.528 -47.879)">
                  <g id="Group_23551" data-name="Group 23551" transform="translate(112.874 86.996)">
                    <g id="Group_23550" data-name="Group 23550">
                      <path id="Path_13140" data-name="Path 13140" d="M113.547,83.395a.51.51,0,0,0-.361-.145.568.568,0,0,0-.361.145.51.51,0,0,0-.145.361.568.568,0,0,0,.145.361.511.511,0,0,0,.723-.723Z" transform="translate(-112.68 -83.25)" fill="#0091fb"/>
                    </g>
                  </g>
                  <g id="Group_23553" data-name="Group 23553" transform="translate(114.922 65.956)">
                    <g id="Group_23552" data-name="Group 23552">
                      <path id="Path_13141" data-name="Path 13141" d="M129.88,65.78a.509.509,0,0,0-.506.506v20a.509.509,0,0,1-.506.506H114.886a.506.506,0,0,0,0,1.012h13.983a1.532,1.532,0,0,0,1.53-1.53V66.286A.512.512,0,0,0,129.88,65.78Z" transform="translate(-114.38 -65.78)" fill="#0091fb"/>
                    </g>
                  </g>
                  <path id="Path_13142" data-name="Path 13142" d="M115.6,77.674a5.5,5.5,0,0,0-.409-.373.369.369,0,0,0-.494.024.3.3,0,0,0,.036.458c.193.181.385.373.578.554a.366.366,0,0,0,.6-.024l.759-.831c.169-.193.349-.373.518-.578a.321.321,0,0,0-.217-.554.565.565,0,0,0-.337.169C116.283,76.892,115.945,77.277,115.6,77.674Zm0,2.132a5.5,5.5,0,0,0-.409-.373.369.369,0,0,0-.494.024.3.3,0,0,0,.036.458c.193.181.385.373.578.554a.366.366,0,0,0,.6-.024l.759-.831c.169-.193.349-.373.518-.578a.321.321,0,0,0-.217-.554.565.565,0,0,0-.337.169C116.283,79.023,115.945,79.409,115.6,79.806Zm11.454,5.167H112.681a.953.953,0,0,1-.951-.951V65.871a.953.953,0,0,1,.951-.951H127.05a.953.953,0,0,1,.951.951v18.15A.953.953,0,0,1,127.05,84.973Zm-7.877-12.586V68.365a.673.673,0,0,0-.674-.674h-4.023a.673.673,0,0,0-.674.674v4.023a.673.673,0,0,0,.674.674H118.5A.673.673,0,0,0,119.173,72.387Zm7.118-4.083v-.169a.445.445,0,0,0-.446-.446h-5.167a.445.445,0,0,0-.446.446V68.3a.445.445,0,0,0,.446.446h5.167A.452.452,0,0,0,126.291,68.3Zm0,2.072v-.169a.445.445,0,0,0-.446-.446h-5.167a.445.445,0,0,0-.446.446v.169a.445.445,0,0,0,.446.446h5.167A.445.445,0,0,0,126.291,70.376Zm0,2.072v-.169a.445.445,0,0,0-.446-.446h-5.167a.445.445,0,0,0-.446.446v.169a.445.445,0,0,0,.446.446h5.167A.437.437,0,0,0,126.291,72.447Zm0,4.625V76.9a.445.445,0,0,0-.446-.446h-7.335a.445.445,0,0,0-.446.446v.169a.445.445,0,0,0,.446.446h7.335A.452.452,0,0,0,126.291,77.072Zm0,2.553v-.169a.445.445,0,0,0-.446-.446h-7.335a.445.445,0,0,0-.446.446v.169a.445.445,0,0,0,.446.446h7.335A.437.437,0,0,0,126.291,79.626Z" transform="translate(0)" fill="#0091fb"/>
                </g>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Curriculum</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/timeTable/lists/timeTable" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.323" height="21.312" viewBox="0 0 21.323 21.312">
              <g id="timetable" transform="translate(-24 -18)">
                <g id="Group_23548" data-name="Group 23548" transform="translate(-14.85 -47.3)">
                  <path id="Path_13132" data-name="Path 13132" d="M58.923,77.454V67.2a.618.618,0,0,0-.62-.62H55.127V65.92a.62.62,0,0,0-1.239,0v.665h-2.5V65.92a.618.618,0,0,0-.62-.62.625.625,0,0,0-.62.62v.665h-2.5V65.92a.62.62,0,0,0-1.239,0v.665h-2.5V65.92a.618.618,0,0,0-.62-.62.625.625,0,0,0-.62.62v.665h-3.2a.618.618,0,0,0-.62.62V83.492a.618.618,0,0,0,.62.62H49.878a5.62,5.62,0,0,0,10.3-3.12A5.7,5.7,0,0,0,58.923,77.454ZM40.089,82.861V71.574H57.661v4.742a5.62,5.62,0,0,0-7.84,1.622.578.578,0,0,0-.282-.068H48.29a.618.618,0,0,0-.62.62.625.625,0,0,0,.62.62h.946a5.052,5.052,0,0,0-.282,1.25H48.29a.62.62,0,0,0,0,1.239h.665a5.761,5.761,0,0,0,.282,1.25H40.089ZM57.673,80.98a.618.618,0,0,1-.62.62h-2.5a.618.618,0,0,1-.62-.62v-2.5a.62.62,0,0,1,1.239,0v1.87h1.87A.645.645,0,0,1,57.673,80.98Z" transform="translate(0 0)" fill="#0091fb"/>
                  <path id="Path_13133" data-name="Path 13133" d="M44.709,72.64a.618.618,0,0,1-.62.62H42.84a.62.62,0,0,1,0-1.239h1.25A.611.611,0,0,1,44.709,72.64Z" transform="translate(0.426 0.85)" fill="#0091fb"/>
                  <path id="Path_13134" data-name="Path 13134" d="M44.709,74.86a.618.618,0,0,1-.62.62H42.84a.62.62,0,0,1,0-1.239h1.25A.611.611,0,0,1,44.709,74.86Z" transform="translate(0.426 1.13)" fill="#0091fb"/>
                  <path id="Path_13135" data-name="Path 13135" d="M44.709,77.07a.618.618,0,0,1-.62.62H42.84a.618.618,0,0,1-.62-.62.625.625,0,0,1,.62-.62h1.25A.625.625,0,0,1,44.709,77.07Z" transform="translate(0.426 1.41)" fill="#0091fb"/>
                  <path id="Path_13136" data-name="Path 13136" d="M46.68,72.64a.618.618,0,0,1,.62-.62h1.25a.62.62,0,0,1,0,1.239H47.3A.625.625,0,0,1,46.68,72.64Z" transform="translate(0.99 0.85)" fill="#0091fb"/>
                  <path id="Path_13137" data-name="Path 13137" d="M46.68,74.86a.618.618,0,0,1,.62-.62h1.25a.62.62,0,0,1,0,1.239H47.3A.625.625,0,0,1,46.68,74.86Z" transform="translate(0.99 1.13)" fill="#0091fb"/>
                  <path id="Path_13138" data-name="Path 13138" d="M44.709,79.29a.618.618,0,0,1-.62.62H42.84a.62.62,0,0,1,0-1.239h1.25A.625.625,0,0,1,44.709,79.29Z" transform="translate(0.426 1.69)" fill="#0091fb"/>
                  <path id="Path_13139" data-name="Path 13139" d="M51.12,72.64a.618.618,0,0,1,.62-.62h1.25a.62.62,0,0,1,0,1.239H51.74A.625.625,0,0,1,51.12,72.64Z" transform="translate(1.551 0.85)" fill="#0091fb"/>
                </g>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Time Table</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/assesment/assesmentDetails" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.169" height="21.336" viewBox="0 0 19.169 21.336">
              <g id="exam" transform="translate(-26 -19)">
                <path id="Path_13143" data-name="Path 13143" d="M193.019,80.368l-.867,2.675a.407.407,0,0,0,.507.522l2.569-.859a.4.4,0,0,0,.159-.1l7.633-7.667a.422.422,0,0,0,0-.587l-1.713-1.7a.4.4,0,0,0-.56,0L193.115,80.2A.348.348,0,0,0,193.019,80.368Zm1.617-14.246v2.827a.165.165,0,0,0,.159.163h2.876a.166.166,0,0,0,.116-.283L194.912,66A.159.159,0,0,0,194.637,66.122Zm2.009,4.85v-.565a.238.238,0,0,0-.233-.239H185.989a.238.238,0,0,0-.233.239v.565a.238.238,0,0,0,.233.239h10.424A.225.225,0,0,0,196.646,70.972Zm0,2.392V72.8a.238.238,0,0,0-.233-.239H185.989a.238.238,0,0,0-.233.239v.565a.238.238,0,0,0,.233.239h10.424A.225.225,0,0,0,196.646,73.364Zm-3.468,2.316v-.565a.238.238,0,0,0-.233-.239h-6.956a.238.238,0,0,0-.233.239v.565a.238.238,0,0,0,.233.239h6.956A.238.238,0,0,0,193.178,75.681Zm5.529-3.088-6.4,6.2a2.374,2.374,0,0,0-.592.946l-1.628,5.057a.588.588,0,0,0,.7.761l4.715-1.3a2.271,2.271,0,0,0,.941-.533l2.262-2.164-.011,3.6a1.149,1.149,0,0,1-1.131,1.164H185.1a1.149,1.149,0,0,1-1.131-1.164V66.144A1.149,1.149,0,0,1,185.1,64.98h10.2a1.139,1.139,0,0,1,.793.326l2.262,2.251a1.176,1.176,0,0,1,.349.837" transform="translate(-157.97 -45.98)" fill="#0091fb"/>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Assessment</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/assesment/assesmentDetails" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.955" height="22" viewBox="0 0 20.955 22">
              <g id="calendar" transform="translate(-25 -18)">
                <path id="Path_13144" data-name="Path 13144" d="M269.831,65.742h.559a1.072,1.072,0,0,1,.863,1.13c-.012.17.073.231.243.231.243-.012.5,0,.741,0a9.3,9.3,0,0,1,1.167.024,1.728,1.728,0,0,1,1.58,1.726V86.065a2.179,2.179,0,0,1-.024.292,1.827,1.827,0,0,1-1.86,1.373H255.89a1.789,1.789,0,0,1-1.86-1.677V68.842a1.791,1.791,0,0,1,1.908-1.75h1.592c.158,0,.255-.036.243-.207a1.093,1.093,0,0,1,.814-1.155h.656a1.093,1.093,0,0,1,.814,1.155c-.012.158.085.207.243.207h8.448c.182,0,.243-.061.243-.219C268.98,66.253,269.2,65.973,269.831,65.742ZM264.5,70.531h9.4c.3,0,.3-.012.3-.267V68.951a1.094,1.094,0,0,0-1.228-1.13h-1.4c-.328,0-.328,0-.328.292a1.1,1.1,0,0,1-1.13,1.082,1.08,1.08,0,0,1-1.155-1.082c0-.292,0-.292-.328-.292h-8.265c-.328,0-.328,0-.328.316a.992.992,0,0,1-.632.96,1.141,1.141,0,0,1-1.653-.924c-.012-.34-.012-.34-.377-.34H256a1.071,1.071,0,0,0-1.191,1.106v1.288c0,.316,0,.316.352.316Q259.828,70.525,264.5,70.531Zm9.7,11.559c-.1.085-.158.134-.219.182l-3.488,3.2a.688.688,0,0,1-.486.207h-14.16a2.638,2.638,0,0,1-.62-.1c-.146-.036-.28-.219-.4-.122-.1.085-.024.267-.024.413,0,.729.45,1.143,1.252,1.143h16.9a1.1,1.1,0,0,0,1.264-1.155V83.8C274.195,83.245,274.195,82.7,274.195,82.09Zm-.608-.535h-1.86a1.086,1.086,0,0,0-1.228,1.118v1.519c0,.061-.036.134.024.17C271.533,83.439,272.542,82.516,273.587,81.555Zm-3.124-14.1c0-.207.012-.413,0-.62a.346.346,0,0,0-.34-.365.368.368,0,0,0-.365.377q-.018.62,0,1.24a.345.345,0,0,0,.353.377.37.37,0,0,0,.352-.389Q270.463,67.766,270.463,67.456Zm-11.219,0v-.6c-.012-.243-.158-.4-.365-.389a.36.36,0,0,0-.34.389q-.018.6,0,1.2a.359.359,0,0,0,.352.4c.207,0,.34-.158.353-.4C259.257,67.857,259.244,67.663,259.244,67.456Zm5.652,2.078h2.176c.3,0,.462-.158.438-.4-.024-.207-.17-.316-.45-.316h-5.251a.345.345,0,0,0-.328.34c-.012.243.146.377.45.377H264.9Zm-5.968,6.053V73.716a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438v1.86a.436.436,0,0,0,.438.438h1.86A.433.433,0,0,0,258.928,75.587Zm4.631,0V73.716a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438v1.86a.436.436,0,0,0,.438.438h1.86A.433.433,0,0,0,263.559,75.587Zm4.643,0V73.716a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438v1.86a.436.436,0,0,0,.438.438h1.86A.433.433,0,0,0,268.2,75.587Zm4.631,0V73.716a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438v1.86a.436.436,0,0,0,.438.438h1.86A.433.433,0,0,0,272.833,75.587Zm-13.9,3.817v-1.86a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438V79.4a.436.436,0,0,0,.438.438h1.86A.436.436,0,0,0,258.928,79.4Zm4.631,0v-1.86a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438V79.4a.436.436,0,0,0,.438.438h1.86A.436.436,0,0,0,263.559,79.4Zm4.643,0v-1.86a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438V79.4a.436.436,0,0,0,.438.438h1.86A.436.436,0,0,0,268.2,79.4Zm4.631,0v-1.86a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438V79.4a.436.436,0,0,0,.438.438h1.86A.436.436,0,0,0,272.833,79.4Zm-13.9,3.829v-1.86a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438v1.86a.436.436,0,0,0,.438.438h1.86A.452.452,0,0,0,258.928,83.233Zm4.728,0v-1.86a.436.436,0,0,0-.438-.438h-1.86a.436.436,0,0,0-.438.438v1.86a.436.436,0,0,0,.438.438h1.86A.452.452,0,0,0,263.657,83.233Zm4.74,0v-1.86a.436.436,0,0,0-.438-.438H266.1a.436.436,0,0,0-.438.438v1.86a.436.436,0,0,0,.438.438h1.86A.452.452,0,0,0,268.4,83.233Z" transform="translate(-229.03 -47.73)" fill="#0091fb"/>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Calendar</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/workTime/lists/shift" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.166" height="20.528" viewBox="0 0 21.166 20.528">
              <g id="worktiming" transform="translate(-24 -19)">
                <g id="Group_22274" data-name="Group 22274" transform="translate(-20.974 -630.661)">
                  <path id="Path_11638" data-name="Path 11638" d="M66.139,656.056q-.077.394-.151.788-.346,1.828-.69,3.657c-.01.052-.026.1-.048.181-1.221-1.031-2.4-2.078-3.577-3.165.1-.041.174-.077.253-.106.253-.093.507-.183.76-.274l.06-.023c.216-.087.245-.154.147-.37a8.322,8.322,0,0,0-1.037-1.764,8.534,8.534,0,0,0-3.784-2.785,8.448,8.448,0,0,0-3.03-.463,7.856,7.856,0,0,0-4.433,1.436A7.987,7.987,0,0,0,47.3,657.8a8.093,8.093,0,0,0-.236,2.767,7.793,7.793,0,0,0,1.7,4.385A8.257,8.257,0,0,0,60.176,666.5a7.87,7.87,0,0,0,2.96-4.092c.042-.129.1-.254.146-.38a.429.429,0,0,1,.036-.059c.09.08.178.152.259.23.434.417.867.838,1.3,1.255a.114.114,0,0,1,.028.149,10.24,10.24,0,0,1-6.754,6.159,9.416,9.416,0,0,1-2.439.411,1.09,1.09,0,0,0-.116.016h-.67c-.038-.005-.077-.012-.116-.016-.51-.06-1.028-.085-1.53-.186a10.152,10.152,0,0,1-5.946-3.534,9.886,9.886,0,0,1-2.328-5.7,10.236,10.236,0,0,1,12.423-10.858,10.073,10.073,0,0,1,6.689,4.767c.292.474.508.992.757,1.492.074.149.07.158.23.112.217-.063.429-.14.646-.2.127-.037.258-.061.387-.091Z" fill="#0091fb"/>
                  <path id="Path_11639" data-name="Path 11639" d="M56.36,653.342H57.6v.139q0,2.636,0,5.272a.162.162,0,0,0,.118.182,1.641,1.641,0,0,1,.936.915,1.334,1.334,0,0,1,.1.4,5.629,5.629,0,0,1,.006.622.2.2,0,0,0,.093.179q1.062.869,2.124,1.741c.119.1.231.2.349.305.045.038.051.077.014.118q-.342.386-.685.77c-.048.054-.092.028-.139-.01q-.738-.6-1.478-1.188c-.321-.258-.646-.514-.964-.777a.259.259,0,0,0-.285-.038,1.671,1.671,0,0,1-1.977-.526,1.539,1.539,0,0,1-.286-1.149,1.477,1.477,0,0,1,.751-1.22.163.163,0,0,0,.088-.164q0-2.711,0-5.424Z" transform="translate(-1.579 -0.551)" fill="#0091fb"/>
                </g>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Work Timings</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/attendance/details" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="23.623" height="22.568" viewBox="0 0 23.623 22.568">
              <g id="attendance" transform="translate(-23.068 -18.553)">
                <g id="Group_22276" data-name="Group 22276" transform="translate(-24.055 -697.875)">
                  <path id="Path_11640" data-name="Path 11640" d="M62.894,727.146a6.336,6.336,0,0,0-4.467,8.6.619.619,0,0,1-.182.06,12.513,12.513,0,0,1-4.812-.8,2.4,2.4,0,0,1-1.644-2.484,9.868,9.868,0,0,1,2.846-7.075,6.091,6.091,0,0,1,2.223-1.43,3.341,3.341,0,0,1,2.559.031A7.362,7.362,0,0,1,62.894,727.146Z" transform="translate(0.686 1.08)" fill="#0091fb"/>
                  <path id="Path_11641" data-name="Path 11641" d="M63.2,737.3a4.64,4.64,0,0,1-4.681-4.627,4.719,4.719,0,0,1,4.724-4.678A4.653,4.653,0,0,1,63.2,737.3Z" transform="translate(1.676 1.7)" fill="#0091fb"/>
                  <path id="Path_11642" data-name="Path 11642" d="M54.977,723.653a12.352,12.352,0,0,0-4.027,9.963,5.483,5.483,0,0,1-3.286-1.251,1.746,1.746,0,0,1-.538-1.265,8.661,8.661,0,0,1,2.832-6.93,4.216,4.216,0,0,1,2.88-1.225A4.031,4.031,0,0,1,54.977,723.653Z" transform="translate(0 0.958)" fill="#0091fb"/>
                  <path id="Path_11643" data-name="Path 11643" d="M61,719.845a3.293,3.293,0,1,1-3.258-3.3A3.268,3.268,0,0,1,61,719.845Z" transform="translate(1.072 0.017)" fill="#0091fb"/>
                  <path id="Path_11644" data-name="Path 11644" d="M68.73,731.092c-.053-.106-.106-.211-.159-.317a6.34,6.34,0,0,0-4.983-3.589.523.523,0,0,1-.35-.212,10.667,10.667,0,0,0-2.488-3.162,3.686,3.686,0,0,1,3.286-.709,5.607,5.607,0,0,1,2.724,1.9A8.573,8.573,0,0,1,68.73,731.092Z" transform="translate(2.004 0.961)" fill="#0091fb"/>
                  <path id="Path_11645" data-name="Path 11645" d="M61.355,721.844a4.728,4.728,0,0,0-.282-4.295c-.149-.26.021-.35.164-.47a2.978,2.978,0,0,1,4.7,1.518,2.907,2.907,0,0,1-1.152,3.3A2.957,2.957,0,0,1,61.355,721.844Z" transform="translate(2.043)" fill="#0091fb"/>
                  <path id="Path_11646" data-name="Path 11646" d="M54.373,717.218a5.119,5.119,0,0,0-.481,4.61c.085.245-.019.328-.2.412a2.816,2.816,0,0,1-2.457.033,2.942,2.942,0,0,1-1.788-2.522,2.862,2.862,0,0,1,1.359-2.808A2.907,2.907,0,0,1,54.373,717.218Z" transform="translate(0.339 0.005)" fill="#0091fb"/>
                </g>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Attendance</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/searchDrive/17/drive" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="25.76" height="16.159" viewBox="0 0 25.76 16.159">
              <g id="drive" transform="translate(-22 -21)">
                <path id="Path_12551" data-name="Path 12551" d="M58.868,798.948c-2.717,0-5.433.02-8.149-.009a4.819,4.819,0,0,1-3.492-1.433,4.425,4.425,0,0,1-1.381-2.871,4.6,4.6,0,0,1,2.336-4.612,6.514,6.514,0,0,1,1.283-.58A.431.431,0,0,0,49.8,789a3.14,3.14,0,0,1,3.821-2.907,2.624,2.624,0,0,1,.739.212c.164.079.239.025.307-.128a5.181,5.181,0,0,1,2.052-2.319,6.982,6.982,0,0,1,2.825-.988,5.821,5.821,0,0,1,2.806.225,6.487,6.487,0,0,1,4.375,5,5.79,5.79,0,0,1,.124.845c.012.21.1.281.3.3a4.468,4.468,0,0,1,1.8.514,4.654,4.654,0,0,1,2.633,3.855,5.207,5.207,0,0,1-1.371,4.062,4.117,4.117,0,0,1-2.7,1.244,13.839,13.839,0,0,1-1.452.04H58.868Zm4.067-4.4q-1.924-1.929-3.848-3.861c-.133-.135-.2-.131-.335,0q-1.928,1.943-3.864,3.877c-.035.035-.1.061-.063.148h2.344c.309,0,.31,0,.31.3,0,1.226,0,2.452,0,3.679,0,.188.059.257.257.254.784-.008,1.568,0,2.352,0,.3,0,.3,0,.3-.287q0-1.744,0-3.49c0-.509-.048-.448.455-.45.726,0,1.452,0,2.235,0C63,794.627,62.973,794.583,62.934,794.544Z" transform="translate(-23.833 -761.796)" fill="#0091fb"/>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Drive</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/announcement/lists/learners" routerLinkActive="active">
          <span class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="18.154" height="20.535" viewBox="0 0 18.154 20.535">
              <g id="announcement" transform="translate(-26 -19)">
                <path id="Path_12549" data-name="Path 12549" d="M55.312,852.474c-.038-.329-.09-.63-.106-.933a5.829,5.829,0,0,1,2.263-5.1,5.632,5.632,0,0,1,3.016-1.219,5.946,5.946,0,0,1,3.688,10.969.311.311,0,0,0-.166.3c.007.843,0,1.685,0,2.529a3.36,3.36,0,0,1-2.269,3.21.211.211,0,0,0-.163.24c0,1.017,0,2.033,0,3.05v.2l-.554-.446q-1.721-1.39-3.444-2.775a.5.5,0,0,0-.289-.085q-2.513-.008-5.024,0a3.3,3.3,0,0,1-2.131-.7,3.257,3.257,0,0,1-1.3-2.575c-.024-1.127-.031-2.254,0-3.381a3.341,3.341,0,0,1,2.915-3.248,3.788,3.788,0,0,1,.552-.023c.927,0,1.853,0,2.781,0C55.157,852.487,55.23,852.479,55.312,852.474Zm2.016,6.907v-.216q0-1.651,0-3.3a.3.3,0,0,0-.116-.257,5.7,5.7,0,0,1-1.369-1.739.235.235,0,0,0-.241-.154c-1.143.005-2.285,0-3.428,0a2.13,2.13,0,0,0-2.105,2.108c-.006,1.085,0,2.17,0,3.255a2.013,2.013,0,0,0,.058.469,2.12,2.12,0,0,0,2.094,1.64q2.765,0,5.531,0a.462.462,0,0,1,.313.111q1.041.849,2.089,1.689c.05.04.105.074.186.129.006-.093.012-.149.012-.2,0-.464,0-.928,0-1.39a.179.179,0,0,1,.157-.208c.239-.062.476-.136.712-.208a2.14,2.14,0,0,0,1.549-2.057c0-.674,0-1.348,0-2.022,0-.056-.007-.111-.011-.18-.061.011-.1.016-.14.027a6.173,6.173,0,0,1-2.225.161.369.369,0,0,0-.239.07c-.546.431-1.086.869-1.626,1.306C58.14,858.724,57.751,859.038,57.328,859.381Zm1.094-9.345a.9.9,0,0,0,0,1.8.9.9,0,0,0,0-1.8Zm2.668,0a.9.9,0,0,0-.022,1.8.9.9,0,0,0,.022-1.8Zm1.752.89a.892.892,0,1,0,.9-.89A.9.9,0,0,0,62.842,850.925Z" transform="translate(-22.816 -826.192)" fill="#0091fb"/>
              </g>
            </svg>            
          </span>
          <div class="menu-text">Announcement</div>
        </a>
      </li>
      <li class="menu-item-li" >
        <a routerLink="/newModule/organization/myOrganization" routerLinkActive="active">
          <span class="icon-container">
            <img src="assets/images/Logo+Icons/announcement.svg" class="menu-image">
          </span>
          <div class="menu-text">Settings</div>
        </a>
      </li> -->
    </ul>
  </div>
</div>