.sidebar {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  transition: 0.3s;

  width: 60px;
  &.expanded {
    width: 240px;
    .fa-bars{
      margin-left: 200px;
      margin-top: 10px;
    }
    .menu-items-container{
      width: 100%;
      margin-top: 10px;
    }
    .menu-items{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .menu-item-li{
      width: 240px;
      height: 50px;
      margin-top: 2px;
    }
    .icon-container {
      align-items: center;
      display: flex;
      height: 48px;
      justify-content: center;
      width: 48px;
      margin-left: 15px;
    }
    
    a {
      align-items: center;
      color: #d2d2d0;
      display: flex;
      text-decoration: none;
    }
    
    .menu-text{
      display: inline;
      margin-left: 15px;
      width: 100%;
      color: white;
    }
  }

  background:  var(--newApp-color);
  color: white;
  
  .fa-bars{
    transition: 0.5s;
    margin-left: 15px;
    margin-top: 10px;
  }

  .menu-items-container{
    width: 100%;
    margin-top: 10px;
  }
  .menu-items{
    display: inline;
    list-style: none;
  }

  .menu-item-li{
    height: 50px;
    margin-top: 2px;
    
  }
  .menu-item-li:hover{
    background: white;
    color: black;
  }
  .menu-item-li:hover .menu-text{
    color:var(--newApp-color);
  }
  .menu-item-li:hover svg path {
    fill: #0091fb;
  }
  .icon-container {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
  }
  
  a {
    align-items: center;
    color: #d2d2d0;
    display: flex;
    text-decoration: none;
  }
  
  .menu-text{
    display: none;
  }

  svg path {
    fill: #ffffff;
  }
  
}
