.titlee {
  font-weight: 600;
  color: gray;
}
.emptyList p {
  font-size: 14px;
}
.emptyList p span {
  font-weight: 600;
}

.btnImport {
  padding: 10px 68px;
  border: 2px solid #0091ff;
  color: #0091ff;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
}

.btnImport:hover {
  background-color: #0091ff;
  color: white;
}

//sidebar style

.importHeading {
  padding: 11px 20px;
  font-weight: 600;
  color: black;
  border-bottom: 1px solid white;
}

.importTimeTableName {
  padding: 35px 20px;
  border-bottom: 1px solid white;
}

.importXmlItem {
  padding: 10px 15px;
  cursor: pointer;
}

.importXmlItem:hover,
.bodyData:hover {
  background-color: #8080804d;
}

.Active {
  background-color: #8080804d;
}

.importXmlItemEmpty {
  padding: 10px 15px;
}

.importXmlBtn {
  padding: 15px 15px;
}

.Btn {
  padding: 8px 10px;
  border: 1px solid #0091ff;
  background-color: white;
  color: #0091ff;
  cursor: pointer;
  text-align: center;
}

.Btn:hover,
.saveCancelBtn:hover {
  background-color: #0091ff;
  color: white;
}

//Table style

.header {
  background-color: #0091ff17;
  padding-top: 11px;
  padding-bottom: 11px;
  color: black;
  display: flex;
}

.widthAlignhead1 {
  width: 30px;
  margin-left: 5px;
}

.widthAlign1 {
  width: 30px;
  margin-left: 5px;
  padding-top: 10px;
}
.widthAlign2 {
  width: 175px;
}

.widthAlign6 {
  width: 160px;
}
.widthAlign6head {
  width: 144px;
}
.widthAlign3 {
  width: 375px;
}

.widthAlign8 {
  width: 320px;
}
.widthAlign9-1 {
  width: 295px;
}
.widthAlign9 {
  width: 305px;
}

.widthAlign10 {
  width: 100px;
}

.widthAlign11 {
  width: 130px;
}
.widthAlign11-2 {
  width: 150px;
}

.widthAlign13 {
  width: 150px;
}

.widthAlign12 {
  width: 110px;
}
.widthAlign4 {
  width: 70px;
  text-align: center;
  margin-top: 10px;
}
.widthAlign17 {
  width: 70px;
  text-align: center;
}

.widthAlign14 {
  width: 70px;
}

.widthAlign15 {
  width: 225px;
}
.widthAlignhead4 {
  width: 70px;
  text-align: center;
}

.widthAlign7 {
  width: 100px;
  text-align: right;
  margin-top: 10px;
}

.widthAlignhead7 {
  width: 100px;
  text-align: center;
}

.widthAlignhead16 {
  width: 120px;
  text-align: center;
}

.widthAlign16 {
  width: 120px;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}
.widthAlignhead8 {
  width: 87px;
  text-align: right;
}

.widthAlign5 {
  width: 210px;
}

.bodyData {
  display: flex;
  padding: 10px 0px;
  font-size: 12px;
  color: #313131;
}
.listData {
  padding: 10px 0px;
  min-height: 500px;
  max-height: 945px;
  overflow-y: auto;
  padding-bottom: 25px;
  margin-bottom: 35px;
  z-index: 1111;
}

.disabledBtn {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
.copyIcon {
  font-size: 17px;
  margin-top: 10px;
  color: #80808082;
  cursor: pointer;
}

.linkAction {
  padding: 2px 4px;
  color: white;
  background: #0091ff;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.plusAction {
  padding: 2px 5px;
  color: white;
  background: #0091ff;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.minusAction {
  padding: 2px 5px;
  color: white;
  background: #00048096;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.saveAction {
  border: 1px solid #0091ff;
  padding: 2px 4px;
  color: #fff;
  background: var(--newApp-color);
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.unlinkAction {
  padding: 2px 4px;
  color: white;
  background: #ff7878;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.saveBtn {
  margin-right: 30px;
  padding: 11px 48px;
  border: 1px solid #0091ff;
  color: #fff;
  background: var(--newApp-color);
  cursor: pointer;
  text-align: center;
}
.saveCancelBtn {
  margin-right: 30px;
  padding: 11px 48px;
  border: 1px solid #0091ff;
  background-color: white;
  color: #0091ff;
  cursor: pointer;
  text-align: center;
}
.Btn:hover {
  background-color: #0091ff;
  color: white;
}
.addNewSubjectForm {
  width: 75% !important;
  top: 0px;
  padding: 0px 0px 15px;
}
.addNewCourseForm {
  width: 75% !important;
  top: 0px;
  padding: 0px 0px 15px;
}
.addNewBatchForm {
  width: 28% !important;
  top: 0px;
  padding: 0px 0px 15px;
}

.viewShiftDetails {
  width: 22% !important;
  top: 0px;
  padding: 15px 0px;
}
.classroomForm {
  width: 29% !important;
  top: 0px;
  padding: 0px 0px 15px;
}

.closeAction {
  margin-left: 25px;
  border: 1px solid red;
  padding: 2px 6px;
  color: white;
  background: red;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.addCourseForm {
  width: 35% !important;
  top: 0px;
  padding: 0px 0px 15px;
}
.addNewShiftForm {
  width: 49% !important;
  top: 0px;
  padding: 0px 0px 15px;
}
#headertabs {
  color: black;
  background-color: white;
  z-index: 1;
  width: 100%;
  padding-top: 10px;
  position: relative;
  margin-bottom: 5px;
}
#headertabs nav {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
  box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
  padding-top: 8px;
  padding-bottom: 8px;
}
#headertabs {
  margin-top: 0px !important;
  margin-bottom: 10px;
}
#headertabs .nav-tabs {
  border: none;
}
#headertabs .nav-tabs .nav-link {
  color: #b3aeae;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0px;
}

#headertabs .nav-tabs .nav-link:hover {
  border-color: transparent;
}
#headertabs .nav-tabs .nav-link.active {
  color: var(--newApp-color);
  background-color: #fff;
  border-color: transparent transparent #fdfdfd;
  font-weight: 500;
  font-size: 14px;
}
#headertabs .nav-item {
  display: inline;
  text-align: center;
}
#headertabs .tab-content {
  padding: 2px 0 0 0;
}
.periods {
  left: -125px !important;
  top: 32px !important;
  padding: 5px !important;
}
// ng-select {
//   z-index: 99999999;
// }
.fixed-bottom {
  z-index: 1;
}
.form-control {
  padding-top: 10px;
}
