<div *ngIf="isEmpty">
    <div class="col-lg-12 text-center emptyList mb-3">
        <img src="../../../../../assets/images/ImportBG.png" alt="coursePlannerbg" width="50%" height="32%">
        <h3 class="titlee">Import XML file</h3>
        <div style="margin-top: 35px;">
            <span class="btnImport" (click)="close(false)">Cancel
            </span>
            <input type="file" (change)="selectFile($event)" #import style="display: none;" accept="application/xml" />
            <span class="btnImport" (click)="import.click()">Import
            </span>
        </div>
    </div>
</div>
<div *ngIf="!isEmpty" [ngClass]="{'stack-back': isAddNew}">
    <div class="row mb-2" *ngIf="!isPreview">
        <div class="col-md-2" style="padding: 0;background-color: #80808014;">
            <div class="importHeading">Import Timetable</div>
            <div class="importTimeTableName">
                <div class="row mainLabel">{{timeTableData.name}}</div>
                <div class="row headingTitle">Timetable Name</div>
            </div>

            <div class="mainLabel importXmlItem" (click)="isChangeTab(0)" [ngClass]="{'Active':activeTabIndex==0}">
                Period</div>
            <div class="mainLabel importXmlItem" (click)="isChangeTab(1)" [ngClass]="{'Active':activeTabIndex==1}">
                Subjects</div>
            <div class="mainLabel importXmlItem" (click)="isChangeTab(2)" [ngClass]="{'Active':activeTabIndex==2}">
                Link Subjects</div>
            <div class="mainLabel importXmlItem" (click)="isChangeTab(3)" [ngClass]="{'Active':activeTabIndex==3}">
                Batches
            </div>
            <div class="mainLabel importXmlItem" (click)="isChangeTab(4)" [ngClass]="{'Active':activeTabIndex==4}">
                Teacher
            </div>
            <div class="mainLabel importXmlItem" (click)="isChangeTab(5)" [ngClass]="{'Active':activeTabIndex==5}">Shift
            </div>
            <div class="mainLabel importXmlItem" (click)="isChangeTab(6)" [ngClass]="{'Active':activeTabIndex==6}">
                Classroom</div>
            <div class="mainLabel importXmlItem" (click)="isChangeTab(7)" [ngClass]="{'Active':activeTabIndex==7}">
                Batch Group</div>
            <div class="importXmlBtn" *ngIf="activeTabIndex==0">
                <div class="Btn" (click)="addNew(0)"> Add Shift</div>
            </div>
            <div class="importXmlBtn" *ngIf="activeTabIndex==3">
                <div class="Btn" (click)="addNew(1)"> Add Batch</div>
            </div>
            <div class="importXmlBtn" *ngIf="activeTabIndex==1">
                <div class="Btn" (click)="addNew(2)"> Add Subject</div>
            </div>
            <div class="importXmlBtn" *ngIf="activeTabIndex==2">
                <div class="Btn" (click)="addNew(3)"> Add Course</div>
            </div>
            <div class="importXmlBtn" *ngIf="activeTabIndex==6">
                <div class="Btn" (click)="addNew(4)"> Add Classroom</div>
            </div>

        </div>
        <div class="col-md-10" style="padding: 0;">
            <div *ngIf="activeTabIndex==0">
                <div class="header">
                    <div class="widthAlignhead1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox"
                                [(ngModel)]="masterSelectedperiod" (change)="checkUncheckAll(0)" />
                            <label class="custom-control-label" for="maincheckbox">
                            </label>
                        </div>
                    </div>
                    <div class="widthAlign3">Period</div>
                    <div class="widthAlign3">Short Name</div>
                    <div class="widthAlign2">Start Time</div>
                    <div class="widthAlign2">End Time</div>
                    <div class="widthAlign3">EIP Shift</div>
                </div>
                <div class="scroll listData">
                    <div class="bodyData" *ngFor="let data of periodList;let i = index;">
                        <div class="widthAlign1">

                            <div class="custom-control custom-checkbox" style="margin-top: -3px;">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                                    [checked]="data.selected" (change)="isAllSelected(0)" />
                                <label class="custom-control-label" for="checkbox{{i}}">
                                    <!-- <span class="fa fa-check"></span> -->
                                </label>
                            </div>
                        </div>
                        <div class="widthAlign3" style="padding-top:10px">{{data.name}}</div>
                        <div class="widthAlign3" style="padding-top:10px">{{data.short}}</div>
                        <div class="widthAlign2" style="padding-top:10px">{{data.starttime}}</div>
                        <div class="widthAlign2" style="padding-top:10px">{{data.endtime}}</div>
                        <div class="widthAlign3">
                            <div class="d-flex">
                                <ng-select [items]="organizationShifts" dropdownPosition="auto" bindLabel="name"
                                    style="width: 175px;" bindValue="unique_id" [multiple]="false"
                                    [closeOnSelect]="true" [clearable]="false" placeholder="Select" [searchable]="false"
                                    [(ngModel)]="data.shiftId" (change)="changeShift($event,data,i)"></ng-select>
                                &nbsp;&nbsp;
                                <div ngbDropdown placement="bottom-left">
                                    <i class="far fa-copy copyIcon mt-0 ml-1" (click)="clickCopy()"
                                        style="cursor: pointer;" ngbDropdownToggle></i>
                                    <div class="periods dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                        *ngIf="data.shiftId" style="height: 150px;overflow-x: hidden;"
                                        [ngStyle]="{'overflow-y':periodList.length > 5 ? 'scroll':'hidden'}">
                                        <div *ngFor="let data1 of periodList;let j = index;">
                                            <div class="custom-control custom-checkbox"
                                                *ngIf="data1.period != data.period && !data1.isLinked">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="shiftCheckbox{{i}}{{j}}" [checked]="data1.isSelected"
                                                    (change)="selectShiftDropdown(j,data,data1)" />
                                                <label class="custom-control-label"
                                                    style="font-weight: 500;font-size:11px;color: gray;"
                                                    for="shiftCheckbox{{i}}{{j}}">
                                                    {{data1.name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span *ngIf="data.isValid == false" class="invalid-feedback" style="display: block;">
                                Period ST and ET should be exists in ST and ET of Shift
                            </span>
                        </div>
                    </div>
                </div>
                <div style="float: right; background-color: #fff;" class="py-3 d-flex justify-content-end fixed-bottom"
                    *ngIf="selectedPeriod.length == 0">
                    <span class="saveCancelBtn" (click)="close(false)">Cancel</span>
                    <span class="saveBtn" (click)="saveTab(0)">Save</span>
                </div>
                <div *ngIf="selectedPeriod.length > 0" class="row "
                    style="background-color: #0091ff30;height: 54px;padding: 10px;margin: 0;position: relative; bottom: 15px;">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox" style="margin-top: 6px;">
                            <input type="checkbox" class="custom-control-input" id="checkboxTest"
                                [(ngModel)]="SelectedCount" />
                            <label class="custom-control-label" for="checkboxTest">
                                <!-- <span class="fa fa-check"></span> -->
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div style="margin-top: 6px;">
                            <span style="color: #0091ff;">{{selectedPeriod.length}}</span> items selected
                        </div>

                    </div>
                    <div class="col-md-7" style="display: flex;">
                        <span style="margin-top: 6px;">Assign Shift: </span>
                        <ng-select [items]="organizationShifts" bindLabel="name" style="width: 175px;"
                            bindValue="unique_id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select" (change)="changeSlected($event)" [searchable]="false"></ng-select>
                    </div>
                    <div class="col-md-2" style="margin-top: 7px;">
                        <span class="saveAction" (click)="isSelectedSave(0)"><i class="fas fa-save"
                                style="font-size: 14px;"></i></span>

                        <span class="closeAction" (click)="isSelectedCancel(0)"><i class="fas fa-times"
                                style="font-size: 14px;"></i></span>
                    </div>


                </div>

            </div>

            <div *ngIf="activeTabIndex==1">
                <div class="header">
                    <div class="widthAlignhead1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox"
                                [(ngModel)]="masterSelectedSub" (change)="checkUncheckAll(1)" />
                            <label class="custom-control-label" for="maincheckbox">
                            </label>
                        </div>
                    </div>
                    <div class="widthAlign2">XML Subject</div>
                    <div class="widthAlign2">Short Name</div>
                    <div class="widthAlign3">EIP Subject</div>
                    <div class="widthAlignhead4">Action</div>
                </div>

                <div class="scroll listData">
                    <div class="bodyData" *ngFor="let data of subjectList;let i = index;">
                        <div class="widthAlign1">

                            <div class="custom-control custom-checkbox" style="margin-top: -3px;">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                                    [(ngModel)]="data.selected" (change)="isAllSelected(1)" />
                                <label class="custom-control-label" for="checkbox{{i}}">
                                </label>
                            </div>
                        </div>
                        <div class="widthAlign2" style="padding-top:10px">{{data.name}}</div>
                        <div class="widthAlign2" style="padding-top:10px">{{data.short}}</div>
                        <div class="widthAlign3" style="display: flex;">

                            <span *ngIf="data.isLinked == true && data.isLinked != null && data.isLinked != undefined"
                                style="width: 175px;height: 36px;padding-top:10px">{{data.eipName}}</span>
                            <ng-select
                                *ngIf="data.isLinked == false || data.isLinked == null || data.isLinked == undefined"
                                [items]="organizationSubject" bindLabel="name" style="width: 175px;"
                                bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                [(ngModel)]="data.eipUniqueId" [clearable]="false" placeholder="Select"
                                [searchable]="false" (change)="setEipSubject($event,data)"></ng-select> &nbsp;&nbsp;
                            <!-- <div ngbDropdown>
                                <i class="far fa-copy copyIcon" style="cursor: pointer;" ngbDropdownToggle></i>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                    style="height: 150px;overflow-x: hidden;"
                                    [ngStyle]="{'overflow-y':subjectList.length > 5 ? 'scroll':'hidden'}">
                                    <div *ngFor="let data1 of subjectSortedList;let j = index;">
                                        <div class="custom-control custom-checkbox"
                                            *ngIf="(data.id != data1.id) && (data1.isLinked == false)">
                                            <input type="checkbox" class="custom-control-input" id="checkbox{{j}}"
                                                (change)="isSubjectCopy($event,data,data1)" />
                                            <label class="custom-control-label"
                                                style="font-weight: 500;font-size:11px;color: gray;"
                                                for="checkbox{{j}}">
                                                {{data1.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div ngbDropdown>
                                <i class="far fa-copy copyIcon mt-0 ml-1" (click)="clickCopy()" style="cursor: pointer;"
                                    ngbDropdownToggle
                                    [ngStyle]="{'pointer-events':data.eipUniqueId != null || data.eipUniqueId != '' ?'fill':'none'}"></i>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                    *ngIf="data.eipUniqueId" style="height: 150px;overflow-x: hidden;"
                                    [ngStyle]="{'overflow-y':subjectList.length > 5 ? 'scroll':'hidden'}">
                                    <div *ngFor="let data1 of subjectList;let j = index;">
                                        <div class="custom-control custom-checkbox"
                                            *ngIf="data1.id != data.id && !data1.isLinked">
                                            <input type="checkbox" class="custom-control-input"
                                                id="subjectCheckbox{{i}}{{j}}" [(ngModel)]="data1.isSelected"
                                                (change)="selectSubjectDropdown(j,data,data1)" />
                                            <label class="custom-control-label"
                                                style="font-weight: 500;font-size:11px;color: gray;"
                                                for="subjectCheckbox{{i}}{{j}}">
                                                {{data1.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widthAlign4">
                            <span class="linkAction" [ngClass]="{'disabledBtn':data.eipUniqueId == null}"
                                *ngIf="data.isLinked == false || data.isLinked == null || data.isLinked == undefined"
                                (click)="isLink(data)"><i class="fas fa-link" style="font-size: 12px;"></i></span>
                            <span class="unlinkAction"
                                *ngIf="data.isLinked == true && data.isLinked != null && data.isLinked != undefined"
                                (click)="isUnlink(data,i)"><i class="fas fa-unlink" style="font-size: 12px;"></i></span>
                        </div>
                    </div>


                </div>
                <div style="float: right;margin-top: 15px;background-color: #fff;" *ngIf="selectedSubject.length == 0"
                    class="py-3 d-flex justify-content-end fixed-bottom">
                    <span class="saveCancelBtn" (click)="close(false)">Cancel</span>
                    <span class="saveCancelBtn" (click)="saveTab(1)">Save</span>
                </div>
                <div *ngIf="selectedSubject.length > 0" class="row mb-3"
                    style="background-color: #0091ff30;height: 54px;padding: 10px;margin: 0;position: relative; bottom: 15px;">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox" style="margin-top: 6px;">
                            <input type="checkbox" class="custom-control-input" id="checkboxTest"
                                [(ngModel)]="SelectedCount" />
                            <label class="custom-control-label" for="checkboxTest">
                                <!-- <span class="fa fa-check"></span> -->
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div style="margin-top: 6px;">
                            <span style="color: #0091ff;">{{selectedSubject.length}}</span> items selected
                        </div>

                    </div>
                    <div class="col-md-7" style="display: flex;">
                        <span style="margin-top: 6px;">Assign Subject: </span>
                        <ng-select [items]="organizationSubject" bindLabel="name" style="width: 175px;"
                            bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select" [searchable]="false" (change)="changeSlected($event)"></ng-select>
                    </div>
                    <div class="col-md-2" style="margin-top: 7px;">
                        <span class="saveAction" (click)="isSelectedSave(1)"><i class="fas fa-save"
                                style="font-size: 14px;"></i></span>

                        <span class="closeAction" (click)="isSelectedCancel(1)"><i class="fas fa-times"
                                style="font-size: 14px;"></i></span>
                    </div>


                </div>
            </div>


            <div *ngIf="activeTabIndex==2">
                <app-linking-subject [linkingSubjectList]="linkingSubjectList" (close)="closeCourseSubject($event)">
                </app-linking-subject>
            </div>

            <div *ngIf="activeTabIndex==3">
                <div class="header">
                    <div class="widthAlignhead1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox"
                                [(ngModel)]="masterSelectedBatch" (change)="checkUncheckAll(2)" />
                            <label class="custom-control-label" for="maincheckbox">
                            </label>
                        </div>
                    </div>
                    <div class="widthAlign6">XML Batch</div>
                    <div class="widthAlign6">Short Name</div>
                    <div class="widthAlign5">EIP Course</div>
                    <div class="widthAlign6">EIP Batch</div>
                    <div class="widthAlignhead7">Action</div>
                </div>
                <div class="scroll listData">
                    <div class="bodyData" *ngFor="let data of batchList;let i=index;">
                        <div class="widthAlign1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                                    [(ngModel)]="data.selected" (change)="isAllSelected(2)" />
                                <label class="custom-control-label" for="checkbox{{i}}">
                                    <!-- <span class="fa fa-check"></span> -->
                                </label>
                            </div>
                        </div>

                        <div class="widthAlign6" style="padding-top:10px">{{data.xmlName}}</div>
                        <div class="widthAlign6" style="padding-top:10px">{{data.xmlShortName}}</div>
                        <div class="widthAlign5" style="display: flex;">
                            <span *ngIf="!data.isLinked">
                                <ng-select [items]="orgCourseList" bindLabel="name" style="width: 175px;"
                                    bindValue="uniqueId" [multiple]="false"
                                    (change)="getBatchbyCourseList($event,data,i)" [closeOnSelect]="true"
                                    [clearable]="false" placeholder="Select" [(ngModel)]="data.eipCourseUniqueId"
                                    [searchable]="false">
                                </ng-select>
                            </span>
                            <span *ngIf="data.isLinked" style="width: 175px;height: 36px;padding-top:10px">
                                {{data.eipCourseName}}</span>

                            <div ngbDropdown>
                                <i class="far fa-copy copyIcon mt-0 ml-1" (click)="clickCopy()"
                                    *ngIf="data.eipCourseUniqueId" style="cursor: pointer;" ngbDropdownToggle></i>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                    *ngIf="data.eipCourseUniqueId != null && data.eipCourseUniqueId!='' && !data.isLinked"
                                    style="height: 150px;overflow-x: hidden;"
                                    [ngStyle]="{'overflow-y':batchList.length > 5 ? 'scroll':'hidden'}">
                                    <div *ngFor="let data1 of batchList;let j = index;">
                                        <div class="custom-control custom-checkbox"
                                            *ngIf="data1.id != data.id && !data1.isLinked">
                                            <input type="checkbox" class="custom-control-input"
                                                id="batchCheckbox{{i}}{{j}}" [(ngModel)]="data1.isSelected"
                                                (change)="selectBatch(j,data,data1)" />
                                            <label class="custom-control-label"
                                                style="font-weight: 500;font-size:11px;color: gray;"
                                                for="batchCheckbox{{i}}{{j}}">
                                                {{data1.xmlName}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widthAlign6">
                            <span *ngIf="data.isLinked" style="width: 175px;height: 36px;padding-top:10px">
                                {{data.eipName}}</span>
                            <span *ngIf="!data.isLinked">
                                <ng-select *ngIf="data.batchListByCourse != null" [items]="data.batchListByCourse"
                                    bindLabel="name" style="width: 175px;" bindValue="uniqueId" [multiple]="false"
                                    [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                                    (change)="changeBatch($event,data)" [(ngModel)]="data.eipUniqueId"
                                    [searchable]="false">
                                </ng-select>
                            </span>

                        </div>
                        <div class="widthAlign7">

                            <span *ngIf="data.isLinked == false">
                                <span class="plusAction" (click)="isAddORLink(data)"
                                    [ngClass]="{'disabledBtn':data.eipUniqueId}"><i class="fas fa-plus"
                                        style="font-size: 12px;"></i></span>
                                &nbsp;&nbsp;OR&nbsp;&nbsp;
                                <span class="linkAction" (click)="isLink(data)"
                                    [ngClass]="{'disabledBtn':!data.eipUniqueId}"><i class="fas fa-link"
                                        style="font-size: 12px;"></i></span>
                            </span>
                            <!-- <span *ngIf="data.isMinus == true">
                                <span class="minusAction" (click)="isBatchActionChange(data,true,false,false,false)"><i
                                        class="fas fa-minus" style="font-size: 12px;"></i></span>
                            </span>
                            <span *ngIf="data.isSave == true">
                                <span class="saveAction" (click)="isBatchActionChange(data,false,false,false,true)"><i
                                        class="fas fa-save" style="font-size: 14px;"></i></span>
                            </span> -->
                            <span class="unlinkAction" *ngIf="data.isLinked == true" (click)="isUnlink(data,i)"><i
                                    class="fas fa-unlink" style="font-size: 12px;"></i></span>
                        </div>
                    </div>
                </div>
                <div style="float: right;margin-top: 15px;" *ngIf="selectedBatch.length == 0">
                    <span class="saveCancelBtn" (click)="close(false)">Cancel</span>
                    <span class="saveBtn" (click)="saveTab(3)">Save</span>
                </div>
                <div *ngIf="selectedBatch.length > 0" class="row mb-3"
                    style="background-color: #0091ff30;height: 54px;padding: 10px;margin: 0;">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox" style="margin-top: 6px;">
                            <input type="checkbox" class="custom-control-input" id="checkboxTest"
                                [(ngModel)]="SelectedCount" />
                            <label class="custom-control-label" for="checkboxTest">
                                <!-- <span class="fa fa-check"></span> -->
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div style="margin-top: 6px;">
                            <span style="color: #0091ff;">{{selectedBatch.length}}</span> items selected
                        </div>

                    </div>
                    <div class="col-md-7" style="display: flex;">
                        <span style="margin-top: 6px;">Assign Course: </span>
                        <ng-select [items]="orgCourseList" bindLabel="name" style="width: 175px;" bindValue="id"
                            [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                            (change)="changeSlected($event)" [searchable]="false"></ng-select>
                    </div>
                    <div class="col-md-2" style="margin-top: 7px;">
                        <span class="saveAction" (click)="isSelectedSave(3)"><i class="fas fa-save"
                                style="font-size: 14px;"></i></span>

                        <span class="closeAction" (click)="isSelectedCancel(3)"><i class="fas fa-times"
                                style="font-size: 14px;"></i></span>
                    </div>


                </div>
            </div>
            <div *ngIf="activeTabIndex==4">
                <div class="header">
                    <div class="widthAlignhead1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox"
                                [(ngModel)]="masterSelectedTeacher" (change)="checkUncheckAll(3)" />
                            <label class="custom-control-label" for="maincheckbox">
                            </label>
                        </div>
                    </div>
                    <div class="widthAlign2">XML Teachers</div>
                    <div class="widthAlign12" style="margin-left: -8px;">Short Name</div>
                    <div class="widthAlign2">Email</div>
                    <div class="widthAlign2">Phone No</div>
                    <div class="widthAlign15">EIP Teacher Name</div>
                    <div class="widthAlignhead16">Action</div>
                </div>
                <div class="scroll listData">
                    <div class="bodyData" *ngFor="let data of teacherList;let i=index;">
                        <div class="widthAlign1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                                    [(ngModel)]="data.selected" (change)="isAllSelected(3)" />
                                <label class="custom-control-label" for="checkbox{{i}}">
                                </label>
                            </div>
                        </div>
                        <div class="widthAlign2" style="padding-top:10px">{{data.name}}</div>
                        <div class="widthAlign12" style="padding-top:10px">{{data.short}}</div>
                        <div class="widthAlign2" style="margin-right: 5px;">
                            <input type="text" class="form-control" value="{{data.emailId}}" [(ngModel)]="data.emailId"
                                *ngIf="data.isLinked == false" [disabled]="data.eipEntityUniqueId != ''" #emailId
                                maxlength="64">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': emailId.value.length !== 64,'badge-danger': emailId.value.length == 64}">
                                {{ emailId.value.length }} / 64</p>
                            <span *ngIf="data.isEmailDuplicate == true"
                                style="height: 36px;padding-top:10px;color: red;">Email id is alredy exits</span>
                            <span *ngIf="data.isLinked == true">xxxxxx{{data.emailId ?
                                data.emailId.slice(data.emailId.indexOf('@'),data.emailId.length):'@gmail.com'}}</span>
                        </div>
                        <div class="widthAlign2" style="margin-right: 5px;">
                            <input type="text" class="form-control" value="{{data.mobile}}" [(ngModel)]="data.mobile"
                                maxlength="10" minlength='10' *ngIf="data.isLinked == false"
                                [disabled]="data.eipEntityUniqueId!= ''" (keypress)="numberOnly($event)" #mobile>
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': mobile.value.length !== 10,'badge-danger': mobile.value.length == 10}">
                                {{ mobile.value.length }} / 10</p>
                            <span *ngIf="data.isMobileDuplicate == true"
                                style="height: 36px;padding-top:10px;color: red;">Mobile is alredy exits</span>
                            <span *ngIf="data.isLinked == true">xxxxxxxx{{data.mobile ? data.mobile.slice(8,10) :
                                '00'}}</span>
                        </div>
                        <div class="widthAlign15">
                            <span *ngIf="data.isLinked == true && data.isLinked != null && data.isLinked != undefined"
                                style="width: 175px;height: 36px;padding-top:10px">{{data.eipName}}</span>
                            <ng-select [items]="orgTeachersList"
                                *ngIf="data.isLinked == false || data.isLinked == null || data.isLinked == undefined"
                                bindLabel="fullName" style="width: 175px;" [(ngModel)]="data.eipEntityUniqueId"
                                [disabled]="data.mobile != '' || data.emailId != ''" bindValue="uniqueId"
                                [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                                [searchable]="false" (change)="selectEipTechers($event,data)"></ng-select>


                        </div>

                        <div class="widthAlign16">
                            <span *ngIf="data.isLinked == false || data.isLinked == null || data.isLinked == undefined">
                                <span class="plusAction" (click)="isAddORLink(data)"
                                    [ngClass]="{'disabledBtn':data.eipEntityUniqueId}"><i class="fas fa-plus"
                                        style="font-size: 12px;"></i></span>
                                &nbsp;&nbsp;OR&nbsp;&nbsp;
                                <span>

                                </span>
                                <span class="linkAction" (click)="isLink(data)"
                                    [ngClass]="{'disabledBtn':data.emailId != '' || data.mobile != ''}"><i
                                        class="fas fa-link" style="font-size: 12px;"></i></span>
                            </span>
                            <!-- <span *ngIf="data.isMinus == true">
                                <span class="minusAction"
                                    (click)="isTeacherActionChange(data,true,false,false,false)"><i class="fas fa-minus"
                                        style="font-size: 12px;"></i></span>
                            </span>
                            <span *ngIf="data.isSave == true">
                                <span class="saveAction" (click)="isTeacherActionChange(data,false,false,false,true)"><i
                                        class="fas fa-save" style="font-size: 14px;"></i></span>
                            </span> -->
                            <span class="unlinkAction"
                                *ngIf="data.isLinked == true && data.isLinked != null && data.isLinked != undefined"
                                (click)="isUnlink(data,i)"><i class="fas fa-unlink" style="font-size: 12px;"></i></span>
                        </div>
                    </div>
                </div>
                <div style="float: right;margin-top: 15px;" *ngIf="selectedTeacher.length == 0">
                    <span class="saveCancelBtn" (click)="close(false)">Cancel</span>
                    <span class="saveCancelBtn" (click)="saveTab(4)">Save</span>
                </div>
                <div *ngIf="selectedTeacher.length > 0" class="row mb-3"
                    style="background-color: #0091ff30;height: 54px;padding: 10px;margin: 0;">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox" style="margin-top: 6px;">
                            <input type="checkbox" class="custom-control-input" id="checkboxTest"
                                [(ngModel)]="SelectedCount" />
                            <label class="custom-control-label" for="checkboxTest">
                                <!-- <span class="fa fa-check"></span> -->
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div style="margin-top: 6px;">
                            <span style="color: #0091ff;">{{selectedTeacher.length}}</span> items selected
                        </div>

                    </div>
                    <div class="col-md-7" style="display: flex;">
                        <span style="margin-top: 6px;">Assign Teacher: </span>
                        <ng-select [items]="orgTeachersList" bindLabel="fullName" style="width: 175px;"
                            bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select" [searchable]="false" (change)="changeSlected($event)"></ng-select>
                    </div>
                    <div class="col-md-2" style="margin-top: 7px;">
                        <span class="saveAction" (click)="isSelectedSave(4)"><i class="fas fa-save"
                                style="font-size: 14px;"></i></span>

                        <span class="closeAction" (click)="isSelectedCancel(4)"><i class="fas fa-times"
                                style="font-size: 14px;"></i></span>
                    </div>


                </div>
            </div>
            <div *ngIf="activeTabIndex==5">
                <div class="header">
                    <div class="widthAlignhead1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox"
                                [(ngModel)]="masterSelectedShift" (change)="checkUncheckAll(4)" />
                            <label class="custom-control-label" for="maincheckbox">
                            </label>
                        </div>
                    </div>
                    <div class="widthAlign2">Shift</div>
                    <div class="widthAlign9-1">Assign Batch</div>
                    <div class="widthAlign9">Assign Teachers</div>
                    <div class="widthAlignhead4">Action</div>
                </div>
                <div class="scroll listData">
                    <div class="bodyData" *ngFor="let data of shiftList;let i = index;">
                        <div class="widthAlign1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                                    [(ngModel)]="data.selected" (change)="isAllSelected(4);selectShift(data,i)" />
                                <label class="custom-control-label" for="checkbox{{i}}">
                                    <!-- <span class="fa fa-check"></span> -->
                                </label>
                            </div>
                        </div>
                        <div class="widthAlign2" style="padding-top:10px">{{data.name}}</div>

                        <div class="widthAlign9-1" style="display: flex;">
                            <span *ngIf="data.isLinked == true" style="width: 175px;height: 36px;padding-top: 8px;">
                                <span
                                    *ngFor="let item of data.batches|slice:0:2;let j=index;">{{item.name}}{{((data.batches.length-1)
                                    !=j ? ',' : '' ) }}</span> <span style="cursor: pointer;color: #0091ff;"
                                    (click)="viewShiftDetails(data)"
                                    *ngIf="data.batches.length>2">+{{data.batches.length-2}}</span></span>
                            <ng-select *ngIf="data.isLinked == false" [items]="organizationBatchList" bindLabel="name"
                                style="width: 175px;" bindValue="uniqueId" [multiple]="true" [closeOnSelect]="false"
                                (change)="changeBatch($event,data)" [clearable]="false" placeholder="Select"
                                [(ngModel)]="data.batchUniqueIdsList" [searchable]="false">
                                <ng-template ng-header-tmp>

                                    <div class="custom-control custom-checkbox pl-0">
                                        <input type="checkbox" [checked]="data.isSelectAll"
                                            (change)="onSelectAll($event, data)" />
                                        <label class="form-check-label ml-1">Select All</label>
                                    </div>

                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label"> {{item.name}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+{{items.length - 1}}</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                            [ngModelOptions]="{standalone: true}" />
                                        <label class="form-check-label custom-control-label">{{item.name}}</label>
                                    </div>
                                </ng-template>
                            </ng-select> &nbsp;&nbsp;
                            <div ngbDropdown>
                                <i class="far fa-copy copyIcon mt-0 ml-1" (click)="clickCopy()" style="cursor: pointer;"
                                    ngbDropdownToggle
                                    [ngStyle]="{'pointer-events':data.batchUniqueIdsList != null || data.batchUniqueIdsList != '' ?'none':''}"></i>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                    *ngIf="data.batches.length>0" style="height: 150px;overflow-x: hidden;"
                                    [ngStyle]="{'overflow-y':shiftList.length > 5 ? 'scroll':'hidden'}">
                                    <div *ngFor="let data1 of shiftList;let j = index;">
                                        <div class="custom-control custom-checkbox"
                                            *ngIf="data1.id != data.id&&!data1.isLinked">
                                            <input type="checkbox" class="custom-control-input"
                                                id="shiftCheckbox1{{i}}{{j}}" [(ngModel)]="data1.isSelect"
                                                (change)=" selectShiftBatchTeacher(j,data,data1,1)" />
                                            <label class="custom-control-label"
                                                style="font-weight: 500;font-size:11px;color: gray;"
                                                for="shiftCheckbox1{{i}}{{j}}">
                                                {{data1.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widthAlign9" style="display: flex;">
                            <span *ngIf="data.isLinked == true" style="width: 175px;height: 36px;padding-top: 8px;">
                                <span
                                    *ngFor="let item of data.teachers|slice:0:1;let j=index;">{{item.name}}{{((data.teachers.length-1)
                                    !=j ? ',' : '' ) }}</span> <span style="cursor: pointer;color: #0091ff;"
                                    (click)="viewShiftDetails(data)"
                                    *ngIf="data.teachers.length>1">+{{data.teachers.length-1}}</span></span>
                            <ng-select *ngIf="data.isLinked == false" [items]="orgTeachersList" bindLabel="fullName"
                                style="width: 175px;" bindValue="uniqueId" [multiple]="true" [closeOnSelect]="false"
                                [clearable]="false" placeholder="Select" [searchable]="false"
                                (change)="changeTeacherData($event,data)" [(ngModel)]="data.teacherUniqueIdsList">
                                <ng-template ng-header-tmp>

                                    <div class="custom-control custom-checkbox pl-0">
                                        <input type="checkbox" [checked]="data.isTeacherSelectAll"
                                            (change)="onTeacherSelectAll($event, data)" />
                                        <label class="form-check-label ml-1">Select All</label>
                                    </div>

                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label"> {{item.fullName}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+{{items.length - 1}}</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                            [ngModelOptions]="{standalone: true}" />
                                        <label class="form-check-label custom-control-label">{{item.fullName}}</label>
                                    </div>
                                </ng-template>
                            </ng-select> &nbsp;&nbsp;
                            <div ngbDropdown>
                                <i class="far fa-copy copyIcon mt-0 ml-1" (click)="clickCopy()" style="cursor: pointer;"
                                    ngbDropdownToggle
                                    [ngStyle]="{'pointer-events':data.teacherUniqueIdsList != null || data.teacherUniqueIdsList != '' ?'none':''}"></i>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                    *ngIf="data.teachers.length>0" style="height: 150px;overflow-x: hidden;"
                                    [ngStyle]="{'overflow-y':shiftList.length > 5 ? 'scroll':'hidden'}">
                                    <div *ngFor="let data1 of shiftList;let j = index;">
                                        <div class="custom-control custom-checkbox"
                                            *ngIf="data1.id != data.id&&!data1.isLinked">
                                            <input type="checkbox" class="custom-control-input"
                                                id="shiftCheckbox2{{data1.id}}{{j}}" [(ngModel)]="data1.isSelect"
                                                (change)="selectShiftBatchTeacher(j,data,data1,2)" />
                                            <label class="custom-control-label"
                                                style="font-weight: 500;font-size:11px;color: gray;"
                                                for="shiftCheckbox2{{data1.id}}{{j}}">
                                                {{data1.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widthAlign4">
                            <span class="linkAction" *ngIf="data.isLinked == false" (click)="isLink(data)"><i
                                    class="fas fa-link" style="font-size: 12px;"></i></span>
                            <span class="unlinkAction" *ngIf="data.isLinked == true" (click)="isUnlink(data,i)"><i
                                    class="fas fa-unlink" style="font-size: 12px;"></i></span>
                        </div>
                    </div>
                </div>
                <div style="float: right;margin-top: 15px;" *ngIf="selectedShift.length == 0">
                    <span class="saveCancelBtn" (click)="close(false)">Cancel</span>
                    <span class="saveBtn" (click)="saveTab(5)">Save</span>
                </div>
                <div *ngIf="selectedShift.length > 0" class="row mb-3"
                    style="background-color: #0091ff30;height: 54px;padding: 10px;margin: 0;">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox" style="margin-top: 6px;">
                            <input type="checkbox" class="custom-control-input" id="checkboxTest"
                                [(ngModel)]="SelectedCount" />
                            <label class="custom-control-label" for="checkboxTest">
                                <!-- <span class="fa fa-check"></span> -->
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div style="margin-top: 6px;">
                            <span style="color: #0091ff;">{{selectedShift.length}}</span> items selected
                        </div>

                    </div>
                    <div class="col-md-3" style="display: flex;">
                        <span style="margin-top: 6px;">Assign Batch: </span>
                        <ng-select [items]="organizationBatchList" bindLabel="name" style="width: 175px;"
                            bindValue="uniqueId" [multiple]="true" [closeOnSelect]="false" [clearable]="false"
                            placeholder="Select" (change)="changeSlected($event)" [searchable]="false">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                        [ngModelOptions]="{standalone: true}" />
                                    <label class="form-check-label custom-control-label">{{item.name}}</label>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="col-md-4" style="display: flex;">
                        <span style="margin-top: 6px;">Assign Teacher: </span>
                        <ng-select [items]="orgTeachersList" bindLabel="fullName" style="width: 175px;"
                            bindValue="uniqueId" [multiple]="true" [closeOnSelect]="false" [clearable]="false"
                            placeholder="Select" (change)="changeTeacher($event)" [searchable]="false">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.fullName}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                        [ngModelOptions]="{standalone: true}" />
                                    <label class="form-check-label custom-control-label">{{item.fullName}}</label>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="col-md-2" style="margin-top: 7px;">
                        <span class="saveAction" (click)="isSelectedSave(5)"><i class="fas fa-save"
                                style="font-size: 14px;"></i></span>

                        <span class="closeAction" (click)="isSelectedCancel(5)"><i class="fas fa-times"
                                style="font-size: 14px;"></i></span>
                    </div>


                </div>
            </div>

            <div *ngIf="activeTabIndex==6">
                <div class="header">
                    <div class="widthAlignhead1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox"
                                [(ngModel)]="masterSelectedClassroom" (change)="checkUncheckAll(5)" />
                            <label class="custom-control-label" for="maincheckbox">
                            </label>
                        </div>
                    </div>
                    <div class="widthAlign6head">XML Classroom</div>
                    <div class="widthAlign12">Short Name</div>
                    <div class="widthAlign13">Type</div>
                    <div class="widthAlign13">Category</div>
                    <div class="widthAlign17">URL</div>
                    <div class="widthAlign6">EIP Classroom</div>
                    <div class="widthAlignhead7">Action</div>
                </div>
                <div class="scroll listData">
                    <div class="bodyData" *ngFor="let data of classroomList;let i = index;">
                        <div class="widthAlign1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                                    [(ngModel)]="data.selected" (change)="isAllSelected(5)" />
                                <label class="custom-control-label" for="checkbox{{i}}">
                                    <!-- <span class="fa fa-check"></span> -->
                                </label>
                            </div>
                        </div>
                        <div class="widthAlign6" style="padding-top:10px">{{data.xmlName}}</div>
                        <div class="widthAlign12" style="padding-top:10px">{{data.xmlShortName}}</div>
                        <div class="widthAlign13" style="display: flex;margin-right: 5px;">

                            <ng-select [items]="classType" bindLabel="name" style="width: 175px;" bindValue="id"
                                [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                                [(ngModel)]="data.type" [searchable]="false">
                            </ng-select>

                        </div>
                        <div class="widthAlign13" style="display: flex;margin-right: 5px;">

                            <ng-select [items]="classCategory" bindLabel="name" style="width: 175px;" bindValue="id"
                                [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                                [(ngModel)]="data.category" [searchable]="false">
                            </ng-select> &nbsp;&nbsp;
                            <div ngbDropdown>
                                <i class="far fa-copy copyIcon" style="cursor: pointer;" (click)="clickCopy()"
                                    ngbDropdownToggle></i>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                    style="height: 150px;overflow-x: hidden;" *ngIf="data.type && data.category"
                                    [ngStyle]="{'overflow-y':classroomList.length > 5 ? 'scroll':'hidden'}">
                                    <div *ngFor="let data1 of classroomList;let j = index;">
                                        <div class="custom-control custom-checkbox"
                                            *ngIf="data.id != data1.id && !data1.isLinked">
                                            <input type="checkbox" class="custom-control-input"
                                                id="classroomCheckbox{{i}}{{j}}" [(ngModel)]="data1.isSelected"
                                                (change)="isDropdownSelected(data1,j,data)" />
                                            <label class="custom-control-label"
                                                style="font-weight: 500;font-size:11px;color: gray;"
                                                for="classroomCheckbox{{i}}{{j}}">
                                                {{data1.xmlName}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widthAlign14" style="padding-top:10px">
                            <input type="text" name="url" [id]="i" class="form-control" [(ngModel)]="data.roomUrl"
                                *ngIf="data.category==2 && !data.isLinked" #url maxlength="64" />
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': url.value.length !== 64,'badge-danger': url.value.length == 64}">
                                {{ url.value.length }} / 64</p>
                            <span *ngIf="data.category==2 && data.isLinked">{{data.roomUrl}}</span>
                            <span *ngIf="data.category!=2 && !data.isLinked"></span>
                        </div>
                        <div class="widthAlign6">

                            <div *ngIf="data.isLinked == true || data.isValid" style="padding-top: 9px;">
                                {{data.eipName}}</div>
                            <div *ngIf="data.isLinked == false && !data.isValid" style="padding-top: 9px;">
                                <ng-select [items]="orgClassroomList" bindLabel="name" style="width: 155px;"
                                    bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                    placeholder="Select" [(ngModel)]="data.eipUniqueId" [searchable]="false"
                                    (change)="changeClassroom($event,data)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="widthAlign7">

                            <span *ngIf="data.isLinked == false">
                                <span class="plusAction" (click)="isAdd(data)"
                                    [ngClass]="{'disabledBtn':data.eipUniqueId}"><i class="fas fa-plus"
                                        style="font-size: 12px;"></i></span>

                                &nbsp;&nbsp;OR&nbsp;&nbsp;
                                <span class="linkAction" (click)="isLink(data)"
                                    [ngClass]="{'disabledBtn':!data.eipUniqueId}"><i class="fas fa-link"
                                        style="font-size: 12px;"></i></span>
                            </span>


                            <span class="unlinkAction" *ngIf="data.isLinked" (click)="isUnlink(data,i)"><i
                                    class="fas fa-unlink" style="font-size: 12px;"></i></span>
                        </div>
                    </div>
                </div>
                <div style="float: right;margin-top: 15px;" *ngIf="selectedClassroom.length == 0">
                    <span class="saveCancelBtn" (click)="close(false)">Cancel</span>
                    <span class="saveBtn" (click)="saveTab(6)">Save</span>
                </div>
                <div *ngIf="selectedClassroom.length > 0" class="row mb-3"
                    style="background-color: #0091ff30;height: 54px;padding: 10px;margin: 0;">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox" style="margin-top: 6px;">
                            <input type="checkbox" class="custom-control-input" id="checkboxTest"
                                [(ngModel)]="SelectedCount" />
                            <label class="custom-control-label" for="checkboxTest">
                                <!-- <span class="fa fa-check"></span> -->
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div style="margin-top: 6px;">
                            <span style="color: #0091ff;">{{selectedClassroom.length}}</span> items selected
                        </div>

                    </div>
                    <div class="col-md-7" style="display: flex;">
                        <ng-select [items]="classType" bindLabel="name" style="width: 175px;" bindValue="id"
                            [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                            [(ngModel)]="selectedData" [searchable]="false">
                        </ng-select>

                        <ng-select [items]="orgClassroomList" bindLabel="name" style="width: 155px;"
                            bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select" [(ngModel)]="selectedCategoryData" [searchable]="false">
                        </ng-select>
                    </div>
                    <div class="col-md-2" style="margin-top: 7px;">
                        <span class="saveAction" (click)="isSelectedSave(6)"><i class="fas fa-save"
                                style="font-size: 14px;"></i></span>

                        <span class="closeAction" (click)="isSelectedCancel(6)"><i class="fas fa-times"
                                style="font-size: 14px;"></i></span>
                    </div>


                </div>
            </div>
            <div *ngIf="activeTabIndex==7">
                <div class="header">
                    <div class="widthAlignhead1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox"
                                [(ngModel)]="masterSelectedBatchGroup" (change)="checkUncheckAll(6)" />
                            <label class="custom-control-label" for="maincheckbox">
                            </label>
                        </div>
                    </div>
                    <div class="widthAlign10">XML Batch</div>
                    <div class="widthAlign10">Batch Group</div>
                    <div class="widthAlign11">EIP Course</div>
                    <div class="widthAlign11">EIP Batch</div>
                    <div class="widthAlign11-2">EIP Category</div>
                    <div class="widthAlign11">EIP Batch Group</div>
                    <div class="widthAlignhead8">Action</div>
                </div>
                <div class="scroll listData">
                    <div class="bodyData" *ngFor="let data of bacthGroupList;let i=index;">
                        <div class="widthAlign1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                                    [(ngModel)]="data.selected" (change)="isAllSelected(6)" />
                                <label class="custom-control-label" for="checkbox{{i}}">
                                    <!-- <span class="fa fa-check"></span> -->
                                </label>
                            </div>
                        </div>
                        <div class="widthAlign10" style="padding-top:10px">{{data.xmlBatchName}}</div>
                        <div class="widthAlign10" style="padding-top:10px">{{data.xmlName}}</div>
                        <div class="widthAlign11" style="display: flex;">
                            <span *ngIf="data.isLinked || data.isValid "
                                style="width: 125px;height: 36px;padding-top: 9px;">{{data.courseName}}</span>
                            <ng-select *ngIf="!data.isLinked && !data.isValid" [items]="orgCourseList" bindLabel="name"
                                style="width: 125px;" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                [clearable]="false" placeholder="Select" [searchable]="false"
                                (change)="getBatchbyCourseList($event,data)" [(ngModel)]="data.courseUniqueId">
                            </ng-select> &nbsp;&nbsp;

                        </div>
                        <div class="widthAlign11" style="display: flex;">
                            <span *ngIf="data.isLinked || data.isValid"
                                style="width: 125px;height: 36px;padding-top: 9px;">{{data.batchName}}</span>
                            <ng-select *ngIf="!data.isLinked && !data.isValid" [items]="data.batchListByCourse"
                                bindLabel="name" style="width:125px;" bindValue="uniqueId" [multiple]="false"
                                [(ngModel)]="data.batchUniqueId" (change)="getBatchCategory($event,i)"
                                [closeOnSelect]="true" [clearable]="false" placeholder="Select" [searchable]="false">
                            </ng-select> &nbsp;&nbsp;

                        </div>
                        <div class="widthAlign11-2" style="display: flex;">
                            <span *ngIf="data.isLinked"
                                style="width: 80px;height: 36px;padding-top: 9px;">{{data.categoryName}}</span>
                            <ng-select *ngIf="!data.isLinked" [items]="data.batchCategoryListByBatch"
                                bindLabel="categoryName" style="width: 125px;" bindValue="categoryUniqueId"
                                [multiple]="false" [(ngModel)]="data.categoryUniqueId"
                                (change)="changeBatchCategory($event,data)" [closeOnSelect]="true" [clearable]="false"
                                placeholder="Select" [searchable]="false">
                            </ng-select> &nbsp;&nbsp;
                            <!-- <i class="far fa-copy copyIcon"></i> -->
                            <!-- <div ngbDropdown>
                                <i class="far fa-copy copyIcon" style="cursor: pointer;" (click)="clickCopy()"
                                    ngbDropdownToggle></i>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic"
                                    style="height: 150px;overflow-x: hidden;"
                                    *ngIf="data.courseUniqueId && data.batchUniqueId && data.isLinked"
                                    [ngStyle]="{'overflow-y':bacthGroupList.length > 5 ? 'scroll':'hidden'}">
                                    <section id="headertabs">
                                        <nav class="d-inline">
                                            <div class="nav nav-tabs d-inline" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link" id="nav-basic-tab"
                                                    [ngClass]="{'active':tabNumber==1 }" data-toggle="tab" role="tab"
                                                    aria-controls="nav-basic" aria-selected="true"
                                                    (click)="tabClick(1)">Course</a>
                                                <a class="nav-item nav-link" id="nav-others-tab"
                                                    [ngClass]="{'active':tabNumber==2 }" data-toggle="tab" role="tab"
                                                    aria-controls="nav-others" aria-selected="false"
                                                    (click)="tabClick(2)">Batch</a>
                                                <a class="nav-item nav-link" id="nav-workTime-tab"
                                                    [ngClass]="{'active':tabNumber==3}" data-toggle="tab" role="tab"
                                                    aria-controls="nav-workTime" aria-selected="false"
                                                    (click)="tabClick(3)">Category</a>
                                            </div>
                                        </nav>
                                    </section>
                                    <div *ngFor="let data1 of bacthGroupList;let j = index;">
                                        <div class="custom-control custom-checkbox"
                                            *ngIf="data.id != data1.id && !data1.isLinked && ((tabNumber==2 && data1.isCourseSelect) || tabNumber==1 || (tabNumber==3 && data1.isBatchSelect))">
                                            <input type="checkbox" class="custom-control-input" id="checkbox{{i}}{{j}}"
                                                [(ngModel)]="data1.isSelected"
                                                (change)="isDropdownSelected(data1,j,data)" />
                                            <label class="custom-control-label"
                                                style="font-weight: 500;font-size:11px;color: gray;"
                                                for="checkbox{{i}}{{j}}">
                                                {{data1.xmlBatchName}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="widthAlign11" style="display: flex;">
                            <span *ngIf="data.isLinked"
                                style="width: 125px;height: 36px;padding-top: 9px;">{{data.eipName}}</span>
                            <ng-select *ngIf="!data.isLinked" (change)="changeBatchGroup($event,data)"
                                [items]="data.batchgroupListByCategory" bindLabel="name" [(ngModel)]="data.eipUniqueId"
                                style="width: 125px;" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                [clearable]="false" placeholder="Select" [searchable]="false" #selectBatchGroup>
                            </ng-select> &nbsp;&nbsp;


                        </div>

                        <div class="widthAlign7">

                            <span *ngIf="data.isLinked == false">
                                <span class="plusAction" [ngClass]="{'disabledBtn':data.eipUniqueId}"
                                    *ngIf="!data.isAdd" (click)="isAdd(data)"><i class="fas fa-plus"
                                        style="font-size: 12px;"></i></span>

                                &nbsp;&nbsp;OR&nbsp;&nbsp;
                                <span class="linkAction" [ngClass]="{'disabledBtn':!data.eipUniqueId}"
                                    (click)="isLink(data)"><i class="fas fa-link" style="font-size: 12px;"></i></span>
                            </span>

                            <span class="unlinkAction" *ngIf="data.isLinked" (click)="isUnlink(data,i)"><i
                                    class="fas fa-unlink" style="font-size: 12px;"></i></span>
                        </div>
                    </div>
                </div>
                <div style="float: right;margin-top: 15px;" *ngIf="selectedBatchGroup.length == 0">
                    <span class="saveCancelBtn" (click)="close(false)">Cancel</span>
                    <span class="saveBtn" (click)="saveTab(7)">Save</span>
                </div>
                <div *ngIf="selectedBatchGroup.length > 0" class="row mb-3"
                    style="background-color: #0091ff30;height: 54px;padding: 10px;margin: 0;">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox" style="margin-top: 6px;">
                            <input type="checkbox" class="custom-control-input" id="checkboxTest"
                                [(ngModel)]="SelectedCount" />
                            <label class="custom-control-label" for="checkboxTest">
                                <!-- <span class="fa fa-check"></span> -->
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div style="margin-top: 6px;">
                            <span style="color: #0091ff;">{{selectedBatchGroup.length}}</span> items selected
                        </div>

                    </div>
                    <div class="col-md-7" style="display: flex;">
                        <span style="margin-top: 6px;">Assign Course: </span>
                        <ng-select [items]="orgCourseList" bindLabel="name" style="width: 175px;" bindValue="uniqueId"
                            [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                            (change)="changeSlected($event)" [(ngModel)]="selectedData" [searchable]="false">
                        </ng-select>
                    </div>
                    <div class="col-md-2" style="margin-top: 7px;">
                        <span class="saveAction" (click)="isSelectedSave(7)"><i class="fas fa-save"
                                style="font-size: 14px;"></i></span>

                        <span class="closeAction" (click)="isSelectedCancel(7)"><i class="fas fa-times"
                                style="font-size: 14px;"></i></span>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isPreview">
        <app-preview-xml-timetable [xmlData]="dataJson" (closePreiew)="closePreiew($event)"
            (savePreview)="savePreview($event)">
        </app-preview-xml-timetable>
    </div>
</div>


<div class="viewSidePopup scroll"
    [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew,'addNewSubjectForm':type==6,'addNewBatchForm':type==7, 'addNewShiftForm':type==12,'classroomForm':type==8||type==9,'addCourseForm':type==11}"
    *ngIf="isAddNew">
    <app-rightside-forms [type]="type" (close)="closeFormView($event)"></app-rightside-forms>
</div>

<div class="viewSidePopup viewShiftDetails"
    [ngClass]="{'slideInLeft':!isViewShiftDetails,'slideInRight':isViewShiftDetails}" *ngIf="isViewShiftDetails">
    <app-view-conflict [viewType]="4" [shiftDetails]="shiftDetails" (newItemEvent)="closeConflict($event)">
    </app-view-conflict>
</div>