.label-text {
  color: #7c7b98;
  font-weight: 400;
}

.border-box {
  border: 1px solid rgb(207, 204, 204);
  border-radius: 7px;
  padding: 10px 10px 10px;
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
}

.border-social-box {
  border: 1px solid rgb(207, 204, 204);
  border-radius: 5px;
  padding: 3px 3px 3px;
  // max-height: 200px;
  // min-height: 200px;
}

.border-socil-box {
  border: 1px solid rgb(190, 187, 187);
  border-radius: 5px;
  padding: 10px 15px 10px;
  height: 40px;
  // min-height: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 240, 240);
  // outline: 1px solid #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 206, 206);
}

.example-box {
  width: 100px;
  height: 50px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-chip.mat-standard-chip.mat-chip-selected.mat-warn {
  background-color: #0db2d0 !important;
  color: white !important;
}
select.form-control {
  padding-left: 9px;
}

::ng-deep .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
  background-color: #393185 !important;
  color: white !important;
}
// .forChip{
// }

mat-chip {
  width: fit-content;
  text-align: center;
  justify-content: center;
  margin: 4px 10px 20px 10px !important;
  background-color: #fbfaff !important;
  color: #7c7b98 !important;
  border-radius: 10px !important;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.4);
}
mat-chip:hover {
  color: #7c7b98 !important;
  background-color: #fbfaff !important;
}
.card {
  box-shadow: none;
}
.headingAcdmcType {
  color: var(--newApp-color);
}
.dropSubject {
  -webkit-box-shadow: 0px 2px 4px 0px #c1c1c1;
  -moz-box-shadow: 0px 2px 4px 0px #c1c1c1;
  box-shadow: 0px 2px 4px 0px #c1c1c1;
  padding: 5px;
  min-height: 200px;
  max-height: fit-content;
  margin-bottom: 15px;
}
.dropSubject p {
  background-color: #cae6ff;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 15px;
  color: var(--newApp-color);
  font-size: 13px;
  margin-bottom: 9px;
}
.groupSubject p {
  background-color: #d7e8f6;
  cursor: pointer;
}
.groupSubject p.selected {
  background-color: #8ccafd;
}
.dropSubject p .fa-times {
  padding: 3px 0px 5px 10px;
  cursor: pointer;
}
.dropSubject .label-text {
  color: var(--newApp-color);
}
.dropSubject .custom-control {
  padding-left: 8px;
}
.btn-save {
  background-color: var(--newApp-color);
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 17px;
  width: 175px;
}
.btn-cancel {
  background-color: white;
  border: 2px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
  color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
  color: var(--newApp-color) !important;
  background-color: #fff;
}
.subjectList {
  height: 450px;
  overflow-y: scroll;
}
.optionalSubject p {
  cursor: pointer;
}
