<!-- <div class="container-fluid">
    <div class="card"> -->
<div class="card-body academicDemo">
  <form [formGroup]="academicFormGroup">
    <div class="row">
      <div class="col-7">
        <h4 class="headingAcdmcType">Academic</h4>
        <div class="row">
          <!-- <div class="col-md-12  form-group">
                  <label class="label-text col-form-label">Academic Year</label>
                  <ng-select [items]="academicYearList" class="custom1" bindLabel="itemName" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select year" [searchable]="false" formControlName="academicYearUniqueId" [ngClass]="{ 'is-invalid':  submitted && academicFormGroup.controls.academicYearUniqueId.errors }" (change)="getAcademicCalendarList($event)"></ng-select>
                
                  <div *ngIf="submitted && academicFormGroup.controls.academicYearUniqueId.errors?.required" class="invalid-feedback">
                      <div>Academic year is required</div>
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <label class="label-text col-form-label">Academic Calender</label>
                  <ng-select [items]="academicCalendarList" class="custom1" bindLabel="itemName" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select calender" [searchable]="false" formControlName="academicCalendarUniqueId" [ngClass]="{ 'is-invalid': submitted && academicFormGroup.controls.academicCalendarUniqueId.errors }" (change)="getCourseListByAcademicyearOnSelect($event)"></ng-select>
                  <div *ngIf="submitted && academicFormGroup.controls.academicCalendarUniqueId.errors?.required" class="invalid-feedback">
                      <div>Academic year is required</div>
                  </div>
                 
                </div> -->
          <div class="col-md-6">
            <label class="label-text col-form-label">Course</label>
            <ng-select [items]="orgCourseList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
              [closeOnSelect]="true" [clearable]="false" placeholder="Select course" [searchable]="false"
              formControlName="courseUniqueId" (change)="getDatafromCrourseList($event)"
              [ngClass]="{ 'is-invalid': submitted && af.courseUniqueId.errors }"></ng-select>
            <!-- <select class="form-control form-control-line" id="courseUniqueId" formControlName="courseUniqueId" (change)="getBatchList($event.target.value); getCourseSubjects($event.target.value)" [ngClass]="{ 'is-invalid': submitted && af.courseUniqueId.errors }">
                      <option value="">Select course</option>
                      <option *ngFor="let course of orgCourseList;let c=index;" value="{{course.uniqueId}}">
                          {{course.name}}</option>
                  </select> -->
            <div *ngIf="submitted && af.courseUniqueId.errors?.required" class="invalid-feedback">
              <div *ngIf="af.courseUniqueId.errors">Course is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="label-text col-form-label">Batch</label>
            <ng-select [items]="orgBatchList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
              [closeOnSelect]="true" [clearable]="false" placeholder="Select batch" [searchable]="false"
              formControlName="divisionUniqueId" (change)="getCustomBatch($event)"
              [ngClass]="{ 'is-invalid': submitted && af.divisionUniqueId.errors }"></ng-select>
            <div *ngIf="submitted && af.divisionUniqueId.errors" class="invalid-feedback">
              <div *ngIf="af.divisionUniqueId.errors.required">Batch is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="label-text col-form-label">Board</label>
            <ng-select [items]="orgBoardList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
              [closeOnSelect]="true" [clearable]="false" placeholder="Select board" [searchable]="false"
              (change)="changeBoard($event)" formControlName="boardUniqueId"
              [ngClass]="{ 'is-invalid': submitted && af.boardUniqueId.errors }">
            </ng-select>
            <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
              <div *ngIf="af.boardUniqueId.errors.required">Board is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="label-text col-form-label">Grade</label>
            <ng-select [items]="orgGradeList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
              [closeOnSelect]="true" [clearable]="false" placeholder="Select grade" [searchable]="false"
              formControlName="semesterUniqueId" [ngClass]="{ 'is-invalid': submitted && af.semesterUniqueId.errors }">
            </ng-select>
            <div *ngIf="submitted && af.semesterUniqueId.errors" class="invalid-feedback">
              <div *ngIf="af.semesterUniqueId.errors.required">Grade is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="label-text col-form-label">Group Category</label>
            <ng-select [items]="orgGroupCategoreyList" class="custom1" bindLabel="categoryName" bindValue="categoryUniqueId"
              [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select group"
              [searchable]="false" formControlName="gruopCategory" (change)="changeGroupCategory($event)"
              [ngClass]="{ 'is-invalid': submitted && af.gruopCategory.errors }">
            </ng-select>
            <div *ngIf="submitted && af.gruopCategory.errors" class="invalid-feedback">
              <div *ngIf="af.gruopCategory.errors.required">Group Category is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="label-text col-form-label">Batch Group</label>
            <ng-select [items]="orgBatchGroupList" class="custom1" bindLabel="name" bindValue="uniqueId"
              [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
              (change)="changeBatchGroup($event)" [searchable]="false" formControlName="batchGroup"
              [ngClass]="{ 'is-invalid': submitted && af.batchGroup.errors }">
            </ng-select>
            <div *ngIf="submitted && af.batchGroup.errors" class="invalid-feedback">
              <div *ngIf="af.batchGroup.errors.required">Batch Group is required</div>
            </div>
          </div>
        
        </div>

      </div>
      <div class="col-5 subjectList">
        <h4 class="headingAcdmcType">Subject</h4>
        <div class="col-12">

          <div class="dropSubject ">
            <label class="label-text col-form-label">Compulsory Subject</label>

            <div *ngFor="let item of complsorySubjects;let j=index;" class="custom-control">
              <p>
                {{item.subjectName}}
              </p>

            </div>

          </div>
        </div>
        <div class="col-12">

          <div class="dropSubject groupSubject">
            <label class="label-text col-form-label">Elective Subject</label>

            <div *ngFor="let item of electiveSubject;  let k = index;">

              <label for="">{{item.name}}</label>
              <div *ngIf="item.electiveSubjects.length>0">
                <div *ngFor="let subject of item.electiveSubjects;  let l=index;" class="custom-control">
                  <p [ngClass]="{'selected':subject.selected}" (click)="onSelectionChange(k,l, true)">
                    {{subject.subjectName}}</p>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="dropSubject optionalSubject" cdkDropList [cdkDropListData]="optionalSubject"
            [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
            <label class="label-text col-form-label">Optional Subject</label>

            <div *ngFor="let item of optionalSubject;let j=index;" [cdkDragData]="item" cdkDrag class="custom-control">
              <p>
                {{item.subjectName}}
              </p>

            </div>

          </div>
        </div>
        <div class="col-12">

          <div class="dropSubject" cdkDropList [cdkDropListData]="selectedOptionalSubject"
            [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
            <label class="label-text col-form-label">Selected Optional Subject</label>

            <div *ngFor="let item of selectedOptionalSubject;let j=index;" [cdkDragData]="item" cdkDrag
              class="custom-control">
              <p>
                {{item.subjectName}}
                <i class="fa fa-times float-right" (click)="removeSubjectFromList($event,j,1,item)"></i>
              </p>

            </div>

          </div>
        </div>

      </div>




    </div>
    <br>
    <div class="row">





    </div>
    <br>
    <br>
    <div class="row float-right">
      <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
      <button class="btn btn-save" type="submit" (click)="saveStudentAcademicInfo()">Save</button>
    </div>
  </form>
</div>
<!-- </div>
  </div>   -->