<div class="row pt-2 pb-1">
  <!-- <div class="col-sm-6">
    <label for="org">Organization/Institute</label><i style="color: tomato;">* </i>
    <ng-select [items]="orgList" class="customFilter" bindLabel="itemName" bindValue="id" [(ngModel)]="orgModelList"
      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false"
      placeholder="Select organization" (change)="onModalItemSelect($event,1)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:2">
          <span class="ng-value-label"> {{item.itemName}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 2">
          <span class="ng-value-label">+{{items.length - 2}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div> -->
  <div class="col-sm-6" *ngIf="filterType == 1 || filterType == 4">
    <label for="org">Course</label>
    <ng-select [items]="courseList" class="customFilter" bindLabel="itemName" bindValue="uniqueId"
      [(ngModel)]="courseModelList" [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false"
      placeholder="Select courses" (change)="onModalItemSelect($event,6)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
          <span class="ng-value-label"> {{item.itemName}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">+{{items.length - 1}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div class="col-sm-6" *ngIf="filterType == 1 || filterType == 4">
    <label for="org">Board</label>
    <ng-select [items]="boardList" class="customFilter" bindLabel="name" bindValue="uniqueId"
      [(ngModel)]="boardModelList" [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false"
      placeholder="Select boards" (change)="onModalItemSelect($event,4)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:2">
          <span class="ng-value-label"> {{item.name}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 2">
          <span class="ng-value-label">+{{items.length - 2}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div>


  <div class="col-sm-6" *ngIf="filterType == 1 || filterType == 4">
    <label for="org">Batch</label>
    <ng-select [items]="batchLists" #select class="customFilter" bindLabel="name" bindValue="uniqueId"
      [(ngModel)]="batchModelList" [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false"
      placeholder="Select batches" (change)="onModalItemSelect($event,7)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
          <span class="ng-value-label"> {{item.name}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">+{{items.length - 1}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div class="col-sm-6" *ngIf="filterType == 1 || filterType == 4">
    <label for="org">Grade</label>
    <ng-select [items]="gradeList" class="customFilter" bindLabel="name" bindValue="uniqueId"
      [(ngModel)]="gradeModelList" [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false"
      placeholder="Select grades" (change)="onModalItemSelect($event,5)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:2">
          <span class="ng-value-label"> {{item.name}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 2">
          <span class="ng-value-label">+{{items.length - 2}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div class="col-sm-6" *ngIf="filterType != 2">
    <label for="org">Subjects</label>
    <ng-select [items]="subjectList" #select class="customFilter" bindLabel="name" bindValue="uniqueId"
      [(ngModel)]="subjectModelList" [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false"
      placeholder="Select subjects" (change)="onModalItemSelect($event,8)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
          <span class="ng-value-label"> {{item.name}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">+{{items.length - 1}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <!-- <div class="col-sm-6" *ngIf="filterType != 2">
    <label for="org">Batch Category</label>
    <ng-select [items]="batchCategoryList" #select class="customFilter" bindLabel="name" bindValue="uniqueId"
      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false" placeholder="Select category"
      (change)="onModalItemSelect($event,9)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
          <span class="ng-value-label"> {{item.name}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">+{{items.length - 1}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div>
  <div class="col-sm-6" *ngIf="filterType != 2">
    <label for="org">Batch Group</label>
    <ng-select [items]="batchGroupList" #select class="customFilter" bindLabel="name" bindValue="uniqueId"
      [multiple]="true" [closeOnSelect]="false" [clearable]="false" [searchable]="false" placeholder="Select Batchgroup"
      (change)="onModalItemSelect($event,10)">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
          <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
        </div>
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
          <span class="ng-value-label"> {{item.name}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">+{{items.length - 1}}</span>
        </div>
      </ng-template>
    </ng-select>
  </div> -->
</div>
<div class="row float-right">
  <button class="btn btn-link " type="submit" style="margin-top: 5px; margin-right: 15px; margin-bottom: 15px;"
    (click)="cancelFilterModal();">Cancel</button>

  <button class="btn btn-apply" (click)="apply()"> Apply</button>
</div>