.row {
    padding-left: 20px;
    padding-right: 20px;
}
// ::ng-deep ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
//     background-color: #c9f3f3 !important;
//     color: #000000a4 !important;
//     padding: 2px 0px;
// }
// ::ng-deep ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
//     background-color: #c9f3f3 !important;
//     color: #0091ff;
// }
// .ng-select.customFilter ::ng-deep .custom-control {
//     padding-left: 1rem !important;
//     text-align: left;
// }
.ng-select.customFilter ::ng-deep .custom-control-label {
    font-weight: 500;
}
label {
    font-weight: 500;
    color: rgb(82, 82, 82);
}
.col-sm-6 {
    margin-bottom: 10px;
}
.btn-apply {
    background-color: var(--newApp-color) !important;
    margin: 10px 15px 20px 5px;
    padding: 6px 25px;
}
.btn-apply:hover {
    color: #ffffff !important;
}
