<div class="row" style="margin: 0;">
    <div class="col-5">
        <span class="statusStudBtn statusStudBtnactive" id="present" (click)="isTabChange('present','absent','leave')">Present</span>
        <span class="statusStudBtn" id="absent" (click)="isTabChange('absent','present','leave')">Absent</span>
        <span class="statusStudBtn" id="leave" (click)="isTabChange('leave','present','absent')">Leave</span>
    </div>
    <div class="col-2"></div>
    <div class="col-5"></div>
</div>
<hr>

<div class="card">
    <table class="table table-centered mb-0" id="test">
        <thead style="background: aliceblue;color: black;">
            <tr>
                <th class="th-style">EN-No</th>
                <th class="th-style">Name</th>
                <th class="th-style">Course</th>

                <th class="th-style">Date</th>
                <th class="th-style" *ngIf="isPresent">Log In</th>
                <th class="th-style" *ngIf="isPresent">Log Out</th>
                <th class="th-style" *ngIf="isLeave">Reason</th>
                <th class="th-style" *ngIf="isLeave">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="trRow" style="border-bottom: 1px solid #00000021;" *ngFor="let item of List; let i=index">
                <td>{{item.enno}}</td>
                <td>{{item.name}}</td>
                <td>{{item.course}}</td>
                <td>{{item.date}}</td>
                <td *ngIf="isPresent">
                    <div class="row" style="margin: 0;">{{item.login}}</div>
                    <div class="row" style="font-size: 9px;margin: 0;">{{item.loginShift}}</div></td>
                <td *ngIf="isPresent">
                    <div class="row" style="margin: 0;">{{item.logout}}</div>
                    <div class="row" style="font-size: 9px;margin: 0;">{{item.logoutShift}}</div>
                </td>
                <td *ngIf="isLeave">
                    <div class="row" style="margin: 0;">{{item.reason}}</div>
                    <div class="row" style="font-size: 9px;margin: 0;">{{item.subreason}}</div>
                </td>
                <td *ngIf="isLeave">
                    <span [ngClass]="{'isPending':item.status === 'Pending','isApproved':item.status === 'Approved','isRejected':item.status === 'Rejected'}">{{item.status}}</span>
                    
                </td>
            </tr>

        </tbody>

    </table>
</div>