$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
.addQuickForm {
    position: absolute;
    background-color: white;
    top: 26px;
    width: 25%;
    right: 0;
    z-index: 1;
    pointer-events: fill;
}
// .stack-top{
//     top:-50px !important;
//     min-height: 100vh;
// }
@import "../../../../../assets/scss/custom/components/common";
