<div style="margin:0 0 18px 0;display: flex;" *ngIf="!isHideHeader">
  <div style="text-align: center;padding-top: 9px;width: 10%;">
    <span style="color: #000000b3;font-weight: bold;" *ngIf="currentTab == 1">
      Assignment</span>
    <span style="color: #000000b3;font-weight: bold;" *ngIf="currentTab == 2">
      Test</span>
    <span style="color: #000000b3;font-weight: bold;" *ngIf="currentTab == 3">
      Exam</span>
  </div>
  <div style="width:16%;display: flex;">
    <!-- <div class="addMainBtn" style="width:82%" (click)="createAssesment()"><span>Create Assessment</span></div> -->
    <div class="addMainBtn" style="width:82%" (click)="createAssesment()"><span>Create
        {{currentTab==1?'Assessment':(currentTab==2)?'Test':'Exam'}}</span></div>
    <div ngbDropdown style="width:18%;" class="dropdown d-none d-lg-block createMainBtn" placement="bottom-right">
      <i class="fas fa-angle-down" style="cursor: pointer;color: white;padding: 12px;" id="dropdownBasic1"
        ngbDropdownToggle></i>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="createPattern()">
          <span>Create Pattern</span>
        </button>
      </div>
    </div>
  </div>
  <div style="width: 70%;margin-left: 15px;" class="searchBar">
    <div style="display: flex;">
      <input type="text" class="form-control" placeholder="Search" style="border: none;height: 35px !important;">
      <!-- <i class="fa fa-sliders" style="font-size: 18px;color: #80808057;margin-top: 8px;" aria-hidden="true"></i> -->
      <i class="fa fa-search"
        style="font-size: 18px;color: #80808057;margin-top: 10px;cursor: pointer;margin-right: 15px;"></i>

    </div>

  </div>
</div>

<div *ngIf="!isAssesment && !addPattern && !isCreateTrack">
  <app-exam-list [currentTab]="currentTab" (hideHeader)="hideHeaderFun($event)"></app-exam-list>


</div>
<div *ngIf="isCreateTrack">
  <div class="row mx-0 align-items-center px-2 w-100 examTitleRow">
    <p class="examTitle">Add Track Details</p>
  </div>
  <app-add-tracks [examUid]="examUniqueId" (close)="cancel($event)"></app-add-tracks>
</div>
<div *ngIf="isAssesment&& !addPattern && !isCreateTrack">
  <div class="row mx-0 align-items-center px-2 w-100 examTitleRow">
    <p class="examTitle">Exam</p>
  </div>
  <aw-wizard #wizardForm>
    <aw-wizard-step>
      <form [formGroup]="quickExamForm" style="margin-bottom: 30px;padding: 30px 35px;">
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <p class="col-form-label" style="color: #000000a8;"><b>Basic</b> </p>
            </div>
            <div class="col-8 pl-2">
              <label class="col-form-label" style="color: #000000a8;"><b>Batch Details</b> </label>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="col-form-label label-under">Name :</label>

              <input type="text" class="form-control" maxlength="45" #option (keyup)="0"
                (keypress)="omit_special_char($event)" formControlName="name" placeholder="Type here.."
                [ngClass]="{ 'is-invalid': quickExamForm.controls['name'].errors && isFirstNext }" #name maxlength="20">
              <p class="badge position-absolute inputBoxCount"
                [ngClass]="{'badge-blue': name.value.length !== 20,'badge-danger': name.value.length == 20}">
                {{ name.value.length }} / 20</p>
              <div *ngIf="quickExamForm.controls['name'].errors && isFirstNext" class="text-danger">
                <div *ngIf="quickExamForm.controls['name'].errors?.required">
                  Name is required</div>
              </div>
            </div>
            <div class="col-2">
              <label class="col-form-label label-under">Test Type :</label>
              <ng-select formControlName="testTypeId" [searchable]="false" [clearable]="false" [items]="testTypeList"
                bindLabel="name" bindValue="id" placeholder="Select" (change)="testTypeChange($event)"
                [(ngModel)]="selectedTestType"
                [ngClass]="{ 'is-invalid': quickExamForm.controls['testTypeId'].errors && isFirstNext }">

              </ng-select>

              <div *ngIf="quickExamForm.controls['testTypeId'].errors && isFirstNext" class="text-danger">
                <div *ngIf="quickExamForm.controls['testTypeId'].errors?.required">
                  Test Type is required</div>
              </div>

              <a href="javascript: void(0);" *ngIf="!toggle" (click)="togleType(customType)" class="btn addMore"><i
                  class="fas fa-plus"></i> Add more</a>
            </div>
            <div class="col-8">


              <app-batchdetails [batchInfo]="quickExamForm.controls.batchInfo" [isFirstNext]="isFirstNext">
              </app-batchdetails>
            </div>
          </div>
          <div class="row" *ngIf="selectedStudentsList.length > 0" style="width: 98%;">
            <p class="w-100"><label class="col-form-label subjectHeading"><b>Selected Students:</b> </label></p>
            <div class="box row" id="box">
              <div class="userNames" *ngFor="let user of viewSelectedStudentsList; let i=index"><span
                  class="studentName">{{user.student.name}}</span> <button type="button" class="closeStudent close"
                  (click)="deleteSelectedStudent(user.student.uniqueId,i)" aria-hidden="true">×</button></div>
              <div class="remainingStudents" *ngIf="remainingSelectedStudents>0"><i class="fas fa-plus"></i>
                {{remainingSelectedStudents}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="assignmentTypeId == 1" class="form-group subjects">
          <div class="row">
            <div class="col-12">
              <label class="col-form-label subjectHeading"><b>Subjects</b> </label>


              <div class="row">
                <div class="col-md-4">

                  <label class="col-form-label label-under">Subject</label>
                  <ng-select [items]="subjectsList" bindLabel="name" bindValue="uniqueId" [multiple]="true"
                    [searchable]="false" [clearable]="false" placeholder="Subject" (change)="addSubject($event)"
                    [closeOnSelect]="false">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                      <div class="ng-value" *ngFor="let item of items | slice:0:2">
                        <span class="ng-value-label"> {{item.name}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </div>
                      <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">+{{items.length - 2}}</span>
                      </div>
                    </ng-template>
                  </ng-select>

                  <div *ngIf="quickExamForm.controls['subjectList'].errors && isFirstNext" class="text-danger">

                    <div *ngIf="quickExamForm.controls['subjectList'].errors.required">
                      Please select subject.
                    </div>
                  </div>

                </div>
                <div class="col-md-2">
                  <label class="col-form-label label-under">Max Marks</label>
                  <input type="" class="form-control" maxlength="4" size="4" placeholder="Type here..."
                    (keypress)="numberOnly($event)" formControlName="maximumMarks">

                  <div *ngIf="quickExamForm.controls['maximumMarks'].errors && isFirstNext" class="text-danger">

                    <div *ngIf="quickExamForm.controls['maximumMarks'].errors.required">
                      Marks are required.
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <label class="col-form-label label-under">Pass Marks</label>
                  <input type="" class="form-control" maxlength="4" size="4" (keypress)="numberOnly($event)"
                    formControlName="passingMarks" placeholder="Type here..."
                    (input)="getPassingMarks($event.target.value)">
                  <div *ngIf="quickExamForm.controls['passingMarks'].errors && isFirstNext" class="text-danger">

                    <div *ngIf="quickExamForm.controls['passingMarks'].errors.required">
                      Passing Marks are required.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="col-form-label label-under">Exam Type</label><br>
                  <div style="color: black;margin-top: 20px;">
                    <div class="form-group radio radio-info form-check-inline" *ngFor="let item of questionCategories;">
                      <input type="radio" id="inlineRadio1" value="{{item.id}}" name="questionCategory"
                        formControlName="questionCategory">
                      <label for="inlineRadio1">{{item.name}}</label>
                    </div>
                    <!-- <div class="form-group radio radio-info form-check-inline">
                      <input type="radio" id="inlineRadio2" value="2" name="questionCategory"
                        formControlName="questionCategory">
                      <label for="inlineRadio2">Objective</label>
                    </div> -->
                  </div>
                  <div *ngIf="quickExamForm.controls['questionCategory'].errors && isFirstNext" class="text-danger">
                    <div *ngIf="quickExamForm.controls['questionCategory'].errors?.required">
                      Exam Type is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-inline wizard mb-0">
          <li class="next list-inline-item float-right">
            <button class="btn cancelbutton " (click)="cancel()">Cancel</button>
            <button class="btn nextbutton" (click)="wizardFirstNext(content)">Next</button>
          </li>
        </ul>
      </form>
    </aw-wizard-step>
    <aw-wizard-step awOptionalStep>

      <form style="margin-bottom: 30px;" *ngIf="assignmentTypeId==2">
        <app-create-pattern [assignmentType]="assignmentTypeId" [quickExamForm]="quickExamForm"
          (hideButtons)="hideButtons($event)"></app-create-pattern>

        <ul class="list-inline wizard mb-0" style="margin-top: 3%;padding: 30px 35px;" *ngIf="!isHidebuttons">
          <li class="previous list-inline-item">
            <button class="btn secondPrevbutton" type="button" (click)="previousStep(1)"
              awPreviousStep>Previous</button>
          </li>
          <li class="next list-inline-item float-right">
            <button class="btn cancelbutton " (click)="cancel()">Cancel</button>
            <button class="btn secondNextbutton" type="submit" (click)="wizardSecondtNext()">Select</button>
          </li>
        </ul>
      </form>
    </aw-wizard-step>
    <aw-wizard-step>
      <form *ngIf="quickExamForm.controls.step.value==3" [formGroup]="quickExamForm"
        style="margin-bottom: 30px;padding: 30px 35px;">
        <app-examsyllabus [examSyllabus]="quickExamForm" [assignmentTypeId]="assignmentTypeId"
          [timedetails]="quickExamForm.controls.timingDetailsDto" [courseId]="courseId"
          [type]="quickExamForm.controls.testTypeId.value" [step]="quickExamForm.controls.step.value"
          [isFirstNext]="isFirstNext">
        </app-examsyllabus>
        <ul class="list-inline wizard mb-0">
          <li class="previous list-inline-item">
            <button class="btn secondPrevbutton" (click)="prevOptional();previousStep(2);" type="button" awPreviousStep>
              Previous</button>
          </li>
          <li class="next list-inline-item float-right">
            <button class="btn cancelbutton cancelbtn" (click)="cancel()">Cancel</button>
            <button class="btn secondNextbutton" type="submit" (click)="wizardSecondNextStep()">Next</button>
          </li>
        </ul>
      </form>
    </aw-wizard-step>
    <aw-wizard-step>
      <form [formGroup]="quickExamForm" *ngIf="isShowExamView" style="margin-bottom: 30px;padding: 30px 35px;">

        <app-examview [isExamViewFromList]="false" [quickExamForm]="quickExamForm" [courseName]="courseName"
          [batchName]="batchName" [testType]="testType" [assignmentTypeId]="assignmentTypeId"
          (changeStep)="changeStep($event)">
        </app-examview>

        <ul class="list-inline wizard mb-0" style="padding-top:3%">
          <li class="previous list-inline-item"><button class="btn secondPrevbutton" type="button"
              style="margin-left: 10px;" awPreviousStep>Previous</button>
          </li>
          <li class="next list-inline-item float-right">
            <button class="btn cancelbutton cancelbtn" (click)="cancel()">Cancel</button>
            <button class="btn secondNextbutton" type="submit" (click)="saveExam()">
              Submit</button>
          </li>
        </ul>
      </form>
    </aw-wizard-step>
  </aw-wizard>
</div>
<div *ngIf="addPattern">
  <div class="row mx-0 align-items-center px-2 w-100 examTitleRow">
    <p class="examTitle">Assignment Pattern</p>
  </div>
  <app-create-pattern></app-create-pattern>


</div>

<ng-template #content role="document" let-modal="close">
  <div class="modal-header" style="background-color: #80808014;">
    <h4 class="modal-title">Choose Assignment Type</h4>

  </div>
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-lg-12">

          <div class="row" style="margin-bottom: 19px;margin-top: 5%;">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="text-align: center;padding-left: 0;">

              <div class="assignmentTypeBox" id="createNew" (click)="selectAssignment('createNew','createOld',1)">

                <img src="assets/Icons/Sample/simple-exam.png" height="60px" width="60px">


                <div>Simple</div>
              </div>

            </div>
            <div class="col-md-4" style="text-align: center;padding-right: 0;">
              <div class="assignmentTypeBox" id="createOld" (click)="selectAssignment('createOld','createNew',2)">

                <img src="assets/Icons/Sample/pattern-exam.png" height="60px" width="60px">

                <div>Pattern</div>
              </div>

            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mb-12" style="margin-bottom: 19px;margin-top: 10%;">
            <div class="col-md-2"></div>

            <div class="col-md-4"><button type="button" class="btn invigilatorCloseBtn" (click)="modal('Cross click')"
                (click)="closeAssignmentType()">Close</button>
            </div>
            <div class="col-md-4"><button type="button" class="btn invigilatorNextBtn"
                [disabled]="assignmentTypeIdSample == null" (click)="setAssingment()"
                (click)="modal('Cross click')">Next</button></div>

            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

    </div>
  </div>


</ng-template>
<ng-template #customType role="document" let-modal="close">
  <div class="row mx-0">
    <div class="modal-header w-100">
      <h4 class="modal-title">Custom Type</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="testTypeForm" class="w-100 testTypeForm">

        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="" formArrayName="examAssignmentTypeList">
              <div
                *ngFor="let examAssignmentType of testTypeForm.controls.examAssignmentTypeList['controls'];let i=index"
                [formGroupName]="i">
                <label class="col-form-label label-under">Test Type:</label>
                <input type="text" class="form-control"
                  [ngClass]="{'is-invalid':testTypeSubmitted && examAssignmentType.controls['name'].errors}"
                  formControlName="name" (input)="checkExists($event.target.value, i)"
                  (keypress)="omit_special_char($event)" #name maxlength="20">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': name.value.length !== 20,'badge-danger': name.value.length == 20}">
                  {{ name.value.length }} / 20</p>
                <div *ngIf="testTypeSubmitted && examAssignmentType.controls['name'].errors" class="invalid-feedback">
                  <div *ngIf="examAssignmentType.controls['name'].errors?.required">
                    Name is required</div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                  (click)="modal('Cross click')">Close</button></div>
              <div class="col-6"><button type="button" class="btn btn-testType" style="float: right;"
                  (click)="addtestType()">Submit</button></div>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>
</ng-template>