.addMainBtn {
  background-color: #0091ff;
  color: white;

  height: 40px;
  text-align: center;
  padding: 9px 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  border: 1px solid #0091ff;
  cursor: pointer;
}
.createMainBtn {
  background: #0091ff;
  height: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  border-left: 1px solid gray;
  cursor: pointer;
}

.addMainBtn:hover {
  background-color: #0091ff;
  color: white;
}

.searchBar {
  border: 1px solid #80808057;
  margin-bottom: 10px;
  border-radius: 4px;
  height: 40px;
}

.example-margin {
  margin: 0 12px;
}

.label-under {
  font-weight: 500;
  color: #4a4a4a;
}

.customPatternCss {
  width: 100%;
  // height: 7vw;
  height: auto;
  border-radius: 11px;
  box-shadow: 1px 1px 1px 1px #80808026;
}
.customPatternCsslowerPart {
  width: 100%;
  // height: 17vw;
  height: 21vw;
  border-radius: 11px;
  box-shadow: 1px 1px 1px 1px #80808026;
}

.nextbtn {
  width: 50%;
  padding-right: 9% !important;
}
.createBtn {
  height: 100%;
  // width: 77%;
  width: 150px;
  // background: #28a7f2e0;
  font-weight: 500;
  // background: var(--app-color);
  background: #1c8ef0;
}
.center {
  display: flex;
  justify-content: center;
}

.dropDownCss {
  // width: 24%;
  font-weight: 500;
  color: #a8a8a8;
  width: 100%;
  height: 3vw;
  border: 1px solid #80808073;
}
.examNameInput {
  color: #aaaaaa;
  width: 83%;
  height: 61%;
  font-weight: 500;
  border: 1px solid #cdcdcd;
}
.examNamesubInput {
  color: #aaaaaa;
  width: 100%;
  height: 71%;
  font-weight: 500;
  border: 1px solid #cdcdcd;
}
//   .card {
//     border-radius: 12px;
//     width: 100%;
//     box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
// }
.customCardCss {
  border-radius: 4px;
  box-shadow: 0 0 1px 2px #98989812;
}
.heading {
  padding: 10px 10px 5px 10px;
}
.card-body {
  padding-right: 0% !important;
  padding-left: 0% !important;
  padding-top: 0% !important;
}
label {
  font-weight: 500 !important;
}
.addMore {
  background-color: var(--app-examModuleColor);
  padding: 0px 5px;
  margin-top: 10px;
  font-size: 12px;
}
.form {
  padding: 0.5rem 1.5rem;
}
hr {
  border-color: #b7b5b5;
}
.nextbutton {
  border: 1px solid #0091ff;
  margin-top: 30px;
  font-size: 15px;
  position: relative;
  left: -32px;
  background-color: var(--newApp-color);
  color: #ffffff;
  height: 36px;
  margin-right: -10px;
  width: 115px;
}
.secondPrevbutton,
.cancelbutton {
  border: 1px solid var(--newApp-color);
  width: 115px;
  margin-top: 30px;
  color: var(--newApp-color);
  font-size: 15px;
  position: relative;
  height: 36px;
}
.cancelbutton {
  right: 55px;
}
.cancelbtn {
  right: 20px;
}
.secondNextbutton {
  border: 1px solid #0091ff;
  width: 115px;
  margin-top: 30px;
  background-color: var(--newApp-color);
  color: #ffffff;
  font-size: 15px;
  position: relative;
  margin-right: -12px;
  height: 36px;
}
.nextbutton:hover,
.secondNextbutton:hover,
.secondPrevbutton:hover {
  background-color: #0091ff;
  color: white;
}
.addMore:hover,
.btn-testType:hover {
  color: #ffffff;
  text-decoration: none;
}
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  padding-left: 7px;
  padding-right: 7px;
}

.subjects .subjectHeading {
  margin-left: -5px;
  color: #000000a8;
}
.subjects {
  padding-left: 5px;
}

.btn-testType {
  background-color: var(--newApp-color);
  padding: 7px 30px;
  height: 36px;
}
.testTypeForm .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.input-group-text {
  padding: 0.34rem 0.9rem;
}

.invigilatorCloseBtn {
  width: 130px;
  height: 36px;
  border: 1px solid #80808059;
  color: rgb(41, 41, 41);
  float: right;
}
// .invigilatorCloseBtn:hover {
//   background-color: gray;
//   color: white;
// }

.invigilatorNextBtn {
  width: 130px;
  height: 36px;
  border: 1px solid #0091ff;
  background-color: var(--newApp-color);
  color: #ffffff;
  float: left;
}

.assignmentTypeBox {
  border: 1px solid #80808054;
  padding: 25px 30px;
  cursor: pointer;
  color: black;
}

.assignmentTypeBox:hover {
  background-color: var(--newApp-color);
  border-color: #0091ff;
  color: white;
}

.assignmentTypeBoxActive {
  background-color: #0091ff;
  border: 1px solid #0091ff;
  color: white;
  padding: 25px 30px;
  cursor: pointer;
}

.assignTypeName {
  color: black;
}

.bg-soft-generated {
  background-color: rgb(75 239 247 / 25%);
}

.bg-soft-lock {
  background-color: #e0e09563;
}

.bg-soft-publish {
  background-color: #cbf79a75;
}

.bg-soft-republish {
  background-color: #b1f1f180;
}

.bg-soft-ongoing {
  background-color: #c0c0f87d;
}

.bg-soft-cancel {
  background-color: #fbc5c547;
}
.bg-soft-end {
  background-color: #cecef596;
}

.trRow:hover {
  background-color: #e2e2ec45;
}

::ng-deep .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #10c8e9;
  border-color: #10c8e9;
}

::ng-deep ul li {
  margin: 0 13px 0 0;
}

//create pattern

.circleBtn {
  border: 1px solid #0091ff;
  background-color: #0091ff;
  color: white;
  padding: 10% 13%;
  border-radius: 28px;
  float: right;
  cursor: pointer;
  margin-top: 22px;
}
.modal-header {
  background-color: var(--newAppbg-color);
}
::ng-deep.addTestType .modal-dialog {
  max-width: 363px;
  margin: 15% auto;
}
.subjectHeading {
  margin-left: 6px;
  margin-top: 10px;
  color: #000000a8;
}
.box {
  border: 1px solid #ced4da;

  padding: 7px;
  width: 100%;
  margin-left: 7px;
  margin-right: 7px;
}
.box .userNames {
  margin: 3px 4px;
  padding: 3px 6px;
  border-radius: 2px;
  color: #0000009c;
  background-color: #c9f3f3;
}
.box .remainingStudents {
  background-color: #bdf1f7db;
  width: 57px;
  font-size: 14px;
  height: 26px;

  border-radius: 3px;
  margin-top: 3px;
  margin-left: 4px;
  text-align: center;
  padding: 2px;
  color: var(--app-examModuleColor);
}
.box .closeStudent.close {
  left: 3px;
  background-color: transparent;
  color: var(--app-examModuleColor);
  bottom: auto;
  height: 15px;
  width: 15px;
}
.box .studentName {
  padding: 2px 5px 2px 2px;
}
.examTitleRow {
  background-color: var(--newAppbg-color);
  height: 54px;
}
.examTitle {
  color: #202020;
  margin-bottom: 0px;
  font-weight: 600;
}
.inputBoxCount {
  top: 30px;
}
