th.mainType {
    color: var(--newApp-color);
}
.table thead th {
    font-weight: 500;
    font-size: 15px;
}
.table td {
    padding: 0.85rem 0.55rem;
}
.table .fa,
.table .fas {
    cursor: pointer;
}
.table .delete .fa-trash {
    font-size: 21px;
    color: #ff0b0b;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}
.table .fa-pen {
    font-size: 15px;
    color: var(--newApp-color);
    height: 27px;
    width: 27px;
    background-color: rgb(51 141 222 / 51%);
    border: 1px solid var(--newApp-color);
    border-radius: 5px;
    padding-top: 5px;
}
.table .delete {
    margin-top: 3px;
}
.table .edit {
    float: right;
    margin-left: 4px;
    margin-top: 3px;
    margin-right: 18px;
}
.addNew .btn-circle {
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 25px;
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
    position: relative;
    left: 5px;
}
.table .correct,
.table .cancel {
    width: 24px;
    height: 25px;
    color: #ffffff !important;
    cursor: pointer;
    padding-top: 3px;
    margin-top: 3px;
}
.table .correct {
    float: left;
    margin-left: 15px;
}
.table .cancel {
    float: right;
    margin-left: 6px;
    margin-right: 18px;
}

.table .trash {
    margin-right: 73px;
    color: red;
    margin-top: 12px;
    text-align: center;
    vertical-align: middle;
}
.input-group .form-control {
    border-right: hidden;
}
.input-group-text,
.form-control {
    padding: 0.4rem 0.3rem;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
    border-color: var(--newApp-color);
}
.btn-save {
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
    padding: 10px 25px;
    position: relative;
    // right: 70px;
    right: 40px;
    /* bottom: 5px; */
    margin-bottom: 10px;
    // position: absolute;
    // right: 75px;
    // bottom: 100px;
    // margin-bottom: 55px;
    // right: 35px;
    // bottom: 0px;
    // margin-bottom: 0px;
}
.table span p {
    margin-bottom: 0.4rem;
}
.form-control.is-invalid {
    background-image: none;
}
.col-md-6,
.col-md-5,
.col-md-1,
.col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}
.row .col-md-4:first-child {
    padding-left: 10px;
}
.row .col-md-4:last-child {
    padding-right: 10px;
}
.boardGrade .row {
    margin-bottom: 5px;
}
.datePicker {
    box-shadow: 0 0px 6px 0 rgb(0 0 0 / 20%);
    padding: 8px;
    min-width: 250px;
    position: absolute;
    z-index: 1111;
    background-color: white;
}
::ng-deep bs-datepicker-inline .bs-datepicker-head,
::ng-deep bs-datepicker-inline .bs-datepicker-body {
    min-width: 250px;
}
span label {
    display: block;
    margin-bottom: 5px;
}
.table .deleteBoardGrade .fa-trash {
    color: #ff0b0b;
    margin-left: 0px;
    margin-top: 12px;
}
.addBoardGradeRow .btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 2px 0;
    font-size: 14px;
    border-radius: 25px;
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
}
::ng-deep bs-datepicker-inline thead th {
    vertical-align: middle !important;
    border-bottom: none !important;
}
::ng-deep bs-datepicker-inline th,
::ng-deep bs-datepicker-inline td {
    padding: 0rem !important;
    vertical-align: middle !important;
    border-top: none !important;
}
::ng-deep .datePicker .bs-datepicker {
    position: relative;
    left: 0px;
    box-shadow: none;
    background-color: aliceblue;
}
.datePicker label {
    font-size: 12px;
    margin-top: 10px;
}
::ng-deep .invisible .bs-datepicker-head button.next,
::ng-deep .invisible .bs-datepicker-head button.previous {
    visibility: hidden !important;
}
::ng-deep mat-horizontal-stepper #cdk-step-content-0-1.mat-horizontal-stepper-content {
    transform: none !important;
}

.removeBtn {
    padding: 0px 6px;
    color: red;
    background: #ff000024;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 12px;
}
.btn-outline {
    width: 90px;
    height: 43px;
    margin-right: 55px;
}
.invalid-feedback {
    display: block;
}
.inputBoxCount {
    top: 7px;
}
