<app-ui-preloader [display]="loading"></app-ui-preloader>
<form [formGroup]="courseAndRefForm" autocomplete="off" #container>
    <div class="table-responsive-md">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr class="">
                    <th class="text-center" style="width: 7%;">S No.</th>
                    <th class="mainType" style="width:17%">Name</th>
                    <!-- <th class="">Master Course</th> -->
                    <th class="" style="width: 15%;">Start Date</th>
                    <th class="" style="width: 15%;">End Date</th>
                    <!-- <th class="" style="width: 25%;">Academics Years</th> -->
                    <th class="" style="width: 34%;">Board and Grade</th>
                    <th class="" style="width: 12%;">Action</th>
                </tr>
            </thead>
            <tbody formArrayName="courseList">
                <tr *ngFor="let row of courseAndRefForm.controls.courseList['controls']; let i = index"
                    [formGroupName]="i" class="">
                    <td class="text-center">{{i+1}}</td>
                    <td class="position-relative">
                        <span *ngIf="!row.controls.editMode.value" class="d-block">{{row.value.name}}</span>
                        <!-- <span *ngIf="!row.controls.editMode.value" class="pt-2 d-block">
                            <label for="">Master Course</label>
                            {{row.value.masterCourse}}
                        </span> -->
                        <span *ngIf="row.controls.editMode.value" class="d-block">
                            <input type="text" class="form-control" formControlName="name" placeholder="Course" #name
                                maxlength="20" autocomplete="nope"
                                [ngClass]="{'is-invalid':submitted && row.controls['name'].errors?.required}">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': name.value.length !== 20,'badge-danger': name.value.length == 20}">
                                {{ name.value.length }} / 20</p>
                            <div *ngIf="submitted && row.controls['name'].errors?.required" class="invalid-feedback">
                                <div *ngIf="row.controls['name'].errors?.required">Course name is required</div>
                            </div>
                        </span>
                        <span *ngIf="row.controls.editMode.value" class="pt-2 d-block">
                            <label for="" style="color: #0091ff;font-weight: 100;">Link Master Course</label>
                            <ng-select [items]="masterCourseList" class="custom" formControlName="masterCourseUniqueId"
                                bindLabel="name" placeholder="Master course" [closeOnSelect]="true"
                                [ngClass]="{'disabled': ismasterCourseFromServer}" bindValue="uniqueId"
                                [clearable]="false" [searchable]="false"
                                [ngClass]="{'is-invalid':submitted && row.controls['masterCourseUniqueId'].errors?.required}">
                            </ng-select>
                            <div *ngIf="submitted && row.controls['masterCourseUniqueId'].errors?.required"
                                class="invalid-feedback">
                                <div *ngIf="row.controls['masterCourseUniqueId'].errors?.required">Master Course
                                    required</div>
                            </div>
                        </span>
                        <span *ngIf="row.controls.editMode.value" class="pt-2 d-block">
                            <label for="" style="color: #0091ff;font-weight: 100;">Select Academic session</label>
                            <ng-select [items]="academicsessionlist" class="custom"
                                formControlName="academicSessionUniqueId" bindLabel="name"
                                placeholder="Academic Session" [closeOnSelect]="true" bindValue="uniqueId"
                                [clearable]="false" [searchable]="false"
                                [ngClass]="{'is-invalid':submitted && row.controls['academicSessionUniqueId'].errors?.required}">
                            </ng-select>
                            <div *ngIf="submitted && row.controls['academicSessionUniqueId'].errors?.required"
                                class="invalid-feedback">
                                <div *ngIf="row.controls['academicSessionUniqueId'].errors?.required">Academic session
                                </div>
                            </div>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!row.controls.editMode.value">{{row.value.startDate}}</span>
                        <span *ngIf="row.controls.editMode.value">
                            <div class="input-group">

                                <input type="text" formControlName="startDate" class="form-control" autocomplete="off"
                                    readonly [ngClass]="{'is-invalid':submitted && row.controls['startDate'].errors}"
                                    show-weeks="false" (ngModelChange)="onDateChange($event,i)" id="datepickerInput"
                                    (click)="datePickerOpen(row);" placeholder="Start Date">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="datePickerOpen(row)"
                                        style="background-color: white;border-left: hidden;"><i
                                            class="mdi mdi-calendar"></i></span>
                                </div>
                                <div *ngIf="submitted && row.controls['startDate'].errors" class="invalid-feedback">
                                    <div *ngIf="row.controls['startDate'].errors.required">Select Start Date</div>
                                </div>
                                <div *ngIf="submitted && row.controls['year'].errors" class="invalid-feedback">
                                    <div *ngIf="row.controls['year'].errors.required">Select year</div>
                                </div>
                                <div *ngIf="submitted && row.controls['month'].errors" class="invalid-feedback">
                                    <div *ngIf="row.controls['month'].errors.required">Select month</div>
                                </div>
                                <div *ngIf="submitted && row.controls['day'].errors" class="invalid-feedback">
                                    <div *ngIf="row.controls['day'].errors.required">Select day</div>
                                </div>
                            </div>

                        </span>
                        <div class="datePicker" *ngIf="row.controls.isShowDatePicker.value"
                            (clickOutside)="onClickedOutside($event,row)" #datePicker
                            [ngClass]="{'invisible':!row.controls.isShowDatePicker.value,'visible':row.controls.isShowDatePicker.value}">
                            <label for="duration">Course Duration</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <ng-select [items]="yearsData" placeholder="year" formControlName="year"
                                        [ngClass]="{'is-invalid':submitted && row.controls['year'].errors?.required}"
                                        (change)="onDurationChange($event,i)" [clearable]="false" [searchable]="false"
                                        [closeOnSelect]="true"></ng-select>
                                </div>
                                <div class="col-md-4">
                                    <ng-select [items]="monthData" formControlName="month" placeholder="Month"
                                        [ngClass]="{'is-invalid':submitted && row.controls['month'].errors?.required}"
                                        (change)="onDurationChange($event,i)" [clearable]="false" [searchable]="false"
                                        [closeOnSelect]="true"></ng-select>
                                </div>
                                <div class="col-md-4">
                                    <ng-select [items]="daysData" formControlName="day" placeholder="Day"
                                        (change)="onDurationChange($event,i)"
                                        [ngClass]="{'is-invalid':submitted && row.controls['day'].errors?.required}"
                                        [clearable]="false" [closeOnSelect]="true" [searchable]="false"></ng-select>
                                </div>
                            </div>
                            <label for="duration">Select Start Date</label>
                            <div class="row mx-0">

                                <div class="" *ngIf="row.controls.isShowDatePicker.value">
                                    <bs-datepicker-inline [bsValue]="bsInlineValue"
                                        (bsValueChange)="dateChange($event, row, i)"></bs-datepicker-inline>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="!row.controls.editMode.value">{{row.value.endDateValue}}</span>
                        <span *ngIf="row.controls.editMode.value">
                            <input class="form-control" type="text" formControlName="endDateValue"
                                placeholder="End Date" disabled="true">
                        </span>
                    </td>
                    <td class="boardGrade">
                        <span *ngIf="!row.controls.editMode.value">
                            <p *ngFor="let boardGarde of row.controls.boardAndGradeReferenceDtoList.value">
                                {{boardGarde.boardName}} - {{boardGarde.gradeName}}</p>
                        </span>
                        <span *ngIf="row.controls.editMode.value" formArrayName="boardAndGradeReferenceDtoList">
                            <div class="row"
                                *ngFor="let boardGarde of row.controls.boardAndGradeReferenceDtoList['controls']; let j = index"
                                [formGroupName]="j">
                                <div class="col-md-5">
                                    <ng-select [items]="boardList" bindLabel="name" bindValue="uniqueId"
                                        formControlName="boardUniqueId" placeholder="Board"
                                        [ngClass]="{'is-invalid':submitted && boardGarde.controls['boardUniqueId'].errors?.required}"
                                        [clearable]="false" [searchable]="false"
                                        (change)="changeBoardGrade(boardGarde,i)"></ng-select>
                                    <div *ngIf="submitted && boardGarde.controls['boardUniqueId'].errors?.required"
                                        class="invalid-feedback">
                                        <div *ngIf="boardGarde.controls['boardUniqueId'].errors?.required">Board
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <ng-select [items]="gradeList" bindLabel="name" bindValue="uniqueId"
                                        formControlName="gradeUniqueId" placeholder="Grade" [multiple]="false"
                                        [closeOnSelect]="true"
                                        [ngClass]="{'is-invalid':submitted && boardGarde.controls['gradeUniqueId'].errors?.required}"
                                        [clearable]="false" [searchable]="false"
                                        (change)="changeBoardGrade(boardGarde,i)">
                                    </ng-select>
                                    <div *ngIf="submitted && boardGarde.controls['gradeUniqueId'].errors?.required"
                                        class="invalid-feedback">
                                        <div *ngIf="boardGarde.controls['gradeUniqueId'].errors?.required">Grade
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 deleteBoardGrade">
                                    <!-- <i class="fas fa-trash" *ngIf="j>0" (click)="deleteBoardGrade(i, j, boardGarde)"></i> -->
                                    <div *ngIf="row.controls.boardAndGradeReferenceDtoList['controls'].length > 1"
                                        class="removeBtn" (click)="deleteBoardGrade(i, j, boardGarde)"> <i
                                            class="fa fa-times" style="font-size: 11px;" aria-hidden="true"></i></div>
                                </div>
                            </div>
                            <div class="row addBoardGradeRow">
                                <a (click)="addBoardGradeRow(i)" color="primary" class="btn btn-circle">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </span>
                    </td>
                    <td class="text-center" *ngIf="!row.controls.editMode.value || row.controls.isNew.value">
                        <div class="delete">
                            <i class="fas fa-trash" (click)="deleteRow(i, row)"></i>
                        </div>
                        <div class="edit" *ngIf="!row.controls.isNew.value" (click)="editRow(i,row)">
                            <i class="fa fa-pen"></i>
                        </div>
                    </td>
                    <td class="text-center"
                        *ngIf="(row.controls.editMode.value && !row.controls.isNew.value) && isFromacademic == false">
                        <div class="correct bg-success" (click)="updateRow(row)">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="cancel bg-danger" (click)="cancelRow(i, row)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td class="text-center"
                        *ngIf="(row.controls.editMode.value && !row.controls.isNew.value) && !isAddNew">

                        <div class="trash" (click)="deleteRow(i, row)">
                            <i class="fas fa-trash" style="font-size: 20px;"></i>
                        </div>
                    </td>
            </tbody>
        </table>
    </div>
    <div class="pt-3 pr-3 pl-3 pb-3 row addNew" *ngIf="isFromSetup == true || isAddNew == true">
        <a (click)="addNewRow()" color="primary" class="btn btn-circle">
            <i class="fa fa-plus fa-2x"></i>
        </a>
    </div>
    <div class="pt-1 pl-3 row d-flex justify-content-end">
        <button class="btn btn-save" (click)="onSubmit()" *ngIf="isFromacademic == false">Save and Next</button>
        <button class="btn btn-outline" (click)="cancelBtn(false)"
            *ngIf="isFromacademic && !isFromSetup">Cancel</button>
        <button class="btn btn-save" (click)="onUpdate()"
            *ngIf="isFromacademic == true && isAddNew == false && !isFromSetup">Update</button>
        <button class="btn btn-save" (click)="onSubmit()"
            *ngIf="isFromacademic == true && isAddNew == true && !isFromSetup">Save</button>
        <button class="btn btn-outline" (click)="previousStep()" *ngIf="isFromSetup">Previous</button>
        <button class="btn btn-save" (click)="onUpdate()"
            *ngIf="isFromacademic == true && isAddNew == false && isFromSetup">Save and Next</button>
        <button class="btn btn-save" (click)="onSubmit()"
            *ngIf="isFromacademic == true && isAddNew == true && isFromSetup">Save and Next</button>
    </div>
    <button class="btn invisible" *ngIf="isFromacademic == false" id="nextBtn" mat-button matStepperNext>Next</button>

</form>