.buttons {
    position: relative;
    right: 25px;
    float: right;
  }

  .saveCancelBtn{
    border: 1px solid #0091ff;
    width: fit-content;
    padding: 8px 35px;  
    text-align: center;
    color: #0091ff;
    cursor: pointer;
  }

  .saveCancelBtn:hover{
      color: white;
      background: #0091ff;
  }

  .mainHeadingTest{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: 0px;
  }

  .headingTitleTest{
    font-size: 10px;
    margin-left: 0px;
    color: gray;
  }


  .removeLecturePopup {
    width:100%;
    top: 0px;
    z-index: 1050;
    padding: 0px 0px 20px;
  }


  .conflicts {
    float: left;
    cursor: pointer;
    color: #ee405a;
    background-color: #ffa1af38;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 1px 4px;
    font-size: 12px;
}

.removeLecture {
    float: right;
    cursor: pointer;
    color: white;
    background-color: red;
    margin-top: 5px;
    padding: 1px 16px;
    font-size: 12px;
    border-radius: 14px;
}
.viewConflictPop {
  width: 98% !important;
  top: 0px;
}