<div *ngIf="type==1">
    
    <div *ngIf="childType==1">
        <div style="border-bottom: 1px solid gray;background-color: #d3d3d33b;">
            <h4 class="pl-2 py-2" style="margin-top: 0;">Initial Details:</h4>
            <div class="row mx-2 mb-3">
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.courseName ? dataForSubstitution.courseName :''}}</div>
                    <div class="row headingTitleTest">Course </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.batchIds ? dataForSubstitution.batchIds[0].name :''}}</div>
                    <div class="row headingTitleTest">Batch Name </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">Gender - {{dataForSubstitution.groupIds && dataForSubstitution.groupIds.length > 0 ? dataForSubstitution.groupIds[0].name : ''}}</div>
                    <div class="row headingTitleTest">Batch Group</div>
                </div>
                
            </div>
            <div class="row mx-2 mb-3">
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.subjectName ? dataForSubstitution.subjectName :''}}</div>
                    <div class="row headingTitleTest">Subject </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.lessonStartTime |date:'shortTime'  :'UTC'}}-{{dataForSubstitution.lessonEndTime |date:'shortTime' :'UTC' }}</div>
                    <div class="row headingTitleTest">Time </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.classRoomName ? dataForSubstitution.classRoomName :''}}</div>
                    <div class="row headingTitleTest">Classrroom </div>
                </div>
                
                
            </div>
            <!-- <div class="row mx-2 mb-3">
                <div class="col-md-7">
                    <div class="row mainHeadingTest">Gender - {{dataForSubstitution.groupIds && dataForSubstitution.groupIds.length > 0 ? dataForSubstitution.groupIds[0].name : ''}}</div>
                    <div class="row headingTitleTest">Batch Group</div>
                </div>
                <div class="col-md-5">
                    <div class="row mainHeadingTest">{{dataForSubstitution.subjectName ? dataForSubstitution.subjectName :''}}</div>
                    <div class="row headingTitleTest">Subject </div>
                </div>
            </div> -->
            <div class="row mx-2 mb-3">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                    style="border-radius: 50%;" alt=""></span>
                        </div>
                        <div class="col-md-9" style="padding-left: 0;margin-left: 0px;">
                            <div class="row mainHeadingTest" style="color: red;">{{dataForSubstitution.teacherIds && dataForSubstitution.teacherIds.length > 0 ? dataForSubstitution.teacherIds[0].name:''}}</div>
                            <div class="row headingTitleTest">Teacher</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <form [formGroup]="substituteForm" class="w-100 px-2 pb-3">
            <h4 class="pl-2 pb-2">Substitute With:</h4>
            <div class="row mx-0">
                
                <div class="col-6">
                    <div class="form-group">
                        <label for="fname">Subject</label>
                        <ng-select [items]="subjectList"  bindLabel="name" formControlName="subjectId"
                            bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                            [searchable]="false" [ngClass]="{ 'is-invalid': submitted && f.subjectId.errors }" (change)="getTeachersListBySubject($event)"></ng-select>
                        <div *ngIf="submitted && f.subjectId.errors?.required" class="invalid-feedback">
                            Please select subject
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fname">Classroom</label>
                        <ng-select [items]="classroomList" bindLabel="name" formControlName="classroomId"
                            bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select classroom" [searchable]="false"
                            [ngClass]="{ 'is-invalid': submitted && f.classroomId.errors }" (change)="changeClassRoom($event)">
                        </ng-select>
                        <div *ngIf="submitted && f.classroomId.errors" class="invalid-feedback">
                            <div *ngIf="f.classroomId.errors.required">Please select clssroom</div>
                        </div>
                        <p class="conflicts" *ngIf="isConflictsClassroom" (click)="viewConflict(2)">View Conflict</p>
                        <!-- <p class="removeLecture" *ngIf="isConflicts" style="float: right;" (click)="removeLecture(1)">
                            Remove
                            Lecture <i class="fa fa-times" aria-hidden="true"></i></p> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fname">Teacher</label>
                        <ng-select [items]="teacherList" bindLabel="name" formControlName="teacherId"
                            bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select teacher" [searchable]="false"
                            [ngClass]="{ 'is-invalid': submitted && f.teacherId.errors }" (change)="checkConflict()">
                        </ng-select>
                        <div *ngIf="submitted && f.teacherId.errors" class="invalid-feedback">
                            <div *ngIf="f.teacherId.errors.required">Please select teacher</div>
                        </div>
                        <p class="conflicts" *ngIf="isConflictsTeacher" (click)="viewConflict(1)">View Conflict</p>
                    </div>
                </div>
                

            </div>
            <div class="row buttons mt-3" *ngIf="!isConflictsTeacher && !isConflictsClassroom">
                <span (click)="cancelSubstitute()" class="saveCancelBtn" style="margin-right: 15px;">Cancel</span>
                <span (click)="saveSubstituteForm(1)"  class="saveCancelBtn">Save</span>
               
            </div>
            <div class="row mt-3" style="margin-left: 12px;" *ngIf="isConflictsTeacher || isConflictsClassroom">
                <span (click)="cancelSubstitute()" class="saveCancelBtn" style="margin-right: 15px;">Cancel</span>
                <span (click)="saveSubstituteForm(2)"  class="saveCancelBtn" style="margin-right: 15px;">Ignore & Save</span>
                <span (click)="saveSubstituteForm(3)"  class="saveCancelBtn">Replace & Save</span>
            </div>
        </form>
    </div>
    <!-- <ng-template #elseBlock>
        <h4 class="pl-2 py-2">Cancel Lecture</h4>
        <p class="pt-1 mx-2"> Are you sure you want to delete this Lecture?</p>
        <div class="row buttons mt-3 mx-2">
            <a class="btn btn-no btn-outline" (click)="deleteAction(2)">No</a>
            <button class="btn btn-yes btn-filled" (click)="deleteAction(1)">Yes</button>
        </div>
    </ng-template> -->
</div>

<div class="viewSidePopup removeLecturePopup" [ngClass]="{'slideInLeft':!isRemoveLecture,'slideInRight':isRemoveLecture}"
    *ngIf="isRemoveLecture">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4 >Remove Lecture</h4>
           
        </div>
    </div>
    <div class="row mx-0 px-1 py-2">
        <p class="pt-2 mx-2" >Are you sure you want to remove this lecture?</p>
       
        <div class="row w-100 mt-3 justify-content-center">
            <span (click)="removeCancel()" class="saveCancelBtn" style="margin-right: 15px;">No</span>
            <span (click)="removeAction()" class="saveCancelBtn">Yes</span>
           
           
        </div>
    </div>
</div>

<div class="viewSidePopup viewConflictPop" [ngClass]="{'slideInLeft':!isViewConflict,'slideInRight':isViewConflict}"
    *ngIf="isViewConflict">
    <app-view-conflict [viewType]="3" [conflictData]="viewConflictObject"
        (newItemEvent)="closeConflict($event)"></app-view-conflict>
</div>
