@import "../../../../../assets/scss/custom/components/common-component";
.period {
    margin: 5px 10px 15px 5px !important;
    min-height: 110px;
    border-radius: 5px;
    border-left: 4px solid;
}
.box .index,
.box .end {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-right: 2px solid #e9e8e8;
    padding: 0px 19px;
    font-size: 15px;
}
.box .end {
    border: 0px !important;
}
.calender,
.schedule {
    box-shadow: 0 0 10px 0 #c5c5c5;
    padding: 10px 15px 15px;
    margin-bottom: 15px;
}
bs-datepicker-inline ::ng-deep .bs-datepicker {
    box-shadow: none;
    left: 3px !important;
}
bs-datepicker-inline ::ng-deep .bs-datepicker-head button.current:nth-child(3) {
    display: none;
}
bs-datepicker-inline ::ng-deep .bs-datepicker-head {
    min-width: fit-content !important;
    padding: 6px !important;
    text-align: end !important;
}
bs-datepicker-inline ::ng-deep .bs-datepicker-body {
    min-width: 310px !important;
    border: none !important;
}
.calender h5 {
    position: absolute;
    z-index: 1111;
    top: 15px;
    margin-left: 10px;
}

.mediaText {
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.viewSlot {
    top: 85px;
    width: 30%;
    min-height: 210px;
    padding: 20px 15px 20px 20px;
}
.editSlotForm {
    top: 85px;
    width: 30%;
    padding: 0px 0px 10px;
}
.periodlist {
    max-height: 70vh;
    overflow-y: scroll;
}
.periodlist::-webkit-scrollbar {
    width: 2px;
}
