<div class="row mx-0 periodListRow pt-3 pb-2" [ngClass]="{'stack-back':isPeriodView}">
    <div class="col-8">
        <div class="row mx-0 periodlist">
            <div class="col-6 period box px-0" *ngFor="let slot of slotList; let i=index;"
                [ngClass]="colorClassArray[i%5]" (click)="viewSlot(slot,i)">
                <div class="row mx-0">
                    <div class="col-1 index">{{i+1}}</div>
                    <div class="col-9">
                        <div class="row mx-0 my-2">
                            <div class="col-6 pb-2">
                                <p>{{slot.name}}</p>
                                <span>Slot Name</span>
                            </div>
                            <div class="col-6 pb-2">
                                <p>{{slot.shiftName}}</p>
                                <span>Shift Name</span>
                            </div>
                            <div class="col-6 pb-1">
                                <p>{{slot.startTime}}</p>
                                <span>Start Time</span>
                            </div>
                            <div class="col-6 pb-1">
                                <p>{{slot.endTime}}</p>
                                <span>End Time</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 end"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="calender">
            <h5>Calender</h5>
            <bs-datepicker-inline [bsValue]="bsInlineValue" (bsValueChange)="dateChange($event)"></bs-datepicker-inline>
        </div>
        <div class="schedule">
            <h5 class="pb-2">Today's Schedule</h5>
            <div class="row mx-0 my-2" *ngFor="let item of scheduleList; let i=index;">
                <div class="col-10 d-flex">
                    <span class="mediaText" [ngClass]="colorClassArray[i%5]">
                        P{{i+1}}
                    </span>
                    <span class="details">
                        <p>{{item.name}}</p>
                        <span>{{item.lectureText}}</span>
                    </span>
                </div>
                <div class="col-2">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="viewSidePopup viewSlot" [ngClass]="{'slideInLeft':!isPeriodView,'slideInRight':isPeriodView}"
    *ngIf="isPeriodView">
    <button type="button" class="closePopup" (click)="closeViewSlot()" aria-label="Close">x</button>
    <div class="row mx-0 clearfix pt-2">
        <div class="col-6 pl-0">
            <p>{{selectedSlot.name}}</p>
            <span>Slot Name</span>
        </div>
        <div class="col-6 pl-0">
            <p>{{selectedSlot.shiftName}}</p>
            <span>Shift Name</span> 
        </div>
    </div>
    <div class="row mx-0 my-3">
        <div class="col-6 pl-0">
            <p>{{selectedSlot.startTime}}</p>
            <span>Start Time</span>
        </div>
        <div class="col-6 pl-0">
            <p>{{selectedSlot.endTime}}</p>
            <span>End Time</span>
        </div>
    </div>
    <div class="row mx-0 justify-content-end">
        <div class="delete">
            <i class="fas fa-trash" (click)="deleteSlot(selectedSlot)"></i>
        </div>
        <div class="edit" (click)="editSlot(selectedSlot)">
            <i class="fa fa-pen"></i>
        </div>
    </div>
</div>
<div class="viewSidePopup editSlotForm" [ngClass]="{'slideInLeft':!isEditSlot,'slideInRight':isEditSlot}"
    *ngIf="isEditSlot">
    <app-create-period [slotData]="selectedSlot" (close)="closeEditNewForm($event)">
    </app-create-period>
</div>