<div class="row" style="margin-left:0 ;margin-right: 0;">
    
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 mainHeading">Quick Start</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background-color: #00a1ffab;">
                    <div class="row">
                        <div class="col-8">
                            <div class="row heading">8</div>
                            <div class="row headingTitle">Total Boards</div>
                        </div>
                        <div class="col-4">
                            <span><i class="far fa-clipboard" style="font-size: 57px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #ff9900e8;">
                    <div class="row">
                        <div class="col-8">
                            <div class="row heading">5</div>
                            <div class="row headingTitle">Total Grades</div>
                        </div>
                        <div class="col-4">
                            <span><i class="far fa-clipboard" style="font-size: 57px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #f18055;">
                    <div class="row">
                        <div class="col-8">
                            <div class="row heading">120+</div>
                            <div class="row headingTitle">Courses</div>
                        </div>
                        <div class="col-4">
                            <span><i class="far fa-clipboard" style="font-size: 57px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background-color: #0091ff;">
                    <div class="row">
                        <div class="col-8">
                            <div class="row heading">102+</div>
                            <div class="row headingTitle">Batches</div>
                        </div>
                        <div class="col-4">
                            <span><i class="far fa-clipboard" style="font-size: 57px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #1b00ffab;">
                    <div class="row">
                        <div class="col-8">
                            <div class="row heading">30+</div>
                            <div class="row headingTitle">Subjects</div>
                        </div>
                        <div class="col-4">
                            <span><i class="far fa-clipboard" style="font-size: 57px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #ea6060;">
                    <div class="row">
                        <div class="col-8">
                            <div class="row heading">300+</div>
                            <div class="row headingTitle">Assessments</div>
                        </div>
                        <div class="col-4">
                            <span><i class="far fa-clipboard" style="font-size: 57px;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mainHeading">Today’s Class</div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-4">
                <div class="card2">
                    <div class="row mlmrmb">
                        <div class="col-10">
                            <div class="row head">Lipsum generator Lorem
                                Ipsum</div>
                           
                        </div>
                        <div class="col-2" style="padding-right: 0;padding-left: 0;">
                            <span><img src="assets/images/users/user-1.jpg" height="32px" width="35px" style="border-radius: 50%;" alt=""></span>
                        </div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                                <div class="col-md-2" style="padding-left: 0;"><i class="fas fa-clock" style="color:#808080ab"></i></div> 
                                <div class="col-md-8 timeBatch">11:30 AM</div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                        <div class="col-md-8" style="padding-left: 0;padding-right: 0;">
                            <img src="assets/images/users/user-1.jpg" height="30px" width="30px" class="circleWithSingle"  alt="">
                            <img src="assets/images/users/user-2.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-3.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-4.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-5.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <span class="circleImageCountBadge">+30</span>
                        </div> 
                        <div class="col-md-4" style="padding-right: 0;"><i class="fa fa-book" style="float: right;margin-top: 8px;color: #80808078;" aria-hidden="true"></i></div>
            </div>
            <div class="row mlmrmt" style="border-top: 1px solid #e8e8e8;">
                       
                <div class="col-md-5" style="padding-left: 0;padding-right: 0;cursor:pointer;">
                   Details
                </div> 
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-right: 0;"><span style="color: #80808078;float: right;">Available</span></div>
    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card2">
                    <div class="row mlmrmb">
                        <div class="col-10">
                            <div class="row head">Lipsum generator Lorem
                                Ipsum</div>
                           
                        </div>
                        <div class="col-2" style="padding-right: 0;padding-left: 0;">
                            <span><img src="assets/images/users/user-3.jpg" height="32px" width="35px" style="border-radius: 50%;" alt=""></span>
                        </div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                                <div class="col-md-2" style="padding-left: 0;"><i class="fas fa-clock" style="color:#808080ab"></i></div> 
                                <div class="col-md-8 timeBatch">11:30 AM</div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                        <div class="col-md-8" style="padding-left: 0;padding-right: 0;">
                            <img src="assets/images/users/user-1.jpg" height="30px" width="30px" class="circleWithSingle"  alt="">
                            <img src="assets/images/users/user-2.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-3.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-4.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-5.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <span class="circleImageCountBadge">+30</span>
                        </div> 
                        <div class="col-md-4" style="padding-right: 0;"><i class="fa fa-book" style="float: right;margin-top: 8px;color: #80808078;" aria-hidden="true"></i></div>
            </div>
            <div class="row mlmrmt" style="border-top: 1px solid #e8e8e8;">
                       
                <div class="col-md-5" style="padding-left: 0;padding-right: 0;cursor:pointer;">
                   Details
                </div> 
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-right: 0;"><span style="color: #80808078;float: right;">Busy</span></div>
    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card2">
                    <div class="row mlmrmb">
                        <div class="col-10">
                            <div class="row head">Lipsum generator Lorem
                                Ipsum</div>
                           
                        </div>
                        <div class="col-2" style="padding-right: 0;padding-left: 0;">
                            <span><img src="assets/images/users/user-6.jpg" height="32px" width="35px" style="border-radius: 50%;" alt=""></span>
                        </div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                                <div class="col-md-2" style="padding-left: 0;"><i class="fas fa-clock" style="color:#808080ab"></i></div> 
                                <div class="col-md-8 timeBatch">11:30 AM</div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                        <div class="col-md-8" style="padding-left: 0;padding-right: 0;">
                            <img src="assets/images/users/user-1.jpg" height="30px" width="30px" class="circleWithSingle"  alt="">
                            <img src="assets/images/users/user-2.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-3.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-4.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-5.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <span class="circleImageCountBadge">+30</span>
                        </div> 
                        <div class="col-md-4" style="padding-right: 0;"><i class="fa fa-book" style="float: right;margin-top: 8px;color: #80808078;" aria-hidden="true"></i></div>
            </div>
            <div class="row mlmrmt" style="border-top: 1px solid #e8e8e8;">
                       
                <div class="col-md-5" style="padding-left: 0;padding-right: 0;cursor:pointer;">
                   Details
                </div> 
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-right: 0;"><span style="color: #80808078;float: right;">Available</span></div>
    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card2">
                    <div class="row mlmrmb">
                        <div class="col-10">
                            <div class="row head">Lipsum generator Lorem
                                Ipsum</div>
                           
                        </div>
                        <div class="col-2" style="padding-right: 0;padding-left: 0;">
                            <span><img src="assets/images/users/user-7.jpg" height="32px" width="35px" style="border-radius: 50%;" alt=""></span>
                        </div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                                <div class="col-md-2" style="padding-left: 0;"><i class="fas fa-clock" style="color:#808080ab"></i></div> 
                                <div class="col-md-8 timeBatch">11:30 AM</div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                        <div class="col-md-8" style="padding-left: 0;padding-right: 0;">
                            <img src="assets/images/users/user-1.jpg" height="30px" width="30px" class="circleWithSingle"  alt="">
                            <img src="assets/images/users/user-2.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-3.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-4.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-5.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <span class="circleImageCountBadge">+30</span>
                        </div> 
                        <div class="col-md-4" style="padding-right: 0;"><i class="fa fa-book" style="float: right;margin-top: 8px;color: #80808078;" aria-hidden="true"></i></div>
            </div>
            <div class="row mlmrmt" style="border-top: 1px solid #e8e8e8;">
                       
                <div class="col-md-5" style="padding-left: 0;padding-right: 0;cursor:pointer;">
                   Details
                </div> 
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-right: 0;"><span style="color: #80808078;float: right;">Busy</span></div>
    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card2">
                    <div class="row mlmrmb">
                        <div class="col-10">
                            <div class="row head">Lipsum generator Lorem
                                Ipsum</div>
                           
                        </div>
                        <div class="col-2" style="padding-right: 0;padding-left: 0;">
                            <span><img src="assets/images/users/user-2.jpg" height="32px" width="35px" style="border-radius: 50%;" alt=""></span>
                        </div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                                <div class="col-md-2" style="padding-left: 0;"><i class="fas fa-clock" style="color:#808080ab"></i></div> 
                                <div class="col-md-8 timeBatch">11:30 AM</div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                        <div class="col-md-8" style="padding-left: 0;padding-right: 0;">
                            <img src="assets/images/users/user-1.jpg" height="30px" width="30px" class="circleWithSingle"  alt="">
                            <img src="assets/images/users/user-2.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-3.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-4.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-5.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <span class="circleImageCountBadge">+30</span>
                        </div> 
                        <div class="col-md-4" style="padding-right: 0;"><i class="fa fa-book" style="float: right;margin-top: 8px;color: #80808078;" aria-hidden="true"></i></div>
            </div>
            <div class="row mlmrmt" style="border-top: 1px solid #e8e8e8;">
                       
                <div class="col-md-5" style="padding-left: 0;padding-right: 0;cursor:pointer;">
                   Details
                </div> 
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-right: 0;"><span style="color: #80808078;float: right;">Available</span></div>
    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card2">
                    <div class="row mlmrmb">
                        <div class="col-10">
                            <div class="row head">Lipsum generator Lorem
                                Ipsum</div>
                           
                        </div>
                        <div class="col-2" style="padding-right: 0;padding-left: 0;">
                            <span><img src="assets/images/users/user-5.jpg" height="32px" width="35px" style="border-radius: 50%;" alt=""></span>
                        </div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                                <div class="col-md-2" style="padding-left: 0;"><i class="fas fa-clock" style="color:#808080ab"></i></div> 
                                <div class="col-md-8 timeBatch">11:30 AM</div>
                    </div>
                    <div class="row mlmrmbmt">
                       
                        <div class="col-md-8" style="padding-left: 0;padding-right: 0;">
                            <img src="assets/images/users/user-1.jpg" height="30px" width="30px" class="circleWithSingle"  alt="">
                            <img src="assets/images/users/user-2.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-3.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-4.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <img src="assets/images/users/user-5.jpg" height="30px" width="30px" class="circleImgaes" alt="">
                            <span class="circleImageCountBadge">+30</span>
                        </div> 
                        <div class="col-md-4" style="padding-right: 0;"><i class="fa fa-book" style="float: right;margin-top: 8px;color: #80808078;" aria-hidden="true"></i></div>
            </div>
            <div class="row mlmrmt" style="border-top: 1px solid #e8e8e8;">
                       
                <div class="col-md-5" style="padding-left: 0;padding-right: 0;cursor:pointer;">
                   Details
                </div> 
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-right: 0;"><span style="color: #80808078;float: right;">Busy</span></div>
    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">test 7</div>
</div>