.card{
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    
    padding: 20px 14px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
    color: white;
    
  }

  .headingTitle{
        font-size: 12px;
        margin-left: -2px;
        margin-top: 8px;
}

.heading{
    margin-left: -2px;font-size: 23px;font-weight: bold;
}

.mainHeading{
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.card2{
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    padding: 20px 0px;
    font-size: 12px;
}

.head{
    color: #000000b3;
    
    font-weight: 600;
}

.mlmrmbmt{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mlmrmb{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
}

.mlmrmt{
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 13px;
}

.timeBatch{
    padding-left: 0;color: gray;
}

.circleImgaes{
    border-radius: 50%;
    margin-left: -13px;
    border: 1px solid white;
}

.circleWithSingle{
    border-radius: 50%;
    
    border: 1px solid white;
}

.circleImageCountBadge{
    border: 1px solid white;
    height: 30px;
    width: 30px;
    padding: 9px 6px;
    font-size: 10px;
    border-radius: 39px;
    margin-left: -11px;
    background-color: #0091ff;
    color: white;
    font-weight: bold;
}