.search-bar {
	border: 1px solid #80808057;
	border-radius: 5px 5px 0px 0px;
	height: 52px;
}

.sliders-filter {
	margin-top: 14px;
	cursor: pointer;
	margin-right: 20px;
	height: 20px;
}

.search-filter {
	margin-top: 14px;
	cursor: pointer;
	margin-left: 20px;
	height: 20px;
}

.search-input {
	border: none;
	height: 50px !important
}

.compose-box {
	height: 430px;
	border-left: 1px solid #80808057;
	border-right: 1px solid #80808057;
}

.compose-box-footer {
	height: 75px;
	border: 1px solid #80808057;
	border-radius: 0px 0px 5px 5px;
}

.quickAdd {
	border: 1.6px solid var(--newApp-color);
	border-radius: 1px;
	height: 42px;
	padding: 0rem 0.6rem;
	background-color: var(--newApp-color) !important;
	color: #fff !important;
	text-align: center;
}

.quickAdd .fa-chevron-down {
	border-left: 1px solid #cccccc;
	padding-left: 13px;
	margin-left: 40px;
	height: 30px;
	vertical-align: middle;
	padding-top: 8px;
}

[type="checkbox"] {
	vertical-align: middle;
	margin-right: 5px;
}

.badge {
	display: inline-block;
	padding: 1.5em 1.75em;
	color: #5F5F5F;
	border: 1px solid #CACACA;
	background-color: #FFFFFF;
	font-size: 79%;
	font-weight: 700;
	line-height: 0;
	margin-left: 7px;
	margin-top: 7px;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.35rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.title-input {
	border: none;
	height: 50px;
	width: 100%;
	font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.input-hr {
	margin: 0;
	border: 0;
	border-top: 1px solid #d7d6d6;
}

// drag and drop modal start
.dropzone {
	height: 270px;
	display: table;
	width: 100%;
	background-color: #ffffff !important;
	border: dashed 2px var(--newApp-color) !important;
}

input[type="file"] {
	display: none;
}

.text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.centered {
	font-size: 1.3em;
	text-align: center;
}

.textLink {
	color: var(--newApp-color);
}

// drag and drop modal end
// preview modal start
.upload-preview {
	// height: 600px;
	width: 100%;
	border: 1px solid white !important;
	border-radius: 5px !important;
	background-color: #ffffff !important;
}

.modal-body {
	max-height: 445px;
	overflow-y: auto;
	padding: 20px 0px 0px 30px;
}

.preview-delete {
	margin-top: 30px;
	cursor: pointer;
	margin-left: 10px;
}

.button-group {
	display: flex;
	padding-bottom: 15px;
	justify-content: flex-end;
}

.button:hover {
	background-color: var(--newApp-color);
	color: white !important;
}

.btnsave {
	background-color: var(--newApp-color);
	color: white !important;
}

.btncancle {
	padding: 13px 60px!important;
	background-color: white;
	color: var(--newApp-color) !important;
}

.btncancle-sendnow {
	background-color: white;
	color: var(--newApp-color) !important;
}

.button {
	border: 1px solid var(--newApp-color);
	text-align: center;
	padding: 13px 42px;
	cursor: pointer;
}

.addnew {
	margin-left: 14px;
	cursor: pointer;
}

// preview modal end
.minhold {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	margin-top: 6px;
	background-clip: padding-box;
	width: 99%;
	float: left;
}

.container {
	border-radius: 4px;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	width: 300px;
	height: 50px;
	padding: 0;
	float: left;
	margin-right: 8px;
}

.container-sm {
	border-radius: 4px;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	width: 36px;
	height: 30px;
	padding: 5px;
	float: left;
	margin-top: 8px;
}

.file-name {
	margin-left: 5px;
	margin-top: 5px;
}

.file-img {
	width: 40px;
	margin: 5px;
	padding: 5px;
	border-radius: 50%;
	background-color: #B7B7B7;
}

.file-size {
	position: absolute;
	left: 57px;
	top: 25px;
	font-size: 12px;
}

.file-caption {
	position: absolute;
	color: var(--newApp-color);
	cursor: pointer;
	left: 185px;
	top: 28px;
	font-size: 10px;
	font-style: italic;
}

.file-delete {
	position: absolute;
	bottom: 17px;
	left: 270px;
	cursor: pointer;
}

.file-size-second {
	position: absolute;
	left: 367px;
	top: 25px;
	font-size: 12px;
}

.file-caption-second {
	position: absolute;
	color: var(--newApp-color);
	cursor: pointer;
	left: 495px;
	top: 28px;
	font-size: 10px;
	font-style: italic;
}

.file-delete-second {
	position: absolute;
	bottom: 17px;
	left: 580px;
	cursor: pointer;
}

.space {
	margin-left: 17px;
}

.saveastemplete {
	color: #7C7B98;
	word-wrap: break-word;
	margin-top: 11px;
	float: right;
}

.mg-0 {
	margin: 0px;
}

.attached-img-head {
	padding: 15px;
}

.attached-file-row {
	margin: 0px 0px 20px 0px;
}

.attached-file-img-div {
	background-color: red;
	padding: 0px;
	height: 89px;
	margin: 0px 0px 5px 0px;
}

.attached-file-img {
	width: 100%;
	height: 100%;
}

.attached-file-caption-textarea {
	width: 100%;
	font-size: 14px;
	resize: none;
}

.add-img-btn {
	margin-left: 15px;
	margin-right: 45px;
}

.display-flex {
	display: flex;
}

.upload-subtitle {
	font-size: 14px;
	color: #C5C6D1;
}

.cbf {
	padding: 16px 5px 15px 5px
}

.margin-t {
	margin-top: 9px;
}

.select-var {
	background-color: #F9F9F9;
	height: 430px;
}

.select-var-head {
	padding: 16px 5px 15px 5px
}

.compose-title {
	margin: 15px 0px 0px 0px;
}

.compose-msg {
	width: 100%;
	font-size: 14px;
	border: none;
}

// send button start
.dropbtn {
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	bottom: 42px;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

//   send button end
.button-group-sendnow {
	display: -webkit-box;
	padding-bottom: 15px;
	justify-content: flex-end;
}

.modal-body-sendnow {
	padding: 20px 0px 0px 15px;
}

.modal-body-createtemplete {
	padding: 20px 29px 0px 29px;
}

.c-p {
	cursor: pointer;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.add-templete-btn {
	margin-left: 15px;
	margin-right: 20px;
}

.btncancle-add-templete {
	padding: 13px 64px;
}

.filter-container {
	position: relative;
	background-color: #fff;
	z-index: 11;
	margin: 0;
	height: 490px;
	padding: 15px 30px 30px 30px;
	margin: 1px 0px 0px 0px;
	box-shadow: 0 9px 8px -3px rgb(64 60 67 / 24%), 8px 0 8px -7px rgb(64 60 67 / 24%), -8px 0 8px -7px rgb(64 60 67 / 24%);
}

// css for filter table
$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
.customCardCss {
	margin-bottom: 0px;
	border-radius: 1px;
	box-shadow: 0 0 1px 2px #98989812;
}

.filterBox {
	border: 1px solid;
	padding: 4px 6px;
	border-radius: 14px;
	cursor: pointer;
}

.plusBox {
	border: 1px solid;
	padding: 4px 6px;
	border-radius: 14px;
}


/* width */

::-webkit-scrollbar {
	width: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: rgb(243, 240, 240);
	// outline: 1px solid #888;
	border-radius: 20px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: rgb(209, 206, 206);
}

.assignBulk {
	float: right;
	border: 1px solid #0091ff;
	width: 100px;
	padding: 10px 10px;
	text-align: center;
	color: #0091ff;
	cursor: pointer;
}

.cancelBulk {
	float: left;
	border: 1px solid #454849;
	width: 100px;
	padding: 10px 10px;
	text-align: center;
	color: #454849;
	cursor: pointer;
}

.unassignedStud:hover,
.assignBulk:hover,
.searchShud:hover,
.clearAll:hover {
	background-color: #0091ff;
	color: white;
}

.closeBtn:hover,
.cancelBulk:hover {
	background-color: #454849;
	color: white;
}

.searchShud {
	float: right;
	border: 1px solid #0091ff;
	padding: 10px;
	cursor: pointer;
	color: #0091ff;
}

.closeBtn {
	float: left;
	border: 1px solid #454849;
	width: 123px;
	padding: 10px 42px;
	color: #454849;
	cursor: pointer;
}

.clearAll {
	margin-left: 8%;
	border: 1px solid #0091ff;
	padding: 10px 32px;
	color: #0091ff;
	cursor: pointer;
	float: left;
}

.unassignedStud {
	float: right;
	border: 1px solid #0091ff;
	padding: 6px 10px;
	cursor: pointer;
	color: #0091ff;
}

.modalClass .modal-dialog {
	max-width: 450px !important;
}

.form-check-input:checked {
	background-color: var(--newApp-color);
	border-color: var(--newApp-color);
}

.custom-control-label::before {
	width: 1.243em;
	height: 1.243em;
}

.custom-control-input:checked~.custom-control-label::before {
	color: var(--newApp-color);
	border-color: var(--newApp-color);
	background-color: var(--newApp-color);
}

.custom-checkbox .custom-control-label {
	border-color: var(--newApp-color);
	cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 0rem;
}

.custom-control-label::after {
	position: absolute;
	text-align: center;
	top: 0.17625rem;
	color: white;
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	left: -1.46rem;
	display: block;
	width: 1rem;
	height: 1rem;
	font-size: 11px;
	background-image: none;
	background: no-repeat 50%/50% 50%;
}

.select-btn {
	margin-left: 15px;
}

.checkbox-size {
	zoom: 1.5;
}

.margin-r {
	margin-right: 4px;
}

.filter-left-side {
	border-right: 1px solid rgb(167, 166, 166);
	padding: 0px 30px 0px 0px;
}

.filter-right-side {
	padding-left: 30px;
}

.filter-head {
	color: #5F5E75;
}

.shadow-none {
	box-shadow: none;
}

.table-div {
	height: 360px;
	overflow-x: hidden;
}

.th-background {
	background-color: white !important;
}

.select-al {
	float: left;
	margin-top: 3px;
	margin-left: -25px;
	color: gray;
}

.filter-search-bar {
	height: 26px;
	border-radius: 15px;
	width: 280px;
}

.margin-b {
	margin-bottom: 0;
}

.filter-canlce-btn-div {
	margin-top: 1rem;
	margin-bottom: 0px
}

.filter-select-btn-div {
	margin-top: 1rem;
	margin-bottom: 0px
}

.filter-cancle-btn {
	padding: 13px 68px
}

.w-20 {
	width: 20px;
}

.filter-search-div {
	float: right;
	margin-right: 6px;
}

.w-15 {
	width: 15px;
}

@import "../../../../../assets/scss/custom/components/common";

//schedule and send start modal
.card {
	min-height: 45vh;
}

.card.stack-top-new {
	// min-height: 100%;
	position: fixed;
	width: 33%!important;
}

.card-full-screen {
	min-height: 100vh;
}

.emptyTable {
	overflow: initial !important;
}

.stack-back {
	opacity: 0.5;
	pointer-events: none;
	height: 93vh;
}

.stack-top-new {
	padding: 0px !important;
	// width: 75%;
	width: 78% !important;
	// height: 100%;
	position: absolute;
	// float: right;
	top: 0;
	// right: 0;
	opacity: 1;
	z-index: 1050;
	pointer-events: fill !important;
	overflow-y: scroll;
	overflow-x: hidden;
}

input.form-control:focus,
input.form-control:focus~.input-group-append .input-group-text {
	border-color: var(--newApp-color);
}

.stack-top-new {
	/* for chrome and safari*/
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slidein;
	/*for firefox*/
	-moz-animation-duration: 1s;
	-moz-animation-name: slidein;
	/* for opera*/
	-o-animation-duration: 1s;
	-o-animation-name: slidein;
	/* Standard syntax*/
	animation-duration: 1s;
	animation-name: slidein;
	margin-left: 19%;
	right: 0;
}

@-webkit-keyframes slidein {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: 19%;
	}
}

@-moz-keyframes slidein {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: 19%;
	}
}

@-o-keyframes slidein {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: 19%;
	}
}

@keyframes slidein {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: 19%;
	}
}

.table-user .btn-className.primary {
	color: var(--primary) !important;
	border-color: var(--primary) !important;
	background-color: var(--primarybg) !important;
}

.table-user .btn-className.info {
	color: var(--info) !important;
	border-color: var(--info) !important;
	background-color: var(--infobg) !important;
}

.table-user .btn-className.success {
	color: var(--success) !important;
	border-color: var(--success) !important;
	background-color: var(--successbg) !important;
}

.table-user .btn-className.warning {
	color: var(--warning) !important;
	border-color: var(--warning) !important;
	background-color: var(--warningbg) !important;
}

.table-user .btn-className.danger {
	color: var(--danger) !important;
	border-color: var(--danger) !important;
	background-color: var(--dangerbg) !important;
}

.table .table-user .btn-orgName {
	color: #fca54d;
	border-color: #fca54d;
	background-color: #fca54d1a !important;
}

.backdrop.show {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #323a46;
	opacity: 0.5;
	pointer-events: none !important;
}

.quickForm-back {
	pointer-events: none;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
	background-color: var(--newApp-color);
	border-color: var(--newApp-color);
}

@media screen and (min-width: 1480px) {
	.card.stack-top-new {
		width: 70%;
	}
}

.main-row {
	border-bottom: 1px solid #80808047;
	margin: 0;
}

.main-head {
	padding: 18px 20px;
}

.sub-head {
	padding: 0;
	background-color: #F7F7F7;
}

.m-0 {
	margin: 0
}

.date-picker-active {
	border-right: hidden;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.date-picker-icon {
	background-color: white;
	border-left: hidden;
}

.daily-weekly-row {
	border-bottom: 1px solid #80808047;
	padding-bottom: 8em;
}

.monthly-yearly-row {
	border-bottom: 1px solid #80808047;
	padding-bottom: 2em;
}

.info-icon {
	color: #F58564;
}

.w-100 {
	width: 90px !important;
}

.m-top {
	margin-top: 35px
}

.interval-label {
	position: relative;
	right: 69px;
	bottom: 8.5px
}

.tool-tip {
	color: #F58564;
	margin-top: 40px;
}

//schedule and send end side modal

//schedule and send content start
.onetimeBlock {
	padding: 8px 5px 5px 5px;
	text-align: center;
	border-top: 1px solid #0091ff;
	border-left: 1px solid #0091ff;
	border-bottom: 1px solid #0091ff;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	color: #0091ff;
	cursor: pointer;
}

.repeatBlock {
	color: #0091ff;
	padding: 8px 5px 5px 5px;
	text-align: center;
	border: 1px solid #0091ff;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
}

.onetimeRepeatActive {
	background-color: #0091ff;
	color: white;
}

.onetimeBlock:hover,
.repeatBlock:hover {
	background-color: #0091ff;
	color: white;
}

//schedule and send content end
//input type number
input[type=number] {
	/*for absolutely positioning spinners*/
	position: relative;
	padding: 5px;
	padding-right: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: inner-spin-button !important;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

//input type number
.btncancle-schedule {
	padding: 13px 47px;
}

.schedule-type-selected {
	background: #E9E9E9;
	color: var(--newApp-color) !important;
}

//weekly start
.day {
	color: var(--newApp-color) !important;
	border: 1px solid var(--newApp-color);
	background-color: var(--newAppbg-color);
	margin-right: 7px;
	width: 25px;
	height: 25px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 11.4px !important;
}

.day.selected {
	color: #ffffff !important;
	background-color: var(--newApp-color);
	padding: 5px 10px;
}

//weekly end
.circular-img {
	display: inline-block;
	padding: 3px;
	border-radius: 40%;
	width: 25px;
}

.user-length {
	color: var(--newApp-color) !important;
	font-weight: bold !important;
	display: inline-block;
	padding: 1px 5px;
}

.send-later-icon {
	transform: rotate(50deg);
}