<!-- compose modal start here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="mt-2">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="shftType">Category</label>
                                    <ng-select [items]="categoryList" class="custom1" bindLabel="name" bindValue="id"
                                        [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                        placeholder="Select Category" [searchable]="false" (change)="onChange(1)">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="shftType">Message</label>
                                    <ng-select [items]="messageList" class="custom1" bindLabel="day"
                                        bindValue="dayValue" [multiple]="false" [closeOnSelect]="true"
                                        [clearable]="false" placeholder="Select Message" [searchable]="false"
                                        (change)="onChange(1)"></ng-select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="shftType">Channels</label>
                                    <ng-select [items]="channelsList" class="custom1" bindLabel="name" bindValue="id"
                                        [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                        placeholder="Select" [searchable]="false" (change)="onChangeChannel($event)">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="shftType">Recipients</label>
                                    <ng-select [items]="recipientsList" class="custom1" bindLabel="name" bindValue="id"
                                        [multiple]="true" [closeOnSelect]="true" [clearable]="false"
                                        placeholder="Select" [searchable]="false" (change)="onChange(1)">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="search-bar">
                            <div class="display-flex">
                                <!-- <i class="fas fa-search search-filter"></i> -->
                                <img class="search-filter" src="assets/Icons/announcement/search.png">
                                <ng-select class="form-control search-input custom-search-announcement" [items]="users" bindLabel="name"
                                    bindValue="id" [multiple]="true" placeholder="Select Learners"
                                    [(ngModel)]="selectedUsersIds">
                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                        <div class="ng-value" *ngFor="let item of items | slice:0:5">
                                            <span class="circular-img">
                                                <img src="assets/images/users/user-7.jpg">
                                            </span>
                                            <span class="ng-value-label"> {{item.name}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                aria-hidden="true">×</span>
                                        </div>
                                        <div class="ng-value" *ngIf="items.length > 5">
                                            <span class="user-length">+{{items.length - 1}}</span>
                                        </div>
                                    </ng-template>
                                </ng-select>

                                <!-- <i class="fas fa-sliders-h sliders-filter"></i> -->
                                <img class="sliders-filter" src="assets/Icons/announcement/filter.png" (click)="showFilterOption()">
                            </div>
                            <div *ngIf="showFilterOptions" class="row filter-container">
                                <div class="col-sm-6 filter-left-side">
                                    <h4><b class="filter-head">Filters</b></h4>
                                    <div class="row mt-1">
                                        <div class="col-sm-6">
                                            <label class="label-text col-form-label">Organization</label>
                                            <ng-select [items]="organizationList" class="custom1" bindLabel="name" bindValue="uniqueId"
                                                [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Choose Organization"
                                                [searchable]="false">
                                            </ng-select>
                                            <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                                <div *ngIf="af.boardUniqueId.errors.required">Organization is required</div>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="label-text col-form-label">Academic Year</label>
                                            <ng-select [items]="acadYearList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
                                                [closeOnSelect]="true" [clearable]="false" placeholder="Choose Year" [searchable]="false">
                                            </ng-select>
                                            <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                                <div *ngIf="af.boardUniqueId.errors.required">Academic Year is required</div>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label class="label-text col-form-label">Course</label>
                                            <ng-select [items]="courseList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
                                                [closeOnSelect]="true" [clearable]="false" placeholder="Choose Course" [searchable]="false">
                                            </ng-select>
                                            <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                                <div *ngIf="af.boardUniqueId.errors.required">Course is required</div>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label class="label-text col-form-label">Board</label>
                                            <ng-select [items]="boardList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
                                                [closeOnSelect]="true" [clearable]="false" placeholder="Choose Board" [searchable]="false">
                                            </ng-select>
                                            <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                                <div *ngIf="af.boardUniqueId.errors.required">Board is required</div>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label class="label-text col-form-label">Grade</label>
                                            <ng-select [items]="gradeList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
                                                [closeOnSelect]="true" [clearable]="false" placeholder="Choose Grade" [searchable]="false">
                                            </ng-select>
                                            <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                                <div *ngIf="af.boardUniqueId.errors.required">Grade is required</div>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label class="label-text col-form-label">Batch</label>
                                            <ng-select [items]="batchList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
                                                [closeOnSelect]="true" [clearable]="false" placeholder="Choose Batch" [searchable]="false">
                                            </ng-select>
                                            <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                                <div *ngIf="af.boardUniqueId.errors.required">Batch is required</div>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label class="label-text col-form-label">Subject</label>
                                            <ng-select [items]="subjectList" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
                                                [closeOnSelect]="true" [clearable]="false" placeholder="Choose Subject" [searchable]="false">
                                            </ng-select>
                                            <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                                <div *ngIf="af.boardUniqueId.errors.required">Subject is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 filter-right-side">
                                    <h4><b class="filter-head">Students</b></h4>
                                    <div class="customCardCss">
                                        <div class="list shadow-none">
                                            <div class="table-responsive table-div search-results" infiniteScroll
                                                [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150"
                                                [scrollWindow]="false" (scrolled)="onScroll()"
                                                [ngStyle]="{'overflow-y':studentList?.length > 4 ? 'scroll' :'visible'}">
                                                <table class="table table-centered mb-0" id="test">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th class="th-background w-20">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="maincheckbox" [(ngModel)]="masterSelected"/>
                                                                    <label class="custom-control-label"
                                                                        for="maincheckbox">
                                                                    </label>
                                                                </div>
                                                            </th>

                                                            <th class="th-background">
                                                                <div class="select-al">Select All</div>

                                                                <div class="filter-search-div">
                                                                    <span>
                                                                        <input type="text" class="form-control filter-search-bar"
                                                                            placeholder="Search"
                                                                            aria-controls="tickets-table">
                                                                    </span>

                                                                </div>
                                                            </th>


                                                        </tr>

                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let student of studentList; let i = index;"
                                                            class="table-data">
                                                            <td class="w-15">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="checkbox{{i}}"
                                                                        [(ngModel)]="student.selected"/>
                                                                    <label class="custom-control-label"
                                                                        for="checkbox{{i}}">
                                                                    </label>
                                                                </div>
                                                            </td>

                                                            <td class="table-user c-p">
                                                                <div class="media">
                                                                    <div class="">
                                                                        <img *ngIf="student.imageCode==null || student.imageCode==''"
                                                                            src="assets/images/profileImg.png"
                                                                            class="rounded-circle" alt="">
                                                                        <img *ngIf="student.imageCode!=null && student.imageCode!=''"
                                                                            [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +student.imageCode)"
                                                                            class="rounded-circle" alt="">
                                                                    </div>

                                                                    <div class="media-body">
                                                                        <p class="margin-b">
                                                                            {{student.selectedName}}</p>
                                                                        <p class="margin-b"><span
                                                                                class="btn btn-className btn-rounded btn-sm"
                                                                                [ngClass]="colorClassArray[i%5]">Jee-Advanced</span>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                            </td>

                                                        </tr>
                                                        <tr *ngIf="studentList?.length==0">
                                                            <td colspan="2">No data found!</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-2 button-group-sendnow">
                                    <div class="form-group filter-canlce-btn-div">
                                        <span class="button btncancle-sendnow filter-cancle-btn" (click)="hideFilterOption()">
                                            Cancel
                                        </span>
                                    </div>
                                    <div class="form-group select-btn filter-select-btn-div">
                                        <span class="button btnsave">
                                            Select Learners
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="compose-box">
                            <div class="row mg-0">
                                <div class="col-sm-4 select-var">
                                    <div class="row mg-0 select-var-head">
                                        <b>Select Variables</b>
                                    </div>
                                    <ng-container *ngFor="let variable of variables">
                                        <a class="badge">{{variable.name}}</a>
                                    </ng-container>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row mg-0">
                                        <input class="title-input" [(ngModel)]="title" name="title" type="text"
                                            placeholder="* Title Goes Here... *">
                                    </div>
                                    <hr class="input-hr">
                                    <div class="row compose-title">
                                        <textarea class="compose-msg" [(ngModel)]="message" name="message" rows="12"
                                            placeholder="Your message goes here…!"></textarea>
                                    </div>
                                    <div class="row mg-0" *ngIf="files.length && isShowFile">
                                        <div class="minhold col-sm-12">
                                            <div class="container">
                                                <div class="row mg-0">
                                                    <img src="assets/images/fileupload.webp" alt="Avatar"
                                                        class="file-img">
                                                    <span class="file-name">{{files[0]?.name}}</span>
                                                    <span class="file-size">1.5 MB</span>
                                                    <span *ngIf="channelId == 2 || channelId == 4" class="file-caption" (click)="openPreviewCaption()">View
                                                        Caption</span>
                                                    <i><img class="file-delete"
                                                            src="assets/Icons/announcement/remove-gray.png"></i>
                                                </div>
                                            </div>
                                            <div *ngIf="files?.length>1" class="container">
                                                <div class="row mg-0">
                                                    <img src="assets/images/fileupload.webp" alt="Avatar"
                                                        class="file-img">
                                                    <span class="file-name">{{files[1]?.name}}</span>
                                                    <span class="file-size-second">1.5 MB</span>
                                                    <span *ngIf="channelId == 2 || channelId == 4" class="file-caption-second"
                                                        (click)="openPreviewCaption()">View Caption</span>
                                                    <i><img class="file-delete-second"
                                                            src="assets/Icons/announcement/remove-gray.png"></i>
                                                </div>
                                            </div>
                                            <div *ngIf="files?.length>2" class="container-sm">+{{files?.length - 2}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="compose-box-footer">
                            <div class="row cbf">
                                <div class="col-sm-12 display-flex">
                                    <div class="col-sm-2 dropdown">
                                        <button class="btn quickAdd dropbtn c-p">Send<i class="fas fa-chevron-down"
                                                aria-hidden="true"></i></button>
                                        <div class="dropdown-content c-p">
                                            <a (click)="openSendNowModal(sendNow)">Send Now</a>
                                            <a (click)="openSheduleAndSend()">Send Later<i class="fa fa-paper-plane c-p space send-later-icon"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 margin-t">
                                        <i class="c-p" (click)="openModal(fileFetch)" aria-hidden="true"
                                            title="Attach files"><img src="assets/Icons/announcement/attach.png"></i>
                                        <span class="space"></span>
                                        <i class="c-p" aria-hidden="true"><img src="assets/Icons/announcement/link.png"
                                                title="Insert link"></i>
                                        <span class="space"></span>
                                        <i class="c-p" aria-hidden="true"><img src="assets/Icons/announcement/emoji.png"
                                                title="Insert emojis"></i>
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="saveastemplete">
                                            <input id="checkid" [checked]="showCreateTemplete" type="checkbox" value="test" (change)="openCreateTempleteModal(createTemplete)" />Save as
                                            Template
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- compose modal end here -->


<!-- File fetch modal start here -->
<ng-template #fileFetch role="fileFetch" let-modal="close">
    <ng-container>
        <div class="row">
            <div class="col-sm-12">
                <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFilesChange($event, 2)">
                    <div class="text-wrapper">
                        <img class="image" src="assets/Icons/announcement/image.png">
                        <div class="centered mt-1">
                            <input *ngIf="channelId == 2" type="file" name="file" id="file" (change)="onFilesChange($event, 1)" accept=".png" multiple>
                            <input *ngIf="channelId == 3 || channelId == 4" type="file" name="file" id="file" (change)="onFilesChange($event, 1)" accept=".jpg,.png,.pdf,.doc,.xls,.zip,.rar,.7zip" multiple>
                            <label for="file"><b>Drop your file here, or<span
                                        class="textLink">&nbsp;browse</span></b></label>
                            <p *ngIf="channelId == 2" class="upload-subtitle">Supports: PNG Format only</p>
                            <p *ngIf="channelId == 3 || channelId == 4" class="upload-subtitle">Supports: JPG, PNG, PDF, DOC, EXCEL, ZIP, RAR</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<!-- File fetch modal end here -->


<!-- File preview modal start here -->
<ng-template #filePreview role="filePreview" let-modal="close">
    <ng-container>
        <div class="row">
            <div class="col-sm-12">
                <div class="upload-preview">
                    <div class="row mg-0 attached-img-head"><b>Attatched images</b></div>
                    <hr class="input-hr">
                    <div class="modal-body">
                        <div [formGroup]="attachmentsForm">
                            <!-- <pre>{{attachmentsForm.value | json}}</pre> -->
                            <div *ngFor="let attachmentGroup of attachmentsForm.get('attachments').controls;let i = index"
                                [formGroup]="attachmentGroup">
                                <div class="row attached-file-row">
                                    <div class="col-sm-2 attached-file-img-div">
                                        <img class="attached-file-img" src="{{attachmentGroup.get('src').value}}">
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea class="attached-file-caption-textarea" formControlName="caption"
                                            name="caption" rows="4" placeholder="Your caption goes here...!"></textarea>
                                    </div>
                                    <div class="col-sm-1"><i (click)="removeAttachment(i)"><img class="preview-delete"
                                                src="assets/Icons/announcement/remove.png"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i><img class="addnew" src="assets/Icons/announcement/add-new.png"></i>
                    </div>
                    <div class="col-sm-12 mt-1 button-group">
                        <div class="form-group">
                            <span class="button btncancle" (click)="closeModal()">
                                Cancel
                            </span>
                        </div>
                        <div class="form-group add-img-btn">
                            <span class="button btnsave" (click)="saveImages();closeModal();">
                                Add Images
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<!-- File preview modal end here -->

<!-- sendNow modal start here -->
<ng-template #sendNow role="sendNow" let-modal="close">
    <ng-container>
        <div class="row">
            <div class="col-sm-12">
                <div class="upload-preview">
                    <div class="row mg-0 attached-img-head"><b>Send As</b></div>
                    <hr class="input-hr">
                    <div class="modal-body-sendnow">
                        <h5>Notification can be sent as an :</h5>
                        <div class="form-group mt-3 mb-5">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">App Notification</label>
                            </div>
                            <span class="space"></span>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Alert Message</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-1 button-group-sendnow">
                        <div class="form-group">
                            <span class="button btncancle-sendnow" (click)="closeModal()">
                                Cancel
                            </span>
                        </div>
                        <div class="form-group add-img-btn">
                            <span class="button btnsave" (click)="closeModal();">
                                Send
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<!-- sendNow modal end here -->

<!-- createTemplete modal start here -->
<ng-template #createTemplete role="createTemplete" let-modal="close">
    <ng-container>
        <div class="row">
            <div class="col-sm-12">
                <div class="upload-preview">
                    <div class="row mg-0 attached-img-head"><b>Create Template</b></div>
                    <hr class="input-hr">
                    <div class="modal-body-createtemplete">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="label-text col-form-label">Template Name</label>
                                <input type="text" class="form-control" placeholder="Enter name">
                                <!-- <div *ngIf="submitted && af.divisionUniqueId.errors" class="invalid-feedback">
                                    <div *ngIf="af.divisionUniqueId.errors.required">Template Name is required</div>
                                </div> -->
                            </div>
                            <div class="col-sm-6">
                                <label class="label-text col-form-label">Template Category</label>
                                <ng-select [items]="tempCategoryList" class="custom1" bindLabel="name"
                                    bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                    placeholder="Choose Category" [searchable]="false">
                                </ng-select>
                                <!-- <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                    <div *ngIf="af.boardUniqueId.errors.required">Template Category is required</div>
                                </div> -->
                            </div>
                            <div class="col-sm-6 mt-2">
                                <label class="label-text col-form-label">Recipient</label>
                                <ng-select [items]="recipientList" class="custom1" bindLabel="name" bindValue="uniqueId"
                                    [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                    placeholder="Choose Recipient" [searchable]="false">
                                </ng-select>
                                <!-- <div *ngIf="submitted && af.semesterUniqueId.errors" class="invalid-feedback">
                                    <div *ngIf="af.semesterUniqueId.errors.required">Recipient is required</div>
                                </div> -->
                            </div>
                            <div class="col-sm-6 mt-2">
                                <label class="label-text col-form-label">User Role</label>
                                <ng-select [items]="userRoleList" class="custom1" bindLabel="name" bindValue="uniqueId"
                                    [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                    placeholder="Choose Role" [searchable]="false">
                                </ng-select>
                                <!-- <div *ngIf="submitted && af.batchGroup.errors" class="invalid-feedback">
                                    <div *ngIf="af.batchGroup.errors.required">User Role is required</div>
                                </div> -->
                            </div>
                            <div class="col-sm-12 mt-2">
                                <label class="label-text col-form-label">Communication Type</label>
                                <div class="form-group display-flex">
                                    <div class="form-check form-check-inline">
                                        <input class="checkbox-size" class="form-check-input" type="checkbox" name="checkbox1" id="checkbox1" value="1">
                                        <img class="margin-r" src="assets/Icons/announcement/sms.png">
                                        <p class="form-check-label" for="checkbox1">SMS</p>
                                    </div>
                                    <div class="form-check form-check-inline select-btn">
                                        <input class="checkbox-size" class="form-check-input" type="checkbox" name="checkbox2" id="checkbox2" value="2">
                                        <img class="margin-r" src="assets/Icons/announcement/whatsupp.png">
                                        <p class="form-check-label" for="checkbox2">Whatsapp</p>
                                    </div>
                                    <div class="form-check form-check-inline select-btn">
                                        <input class="checkbox-size" class="form-check-input" type="checkbox" name="checkbox3" id="checkbox3" value="3">
                                        <img class="margin-r" src="assets/Icons/announcement/email.png">
                                        <p class="form-check-label" for="checkbox3">Email</p>
                                    </div>
                                    <div class="form-check form-check-inline select-btn">
                                        <input class="checkbox-size" class="form-check-input" type="checkbox" name="checkbox4" id="checkbox4" value="4">
                                        <img class="margin-r" src="assets/Icons/announcement/notification.png">
                                        <p class="form-check-label" for="checkbox4">Notification</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-4 mb-1 button-group-sendnow">
                        <div class="form-group">
                            <span class="button btncancle-add-templete" (click)="closeModal()">
                                Cancel
                            </span>
                        </div>
                        <div class="form-group add-templete-btn">
                            <span class="button btnsave" (click)="closeModal();">
                                Save Template
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<!-- createTemplete modal end here -->


<!-- Schedule send start -->
<div class="backdrop" [ngClass]="{'show':isShowScheduleAndSendForm}"></div>
<div class="card pt-4 stack-top-new" [ngStyle]="{'height': selectedType == 2 ? '100%' : '' }" *ngIf="isShowScheduleAndSendForm" id="stacktop">

    <div class="row main-row">
        <div class="col-md-12 main-head">
            <div class="row m-0">
                <div class="col-6">
                    <h4><b>Schedule Send</b></h4>
                </div>
                <div class="col-3 onetimeBlock onetimeRepeatActive" id="onetimeBlockChange"
                    (click)="changeType(1,'onetimeBlockChange','repeatBlockChange')">
                    One Time
                </div>
                <div class="col-3 repeatBlock" id="repeatBlockChange"
                    (click)="changeType(2,'repeatBlockChange','onetimeBlockChange')">
                    Repeat
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedType == 1" class="row m-0">
        <div class="col-md-12 mt-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label for="lname">Pick a Date</label>
                        <div class="input-group">
                            <input [owlDateTimeTrigger]="dt1" placeholder="Pick Date" class="form-control date-picker-active" [owlDateTime]="dt1" (ngModelChange)="onDateChange($event)">
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                            <div class="input-group-append">
                                <span class="input-group-text date-picker-icon">
                                    <i class="far fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="hrs">Time</label>
                        <input type="number" class="form-control" min="0" max="24">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="mins">&nbsp;</label>
                        <input type="number" class="form-control" min="0" max="60">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="selectedType == 2" class="row m-0">
        <div class="col-md-12 btn-group btn-group-justified sub-head">
            <a id="day" class="btn schedule-type-selected c-p"><input class="form-check-input" type="radio" name="daily"
                    id="daily" value="daily" [checked]="daily" (click)="changeScheduleType(1)"><span
                    (click)="changeScheduleType(1)">Daily</span></a>
            <a id="week" class="btn c-p"><input class="form-check-input" type="radio" name="weekly" id="weekly"
                    value="weekly" [checked]="weekly" (click)="changeScheduleType(2)"><span
                    (click)="changeScheduleType(2)">Weekly</span></a>
            <a id="month" class="btn c-p"><input class="form-check-input" type="radio" name="monthly" id="monthly"
                    value="monthly" [checked]="monthly" (click)="changeScheduleType(3)"><span
                    (click)="changeScheduleType(3)">Monthly</span></a>
            <a id="year" class="btn c-p"> <input class="form-check-input" type="radio" name="yearly" id="yearly"
                    value="yearly" [checked]="yearly" (click)="changeScheduleType(4)"><span
                    (click)="changeScheduleType(4)">Yearly</span></a>
        </div>
        <div *ngIf="daily || weekly || monthly || yearly" class="col-md-12 mt-3">
            <div *ngIf="daily" class="row align-items-center daily-weekly-row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="every">Every</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="lname">&nbsp;</label>
                        <ng-select [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Any"
                            [searchable]="false">
                        </ng-select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="interval">Month</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="interval" class="interval-label">interval</label>
                        <i data-toggle="tooltip" data-placement="top" title="eg: 1st weekend of every 2 months"
                            class="fa fa-info-circle c-p info-icon"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="weekly" class="row align-items-center daily-weekly-row">
                <div class="col-7">
                    <label>Days</label>
                    <p>
                        <span *ngFor="let day of days;">
                            <span class="day selected">
                                {{day.name}}
                            </span>
                        </span>
                    </p>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="interval">Week</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="interval" class="interval-label">interval</label>
                        <i data-toggle="tooltip" data-placement="top" title="eg: 1st weekend of every 2 months"
                            class="fa fa-info-circle c-p info-icon"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="monthly" class="row align-items-center">
                <div class="col-1">
                    <div class="form-group">
                        <label for="every">&nbsp;</label>
                        <input type="radio" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="every">Every</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="interval">Month</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="interval" class="interval-label">interval</label>
                        <i data-toggle="tooltip" data-placement="top" title="eg: 1st weekend of every 2 months"
                            class="fa fa-info-circle c-p info-icon"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="monthly" class="row align-items-center monthly-yearly-row">
                <div class="col-1">
                    <div class="form-group">
                        <label for="every">&nbsp;</label>
                        <input type="radio" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="every">Every</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="lname">&nbsp;</label>
                        <ng-select [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Any"
                            [searchable]="false">
                        </ng-select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="interval">Month</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label for="interval" class="interval-label">interval</label>
                        <i data-toggle="tooltip" data-placement="top" title="eg: 1st weekend of every 2 months"
                            class="fa fa-info-circle c-p info-icon"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="yearly" class="row align-items-center">
                <div class="col-1">
                    <div class="form-group">
                        <label for="every">&nbsp;</label>
                        <input type="radio" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="every">Every</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="lname">&nbsp;</label>
                        <ng-select [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Any"
                            [searchable]="false">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="interval" class="interval-label">&nbsp;</label>
                        <i data-toggle="tooltip" data-placement="top" title="eg: 1st weekend of every 2 months"
                            class="fa fa-info-circle c-p tool-tip"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="yearly" class="row align-items-center monthly-yearly-row">
                <div class="col-1">
                    <div class="form-group">
                        <label for="every">&nbsp;</label>
                        <input type="radio" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="every">Every</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="lname">&nbsp;</label>
                        <ng-select [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Any"
                            [searchable]="false">
                        </ng-select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="lname">&nbsp;</label>
                        <ng-select [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Any"
                            [searchable]="false">
                        </ng-select>
                    </div>
                </div>
                <div class="col-2 m-top">
                    <div class="form-group">
                        <label for="sdf">&nbsp;</label>
                        <i data-toggle="tooltip" data-placement="top" title="eg: 1st weekend of every 2 months"
                            class="fa fa-info-circle c-p info-icon"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="daily || weekly || monthly || yearly" class="row align-items-center mt-4">
                <div class="col-6">
                    <div class="form-group">
                        <label for="lname">Make recurring after</label>
                        <div class="input-group">
                            <input [owlDateTimeTrigger]="dt1" placeholder="Pick Date" class="form-control date-picker-active"
                                [owlDateTime]="dt1" (ngModelChange)="onDateChange($event)">
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                            <div class="input-group-append">
                                <span class="input-group-text date-picker-icon">
                                    <i class="far fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="hrs">Time</label>
                        <input type="number" class="form-control" min="0" max="24">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="mins">&nbsp;</label>
                        <input type="number" class="form-control" min="0" max="60">
                    </div>
                </div>
            </div>

            <div *ngIf="daily || weekly || monthly || yearly" class="row mt-2">
                <div class="col-12"><label for="lname">Repeat until</label></div>
                <div class="col-4">
                    <div class="form-check form-check-inline">
                        <input [checked]="noenddate" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1" (click)="repeatUntil(1)">
                        <label class="form-check-label" for="inlineRadio1">No end date</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-check form-check-inline">
                        <input [checked]="enddate" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2" (click)="repeatUntil(2)">
                        <label class="form-check-label" for="inlineRadio2">an end date</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-check form-check-inline">
                        <input [checked]="iterations" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="option3" (click)="repeatUntil(3)">
                        <label class="form-check-label" for="inlineRadio3">iterations</label>
                    </div>
                </div>
            </div>

            <div *ngIf="daily || weekly || monthly || yearly" class="row align-items-center mt-3">
                <div *ngIf="enddate" class="col-6">
                    <div class="form-group">
                        <label for="lname">Pick an end date</label>
                        <div class="input-group">
                            <input [owlDateTimeTrigger]="dt5" placeholder="Pick Date"
                                class="form-control date-picker-active" [owlDateTime]="dt5" (ngModelChange)="onDateChange($event)">
                            <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
                            <div class="input-group-append">
                                <span class="input-group-text date-picker-icon">
                                    <i class="far fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="iterations" class="col-5">
                    <div class="form-group">
                        <label for="iteration">Number of iterations</label>
                        <input class="w-100" type="number" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-md-12 mt-4 button-group-sendnow">
            <div class="form-group">
                <span class="button btncancle-schedule" (click)="closeSheduleAndSend()">
                    Cancel
                </span>
            </div>
            <div class="form-group add-templete-btn">
                <span class="button btnsave">
                    Schedule
                </span>
            </div>
        </div>
    </div>
    
</div>
<!-- Schedule send end -->