<div class="card">
    <div class="row" style="border-bottom: 1px solid #80808047;margin: 0;">
        <div class="col-md-6 subHead">{{title }}</div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 subHead1">


                </div>
                <div class="col-md-4 subHead1">
                    <ng-select [items]="itemList" class="custom1" bindLabel="name" [(ngModel)]="selectedFilterType"
                        bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select timetable" [searchable]="false" [disabled]="isChecked"
                        (change)="changeFilterMaster($event)" (click)="checkShowAll()">
                    </ng-select>
                </div>
                <div class="col-md-4 subHead1">
                    <ng-select [items]="filterList" class="custom1" bindLabel="name" bindValue="id"
                        [(ngModel)]="selectedFilterDataValue" [multiple]="false" [closeOnSelect]="true"
                        [clearable]="false" placeholder="Select timetable" [disabled]="isChecked" [searchable]="false"
                        (change)="filterData($event)" (click)="checkShowAll()"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-0">

        <div class="col-md-3 mb-1 mt-3 d-flex">
            <div class="form-group row checkbox checkbox-primary mb-2" style="margin-top: 7px;">
                <input id="checkbox1" type="checkbox" style="height: 16px;" data-md-icheck [(ngModel)]="isChecked"
                    (change)="ShowAllData($event)">
                <label for="checkbox1" style="font-size: 13px;">
                    ShowAllData
                </label>
            </div>
        </div>
        <div class="col-md-8 mb-1 mt-3 d-flex justify-content-end">
            <div class="batchBadge mr-1" *ngFor="let item of selectedSubjects| slice:0:4;let i=index"
                [ngClass]="colorClassArray[i%4]">{{item.name| limitTo: 10 }} &nbsp;&nbsp;<i
                    class="fa fa-times float-right" (click)="removeSubject(item,i)"></i></div>
            <div class="subjectCount mr-2" *ngIf="selectedSubjects.length>4">+{{selectedSubjects.length-4}} </div>
            <ng-select [disabled]="isChecked" [items]="subjectList" #selectList class="customList" bindLabel="name"
                bindValue="id" [multiple]="true" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                [searchable]="false" [(ngModel)]="selectedSubjectList" (change)="changeSubjects($event)">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                    <div class="custom-control custom-checkbox pl-0">
                        <input type="checkbox" [(ngModel)]="item$.selected" [ngModelOptions]="{standalone: true}" />
                        <label class="form-check-label ml-2">{{item.name}}</label>
                    </div>
                </ng-template>
            </ng-select>
            <a class="link-project" style="cursor: pointer;" (click)="selectList.open();">More...<i class="fas fa-chevron-down"></i></a>
        </div>
    </div>
    <div class="container-fluid px-0 type4" style="height: auto;">

        <div class="viewLecture">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="border: none;background: none;"></th>
                        <th>Moday</th>
                        <th>Tuesday</th>
                        <th>Wednsday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of filteredLEcture | keyvalue;">
                        <td style="font-size: 10px;">{{item.key}}</td>
                        <td style="font-size: 10px;vertical-align: middle;"
                            *ngFor="let data of item.value | keyvalue; let l = index">

                            <div style="padding: 3px 4px;" [ngClass]="colorClassArray[l%4]"
                                *ngIf="data.value.length > 0">
                                <div class="popover__wrapper">
                                    <p class="lecture popover__title" (mouseover)="indexValue=0">
                                        <img src="assets/images/users/user-1.jpg" height="32px" width="32px"
                                            class="userImg" alt="">
                                        {{data.value[0].batchName}} <span *ngIf="data.value.length > 1"
                                            style="color: rgb(140, 183, 212);"> {{data.value.length - 1}} more </span>
                                    </p>
                                    <div class="popover__content">
                                        <div class="row mx-0 mb-2">
                                            <div class="col-2">
                                                <img src="assets/images/users/user-2.jpg" height="32px" width="32px"
                                                    alt="" class="userImg">
                                            </div>
                                            <div class="col-5" style="padding-left: 0;">
                                                <div class="row mainLabel">{{data.value[indexValue].teacherName || data.value[indexValue].teacherName != '' || data.value[indexValue].teacherName != undefined || data.value[indexValue].teacherName != null  ? data.value[indexValue].teacherName : ''}}</div>
                                                <div class="row headingTitle">Teacher Name</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-2">
                                            <div class="col-6">
                                                <div class="row mainLabel">-----</div>
                                                <div class="row headingTitle">Course</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data.value[indexValue].batchName || data.value[indexValue].batchName != '' || data.value[indexValue].batchName != undefined || data.value[indexValue].batchName != null  ? data.value[indexValue].batchName : ''}}</div>
                                                <div class="row headingTitle">Batch Name</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-2">
                                            <div class="col-6">
                                                <div class="row mainLabel">Gender -{{data.value[indexValue].batchGroupName || data.value[indexValue].batchGroupName != '' || data.value[indexValue].batchGroupName != undefined || data.value[indexValue].batchGroupName != null  ? data.value[indexValue].batchGroupName : ''}}
                                                </div>
                                                <div class="row headingTitle">Batch Group Name</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data.value[indexValue].subjectName || data.value[indexValue].subjectName != '' || data.value[indexValue].subjectName != undefined || data.value[indexValue].subjectName != null  ? data.value[indexValue].subjectName : ''}}</div>
                                                <div class="row headingTitle">Subject</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0">
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data.value[indexValue].classroomName || data.value[indexValue].classroomName != '' || data.value[indexValue].classroomName != undefined || data.value[indexValue].classroomName != null ? data.value[indexValue].classroomName : ''}}</div>
                                                <div class="row headingTitle">Classroom</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data.value[indexValue].periodStartTime || data.value[indexValue].periodStartTime != '' || data.value[indexValue].periodStartTime != undefined || data.value[indexValue].periodStartTime != null  ? data.value[indexValue].periodStartTime : ''
                                                    }}-{{data.value[indexValue].periodEndTime || data.value[indexValue].periodEndTime != '' || data.value[indexValue].periodEndTime != undefined || data.value[indexValue].periodEndTime != null ? data.value[indexValue].periodEndTime : '' }}</div>
                                                <div class="row headingTitle">Time</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0" *ngIf="data.value.length > 1">
                                            <div class="col-6">
                                                <i _ngcontent-lbu-c10="" aria-hidden="true"
                                                    class="fas fa-chevron-left __web-inspector-hide-shortcut__"
                                                    style="font-size: 18px;margin-top: 4px;color: #0091ff;cursor: pointer;" [ngClass]="{'disabledBtn':data.value.length == 0 || indexValue == 0}" (click)="prevDetails(data.value)"></i>
                                            </div>
                                            <div class="col-6 ml-auto">
                                                <i _ngcontent-lbu-c10="" aria-hidden="true"
                                                    class="fas fa-chevron-right __web-inspector-hide-shortcut__ float-right"
                                                    style="font-size: 18px;margin-top: 4px;color: #0091ff;cursor: pointer;" [ngClass]="{'disabledBtn':data.value.length == (indexValue + 1)}" (click)="nextDetails(data.value)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="emptyTD" *ngIf="data.value.length == 0">

                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row buttons mb-2" style="margin-top: 30px;">
            <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
            <button class="btn btn-save btn-filled" (click)="viewAllChanges()">Save all Changes</button>
        </div>
    </div>

</div>