/*
Template Name: Ubold - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Version: 3.1.0
Website: https://coderthemes.com/
Contact: support@coderthemes.com
File: Main Css File
*/

//Fonts
@import "custom/fonts/fonts";

//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables";
@import "./node_modules/bootstrap/scss/mixins.scss";

// Structure
@import "custom/structure/general";
@import "custom/structure/left-menu";
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";
@import "custom/structure/layouts";

//Components
@import "custom/components/helper";
@import "custom/components/social";
@import "custom/components/widgets";
@import "custom/components/custom-checkbox";
@import "custom/components/custom-radio";
@import "custom/components/ribbons";
@import "custom/components/print";
@import "custom/components/preloader";

//Pages
@import "custom/pages/authentication";
@import "custom/pages/components-demo";
@import "custom/pages/error";
@import "custom/pages/logout";
@import "custom/pages/faq";
@import "custom/pages/timeline";
@import "custom/pages/email";
@import "custom/pages/sitemap";
@import "custom/pages/pricing";
@import "custom/pages/gallery";
@import "custom/pages/profile";
@import "custom/pages/taskboard";
@import "custom/pages/ecommerce";

// Vendors
@import "vendor/metisMenu";

// Plugins
@import "custom/plugins/waves";
@import "custom/plugins/rangeslider";
@import "custom/plugins/calendar";

@import "custom/plugins/datatable";
@import "custom/plugins/daterange";
@import "custom/plugins/form-wizard";
@import "custom/plugins/select2";
@import "custom/plugins/slimscroll";
@import "custom/plugins/toaster";
@import "custom/plugins/sweetalert";
@import "custom/plugins/carousel";
@import "custom/plugins/animation";
@import "custom/plugins/tour";
@import "custom/plugins/apexcharts";
@import "custom/plugins/chartjs";
@import "custom/plugins/chartist";
@import "custom/plugins/colorpicker";
@import "custom/plugins/responsive-table";
@import "custom/plugins/bootstrap-tables";
@import "custom/plugins/jsgrid";
@import "custom/plugins/multiple-select";
@import "custom/plugins/autocomplete";
@import "custom/plugins/bootstrap-select";
@import "custom/plugins/summernote";
@import "custom/plugins/dropzone";
@import "custom/plugins/dropify";
@import "custom/plugins/cropper";
@import "custom/plugins/google-maps";
@import "custom/plugins/datepicker";
@import "custom/plugins/ui-switch";
@import "custom/plugins/mat-stepper";

// regular style toast
@import "~ngx-toastr/toastr";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "custom/components/scrollBar";

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';
.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}

img {
    max-width: -webkit-fill-available;
    vertical-align: middle;
    border-style: none;
}
#floater {
    position: absolute;
    top: 100px;
    right: 1px;
    width: 80px;
    height: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: 1;
    border-radius: 3px 0 0 3px;
    padding: 10px;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.nodataFoundClass {
    margin: 20px;
    height: 350px;
    width: 390px;
}

.cdk-global-scrollblock {
    position: initial;
    width: initial;
    overflow: unset;
}
