<div class="container-fluid px-0" [ngClass]="{'containerHeight':tabNumber==1}">
    <div class="card" [ngClass]="{'stack-back':isAddNew}">
        <div class="card-body">
            <section id="headertabs">
                <nav>
                    <div class="nav nav-tabs " id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==1}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(1)">TIMETABLE</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==2}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(2)">SUBSTITUTION</a>
                        <div class="w-59"></div>
                        <div class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">More <i class="fas fa-chevron-down"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </nav>
            </section>
            <div *ngIf="tabNumber==1">
                <div class="row mx-3 pt-3 mb-1 table-header w-100">
                    <!-- Search -->
                    <div class="col-sm-1">
                        <label for="staticEmail" class=" col-form-label">Timetable</label>
                    </div>
                    <div class="col-sm-2 quickAdd">
                        <button class="btn btn-filled" (click)="createTimeTable()">Create TimeTable</button>
                    </div>
                    <div class="col-sm-8 dropdownModal">
                        <input type="text" name="searchTerm" class="form-control"
                            (input)="findRecords($event.target.value)" placeholder="Filter and Search"
                            aria-controls="tickets-table">
                        <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"></i>
                    </div>
                    <!-- End search -->
                </div>
                <hr>
                <!-- <button class="btn btn-filled ml-2" (click)="rightsideform(2)">Assign Lecture</button>
                <button class="btn btn-filled" (click)="rightsideform(3)">Assign BatchPeriod</button>
                <button class="btn btn-filled" (click)="rightsideform(4)">Add Lecture</button>
                <button class="btn btn-filled" (click)="rightsideform(5)">Change Details</button>
                <button class="btn btn-filled" (click)="rightsideform(6)">Assign Shift</button> -->

                <app-time-table-list (callBlur)="isBlur($event)" [timetableType]="timetableType"></app-time-table-list>
                <!-- <app-test-design></app-test-design> -->
            </div>
            <div *ngIf="tabNumber==2" style="margin-top: 20px;">
                <!-- <div class="row mx-3 pt-3 mb-1 table-header w-100">
                  
                    <div class="col-sm-1">
                        <label for="staticEmail" class=" col-form-label">Substitution</label>
                    </div>
                    <div class="col-sm-2 quickAdd">
                        <button class="btn btn-filled" (click)="addNewLecture()">Add New Lecture </button>
                    </div>
                    <div class="col-sm-8 dropdownModal">
                        <input type="text" name="searchTerm" class="form-control"
                            (input)="findRecords($event.target.value)" placeholder="Filter and Search"
                            aria-controls="tickets-table">
                        <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"></i>
                    </div>
                   
                </div>
                <hr> -->
                <app-substitution></app-substitution>
            </div>
        </div>
    </div>
    <div class="viewSidePopup createTimetable" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==1 && type==1">
        <app-create-timetable (close)="closeAddNewForm($event)"></app-create-timetable>
    </div>
    <div class="viewSidePopup assignLecture" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==1 && type==2">
        <app-rightside-forms [type]="type" (close)="closeAddNewForm($event)"></app-rightside-forms>
    </div>
    <div class="viewSidePopup batchPeriodForm" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==1 && type==3">
        <app-rightside-forms [type]="type" (close)="closeAddNewForm($event)"></app-rightside-forms>
    </div>
    <div class="viewSidePopup subjectTeacherForm" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==1 && type==4">
        <app-rightside-forms [type]="type" [childtype]="3" (close)="closeAddNewForm($event)"></app-rightside-forms>
    </div>
    <div class="viewSidePopup changeDetails" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==1 && type==5">
        <app-rightside-forms [type]="type" (close)="closeAddNewForm($event)"></app-rightside-forms>
    </div>
    <div class="viewSidePopup createNewLecture" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==2 && type==1">
        <app-create-new-lecture (close)="closeAddNewForm($event)"></app-create-new-lecture>
    </div>
    <div class="viewSidePopup assignshift" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==1 && type==6">
        <app-assign-shift [timetableData]="timetableData" [isEdit]="false" (close)="closeAddNewForm($event)">
        </app-assign-shift>
    </div>
</div>