@import "../common-r";
.container-fluid {
    background-color: white;
}
.containerHeight {
    // height: 100vh;
}
.card-body {
    padding: 0.2rem 0rem;
}
#headertabs {
    width: 95% !important;
    padding-top: 15px !important;
    height: 55px !important;
    position: relative !important;
    margin: 0px auto 5px !important;
}
#headertabs .nav-tabs .nav-link.active {
    color: var(--newApp-color) !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    border: 0px !important;
}
#headertabs .nav-tabs .nav-link {
    color: #3e3e3e !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
#headertabs .nav-item {
    width: 155px !important;
}
#headertabs .nav-item:last-child {
    width: 100px !important;
}
#headertabs .tab-content {
    padding: 2px 0 0 0;
}
.nav-item.dropdown {
    width: 12%;
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 0px;
    border-left: 1px solid #e4e4e4;
}
.nav-item.dropdown a {
    color: #3d3d3d;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 25px;
}
.w-59 {
    width: 57%;
}
.table-header label.col-form-label {
    color: #3d3d3d;
    font-weight: 600;
    height: 50px;
    padding: 12px 0px 0px 3px;
    font-size: 18px;
    vertical-align: middle;
}
.table-header .col-sm-1 {
    flex: 0 0 12%;
    max-width: 12%;
    padding-left: 0px;
}
.table-header .quickAdd {
    -webkit-box-flex: 0;
    flex: 0 0 17.666667%;
    max-width: 17.666667%;
    padding: 0px;
}
.quickAdd .btn-filled {
    width: 180px;
}
.table-header input {
    height: 41px;
    border-color: #7c7b98;
    margin-top: 3px;
}
.table-header .fa-filter {
    color: var(--newApp-color);
    border: 1px solid var(--newApp-color);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 14px;
    padding: 5px;
    cursor: pointer;
}
.table-header .dropdownModal {
    // flex: 0 0 70%;
    // max-width: 70%;
    pointer-events: fill;
    padding-left: 10px;
    // padding-right: 0px;
}
.createTimetable {
    width: 25% !important;
    top: 115px;
    padding: 0px 0px 20px;
}
.assignLecture,
.changeDetails,
.createNewLecture {
    width: 45% !important;
    top: 115px;
}
.subjectTeacherForm {
    width: 45% !important;
    top: 115px;
    padding-right: 0px;
    padding-left: 0px;
}
.batchPeriodForm {
    width: 28% !important;
    top: 115px;
}
.assignshift {
    width: 78%;
    // height: 87vh;
    top: 130px;
    margin-right: 27px;
    padding: 15px 0px 15px 0px;
}
@media screen and (min-width: 1920px) {
    .assignshift {
        width: 83%;
        margin-right: 40px;
    }
}
