<app-common-loader *ngIf="loading"></app-common-loader>
<!-- <div id="wrapper">

    <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
    </app-topbar>

    <app-sidebar [isCondensed]="isCondensed"></app-sidebar>

    <div class="content-page" style="background: white;">
        <div class="content">

            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-rightsidebar></app-rightsidebar>
</div> -->

<app-side-nav-bar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded">
</app-side-nav-bar>
<!-- -->
<div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
    <div class="top-bar">
        <app-topbar class="top-bar" [isExpanded]="sidebarExpanded" (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
        </app-topbar>
    </div>
   
    <router-outlet></router-outlet>
</div>