<div class="viewSidePopup assignedEditLecture"
    [ngClass]="{'slideInLeft':!isNewLecture,'slideInRight':isNewLecture,'mainType4':mainType==4}" *ngIf="isNewLecture">
    <app-rightside-forms [type]="type" [childtype]="childtype" (close)="closeAddLectureForm($event)">
    </app-rightside-forms>
</div>



<div class="container-fluid px-0 type3" *ngIf="mainType == 3"
    [ngClass]="{'stack-back':isNewLecture || isRightSidePopup || isAddNew || isSubtitutePopup}">

    <div class="viewLecture">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="border: none;background: none;max-width: 20px;"></th>
                    <th *ngFor="let item of periodData | keyvalue" style="max-width: 132px;">{{item.key}}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td *ngFor="let item of periodData | keyvalue" style="font-size: 10px;">
                        <div *ngFor="let data of item.value | keyvalue">
                            <div style="padding: 3px 4px;" *ngFor="let data1 of data.value.lectureList;let k=index;"
                                [ngStyle]="{'background-color':data1.subjectName == 'Chemistry' ? '#0043ff17' : data1.subjectName == 'Physics' ? '#00f3ff17' : data1.subjectName == 'Mathematics' ? '#ff990026' : data1.subjectName == 'Biology' ? '#0095ff26' :'',
                    'border-top':data1.lessonState == 1 ? '3px solid black' : data1.lessonState == 2 ? '3px solid blue' : data1.lessonState == 3 ? '3px solid skyblue' : data1.lessonState == 4 ? '3px solid red' : data1.lessonState == 6 ? '3px solid orange' : ''}">
                                <div class="popover__wrapper">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="32px" width="32px"
                                            class="userImg" alt="">
                                        {{data1.batchIds[0].name}} <span *ngIf="data1.batchIds.length > 1"
                                            style="color: #0091ff;">{{data1.batchIds.length -1}}</span>
                                    </p>
                                    <div class="popover__content">
                                        <div class="row mx-0 mb-2">
                                            <div class="col-2">
                                                <img src="assets/images/users/user-2.jpg" height="32px" width="32px"
                                                    alt="" class="userImg">

                                            </div>
                                            <div class="col-5" style="padding-left: 0;">
                                                <div class="row mainLabel"
                                                    *ngIf="data1.teacherIds == undefined || data1.teacherIds == 0">N/A
                                                </div>
                                                <div class="row mainLabel" *ngIf="data1.teacherIds.length > 0">
                                                    {{data1.teacherIds[0].name}}</div>
                                                <div class="row headingTitle">Teacher Name</div>
                                            </div>
                                            <div class="col-5 containValue" ngbDropdown>
                                                <button class="btn btn-filled">Action<i class="fas fa-chevron-down"
                                                        aria-hidden="true" id="dropdownBasic"
                                                        ngbDropdownToggle></i></button>
                                                <div class="dropdown-menu" ngbDropdownMenu
                                                    aria-labelledby="dropdownBasic">
                                                    <button
                                                        (click)="actionView(1,data1,selectedDate,'',data.value.orgWorkDayId,data.value.shiftuniqueId)"
                                                        *ngIf="data1.lessonState != 4" ngbDropdownItem>Substitute
                                                        Lecture</button>
                                                    <button (click)="addNewLecture(selectedDate,2,data1,data.value)"
                                                        *ngIf="data1.lessonState != 6 && data1.lessonState != 4"
                                                        ngbDropdownItem>Changed
                                                        Lecture</button>
                                                    <button
                                                        (click)="actionView(8,data1,selectedDate,'',data.value.orgWorkDayId,data.value.shiftuniqueId)"
                                                        *ngIf="data1.lessonState != 4" ngbDropdownItem>Cancel
                                                        Lecture</button>
                                                    <button (click)="actionView(11,data1,selectedDate,'',null)"
                                                        *ngIf="data1.lessonState == 4" ngbDropdownItem>Activate
                                                        Lecture</button>
                                                    <button
                                                        (click)="actionView(10,data1,data.lectureDate,selectedDate,data.value.orgWorkDayId,data.value.shiftuniqueId)"
                                                        *ngIf="data1.substitutionId&&(data1.substitutionId != null || data1.substitutionId != undefined || data1.substitutionId != '') && data1.lessonState != 4  && data1.lessonState != 1 "
                                                        ngbDropdownItem>Reschedule
                                                        Lecture</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-2">
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data1.courseName}}</div>
                                                <div class="row headingTitle">Course</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data1.batchIds[0].name}}</div>
                                                <div class="row headingTitle">Batch Name</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-2">
                                            <div class="col-6">
                                                <div class="row mainLabel">Gender -{{data1.groupIds[0].name}}</div>
                                                <div class="row headingTitle">Batch Group Name</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data1.subjectName}}</div>
                                                <div class="row headingTitle">Subject</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0">
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data1.classRoomName}}</div>
                                                <div class="row headingTitle">Classroom</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{data1.lessonStartTime |date:'shortTime'
                                                    :'UTC'
                                                    }}-{{data1.lessonEndTime |date:'shortTime' :'UTC' }}</div>
                                                <div class="row headingTitle">Time</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="emptyTD" (click)="addNewLecture(selectedDate,1,'',data.value)">
                                Click to Assign
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>

        </table>
    </div>
    <div class="row mt-1 ml-4 colorBadges">
        <div class="batchBadge"> <span style="border: 1px solid black;padding: 1px;"><span class="Circle"
                    style="background-color:black"></span></span>&nbsp;
            Extra Lecture
        </div>
        <div class="batchBadge"> <span style="border: 1px solid orange;padding: 1px;"><span class="Circle"
                    style="background-color:orange"></span></span>&nbsp;Teacher Leave
        </div>
        <div class="batchBadge"> <span style="border: 1px solid skyblue;padding: 1px;"><span class="Circle"
                    style="background-color:skyblue"></span></span>&nbsp;Changed
        </div>
        <div class="batchBadge"> <span style="border: 1px solid blue;padding: 1px;"><span class="Circle"
                    style="background-color:blue"></span></span>&nbsp;Substituted
        </div>
        <div class="batchBadge"> <span style="border: 1px solid red;padding: 1px;"><span class="Circle"
                    style="background-color:red"></span></span>&nbsp;Cancelled</div>

    </div>
    <div class="row buttons mb-2">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" (click)="viewAllChanges(3)">View all Changes</button>
    </div>
</div>
<div class="container-fluid px-0 type4" *ngIf="mainType == 4"
    [ngClass]="{'stack-back':isNewLecture || isRightSidePopup || isAddNew || isSubtitutePopup}">

    <div class="viewLecture">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="border: none;background: none;max-width: 90px;"></th>
                    <th *ngFor="let dates of weekDates;let i=index;" style="max-width: 132px;">
                        {{dates|date:'dd/MM/yyyy'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of periodData | keyvalue">
                    <td style="font-size: 10px;">{{item.key}}</td>
                    <td style="font-size: 10px;vertical-align: middle;" *ngFor="let data of item.value">
                        <div *ngIf="data.canAddLecture == true && data.lectureList.length > 0">
                            <div style="padding: 3px 4px;" *ngFor="let lecture of data.lectureList; let k=index;"
                                [ngStyle]="{'background-color':lecture.subjectName == 'Chemistry' ? '#0043ff17' : lecture.subjectName == 'Physics' ? '#00f3ff17' : lecture.subjectName == 'Mathematics' ? '#ff990026' : lecture.subjectName == 'Biology' ? '#0095ff26' :'',
                                'border-top':lecture.lessonState == 1 ? '3px solid black' : lecture.lessonState == 2 ? '3px solid blue' : lecture.lessonState == 3 ? '3px solid skyblue' : lecture.lessonState == 4 ? '3px solid red' : lecture.lessonState == 6 ? '3px solid orange' : ''}">
                                <div class="popover__wrapper">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="32px" width="32px"
                                            class="userImg" alt="">
                                        {{lecture.batchIds[0].name}} <span *ngIf="lecture.batchIds.length > 1"
                                            style="color: #0091ff;">{{lecture.batchIds.length -1}}</span>
                                    </p>
                                    <div class="popover__content">
                                        <div class="row mx-0 mb-2">
                                            <div class="col-2">
                                                <img src="assets/images/users/user-2.jpg" height="32px" width="32px"
                                                    alt="" class="userImg">
                                            </div>
                                            <div class="col-5" style="padding-left: 0;">
                                                <div class="row mainLabel">{{lecture.teacherIds[0].name}}</div>
                                                <div class="row headingTitle">Teacher Name</div>
                                            </div>
                                            <div class="col-5 containValue" ngbDropdown>
                                                <button class="btn btn-filled">Action<i class="fas fa-chevron-down"
                                                        aria-hidden="true" id="dropdownBasic"
                                                        ngbDropdownToggle></i></button>
                                                <div class="dropdown-menu" ngbDropdownMenu
                                                    aria-labelledby="dropdownBasic">
                                                    <button
                                                        (click)="actionView(1,lecture,data.lectureDate,'',data.orgWorkDayId,data.shiftuniqueId)"
                                                        *ngIf="lecture.lessonState != 4" ngbDropdownItem>Substitute
                                                        Lecture</button>
                                                    <button (click)="addNewLecture(data.lectureDate,2,lecture,data)"
                                                        *ngIf="lecture.lessonState != 6 && lecture.lessonState != 4"
                                                        ngbDropdownItem>Changed
                                                        Lecture</button>
                                                    <button
                                                        (click)="actionView(8,lecture,data.lectureDate,'',data.orgWorkDayId,data.shiftuniqueId)"
                                                        *ngIf="lecture.lessonState != 4" ngbDropdownItem>Cancel
                                                        Lecture</button>
                                                    <button
                                                        (click)="actionView(11,lecture,data.lectureDate,'',null,null)"
                                                        *ngIf="lecture.lessonState == 4" ngbDropdownItem>Activate
                                                        Lecture</button>
                                                    <button
                                                        (click)="actionView(10,lecture,data.lectureDate,data.lectureDate,data.orgWorkDayId,data.shiftuniqueId)"
                                                        *ngIf="lecture.substitutionId&&(lecture.substitutionId != null || lecture.substitutionId != undefined || lecture.substitutionId != '') && lecture.lessonState != 4  && lecture.lessonState != 1"
                                                        ngbDropdownItem>Reschedule
                                                        Lecture</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-2">
                                            <div class="col-6">
                                                <div class="row mainLabel">{{lecture.courseName}}</div>
                                                <div class="row headingTitle">Course</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{lecture.batchIds[0].name}}</div>
                                                <div class="row headingTitle">Batch Name</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-2">
                                            <div class="col-6">
                                                <div class="row mainLabel">Gender -{{lecture.groupIds[0].name}}</div>
                                                <div class="row headingTitle">Batch Group Name</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{lecture.subjectName}}</div>
                                                <div class="row headingTitle">Subject</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0">
                                            <div class="col-6">
                                                <div class="row mainLabel">{{lecture.classRoomName}}</div>
                                                <div class="row headingTitle">Classroom</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row mainLabel">{{lecture.lessonStartTime |date:'shortTime'
                                                    :'UTC'
                                                    }}-{{lecture.lessonEndTime |date:'shortTime' :'UTC' }}</div>
                                                <div class="row headingTitle">Time</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="emptyTD" *ngIf="data.canAddLecture == true && data.lectureList.length == 0"
                            (click)="addNewLecture(data.date,1,'',data)">
                            Click to Assign
                        </div>

                        <div class="emptyTD" *ngIf="data.canAddLecture == false"
                            style="background: rgb(204, 204, 204);padding: 0px;min-height: 40px;"></div>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-1 ml-4 colorBadges">
        <div class="batchBadge"> <span style="border: 1px solid black;padding: 1px;"><span class="Circle"
                    style="background-color:black"></span></span>&nbsp;
            Extra Lecture
        </div>
        <div class="batchBadge"> <span style="border: 1px solid orange;padding: 1px;"><span class="Circle"
                    style="background-color:orange"></span></span>&nbsp;Teacher Leave
        </div>
        <div class="batchBadge"> <span style="border: 1px solid skyblue;padding: 1px;"><span class="Circle"
                    style="background-color:skyblue"></span></span>&nbsp;Changed
        </div>
        <div class="batchBadge"> <span style="border: 1px solid blue;padding: 1px;"><span class="Circle"
                    style="background-color:blue"></span></span>&nbsp;Substituted
        </div>
        <div class="batchBadge"> <span style="border: 1px solid red;padding: 1px;"><span class="Circle"
                    style="background-color:red"></span></span>&nbsp;Cancelled</div>

    </div>
    <div class="row buttons mb-2">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" (click)="viewAllChanges(3)">View all Changes</button>
    </div>
</div>


<!-- <div class="viewSidePopup"
    [ngClass]="{'slideInLeft':!isRightSidePopup,'slideInRight':isRightSidePopup,'rightSidePopup':popupType!=7,'rightSideHistryPopup':popupType==7}"
    *ngIf="isRightSidePopup">
    <app-test-design [type]="popupType" [typeChild]="childtype" (closeView)="closeAddLectureForm($event)">
    </app-test-design>
</div> -->

<div class="viewSidePopup" [ngClass]="{'slideInLeft':!isRightSidePopup,'slideInRight':isRightSidePopup,'rightSidePopup':popupType!=7,'rightSideHistryPopup':popupType==7, 
    'stack-back':isBlurBack}" *ngIf="isRightSidePopup">
    <app-test-design [type]="type" [showData]="dataForShow" [timetableId]="timetableId" [objDate]="objDate"
        (isBlur)="isBlurBackGround($event)" [timetableName]="timetableName"
        (closeSubtituteLecture)="closeSubtituteLecture($event.param1,$event.param2)">
    </app-test-design>
</div>

<div class="viewSidePopup cancelLecture" [ngClass]="{'slideInLeft':!isCancelLecture,'slideInRight':isCancelLecture, 
    'stack-back':isBlurBack}" *ngIf="isCancelLecture">
    <app-test-design [type]="type" [showData]="dataForShow" [timetableId]="timetableId" [objDate]="objDate"
        (isBlur)="isBlurBackGround($event)" [timetableName]="timetableName"
        (closeSubtituteLecture)="closeSubtituteLecture($event.param1,$event.param2)">
    </app-test-design>
</div>

<div class="viewSidePopup rescheduleLecture" [ngClass]="{'slideInLeft':!isRescheduleLecture,'slideInRight':isRescheduleLecture, 
    'stack-back':isBlurBack}" *ngIf="isRescheduleLecture">
    <app-test-design [type]="type" [showData]="dataForShow" [timetableId]="timetableId"
        (isBlur)="isBlurBackGround($event)"
        (closeSubtituteLecture)="closeSubtituteLecture($event.param1,$event.param2)">
    </app-test-design>
</div>

<div class="viewSidePopup substituteSidePopup"
    [ngClass]="{'slideInLeft':!isSubtitutePopup,'slideInRight':isSubtitutePopup,'stack-back':isBlurBack}"
    *ngIf="isSubtitutePopup">
    <app-subtitute-leture [type]="1" [showData]="dataForShow" [timetableId]="timetableId"
        (closeSubtituteLecture)="closeSubtituteLecture($event.param1,$event.param2)">
    </app-subtitute-leture>
</div>

<div class="viewSidePopup substituteActivateSidePopup"
    [ngClass]="{'slideInLeft':!isActivteLecture,'slideInRight':isActivteLecture}" *ngIf="isActivteLecture">
    <app-test-design [type]="type" [showData]="dataForShow" [timetableId]="timetableId" [objDate]="objDate"
        (isBlur)="isBlurBackGround($event)" [timetableName]="timetableName"
        (closeSubtituteLecture)="closeSubtituteLecture($event.param1,$event.param2)">
    </app-test-design>
</div>

<div class="viewSidePopup createNewLecture" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
    *ngIf="isAddNew">
    <app-create-new-lecture [timetableId]="timetableId" [createNewDate]="createNewLectureDate"
        [lectureType]="lectureType" [editLectureData]="editLectureData" (close)="closeAddNewForm($event)">
    </app-create-new-lecture>
</div>

<div class="viewSidePopup rescheduleLecturePopup" [ngClass]="{'slideInLeft':!isReschedule,'slideInRight':isReschedule}"
    *ngIf="isReschedule">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4>Reschedule Lecture</h4>
        </div>
    </div>
    <div class="row mx-0 px-1 py-2">
        <p class="pt-2 mx-2">Are you sure you want to Reset this lecture?</p>
        <div class="row w-100 mt-3 justify-content-center">
            <a class="btn btn-no btn-outline" (click)="cancelReset(0)">No</a>
            <button class="btn btn-yes btn-filled" (click)="cancelReset(1)">Yes</button>
        </div>
    </div>
</div>