@import "../common-r";
.batchBadge {
    padding: 15px 7px 0px 7px;
    font-size: 11px;
    width: 20%;
}
.colorBadges .batchBadge {
    padding: 8px 5px 0px 5px;
    width: 102px;
}
td {
    border: 1px solid #d8d6d6;
    padding: 0;

    border-collapse: collapse;
    vertical-align: top;
    color: #444;
    height: 38px;
}
tr td:first-child {
    text-align: center;
    border: 0px;
    vertical-align: middle;
}
th {
    border-left: 1px solid #80808000;
    border-right: 1px solid #80808000;
    border-top: 1px solid #80808000;
    border-collapse: collapse;
    width: 140px;
    padding: 5px;
    text-align: center;
    background: #00f3ff0d;
    height: 38px;
    font-weight: 100;
}
.Circle {
    padding: 0px 6px;
}
.tabHeading {
    padding: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 6px;
    font-size: 13px;
    margin-left: 6px;
    height: 35px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
    width: fit-content;
}
.activeCourseTab {
    background-color: var(--newApp-color);
    color: #ffffff;
}
td p {
    margin-bottom: 0px;
    padding: 2px;
}
.color1 {
    background-color: #6db71c54;
}
.color2 {
    background-color: #ff990054;
}
.color3 {
    background-color: #b71c9d3b;
}
.addMore {
    margin-top: 6px;
    margin-left: 50px !important;
}
.btn-save,
.btn-cancel {
    width: 135px;
}
.type4 .btn-save,
.type4 .btn-cancel,
.type3 .btn-save,
.type3 .btn-cancel {
    width: 145px;
    padding: 7px 0px;
}
.container-fluid {
    height: 78vh;
}
.assignedEditLecture {
    width: 54% !important;
    right: -30px;
    top: 0;
    padding-right: 0px;
    padding-left: 0px;
}
.rightSidePopup {
    width: 33% !important;
    top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.rightSideHistryPopup {
    width: 90% !important;
    top: 0px;
}
.mainType4 {
    top: -113px;
}
.popuphover {
    display: none;
}
.lecture:hover + .popuphover {
    display: block;
    color: red;
    width: 300px;
    height: 200px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
    position: absolute;
    background-color: #ffffff;
    left: 204px;
    margin-top: -16px;
}
.popover__wrapper {
    position: relative;
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10px);
    display: block;
    position: absolute;
    right: 120px;
    margin-top: -25px;
    background-color: #ffffff;
    padding: 7px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    width: 380px;
}
.viewLecture tr td:nth-child(0) .popover__content,
.viewLecture tr td:nth-child(1) .popover__content,
.viewLecture tr td:nth-child(2) .popover__content,
.viewLecture tr td:nth-child(3) .popover__content {
    right: auto;
    left: 120px;
}
// .popover__content:before {
//     position: absolute;
//     z-index: -1;
//     content: "";
//     right: calc(60% - 10px);
//     top: -8px;
//     border-style: solid;
//     border-width: 0 10px 10px 10px;
//     border-color: transparent transparent #bfbfbf transparent;
//     transition-duration: 0.3s;
//     transition-property: transform;
// }
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -2px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
//Vinayak Style

.cardHeading2 {
    padding: 4% 4% 4% 4%;

    color: #5f5b5b;
}

.tabHeading1 {
    padding: 7px 6px;
    text-align: center;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 13px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

::ng-deep ng-select.customBorder .ng-select-container {
    border: none !important;
}

.closeBtn {
    color: #0091ff;
    border: 1px solid #0091ff;
    padding: 10px 30px;
    float: right;
    cursor: pointer;
}

.closeBtn:hover {
    color: white;
    background-color: #0091ff;
}

//vinayak
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #0091ff;
    border-color: #0091ff;
}

.userImg {
    border-radius: 10%;
    border: 1px solid #0091ff;
}

.emptyTD {
    font-size: 10px;
    color: gainsboro;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 11px;
}

.emptyTDDay {
    font-size: 10px;
    color: gainsboro;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 13px;
    border: 1px solid gainsboro;
}

.sundayTD {
    background-color: #8080800f;
}

.createNewLecture {
    width: 55% !important;
    top: 0px;
}

.cancelLecture {
    width: 33% !important;
    top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.rescheduleLecture {
    width: 40% !important;
    top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.substituteSidePopup {
    width: 45% !important;
    top: -11px;
    padding-top: 0;
    padding-right: 0px;
    padding-left: 0px;
}
.substituteActivateSidePopup {
    width: 39% !important;
    top: -11px;
    padding-top: 0;
    padding-right: 0px;
    padding-left: 0px;
}

.rescheduleLecturePopup {
    width: 40%;
    top: 0px;
    z-index: 1050;
    padding: 0px 0px 20px;
}
