
<!-- new design with api -->
<form class="form-horizontal" id="examSyllabus" [formGroup]="examSyllabus">
    <div class="row" formArrayName="subjects">
        <div class="col-12" *ngFor="let subject of examSyllabus.controls.subjects['controls']; let i=index;"
        [formGroupName]="i">
        <div>
            <div class="card customCardCss">
                <div style="background-color: #0076d1;color: white;height: 45px;">
                <label class="col-form-label" style="padding: 12px;color: white;"><span> {{subject.controls['subjectName'].value}}</span></label>
                <span (click)="isCollaps('demohide'+i,'demo'+i)"><i class="fa fa-minus"
                    style="float: right; font-size: x-large;padding: 12px;cursor: pointer;"
                    id="demo{{i}}"></i></span>
              </div>
              <div class="col-lg-12 isUnhide" id="demohide{{i}}">
                
                    <div class="row" style="padding: 1%;">
                        <div class="col-md-12" *ngIf="subject.controls.actualCoursePlanners['controls'] != null && subject.controls.actualCoursePlanners['controls'].length > 0">
                            
                            <div class="row" style="padding: 1%;">
                                <div class="col-md-6" style="padding-top: 7px;"><span style="margin-left: -13px;">Select Course Planner</span></div>
                                <div class="col-md-6" >
                                   
                                    <div class="checkbox checkbox-circle form-check-inline">
                                        <input type="checkbox" (change)="onSelectionChangeRemark($event,'demoCheckRem'+i)" >
                                        <label> Remark </label>
                                    </div>

                                    <textarea id="demoCheckRem{{i}}" style="padding: 2px 10px;" class="textarea-card isHideOptionalRem" formControlName="remarks" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5px;" formArrayName="actualCoursePlanners"> 
                               <div class="col-md-6" style="padding-right: 5px;" *ngFor="let cp of subject.controls.actualCoursePlanners['controls']; let j=index;" [formGroupName]="j">
                                <div class="checkbox checkbox-success form-check-inline">
                                        <input type="checkbox" value="{{cp.controls.isSelected.value}}"
                                            [checked]="cp.controls.isSelected.value" formControlName="isSelected"
                                            (change)="onSelectionChange(i,j,$event,i+'demoCheck'+j)">
                                        <label> {{cp.controls['name'].value}} </label>
                                    </div>
                                    <div [ngSwitch]="type">
                                        <div *ngSwitchCase="1">
                                            
                                        
                                            <ng-select id="{{i}}demoCheck{{j}}" [items]="cp.get('syllabusCoursewise').value" class="isHideSelect" bindLabel="name" [multiple]="true" style="margin-left: -5px;"
                                                placeholder="Select Units" (change)="addSyllabusControl($event, i,j)"
                                                [closeOnSelect]="false">
                                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                        <span class="ng-value-label" title="{{item.name}}">{{item.name.length > 40 ? item.name.substr(0, 40)+'...' : item.name}}</span>
                                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                                      
                                                    </div>
                                                    <div class="ng-value" *ngIf="items.length > 1">
                                                        <span class="ng-value-label">+{{items.length - 1}}</span>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div *ngSwitchCase="2">
                                            <ng-select id="{{i}}demoCheck{{j}}" class="isHideSelect" [items]="cp.get('syllabusCoursewise').value" bindLabel="name" [multiple]="true"
                                                placeholder="Select Chapter" (change)="addSyllabusControl($event, i,j)"
                                                [closeOnSelect]="false">
                                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                        <span class="ng-value-label" title="{{item.name}}">{{item.name.length > 50 ? item.name.substr(0, 50)+'...' : item.name}}</span>
                                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                                    </div>
                                                    <div class="ng-value" *ngIf="items.length > 1">
                                                        <span class="ng-value-label">+{{items.length - 1}}</span>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div *ngSwitchCase="4">
                                            <ng-select id="{{i}}demoCheck{{j}}" class="isHideSelect" [items]="cp.get('syllabusCoursewise').value" bindLabel="name"
                                                groupBy="chapterName" [multiple]="true" [closeOnSelect]="false" [selectableGroup]="true"
                                                (change)="addSyllabusControl($event, i,j)" [selectableGroupAsModel]="false" placeholder="Select Sub-Topics"
                                                [compareWith]="comparesyllabus">
                                                <ng-template ng-optgroup-tmp let-item="item">
                                                    {{item.chapterName || 'Unnamed group'}}
                                                </ng-template>

                                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                        <span class="ng-value-label" title="{{item.name}}"> {{item.name.length > 50 ? item.name.substr(0, 50)+'...' : item.name}}</span>
                                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                                    </div>
                                                    <div class="ng-value" *ngIf="items.length > 1">
                                                        <span class="ng-value-label">+{{items.length - 1}}</span>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <ng-select id="{{i}}demoCheck{{j}}" class="isHideSelect" [items]="cp.get('syllabusCoursewise').value" bindLabel="name"
                                                groupBy="chapterName" [multiple]="true" [closeOnSelect]="false" [selectableGroup]="true"
                                                (change)="addSyllabusControl($event, i,j)" [selectableGroupAsModel]="false"
                                                [compareWith]="comparesyllabus" placeholder="Select Topics">
                                                <ng-template ng-optgroup-tmp let-item="item">
                                                    {{item.chapterName || 'Unnamed group'}}
                                                </ng-template>
                                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                        <span class="ng-value-label" title="{{item.name}}"> {{item.name.length > 50 ? item.name.substr(0, 50)+'...' : item.name}}</span>
                                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                                    </div>
                                                    <div class="ng-value" *ngIf="items.length > 1">
                                                        <span class="ng-value-label">+{{items.length - 1}}</span>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>

                    
               
              </div> 
              </div>
        </div>
        
        </div> 
    </div>
</form>



<!-- static design -->


            <!-- <div class="card customCardCss">
                <div style="background-color: #0076d1;color: white;height: 45px;">
                <label class="col-form-label" style="padding: 12px;color: white;"><span> Physics</span></label>
                <span (click)="isCollaps('test','demo')"><i class="fa fa-minus"
                    style="float: right; font-size: x-large;padding: 12px;cursor: pointer;"
                    id="demo"></i></span>
              </div>
              <div class="col-lg-12 isUnhide" id="test">
                
                    <div class="row" style="padding: 1%;">
                        <div class="col-md-12">
                            <span>Select Course Planner</span>
                            
                           
                           <div class="row" style="margin-top: 5px;"> 
                               <div class="col-md-4" style="padding-right: 5px;">
                                <mat-checkbox class="example-margin" (change)="onClickCheckbox1($event,'1')"  style="font-weight: 100;margin-right: 20px;">
                                    CP-Phy-11</mat-checkbox>
                                <ng-select *ngIf="isUnit1" [items]="subjectsList" bindLabel="name" [multiple]="true"
                                placeholder="Subject"  [closeOnSelect]="false">
                              </ng-select>
            
                             
                               </div>

                               <div class="col-md-4" style="padding-right: 5px;padding-left: 5px;">
                                <mat-checkbox class="example-margin" (change)="onClickCheckbox2($event,'2')"  style="font-weight: 100;margin-right: 20px;">
                                    CP-2-Phy-11</mat-checkbox>
                                <ng-select *ngIf="isUnit2" [items]="subjectsList" bindLabel="name" [multiple]="true"
                                placeholder="Subject"  [closeOnSelect]="false">
                              </ng-select>
            
                             
                               </div>

                               <div class="col-md-4" style="padding-left: 5px;">
                                <mat-checkbox class="example-margin" (change)="onClickCheckbox3($event,'3')"  style="font-weight: 100;">
                                    CP_JEE_ADV_PHY_11_Import</mat-checkbox>
                                <ng-select  *ngIf="isUnit3" [items]="subjectsList" bindLabel="name" [multiple]="true"
                                placeholder="Subject"  [closeOnSelect]="false">
                              </ng-select>
            
                             
                               </div>
                             
                           </div>
                           
                        </div>
                        
                    </div>

                    <div class="row" style="padding: 1%;">
                        <div class="col-md-12" >
                            <span>Remark</span> 
                            <textarea class="textarea-card" rows="6"></textarea>
                        </div>
                    </div>
               
              </div> 
              </div>

              <div class="card customCardCss">
                <div style="background-color: #0076d1;color: white;height: 45px;">
                <label class="col-form-label" style="padding: 12px;color: white;"><span> Chemistry</span></label>
                <span (click)="isCollaps('test','demo')"><i class="fa fa-minus"
                    style="float: right; font-size: x-large;padding: 12px;cursor: pointer;"
                    id="demo"></i></span>
              </div>
              <div class="col-lg-12 isUnhide" id="test">
                
                    <div class="row" style="padding: 1%;">
                        <div class="col-md-12">
                            <span>Select Course Planner</span>
                            
                           
                           <div class="row" style="margin-top: 5px;"> 
                               <div class="col-md-4" style="padding-right: 5px;">
                                <mat-checkbox class="example-margin" (change)="onClickCheckbox1($event,'1')"  style="font-weight: 100;margin-right: 20px;">
                                    CP-Phy-11</mat-checkbox>
                                <ng-select *ngIf="isUnit1" [items]="subjectsList" bindLabel="name" [multiple]="true"
                                placeholder="Unit"  [closeOnSelect]="false">
                              </ng-select>
            
                             
                               </div>

                               <div class="col-md-4" style="padding-right: 5px;padding-left: 5px;">
                                <mat-checkbox class="example-margin" (change)="onClickCheckbox2($event,'2')"  style="font-weight: 100;margin-right: 20px;">
                                    CP-2-Phy-11</mat-checkbox>
                                <ng-select *ngIf="isUnit2" [items]="subjectsList" bindLabel="name" [multiple]="true"
                                placeholder="Unit"  [closeOnSelect]="false">
                              </ng-select>
            
                             
                               </div>

                               <div class="col-md-4" style="padding-left: 5px;">
                                <mat-checkbox class="example-margin" (change)="onClickCheckbox3($event,'3')"  style="font-weight: 100;">
                                    CP_JEE_ADV_PHY_11_Import</mat-checkbox>
                                <ng-select  *ngIf="isUnit3" [items]="subjectsList" bindLabel="name" [multiple]="true"
                                placeholder="Unit"  [closeOnSelect]="false">
                              </ng-select>
            
                             
                               </div>
                             
                           </div>
                           
                        </div>
                        
                    </div>

                    <div class="row" style="padding: 1%;">Physics
                        <div class="col-md-12" >
                            <span>Remark</span> 
                            <textarea class="textarea-card" rows="6"></textarea>
                        </div>
                    </div>
               
              </div> 
              </div> -->
