<div class="navbar-custom" [ngClass]="marginclass">

<ul class="list-unstyled topnav-menu topnav-menu-left m-0">
  <li style="margin-top: -2px;">
    <!-- style="margin-top: -2px;" -->  
    <button class="button-menu-mobile waves-effect waves-light" id="mobileMenu">
      <i class="fe-search" style="color: #212121;"></i>
    </button>
    <span style="margin-top: -10px;">Search or help</span>
  </li>
</ul>

  <ul class="list-unstyled topnav-menu float-right mb-0" >

    <li class="dropdown d-none d-lg-inline-block topbar-dropdown" ngbDropdown style="margin-top: -2px;">
      <a *ngIf="isSetupDone" class="nav-link dropdown-toggle arrow-none waves-effect waves-light" ngbDropdownToggle id="profileDropdowns"
      href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false" style="color: #0091FB;">
      Academic
      <i class="mdi mdi-chevron-down"></i>
    </a>
      
      <div *ngIf="isSetupDone" class="dropdown-menu dropdown-lg dropdown-menu-right" aria-labelledby="profileDropdowns" ngbDropdownMenu>
    
        <div class="p-lg-1">
            <div class="row no-gutters">
                <div class="col">
                    <a class="dropdown-icon-item" href="#">
                        <img src="../assets/images/brands/slack.png" alt="slack">
                        <span>Academics</span>
                    </a>
                </div>
                <div class="col">
                    <a class="dropdown-icon-item" href="#">
                        <img src="../assets/images/brands/github.png" alt="Github">
                        <span>Academic Setting</span>
                    </a>
                </div>
            </div>
    
        </div>
    
    </div>
    </li>

    
    <li *ngIf="isSetupDone" class="dropdown d-none d-lg-block" ngbDropdown  style="margin-top: -2px;">
      <!-- style="margin-top: -2px;" -->
      <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript: void(0);" ngbDropdownToggle id="extraMenu" role="button"
        aria-haspopup="false" aria-expanded="false" style="color: #0091FB;">
        Q-Create
        <i class="mdi mdi-chevron-down"></i>
      </a>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="extraMenu">
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item" (click)="goToAddRole()">
          <i class="fe-briefcase mr-1"></i>
          <span>Create Role</span>
        </a>
  
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item" (click)="goToUserCreate()">
          <i class="fe-user mr-1"></i>
          <span>Create Users</span>
        </a>
  
        <a href="javascript:void(0);" class="dropdown-item" (click)="goToDepartmentList()">
            <i class="fe-sidebar mr-1"></i>
            <span>Department list</span>
          </a>
  
        <a href="javascript:void(0);" class="dropdown-item" (click)="goToDepartmentCreate()">
          <i class="fe-sidebar mr-1"></i>
          <span>Create Department</span>
        </a>
  
        <a href="javascript:void(0);" class="dropdown-item" (click)="goToGroupCreate()">
          <i class="fe-sidebar mr-1"></i>
          <span>Create Group</span>
        </a>
  
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item" (click)="onClickUpload()">
          <i class="fe-bar-chart-line- mr-1"></i>
          <span>Bulk Upload Users</span>
        </a>
  
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">
          <i class="fe-settings mr-1"></i>
          <span>Settings</span>
        </a>
  
        <div class="dropdown-divider"></div>
  
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">
          <i class="fe-headphones mr-1"></i>
          <span>Help & Support</span>
        </a>
  
      </div>
    </li>
  
    <li *ngIf="isSetupDone" class="dropdown-mega" ngbDropdown  style="margin-top: -2px;"> 
      <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript: void(0);" ngbDropdownToggle id="megaMenu" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle style="color: #0091FB;">
          Q-Access
          <i class="mdi mdi-chevron-down"></i> 
      </a>
      <div class="dropdown-menu dropdown-megamenu" ngbDropdownMenu aria-labelledby="extraMenu">
          <div class="row">
              <div class="col-sm-8">
      
                  <div class="row">
                                         <div class="col-md-4">
                          <h5 class="text-dark mt-0">Applications</h5>
                          <ul class="list-unstyled megamenu-list">
                              <li>
                                  <a href="javascript:void(0);">eCommerce Pages</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">CRM Pages</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Email</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Calendar</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Team Contacts</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Task Board</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Email Templates</a>
                              </li>
                          </ul>
                      </div>
  
                      <div class="col-md-4">
                          <h5 class="text-dark mt-0">Extra Pages</h5>
                          <ul class="list-unstyled megamenu-list">
                              <li>
                                  <a href="javascript:void(0);">Left Sidebar with User</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Menu Collapsed</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Small Left Sidebar</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">New Header Style</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Search Result</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Gallery Pages</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Maintenance &amp; Coming Soon</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="text-center mt-3">
                      <h3 class="text-dark">Special Discount Sale!</h3>
                      <h4>Save up to 70% off.</h4>
                      <button class="btn btn-primary btn-rounded mt-3">Download Now</button>
                  </div>
              </div>
          </div>
  
      </div>
  </li>

  <li class="ml-4">
    <a *ngIf="isSetupDone" class="nav-link dropdown-toggle arrow-none waves-effect waves-light" id="profileDropdowns"
    href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false">
    <i class="fa fa-envelope" style="color: #0091FB;"></i>
  </a>
  </li>

  <li *ngIf="!isSetupDone" style="margin-top: 15px;">
    <a href="javascript: void(0);" style="color: white;" (click)="openSetup()" class="waves-effect" class="side-nav-link-ref" routerLink="/setUp">
        <i class="fe-pocket"></i>
        <span> Setup</span>
    </a>
  </li>
  

  
  
    <li class="dropdown notification-list" ngbDropdown>
      <a class="nav-link dropdown-toggle  waves-effect waves-light" href="javascript: void(0);" role="button"
        aria-haspopup="false" aria-expanded="false" ngbDropdownToggle id="notificationDropdown">
        <i class="fe-bell noti-icon" style="color: #0091FB;"></i>
        <span class="badge badge-danger rounded-circle noti-icon-badge">4</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg"
        aria-labelledby="notificationDropdown" ngbDropdownMenu>

        <!-- item-->
        <div class="dropdown-item noti-title" ngbDropdownItem>
          <h5 class="m-0">
            <span class="float-right">
              <a href="javascript: void(0);" class="text-dark">
                <small>Clear All</small>
              </a>
            </span>Notification
          </h5>
        </div>

        <div id="notification-items" class="slimscroll noti-scroll" appSlimScroll>
          <!-- item-->
          <a *ngFor="let notification of notificationItems;" href="{{ notification.redirectTo }}"
            class="dropdown-item notify-item" ngbDropdownItem>
            <div class="notify-icon bg-soft-{{ notification.bgColor }} text-{{ notification.bgColor }}">
              <i class="{{ notification.icon }}"></i>
            </div>
            <p class="notify-details">{{ notification.text }}
              <small class="text-muted">{{ notification.subText }}</small>
            </p>
          </a>
        </div>

        <!-- All-->
        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
          View All
        </a>
      </div>
    </li>

    <div class="vertical-line mr-3 ml-3"></div>

    <li class="dropdown notification-list" ngbDropdown>
      <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" ngbDropdownToggle id="profileDropdown"
        href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false">

        <span class="pro-user-name mr-1" style="color: #212121;">
          {{userName}} <i class="mdi mdi-chevron-down"></i>
        </span>
        <img src="assets/images/profileImg.png" alt="user-image" class="rounded-circle">
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="profileDropdown" ngbDropdownMenu>
        <div class="dropdown-header noti-title">
          <h6 class="text-overflow m-0">Welcome !</h6>
        </div>

        <li *ngFor="let top of topbar;let i = index">
          <a href="javascript: void(0);" (click)="onClickMenu(top.id)" class="waves-effect"
            class="dropdown-item notify-item">
            <i class="fe-pocket"></i>
            <span> {{top.name}}</span>
          </a>
    
        </li>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item">
          <i class="fe-user"></i>
          <span>My Account</span>
        </a>
        <a class="dropdown-item notify-item" routerLink="/role/list">
          <i class="dripicons-user-group"></i>
          <!-- <span class="menu-arrow"></span>routerLinkActive="active"-->
          <span> Role </span>
        </a>
        <!-- item-->
        <a href="javascript:void(0);" (click)="onClickMenu(16)" class="dropdown-item notify-item">
          <i class="fe-settings"></i>
          <span>Settings</span>
        </a>
        <a href="javascript:void(0);" (click)="onClickMenu(12)" class="dropdown-item notify-item">
          <i class="fe-settings"></i>
          <span>Communication</span>
        </a>
        <a href="javascript:void(0);" (click)="onClickMenu(13)" class="dropdown-item notify-item">
          <i class="fe-settings"></i>
          <span>Approval</span>
        </a>
        <a  (click)="onClickMenu(15)" class="dropdown-item notify-item">
          <i class="fe-settings"></i>
          <span>Academic Settings</span>
        </a>

        <a  (click)="onClickMenu(27)" class="dropdown-item notify-item">
            <i class="fe-settings"></i>
            <span>Device Settings</span>
          </a>

        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item">
          <i class="fe-lock"></i>
          <span>Lock Screen</span>
        </a>

        <div class="dropdown-divider"></div>

        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logout()">
          <i class="fe-log-out"></i>
          <span>Logout</span>
        </a>
        <!-- item-->
        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="leadLogout()">
          <i class="fe-log-out"></i>
          <span>Logout For leadtest</span>
        </a> -->
      </div>
    </li>


    <!-- <li class="dropdown notification-list">
      <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light" (click)="toggleRightSidebar()">
        <i class="fe-settings noti-icon"></i>
      </a>
    </li> -->


  </ul>

</div>