.globar-search-default {
  opacity: 0.2;
}
.navbar-custom-max{
  transition: 0.2s;
  left: 240px;
  right: 0px;
}

.navbar-custom-min{
  transition: 0.3s;
  left: 60px;
  right: 0px;
}

.global-search {
  opacity: 0.9;
}
// Dropdown with Icons
.dropdown-icon-item {
  display: block;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #6c757d;
  // $dropdown-link-color;

  img {
    height: 24px;
  }

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background-color: #f3f7f9;
    // $dropdown-link-hover-bg;
  }
}


.topnav {
  background-color: #ffffff;
  overflow: hidden;
  height: 500px;
  color: var(--newApp-color);
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid var(--newApp-color);
  position: absolute;
  right: 0;
  z-index: 100;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.search {
  vertical-align: middle;
  width: 200px;
}

ul#menu li {
  display: inline;
}

div.vertical-line {
  height: 25px;
  margin-top: 9px;
  width: 1px;
  background-color: #212121;
  float: left;
}

