<!-- <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control border-white" id="dash-daterange" dateFormat="MMM dd, yyyy"
                    placeholder="{{currentDate | date: 'yyyy-MM-dd'}}" name="dp" ngbDatepicker #d="ngbDatepicker">
  
                  <div class="input-group-append">
                    <span class="input-group-text bg-blue border-blue text-white">
                      <i class="mdi mdi-calendar-range font-13" (click)="d.toggle()"></i>
                    </span>
                  </div>
                </div>
              </div>
              <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                <i class="mdi mdi-autorenew"></i>
              </a>
              <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                <i class="mdi mdi-filter-variant"></i>
              </a>
            </form>
          </div>
          <h4 class="page-title">Dashboard</h4>
        </div>
      </div>
    </div>

  
  
  
    <div class="row">
      <div class="col-xl-12">
        <app-common-loader *ngIf="loading"></app-common-loader>
        <div class="card-box">
          <div class="row header-title">
              <div class="col-4">
                <h4 >{{ examAnalyticcsMessage}}</h4>
              </div>
              <div class="col-2">
  
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                    <select  class="form-control" (change)="onAcademicCalenderChange($event.target.value)">
                      <option value="">Select</option>
                      <option *ngFor="let academicCalender of academicCalender" value="{{academicCalender.uniqueId}}">{{academicCalender.name}}</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <select  class="form-control" (change)="onCourseChange($event.target.value)">
                      <option value="">Select</option>
                      <option *ngFor="let courses of courses" value="{{courses.uniqueId}}">{{courses.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
          </div>

          <div style="height: 375px;">
            <apx-chart [series]="options.series" [chart]="options.chart"
              [tooltip]="options.tooltip" [stroke]="options.stroke" [fill]="options.fill"
              [legend]="options.legend"
              [plotOptions]="options.plotOptions" [grid]="options.grid" [xaxis]="options.xaxis"
              [yaxis]="options.yaxis" [colors]="options.colors" [labels]="options.labels">
            </apx-chart>
          </div>
        </div> 
      </div>
    </div>
  
  </div>
   -->