$main-color: var(--newApp-color);
.mobileVerifylogo {
  height: fit-content;
}
.mobileVerifylogo img {
  margin: 25px 15px 15px 10px;
  position: relative;
  left: 15%;
}
.mobileVerify {
  background-color: white;
  height: 100vh;
}
.mobileVerify .right-side {
  background-color: white;
  // background-color: rgb(74, 146, 214);
  //background-image: -webkit-linear-gradient(154deg, var(--newApp-color) 65%, #fff 44%);
  // background-image: linear-gradient(to bottom, #86d6e7, #8dd7e6, #93d8e6, #9ad8e5, #a0d9e5, #acdcea, #b8dfee, #c3e2f1, #d6e8f7, #e7effa, #f5f6fc, #ffffff);
  // background-image: linear-gradient(to bottom, #99defb, #a1dff8, #a9dff6, #b1e0f3, #b8e0f1, #c2e2f3, #cbe5f4, #d4e7f5, #e2ecf8, #eef2fb, #f7f8fd, #ffffff);
  // background-image: linear-gradient(to bottom, #c2edfd, #caeffd, #d2f2fe, #daf4fe, #e2f6fe, #e8f7ff, #edf9ff, #f2faff, #f6fbff, #fafcff, #fdfdff, #ffffff);
  // height: 100vh;
}
.mobileVerify .card-body {
  // width: 85%;
  // margin-left: 13% !important;
  // height: 500px;
}
.mobileVerify .facebookSiginUpbtn,
.mobileVerify .linkedinSiginUpbtn,
.mobileVerify .googlemobileVerifybtn {
  color: black;
  border: 1px solid #e2e2e2;
}
.mobileVerify .mobileVerifybtn,
.mobileVerify .mobileVerifynextbtn {
  background-color: $main-color;
  padding: 0.55rem 0.9rem;
  font-size: 18px;
  font-weight: 700;
}
.mobileVerify p {
  color: #454648 !important;
  font-size: 18px;
  margin: auto;
}
.mobileVerify .otpForm p {
  color: #0098ca;
  font-weight: 700;
  padding-top: 13px;
}
.mobileVerify label {
  font-weight: 500;
  position: relative;
  top: 0;
  color: #43425db3;
}
.mobileVerify label span {
  color: $main-color;
}
.mobileVerify .mobileVerifybtn {
  background-color: $main-color;
  padding: 0.65rem 0.9rem;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0px;
  border-color: $main-color;
}
.mobileVerify .mobileVerifybtn:focus,
.mobileVerify .mobileVerifybtn:active {
  box-shadow: 0 0 0 0.15rem rgba(0, 107, 203, 0.5);
}
.mobileVerify .fab {
  // position: relative;
  // right: 10%;
  // font-size: 20px;
  // color: $main-color;
}
.mobileVerify input.form-control {
  height: 40px;
  font-size: 1rem;
  border-radius: 0;
}
.mobileVerify input.form-control:focus {
  border-color: $main-color;
}
.mobileVerify .form-control.is-invalid:focus,
.otp-invalid {
  border-color: #f1556c;
}
// .form-group{
//   display: flex;
//   flex-direction: column-reverse;
// }
.form-control:focus + label {
  color: $main-color;
}
.form-control.is-invalid:focus + label,
.form-control.is-invalid + label {
  color: #f1556c;
}
.mobileVerify .heading {
  color: $main-color;
}
.mobileVerify .forgot-password {
  color: $main-color;
  font-size: 15px;
  font-weight: 600;
}
.mobileVerify .signuplink {
  color: #707070 !important;
  font-size: 16px;
}
.mobileVerify .signuplink a {
  // color: $main-color;
  font-weight: 600;
}
// .mobileVerify p{
//   color: #454648 !important;
//   font-size: 18px;
//   margin: auto;
// }
// .mobileVerify .right-side img{
//   width: 85%;
//   padding-left: 115px;
//   padding-top: 99px;
//   height: 85%;
// }
.mobileVerify .card-body.proccedToLogin .mobileVerifybtn {
  width: 80%;
  font-weight: 500;
}
.timeleft,
.resend {
  color: $main-color;
}
.timeleft p {
  font-weight: 500 !important;
  padding-top: 5px;
}
#otp .was-validated .form-control:invalid,
#otp .form-control.is-invalid {
  background-image: none !important;
  padding-right: calc(0em + 0.9rem) !important;
}
.otp-valid {
  border-color: $main-color;
}

::ng-deep body {
  padding: 0 !important;
}
.otpForm .form-control {
  margin-right: 10px;
  text-align: center;
}
.bottom {
  background-color: $main-color;
  height: 10px;
  width: 100%;
}
.input-group-prepend {
  width: 55px;
}
.input-group-append .btn,
.input-group-prepend select {
  width: 55px;
  padding: 3px;
  height: 40px;
  border-radius: 0px;
}
.input-group-append .btn .fa {
  color: $main-color;
}
.input-group-append .btn {
  background-color: rgba(0, 107, 203, 0.3);
}
.otpForm .invalid-feedback {
  text-align: center;
}
// .right-side img{
//   width: 95%;
//   position: relative;
//   right: 4%;
// }
.otpinvalidtext p {
  color: #f1556c !important;
}
.otpinvalidtext,
.otpinvalidtext {
  padding-top: 5px;
}
// @media screen and (max-width:761px){
//   .mobileVerify .right-side img{
//       width: 100%;
//       padding-left: 15%;
//       padding-right: 10%;
//   }
//   .mobileVerify .right-side{
//       height: auto;
//   }
// }
@media screen and (min-width: 1200px) {
  .mobileVerify .card-body {
    width: 400px;
  }
  // .mobileVerify .card-body form {
  //   width: 400px;
  // }
  .mobileVerify .card-body.proccedToLogin {
    width: 570px;
  }
}
@media screen and (max-width: 1200px) {
  .mobileVerify {
    height: 100vh;
  }
  .mobileVerify .right-side {
    padding-top: 5%;
  }
  .mobileVerify .right-side img {
    width: 98%;
  }
}

@media (min-width: 1025px) {
  .login {
    background-image: url("./loginnew.png");
  }
}

.login {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
select {
  color: #afb4b9;
}
.checkbox label::before {
  border: 1px solid #98a6ad !important;
}
.remberMelabel {
  padding-top: 1px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding-left: 10px;
}
