<form [formGroup]="slotNewAddForm" class="w-100 px-2 py-3">
    <div class="row mx-0">
        <div class="col-12">
            <div class="form-group">
                <label for="fname">Period Name</label>
                <i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="name" #periodName placeholder="Enter Name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <p class="badge position-absolute inputBoxCount"
                    [ngClass]="{'badge-blue': periodName.value.length !== 20,'badge-danger': periodName.value.length == 20}">
                    {{ periodName.value.length }} / 20</p>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="fname">Shift Name</label>
                <i style="color: tomato;">* </i>
                <ng-select [items]="organizationShifts" class="custom1" bindLabel="name" formControlName="shiftUniqueId"
                    bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                    placeholder="Select shift" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.shiftUniqueId.errors }"
                    (change)="setShiftStartAndEndTimeForAddSlot($event)">
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <h5>{{item.name}} ( {{item.startTime}} to {{item.endTime}} ) </h5>
                    </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.shiftUniqueId.errors" class="invalid-feedback">
                    <div *ngIf="f.shiftUniqueId.errors.required">Shift Name is required</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Start Time</label>
                <i style="color: tomato;">* </i>
                <input type="hidden" formControlName="min" />
                <input type="hidden" formControlName="max" />
                <input type="hidden" formControlName="isStartTimeGreater" />
                <div class="input-group" data-placement="top" data-align="top">
                    <input placeholder="Start Time" class="form-control" [min]="f.min.value" [max]="f.max.value"
                        [ngxTimepicker]="picker1" formControlName="startTime" title="Select Start Time"
                        (ngModelChange)="onChangeStartTime($event,2)"
                        [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }" readonly>
                    <ngx-material-timepicker #picker1></ngx-material-timepicker>
                    <!-- <owl-date-time [pickerType]="'timer'" [panelClass]="'timepicker'" #dt1></owl-date-time> -->
                </div>
                <div *ngIf="f.isStartTimeGreater.value" style="color: red;">
                    Start time should be less than end time
                </div>
                <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback d-block">
                    <div *ngIf="f.startTime.errors.required">Start time is required</div>
                    <div *ngIf="f.startTime.errors.owlDateTimeMin">Start Time value must after {{min | date:
                        'shortTime'}}</div>
                    <div *ngIf="f.startTime.errors.owlDateTimeMax">Start Time value must before {{max | date:
                        'shortTime'}}</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">End Time</label>
                <i style="color: tomato;">* </i>
                <input placeholder="End Time" class="form-control" [min]="f.min.value" [max]="f.max.value"
                    [ngxTimepicker]="picker2" formControlName="endTime" title="Select End Date"
                    (ngModelChange)="onChangeEndTime($event,2)"
                    [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }" readonly>
                <ngx-material-timepicker #picker2></ngx-material-timepicker>
                <!-- <owl-date-time [pickerType]="'timer'" [panelClass]="'timepicker'" #dt2></owl-date-time> -->
                <div *ngIf="submitted && f.endTime.errors" class="invalid-feedback d-block">
                    <div *ngIf="f.endTime.errors.required">End time is required</div>
                    <div *ngIf="f.endTime.errors.owlDateTimeMin">End Time value must after {{min | date: 'shortTime'}}
                    </div>
                    <div *ngIf="f.endTime.errors.owlDateTimeMax">End Time value must before {{max | date: 'shortTime'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row buttons mt-3">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" type="submit" *ngIf="!isEditSlot" (click)="saveSlots()">Save</button>
        <button class="btn btn-save btn-filled" type="submit" *ngIf="isEditSlot" (click)="updateSlots()">Update</button>
    </div>
</form>