<div class="timetableList scroll" [ngClass]="{'stack-back':isBlur}">
    <div class="row mx-auto mb-4" style="width:96%;border-bottom: 1px solid #00000038;">
        <div style="display: flex;">
            <div class="tabHeader" (click)="tabChange(1)" id="publish" [ngClass]="{'activeTab': timeTableType==1}">
                Published
            </div>
            <div class="tabHeader" (click)="tabChange(2)" id="unpublish" [ngClass]="{'activeTab': timeTableType==2}">
                Draft</div>
            <div class="tabHeader" (click)="tabChange(3)" id="expire" [ngClass]="{'activeTab': timeTableType==3}">
                Expired</div>
        </div>
    </div>
    <div class="row card1margin mx-auto" style="width:100%; padding-left: 2%;" *ngIf="timeTableType==1">
        <div class="card1" style="margin-bottom: 3%;" *ngFor="let timeTable of timeTableList;let i=index;"
            [ngClass]="colorClassArray[i%5]">
            <div class="cardHeading1">
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <div class="col-md-5">
                        <div class="row mainLabel">{{timeTable.name}}</div>
                        <div class="row headingTitle">Timetable Name</div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mainLabel">{{typeList[timeTable.type]}}</div>
                        <div class="row headingTitle">Type</div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mainLabel" style="color: green;">Published</div>
                        <div class="row headingTitle">Status</div>
                    </div>
                </div>

                <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 20px;">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                        style="border-radius: 50%;" alt=""></span>
                            </div>
                            <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                                <div class="row mainNameLabel">{{timeTable.createdBy}}</div>
                                <div class="row headingTitle">Created By</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mainLabel">{{timeTable.createdOn|date}}</div>
                        <div class="row headingTitle">Created on</div>
                    </div>
                    <div class="col-md-3">

                        <div class="row mainLabel">{{timeTable.publishedOn|date}}</div>
                        <div class="row headingTitle">Published on</div>
                    </div>
                    <div class="col-md-1">
                        <span style="float: right;cursor: pointer;" (click)="viewTimeTableDetails(timeTable)"><i
                                class="fas fa-chevron-right" aria-hidden="true"
                                style="font-size: 18px;margin-top: 4px;"></i></span>
                    </div>

                </div>
            </div>
            <div class="cardHeading2">
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">

                        <span class="applyDateBtn" (click)="appyDates(timeTable)">Apply Dates</span>
                        <span class="viewHistoryBtn" (click)="viewHistory(timeTable)">View History</span>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="row card1margin mx-auto" style="width:100%; padding-left: 2%;" *ngIf="timeTableType==2">
        <div class="card1" style="margin-bottom: 3%;" *ngFor="let timeTable of timeTableList;let i=index;"
            [ngClass]="colorClassArray[i%5]">
            <div class="cardHeading1">
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <div class="col-md-5">
                        <div class="row mainLabel">{{timeTable.name}}</div>
                        <div class="row headingTitle">Timetable Name</div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div class="row mainLabel">{{typeList[timeTable.type]}}</div>
                        <div class="row headingTitle">Type</div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mainLabel" style="color: purple;">Not Published</div>
                        <div class="row headingTitle">Status</div>
                    </div>
                    <div class="col-md-2" style="padding: 0px 0px;">
                        <span class="editBox" (click)="editTimetable(timeTable)">
                            <i class="fa fa-pen"></i> Edit
                        </span>
                    </div>
                </div>

                <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 20px;">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                        style="border-radius: 50%;" alt=""></span>
                            </div>
                            <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                                <div class="row mainNameLabel">{{timeTable.createdBy}}</div>
                                <div class="row headingTitle">Created By</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;padding-right: 0;">
                        <div class="row mainLabel">{{timeTable.createdOn|date}}</div>
                        <div class="row headingTitle">Created on</div>
                    </div>
                    <div class="col-md-3">

                        <div class="row mainLabel">{{timeTable.published|date}}</div>
                        <div class="row headingTitle">Published on</div>
                    </div>
                    <div class="col-md-2" style="padding: 0px 0px;">
                        <span style="float: right;cursor: pointer;"><i class="fas fa-chevron-right" aria-hidden="true"
                                style="font-size: 18px;margin-top: 4px;"></i></span>
                    </div>

                </div>
            </div>
            <div class="cardHeading2">
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8" style="padding: 0px 0px;">

                        <span class="applyDateBtn" (click)="appyDates(timeTable)">Apply Dates</span>
                        <span class="importXmlBtn" *ngIf="timeTable.type==2" (click)="viewXml(timeTable)">Import
                            XML</span>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="row mx-auto" style="width:100%;" *ngIf="timeTableType==3">
        <div class="card1 card1margin" style="margin-bottom: 3%;" *ngFor="let timeTable of timeTableList;let i=index;"
            [ngClass]="colorClassArray[i%5]">
            <div class="cardHeading1">
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <div class="col-md-5">
                        <div class="row mainLabel">{{timeTable.name}}</div>
                        <div class="row headingTitle">Timetable Name</div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;">
                        <div class="row mainLabel">{{typeList[timeTable.type]}}</div>
                        <div class="row headingTitle">Type</div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mainLabel" style="color: red;">Expired</div>
                        <div class="row headingTitle">Status</div>
                    </div>
                    <div class="col-md-2" style="padding: 0px 0px;">
                        <!-- <span class="editBox" (click)="editTimetable(timeTable)">
                            <i class="fa fa-pen"></i> Edit
                        </span> -->
                    </div>
                </div>

                <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 20px;">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                        style="border-radius: 50%;" alt=""></span>
                            </div>
                            <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                                <div class="row mainNameLabel">{{timeTable.createdBy}}</div>
                                <div class="row headingTitle">Created By</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0;padding-right: 0;">
                        <div class="row mainLabel">{{timeTable.createdOn|date}}</div>
                        <div class="row headingTitle">Created on</div>
                    </div>
                    <div class="col-md-3">

                        <div class="row mainLabel">{{timeTable.published|date}}</div>
                        <div class="row headingTitle">Published on</div>
                    </div>
                    <div class="col-md-2" style="padding: 0px 0px;">
                        <span style="float: right;cursor: pointer;"><i class="fas fa-chevron-right" aria-hidden="true"
                                style="font-size: 18px;margin-top: 4px;"></i></span>
                    </div>

                </div>
            </div>
            <div class="cardHeading2">
                <div class="row" style="margin-left: 0;margin-right: 0;">
                    <div class="col-md-4">
                        <div class="row mainLabel">{{timeTable.expired|date}}</div>
                        <div class="row headingTitle">Expired on</div>
                    </div>
                    <div class="col-md-8" style="padding: 0px 0px;">

                        <!-- <span class="applyDateBtn" (click)="appyDates()">Apply Dates</span> -->
                        <span class="viewHistoryBtn" (click)="viewHistory()">View History</span>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>

<div class="viewSidePopup appyDates"
    [ngClass]="{'slideInLeft':!isApplyDates,'slideInRight':isApplyDates,'stack-back':isviewConflict || isApplyDatesConflicts}"
    *ngIf="isApplyDates">
    <div class="row align-items-center popupHeading"
        style="border-bottom: 1px solid #80808017;margin-bottom: 10px;margin-left: 0;">
        <div class="col-md-7" style="font-weight: bold;">Apply Dates</div>
        <div class="col-md-5 py-1">
            <div class="row formMainHead">{{selectedTimeTableData.name}}</div>
            <div class="row formheadingTitle">Timetable Name</div>
        </div>
    </div>
    <form [formGroup]="applyDatesForm">
        <div class="row px-3">
            <div class="col-md-6">
                <label class="formheadingTitle">Start Date</label>
                <div class="input-group">
                    <input type="hidden" />
                    <input [owlDateTimeTrigger]="dt1"
                        style="border-right: hidden;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                        [owlDateTime]="dt1" class="form-control" [min]="min" formControlName="startDate"
                        [owlDateTime]="dt1" (dateTimeChange)="changeDate($event)"
                        [ngClass]="{ 'is-invalid': (submitted && applyDatesForm.controls.startDate.errors) || applyDatesForm.controls.conflicts.value }">
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    <div class="input-group-append">
                        <span class="input-group-text"
                            [ngClass]="{ 'is-invalid': (submitted && applyDatesForm.controls.startDate.errors) || applyDatesForm.controls.conflicts.value }"
                            style="background-color: white;border-left: hidden;">
                            <i class="far fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf="submitted && applyDatesForm.controls.startDate.errors?.required" class="invalid-feedback"
                    style="display: block;">
                    Please select start date
                </div>
            </div>
            <div class="col-md-6">
                <label class="formheadingTitle">End Date</label>
                <div class="input-group">
                    <input [owlDateTimeTrigger]="dt2"
                        style="border-right: hidden;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                        [owlDateTime]="dt2" class="form-control" formControlName="endDate"
                        (dateTimeChange)="changeDate($event)" [min]="min"
                        [ngClass]="{ 'is-invalid': (submitted && applyDatesForm.controls.endDate.errors) || applyDatesForm.controls.conflicts.value }"
                        [owlDateTime]="dt2">
                    <owl-date-time [pickerType]="'calendar'" #dt2>
                    </owl-date-time>
                    <div class="input-group-append">
                        <span class="input-group-text"
                            [ngClass]="{ 'is-invalid': (submitted && applyDatesForm.controls.endDate.errors) || applyDatesForm.controls.conflicts.value }"
                            style="background-color: white;border-left: hidden;">
                            <i class="far fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf="submitted && applyDatesForm.controls.endDate.errors?.required" class="invalid-feedback"
                    style="display: block;">
                    Please select end date
                </div>
                <div class="form-group">
                    <span class="conflicts" *ngIf="applyDatesForm.controls.conflicts.value" (click)="viewConflict()">
                        View Conflict
                    </span>
                </div>
            </div>
        </div>
        <div class="row buttons mt-4">
            <a class="btn btn-cancel cancelAppy" (click)="close()">Cancel</a>
            <button class="btn btn-save btn-filled" (click)="saveAppyDates()">Save & Publish</button>
        </div>
    </form>
</div>
<div class="viewSidePopup appyDatesConfirm" [ngClass]="{'slideInLeft':!isApplyDates,'slideInRight':isApplyDates}"
    *ngIf="isApplyDatesConflicts">
    <div class="row mx-2 mt-2">
        <div class="col-12">
            <p>Your previous execution will change. Do you want to change?</p>
        </div>
    </div>
    <div class="row buttons mt-4">
        <a class="btn btn-cancel cancelAppy" (click)="no()">No</a>
        <button class="btn btn-save btn-filled" (click)="saveAppyDates()">Yes</button>
    </div>
</div>

<div class="viewSidePopup viewHistory" [ngClass]="{'slideInLeft':!isViewHistory,'slideInRight':isViewHistory}"
    *ngIf="isViewHistory">
    <app-view-conflict [viewType]="1" [timetableData]="selectedTimeTableData" (newItemEvent)="backPage($event)">
    </app-view-conflict>
</div>

<div class="viewSidePopup viewConflictPop" [ngClass]="{'slideInLeft':!isviewConflict,'slideInRight':isviewConflict}"
    *ngIf="isviewConflict">
    <app-view-conflict [viewType]="2" [conflictData]="conflictData" (newItemEvent)="backPageConflict($event)">
    </app-view-conflict>

</div>

<div class="viewSidePopupNoPad viewTimeTable"
    [ngClass]="{'slideInLeft':!isviewTimeTable,'slideInRight':isviewTimeTable}" *ngIf="isviewTimeTable">
    <app-timetable-lecture-view [mainType]="2" [timeTableData]="selectedTimeTableData"
        (newItemEvent)="backPage($event)"></app-timetable-lecture-view>

</div>
<div class="viewSidePopup assignshift" [ngClass]="{'slideInLeft':!isAddShift,'slideInRight':isAddShift}"
    *ngIf="isAddShift">
    <app-assign-shift [timetableData]="timetableData" [type]="6" [isEdit]="isEdit" (close)="closeAddShiftForm($event)">
    </app-assign-shift>
</div>

<div class="viewSidePopup viewXmlPop" [ngClass]="{'slideInLeft':!isViewXml,'slideInRight':isViewXml}" *ngIf="isViewXml">
    <app-import-xml [timeTableData]="selectedTimeTableData" (closeXml)="closeXml($event)"></app-import-xml>
</div>