//new Style
@import "../common-r";
.timetableList {
  margin-top: 20px;
  overflow-y: auto;
  min-height: 600px;
  height: 900px;
}
.card1 {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  min-width: 47.6%;
  max-width: 47%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading1 {
  border-bottom: 1px solid #e8e8e8;
  padding: 6% 4% 6% 4%;

  color: #5f5b5b;
}

.cardHeading2 {
  padding: 4% 4% 4% 4%;

  color: #5f5b5b;
}

.editBox {
  float: right;
  color: #0091ff;
  cursor: pointer;
  border: 1px solid #0091ff;
  padding: 1px 6px;
  border-radius: 3px;
  background-color: #0091ff0d;
}

.viewHistoryBtn:hover,
.editBox:hover {
  background-color: #0091ff;
  color: white;
}

.viewHistoryBtn {
  font-size: 12px;
  padding: 8px 20px;
  text-align: center;
  color: #0091ff;
  cursor: pointer;
  border: 1px solid #0091ff;
  vertical-align: middle;
  background-color: #0091ff0d;
  float: right;
  margin-right: 15px;
}

.importXmlBtn {
  font-size: 12px;
  padding: 8px 20px;
  text-align: center;
  color: purple;
  cursor: pointer;
  border: 1px solid purple;
  vertical-align: middle;
  background-color: #8000800d;
  float: right;
  margin-right: 15px;
}

.importXmlBtn:hover {
  background-color: purple;
  color: white;
}

.applyDateBtn {
  font-size: 12px;
  width: fit-content;
  padding: 9px 20px;
  background: #0091ffa6;
  color: white;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  float: right;
}

.applyDateBtn:hover {
  background-color: #0091ff;
  color: white;
}

.appyDates {
  width: 53% !important;
  top: 70px;
  padding: 0px 0px 20px 0px;
}
.appyDatesConfirm {
  width: 38% !important;
  top: 70px;
  padding: 0px 0px 20px 0px;
}

.cancelAppy {
  border: 1px solid gray !important;
  margin-right: 18px;
  cursor: pointer;
}

.viewHistory {
  width: 78% !important;
  top: 70px;
  padding: 0px 0px 20px;
}

.viewXmlPop {
  width: 100% !important;
  top: 70px;
  min-height: 100%;
}
.viewConflictPop {
  width: 40% !important;
  top: 70px;
  padding: 0px 0px 20px;
}

.viewTimeTable {
  width: 97% !important;
  top: 70px;
  padding: 0px 0px 20px;
}

.buttons {
  position: relative;
  right: 25px;
  float: right;
}

.btn-save,
.btn-cancel {
  width: 135px;
  border: 0px;
  border-radius: 0px;
  font-size: 14px;
}
.btn-cancel,
.btn-cancel:hover {
  color: #444 !important;
}

.tabHeader {
  padding: 5px 15px;
  margin: 0px 20px 0px 0px;
  color: black;
  letter-spacing: 1px;
  cursor: pointer;
}

.activeTab {
  border-bottom: 1px solid #0091ff;
  font-weight: bold;
  color: #0091ff;
  letter-spacing: 1px;
}

.assignshift {
  width: 95.3%;
  min-height: 500px;
  height: 98%;
  top: 85px;
  margin-right: 25px;
  padding: 15px 0px 15px 0px;
}
.card1.primary {
  border-left: 4px solid var(--primary);
}
.card1.info {
  border-left: 4px solid var(--info);
}
.card1.warning {
  border-left: 4px solid var(--warning);
}
.card1.success {
  border-left: 4px solid var(--success);
}
.card1.danger {
  border-left: 4px solid var(--danger);
}
.input-group-text.is-invalid {
  border-color: #f1556c;
}
.row .card1:nth-child(odd) {
  margin-right: 2%;
}
@media screen and (min-width: 1920px) {
  .assignshift {
    margin-right: 40px;
  }
}
