<form class="form-horizontal" id="timingInfo" [formGroup]="timingInfo" *ngIf="examType == 1">
  <div style="padding:0% 2%;">
    <div class="row">
      <div [ngClass]="{'col-3': assignmentTypeId==1,'col-4':assignmentTypeId==2}">
        <label class="col-form-label label-under">Date</label>
        <div class="input-group datePicker">
          <!-- <input placeholder="" type="date" class="form-control"    formControlName="testDate"> -->
          <!-- <input ngbDatepicker class="form-control" placeholder="Set Date" (change)="startDatechanged()" formControlName="testDate" #cd1="ngbDatepicker" (click)="cd1.toggle()"> -->
          <input type="text" class="form-control" placeholder="Set Date" bsDatepicker formControlName="assessmentDate"
            [ngClass]="{ 'is-invalid': timingInfo.controls['assessmentDate'].errors && isFirstNext }"  [minDate]="todayDate" />
          <div class="input-group-append"
            [ngClass]="{ 'is-invalid': timingInfo.controls['assessmentDate'].errors && isFirstNext }">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-calendar"></i></span>
          </div>
          <div *ngIf="timingInfo.controls['assessmentDate'].errors && isFirstNext" class="invalid-feedback">
            <div *ngIf="timingInfo.controls['assessmentDate'].errors?.required">
              Date is required</div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-3': assignmentTypeId==1,'col-4':assignmentTypeId==2}">
        <label class="col-form-label label-under">Time</label>
        <!-- <input class="form-control" placeholder="" type="time" formControlName="testTime" [(ngModel)]="mytime"> -->
        <!--<div class="input-group timePicker">
             <input class="form-control" placeholder="" type="rext" readonly (click)="selectTime()" formControlName="testTime" [(ngModel)]="mytime">
            <div class="input-group-append">
              <span class="input-group-text" style="background-color: white;"><i
                  class="mdi mdi-clock-outline"></i></span>
            </div>
          </div>
          <ngb-timepicker [(ngModel)]="time" *ngIf="showTimePicker" formControlName="testTime">
  
          </ngb-timepicker> -->
        <div class="input-group">
          <input class="form-control" placeholder="Start Time" formControlName="assessmentTime" aria-label="Start Time"
            [ngxTimepicker]="picker1" readonly style="border-right: hidden;"
            [ngClass]="{ 'is-invalid': timingInfo.controls['assessmentTime'].errors && isFirstNext }">
          <ngx-material-timepicker #picker1></ngx-material-timepicker>
          <!-- <input class="form-control" style="border-right: none;" placeholder="" [(ngModel)]="minDate"
            [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="assessmentTime">
          <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time> -->
          <div class="input-group-append"
            [ngClass]="{ 'is-invalid': timingInfo.controls['assessmentTime'].errors && isFirstNext }">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div>
        </div>
        <div *ngIf="timingInfo.controls['assessmentTime'].errors && isFirstNext" class="invalid-feedback">
          <div *ngIf="timingInfo.controls['assessmentTime'].errors?.required">
            Start time is required</div>
        </div>
      </div>

      <div class="col-3" *ngIf="assignmentTypeId==1">
        <label class="col-form-label label-under">Duration</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type here..." maxlength="4" size="4"
            style="border-right: hidden;" (keypress)="numberOnly($event)" formControlName="duration"
            [ngClass]="{ 'is-invalid': timingInfo.controls['duration'].errors && isFirstNext }">
          <div class="input-group-append"
            [ngClass]="{ 'is-invalid': timingInfo.controls['duration'].errors && isFirstNext }">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div><br>
          <div *ngIf="timingInfo.controls['duration'].errors && isFirstNext" class="invalid-feedback">
            <div *ngIf="timingInfo.controls['duration'].errors?.required">
              Duration is required</div>
          </div>
          <!-- <div *ngIf="timingInfo.controls['testDuration'].invalid && (timingInfo.controls['testDuration'].dirty || timingInfo.controls['testDuration'].touched)"
                                  class="text-danger">
          
                                  <div *ngIf="timingInfo.controls['testDuration'].errors.required">
                                    Test Duration is required.
                                  </div>
                                 </div> -->
        </div>
      </div>
      <div [ngClass]="{'col-3': assignmentTypeId==1,'col-4':assignmentTypeId==2}">
        <label class="col-form-label label-under">Extra Time</label>
        <div class="form-group">
          <!-- <input type="text" class="form-control" placeholder="Type here..." maxlength="3" size="3"
            style="border-right: hidden;" (keypress)="numberOnly($event)" formControlName="extraTime">
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div> -->
          <ng-select formControlName="extraTime" [items]="extraTimeArray" bindLabel="name" bindValue="id"
            [clearable]="false" [searchable]="false" class="custom" style="width: 100%;" placeholder="Select"
            [ngClass]="{ 'is-invalid': timingInfo.controls['extraTime'].errors && isFirstNext }">
          </ng-select>
          <div *ngIf="timingInfo.controls['extraTime'].errors && isFirstNext" class="invalid-feedback">
            <div *ngIf="timingInfo.controls['extraTime'].errors?.required">
              Extra time is required</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>

<form class="form-horizontal" id="timingInfo" [formGroup]="timingInfo" *ngIf="examType == 2">
  <div
    [ngStyle]="{'border-right': typeborder == 1 ? '1px solid #c1c4d0ad' : '','padding':typeborder == 1 ? '3% 4% 5% 1.5%' : '3% 4% 5% 0%'}">
    <div class="row">
      <div class="col-4">
        <label class="col-form-label label-under">Test Date</label>
        <div class="input-group datePicker">
          <!-- <input placeholder="" type="date" class="form-control"    formControlName="testDate"> -->
          <!-- <input ngbDatepicker class="form-control" placeholder="Set Date" (change)="startDatechanged()" formControlName="testDate" #cd1="ngbDatepicker" (click)="cd1.toggle()"> -->
          <input type="text" class="form-control" placeholder="Set Date" bsDatepicker formControlName="testDate" [minDate]="todayDate" />
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-calendar"></i></span>
          </div>

        </div>
      </div>
      <div class="col-4">
        <label class="col-form-label label-under">Test Time</label>
        <!-- <input class="form-control" placeholder="" type="time" formControlName="testTime" [(ngModel)]="mytime"> -->
        <!--<div class="input-group timePicker">
             <input class="form-control" placeholder="" type="rext" readonly (click)="selectTime()" formControlName="testTime" [(ngModel)]="mytime">
            <div class="input-group-append">
              <span class="input-group-text" style="background-color: white;"><i
                  class="mdi mdi-clock-outline"></i></span>
            </div>
          </div>
          <ngb-timepicker [(ngModel)]="time" *ngIf="showTimePicker" formControlName="testTime">
  
          </ngb-timepicker> -->

        <div class="input-group">
          <input class="form-control" style="border-right: none;" placeholder="" [(ngModel)]="todayDate"
            [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="testTime" [min]="todayDate">
          <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div>
        </div>
      </div>

      <div class="col-4">
        <label class="col-form-label label-under">Extra Time</label>
        <div class="input-group">
          <!-- <input type="text" class="form-control" placeholder="in minutes" maxlength="4" size="4"
              (keypress)="numberOnly($event)" formControlName="extraTime"> -->
          <ng-select formControlName="extraTime" [searchable]="false" class="custom" style="width: 100%;"
            placeholder="Select">

            <ng-option value="5">5 Min</ng-option>
            <ng-option value="10">10 Min</ng-option>
            <ng-option value="15">15 Min</ng-option>
            <ng-option value="20">20 Min</ng-option>
            <ng-option value="25">25 Min</ng-option>
          </ng-select>
          <!-- <div class="input-group-append">
              <span class="input-group-text" style="background-color: white;"><i
                  class="mdi mdi-clock-outline"></i></span>
            </div> -->
        </div>
      </div>

    </div>
  </div>
</form>