.example-margin {
  margin: 0 12px;
}

.label-under {
  font-weight: 500;
  color: #4a4a4a;
}

.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  padding-left: 7px;
  padding-right: 7px;
}

#timingInfo {
  padding-left: 5px;
}
::ng-deep .bs-datepicker-container {
  padding: 0px;
}
::ng-deep .theme-green .bs-datepicker-head {
  background-color: var(--app-examModuleColor);
}
.timePicker input,
.datePicker input {
  border-right: hidden;
}
.input-group-text {
  padding: 0.34rem 0.9rem;
}
.input-group-append.is-invalid .input-group-text {
  border-color: #f1556c;
}
