<div class="container-fluid px-0">
    <div class="card" [ngClass]="{'stack-back':isAddNew || isBulkAssign}">
        <div class="card-body">
            <section id="headertabs" [ngClass]="{'stack-back':isViewShift}">
                <nav>
                    <div class="nav nav-tabs " id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==1}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(1)">SHIFT</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==2}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(2)">PERIOD</a>
                        <div class="w-64"></div>
                        <div class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <i
                                    class="fas fa-chevron-down" aria-hidden="true"></i></a>

                        </div>
                    </div>
                </nav>
            </section>
            <div *ngIf="tabNumber==1">
                <div [ngClass]="{'stack-back':isViewShift}">
                    <div class="row mx-2 mt-3">
                        <div class="card-body">
                            <div class="row mb-1 mx-2 table-header">
                                <!-- Search -->
                                <div class="col-sm-1">
                                    <label for="staticEmail" class=" col-form-label">Shift</label>
                                </div>
                                <div class="col-sm-1 quickAdd">
                                    <!-- <button class="btn"><i class="fe-settings noti-icon"></i></button> -->
                                    <button class="btn" (click)="addShift()">Add Shift <i class="fas fa-chevron-down"
                                            aria-hidden="true"></i></button>
                                </div>
                                <div class="col-sm-8 dropdownModal">
                                    <input type="text" name="searchTerm" class="form-control"
                                        (input)="findRecords($event.target.value)"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"
                                        placeholder="Search" aria-controls="tickets-table">
                                    <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"></i>
                                </div>
                                <div class="col-sm-2 ">
                                    <button class="btn bulkAssign float-right" (click)="OpenBulkAssignForm()"><i
                                            class="far fa-user-circle" aria-hidden="true"></i> Bulk Assign</button>
                                </div>
                                <!-- End search -->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div [ngClass]="{'fadeInUp':!isShowfilter,'fadeInDown':isShowfilter}" *ngIf="isShowfilter">
                        <div class="fiterForm mx-4">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Shift Type</label>
                                        <ng-select [items]="shiftTypeList" class="custom1" bindLabel="name"
                                            bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                            placeholder="Select" [searchable]="false" (change)="onChange(1);getTeachers($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Days</label>
                                        <ng-select [items]="workingDayList" class="custom1" bindLabel="day"
                                            bindValue="dayValue" [multiple]="false" [closeOnSelect]="true"
                                            [clearable]="false" placeholder="Select" [searchable]="false"
                                            (change)="onChange(1)"></ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Teacher</label>
                                        <ng-select [items]="teacherList" class="custom1" bindLabel="name" bindValue="id"
                                            [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                            placeholder="Select" [searchable]="false" (change)="onChange(1)">
                                        </ng-select>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <button class="btn btn-apply btn-filled" (click)="applyFilter()">Apply</button>
                                    <button class="btn btn-cancel" (click)="closeFilter()">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <app-shift-list (addShift)="addShift()" (isViewDetails)="isViewDetails($event)"></app-shift-list>
            </div>
            <div *ngIf="tabNumber==2">
                <div [ngClass]="{'stack-back':isViewShift}">
                    <div class="row mx-2 mt-3 periodTab">
                        <div class="card-body">
                            <div class="row mb-md-2 mx-2 table-header">
                                <!-- Search -->
                                <div class="col-sm-1">
                                    <label for="staticEmail" class=" col-form-label">Period</label>
                                </div>
                                <div class="col-sm-1 quickAdd">
                                    <!-- <button class="btn"><i class="fe-settings noti-icon"></i></button> -->
                                    <button class="btn" (click)="addShift()">Add Period <i class="fas fa-chevron-down"
                                            aria-hidden="true"></i></button>
                                </div>
                                <div class="col-sm-8 dropdownModal">
                                    <input type="text" name="searchTerm" class="form-control"
                                        (input)="findRecords($event.target.value)"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"
                                        placeholder="Search" aria-controls="tickets-table">
                                    <i class="fas fa-search" id="dropdownForm1"
                                        [ngClass]="{'quickForm-back':isShowfilter}"></i>
                                </div>
                                <div class="col-sm-1 setting">
                                    <button class="btn float-right"><i class="fas fa-cog" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <!-- End search -->
                            </div>
                        </div>
                        <hr>
                    </div>
                    <hr>
                </div>
                <app-period-list (isViewDetails)="isViewDetails($event)"></app-period-list>
            </div>
        </div>
        <!-- create shift form -->
    </div>
    <div class="viewSidePopup createShiftForm" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==1">
        <app-create-worktime [shiftList]="null" (close)="closeAddNewForm($event)"></app-create-worktime>
    </div>
    <div class="viewSidePopup createPeriodForm" [ngClass]="{'slideInLeft':!isAddNew,'slideInRight':isAddNew}"
        *ngIf="isAddNew && tabNumber==2">
        <app-create-period [slotData]="null" (close)="closeAddNewForm($event)"></app-create-period>
    </div>
    <div class="viewSidePopup bulkAssignForm" [ngClass]="{'slideInLeft':!isBulkAssign,'slideInRight':isBulkAssign}"
        *ngIf="isBulkAssign && tabNumber==1">
        <app-bulk-assign [type]="tabNumber" (close)="closeBulkAssign($event)"></app-bulk-assign>
    </div>
</div>