@import "../../../../../assets/scss/custom/components/common-component";
.container-fluid {
    background-color: white;
}
#headertabs {
    width: 94% !important;
    padding-top: 10px !important;
    height: 55px !important;
    position: relative !important;
    margin: 0px auto 5px !important;
}
#headertabs .nav-tabs .nav-link.active {
    color: var(--newApp-color) !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    border: 0px !important;
}
#headertabs .nav-tabs .nav-link {
    color: #3e3e3e !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
#headertabs .nav-item {
    width: 12% !important;
}
#headertabs .tab-content {
    padding: 2px 0 0 0;
}
.card-body {
    padding: 0.2rem 0rem;
}
.w-64 {
    width: 64%;
}
.nav-item.dropdown {
    width: 12%;
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 0px;
    border-left: 1px solid #e4e4e4;
}
.nav-item.dropdown a {
    color: #3d3d3d;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 25px;
}
.table-header label.col-form-label {
    color: #3d3d3d;
    font-weight: 600;
    height: 50px;
    padding: 12px 0px 0px 3px;
    font-size: 18px;
    vertical-align: middle;
}
.table-header .btn.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.table-header .quickAdd .btn,
.table-header .btn.bulkAssign {
    border: 1.6px solid var(--newApp-color);
    border-radius: 3px;
    height: 40px;
    margin-right: 0px;
    padding: 0rem 0.6rem;
    margin-top: 3px;
    background-color: var(--newApp-color) !important;
    color: #fff !important;
}
.table-header .bulkAssign .fa {
    color: #fff !important;
}
.table-header input {
    height: 40px;
    border-color: #7c7b98;
    margin-top: 3px;
}
.table-header .fa-filter {
    color: var(--newApp-color);
    border: 1px solid var(--newApp-color);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 12px;
    padding: 5px;
    cursor: pointer;
}
.table-header .fa-search {
    color: #a9a9a9;
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 5px;
}
.table-header .fa-plus {
    margin-right: 5px;
}
.table-header .col-sm-1 {
    -webkit-box-flex: 0;
    flex: 0 0 10%;
    max-width: 10%;
}
.table-header .col-sm-1.quickAdd {
    -webkit-box-flex: 0;
    flex: 0 0 12.333333%;
    max-width: 12.333333%;
    padding: 0px;
}
.quickAdd .btn {
    padding: 0rem 0.5rem !important;
    width: max-content;
}
.dropdownModal {
    flex: 0 0 63.6%;
    max-width: 63.6%;
    pointer-events: fill;
    padding-left: 10px;
}
.periodTab .dropdownModal {
    flex: 0 0 67.6%;
    max-width: 67.6%;
}
.table-header .col-sm-2 {
    flex: 0 0 14%;
    max-width: 14%;
}
.quickAdd .fa-chevron-down {
    border-left: 1px solid #cccccc;
    padding-left: 7px;
    margin-left: 10px;
    height: 30px;
    vertical-align: middle;
    padding-top: 8px;
}
hr {
    border-color: #e6e6e6 !important;
    margin-top: 0.7rem !important;
}
.btn-apply,
.btn-cancel {
    width: 125px;
    height: 35px;
    border-radius: 0px;
    padding: 0px !important;
}
.btn-cancel {
    background-color: white;
    border: none;
    color: #3d3d3d;
    padding: 8px 10px;
    font-size: 17px;
    cursor: pointer;
}
.fiterForm label {
    font-weight: 500;
    font-size: 13px;
    color: #5a5a5a;
    margin-bottom: 3px;
}
.fiterForm .col-lg-3 {
    flex: 0 0 22%;
    max-width: 22%;
}
ng-select.ng-select-single ::ng-deep .ng-select-container {
    height: 40px;
}
.createShiftForm {
    top: 130px;
    width: 48%;
}
.bulkAssignForm {
    top: 60px;
    width: 49%;
}
.createPeriodForm {
    width: 25% !important;
    top: 130px;
}
.card {
    min-height: 98vh;
}
#tabs .nav-tabs .nav-link {
    color: #3e3e3e !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
.setting {
    display: flex;
    margin-top: 2px;
    height: 43px;
    flex: 0 0 8.3333333333% !important;
    max-width: 8.3333333333% !important;
}
.setting .btn {
    color: #3d3d3d;
    border: 1px solid #7c7b98;
}
