<div *ngIf="exam != null && exam != 'undefined'">
    <form [formGroup]="simpleExamTrackForm" *ngIf="exam.isPatternedAssessment == false">

        <div class="col-lg-12 p-0">
            <div class="row mx-1">
                <div class="col-9 float-left">
                    <h4 class="page-title"> Add Tracks for {{exam.name}} </h4>
                </div>
                <div class="col-3 float-right mt-3">
                    <label class="float-right">EXAM MARKS :
                        {{simpleExamTrackForm.controls['totalMarks'].value}}/{{exam.totalMarks}}</label>
                </div>

            </div>
        </div>
        <hr class="mt-1">
        <div class="col-lg-12" formArrayName="trackSubjectList">
            <div *ngFor="let subject of simpleExamTrackForm.controls.trackSubjectList['controls']; let i = index;"
                [formGroupName]="i">
                <div class="row mx-auto">
                    <div class="w-100 collapse-heading">

                        <h4 class="header-title float-left ml-3"><span>
                                {{subject.controls['name'].value}}</span></h4>
                        <div class="float-right left-text mr-2">
                            <label class="col-form-label text-white float-left mr-2"> Subject Marks :
                                {{subject.controls['totalMarks'].value}}
                            </label>
                            <span (click)="isCollaps('demoTrack'+i,'demo'+i)" class="float-right">

                                <i class="fas fa-angle-up" id="demo{{i}}"
                                    style="float: right; font-size: x-large;padding-right: 2%;margin-top: 6px;cursor: pointer;"></i>
                            </span>
                        </div>


                    </div>

                </div>
                <div class="mb-2 isUnhide" id="demoTrack{{i}}">
                    <div class="table" formArrayName="sectionList">
                        <table class="table table-borderless forQuickForm table-centered m-0">
                            <thead class="thead-light">
                                <tr>
                                    <th style="width: 10%;">Teacher</th>
                                    <th style="padding-left: 0;width: 10%;">Section</th>
                                    <th style="width: 15%;padding-left: 0;">Questions</th>
                                    <th style="width: 14%;padding-left: 0;">Question Type</th>
                                    <th style="width: 20%;padding-left: 0;">
                                        Markings </th>
                                    <th style="width: 12%;padding-left: 0;">Instruction</th>
                                    <th style="width: 14%;padding-left: 0;">Deadline</th>
                                    <th style="width: 7%;padding-left: 0;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let section of subject.controls.sectionList['controls']; let j = index;"
                                    [formGroupName]="j">
                                    <td style="padding-top: 40px;">
                                        <div class="table" formArrayName="trackList">
                                            <div *ngFor="let track of section.controls.trackList['controls']; let k = index;"
                                                [formGroupName]="k">
                                                <div formGroupName="teacherDto">
                                                    <ng-select [items]="subject.controls['teacherList'].value"
                                                        bindLabel="name" placeholder="Select Teacher"
                                                        bindValue="uniqueId" formControlName="uniqueId"
                                                        title="Select Teacher">
                                                    </ng-select>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-left: 0;">

                                        <input type="text" placeholder="" formControlName="name" class="form-control">

                                    </td>
                                    <td style="padding-top: 40px;padding-left: 0;">

                                        <div class="row" style="display: flex;">
                                            <div class="col-12" id="{{i}}checkTrack{{j}}">
                                                <input type="text" maxlength="3" size="3" placeholder=""
                                                    formControlName="totalQuestions" (keypress)="numberOnly($event)"
                                                    class="form-control autonumber" (input)="calculateMarks(i, j)"
                                                    (input)="setTotal($event,i,j)">
                                            </div>
                                            <div class="isHideOptional" id="{{i}}checkoptionTrack{{j}}">
                                                <input type="text" maxlength="2" size="2" placeholder=""
                                                    formControlName="optionalQuestions" (keypress)="numberOnly($event)"
                                                    class="form-control autonumber"
                                                    (input)="calculateMarks(i, j);checkValidate(i,j)">
                                            </div>
                                        </div>

                                        <div class="table-checkbox c-checkbox">
                                            <label class="label-student checkAll">
                                                <input type="checkbox" name="list_name" value="m1"
                                                    (change)="onOptionalCheck2(i+'checkTrack'+j,i+'checkoptionTrack'+j,i,j)" />
                                                Optional
                                            </label>
                                        </div>

                                    </td>
                                    <!-- <td style="padding-left: 0;">
                                            <ng-select bindLabel="name" placeholder="Select " bindValue="id"
                                                formControlName="questionType" title="Select Question Type">
                                                <ng-option *ngFor="let type of questionTypes" [value]="type.id">
                                                    {{type.name}}
                                                </ng-option>
                                            </ng-select>
                                            
                                        </td> -->
                                    <td *ngIf="examType == 1 ">
                                        <ng-select bindLabel="name" placeholder="Select " bindValue="id"
                                            formControlName="questionType" title="Select Question Type"
                                            (change)="checkQuestionType(i,j)">
                                            <ng-option *ngFor="let type of customObjectiveExamQuestionType"
                                                [value]="type.id">
                                                {{type.name}}
                                            </ng-option>
                                        </ng-select>


                                    </td>
                                    <td *ngIf="examType == 2 ">

                                        <ng-select bindLabel="name" placeholder="Select " bindValue="id"
                                            formControlName="questionType" title="Select Question Type"
                                            (change)="checkQuestionType(i,j)">
                                            <ng-option *ngFor="let type of jeeAdvanceSubjectiveQuestionType"
                                                [value]="type.id">
                                                {{type.name}}
                                            </ng-option>
                                        </ng-select>



                                    </td>
                                    <td *ngIf="section.controls['questionType'].value != '' && section.controls['questionType'].value!=2"
                                        class="marking" style="padding-left: 0;">
                                        <div class="row" style="margin-left: 0px;">
                                            <div class="col"
                                                [ngClass]="{'col':section.controls['questionType'].value == 1 && section.controls['questionType'].value == 3 && section.controls['questionType'].value !=2, 'col-12':section.controls['questionType'].value != 1 && section.controls['questionType'].value != 3 && section.controls['questionType'].value !=2}">
                                                <input type="text" name="" maxlength="2" size="2"
                                                    (keypress)="numberOnly($event)" formControlName="positiveMarks"
                                                    class="form-control" placeholder="PM" (input)="calculateMarks(i, j)"
                                                    ngbTooltip="Enter positive Marks"
                                                    *ngIf="section.controls['questionType'].value != '' && section.controls['questionType'].value !=2">
                                            </div>
                                            <div class="col">
                                                <input type="text" name="" maxlength="2" size="2"
                                                    (keypress)="numberOnly($event)" formControlName="negativeMarks"
                                                    class="form-control" placeholder="NM"
                                                    ngbTooltip="Enter negative Marks"
                                                    *ngIf="section.controls['questionType'].value==1 || section.controls['questionType'].value==3">
                                            </div>
                                            <div class="col">
                                                <input type="text" name="" maxlength="2" size="2"
                                                    (keypress)="numberOnly($event)" formControlName="leaveMarks"
                                                    class="form-control" placeholder="LM" ngbTooltip="Enter Leave Marks"
                                                    *ngIf="section.controls['questionType'].value != '' && (section.controls['questionType'].value==1 || section.controls['questionType'].value==3)">
                                            </div>
                                        </div>



                                    </td>
                                    <td style="padding-left: 0;"
                                        *ngIf="section.controls['questionType'].value != '' && section.controls['questionType'].value==2 && section.controls['isMarkingScheme'].value == false">
                                        <button type="button" class="btn btn-addScheme btn-xs"
                                            (click)="getMarkingScheme(markingSchemeModal,i,j)">Add
                                            Scheme <i class="fa fa-plus"></i></button>
                                    </td>

                                    <td style="padding-left: 0;"
                                        *ngIf="section.controls['questionType'].value != '' && section.controls['questionType'].value==2 && section.controls['isMarkingScheme'].value == true">
                                        <button type="button" class="btn btn-addScheme btn-xs"
                                            (click)="getMarkingScheme(markingSchemeModal,i,j)">
                                            Scheme Imported <i class="fa fa-check"></i></button>
                                    </td>

                                    <td style="text-align: center;padding-left: 0;"
                                        *ngIf="section.controls['isInstruction'].value == false">
                                        <button type="button" class="btn btn-instruction btn-xs"
                                            (click)="getInstruction(i, j, instructionModal)">Instructions
                                            <i class="fa fa-plus"></i></button>
                                    </td>
                                    <td style="text-align: center;padding-left: 0;"
                                        *ngIf="section.controls['isInstruction'].value == true">
                                        <button type="button" class="btn btn-instruction btn-xs"
                                            (click)="getInstruction(i, j, instructionModal)">Check Here
                                            <i class="fas fa-external-link-alt"></i></button>
                                    </td>
                                    <td style="border-color: white; cursor: pointer;padding-top: 40px;padding-left: 0;">
                                        <div class="table" formArrayName="trackList">

                                            <div *ngFor="let track1 of section.controls.trackList['controls']; let l = index;"
                                                [formGroupName]="l">

                                                <input type="text" formControlName="deadLine" placeholder="Deadline"
                                                    class="form-control" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                                                    #dp="bsDatepicker" show-weeks="false" bsDatepicker
                                                    [minDate]="minDate">

                                            </div>

                                        </div>

                                    </td>
                                    <td style="border-color: white; cursor: pointer;padding-left: 0;">
                                        <li *ngIf="j == subject.controls.sectionList['controls'].length - 1"
                                            class="fa fa-plus icons add-icon" title="Add track"
                                            (click)="addSimpleFormControl(i,j)" style="color: #0000ffcb;">
                                        </li> &nbsp;
                                        <li *ngIf="subject.controls.sectionList['controls'].length > 1"
                                            class="fas fa-trash-alt" (click)="removeSimpleFormControl(i, j)"
                                            title="Delete track" style="color: #ff0b0b;"></li>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </form>
    <form [formGroup]="patternExamTrackForm" *ngIf="exam.isPatternedAssessment == true">
        <div class="col-lg-12 px-0">
            <h4 class="page-title"> Add Tracks for {{exam.name}} </h4>
            <hr>
            <div formArrayName="trackSubjectList">
                <div *ngFor="let subject of patternExamTrackForm.controls.trackSubjectList['controls'];let i=index"
                    [formGroupName]="i" class="mx-3 mb-3">
                    <div class="row mx-auto">
                        <div class="w-100 collapse-heading">

                            <h4 class="header-title float-left ml-3"><span>
                                    {{subject.controls['name'].value}}</span></h4>
                            <div class="float-right left-text mr-2">
                                <label class="col-form-label text-white float-left mr-2">Added Questions :
                                    ({{subject.controls['totalAddedQuestions'].value}} /
                                    {{subject.controls['totalQuestionsCount'].value}})
                                </label>
                                <span (click)="isCollaps(i,'demo'+i)" class="float-right">

                                    <i class="fas fa-angle-up" id="demo{{i}}"
                                        style="float: right; font-size: x-large;padding-right: 2%;margin-top: 6px;cursor: pointer;"></i>
                                </span>
                            </div>


                        </div>
                    </div>
                    <div class="mb-2 isUnhide" id="{{i}}">
                        <div class="table-responsive" formArrayName="sectionList">
                            <table class="table table-centered mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Sections</th>
                                        <th>Tracks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let section of subject.controls.sectionList['controls']; let j=index;"
                                        [formGroupName]="j">
                                        <td>{{section.controls['name'].value}}</td>
                                        <td formArrayName="trackList">
                                    <tr *ngFor="let tracks of section.controls.trackList['controls']; let k= index;"
                                        [formGroupName]="k">
                                        <td style="border-color: white;">
                                            {{k+1}}
                                        </td>
                                        <td style="border-color: white; min-width: 300px; max-width: 700px;">

                                            <div formGroupName="teacherDto">
                                                <ng-select [items]="subject.controls['teacherList'].value"
                                                    bindLabel="name" placeholder="Select Teacher" bindValue="uniqueId"
                                                    formControlName="uniqueId" title="Select Teacher">
                                                </ng-select>
                                            </div>
                                        </td>
                                        <td style="border-color: white; min-width: 100px;">
                                            <input type="text" maxlength="3" size="3" formControlName="totalQuestions"
                                                (keypress)="numberOnly($event)" class="form-control autonumber"
                                                (input)="checkQuestionCount(i,j,k,$event.target.value)"
                                                title="Enter Questions to be added">
                                        </td>
                                        <td style="border-color: white; cursor: pointer;">
                                            <div class="input-group" data-placement="top" data-align="top">
                                                <input type="text" formControlName="deadLine" class="form-control"
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" #dp="bsDatepicker"
                                                    show-weeks="false" bsDatepicker [minDate]="minDate">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i
                                                            class="mdi mdi-calendar-text"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="border-color: white; cursor: pointer;">
                                            <li *ngIf="k == section.controls.trackList['controls'].length - 1"
                                                class="fa fa-plus icons add-icon" title="Add track"
                                                (click)="addPatternControl(i, j, k)" style="color: #0000ffcb;">
                                            </li> &nbsp;
                                            <li *ngIf="section.controls.trackList['controls'].length > 1"
                                                class="fas fa-trash-alt" title="Delete track"
                                                (click)="removePatternControl(i, j, k)" style="color: #ff0b0b;"></li>
                                        </td>
                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-group  mb-2" style="margin-right: 1.5rem; margin-left:1.5rem;">
        <button class="btn saveTrack" type="submit" (click)="submit()">Save
            Tracks</button>
        <button class="btn cancelTrack" type="submit" (click)="cancel()">Cancel</button>
    </div>
</div>

<ng-template #markingSchemeModal let-modal="close">
    <div class="modal-content" style="width: 116%;">
        <div class="modal-header markingSchemeHeader">
            <h4 class="modal-title">Marking Scheme</h4>
            <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-marking-scheme [markingSchemeForm]="markingSchemeForm" [isImporedScheme]="isImporedScheme">
            </app-marking-scheme>


            <form [formGroup]="markingSchemeForm">
                <span *ngIf="markingSchemeForm.controls['schemeType'].value==2">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <button type="button" class="btn saveAs" (click)="saveAndImportScheme(true)"
                                [disabled]="!markingSchemeForm.valid" style="margin-right: 8px;">Save as
                                Template And Use</button>
                            <button type="button" class="btn saveAddScheme" (click)="saveAndImportScheme(false)"
                                (click)="modal('Cross click')" [disabled]="!markingSchemeForm.valid">Save</button>
                        </div>
                    </div>
                </span>

                <span *ngIf="markingSchemeForm.controls['schemeType'].value==1">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"> <button type="button" class="btn btn-secondary cancelScheme"
                                (click)="modal('Cross click')">Cancel</button></div>
                        <div class="col-md-3"> <button type="button" class="btn btn-info saveScheme"
                                (click)="saveimportedScheme()" (click)="modal('Cross click')"
                                [disabled]="!markingSchemeForm.valid">Save</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </span>


            </form>
        </div>


    </div>

</ng-template>
<ng-template #instructionModal let-modal="close">
    <div class="modal-header addInstructionHeader">
        <h4 class="modal-title">Add Instruction</h4>
        <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body addInstructionBody">
        <form [formGroup]="instructionForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group row mb-12 justify-content-center">
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" name="instructionType" value="2" formControlName="instructionType"
                                id="instructionType1" (change)="resetInstructionValue()">
                            <label class="label-text" for="inlineRadio1"> Upload Image </label>
                        </div>
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" name="instructionType" value="3" formControlName="instructionType"
                                id="instructionType2" (change)="resetInstructionValue()">
                            <label class="label-text" for="inlineRadio2"> Enter Instruction </label>
                        </div>
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" name="instructionType" value="1" formControlName="instructionType"
                                id="instructionType3">
                            <label class="label-text" for="inlineRadio3"> Import </label>
                        </div>
                        <div *ngIf="instructionForm.controls['instructionType'].errors && instructionForm.controls['instructionType'].touched"
                            class="invalid-feedback">
                            <div *ngIf="instructionForm.controls['instructionType'].errors?.required">This is required
                            </div>
                        </div>
                    </div>

                    <div *ngIf="instructionForm.controls['instructionType'].value==1" class="form-group row mb-12">

                        <div class="col-lg-6">
                            <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Exam Name">
                            </ng-select>
                        </div>
                        <div class="col-lg-6">

                            <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Question Type">
                            </ng-select>
                        </div>

                        <div class="col-lg-12">
                            <h5 style="margin-left: 10px;">Message</h5>
                            <div>
                                <textarea class="textarea-card" rows="6"></textarea>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="instructionForm.controls['instructionType'].value==2" class="form-group row mb-12">

                        <div style="width: 100%;">
                            <ng-template [ngTemplateOutlet]="dropZone"></ng-template>
                        </div>
                    </div>

                    <div *ngIf="instructionForm.controls['instructionType'].value==3">
                        <app-ngx-editor formControlName="instructionTextOrImage" [placeholder]="'Enter text here...'"
                            [spellcheck]="true" [config]="editorConfig">
                        </app-ngx-editor>
                    </div>

                </div>
            </div>
        </form>
        <div class="col-12 text-center button-group" style="padding-left: 5%;">
            <button type="button" class="btn btn-outline-dark addInstructionPopupBtn"
                (click)="modal('Cross click')">Close</button>
            <button type="button" class="btn btn-primary addInstructionPopupBtn" (click)="saveInstruction()"
                (click)="modal('Cross click')" [disabled]="!instructionForm.valid"
                style="background-color: var(--app-colorNew);">Save</button>
        </div>
    </div>

</ng-template>
<ng-template #dropZone>
    <div class="uploadfilecontainer card" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
        <input hidden type="file" #fileInput (change)="uploadFile($event)">
        <p class="dropFileText">Drop your file here ,or &nbsp;<span style="color:#0091ff;"> browse </span> </p>
        <p style="display: flex; justify-content: center;color: #8080807a; font-size: 12px;">JPG,PNG</p>
    </div>
    <div class="fileListContainer">
        <div class="files-list" *ngFor="let file of files;let i=index">
            <p>{{ file | truncatePipe:30 }}</p>
            <button class="delete-file" (click)="deleteAttachment(i)">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>



</ng-template>