<div class="row mx-0 shift" [ngClass]="{'stack-back':isViewShift}">
    <div class="col-9">
        <div class="row mx-0 shiftlist">
            <div class="shiftData col-6 box" *ngFor="let shift of organizationShifts; let i=index;"
                (click)="viewShift(shift,i)">
                <div class="row">
                    <div class="col-7 pl-0">
                        <p>{{shift.name}}</p>
                        <span>Shift Name</span>
                    </div>
                    <div class="col-5 pl-0">
                        <p>{{shiftTypeList[(shift.type-1)]}}</p>
                        <span>Type</span>
                    </div>
                </div>
                <div class="row timedays">
                    <div class="col-2">
                        <p>{{shift.startTime }}</p>
                        <!--| date : 'HH:mm'-->
                        <span>Start Time</span>
                    </div>
                    <div class="col-2">
                        <p>{{shift.endTime}}</p>
                        <!--| date : 'HH:mm'-->
                        <span>End Time</span>
                    </div>
                    <div class="col-2 breaks">
                        <p>{{(shift.breaks) ? shift.breaks.length:0}}</p>
                        <span>Breaks</span>
                    </div>
                    <div class="col-6 days">
                        <p>
                            <span *ngFor="let days of shift.days;let j=index;">
                                <span class="day">
                                    {{days.name|slice:0:1}}
                                </span>
                            </span>
                        </p>
                        <span>Days</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-11 d-flex pl-0" *ngIf="!shift.users"></div>
                    <div class="col-11 d-flex pl-0" *ngIf="shift.users && shift.users.length>0">
                        <div class="teacherImage">
                            <img src="assets/images/profileImg.png" class="rounded-circle" width="30px" height="30px"
                                alt="">
                            <img src="assets/images/profileImg.png" class="rounded-circle" width="30px" height="30px"
                                alt="">
                            <img src="assets/images/profileImg.png" class="rounded-circle" width="30px" height="30px"
                                alt="">
                        </div>
                        <div class="teacherDetails">
                            <p>{{shift.users[0].name}} and <span class="title">{{shift.users.length-1}}</span>
                                others</p>
                            <span>Teacher</span>
                        </div>
                    </div>
                    <div class="col-1"><i class="fas fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="rightSidebox">
            <img src="../../../../../assets/images/sideImage.png" alt="side image">
            <button class="btn btn-filled btn-add" (click)="createShift()">ADD SHIFT</button>
        </div>
    </div>
</div>
<div class="viewSidePopup viewShift" [ngClass]="{'slideInLeft':!isViewShift,'slideInRight':isViewShift}"
    *ngIf="isViewShift">
    <button type="button" class="closePopup" (click)="closeViewShift()" aria-label="Close">x</button>
    <div class="row mx-0 mt-2">
        <div class="col-7 pl-0">
            <p>{{selectedShift.name}}</p>
            <span>Shift Name</span>
        </div>
        <div class="col-5 pl-0">
            <p>{{shiftTypeList[(selectedShift.type-1)]}}</p>
            <span>Type</span>
        </div>
    </div>
    <div class="row timedays">
        <div class="col-3">
            <p>{{selectedShift.startTime}}</p>
            <!--| date : 'HH:mm'-->
            <span>Start Time</span>
        </div>
        <div class="col-3">
            <p>{{selectedShift.endTime}}</p>
            <!--| date : 'HH:mm'-->
            <span>End Time</span>
        </div>
        <div class="col-6 days">
            <p>
                <span *ngFor="let days of selectedShift.days;">
                    <span class="day">
                        {{days.name|slice:0:1}}
                    </span>
                </span>
            </p>
            <span>Days</span>
        </div>
    </div>
    <div class="row mx-0 breakList">
        <span *ngFor="let break of selectedShift.breaks; let i=index;"
            [ngClass]="colorClassArray[i%5]">{{(break.startTime )+ "-"+(break.endTime)}}</span>
        <!--| date :
                'HH:mm'-->
    </div>
    <h5 class="w-100">Teachers</h5>
    <div class="row mx-0 mb-2 teacherList teacher-view-edit-shift scroll">
        <div class="list" *ngFor="let user of selectedShift.users;">
            <img src="assets/images/profileImg.png" alt="rounded-img">
            {{user.name}}
        </div>
    </div>
    <div class="row mx-0 justify-content-end">
        <div class="delete">
            <i class="fas fa-trash" (click)="deleteShift(selectedShift)"></i>
        </div>
        <div class="edit" (click)="editShift(selectedShift)">
            <i class="fa fa-pen"></i>
        </div>
    </div>
</div>
<div class="viewSidePopup editShiftForm" [ngClass]="{'slideInLeft':!isEditShift,'slideInRight':isEditShift}"
    *ngIf="isEditShift">
    <app-create-worktime [shiftData]="selectedShift" [shiftList]="shiftLists" (close)="closeEditNewForm($event)">
    </app-create-worktime>
</div>