@import "../../../../../assets/scss/custom/components/common-component";
.rightSidebox {
    border: 1px solid #bfbfbf;
    padding: 8px 5px;
}
.btn-add {
    width: 75%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
.rightSidebox img {
    height: 230px;
    width: 260px;
    margin: auto;
    display: flex;
}
.shift .col-9 {
    flex: 0 0 71.5%;
    max-width: 71.5%;
    padding-right: 0px;
}
.shift .col-3 {
    flex: 0 0 28%;
    max-width: 28%;
    padding-right: 0px;
}
.shiftData:nth-child(even) {
    margin-left: 10px !important;
}
.shiftData {
    margin: 5px 10px 15px 5px !important;
    min-height: 180px;
    padding: 15px 0px 8px;
}
.shiftData .row {
    margin: auto 10px;
}
.shiftData .row .col-2 {
    flex: 0 0 18.6666666667%;
    max-width: 18.6666666667%;
    padding: 0px;
}
.shiftData .row .breaks.col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0px 5px;
}
.day {
    color: var(--newApp-color) !important;
    border: 1px solid var(--newApp-color);
    background-color: var(--newAppbg-color);
    margin-right: 4px;
    width: 17px;
    height: 17px;
    margin-bottom: 10px;
    padding-top: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 11.4px !important;
}
.day.selected {
    color: #ffffff;
    background-color: var(--newApp-color);
    padding: 5px 10px;
}
.shiftlist .days {
    flex: 0 0 46%;
    max-width: 46%;
    padding-right: 0px;
}
.timedays {
    margin-right: 5px !important;
    margin-top: 20px !important;
}
.days p {
    height: 20px;
}
.teacherImage {
    margin-right: 8px;
    // position: relative;
    // width: max-content;
    display: contents;
}
.teacherDetails {
    margin-left: 8px;
}
.teacherImage img {
    border: 1px solid #ffffff;
}
.teacherImage img:nth-child(2),
.teacherImage img:nth-child(3) {
    margin-left: -15px;
}
.viewShift {
    top: 80px;
    width: 35%;
}
.editShiftForm {
    top: 80px;
    width: 48%;
    padding: 10px 0px 15px 0px;
}
.breakList span {
    margin: 18px 10px 15px 0px;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 3px;
}
.list {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 5px 5px 10px 0px;
}
.list img {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 0px 15px 0px 0px;
}
.shiftlist {
    max-height: 70vh;
    overflow-y: scroll;
}
.shiftlist::-webkit-scrollbar {
    width: 2px;
}

.teacher-view-edit-shift{
    max-height: 200px;
    overflow-y: scroll;
}