@import "../../../../../assets/scss/custom/components/common-component";
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.addMore {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
.addMore .fa-plus {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: var(--newApp-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-save,
.btn-cancel {
    width: 135px;
}
.day {
    color: var(--newApp-color) !important;
    border: 1px solid var(--newApp-color);
    background-color: var(--newAppbg-color);
    margin-right: 5px;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 11.4px !important;
}
.day.selected {
    color: #ffffff !important;
    background-color: var(--newApp-color);
    padding: 5px 10px;
}
.removeBreak {
    float: right;
    cursor: pointer;
    color: #ffffff !important;
    margin-top: 5px;
    padding: 2px 0px 2px 9px;
    font-size: 12px;
    margin-bottom: 0px;
}
.removeBreak .fa-times {
    background-color: #f01032b2;
    padding: 2px 3px;
}
