<form [formGroup]="shiftNewForm" class="w-100 px-2 py-3">
    <div class="row mx-0">
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Shift Name</label>
                <i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="shiftName" #shiftName maxlength="20"
                    placeholder="Enter Name" [ngClass]="{ 'is-invalid': submitted && f.shiftName.errors }">
                <p class="badge position-absolute inputBoxCount"
                    [ngClass]="{'badge-blue': shiftName.value.length !== 20,'badge-danger': shiftName.value.length == 20}">
                    {{ shiftName.value.length }} / 20</p>
                <div *ngIf="submitted && f.shiftName.errors" class="invalid-feedback">
                    <div *ngIf="f.shiftName.errors.required">Shift Name is required</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="shftType">Shift Type</label>
                <ng-select [items]="shiftTypeList" class="custom1" bindLabel="name" formControlName="type"
                    bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                    placeholder="Select Type" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.type.errors }" (change)="getTeachers($event)"></ng-select>
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">Shift Type is required</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row mx-0">
                <div class="col-6 pl-0">
                    <div class="form-group">
                        <label for="fname">Start Time</label>
                        <input type="hidden" formControlName="isStartTimeGreater" />
                        <input class="form-control" placeholder="Start Time" formControlName="startTime"
                            (ngModelChange)="onStartDate($event,2)" aria-label="Start Time" [ngxTimepicker]="picker1"
                            [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }" readonly>
                        <ngx-material-timepicker #picker1></ngx-material-timepicker>
                        <!-- <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                            placeholder="Start Time" formControlName="startTime" (ngModelChange)="onStartDate($event,2)"
                            [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }">
                        <owl-date-time [pickerType]="'timer'" [panelClass]="'timepicker'" #dt1></owl-date-time> -->
                        <div *ngIf="f.isStartTimeGreater.value" class="invalid-feedback d-block">
                            Start time should be less than end time
                        </div>
                        <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
                            <div *ngIf="f.startTime.errors.required">Start Time is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label for="fname">End Time</label>
                        <input type="hidden" formControlName="isStartTimeGreater" />
                        <input class="form-control" formControlName="endTime" placeholder="End Time"
                            aria-label="12hr format" [ngxTimepicker]="picker2"
                            [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }"
                            (ngModelChange)="onEndDate($event,2)" readonly>
                        <ngx-material-timepicker #picker2></ngx-material-timepicker>
                        <!-- <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                            placeholder="End Time" formControlName="endTime" (ngModelChange)="onEndDate($event,2)"
                            [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }">
                        <owl-date-time [pickerType]="'timer'" [panelClass]="'timepicker'" style="border: none;" #dt2>
                        </owl-date-time> -->
                        <div *ngIf="f.isStartTimeGreater.value" class="invalid-feedback d-block">
                            Start time should be less than end time
                        </div>
                        <div *ngIf="submitted && f.endTime.errors" class="invalid-feedback">
                            <div *ngIf="f.endTime.errors.required">End Time is required</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="shftType">Days</label>
                <ng-select [items]="workingDayList" class="custom1" bindLabel="name" bindValue="uniqueId"
                    [multiple]="true" [closeOnSelect]="false" [clearable]="false" placeholder="Select Day"
                    [searchable]="true" [(ngModel)]="selectedWorkingDays" [ngModelOptions]="{standalone: true}"
                    [searchFn]="customSearchFn" (change)="change($event)">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                            <span class="ng-value-label"> {{item.name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 1">
                            <span class="ng-value-label">+{{items.length - 1}}</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                [ngModelOptions]="{standalone: true}" />
                            <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
                        </div>
                    </ng-template>
                </ng-select>
                <div *ngIf="submitted && !isDaysSelected" class="invalid-feedback">
                    <div *ngIf="!isDaysSelected">Please select atleast one.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="shftType">Teacher</label>
                <ng-select [items]="teacherList" class="custom1" bindLabel="fullName" bindValue="uniqueId"
                    [multiple]="true" [closeOnSelect]="false" [clearable]="false" placeholder="Select Teacher"
                    [searchable]="true" [(ngModel)]="selectedTeacher" [ngModelOptions]="{standalone: true}"
                    [searchFn]="customSearchFn">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                            <span class="ng-value-label"> {{item.fullName}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 1">
                            <span class="ng-value-label">+{{items.length - 1}}</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                [ngModelOptions]="{standalone: true}" />
                            <label class="form-check-label ml-2 custom-control-label">{{item.fullName}}</label>
                        </div>
                    </ng-template>
                </ng-select>
                <!-- <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">Shift Type is required</div>
                </div> -->
            </div>
        </div>
        <div class="col-6" formArrayName="shiftbreaksList">
            <div class="row mx-0"
                *ngFor="let break of shiftNewForm.controls.shiftbreaksList['controls']; let j = index;"
                [formGroupName]="j">
                <div class="col-5 pl-0">
                    <div class="form-group">
                        <label for="fname">Break Start</label>
                        <input class="form-control" placeholder="Start Time" formControlName="startTime"
                            (ngModelChange)="onBreakStartDate($event,j)" aria-label="Start Time"
                            [ngxTimepicker]="picker3"
                            [ngClass]="{ 'is-invalid': submitted && break.controls.startTime.errors }"
                            [min]="break.controls.min.value" [max]="break.controls.max.value" readonly>
                        <ngx-material-timepicker #picker3></ngx-material-timepicker>
                        <div *ngIf="break.controls.isStartTimeGreater.value" class="invalid-feedback d-block">
                            Start time should be less than end time
                        </div>
                        <div *ngIf="submitted && break.controls.startTime.errors" class="invalid-feedback">
                            <div *ngIf="break.controls.startTime.errors.required">Start Time is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-5 px-0">
                    <div class="form-group">
                        <label for="fname">Break End</label>
                        <input class="form-control" placeholder="End Time" formControlName="endTime"
                            (ngModelChange)="onBreakEndDate($event,j)" aria-label="Start Time" [ngxTimepicker]="picker4"
                            [ngClass]="{ 'is-invalid': submitted && break.controls.endTime.errors }"
                            [min]="break.controls.min.value" [max]="break.controls.max.value" readonly>
                        <ngx-material-timepicker #picker4></ngx-material-timepicker>
                        <div *ngIf="break.controls.isStartTimeGreater.value" class="invalid-feedback d-block">
                            Start time should be less than end time
                        </div>
                        <div *ngIf="submitted && break.controls.endTime.errors" class="invalid-feedback">
                            <div *ngIf="break.controls.endTime.errors.required">End Time is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-2 px-0 d-flex align-items-center">
                    <p class="removeBreak pt-1" *ngIf="shiftNewForm.controls.shiftbreaksList.value.length>1"
                        (click)="removeBreak(j)"><i class="fa fa-times float-left"></i> </p>
                </div>
            </div>
            <p class="title addMore" (click)="addBreak()"><i class="fas fa-plus"></i>Add More Breaks</p>
        </div>
    </div>
    <div class="row buttons mt-3">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" type="submit" *ngIf="!isEditShift" (click)="save()">Save</button>
        <button class="btn btn-save btn-filled" type="submit" *ngIf="isEditShift" (click)="update()">Update</button>
    </div>
</form>