<div>
  <section id="tabs" [ngClass]="{'pt-0': isHideHeader}">
    <div class="row" style="width: 100%;margin-left: 0px; margin-top: 1%;" *ngIf="!isHideHeader">
      <div class="col-lg-12" style="padding: 0;">
        <nav style="background-color: #dee2e640;">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="width: fit-content;">
            <!-- <a class="nav-item nav-link" id="nav-course-tab" [ngClass]="{'active':tabNumber==1 || tabNumber== '1'}"
              data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-course"
              aria-selected="false" (click)="tabClick(1)">Assignment</a>
            <a class="nav-item nav-link" id="nav-academic-session-tab"
              [ngClass]="{'active':tabNumber==2 || tabNumber== '2'}" data-toggle="tab" role="tab"
              style="cursor: pointer;width: fit-content;" aria-controls="nav-academic-session" aria-selected="false"
              (click)="tabClick(2)">Test</a> -->
            <a class="nav-item nav-link" id="nav-grade-tab" [ngClass]="{'active':tabNumber==3 || tabNumber== '3'}"
              data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-grade"
              aria-selected="false" (click)="tabClick(3)">Exam</a>

          </div>
        </nav>
      </div>

    </div>

    <div class="tab-content" id="nav-tabContent" [ngClass]="{'pt-0': isHideHeader}">
      <div class="tab-pane fade" *ngIf="tabNumber==1" [ngClass]="{'active show':tabNumber==1 || tabNumber== '1'}"
        role="tabpanel" aria-labelledby="nav-course-tab">
        <app-assesment-exam [currentTab]="tabNumber" (hideHeader)="hideHeader($event)" (close)="cancel($event)">
        </app-assesment-exam>
      </div>
      <div class="tab-pane fade" *ngIf="tabNumber==2" [ngClass]="{'active show':tabNumber==2 || tabNumber== '2'}"
        role="tabpanel" aria-labelledby="nav-academic-session-tab">
        <app-assesment-exam [currentTab]="tabNumber" (hideHeader)="hideHeader($event)" (close)="cancel($event)">
        </app-assesment-exam>
      </div>
      <div class="tab-pane fade" *ngIf="tabNumber==3" [ngClass]="{'active show':tabNumber==3 || tabNumber== '3'}"
        role="tabpanel" aria-labelledby="nav-grade-tab">
        <app-assesment-exam [currentTab]="tabNumber" (hideHeader)="hideHeader($event)" (close)="cancel($event)">
        </app-assesment-exam>
      </div>


    </div>
  </section>
</div>