<div *ngIf="!isexamList && !isTrackList">
    <div class="row" style="margin: 20px 0 0 0;">
        <div class="col-md-6" style="padding-top: 9px;"><span class="actionTrackBtn" (click)="gotoTrack(1)"><i
                    class="fa fa-arrow-left" aria-hidden="true"></i> Track</span></div>
        <div class="col-md-6" style="float: right;"><span class="actionListBtn" style="float: right;"
                (click)="gotoTrack(2)">Go to List <i class="fa fa-arrow-right" aria-hidden="true"></i></span></div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 1%;padding-left: 3%;">
            <div style="display: flex;">Unit</div>
            <div style="display: flex;">
                <span class="filterIcon"><i class="fas fa-filter"></i></span>
                <ng-select [items]="units" bindLabel="name" [multiple]="true" bindValue="name" [closeOnSelect]="false"
                    placeholder="Select" (change)="selectUnits($event)">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                            <span class="ng-value-label"> {{item}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <!-- <div class="ng-value" *ngIf="items.length > 2">
                    <span class="ng-value-label">+{{items.length - 2}}</span>
                </div> -->
                    </ng-template>
                </ng-select>
            </div>
            <div style="display: flex;flex-wrap: wrap;">
                <span class="unitNames" *ngFor="let user of unitarr | slice :0:3;let i=index">
                    <span>{{user}}</span>
                    <span class="closeBtn" (click)="deleteSelectedUnit(user,i)"><i
                            class="fas fa-times closeIcon"></i></span>
                </span>
                <span *ngIf="unitarr.length > 3" class="unitNames"> + {{unitarr.length - 3}}</span>
            </div>
            <div *ngIf="unitarr.length > 0"><span style="color: red;text-decoration: underline;cursor:pointer;"
                    (click)="clearUnit()">Clear filter</span></div><br>

            <div style="display: flex;">Chapters</div>
            <div style="display: flex;">
                <span class="filterIcon"><i class="fas fa-filter"></i></span>
                <ng-select [items]="chapters" bindLabel="name" [multiple]="true" bindValue="name"
                    [closeOnSelect]="false" placeholder="Select" (change)="selectChapters($event)">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                            <span class="ng-value-label"> {{item}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <!-- <div class="ng-value" *ngIf="items.length > 2">
                    <span class="ng-value-label">+{{items.length - 2}}</span>
                </div> -->
                    </ng-template>
                </ng-select>
            </div>
            <div style="display: flex;flex-wrap: wrap;">
                <span class="unitNames" *ngFor="let user of chapterarr | slice :0:3;let i=index">
                    <span>{{user}}</span>
                    <span class="closeBtn" (click)="deleteSelectedChapters(user,i)"><i
                            class="fas fa-times closeIcon"></i></span>
                </span>
                <span *ngIf="chapterarr.length > 3" class="unitNames"> + {{chapterarr.length - 3}}</span>
            </div>
            <div *ngIf="chapterarr.length > 0"><span style="color: red;text-decoration: underline;cursor:pointer;"
                    (click)="clearChapters()">Clear filter</span></div><br>

            <div style="display: flex;">Topics</div>
            <div style="display: flex;">
                <span class="filterIcon"><i class="fas fa-filter"></i></span>
                <ng-select [items]="topics" bindLabel="name" [multiple]="true" bindValue="name" [closeOnSelect]="false"
                    placeholder="Select" (change)="selectTopics($event)">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                            <span class="ng-value-label"> {{item}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <!-- <div class="ng-value" *ngIf="items.length > 2">
                    <span class="ng-value-label">+{{items.length - 2}}</span>
                </div> -->
                    </ng-template>
                </ng-select>
            </div>
            <div style="display: flex;flex-wrap: wrap;">
                <span class="unitNames" *ngFor="let user of topicarr | slice :0:3;let i=index">
                    <span>{{user}}</span>
                    <span class="closeBtn" (click)="deleteSelectedTopics(user,i)"><i
                            class="fas fa-times closeIcon"></i></span>
                </span>
                <span *ngIf="topicarr.length > 3" class="unitNames"> + {{topicarr.length - 3}}</span>
            </div>
            <div *ngIf="topicarr.length > 0"><span style="color: red;text-decoration: underline;cursor:pointer;"
                    (click)="clearTopics()">Clear filter</span></div><br>

            <div style="display: flex;">Sub Topics</div>
            <div style="display: flex;">
                <span class="filterIcon"><i class="fas fa-filter"></i></span>
                <ng-select [items]="subtopics" bindLabel="name" [multiple]="true" bindValue="name"
                    [closeOnSelect]="false" placeholder="Select" (change)="selectSubTopics($event)">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                            <span class="ng-value-label"> {{item}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <!-- <div class="ng-value" *ngIf="items.length > 2">
                    <span class="ng-value-label">+{{items.length - 2}}</span>
                </div> -->
                    </ng-template>
                </ng-select>
            </div>
            <div style="display: flex;flex-wrap: wrap;">
                <span class="unitNames" *ngFor="let user of subtopicarr | slice :0:3;let i=index">
                    <span>{{user}}</span>
                    <span class="closeBtn" (click)="deleteSelectedSubTopics(user,i)"><i
                            class="fas fa-times closeIcon"></i></span>
                </span>
                <span *ngIf="subtopicarr.length > 3" class="unitNames"> + {{subtopicarr.length - 3}}</span>
            </div>
            <div *ngIf="subtopicarr.length > 0"><span style="color: red;text-decoration: underline;cursor:pointer;"
                    (click)="clearSubTopics()">Clear filter</span></div><br>

            <div class="closeAllFilter" (click)="deleteSelectedAll()">Clear all <span class="closeBtn"><i
                        class="fas fa-times closeIcon"></i></span></div>
        </div>
        <div class="col-md-9">
            <div class="row" style="padding: 2% 2% 0 2%;">
                <div class="col-12" style="display: flex;">
                    <div class="searchQues"><input type="text" class="form-control" placeholder="Search Questions"
                            style="border: none;height: 35px !important;"></div>
                    <div class="searchBtn"><i class="fa fa-search" aria-hidden="true"
                            style="font-size: 18px;color: #80808057;"></i></div>
                    <div class="pickQuesTab isHeadActive" id="pick" (click)="tabClick('pick','appr','track')">Pick
                        Question</div>
                    <div class="aaproveQuesTab" id="appr" (click)="tabClick('appr','track','pick')">Approve
                        Question({{preQuestions.length}})</div>
                    <div class="trackQuestTab" id="track" (click)="tabClick('track','pick','appr')">Tracked
                        Questions({{noOfQuestionsEntered}}/{{selectedTrack.totalQuestions}})</div>
                </div>
            </div>

            <div *ngIf="isPick">
                <div style="overflow-y: scroll;height: 700px;overflow-x: hidden;">
                    <div class="row" style="padding: 0 2%;margin-top: 15px;margin-bottom: 18px;"
                        *ngFor="let question of questions; let i=index">
                        <div class="col-12" style="padding-right: 0;">
                            <div style="border: 1px solid #80808057;padding: 3%;">
                                <div class="row" style="display: block;padding-left: 2%;">

                                    <div class="row">
                                        <div class="col-10" style="display: flex;font-weight: 500;">
                                            <div>Q.{{i+1}})</div>&nbsp;&nbsp;&nbsp;<div [innerHtml]="question.question">
                                            </div>
                                        </div>
                                        <div class="col-2">

                                            <div class="plusBtn"
                                                *ngIf="hiddenAddButtons[i]==undefined?true:hiddenAddButtons[i]"
                                                (click)="onClickAddQuestion(question,i)">
                                                <i class="fa fa-plus" style="font-size: 14px;color: green;"></i> Add
                                            </div>
                                            <div class="deleteBtn" *ngIf="hiddenRemoveButtons[i]"
                                                (click)="onClickRemoveQuestion(question,i)">
                                                Remove
                                            </div>
                                            <div class="reportErr" (click)="openReportErr(content)">
                                                Report Error
                                            </div>

                                        </div>

                                    </div>


                                    <br>
                                    <div style="display: flex;margin-bottom: 10px;"
                                        *ngFor="let option of question.options; let j=index">
                                        <div
                                            [ngClass]="{'optionDeactive':option.correct == false ,'optionActive':option.correct == true }">
                                            {{j+1}}</div>&nbsp;&nbsp;&nbsp;
                                        <div [ngStyle]="{'color':option.correct == true ?'green':''}"
                                            [innerHtml]="option.optionText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="padding-right: 0;">
                            <div class="solution">
                                <div class="row">
                                    <div class="col-8">Solution</div>
                                    <div class="col-4 text-right">
                                        <span class="collapsIcon"
                                            (click)="openSolution('demoSolution'+i,'demoIconSolution'+i)">
                                            <i class="fa fa-angle-down" id="demoIconSolution{{i}}"
                                                style="color: white;font-size: 15px;"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="solutionAns isHide" id="demoSolution{{i}}">

                                <div class="row">
                                    <div class="col-md-2 solutineBox"
                                        *ngFor="let solution of question.solutions; let l=index"
                                        (click)="getSolutuion(solution,contentTest)">
                                        <span>{{solution.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12" *ngIf="trackSyllabus != null && trackSyllabus != 'undefined'">
                        <div class="text-md-right" style="margin-left: 15px;">
                            <ngb-pagination [collectionSize]="trackSyllabus.totalRecords" [maxSize]="5"
                                [pageSize]="this.questionCount" [rotate]="true" [ellipses]="true"
                                (pageChange)="pageChanged($event)">
                            </ngb-pagination>
                        </div>
                        <div class="text-md-right float-md-right" style="margin-top: -51px;margin-right: 12px;">
                            <ng-select style="width: 145px;" [searchable]="false" [items]="rowList" bindLabel="value"
                                [(ngModel)]="rowValue" bindValue="id" (change)="OnChangeElement($event)">

                            </ng-select>
                        </div>
                    </div>



                </div>
            </div>
            <div *ngIf="isAppr">
                <div class="row" style="padding: 0 26px;margin-top: 15px;" *ngIf="preQuestions.length == 0">No questions
                    have
                    been picked yet</div>
                <div style="height: 700px;overflow-x: hidden;"
                    [ngStyle]="{'overflow-y':preQuestions.length > 2 ? 'scroll':''}">
                    <div class="row" style="padding: 0 2%;margin-top: 15px;"
                        *ngFor="let question of preQuestions; let i=index">
                        <div class="col-12" style="padding-right: 0;margin-bottom: 14px;">
                            <div style="border: 1px solid #80808057;padding: 3%;">
                                <div class="row" style="display: block;padding-left: 2%;">
                                    <div>
                                        <div class="row">
                                            <div class="col-10" style="display: flex;font-weight: 500;">
                                                <div>Q.{{i+1}})</div>&nbsp;&nbsp;&nbsp;<div
                                                    [innerHtml]="question.question"></div>
                                            </div>
                                            <div class="col-2">

                                                <span class="deleteBtn" (click)="onClickRemovePrevQuestion(question)">
                                                    Remove
                                                </span>
                                            </div>

                                        </div>


                                    </div><br>
                                    <div style="display: flex;margin-bottom: 10px;"
                                        *ngFor="let option of question.options; let j=index">
                                        <div
                                            [ngClass]="{'optionDeactive':option.correct == false ,'optionActive':option.correct == true }">
                                            {{j+1}}</div>&nbsp;&nbsp;&nbsp;
                                        <div [ngStyle]="{'color':option.correct == true ?'green':''}"
                                            [innerHtml]="option.optionText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row text-center mb-4" style="padding: 0 46%;margin-top: 15px;">
                    <button *ngIf="preQuestions.length > 0" type="submit" class="aaprBtn"
                        (click)="onClickApproveQuestions()"
                        [disabled]="totTrackQuestionCount == selectedTrack.totalQuestions">Approve</button>
                </div>
            </div>
            <div *ngIf="isTrack">
                <div class="row mb-4" style="padding: 0 26px;margin-top: 15px;" *ngIf="trackedQuestions.length == 0">No
                    questions have
                    been picked yet</div>
                <div style="height: 700px;overflow-x: hidden;"
                    [ngStyle]="{'overflow-y':trackedQuestions.length > 2 ? 'scroll':''}">
                    <div class="row" style="padding: 0 2%;margin-top: 15px;"
                        *ngFor="let question of trackedQuestions; let i=index">
                        <div class="col-12" style="padding-right: 0;margin-bottom: 14px;">
                            <div style="border: 1px solid #80808057;padding: 3%;">
                                <div class="row" style="display: block;padding-left: 2%;">
                                    <div>
                                        <div class="row">
                                            <div class="col-10" style="display: flex;font-weight: 500;">
                                                <div>Q.{{i+1}})</div>&nbsp;&nbsp;&nbsp;<div
                                                    [innerHtml]="question.question"></div>
                                            </div>
                                            <div class="col-2">

                                                <span class="deleteBtn"
                                                    (click)="onClickRemoveTrackedQuestion(question)">
                                                    Remove
                                                </span>
                                            </div>

                                        </div>


                                    </div><br>
                                    <div style="display: flex;margin-bottom: 10px;"
                                        *ngFor="let option of question.options; let j=index">
                                        <div
                                            [ngClass]="{'optionDeactive':option.correct == false ,'optionActive':option.correct == true }">
                                            {{j+1}}</div>&nbsp;&nbsp;&nbsp;
                                        <div [ngStyle]="{'color':option.correct == true ?'green':''}"
                                            [innerHtml]="option.optionText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row text-center" style="padding: 0 46%;margin-top: 15px;margin-bottom: 14px;">
                    <button type="submit" class="aaprBtn" (click)="onClickApproveQuestions()">Save</button>
                </div>
            </div>


        </div>
    </div>

</div>


<ng-template #content role="document" let-modal="close">
    <div class="modal-header" style="background-color: #0091ff;height: 50px;">
        <h4 class="modal-title text-white" style="margin-top: -6px;">Report Error</h4>
        <button type="button" class="close text-white" aria-label="Close" style="margin-top: -19px;" (click)="close()"
            (click)="modal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="reportErrForm">

        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row mb-8">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">

                                <ng-select [searchable]="false" formControlName="error" bindLabel="name"
                                    placeholder="Select Error">
                                    <ng-option *ngFor="let error of errorList" value="{{error.id}}">
                                        {{error.name}}
                                    </ng-option>
                                </ng-select>
                            </div>

                            <div class="col-md-1"></div>
                        </div>
                        <div class="form-group row mb-8">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h5 style="color: gray;">Mention Error</h5>
                                <div>
                                    <textarea class="textarea-card" rows="5" formControlName="errorMsg"
                                        placeholder="type here..."></textarea>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row mb-8">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                                            (click)="close()" (click)="modal('Cross click')">Close</button></div>
                                    <div class="col-6">
                                        <button type="button" class="btn invigilatorCloseBtn" style="float: right;"
                                            [disabled]="!reportErrForm.valid"
                                            (click)="modal('Cross click')">Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </form>
</ng-template>

<div *ngIf="isexamList">
    <app-assesment-exam></app-assesment-exam>
</div>

<div *ngIf="isTrackList">
    <app-track-info [examUid]="questionData.assessmentUid"></app-track-info>
</div>

<ng-template #contentTest role="document" let-modal="close">
    <div class="modal-header" style="background-color: #0091ff;height: 50px;">
        <h4 class="modal-title text-white" style="margin-top: -6px;">{{solutionobj.name}}</h4>
        <button type="button" class="close text-white" aria-label="Close" style="margin-top: -19px;"
            (click)="modal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="row mb-8">
                        <div class="col-md-12">
                            <div [innerHtml]="solutiosres.solution"></div>
                        </div>

                    </div>
                    <div class="row mb-8">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                                        (click)="modal('Cross click')">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>