$ui-fg-color: var(--app-examModuleColor);
$ui-bg-color: rgb(99, 98, 98);
.example-margin {
    margin: 0 12px;
  }
  
  .label-under{
    font-weight: 500;
      color: #4a4a4a;
  }
  .mat-icon{
    color:white
  } 
  .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .searchIcon{
    background-color: var(--app-examModuleColor);
    border: 1px solid var(--app-examModuleColor);
    padding: 0.3rem 0.9em;
  }
  #batchInfo{
    padding-left: 5px;
  }
  .searchStudent{
    flex: 0 0 29%;
    max-width: 29%;
  }
  .studentListHeading{
    margin-left: 35px;
    font-weight: 500;
  }
  .subjectList .table thead th{
    background-color: var(--app-examModuleColor);
    border: 1px solid var(--app-examModuleColor);
    color: #fff;
    padding: 5px 35px;
    font-weight: 500;
  }
  .subjectList .label-student{
    // width: 100%;
    margin-bottom: 0%;
    font-weight: 500;
  }
  .subjectList input{
    height: 15px;
  }
  .subjectList .org{
    border-radius: 6px;
    padding: 5px 20px;
    text-align: center;
    background-color: #fa8495;
  }
  .table .label-student img {
    height: 33px;
    width: 33px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 15px;
}
.close{
  position: relative;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: #ef687c;
    font-weight: 400;
    border-radius: 10px;
    height: 22px;
    width: 22px;
    opacity: 1 !important;
}
.btn-okStudent{
  background-color: var(--app-examModuleColor);
  color: #fff;
}
.btn-okStudent:hover {
  color: #ffffff;
  text-decoration: none;
}
.c-checkbox,
.c-radio {
    margin-right: 4px;
    * {
        cursor: pointer;
    }
    input {
        opacity: 0;
        position: absolute;
        margin-left: 0 !important;
    } // the element that replaces the input
    span {
        position: relative;
        display: inline-block;
        vertical-align: top; // margin-left: -20px;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 2px solid rgb(97, 97, 97);
        margin-right: 5px;
        text-align: center;
        &:before {
            margin-left: 1px; // fa align trick
        }
    }
    .checkAll span {
        position: relative;
        display: inline-block;
        vertical-align: top; // margin-left: -20px;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 2px solid rgb(255, 255, 255);
        margin-right: 5px;
        text-align: center;
        &:before {
            margin-left: 1px; // fa align trick
        }
    }

    &:hover span {
        border-color: $ui-fg-color;
    }

    .form-inline & span {
        margin-left: 0;
    }

    &.c-checkbox-rounded,
    &.c-radio-rounded {
        span {
            border-radius: 500px;
        }
    }
}

/* override for radio */
.c-radio span {
    border-radius: 500px;
}

/* the icon */
.c-checkbox,
.c-radio {
    span:before {
        //content: "\2713"; /* comment content to use custom icon classes */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        text-align: center !important;
        font-size: 12px;
        line-height: 18px;
        vertical-align: middle;
    }
}

.c-checkbox,
.c-radio {
    /* Checked state */
    input[type=checkbox]:checked+span:before,
    input[type=radio]:checked+span:before {
        color: #fff;
        opacity: 1;
        transition: color .3s ease-out;
    }

    input[type=checkbox]:checked+span,
    input[type=radio]:checked+span {
        border-color: $ui-bg-color;
        background-color: $ui-fg-color;
    }

    /* override for radio */
    input[type=radio]:checked+span {
        background-color: #fff;
        &:before {
            color: $ui-fg-color;
        }
    }

    /* Disable state */
    input[type=checkbox]:disabled+span,
    input[type=radio]:disabled+span {
        border-color: $ui-bg-color !important;
        background-color: $ui-bg-color !important;
    }
    /* override for radio */
    input[type=radio]:disabled+span {
        background-color: #fff !important;
        &:before {
            color: $ui-bg-color;
        }
    }

    /* Focus state */
    input[type=checkbox]:focus + span,
    input[type=radio]:focus + span {
        box-shadow: 0 0 0 0.2rem rgba($ui-fg-color, .25)
    }
}
.subjectList .label-student .fa{
  margin-top: 10px;
  margin-right: 0px;
}
.subjectList .label-student.checkAll span{
  border-color: white !important;
}
.subjectList .label-student.checkAll .fa{
  margin-right: 11px;
}
.subjectList .label-student.checkAll .fa{
  margin-top: 0px !important;
}
.subjectList .table{
  margin-bottom: 5px !important;
}
.subjectHeading{
  margin-left: 6px;
  margin-top: 10px;
}
.box{
  border: 1px solid #ced4da;

  padding: 7px;
  width: 100%;
  margin-left: 7px;
  margin-right: 7px;
}
.box .userNames{
  margin: 3px 4px;
  padding: 2px 6px;
  border-radius: 3px;
  color: #0091ff;
  border: 1px solid #0091ff;
  background-color: #c9f3f3;
}
.box .remainingStudents{
  background-color: #bdf1f7db;
  width: 57px;
  font-size: 14px;
  height: 27px;
  border: 1px solid #0091ff;
  border-radius: 3px;
  margin-top: 3px;
  margin-left: 4px;
  text-align: center;
  padding: 3px;
  color: var(--app-examModuleColor);
}
.box .closeStudent.close{
  left: 5px;
    background-color: transparent;
    color: var(--app-examModuleColor);
    bottom: auto;
    height: 15px;
    width: 15px;
}
.box .studentName{
  padding: 2px 5px 2px 2px;
  border-right: 1px solid #cccbcb;
}
// .table-fixed{
//   background-color: #f3f3f3;
//   tbody{
//     height:300px;
//     overflow-y:auto;
//     }
//   thead,tbody,tr,td,th{
//     display:block;
//   }
// }
.table-fixed{
  width: 100%;
  background-color: #f3f3f3;
  tbody{
    height:350px;
    overflow-y:auto;
    width: 100%;
    }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
      height: 60px;
    }
  }
  thead {
    tr{
      th{
        float:left;
      }
    }
  }
}
