<form class="form-horizontal" id="batchInfo" [formGroup]="batchInfo">


    <div class="row">
      <div class="col-4"><label class="col-form-label label-under">Course</label>
        <!-- <ng-select [items]="courseList" bindLabel="name" bindValue="id" [multiple]="false"
                          [closeOnSelect]="true" formControlName="courseId" (change)="getBatchAndSubjectList()">
                      </ng-select> -->

        <!-- <select class="form-control" formControlName="courseId" (change)="getBatchAndSubjectList()">
          <option *ngFor="let course of courseList; let k=index" value="{{course.id}}">{{course.name}}
          </option>
        </select> -->
        <ng-select [items]="courseList" bindLabel="name" bindValue="id" [searchable]="false" [closeOnSelect]="true" (change)="getBatchAndSubjectList()" formControlName="courseId" placeholder="Select">
      </ng-select>
      </div>

      <div class="col-4"><label class="col-form-label label-under">Batch</label>
        <!-- <select class="form-control" formControlName="batchIds">
                      <option *ngFor="let batch of batchList; let k=index" value="batch.id">{{batch.name}}
                      </option>
                    </select> -->

        <ng-select [items]="batchList" bindLabel="name" bindValue="id" [multiple]="true" [closeOnSelect]="false" formControlName="batchIds" placeholder="Select" #ngSelectComponent>
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:2">
                <span class="ng-value-label"> {{item.name}}</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 2">
                <span class="ng-value-label">+{{items.length - 2}}</span>
            </div>
        </ng-template>
        </ng-select>
      </div>
      <div class="col-4 searchStudent">
        <!-- <button mat-mini-fab style="margin-top: 35px;" (click)="getStudents()"
          aria-label="Example icon button with a delete icon">
          <mat-icon>search</mat-icon>
        </button> -->
        <div class="input-group" style="margin-top: 37px;cursor: pointer;" (click)="getStudents(searchStudent)">
        <input type="text" class="form-control" placeholder="Search Student"  style=" height: 36px">
        <div class="input-group-append" style="height: 36px;">
          <span class="input-group-text searchIcon" ><mat-icon>search</mat-icon></span>
        </div>
        </div>
      </div>

    </div>
    <div class="row" *ngIf="selectedStudentsList.length > 0" style="width: 98%;">
      <p class="w-100"><label class="col-form-label subjectHeading"><b>Selected Students:</b> </label></p>
      <div class="box row">
        <div class="userNames" *ngFor="let user of viewSelectedStudentsList; let i=index"><span class="studentName">{{user.name}}</span> <button type="button" class="closeStudent close" (click)="deleteSelectedStudent(user.id,i)" aria-hidden="true">×</button></div>
        <div class="remainingStudents" *ngIf="remainingSelectedStudents>0"><i class="fas fa-plus"></i> {{remainingSelectedStudents}}</div>
      </div>
    </div>
 






  <!-- <div class="text-lg-right" style="margin-top: 10px; margin-right: 10px;">
      <button type="button" class="btn btn-blue waves-effect waves-light" (click)="getStudents()">
          <span class="btn-label"><i class="fe-search"></i></span>Search Student
      </button>
      <p *ngIf="studentList != null && studentList.length > 0" class="text-muted"><i class="fe-users"></i> &nbsp;
          {{studentList.length}} student found</p>
      <p *ngIf="studentList.length == 0" class="text-muted"><i class="fe-users"></i> &nbsp;
          No student found</p>
  </div> -->
</form>
<ng-template #searchStudent let-modal="close">
  <div class="subjectList">
    <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  <div style="padding: 20px 0px 0px 20px; margin-left: 35px;">
    <!-- <div class="form-row">
        <div class="form-group col-md-5">
            <div class="form-group row">
                <div class="form-group radio radio-info form-check-inline">
                    <input type="radio" id="inlineRadio1" value="1"
                        name="studentType" (change)="radioButtonEvent(1)">
                    <label for="inlineRadio1">
                        Select Students
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-5">
            <div class="form-group row">
                <div class="form-group radio radio-info form-check-inline">
                    <input type="radio" id="inlineRadio2" value="2"
                        name="studentType" (change)="radioButtonEvent(2)">
                    <label for="inlineRadio2">
                        Select All
                    </label>
                </div>
            </div>
        </div>
    </div> -->
</div>
<h5 class="studentListHeading">Student List</h5>
<table class="table table-fixed">
  <thead>
    <tr>
      <th class="col-8">
        <div class="table-checkbox c-checkbox">
          <label class="label-student checkAll" style="color: white;">
              <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()" />
              <span class="fa fa-check"></span>
             Name
          </label>
      </div>
      </th>
     <th scope="col" class="text-center col-4">Organization</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of studentList; let i=index">
      <td style=" padding-left: 35px;"  class="col-8"><div class="table-checkbox c-checkbox">
        <label class="label-student" style="width: 100%;">
            <input id="{{user.id}}" type="checkbox" name="{{user.name}}"
            style="height: 16px;" [(ngModel)]="user.isSelected" (change)="isAllSelected()" />
            <span class="fa fa-check"></span>
            <img *ngIf="user.imageCode==null || user.imageCode==''" src="assets/images/profileImg.png" class="rounded-circle" alt="">
            <img *ngIf="user.imageCode!=null && user.imageCode!=''" [src]="_DomSanitizationService.bypassSecurityTrustUrl(user.imageCode)" class="rounded-circle"  alt="">
            {{user.name}}
            
        </label>
    </div></td>
      <td class="text-center col-4"><span class="org">{{user.orgName}}</span></td>
    </tr>
    
  </tbody>
</table>
</div>

  <!-- <div class="modal-header">
      <h4 *ngIf="isExamSave" class="modal-title">Are you sure you want to Create Exam ?</h4>
      <h4 *ngIf="!isExamSave" class="modal-title">Are you sure you want to Add Test Type ?</h4>
      <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>-->
  <div class="modal-footer">
      <!--<button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"
          (click)="modal('Cross click')">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="save()"
          (click)="modal('Cross click')">Save</button>-->
          <button type="button" class="btn waves-effect waves-light btn-okStudent" (click)="save()" (click)="modal('Cross click')">OK</button>
  </div> 
</ng-template>