<div class="row mx-0 mb-2">
    <div class="col-6 pl-1">
        <h4>Educators</h4>
        <div class="px-2 py-3 teacherList box">
            <div class="row mx-0 mb-2 align-items-center">
                <div class="col-5 pr-0">
                    <span class="selectAll mr-1 checkbox checkbox-primary float-left">
                        <input type="checkbox" id="name" name="name" (change)="selectAllTeacher($event)"
                            [checked]="isSelectAll"><label for="name">Select All</label>
                    </span>
                </div>
                <div class="col-7 px-0">
                    <ng-select [items]="searchByUserRoles" class="custom1" bindLabel="name" bindValue="id"
                        [multiple]="true" [closeOnSelect]="true" [clearable]="false" placeholder="Role"
                        [(ngModel)]="selectedRoleList" [searchable]="false" (change)="onChange($event)">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                <span class="ng-value-label" *ngIf="items.length>1"> {{(item.name.length>8) ?
                                    (item.name|slice:0:8)+"..." : item.name}}</span>
                                <span class="ng-value-label" *ngIf="items.length==1"> {{(item.name.length>15) ?
                                    (item.name|slice:0:12)+"..." : item.name}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > 1">
                                <span class="ng-value-label">+{{items.length - 1}}</span>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="roe mx-0 pt-2 align-items-center teacherData scroll">
                <div class="col-12 mb-2" *ngFor="let teacher of teacherList;let i=index;">
                    <div class="row mx-0">
                        <div class="col-1 px-0 input">
                            <div class="checkbox checkbox-primary mb-1 w-100">
                                <input id="{{teacher.name}}" type="checkbox" [checked]="teacher.isLinked"
                                    (change)="teacherChange(teacher)">
                                <label for="{{teacher.name}}"></label>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="media">
                                <img *ngIf="teacher.imageCode==null || teacher.imageCode==''"
                                    src="assets/images/profileImg.png" class="rounded-circle" alt="">
                                <img *ngIf="teacher.imageCode!=null && teacher.imageCode!=''"
                                    [src]="_DomSanitizationService.bypassSecurityTrustUrl(teacher.imageCode)"
                                    class="rounded-circle" alt="">

                                <div class="media-body">
                                    <a class="text-body font-weight-semibold" style="cursor: pointer;">{{
                                        teacher.name
                                        }}</a>
                                    <p><span *ngIf="teacher.className!=null" class="btn btn-className btn-sm"
                                            [ngClass]="colorClassArray[i%5]">{{teacher.className}}</span>
                                        <span *ngIf="teacher.className==null" class="btn btn-className btn-sm"
                                            [ngClass]="colorClassArray[i%5]">Not Assigned</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 shiftList scroll">
        <h4>Shifts</h4>
        <div class="row mx-0">
            <div class="col-12 shift box px-0" *ngFor="let shift of organizationShifts; let i=index;"
                [ngClass]="colorClassArray[i%5]" (click)="shiftSlect(shift,i)">
                <div class="row mx-0" [ngClass]="{'selected':shift.isLinked}">
                    <div class="col-1 index">{{i+1}}</div>
                    <div class="col-10">
                        <div class="row mx-0 my-2">
                            <div class="col-6 pb-2">
                                <p>{{shift.name}}</p>
                                <span>Shift Name</span>
                            </div>
                            <div class="col-6 pb-2">
                                <p>{{(shift.breaks) ? shift.breaks.length:0}}</p>
                                <span>Breaks</span>
                            </div>
                            <div class="col-6 pb-1">
                                <p>{{shift.startTime}}</p>
                                <span>Start Time</span>
                            </div>
                            <div class="col-6 pb-1">
                                <p>{{shift.endTime}}</p>
                                <span>End Time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row buttons mb-2">
    <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
    <button class="btn btn-save btn-filled" type="submit" (click)="assign()">Assign</button>
</div>