@import "../../../../../assets/scss/custom/components/common-component";
.teacherList {
    cursor: initial;
}
.shift {
    margin: 5px 10px 15px 5px !important;
    min-height: 110px;
    border-radius: 5px;
    border-left: 4px solid;
}
.shift .index {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-right: 2px solid #e9e8e8;
    padding: 0px 19px;
    font-size: 15px;
}
.btn-save,
.btn-cancel {
    width: 135px;
}
.media-body {
    display: inline-block;
    width: 100%;
}
.media {
    display: inline-flex !important;
    width: 100%;
}
.media p {
    width: fit-content;
}
.media img {
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: var(--newApp-color);
    border-color: var(--newApp-color);
}
.media-body .btn {
    padding: 2px 12px;
}
.checkbox label {
    position: absolute;
    color: #4e4e4e;
}
.input {
    display: flex;
    align-items: center;
}
.box.selected,
.box .selected {
    background-color: #9c8df91a;
}
ng-select.ng-select-multiple.custom1 ::ng-deep.ng-select-container .ng-value-container .ng-value {
    margin-right: 3px;
}
ng-select.custom1 ::ng-deep.ng-arrow-wrapper {
    width: 20px;
}
ng-select.ng-select-multiple.custom1 ::ng-deep.ng-select-container .ng-value-container .ng-input {
    padding: 0px;
}
.teacherData {
    height: 59vh;
    overflow-y: auto;
}
.shiftList {
    height: 78vh;
    margin-bottom: 10px;
    overflow-y: auto;
    padding-right: 10px !important;
}
