.example-margin {
    margin: 0 12px;
  }
  
  .label-under{
    font-weight: 500;
      color: #4a4a4a;
  }
  
  .customPatternCss{
    width: 100%;
    // height: 7vw;
    height: auto;
    border-radius: 11px;
    box-shadow: 1px 1px 1px 1px #80808026;
  }
  .customPatternCsslowerPart{
    width: 100%;
    // height: 17vw;
    height: 21vw;
    border-radius: 11px;
    box-shadow: 1px 1px 1px 1px #80808026;
  }
  
  .nextbtn{
    width: 50%;
    padding-right: 9% !important;
  }
  .createBtn{
    height: 100%;
      // width: 77%;
      width: 150px;
      // background: #28a7f2e0;
      font-weight: 500;
      // background: var(--app-color);
      background: #1c8ef0
  }
  .center{
    display: flex;
    justify-content: center;
  }
  
  .dropDownCss{
    // width: 24%;
    font-weight: 500;
    color: #a8a8a8;
    width: 100%;
    height: 3vw;
    border: 1px solid #80808073;
  }
  .examNameInput{
    color: #aaaaaa;
    width: 83%;
    height: 61%;
    font-weight: 500;
    border: 1px solid #cdcdcd;
  }
  .examNamesubInput{
    color: #aaaaaa;
    width: 100%;
    height: 71%;
    font-weight: 500;
    border: 1px solid #cdcdcd;
  }
//   .card {
//     border-radius: 12px;
//     width: 100%;
//     box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
// }
.customCardCss{
  border-radius: 4px;
  box-shadow: 0 0 1px 2px #98989812;
}
  .heading{
      padding: 10px 10px 5px 10px;
  }
  .card-body{
      padding-right: 0% !important;
      padding-left: 0% !important;
      padding-top: 0% !important;
  }
  label{
      font-weight: 500 !important;
  }
  .addMore{
      background-color: var(--app-examModuleColor);
      padding: 0px 5px;
      margin-top: 10px;
      font-size: 12px;
  }
  .form{
      padding: 0.5rem 1.5rem;
  }
  hr{
    border-color: #b7b5b5;
  }
  .nextbutton{
    border: 1px solid #0091ff;
    
    margin-top: 30px;
    font-size: 15px;
    width: 115px;
    position: relative;
    left: -32px;
    color: #0091ff;
    height: 36px;
  }

  .secondNextbutton{
    border: 1px solid #0091ff;
    
    margin-top: 30px;
    font-size: 15px;
    position: relative;
    width: 115px;
    color: #0091ff;
    height: 36px;
  }

  .secondPrevbutton{
    border: 1px solid #0091ff;
    
    margin-top: 30px;
    width: 115px;
    font-size: 15px;
    position: relative;
    
    color: #0091ff;
    height: 36px;
  }

  .nextbutton:hover,.secondNextbutton:hover,.secondPrevbutton:hover{
     background-color: #0091ff;
     color: white;
  }
  .addMore:hover, .btn-testType:hover {
    color: #ffffff;
    text-decoration: none;
}
.col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
  padding-left: 7px;
  padding-right: 7px;
}

.subjects .subjectHeading{
  margin-left: -5px;
}
.subjects{
  padding-left: 5px;
}

.btn-testType{
  background-color: var(--app-examModuleColor);
  padding: 7px 30px;
  margin-top: 38px;
  height: 36px;
}
.testTypeForm .row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.input-group-text{
  padding: 0.34rem 0.9rem;
}

.checkbox-primary input[type=checkbox]:checked + label::before {
  background-color: #0091ff;
  border-color: #0091ff;
}

.circleBtn{
  border: 1px solid #0091ff;
    background-color: #0091ff;
    color: white;
    padding: 10% 13%;
    border-radius: 28px;
    float: right;
    cursor: pointer;
    margin-top: 22px;
}
  
.invigilatorCloseBtn{
  width: 115px;
  height: 36px;
  border: 1px solid #0091ff;
  color: #0091ff;
}
.invigilatorCloseBtn:hover{
  background-color: #0091ff;
  color: white;
}
  


