<app-common-exam-header></app-common-exam-header>

<div class="card customCardCss">
  <div class="card-body">
    <h4 class="heading">Create Pattern Exam</h4>
    <hr>
    <div class="form">
      <aw-wizard #wizardForm>
        <aw-wizard-step>
          <form (ngSubmit)="formSubmit()" [formGroup]="createPatternExamForm" style="margin-bottom: 30px;">
            <div class="form-group">
              <div class="row">
                <div class="col-4">
                  <label class="col-form-label label-under">Name</label>
                  <!-- <div class="text-center">
                    <p *ngIf="option.value" class="badge position-absolute"
                      [ngClass]="{'badge-success': option.value.length !== 45,'badge-danger': option.value.length == 45}">
                      {{ option.value.length }} / 45</p>
                  </div> -->
                  <input type="text" class="form-control" maxlength="45" #option (keyup)="0"
                    (keypress)="omit_special_char($event)" formControlName="name" placeholder="Type..">
                  <div *ngIf="createPatternExamForm.controls['name'].errors && isFirstNext" class="text-danger">
                    <div *ngIf="createPatternExamForm.controls['name'].errors?.required">
                      Name is required</div>
                  </div>

                  <div
                    *ngIf="createPatternExamForm.controls['name'].invalid && (createPatternExamForm.controls['name'].dirty || createPatternExamForm.controls['name'].touched)"
                    class="text-danger">
                    <div *ngIf="createPatternExamForm.controls['name'].errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label class="col-form-label label-under">Test Type</label>
                  <ng-select formControlName="examAssignmentTypeId" [searchable]="false" [items]="testTypeList" bindLabel="name" bindValue="id" placeholder="Select" (change)="testTypeChange($event)" [(ngModel)]="selectedTestType">
                    <!-- <ng-option value="">Select</ng-option> -->
                    <!-- <ng-option *ngFor="let testType of testTypeList" value="{{testType.id}}">{{testType.name}}
                    </ng-option> -->
                </ng-select>
                  <!-- <select class="form-control" formControlName="examAssignmentTypeId">
                    <option value="">Select</option>
                    <option *ngFor="let testType of testTypeList" value="{{testType.id}}">{{testType.name}}
                    </option>
                  </select> -->
                  <div *ngIf="createPatternExamForm.controls['examAssignmentTypeId'].errors && isFirstNext" class="text-danger">
                    <div *ngIf="createPatternExamForm.controls['examAssignmentTypeId'].errors?.required">
                      Test Type is required</div>
                  </div>

                  <div
                    *ngIf="createPatternExamForm.controls['examAssignmentTypeId'].invalid && (createPatternExamForm.controls['examAssignmentTypeId'].dirty || createPatternExamForm.controls['examAssignmentTypeId'].touched)"
                    class="text-danger">

                    <div *ngIf="createPatternExamForm.controls['examAssignmentTypeId'].errors.required">
                      Test Type is required.
                    </div>
                  </div>
                  <a href="javascript: void(0);"  *ngIf="!toggle" (click)="togleType()" class="btn addMore"><i class="fas fa-plus"></i> Add more</a>
                </div>
                <!-- <div class="col-4">
                  <div class="form-group row checkbox checkbox-primary mb-2" style="margin-top: 52px;margin-left: 4px;">
                      <input id="checkbox1" type="checkbox" style="height: 16px;"
                          data-md-icheck formControlName="isObjective">
                      <label for="checkbox1" style="font-size: 16px;">
                          Exam type is Objective ?
                      </label>
                  </div>
                </div> -->
              </div>
              <div class="row">
                <form [formGroup]="testTypeForm" class="w-100 testTypeForm"  *ngIf="toggle">
                  <!-- <pre> {{testTypeForm.value | json}}</pre> -->
                  <div class="row">
                  <div class="col-4">
                      <div class="" formArrayName="examAssignmentTypeList">
                          <div *ngFor="let examAssignmentType of testTypeForm.controls.examAssignmentTypeList['controls'];let i=index"
                              [formGroupName]="i">
                              <label class="col-form-label label-under">Test Type:</label>
                              <!-- <label for="hori-pass1" class="col-md-3 col-form-label"></label> -->
                                  <input type="text" class="form-control"
                                      [ngClass]="{'is-invalid':testTypeSubmitted && examAssignmentType.controls['name'].errors}"
                                      formControlName="name"
                                      (input)="checkExists($event.target.value, i)"
                                      (keypress)="omit_special_char($event)">
                                  <div *ngIf="testTypeSubmitted && examAssignmentType.controls['name'].errors"
                                      class="invalid-feedback">
                                      <div
                                          *ngIf="examAssignmentType.controls['name'].errors?.required">
                                          Name is required</div>
                                  </div>
                              
                          </div>
                        
                      </div>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-testType" type="button"
                              style=" margin-bottom: 10px;"
                              (click)="addtestType()">Submit</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-12">
                  <label class="col-form-label"><b>Batch Details:</b> </label>
                  <app-batchdetails [batchInfo]="createPatternExamForm.controls.batchInfo"></app-batchdetails>
                </div>
              </div>
            </div>
            <div class="form-group subjects">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                        <label class="col-form-label label-under">Passing Marks</label>
                        <input type="" class="form-control" maxlength="4" size="4"
                          (keypress)="numberOnly($event)" formControlName="passingMarks" placeholder="Type here...">

                        <div
                          *ngIf="createPatternExamForm.controls['passingMarks'].invalid && (createPatternExamForm.controls['passingMarks'].dirty || createPatternExamForm.controls['passingMarks'].touched)"
                          class="text-danger">

                          <div *ngIf="createPatternExamForm.controls['passingMarks'].errors.required">
                            Passing Marks are required.
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group row checkbox checkbox-primary mb-2" style="margin-top: 52px;margin-left: 4px;">
                          <input id="checkbox1" type="checkbox" style="height: 16px;"
                              data-md-icheck formControlName="isPatternVisible">
                          <label for="checkbox1" style="font-size: 16px;">
                              Do you want students to see pattern ?
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="list-inline wizard mb-0">
              <li class="next list-inline-item float-right">
                <button class="btn nextbutton" type="submit" (click)="wizardFirstNext()">Next &nbsp;<i
                  class="fas fa-arrow-right"></i></button>
              </li>
            </ul>
          </form>
        </aw-wizard-step>
        <aw-wizard-step>
          <form (ngSubmit)="formSubmit()" [formGroup]="createPatternExamForm" style="margin-bottom: 30px;">
              <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label label-under">Pattern Type</label>
                    <ng-select id="type" [items]="patternType" bindLabel="name" [multiple]="false" bindValue="id" [searchable]="false"
                          [closeOnSelect]="true" placeholder="Select"
                          (change)="getExamPatternList($event)">
                        </ng-select>
                  </div>
                  <div class="col-md-4" >
                    <div *ngIf="examPatternList != null && examPatternList.length >0">
                      <label class="col-form-label label-under">Select Pattern</label>
                      <ng-select [multiple]="false" [searchable]="false" [closeOnSelect]="true" placeholder="Select" (change)="getExamPatternDetails($event)">
                        <ng-option *ngFor="let examPattern of examPatternList" [value]="examPattern.uniqueId"> {{examPattern.name}} </ng-option>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-2" style="margin-top: 10px;">
                    <div class="circleBtn" (click)="newCreatePattern()" ngbTooltip="Add New Pattern">
                      <i class="fa fa-plus"></i>
                      <!-- <a href="javascript: void(0);" class="btn btn-blue waves-effect waves-light"
                      ngbTooltip="Add New Pattern" (click)="addExamPattern()"><i
                         class="fe-plus-circle"></i></a> -->
                    </div>
                  </div>
                   <div class="col-md-2"></div>
                </div> 
             
                  
                <div *ngIf="examPattern != null && examPattern !='undefined' && examPattern.patternType == 3">
                 
                  <app-patternview [pattern]="pattern1" [examPattern]="examPattern">
                  </app-patternview>
              </div>
             
              <div *ngIf="examPattern != null && examPattern !='undefined' && examPattern.patternType==4">
                
                  <app-patternview [customPattern]="pattern1" [examPattern]="examPattern">
                  </app-patternview>
              </div>
              <div *ngIf="examPattern != null && examPattern !='undefined' && (examPattern.patternType==1 || examPattern.patternType==2)"
                  >
                 
                  <app-patternview [pattern]="pattern1" [examPattern]="examPattern">
                  </app-patternview>
              </div>
             

              <ul class="list-inline wizard mb-0" style="margin-top: 3%;">
                  <li class="previous list-inline-item">
                    <button class="btn secondPrevbutton" type="button" awPreviousStep><i class="fas fa-arrow-left" ></i>&nbsp;Previous</button>
                  </li>
                  <li class="next list-inline-item float-right">
                    <button class="btn secondNextbutton" type="submit" (click)="wizardSecondtNext()">Next&nbsp;<i
                      class="fas fa-arrow-right"></i></button>
                   </li>
              </ul>
          </form>
        </aw-wizard-step>
        <aw-wizard-step>
          <form (ngSubmit)="formSubmit()" [formGroup]="createPatternExamForm" style="margin-bottom: 30px;">
            
            <div class="card customCardCss" *ngIf="pattern2 == null || pattern2 == 'undefined'  || pattern2 == undefined ">
              <div style="background-color: #0076d1;color: white;height: 45px;">
                <label class="col-form-label" style="padding: 12px;color: white;"><span> Paper 1</span></label>
              </div>
              <div class="col-lg-12">
                <app-timedetails [timingInfo]="createPatternExamForm.controls.pattern1TimingInfo"
                  [examType]=2 [typeborder]='0'></app-timedetails>
              </div> 
            </div>
             
            <div class="card customCardCss" *ngIf="pattern2 != null && pattern2 != 'undefined'  && pattern2 != undefined ">
              <div style="background-color: #0076d1;color: white;height: 45px;">
                <div class="row">
                  <div class="col-6"><label class="col-form-label" style="padding: 12px;color: white;"><span> Paper 1</span></label></div>
                  <div class="col-6"><label class="col-form-label" style="padding: 12px 12px 12px 0px;color: white;"><span> Paper 2</span></label></div>
                </div>
                
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-6">
                    <app-timedetails [timingInfo]="createPatternExamForm.controls.pattern1TimingInfo"
                    [examType]=2 [typeborder]='1'></app-timedetails>
                  </div>
                  <div class="col-6">
                    <app-timedetails [timingInfo]="createPatternExamForm.controls.pattern2TimingInfo"
                      [examType]=2 [typeborder]='0'></app-timedetails>
                  </div>
                </div>
                
              </div> 
            </div>
              
              <!-- <div *ngIf="pattern2 != null && pattern2 != 'undefined'">
                  <label for="hori-pass1" class=" col-form-label"
                      style="font-size: 16px; margin:5px;">Timing
                      Details for Paper 2 :</label>
                  <app-timedetails [timingInfo]="createPatternExamForm.controls.pattern2TimingInfo"
                      [examType]=2></app-timedetails>
              </div> -->
              <app-examsyllabus [examSyllabus]="createPatternExamForm.controls.examSyllabus"
                  [selectedSubjects]="selectedSubjects" [courseId]="courseId"
                  [type]="createPatternExamForm.controls.examAssignmentTypeId.value"></app-examsyllabus>

              <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button class="btn secondPrevbutton" type="button" (click)="secondPrev()" awPreviousStep><i class="fas fa-arrow-left" ></i>&nbsp;Previous</button>
                  </li>
                  <li class="next list-inline-item float-right">
                     <button class="btn secondNextbutton" type="submit" (click)="wizardThirdNext()">Next&nbsp;<i
                      class="fas fa-arrow-right"></i></button>
                  </li>
              </ul>
          </form>
        </aw-wizard-step>
        <aw-wizard-step>
          <form (ngSubmit)="formSubmit()" [formGroup]="createPatternExamForm" style="margin-bottom: 30px;">
              <app-createpatternexamview [exam]="exam" [courseName]="courseName" [batchName]="batchName"
                  [testType]="examAssignmentTypeName"> </app-createpatternexamview>
              <ul class="list-inline wizard mb-0" style="margin-top: 3%;">
                  <li class="previous list-inline-item">
                      <button class="btn secondPrevbutton" type="button" awPreviousStep><i class="fas fa-arrow-left" ></i>&nbsp;Previous</button>
                  </li>
                  <li class="next list-inline-item float-right">
                    <button class="btn secondNextbutton" type="submit" (click)="openConfirm(content)">Submit</button>
                  </li>
              </ul>
          </form>
        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</div>

<ng-template #content role="document" let-modal="close">
  <div class="modal-header" style="background-color: #0091ff;">
      <h4 class="modal-title text-white">Create Pattern Exam</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="close()" (click)="modal('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
          <div>
              <div class="row">
                  <div class="col-lg-12">
                     
                      <div class="form-group row mb-12" style="margin-top: 5px;">
                        <div class="col-md-2"></div>
                          <div class="col-md-8">
                            <label for="">Are you sure you want to Create Pattern Exam ?</label>
                          </div>
                          <div class="col-md-2"></div>
                      </div>
                      <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" (click)="modal('Cross click')">Close</button></div>
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" style="float: right;" (click)="saveCreatePatternExam()" (click)="modal('Cross click')">Save</button></div>
                          </div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
</ng-template>