<div class="quickForm">
  <form [formGroup]="basicInfoForm">

    <div class="form-group">
      <div class="row">
        <div class="col-lg-12" *ngIf="quickFormType==2 || quickFormType==3">
          <div class="form-group">
            <label for="phone">Role</label>
            <i style="color: tomato;">* </i>
            <ng-select [items]="roleInfo" class="custom1" bindLabel="name" placeholder="Choose Role"
              bindValue="uniqueId" formControlName="roleId" [searchable]="false" [closeOnSelect]="false"
              [clearable]="false" [multiple]="true" [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                  <span class="ng-value-label"> {{item.name}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">+{{items.length - 1}}</span>
                </div>
              </ng-template>
            </ng-select>
            <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
              <div *ngIf="f.roleId.errors.required">Please select Role</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group" formGroupName="generalInfo">
            <label for="fname">First Name</label>
            <i style="color: tomato;">* </i>
            <input type="text" class="form-control" #fName formControlName="firstName" maxlength="20"
              placeholder="First Name" appAlphabetOnly [ngClass]="{ 'is-invalid': submitted && gf.firstName.errors }">
            <p class="badge position-absolute inputBoxCount"
              [ngClass]="{'badge-blue': fName.value.length !== 20,'badge-danger': fName.value.length == 20}">
              {{ fName.value.length }} / 20</p>
            <div *ngIf="submitted && gf.firstName.errors" class="invalid-feedback">
              <div *ngIf="gf.firstName.errors.required">First Name is required</div>

            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group" formGroupName="generalInfo">
            <label for="lname">Last Name</label>
            <i style="color: tomato;">* </i>
            <input type="text" class="form-control" formControlName="lastName" #lName maxlength="20"
              placeholder="Last Name" appAlphabetOnly [ngClass]="{ 'is-invalid': submitted && gf.lastName.errors }">
            <p class="badge position-absolute inputBoxCount"
              [ngClass]="{'badge-blue': lName.value.length !== 20,'badge-danger': lName.value.length == 20}">
              {{ lName.value.length }} / 20</p>
            <div *ngIf="submitted && gf.lastName.errors" class="invalid-feedback">
              <div *ngIf="gf.lastName.errors.required">last Name is required</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group" formGroupName="generalInfo">
            <label for="emailId">Email Id</label>
            <i style="color: tomato;">* </i>
            <input type="text" class="form-control" formControlName="emailId" #emailId maxlength="64"
              placeholder="Email" [ngClass]="{ 'is-invalid': submitted && gf.emailId.errors }" id="emailId">
            <p class="badge position-absolute inputBoxCount"
              [ngClass]="{'badge-blue': emailId.value.length !== 64,'badge-danger': emailId.value.length == 64}">
              {{ emailId.value.length }} / 64</p>
            <div *ngIf="submitted && gf.emailId.errors" class="invalid-feedback">
              <div *ngIf="gf.emailId.errors.required">Email id is required</div>
              <div *ngIf="gf.emailId.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="form-group" formGroupName="generalInfo">
            <label for="phone">Phone Number</label>
            <i style="color: tomato;">* </i>
            <input class="form-control" type="text" id="mobile" formControlName="mobile" #mobile maxlength="10"
              placeholder="Phone" [ngClass]="{ 'is-invalid': submitted && gf.mobile.errors }" appOnlynumber>
            <p class="badge position-absolute inputBoxCount"
              [ngClass]="{'badge-blue': mobile.value.length !== 10,'badge-danger': mobile.value.length == 10}">
              {{ mobile.value.length }} / 10</p>
            <div *ngIf="submitted && gf.mobile.errors" class="invalid-feedback">
              <div *ngIf="gf.mobile.errors.required">PhoneNumber is required</div>
              <div *ngIf="gf.mobile.errors && !gf.mobile.errors.required">Please Type valid Phone number</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="form-group text-center">
            <button class="btn btn-save-student" *ngIf="!isSaved"
              (click)="saveUser(2,addPrefixConfirmationModal)">Save</button>
            <button class="btn btn-success-student" *ngIf="isSaved">Saved <i class="fas fa-check"></i></button>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<ng-template #addPrefixConfirmationModal let-modal="close">
  <div class="modal-header w-100">
    <div class="row mx-0">
      <div class="col-12">
        <h4 class="modal-title w-100">{{quickFormType==1?'Student':'Employee'}} Prefix</h4>
      </div>
      <div class="col-12">
        <span>This is added before enrolment</span>
      </div>
    </div>
  </div>
  <div class="modal-body mx-3">
    <form [formGroup]="prefixForm">
      <div class="form-group">
        <label for="fname">Prefix</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" minlength="4"
          maxlength="4" [ngClass]="{ 'is-invalid': submitted && prefixForm.controls.name.errors }"
          (input)="inputPerfix($event)" (change)="changePerfix($event)" appAlphabetOnly>
        <div *ngIf="submitted && prefixForm.controls.name.errors" class="invalid-feedback">
          <div *ngIf="prefixForm.controls.name.errors.required">Prefix is required</div>
        </div>
      </div>

    </form>
    <p class="text-success" *ngIf="validMessage!=''">{{validMessage}}</p>
    <p class="text-danger" *ngIf="errMessage!=''">{{errMessage}}</p>
    <button class="btn btn-save mb-2" (click)="savePerfix()">Save</button>
  </div>
</ng-template>