.quickForm {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
    top: 0px;
    box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
    -webkit-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
    -moz-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
}
.quickForm .col-lg-2 {
    padding-left: 7px;
    padding-right: 7px;
}
.quickForm .col-lg-1:first-child {
    flex: 0 0 1.3333333333%;
    max-width: 0.333333%;
}
.quickForm .form-control {
    padding: 0.35rem 0.5rem;
}
.btn-save-student,
.btn-save {
    background-color: var(--newApp-color);
    color: white;
    width: 100%;
    margin-top: 15px;
    border-radius: 0px;
}
.btn-success-student {
    background-color: #4caf50;
    border-radius: 0px;
    color: white;
    width: 100%;
    margin-top: 15px;
}
.btn-link {
    font-weight: 600;
    color: #313131 !important;
}
.quickForm .form-group label {
    color: #454648;
    margin-bottom: 5px;
    font-weight: 500;
}
.form-control:invalid,
.form-control.is-invalid,
::ng-deep ng-select.is-invalid {
    border-color: #f1556c !important;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
    border-color: var(--newApp-color);
}
.modal-header {
    background-color: var(--newAppbg-color);
}
::ng-deep.prefixForm .modal-dialog {
    max-width: 363px;
    margin: 15% auto;
}
