//
// buttons.scss
//

.btn {
    color: $white;

    .mdi {
        &:before {
            margin-top: -1px;
        }
    }
}

.btn-rounded {
    border-radius: 2em;
}

//
// light button
//
.btn-light,
.btn-white {
    color: $gray-900;
}

//
// Link buttons
//
// Make a button look and behave like a link
.btn-link {
    font-weight: $font-weight-normal;
    color: $link-color;
    background-color: transparent;
    @include hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
        border-color: transparent;
    }
    &:focus,
    &.focus {
        text-decoration: $link-hover-decoration;
        border-color: transparent;
        box-shadow: none;
    }
    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
        pointer-events: none;
    } // No need for an active state here
}
//
// Alternate buttons
//
@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

//
// Button labels
//

.btn-label {
    margin: -0.55rem 0.9rem -0.55rem -0.9rem;
    padding: 0.6rem 0.9rem;
    background-color: rgba($gray-900, 0.1);
}

.btn-label-right {
    margin: (-$btn-padding-y) (-$btn-padding-x) (-$btn-padding-y) ($btn-padding-x);
    padding: ($btn-padding-y) ($btn-padding-x);
    background-color: rgba($gray-900, 0.1);
    display: inline-block;
}

//
// Button Extra Small Size
//

.btn-xs {
    padding: 0.2rem 0.6rem;
    font-size: 0.75rem;
    border-radius: 0.15rem;
}
//new button style
.btn-filled {
    background-color: var(--newApp-color);
    color: white;
    padding: 8px 10px;
    font-size: 17px;
    cursor: pointer;
}
.btn-filled:hover,
.btn-filled:focus {
    color: #fff;
}
.btn-outline {
    background-color: white;
    border: 2px solid var(--newApp-color);
    color: var(--newApp-color) !important;
    margin-left: 10px;
    margin-right: 15px;
    padding: 8px 10px;
    font-size: 17px;
    cursor: pointer;
}
.btn-outline:hover,
.btn-outline:focus {
    color: var(--newApp-color) !important;
    background-color: #fff;
}
