.delete .fa-trash {
    font-size: 20px;
    color: var(--delete);
    float: left;
    margin-left: 13px;
    margin-top: 1px;
    cursor: pointer;
}
.edit .fa-pen {
    font-size: 14px;
    color: var(--newApp-color);
    height: 26px;
    width: 26px;
    background-color: var(--newAppbg-color);
    text-align: center;
    border: 1px solid var(--newApp-color);
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.delete {
    margin-top: 3px;
}
.edit {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}
.slideInRight {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slideInLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
label {
    font-weight: 500;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: var(--newApp-color);
    border-color: var(--newApp-color);
    background-color: var(--newApp-color);
}
.box {
    box-shadow: 0 0.35rem 1rem rgb(56 65 74 / 10%);
    cursor: pointer;
}
.row p {
    color: #4c4a4a;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 13px;
}
hr {
    margin-bottom: 10px;
}
.row span {
    color: #adadad;
    font-size: 13px;
}
span.primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    background-color: var(--primarybg) !important;
}
span.info {
    color: var(--info) !important;
    border-color: var(--info) !important;
    background-color: var(--infobg) !important;
}
span.success {
    color: var(--success) !important;
    border-color: var(--success) !important;
    background-color: var(--successbg) !important;
}
span.warning {
    color: var(--warning) !important;
    border-color: var(--warning) !important;
    background-color: var(--warningbg) !important;
}
span.danger {
    color: var(--danger) !important;
    border-color: var(--danger) !important;
    background-color: var(--dangerbg) !important;
}
.box.primary {
    border-color: var(--primary) !important;
}
.box.info {
    border-color: var(--info) !important;
}
.box.success {
    border-color: var(--success) !important;
}
.box.warning {
    border-color: var(--warning) !important;
}
.box.danger {
    border-color: var(--danger) !important;
}
.box.col-6 {
    flex: 0 0 47.6%;
    max-width: 47.6%;
}
ng-select.is-invalid ::ng-deep .ng-select-container {
    border-color: #f1556c !important;
}
::ng-deep ng-select.is-invalid ~ .invalid-feedback {
    display: block;
}
.buttons {
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.stack-back {
    opacity: 0.5;
    pointer-events: none;
}
::ng-deep .timepicker .owl-dt-inline-container,
::ng-deep .timepicker .owl-dt-popup-container {
    width: 13.8em !important;
}
::ng-deep .timepicker .owl-dt-timer-box {
    width: 35% !important;
}
