.card {
  min-height: 93vh;
}
.card.stack-top {
  min-height: 100%;
  position: fixed;
  width: 66.4%;
}
.table th,
.table td {
  vertical-align: middle;
}
.table .table-user img {
  height: 35px;
  width: 35px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.table td {
  color: #272d3b;
  padding: 8px 10px;
  border-top: none;
  text-align: center;
}
.table th {
  color: var(--newApp-color);
  font-weight: 500;
  text-align: center;
  background-color: rgb(226 240 253);
  padding: 0px 15px;
  height: 43px;
  border: none;
}
.table-row {
  display: table-row;
}
.table tbody tr.abc,
.table-data {
  display: table-row;
  margin: 4px 1px 2px 1px;
  -webkit-box-shadow: 0px 1px 2px 0.4px #d0ced0;
  -moz-box-shadow: 0px 1px 2px 0.4px #d0ced0;
  box-shadow: 0px 1px 2px 0.4px #d0ced0;
}
.table tbody {
  background-color: #fff;
}
.table td .text-info {
  color: #067184 !important;
  border-radius: 8px;
}
.table td .mdi-dots-vertical {
  color: var(--newApp-color);
}
.table .table-user .btn {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 4px;
}
.table .table-user .btn-className {
  // color: #0DB2D0;
  margin-right: 5px;
  margin-bottom: 5px;
  // border-color: #0DB2D0;
}
.table .table-user .media-body {
  display: table-footer-group;
}
#headertabs .nav-tabs {
  height: auto !important;
}
#test {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
.table td .media {
  display: block !important;
  text-align: left;
  cursor: pointer;
}

.list {
  width: 100%;
  box-shadow: 0px 1px 2px 0.4px #d0ced0;
}
.list .table-responsive {
  border-bottom: 1px solid #d0ced0;
}
thead .c-checkbox span {
  background-color: #fff;
}
.ng-select.custom ::ng-deep .ng-select-container,
::ng-deep ng-select.pageSizeSelect .ng-select-container {
  display: none;
}
.ng-select.custom ::ng-deep .ng-dropdown-panel {
  margin-top: 30px;
  border-radius: 4px !important;
  width: fit-content;
}
.ng-select.pageSizeSelect ::ng-deep .ng-dropdown-panel {
  margin-top: 5px;
  border-radius: 4px !important;
  width: 85px;
}
.ng-select.pageSizeSelect ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  color: var(--newApp-color);
}
.list td .dropdown-menu.show {
  inset: 100% auto auto -100px !important;
  min-width: 8rem;
}
.pagination a {
  color: var(--newApp-color);
  padding-right: 6px;
  cursor: pointer;
}
.pagination {
  font-size: 15px;
}
.pagination .fa {
  cursor: pointer;
  margin-top: 4px;
}
::ng-deep .ng-select.is-invalid .ng-select-container {
  border-color: #f1556c !important;
}
/* Arrow Color */
::ng-deep .ng-select.is-invalid.ng-arrow-wrapper .ng-arrow {
  border-color: #f1556c transparent transparent !important;
}
/* Placeholder Color */
::ng-deep .ng-select.is-invalid .ng-select-container .ng-placeholder {
  color: #f1556c !important;
}
::ng-deep .ng-select.is-invalid ~ .invalid-feedback {
  display: block;
}
::ng-deep .ng-select.is-valid ~ .invalid-feedback {
  display: none;
}
.ng-select.custom ::ng-deep .custom-control,
.ng-select.custom1 ::ng-deep .custom-control {
  padding-left: 1rem !important;
  text-align: left;
}
.ng-select.custom ::ng-deep .custom-control-label,
.ng-select.custom1 ::ng-deep .custom-control-label {
  font-weight: 500;
}
.closeQuickForm,
.closeCpForm {
  float: right;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: #cecdcd;
  text-shadow: none;
  border: none;
  position: relative;
  top: 9px;
  right: 10px;
  height: 20px;
  padding-bottom: 3px;
  width: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
}
.table-header label.col-form-label {
  color: var(--newApp-color);
  font-weight: 600;
  height: 50px;
  padding: 11px 0px 0px 0px;
  font-size: 15px;
  vertical-align: middle;
}
.table-header .btn.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.table-header .quickAdd .btn,
.table-header .btn.bulkAssign {
  border: 1.6px solid var(--newApp-color);
  border-radius: 3px;
  height: 43px;
  margin-right: 0px;
  padding: 0.45rem 0.6rem;
  color: var(--newApp-color);
  margin-top: 3px;
}
.table-header .bulkAssign {
  background-color: var(--newApp-color) !important;
  color: #fff !important;
}
.table-header .bulkAssign .fa {
  color: #fff !important;
}
.table-header input {
  height: 43px;
  border-color: #7c7b98;
  margin-top: 3px;
}
.table-header .fa-filter {
  color: var(--newApp-color);
  border: 1px solid var(--newApp-color);
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 12px;
  padding: 5px;
}
.table-header .fa-search {
  color: #a9a9a9;
  position: absolute;
  right: 20px;
  top: 6px;
  padding: 5px;
}
.table-header .fa-plus {
  margin-right: 5px;
}
.table-header .col-sm-1 {
  -webkit-box-flex: 0;
  flex: 0 0 10%;
  max-width: 10%;
}
.table-header .col-sm-1.quickAdd {
  -webkit-box-flex: 0;
  flex: 0 0 12.333333%;
  max-width: 12.333333%;
  padding: 0px;
}
.quickAdd .btn {
  padding: 0.45rem 0.2rem !important;
  min-width: 110px;
  width: fit-content;
}
.dropdownModal {
  flex: 0 0 53.6%;
  max-width: 53.6%;
  pointer-events: fill;
  padding-left: 10px;
}
.table-header .col-sm-3 {
  flex: 0 0 24%;
  max-width: 24%;
}
.dropDownForm {
  width: 100%;
}
.outsideDropdown {
  pointer-events: none;
}
.fadeInDown {
  margin-left: 20px;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  margin-left: 20px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.table {
  width: 100%;
  background-color: #f3f3f3;
}
::ng-deep .page-title-box .page-title {
  color: #fff !important;
}
.c-checkbox,
.c-radio {
  margin-right: 4px;
  * {
    cursor: pointer;
  }
  input {
    opacity: 0;
    position: absolute;
    margin-left: 0 !important;
  } // the element that replaces the input
  span {
    position: relative;
    display: inline-block;
    vertical-align: bottom; // margin-left: -20px;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid #a9a9a9;
    margin-right: 5px;
    text-align: center;
    &:before {
      margin-left: 1px; // fa align trick
    }
  }

  &:hover span {
    border-color: $ui-fg-color;
  }

  .form-inline & span {
    margin-left: 0;
  }

  &.c-checkbox-rounded,
  &.c-radio-rounded {
    span {
      border-radius: 500px;
    }
  }
}

/* override for radio */
.c-radio span {
  border-radius: 500px;
}

/* the icon */
.c-checkbox,
.c-radio {
  span:before {
    //content: "\2713"; /* comment content to use custom icon classes */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    // vertical-align: middle;
  }
}

.c-checkbox,
.c-radio {
  /* Checked state */
  input[type="checkbox"]:checked + span:before,
  input[type="radio"]:checked + span:before {
    color: white;
    opacity: 1;
    transition: color 0.3s ease-out;
  }

  input[type="checkbox"]:checked + span,
  input[type="radio"]:checked + span {
    border-color: $ui-fg-color;
    background-color: var(--newApp-color);
  }

  /* override for radio */
  input[type="radio"]:checked + span {
    background-color: #fff;
    &:before {
      color: $ui-fg-color;
    }
  }

  /* Disable state */
  input[type="checkbox"]:disabled + span,
  input[type="radio"]:disabled + span {
    border-color: $ui-bg-color !important;
    background-color: $ui-bg-color !important;
  }
  /* override for radio */
  input[type="radio"]:disabled + span {
    background-color: #fff !important;
    &:before {
      color: $ui-bg-color;
    }
  }

  /* Focus state */
  input[type="checkbox"]:focus + span,
  input[type="radio"]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba($ui-fg-color, 0.25);
  }
}
.emptyTable {
  overflow: initial !important;
}
.stack-back {
  opacity: 0.5;
  pointer-events: none;
  height: 93vh;
}
.stack-top {
  padding: 0px !important;
  // width: 75%;
  height: 100%;
  position: absolute;
  // float: right;
  top: 0;
  // right: 0;
  opacity: 1;
  z-index: 1050;
  pointer-events: fill !important;
  overflow-y: scroll;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
  border-color: var(--newApp-color);
}

.stack-top {
  /* for chrome and safari*/
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slidein;

  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;

  /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slidein;

  /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slidein;
  margin-left: 19%;
  right: 0;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}

@-moz-keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}
@-o-keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}
.table-user .btn-className.primary {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  background-color: var(--primarybg) !important;
}
.table-user .btn-className.info {
  color: var(--info) !important;
  border-color: var(--info) !important;
  background-color: var(--infobg) !important;
}
.table-user .btn-className.success {
  color: var(--success) !important;
  border-color: var(--success) !important;
  background-color: var(--successbg) !important;
}
.table-user .btn-className.warning {
  color: var(--warning) !important;
  border-color: var(--warning) !important;
  background-color: var(--warningbg) !important;
}
.table-user .btn-className.danger {
  color: var(--danger) !important;
  border-color: var(--danger) !important;
  background-color: var(--dangerbg) !important;
}
.table .table-user .btn-orgName {
  color: #fca54d;
  border-color: #fca54d;
  background-color: #fca54d1a !important;
}
.backdrop.show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #323a46;
  opacity: 0.5;
  pointer-events: none !important;
}
.quickForm-back {
  pointer-events: none;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: var(--newApp-color);
  border-color: var(--newApp-color);
}
.userList {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
}
@media screen and (min-width: 1480px) {
  .card.stack-top {
    width: 70%;
  }
}
