//
// dropdown.scss
//

// .dropdown-menu {
//   box-shadow: $box-shadow;
//   animation-fill-mode: both;
//   margin: 0;
//   border: none;
//   font-size: $font-size-base;
//   z-index: 1000;
// }

// // Dropdown Large (Custom)
// .dropdown-lg {
//   width: $dropdown-lg-width;
// }

// @include media-breakpoint-down(sm) {
//   .dropdown-lg {
//     width: 200px !important;
//   }
// }

// Dropdown Mega Menu

// .dropdown-mega {
//   position: static !important;
// }

// .dropdown-megamenu {
//   padding: 20px;
//   left: 20px !important;
//   right: 20px !important;
//   background-image: url("/assets/images/megamenu-bg.png");
//   background-position: right bottom;
//   background-repeat: no-repeat;
// }

// .megamenu-list {
//   li {
//     padding: 5px 20px;
//     position: relative;

//     a {
//       color: $gray-700;

//       &:hover {
//         color: $primary;
//       }
//     }

//     &:before {
//       content: "\F130";
//       position: absolute;
//       left: 0;
//       font-family: "Material Design Icons";
//       font-size: 9px;
//       line-height: 24px;
//     }
//   }
// }

.dropdown-menu{padding:.3rem;-webkit-box-shadow:0 0 35px 0 rgba(154,161,171,.15);box-shadow:0 0 35px 0 rgba(154,161,171,.15);-webkit-animation-name:DropDownSlide;animation-name:DropDownSlide;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both;margin:0;border:none;font-size:.875rem;position:absolute;z-index:1000}
.dropdown-menu.show{top:100%!important}
.dropdown-menu-right{right:0!important;left:auto!important}
.dropdown-menu[x-placement^=left],
.dropdown-menu[x-placement^=right],
.dropdown-menu[x-placement^=top]{top:auto!important;-webkit-animation:none!important;animation:none!important}@-webkit-keyframes DropDownSlide{100%{-webkit-transform:translateY(0);transform:translateY(0)}0%{-webkit-transform:translateY(40px);transform:translateY(40px)}}@keyframes DropDownSlide{100%{-webkit-transform:translateY(0);transform:translateY(0)}0%{-webkit-transform:translateY(40px);transform:translateY(40px)}}.dropdown-lg{width:320px}@media (max-width:767.98px){.dropdown-lg{width:200px!important}}

.dropdown-mega{position:static!important}
.dropdown-megamenu{padding:20px;left:20px!important;right:20px!important;background-image:url(../images/megamenu-bg.png);background-position:right bottom;background-repeat:no-repeat}
.megamenu-list li{padding:5px 20px 5px 25px;position:relative}.megamenu-list li a{color:#6c757d}.megamenu-list li a:hover{color:#6658dd}.megamenu-list li:before{content:"\F142";position:absolute;left:0;font-family:"Material Design Icons"}
