//
// forms.scss
//

// Form-control light
.form-control-light {
  background-color: $gray-100;
  border-color: $gray-100;
}

// Form elements (Color and Range)
input.form-control[type="color"],
input.form-control[type="range"] {
  min-height: 39px;
}

// Custom select
.custom-select.is-invalid,
.form-control.is-invalid,
.custom-select:invalid,
.form-control:invalid,
.custom-select.is-valid,
.form-control.is-valid,
.custom-select:valid,
.form-control:valid {
  &:focus {
    box-shadow: none !important;
  }
}

// COmment box
.comment-area-box {
  .form-control {
    border-color: $gray-300;
    border-radius: $input-border-radius $input-border-radius 0 0;
  }
  .comment-area-btn {
    background-color: $gray-100;
    padding: 10px;
    border: 1px solid $gray-300;
    border-top: none;
    border-radius: 0 0 $input-border-radius $input-border-radius;
  }
}

//slide form styles

.formStyle {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  top: 0px;
  box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -webkit-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -moz-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
}
.formStyle .col-lg-2 {
  padding-left: 7px;
  padding-right: 7px;
}
.formStyle .col-lg-1:first-child {
  flex: 0 0 1.3333333333%;
  max-width: 0.333333%;
}
.formStyle .form-control {
  padding: 0.35rem 0.5rem;
}

.formStyle .form-group label {
  color: var(--secondary);
  margin-bottom: 5px;
}
.form-control.is-invalid {
  background: none !important;
}
