//
// nav.scss
//

.nav-tabs,
.nav-pills {
    > li {
        > a {
            color: $gray-700;
            font-weight: $font-weight-semibold;
        }
    }
}

.nav-pills {
    > a {
        color: $gray-700;
        font-weight: $font-weight-semibold;
    }
}

//Navtab custom
.navtab-bg {
    li {
        > a {
            background-color: $gray-200;
            margin: 0 5px;
        }
    }
}

// Nav bordered

.nav-bordered {
    border-bottom: 2px solid rgba($gray-600, 0.2) !important;
    .nav-item {
        margin-bottom: -2px;
    }

    li {
        a {
            border: 0 !important;
            padding: 10px 20px !important;
        }
    }

    a.active {
        border-bottom: 2px solid $primary !important;
    }
}

.tab-content {
    padding: 20px 0 0 0;
}
#headertabs {
    color: black;
    background-color: white;
    z-index: 1;
    width: 80%;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    // -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    // -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    // box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
}

#headertabs .nav-tabs .nav-link {
    color: #444444;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
}
#headertabs .nav-tabs .nav-link.active {
    color: var(--newApp-color) !important;
    border-color: transparent transparent #f3f3f3;
    font-weight: 500;
    font-size: 14px;
}
#headertabs .nav-item {
    width: 120px;
    text-align: center;
}
#headertabs nav {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
}
#headertabs .nav-tabs {
    border: none;
    display: flex;
    align-items: center;
}
#headertabs .nav-tabs .nav-link:hover {
    border-color: transparent;
}
#headertabs .assignPeriod .nav-item {
    width: fit-content;
}
