//
// popover.scss
//

.popover-header {
    margin-top: 0;
}
.viewSidePopup {
    position: absolute;
    background-color: white;
    right: 0;
    z-index: 1;
    pointer-events: fill;
    opacity: 1;
    box-shadow: 0 0.35rem 1rem rgb(56 65 74 / 8%);
    padding: 15px 15px 15px 20px;
}

.viewSidePopupNoPad {
    position: absolute;
    background-color: white;
    right: 0;
    z-index: 1;
    pointer-events: fill;
    opacity: 1;
    box-shadow: 0 0.35rem 1rem rgb(56 65 74 / 8%);
    padding: 15px 0px 15px 0px;
}

.closePopup {
    float: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: white;
    background-color: #f85f5fba;
    text-shadow: none;
    border: none;
    position: relative;
    top: 0px;
    right: 10px;
    height: 20px;
    padding-bottom: 3px;
    width: 20px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
