/* width */
.scroll::-webkit-scrollbar {
    width: 3px;
}

/* width */
body.scroll::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--newAppbg-color);
    border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: var(--newApp-color);
    border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--newApp-color);
}
