<form class="form-horizontal" id="batchInfo" [formGroup]="batchInfo">


  <div class="row mx-0">
    <div class="col-4"><label class="col-form-label label-under">Course</label>

      <ng-select [items]="courseList" bindLabel="name" bindValue="uniqueId" [searchable]="false" [clearable]="false"
        [closeOnSelect]="true" (change)="getBatchAndSubjectList($event)" formControlName="courseId" placeholder="Select"
        [ngClass]="{'is-invalid': batchInfo.controls['courseId'].errors && isFirstNext}">
      </ng-select>
      <div *ngIf="batchInfo.controls['courseId'].errors && isFirstNext" class="text-danger">
        <div *ngIf="batchInfo.controls['courseId'].errors?.required">
          Select course</div>
      </div>
    </div>

    <div class="col-5"><label class="col-form-label label-under">Batch</label>

      <ng-select [items]="batchList" bindLabel="name" bindValue="uniqueId" [multiple]="true" [searchable]="false"
        [clearable]="false" [closeOnSelect]="false" formControlName="batchIds" placeholder="Select"
        [ngClass]="{'is-invalid': batchInfo.controls['batchIds'].errors && isFirstNext}" (change)="changeBatch($event)"
        #ngSelectComponent>
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice:0:2">
            <span class="ng-value-label"> {{item.name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">+{{items.length - 2}}</span>
          </div>
        </ng-template>
      </ng-select>
      <div *ngIf="batchInfo.controls['batchIds'].errors && isFirstNext" class="text-danger">
        <div *ngIf="batchInfo.controls['batchIds'].errors?.required">
          Select batches</div>
      </div>
    </div>
    <div class="col-3 searchStudent">

      <div class="input-group" style="margin-top: 37px;cursor: pointer;" (click)="getStudents(searchStudent)">
        <input type="text" class="form-control" placeholder="Search Student" style=" height: 36px" readonly>
        <div class="input-group-append" style="height: 36px;">
          <span class="input-group-text searchIcon"><i class="fa fa-search"
              style="font-size: 20px;color: white;"></i></span>
        </div>
      </div>
      <div *ngIf="selectedStudentsList.length==0 && isFirstNext" class="text-danger">

        <div *ngIf="selectedStudentsList.length==0">
          Please select students.
        </div>
      </div>
    </div>

  </div>
</form>
<ng-template #searchStudent let-modal="close">
  <div class="row" style="background-color: #0091ff;padding: 9px 13px;margin: 0;">
    <div class="col-md-3">
      <div class="table-checkbox c-checkbox">
        <label class="label-student checkAll" style="color: white;margin-top: 7px;">
          <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
            (change)="checkUncheckAll()" />
          <span class="fa fa-check"></span>
          Select All
        </label>
      </div>
    </div>
    <div class="col-md-9">
      <div style="float: right;width: 60%;">
        <input type="text" class="form-control"
          style="height:36px;border-radius: 20px;background: transparent;color: white;" placeholder="Search Students" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
          aria-controls="tickets-table">
      </div>
    </div>
  </div>
  <div style="padding: 25px 30px;overflow-x: hidden;"
    [ngStyle]="{'overflow-y':studentList.length > 32 ?'scroll':'','height':studentList.length > 32 ?'420px':'auto'}">
    <div class="row">
      <div class="col-md-4" style="margin-bottom: 20px;" *ngFor="let user of studentList | filter:searchText; let i=index">
        <div class="row">
          <div class="col-md-2">
            <div class="table-checkbox c-checkbox">
              <label class="label-student" style="margin-top: 9px;">
                <input id="{{user.student.uniqueId}}" type="checkbox" name="{{user.student.name}}" style="height: 16px;"
                  [(ngModel)]="user.student.isSelected" (change)="isAllSelected()" />
                <span class="fa fa-check" style="border-color:#61616182"></span>
              </label>
            </div>
          </div>
          <div class="col-md-2 align-self-center" style="padding-left:0 ;padding-right: 0;">
            <img *ngIf="user.imageCode==null || user.imageCode==''" height="35px" width="35px"
              src="assets/images/users/user-3.jpg" class="rounded-circle" alt="">
            <img *ngIf="user.imageCode!=null && user.imageCode!=''" height="35px" width="35px"
              [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +user.imageCode)"
              class="rounded-circle" alt="">
          </div>
          <div class="col-md-8 align-self-center" style="align-self: center;">
            <span>{{user.student.name}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 19px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
            (click)="modal('Cross click')">Close</button></div>
        <div class="col-6"><button type="button" class="btn invigilatorOkBtn" style="float: right;" (click)="save()"
            (click)="modal('Cross click')">Ok</button></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <!-- <button type="button" class="btn waves-effect waves-light btn-okStudent" (click)="save()" (click)="modal('Cross click')">OK</button> -->

</ng-template>