.group {
    display: inline-block;
    width: 100%;
    padding: 3%;
}

.nextBtn {
    // margin-top: 30px;
    margin-top: 28px;
    background-color: #10c8e9;
    width: 44%;
    float: right;
}

.card {
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.textarea-card {
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 50%), 0 6px 20px 0 rgb(212 205 205 / 45%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    border: none;
}

.secndNextBtn {
    margin-bottom: 40px;
    background-color: #10c8e9;
    width: 139%;
    float: right;
    margin-right: 13px;
}

.prevbtn {
    background-color: #10c8e9;
    margin-left: 10px;
    width: 120%;
}

label {
    font-weight: 500;
    color: #808080ad;
}

.btn-outline-dark:hover {
    background-color: white !important;
    color: #000;
}

.button-group .btn {
    width: 110px;
    margin-right: 10px;
    margin-top: 10px;
}

.addInstructionBody {
    width: 90%;
    margin: auto;
}

.addInstructionBody .radio {
    margin: 2px 15px;
}

.addInstructionHeader,
.markingSchemeHeader {
    border-bottom: 1px solid #aaa !important;
}

.addInstructionHeader .close,
.markingSchemeHeader .close {
    color: white !important;
    background-color: rgb(194, 54, 77);
    height: 25px;
    width: 25px;
    border-radius: 15px;
    padding: 0 !important;
    margin: 0% !important;
}

// ..........................DropZone...................

.uploadfilecontainer {
    // background-image: url("../../assets/cloud-2044823_960_720.png");
    background-image: url("../../../../../assets/images/fileupload.webp");
    background-repeat: no-repeat;
    // background-size: 100px;
    background-size: 45px;
    background-position: center;
    height: 175px;
    width: 80%;
    margin: 0px auto;
    border: 3px dashed #0091ff;
    border-radius: 20px;
    box-shadow: none;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;

    // width: 100%;
    // height: 99%;
    // border: 1px solid blue;
    overflow: auto;
    // padding-right: 15px;
}

.fileListContainer {
    height: 100%;
    width: 100%;
    // border: 1px solid green;
    overflow: hidden;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.dropFileText {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-weight: 500;
    padding-top: 33%;
}

.subjectTitle {
    color: var(--app-colorNew);
    font-weight: 600;
    font-size: larger;
}
.patternHeading {
    text-align: end;
    font-size: larger;
    font-weight: 400;
    color: #000000ad;
}

.noPadding {
    padding: 0;
}

.addInstructionPopupBtn {
    width: 45% !important;
    padding: 3%;
}

.customPatternCss {
    width: 100%;
    // height: 7vw;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
}
hr {
    border-color: #b7b5b5;
}
.isHide {
    display: none;
}

.isUnhide {
    display: block;
    border: 1px solid #b6bcc1;
    border-top: hidden;
    // -webkit-box-shadow: 0px 2px 1px 2px rgba(191,191,191,1);
    // -moz-box-shadow: 0px 2px 1px 2px rgba(191,191,191,1);
    // box-shadow: 0px 2px 1px 2px rgba(191,191,191,1);
}
.customCardCss {
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
}

.border-box {
    border: 2px solid #0091ff;
    padding: 7px 4px 6px 8px;
    width: 115px;
    cursor: pointer;
    color: #0091ff;
    border-radius: 3px;
}

div.border-box:hover {
    background-color: #0091ff;
    color: white;
}

.instructionbtn {
    font-size: 15px;

    margin-top: 2px;
    margin-left: 6px;
}

.addScheme {
    background-color: #0091ff;
    width: 115px;
    height: 38px;
    font-size: 13px;
}

.label-text {
    font-weight: 400;
    color: black;
}

.cancelScheme {
    color: #43425d;
    border-color: #cccecf;
    background-color: white;
    width: 100%;
    height: 40px;
}

.saveScheme {
    background-color: #0091ff;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.saveAddScheme {
    background-color: #0091ff;
    height: 40px;
    width: 33%;
    cursor: pointer;
}

button.saveAddScheme:hover {
    background-color: #0076d1;
    // border: 1px solid #0091ff,
    color: white;
}

.saveAs {
    background-color: #0076d1;
    height: 40px;
    cursor: pointer;
}

button.saveAs:hover {
    background-color: #0091ff;
    // border: 1px solid #0091ff,
    color: white;
}

button.saveScheme:hover {
    background-color: #0076d1;
    // border: 1px solid #0091ff,
    // color: #0091ff,
}

button.cancelScheme:hover {
    background-color: #43425d;
    // border: 1px solid #0091ff,

    color: white;
}

::ng-deep .modal-backdrop.show {
    opacity: 0.8;
}
.table thead th {
    font-weight: 500;
}
.header-title {
    margin: 15px 0 7px 0;
    color: white;
}
.left-text {
    margin-top: 5px;
}
.collapse-heading {
    background-color: #0076d1;
    color: white;
    height: 45px;
}
.card-body {
    padding-right: 0% !important;
    padding-left: 0% !important;
    padding-top: 0% !important;
}
.page-title {
    margin-top: 3%;
    margin-left: 1%;
}
.input-group-text {
    padding: 0.34rem 0.9rem;
}

.table-responsive {
    overflow-x: initial;
}
li.fa.fa-plus.icons.add-icon {
    border-radius: 20px;
    background-color: #0076d138;
    border: 0.3px solid;
    padding: 3px 4px 3px 3px;
}
.isHideOptional {
    display: none;
}

.isUnhideOptional {
    display: block;
    // padding-top: 31px;
}
.btn-instruction {
    border: 2px solid var(--app-examModuleColor);
    background-color: #ffffff;
    color: var(--app-examModuleColor);
    padding: 8px 10px;
    width: 106px;
    height: 36px;
}

.btn-instruction:hover {
    background-color: #0091ff;
    color: white;
}
.btn-addScheme {
    padding: 8px 10px;
    background-color: var(--app-examModuleColor);
    color: #ffffff;
    font-weight: 400;
}
.marking {
    // display: flex;
    width: 19%;
}
.marking .col {
    padding-left: 5px;
    padding-right: 5px;
}
.marking input {
    // width: 43px;
    margin-right: 7px;
    // margin-top: 25px;
}
.marking input:last-child {
    margin-right: 0px;
}
.isUnhideOptional .col-6:last-child {
    padding-left: 5px;
}
.isUnhideOptional .col-6:first-child {
    padding-right: 5px;
}
.question input {
    padding: 2px 4px;
}

.saveTrack {
    border: 1px solid #0091ff;
    color: #0091ff;
    height: 36px;
    padding: 4px 18px;
}

.saveTrack:hover {
    background-color: #0091ff;
    color: white;
}
