<app-common-exam-header></app-common-exam-header>

<div class="container-fluid">
    <div class="row">
        <div class="card w-100">
            <div *ngIf="exam != null && exam != 'undefined'" class="card-body">
                <form [formGroup]="examTrackForm">
                    <!-- <pre> {{ examTrackForm.value | json }} </pre> -->
                    <div *ngIf="exam.examType == 1">
                        <div class="col-lg-12 p-0">
                            <div class="row mx-1">
                                <!-- <div class="col-lg-10"> -->
                                <div class="col-9 float-left">
                                    <h4 class="page-title"> Add Tracks for {{exam.name}} </h4>
                                </div>
                                <!-- </div>
                                <div class="col-lg-2"> -->
                                <div class="col-3 float-right mt-3">
                                    <label class="float-right">EXAM MARKS :
                                        {{examTrackForm.controls['totalMarks'].value}}/{{exam.marks}}</label>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <hr class="mt-1">
                        <div class="col-lg-12" formArrayName="subjects">
                            <div *ngFor="let subject of examTrackForm.controls.subjects['controls']; let i = index;"
                                [formGroupName]="i">
                                <div class="row mx-auto">
                                    <div class="w-100 collapse-heading">

                                        <h4 class="header-title float-left ml-3"><span>Subject {{i+1}} :
                                                {{subject.controls['name'].value}}</span></h4>
                                        <div class="float-right left-text mr-2">
                                            <label class="col-form-label text-white float-left mr-2"> Subject Marks :
                                                {{subject.controls['totalMarks'].value}}
                                            </label>
                                            <span (click)="isCollaps('demoTrack'+i,'demo'+i)" class="float-right"><i
                                                    class="fa fa-minus"
                                                    style="float: right; font-size: x-large;padding-right: 2%;margin-top: 7px;cursor: pointer;"
                                                    id="demo{{i}}"></i></span>
                                        </div>


                                    </div>
                                    <!-- <div class="col-lg-10">
                                        <div class="form-group">
                                            <h4 class="header-title mb-3">{{subject.controls['name'].value}}</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="text-lg-right mt-3 mt-lg-0">
                                            <label> Subject Marks :
                                                {{subject.controls['totalMarks'].value}}</label>
                                        </div>
                                    </div> -->
                                </div>
                                <div class=" isUnhide mb-2" id="demoTrack{{i}}">
                                    <div class="table" formArrayName="trackList">
                                        <table class="table table-borderless forQuickForm table-centered m-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Teacher</th>
                                                    <th style="width: 15%;">Questions</th>
                                                    <th style="width: 14%;">Question Type</th>
                                                    <th style="width: 19%;">
                                                        Markings </th>
                                                    <th style="width: 14%;">Instruction</th>
                                                    <th style="width: 15%;">Deadline</th>
                                                    <th style="width: 7%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let tracks of subject.controls.trackList['controls']; let j = index;"
                                                    [formGroupName]="j">
                                                    <td *ngIf="teachers != null && teachers.length > 0">
                                                        <ng-select [items]="teachers" bindLabel="name"
                                                            placeholder="Select Teacher" bindValue="id"
                                                            formControlName="teacherId" title="Select Teacher">
                                                        </ng-select>
                                                    </td>
                                                    <td style="padding-top: 46px;">

                                                        <div class="row" style="display: flex;">
                                                            <div class="col-12" id="{{i}}checkTrack{{j}}">
                                                                <input type="text" maxlength="3" size="3" placeholder=""
                                                                    formControlName="noOfQuestions"
                                                                    (keypress)="numberOnly($event)"
                                                                    class="form-control autonumber"
                                                                    (input)="calculateMarks(i, j)">
                                                            </div>
                                                            <div class="isHideOptional" id="{{i}}checkoptionTrack{{j}}">
                                                                <input type="text" maxlength="2" size="2" placeholder=""
                                                                    formControlName="optionalQuestions"
                                                                    (keypress)="numberOnly($event)"
                                                                    class="form-control autonumber" (input)="calculateMarks(i, j)">
                                                            </div>
                                                        </div>

                                                        <div class="table-checkbox c-checkbox" >
                                                            <label class="label-student checkAll">
                                                                <input type="checkbox" name="list_name" value="m1" (change)="onOptionalCheck2(i+'checkTrack'+j,i+'checkoptionTrack'+j,i,j)" />
                                                                <span class="fa fa-check"></span>
                                                                Optional
                                                            </label>
                                                          </div>
                                                    </td>
                                                    <td>
                                                        <ng-select bindLabel="name" placeholder="Select " bindValue="id"
                                                            formControlName="questionType" title="Select Question Type">
                                                            <ng-option *ngFor="let type of questionTypes"
                                                                [value]="type.id">
                                                                {{type.name}}
                                                            </ng-option>
                                                        </ng-select>
                                                    </td>

                                                    <!-- <td *ngIf="tracks.controls['questionType'].value != '' && tracks.controls['questionType'].value !=2">
                                                        <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                                          formControlName="rightMarks" class="form-control" placeholder="RM"
                                                          (input)="calculateMarks(i, j)" ngbTooltip="Enter Right Marks">
                                                      </td>
                                                      <td
                                                        *ngIf="tracks.controls['questionType'].value==1 || tracks.controls['questionType'].value==3"
                                                        style="width: 80px;">
                                                        <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                                          formControlName="wrongMarks" class="form-control" placeholder="WM"
                                                          ngbTooltip="Enter Wrong Marks">
                                                      </td>
                                                      <td
                                                        *ngIf="tracks.controls['questionType'].value != '' && (tracks.controls['questionType'].value==1 || tracks.controls['questionType'].value==3)"
                                                        style="width: 80px;">
                                                        <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                                          formControlName="leaveMarks" class="form-control" placeholder="LM"
                                                          ngbTooltip="Enter Leave Marks">
                                                      </td> -->
                                                    <td *ngIf="tracks.controls['questionType'].value != '' && tracks.controls['questionType'].value!=2"
                                                        class="marking">
                                                        <div class="row">
                                                            <div class="col"
                                                                [ngClass]="{'col':tracks.controls['questionType'].value == 1 && tracks.controls['questionType'].value == 3 && tracks.controls['questionType'].value !=2, 'col-12':tracks.controls['questionType'].value != 1 && tracks.controls['questionType'].value != 3 && tracks.controls['questionType'].value !=2}">
                                                                <input type="text" name="" maxlength="2" size="2"
                                                                    (keypress)="numberOnly($event)"
                                                                    formControlName="rightMarks" class="form-control"
                                                                    placeholder="RM" (input)="calculateMarks(i, j)"
                                                                    ngbTooltip="Enter Right Marks"
                                                                    *ngIf="tracks.controls['questionType'].value != '' && tracks.controls['questionType'].value !=2">
                                                            </div>
                                                            <div class="col">
                                                                <input type="text" name="" maxlength="2" size="2"
                                                                    (keypress)="numberOnly($event)"
                                                                    formControlName="wrongMarks" class="form-control"
                                                                    placeholder="WM" ngbTooltip="Enter Wrong Marks"
                                                                    *ngIf="tracks.controls['questionType'].value==1 || tracks.controls['questionType'].value==3">
                                                            </div>
                                                            <div class="col">
                                                                <input type="text" name="" maxlength="2" size="2"
                                                                    (keypress)="numberOnly($event)"
                                                                    formControlName="leaveMarks" class="form-control"
                                                                    placeholder="LM" ngbTooltip="Enter Leave Marks"
                                                                    *ngIf="tracks.controls['questionType'].value != '' && (tracks.controls['questionType'].value==1 || tracks.controls['questionType'].value==3)">
                                                            </div>
                                                        </div>



                                                    </td>
                                                    <td
                                                        *ngIf="tracks.controls['questionType'].value != '' && tracks.controls['questionType'].value==2">
                                                        <button type="button" class="btn btn-addScheme btn-xs"
                                                            (click)="getMarkingScheme(markingSchemeModal,i,j)">Add
                                                            Scheme <i class="fa fa-plus"></i></button>
                                                    </td>
                                                    <!-- <td
                                                        *ngIf="tracks.controls['questionType'].value == 2 || tracks.controls['questionType'].value == 4 || tracks.controls['questionType'].value == 5 || tracks.controls['questionType'].value == 6 || tracks.controls['questionType'].value == 7">
                                                    </td> -->
                                                  <td style="width: 13%;    text-align: center;">
                                                        <button type="button" class="btn btn-instruction btn-xs"
                                                            (click)="getInstruction(i, j, instructionModal)">Instructions
                                                            <i class="fa fa-plus"></i></button>
                                                    </td> <!-- [max]="maxDate"  (Add for track validation)-->
                                                    <td style="border-color: white; cursor: pointer;width: 15%;">
                                                        <input type="text" formControlName="endDate"
                                                            placeholder="Deadline" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                                                            #dp="bsDatepicker" show-weeks="false" bsDatepicker>
                                                      </td>
                                                    <td style="border-color: white; cursor: pointer;">
                                                        <li *ngIf="j == subject.controls.trackList['controls'].length - 1"
                                                            class="fa fa-plus icons add-icon" title="Add track"
                                                            (click)="addFormControl(i,j)" style="color: #0000ffcb;">
                                                        </li> &nbsp;
                                                        <li *ngIf="subject.controls.trackList['controls'].length > 1"
                                                            class="fas fa-trash-alt" (click)="removeFormControl(i, j)"
                                                            title="Delete track" style="color: #ff0b0b;"></li>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div *ngIf="exam.examType == 2" class="col-lg-12 px-0" formGroupName="patternDto">
                        <h4 class="page-title"> Add Tracks for {{exam.name}} </h4>
                        <hr>
                        <div formArrayName="subjects">
                            <div *ngFor="let subject of examTrackForm.controls['patternDto'].get('subjects').controls;let i=index"
                                [formGroupName]="i" class="mx-3 mb-3">
                                <div class="row mx-auto">
                                    <div class="w-100 collapse-heading">

                                        <h4 class="header-title float-left ml-3"><span>Subject {{i+1}} :
                                                {{subject.controls['name'].value}}</span></h4>
                                        <div class="float-right left-text mr-2">
                                            <label class="col-form-label text-white float-left mr-2">Added Questions :
                                                ({{subject.controls['addedQuestions'].value}} /
                                                {{subject.controls['totalQuestions'].value}})
                                            </label>
                                            <span (click)="isCollaps(i,'demo'+i)" class="float-right"><i
                                                    class="fa fa-minus"
                                                    style="float: right; font-size: x-large;padding-right: 2%;margin-top: 7px;cursor: pointer;"
                                                    id="demo{{i}}"></i></span>
                                        </div>


                                    </div>
                               </div>
                                <div class=" isUnhide mb-2" id="{{i}}">
                                    <div class="table-responsive" formArrayName="sections">
                                        <table class="table table-centered mb-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Sections</th>
                                                    <th>Tracks</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let section of subject.get('sections').controls; let j=index;"
                                                    [formGroupName]="j">
                                                    <td>{{section.controls['name'].value}}</td>
                                                    <td formArrayName="trackList">
                                                <tr *ngFor="let tracks of section.controls.trackList['controls']; let k= index;"
                                                    [formGroupName]="k">
                                                    <td style="border-color: white;">
                                                        {{k+1}}
                                                    </td>
                                                    <td
                                                        style="border-color: white; min-width: 300px; max-width: 700px;">
                                                        <ng-select [items]="teachers" bindLabel="name"
                                                            placeholder="Select Teacher" bindValue="id"
                                                            formControlName="teacherId" title="Select Teacher">
                                                        </ng-select>
                                                    </td>
                                                    <td style="border-color: white; min-width: 100px;">
                                                        <input type="text" maxlength="3" size="3"
                                                            formControlName="noOfQuestions"
                                                            (keypress)="numberOnly($event)"
                                                            class="form-control autonumber"
                                                            (input)="checkQuestionCount(i,j,k)"
                                                            title="Enter Questions to be added">
                                                    </td> <!-- [max]="maxDate"  (Add for track validation)-->
                                                    <td style="border-color: white; cursor: pointer;">
                                                        <div class="input-group" data-placement="top" data-align="top">
                                                            <input type="text" formControlName="endDate"
                                                                class="form-control"
                                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                                                                #dp="bsDatepicker" show-weeks="false" bsDatepicker>
                                                          <div class="input-group-append">
                                                                <span class="input-group-text"><i
                                                                        class="mdi mdi-calendar-text"></i></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="border-color: white; cursor: pointer;">
                                                        <li *ngIf="k == section.controls.trackList['controls'].length - 1"
                                                            class="fa fa-plus icons add-icon" title="Add track"
                                                            (click)="addPatternControl(i, j, k)"
                                                            style="color: #0000ffcb;">
                                                        </li> &nbsp;
                                                        <li *ngIf="section.controls.trackList['controls'].length > 1"
                                                            class="fas fa-trash-alt" title="Delete track"
                                                            (click)="removePatternControl(i, j, k)"
                                                            style="color: #ff0b0b;"></li>
                                                    </td>
                                                </tr>
                                                </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right m-b-0" style="margin-right: 5%; margin-top: 6%;">
                        <button class="btn saveTrack" type="submit" (click)="submit(examTrackForm.value)">Save
                            Tracks</button>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #markingSchemeModal let-modal="close">
    <div class="modal-content" style="width: 116%;">
        <div class="modal-header markingSchemeHeader">
            <h4 class="modal-title">Add Scheme</h4>
            <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-scheme [markingSchemeForm]="markingSchemeForm"></app-scheme>


            <form [formGroup]="markingSchemeForm">
                <span *ngIf="markingSchemeForm.controls['schemeType'].value==2">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <button type="button" class="btn saveAs" (click)="saveAndImportScheme()"
                                [disabled]="!markingSchemeForm.valid" style="margin-right: 8px;">Save as
                                Template And Use</button>
                            <button type="button" class="btn saveAddScheme" (click)="saveScheme()"
                                (click)="modal('Cross click')" [disabled]="!markingSchemeForm.valid">Save</button>
                        </div>
                    </div>
                </span>

                <span *ngIf="markingSchemeForm.controls['schemeType'].value==1">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"> <button type="button" class="btn btn-secondary cancelScheme"
                                (click)="modal('Cross click')">Cancel</button></div>
                        <div class="col-md-3"> <button type="button" class="btn btn-info saveScheme"
                                (click)="saveScheme()" (click)="modal('Cross click')"
                                [disabled]="!markingSchemeForm.valid">Save</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </span>


            </form>
        </div>


    </div>

</ng-template>
<ng-template #instructionModal let-modal="close">
    <div class="modal-header addInstructionHeader">
        <h4 class="modal-title">Add Instruction</h4>
        <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body addInstructionBody">
        <form [formGroup]="instructionForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group row mb-12 justify-content-center">
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" name="instructionType" value="2" formControlName="instructionType"
                                id="instructionType1">
                            <label class="label-text" for="inlineRadio1"> Upload Image </label>
                        </div>
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" name="instructionType" value="3" formControlName="instructionType"
                                id="instructionType2">
                            <label class="label-text" for="inlineRadio2"> Enter Instruction </label>
                        </div>
                        <div class="radio radio-info form-check-inline">
                            <input type="radio" name="instructionType" value="1" formControlName="instructionType"
                                id="instructionType3">
                            <label class="label-text" for="inlineRadio3"> Import </label>
                        </div>
                        <div *ngIf="instructionForm.controls['instructionType'].errors && instructionForm.controls['instructionType'].touched"
                            class="invalid-feedback">
                            <div *ngIf="instructionForm.controls['instructionType'].errors?.required">This is required
                            </div>
                        </div>
                    </div>

                    <div *ngIf="instructionForm.controls['instructionType'].value==1" class="form-group row mb-12">

                        <div class="col-lg-6">
                            <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Exam Name">
                                <!-- <ng-option selected>Select</ng-option> -->
                                <!-- <ng-option value="3">JEE Advanced Pattern</ng-option> -->

                            </ng-select>
                        </div>
                        <div class="col-lg-6">

                            <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Question Type">
                                <!-- <ng-option selected>Select</ng-option> -->
                                <!-- <ng-option value="3">JEE Advanced Pattern</ng-option> -->

                            </ng-select>
                        </div>

                        <div class="col-lg-12">
                            <h5 style="margin-left: 10px;">Message</h5>
                            <div>
                                <textarea class="textarea-card" rows="6"></textarea>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="instructionForm.controls['instructionType'].value==2" class="form-group row mb-12">

                        <!-- <div class="col-md-2"> </div> -->
                        <div style="width: 100%;">
                            <!-- <img *ngIf="instructionForm.controls['instructionTextOrImage'].value != null" [src]="instructionForm.controls['instructionTextOrImage'].value" style="width:380px;max-height:300px;margin-left: 20px;"> -->
                            <!-- <input style="margin: 10% 0% 0% 35%;" type='file' accept="image/*" (change)="onSelectFile($event)"> -->

                            <ng-template [ngTemplateOutlet]="dropZone"></ng-template>
                        </div>
                        <!-- <div class="col-md-2"> </div> -->
                    </div>

                    <!-- <div class="col-lg-12" *ngIf="instructionForm.controls['instructionType'].value==3"> -->
                    <div *ngIf="instructionForm.controls['instructionType'].value==3">
                        <app-ngx-editor formControlName="instructionTextOrImage" [placeholder]="'Enter text here...'"
                            [spellcheck]="true" [config]="editorConfig">
                        </app-ngx-editor>
                    </div>

                </div>
            </div>
        </form>
        <div class="col-12 text-center button-group" style="padding-left: 5%;">
            <button type="button" class="btn btn-outline-dark addInstructionPopupBtn"
                (click)="modal('Cross click')">Close</button>
            <button type="button" class="btn btn-primary addInstructionPopupBtn" (click)="saveInstruction()"
                (click)="modal('Cross click')" [disabled]="!instructionForm.valid"
                style="background-color: var(--app-colorNew);">Save</button>
        </div>
    </div>

</ng-template>
<ng-template #dropZone>
    <div class="uploadfilecontainer card" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
        <input hidden type="file" #fileInput (change)="uploadFile($event)">
        <p class="dropFileText">Drop your file here ,or &nbsp;<span style="color:#0091ff;"> browse </span> </p>
        <p style="display: flex; justify-content: center;color: #8080807a; font-size: 12px;">JPG,PNG</p>
    </div>
    <div class="fileListContainer">
        <div class="files-list" *ngFor="let file of files;let i=index">
            <p>{{ file | truncatePipe:30 }}</p>
            <!-- <p>{{ file }}</p> -->
            <button class="delete-file" (click)="deleteAttachment(i)">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>



</ng-template>