<div class="preloader">
<svg style="position: absolute;display: block;left:40%;top:25%;z-index:3;" width="130px" height="130px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <circle cx="59.4477" cy="59.4477" r="5.01129" fill="#36173b">
          <animate attributeName="cx" values="63.435028842544405;36.564971157455595;63.435028842544405" keyTimes="0;0.5;1" dur="1.923076923076923s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" repeatCount="indefinite" begin="-0.641025641025641s"></animate>
          <animate attributeName="cy" values="63.4350288425444;36.5649711574556;63.4350288425444" keyTimes="0;0.5;1" dur="1.923076923076923s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" repeatCount="indefinite" begin="-0.641025641025641s"></animate>
          <animate attributeName="r" values="8;1.6;8;1.6;8" keyTimes="0;0.25;0.5;0.75;1" dur="1.923076923076923s" repeatCount="indefinite" begin="-0.641025641025641s"></animate>
        </circle>
        <circle cx="50.9346" cy="46.5122" r="2.45538" fill="#e0da3e">I
          <animate attributeName="cx" values="45.08243814305211;54.917561856947884;45.08243814305211" keyTimes="0;0.5;1" dur="1.923076923076923s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" repeatCount="indefinite" begin="-0.3205128205128205s"></animate>
          <animate attributeName="cy" values="68.3525906994923;31.6474093005077;68.3525906994923" keyTimes="0;0.5;1" dur="1.923076923076923s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" repeatCount="indefinite" begin="-0.3205128205128205s"></animate>
          <animate attributeName="r" values="8;1.6;8;1.6;8" keyTimes="0;0.25;0.5;0.75;1" dur="1.923076923076923s" repeatCount="indefinite" begin="-0.3205128205128205s"></animate>
        </circle>
        <circle cx="67.1741" cy="45.3982" r="6.72203" fill="#6b2272">P
          <animate attributeName="cx" values="31.647409300507704;68.3525906994923;31.647409300507704" keyTimes="0;0.5;1" dur="1.923076923076923s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" repeatCount="indefinite" begin="0s"></animate>
          <animate attributeName="cy" values="54.9175618569479;45.08243814305211;54.9175618569479" keyTimes="0;0.5;1" dur="1.923076923076923s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" repeatCount="indefinite" begin="0s"></animate>
          <animate attributeName="r" values="8;1.6;8;1.6;8" keyTimes="0;0.25;0.5;0.75;1" dur="1.923076923076923s" repeatCount="indefinite" begin="0s"></animate>
        </circle>
</svg>
</div>


