<div *ngIf="isEditAdd==false">
<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-2" style="text-align: center;padding-top: 9px;">
        <label style="color: #0091ff;">
            Subjects</label>
    </div>
    <div class="col-md-7 searchBar" >
        <div style="display: flex;">
           <input type="text" class="form-control" placeholder="Search & Filter"
                style="border: none;height: 35px !important;">
            <!-- <i class="fa fa-sliders" style="font-size: 18px;color: #80808057;margin-top: 8px;" aria-hidden="true"></i> -->
            <i class="fas fa-sliders-h" style="font-size: 18px;color: #80808057;margin-top: 8px;cursor: pointer;"></i>
        </div>
       
    </div>
    
        <div class="col-md-3">
            <div class="addMainBtn" (click)="addSubject()"><i class="fas fa-plus"></i> &nbsp;<span>Add Subjects</span></div>
        </div>
</div>

<div class="row" style="margin-left: 3%;">
    <div class="card" *ngFor="let subject of subjectList;let i=index;" style="margin-right: 2%;height: fit-content;">

        <div class="cardHeading">
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-3 iconImg"> 
                <img src="assets/Icons/Sample/JEE Adnance.png" height="40px" width="40px">
                
                </div>
                <div class="col-6">
                <div class="row courseName"><span ngbTooltip={{subject.course.name}}>{{subject.course.name | truncateText: 12}}</span></div>
                <div class="row linkCourse">SUBJECTS</div>
                </div>
                
                <div class="col-3 mlmt">
                <span class="editBox" (click)="addEditSubject(subject)">
                    <i class="fa fa-pen" style="color: #0091ff;font-size: 13px;"></i> Edit
                </span>
                </div>

            </div>
        </div>
        <div class="cardBody scroll" style="height: 300px; overflow-y: scroll;">
            <div class="row subjectPart1" *ngIf="subject.compulsorySubjects.length > 0">
                <div class="col-md-12 subcategory">Compulsory Subjects</div>
                <div class="col-md-12"  style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname" *ngFor="let csubject of subject.compulsorySubjects;let j=index;" ngbTooltip={{csubject.name}}>{{csubject.name | truncateText: 10}}</span>
                </div>
            </div>
            
            <div class="row subjectPart2" *ngIf="subject.optionalSubjects.length > 0">
                <div class="col-md-12 subcategory">Optional Subjects</div>
                <div class="col-md-12"  style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname" *ngFor="let osubject of subject.optionalSubjects;let j=index;" ngbTooltip={{osubject.name}}>{{osubject.name | truncateText: 10}}</span>
                </div>
            </div>
    
            <div class="row subjectPart3" *ngIf="subject.electiveGroupsAndSubjects.length > 0">
                <div class="col-md-12 subcategory">Elective</div>
                <div class="col-md-12" >
                    <div class="row" *ngFor="let esubjectGroup of subject.electiveGroupsAndSubjects;let j=index;">
                        <div class="col-md-12 subcategorysubject">{{esubjectGroup.name}}</div>
                       <div class="col-md-12" *ngIf="esubjectGroup.electiveSubjects.length > 0" style="display: flex;flex-wrap: wrap;">
                        <span class="subjectsubname" *ngFor="let esubject of esubjectGroup.electiveSubjects;let j=index;" ngbTooltip={{esubject.name}}>{{esubject.name | truncateText: 10}}</span>
                       </div>
                        
                    </div>                     
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div *ngIf="isEditAdd==true">
    <app-subject-and-linking-subject [isFromSetup]="isFromSetup" [isFromacademic]="true" [isAdd]="isAdd"
    (newItemEvent)="backPage($event)" [selectedIndex]="3" [editData]="data" [subjectLinkingSubjectForm]="subjectLinkingSubjectForm"></app-subject-and-linking-subject>
</div>