.searchBar{
    border: 1px solid #80808057;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 40px;
  }

  .addMainBtn{
    color: #0091ff;
    width: 65%;
    height: 40px;
    text-align: center;
    padding: 9px 0;
    margin-left: 25px;
    border-radius: 3px;
    border: 1px solid #0091ff;
    cursor: pointer;
  }

.addMainBtn:hover{
    background-color: #0091ff;
    color: white;
}

//card

.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  min-width: 31%;
  max-width: 31%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading{
  margin-left: 0px;
    margin-right: 0px;
    padding: 2% 4%;
    background-color: #8080801f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.cardBody{
  margin-left: 0px;
    margin-right: 0px;
    padding: 6% 0%;
  
}

.courseName{
  margin-left: -2px;
  font-weight: bold;
  color: black;
}

.editBox{
  float: right;color: #0091ff;cursor: pointer;
  border: 1px solid #0091ff;
    padding: 1px 6px;
    border-radius: 3px;
    background-color: #0091ff0d;
    
}

.linkCourse{
    font-size: 9px;
    margin-left: -2px;
    border: 1px solid;
    width: fit-content;
    padding: 2px 9px;
    border-radius: 10px;
    background: #d99eec;
    color: white;
}

.iconImg{
  padding-left: 0;
    padding-right: 0;
    max-width: 14%;
}

.mlmt{
  margin-top: 8px;
    margin-left: 31px;
    padding-right:0 ;
}

.subcategory{
  color: #808080;
  font-size: 12px;
}

.subcategorysubject{
  color: black;
  font-size: 12px;
}

.subjectname{
  border: 1px solid #80808085;
    padding: 3px 7px;
    font-size: 11px;
    width: fit-content;
    border-radius: 12px;
    color: black;
    margin-right: 7px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.subjectsubname{
  border: 1px solid #80808085;
    padding: 3px 7px;
    font-size: 11px;
    width: fit-content;
    border-radius: 12px;
    color: black;
    margin-right: 7px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.subjectPart1{
  margin-left: 0;margin-right: 0;border-bottom: 1px solid #8080802e;
}

.subjectPart2{
  margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    border-bottom: 1px solid #8080802e;
}

.subjectPart3{
  margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
   
}