.label-text {
  color: #7c7b98;
  font-weight: 400;
}

.border-box {
  border: 1px solid rgb(207, 204, 204);
  border-radius: 7px;
  padding: 10px 10px 10px;
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
}

.border-social-box {
  border: 1px solid rgb(207, 204, 204);
  border-radius: 5px;
  padding: 3px 3px 3px;
  // max-height: 200px;
  // min-height: 200px;
}

.border-socil-box {
  border: 1px solid rgb(190, 187, 187);
  border-radius: 5px;
  padding: 10px 15px 10px;
  height: 40px;
  // min-height: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
// ::-webkit-scrollbar-track {
// background: #f1f1f1;
// box-shadow: inset 0 0 5px grey;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 240, 240);
  // outline: 1px solid #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 206, 206);
}

.modal {
  position: absolute;
  top: 38%;
  left: 6%;
  width: 100%;
  height: 100%;
  z-index: 1050;
  display: none;
}

// .student-details{
// margin-top:30px
// }
.student-details .studentList {
  padding-left: 0px;
  padding-right: 0px;
  height: 210px;
  overflow-x: scroll;
}
.student-details .inbox-item {
  padding: 10px 15px 0px 20px;
  border-top: 0.3px solid #f7f7f7;
}
.student-details .inbox-item.active {
  background-color: #f5f6fa;
}
.student-details .inbox-widget input {
  border: none !important;
  height: 70px;
}
.student-details .inbox-item .inbox-item-author {
  color: #4d4f5c !important;
  font-weight: 500;
}
.student-details .inbox-item .btn {
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 10px;
  border-radius: 6px;
}
.student-details .inbox-item .btn-className {
  color: #0db2d0;
  border-color: #0db2d0;
}
.student-details .inbox-item .btn-orgName {
  color: #fca54d;
  border-color: #fca54d;
}
.student-details .inbox-item-date i {
  color: var(--main-color);
}
.student-details .inbox-item-date {
  top: auto !important;
  right: 15px;
  bottom: 0px;
}
.hide {
  display: none !important;
}

.guardianProfImg {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: #fff;
  margin: 40px auto 10px;
}
.guardianProfImg .fas {
  padding: 15px;
}
.guardian {
  margin: 0px 10px 10px 0px;
  // background-color: #ffffff;
  max-height: 185px;
  -webkit-box-flex: 0;
  flex: 0 0 30%;
  max-width: 30%;
  padding: 5px 0px 0px 0px;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
}
.guardian-first {
  margin-left: 15px !important;
}
.viewMore {
  text-align: center;
  background-color: #e2f0fd;
  color: var(--newApp-color) !important;
  padding: 5px;
  margin-bottom: 0px !important;
  cursor: pointer;
}
.guardianPanel {
  box-shadow: none;
  margin-bottom: 0px;
  height: 330px;
}
.studentPanel {
  box-shadow: none;
  margin-bottom: 0px;
  height: 300px;
}
.guardianPanel .panel-body,
.studentPanel .panel-body {
  padding: 15px 0px 0px;
}
.guardian p.name {
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.guardianDetails {
  background-color: #e2f0fd;
}
.guardianDetails p {
  margin-bottom: 2px;
  color: #757575;
}
.relationData {
  text-align: center;
}
.relationName {
  background-color: #daeeff;
  text-align: center;
  width: fit-content;
  border: 1px solid var(--newApp-color);
  margin: 0px auto 25px !important;
  font-size: 13px;
  padding: 0px 8px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: var(--newApp-color) !important;
}
.studentPanel .guardian {
  margin: 0px 10px 10px 0px;
  max-height: 185px;
  -webkit-box-flex: 0;
  flex: 0 0 30%;
  max-width: 30%;
  padding: 20px 0px 0px 0px;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
}
.card {
  // box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 10%);
  box-shadow: none;
}
.add-icon {
  height: 37px;
  width: 37px;
}
::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 0px !important;
}

.btn-save {
  background-color: var(--newApp-color);
  margin-left: 30px;
  padding: 6px 30px;
  font-size: 17px;
  width: 175px;
  // height: 40px;
}
.btn-cancel {
  background-color: white;
  border: 2px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
  color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
  color: var(--newApp-color) !important;
  background-color: #fff;
}
.action .fas {
  position: relative;
  right: 10px;
  top: 7px;
  float: right;
  cursor: pointer;
  font-size: 12px;
}
.action .fa-pencil-alt {
  color: var(--newApp-color);
  border: 0.7px solid;
  border-radius: 3px;
  padding: 3px;
}
.action .fa-trash {
  right: 21px;
  top: 11px;
  color: tomato;
}
.btn-img-cancel {
  background-color: white;
  border: 1px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 10px;
  padding: 5px 20px;
  font-size: 13px;
  cursor: pointer;
}
.form-check-label {
  margin-right: 25px;
  font-size: medium;
}
.fa-search {
  position: absolute;
  right: 20px;
  bottom: 8px;
  padding: 5px;
}
.emptyGuardian {
  display: flex;
  align-items: center;
  flex: 0 0 30%;
  max-width: 30%;
  text-align: center;
  align-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 185px;
  padding: 0px;
  margin: 0px 10px 10px 0px;
  // cursor: pointer;
  background-color: #cecece;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
}
.assignbtn {
  color: #fff;
  background-color: var(--newApp-color);
  padding: 10px 25px;
  width: 110px;
  border-radius: 0px;
}
.cancelbtn {
  border: none;
  color: #444444;
  padding: 10px 25px;
  width: 110px;
}
.table-user img {
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.table-user .media-body {
  display: table-footer-group;
}
.modal-body label {
  font-weight: 500;
}
.media {
  display: block !important;
  text-align: left;
}
::ng-deep .assignstd .modal-dialog {
  max-width: 350px;
  margin-right: 14%;
}
.table-user img {
  margin-top: -5px !important;
}
.modal-title {
  margin-bottom: 25px;
}
.table-user {
  margin-bottom: 15px;
}
.form-control:invalid,
.form-control.is-invalid,
::ng-deep ng-select.is-invalid {
  border-color: #f1556c !important;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
  border-color: var(--newApp-color);
}
