<div class="container-fluid">
  <div class="card" *ngIf="!isEditForm">
    <div class="row mb-2 mt-2">
      <div ngbDropdown class="d-inline-block col-md-9" [autoClose]="'inside'">
        <input type="text" name="searchTerm" class="form-control" style="height: 40px;"
          (input)="findRecords($event.target.value)" placeholder="Search" aria-controls="tickets-table"
          id="dropdownBasic1" ngbDropdownToggle>
        <i class="fas fa-search"></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 95%; margin-left: 10px;">
          <div class="student-details">
            <div class="studentList">
              <div class="inbox-widget" appSlimScroll>
                <div class="inbox-item" *ngFor="let student of guardianList" ngbDropdownItem
                  (click)="addGuardian(student)" style="cursor: pointer;">
                  <div class="inbox-item-img">
                    <img src="assets/images/profileImg.png" class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">{{ student.fullName }}</p>
                  <p>
                    <span class="btn btn-orgName btn-rounded btn-sm"> {{student.orgName}}</span>
                  </p>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-save w-100 ml-0">Assign</button>
      </div>

    </div>
    <div class="row mt-4">
      <div class="col-md-4 guardian" *ngFor="let student of studentDataList;let i=index;"
        [ngClass]="{'guardian-first':i==0}">
        <div class="d-inline action">
          <i class="fas fa-pencil-alt" (click)="editStudent(student,i)"></i>
          <i class="fas fa-trash" (click)="deleteStudent(student,i)"></i>
        </div>
        <div class="guardianProfImg" *ngIf="!student.profileImageId">
          <i class="fas fa-user-alt fa-2x"></i>
        </div>
        <div class="guardianProfImg" *ngIf="student.profileImageId">
          <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +student.profileImageId)"
            alt="">
        </div>
        <p class="text-center name">{{student.fullName}}</p>
        <p class="relationData">Relation: <span class="relationName">{{relationArray[student.relation-1]}}</span></p>



      </div>
      <div class="col-md-4 emptyGuardian guardian-first" *ngIf="remainingStudents > 0 && remainingStudents <=3">
        <i class="fas fa-plus fa-2x"></i>
      </div>
      <div class="col-md-4 emptyGuardian" *ngIf="remainingStudents > 1 && remainingStudents <= 3">

        <i class="fas fa-plus fa-2x"></i>
      </div>
      <div class="col-md-4 emptyGuardian" *ngIf="remainingStudents > 2 && remainingStudents <= 3">
        <i class="fas fa-plus fa-2x"></i>
      </div>

    </div>
    <div class="row mt-5 float-right justify-content-end mb-2 mr-3">
      <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
      <button class="btn btn-save ml-2" type="submit" (click)="saveStudents()">Next</button>
    </div>
  </div>
</div>
<ng-template #assignStudent let-modal="close">
  <div class="modal-body px-4 py-4">
    <h4 class="modal-title">Assign to Guardian?</h4>
    <div class="table-user">
      <div class="media">
        <div class="">
          <img *ngIf="assignStudentData.profileImageId==null || assignStudentData.profileImageId==''"
            src="assets/images/profileImg.png" class="rounded-circle" alt="">
          <img *ngIf="assignStudentData.profileImageId!=null && assignStudentData.profileImageId!=''"
            [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +assignStudentData.profileImageId)"
            class="rounded-circle" alt="">
        </div>

        <div class="media-body">
          <a class="text-body font-weight-semibold">{{ assignStudentData.fullName }}</a>
        </div>
      </div>
    </div>


    <div class="col-lg-12 p-0 mb-3">
      <div class="form-group clearfix">
        <label for="relation">Relationship with Guardian</label>
        <i style="color: tomato;">* </i>
        <ng-select [items]="relations" bindLabel="name" placeholder="Choose Relation" bindValue="id" [clearable]="false"
          [searchable]="false" [closeOnSelect]="true" [(ngModel)]="assignStudentData.relation"
          [ngClass]="{ 'is-invalid': assignSubmitted && !assignStudentData.relation }">
        </ng-select>
        <div *ngIf="assignSubmitted" class="invalid-feedback">
          <div *ngIf="!assignStudentData.relation">Please select relation</div>
        </div>
      </div>
    </div>
    <div class="float-right">
      <button class="btn cancelbtn pull-right" (click)="modal('Cross click')">Cancel</button>
      <button class="btn assignbtn pull-right" (click)="assignStd();">Assign</button>
    </div>
  </div>
</ng-template>