
         <app-common-exam-header></app-common-exam-header>
          <div>
            <div class="card customCardCss" *ngIf="isExamListFound">
                <div class="row" style="padding: 2.5% 2%;">
                  <div class="col-md-9" style="color: #0091ff;">Exam({{totalExams}})</div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-8" style="padding-left: 10%;"><span class="border-box">Add New &nbsp;&nbsp;<i class="fa fa-plus"></i></span> </div>
                      <div class="col-md-3" style="padding-left: 0;"><i class="fe-settings noti-icon"></i></div>
                    </div>
                   </div>
                </div>
                <div class="table-responsive" style="height: 1000px;">
                  <table class="table table-centered mb-0" id="test">
                    <thead>
                      <tr>
                        <th class="th-style" style="padding-left: 30px;">Action</th>
                        <th class="th-style">Name</th>
                        <th class="th-style">Date</th>
                       
                        <th class="th-style">Subject</th>
                        <th class="th-style">Course</th>
                        <th class="th-style">Batch</th>
                       
                        <th class="th-style">Invigilator</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="trRow" style="border-bottom: 1px solid #00000021;" *ngFor="let exam of examList; let i=index">
                        <td style="text-align: center;">
                          <div ngbDropdown class="dropdown d-none d-lg-block">
                              <i class="fas fa-ellipsis-v" style="cursor: pointer;" id="dropdownBasic1"
                              ngbDropdownToggle></i>  
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngIf="exam.state == 1"
                                (click)="routeToExamSetter(exam.uniqueId)">
                                <span>Generate Tracks</span>
                              </button>
                              <button *ngIf="exam.state == 1" ngbDropdownItem>Upload Questions</button>
                              <button *ngIf="exam.state == 2 && exam.state != 3" (click)="routeToViewTracks(exam.uniqueId)" ngbDropdownItem>View Tracks</button>
                              <button (click)="openCancelExam(cancelExam,exam.uniqueId)" ngbDropdownItem>Cancel Exam</button>

                          <button *ngIf="(exam.state == 4 || exam.state == 5) && !exam.isAssessment"
                              (click)="routeToPublishExam(exam.uniqueId, false, exam.startDate,true)" ngbDropdownItem>
                              <span>Re-Publish Test</span>
                          </button>
                          <button *ngIf="(exam.state == 4 || exam.state == 5) && exam.isAssessment"
                              (click)="routeToPublishExam(exam.uniqueId, true, exam.startDate,true)" ngbDropdownItem>
                              <span>Re-Publish Assessment</span>
                          </button>

                          <button *ngIf="exam.state == 3"
                              (click)="routeToPublishExam(exam.uniqueId, false, exam.startDate,false)" ngbDropdownItem>
                              <span>Publish Test</span>
                          </button>
                          <button *ngIf="exam.state == 3"
                              (click)="routeToPublishExam(exam.uniqueId, true, exam.startDate,false)" ngbDropdownItem>
                              <span>Publish Assessment</span>
                          </button>
                          <button *ngIf="exam.state > 2 && !exam.isPaperSetsGenerated"
                              (click)="routeToPaperSets(exam)" ngbDropdownItem>
                              <span>Generate Paper Sets</span>
                          </button>
                          <button *ngIf="exam.state > 2 && exam.isPaperSetsGenerated"
                              (click)="routeToPaperSets(exam)" ngbDropdownItem>
                              <span>View Paper Sets</span>
                          </button>
                          <button *ngIf="exam.state == 8"
                              (click)="routeToViewResult(exam.uniqueId, exam.isAssessment)" ngbDropdownItem>
                              <span>View Result</span>
                          </button>

                         
                            </div>
                          </div>
                        </td>
                        <td style="font-size: 13px;">{{exam.name}}
                          &nbsp; 
                          
                          <div style="margin-left: 1px;" class="row" [ngSwitch]="exam.state">
                            <p *ngSwitchCase=1 class="col-form-label badge bg-soft-warning text-dark p-1">
                                <small>Created</small>
                            </p>
                            <p *ngSwitchCase="2" class="col-form-label badge bg-soft-generated text-dark p-1">
                                <small>Track Generated</small>
                            </p>
                            <p *ngSwitchCase="3" class="col-form-label badge bg-soft-lock text-dark p-1">
                                <small>Locked</small>
                            </p>
                            <p *ngSwitchCase=4 class="col-form-label badge bg-soft-publish text-dark p-1">
                                <small>Published</small>
                            </p>
                            <p *ngSwitchCase=5 class="col-form-label badge bg-soft-republish text-dark p-1">
                                <small>Re-Published</small>
                            </p>
                            <p *ngSwitchCase="6" class="col-form-label badge bg-soft-ongoing text-dark p-1">
                                <small>Ongoing</small>
                            </p>
                            <p *ngSwitchCase="7" class="col-form-label badge bg-soft-cancel text-dark p-1">
                                <small>Canceled</small>
                            </p>
                            <p *ngSwitchCase="8" class="col-form-label badge bg-soft-end text-dark p-1">
                                <small>End</small>
                            </p>
                        </div>
                        </td>
                        <td style="font-size: 13px;">{{exam.startDate | date:'shortDate'}}</td>
                       
                        <td style="font-size: 13px;">
                          <span *ngFor="let subject of exam.subjects; let j=index">{{ subject.name }}
                            <span *ngIf="j !== exam.subjects.length-1"> , &nbsp;</span></span>
                        </td>
                        <td style="font-size: 13px;">{{exam.batchInfo.courseName}}</td>
                        <td style="font-size: 13px;">
                          <span *ngFor="let batch of exam.batchInfo.batchList; let k=index">{{ batch.name }}
                            <span *ngIf="k !== exam.batchInfo.batchList.length-1"> , &nbsp;</span></span>
                        </td>
                        <td style="font-size: 13px;" *ngIf="exam.batchInfo.batchList == null || exam.batchInfo.batchList == ''">Not Selected</td>
                       
                        <td style="font-size: 13px;" *ngIf="exam.invigilatorName == null || exam.invigilatorName == ''">
                          <a href="javascript: void(0);" class="text-blue"
                            (click)="assignInvigilator(content,exam.uniqueId)">Assign</a>
                        </td>
                        <td style="font-size: 13px;" *ngIf="exam.invigilatorName != null && exam.invigilatorName != ''">
                          {{exam.invigilatorName}}
                        </td>
                      </tr>
  
                    </tbody>
  
                  </table>

                  <div class="row justify-content-md-between align-items-md-center mt-2">
                    <div class="col-sm-12 col-md-5">
                      <div class="text-md-right" style="margin-left: 31px;">
                        <ngb-pagination [collectionSize]="examData.totalElements" [pageSize]="examData.size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                            (pageChange)="pageChanged($event)">
                        </ngb-pagination>

                        
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                      <div class="col-sm-12 col-md-2" style="margin-right: 32px;">
                        <div class="text-md-right float-md-right" style="margin-top: -12px;">
                          <ng-select [searchable]="false" [items]="rowList" bindLabel="name" bindValue="id" [(ngModel)]="defaultRows">
                          
                         </ng-select>

                         <!-- <select class="form-control">
                           <option value="10">10/Rows</option>
                           <option value="20">20/Rows</option>
                           <option value="30">30/Rows</option>
                         </select> -->
                        </div>
                    </div>
                   
                </div>
                </div>
              </div>
           
          </div>
       
<ng-template #content role="document" let-modal="close">
  <div class="modal-header" style="background-color: #0091ff;">
      <h4 class="modal-title text-white">Assign Invigilator</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="close()" (click)="modal('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form [formGroup]="invigilatorForm">
      <!-- <pre>{{invigilatorForm.value | json }} </pre> -->
      <div class="modal-body">
          <div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="form-group row mb-12">
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                              <!-- <select id="" class="form-control" formControlName="userId">
                                  <option *ngFor="let user of userListInvigilator" value="{{user.id}}">
                                      {{user.name}}
                                  </option>
                              </select> -->
                              <ng-select [searchable]="false" formControlName="userId" bindLabel="name" placeholder="Select User">
                                <ng-option *ngFor="let user of userListInvigilator" value="{{user.id}}">{{user.name}}
                                </ng-option>
                              </ng-select>
                          </div>
                          <div class="col-md-2"></div>
                      </div>
                      <div class="form-group row mb-12" style="margin-top: 5px;">
                        <div class="col-md-2"></div>
                          <div class="col-md-8">
                            <div class="row">
                              <div class="col-3"><div class="greenTag"></div></div>
                              <div class="col-2"><div class="yellowTag"></div></div>
                              <div class="col-4"><div class="redTag"></div></div>
                            </div>
                            <div class="row" style="font-size: 10px;">
                              <div class="col-3">Available</div>
                              <div class="col-2">Busy</div>
                              <div class="col-4">Not Available</div>
                            </div>
                          </div>
                          <div class="col-md-2"></div>
                      </div>
                      <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" (click)="close()" (click)="modal('Cross click')">Close</button></div>
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" style="float: right;" (click)="saveInvigilator()"
                              [disabled]="!invigilatorForm.valid" (click)="modal('Cross click')">Save</button></div>
                          </div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
     
  </form>
</ng-template>

<ng-template #cancelExam let-modal="close">
  <div class="modal-header">
      <h4 class="modal-title">Are you sure want to cancel exam ?</h4>
      <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
      <div>
          <button type="button" class="btn btn-primary waves-effect waves-light" (click)="cancelExam() "
              (click)="modal('Cross click')">Confirm</button>
          <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"
              (click)="modal('Cross click')" style="margin-left: 10px;">Close</button>

      </div>

  </div>
</ng-template>


