
<app-common-exam-header></app-common-exam-header>
<aw-wizard #wizardForm>
  <aw-wizard-step>
    <form (ngSubmit)="formSubmit()" [formGroup]="examPatternForm">
      <div class="row" style="padding: 0% 2% 0% 2%;">
        <div style="width: 100%;">
          <div class="card customCardCss">
            <div class="row" style="width: 100%; padding: 2% 14% 2% 14%;">

              <div class="form-group col-xs-12 col-md-6  mb-12" style="padding-top: 8px;padding-right: 1px;">
                <label>Select Exam Pattern</label>
                <!-- <select class="form-control custom-select" formControlName="patternType"
                  (change)="getExamPattern($event, 0)"
                  [ngClass]="{'is-invalid':examPatternForm.controls['patternType'].errors && isSubmit}">
                  <option value="">SELECT</option>
                  <option value="3"> JEE ADVANCED PATTERN </option>
                  <option value="4"> CUSTOM PATTERN </option>
                </select> -->
                <ng-select 
                [multiple]="false"
                [closeOnSelect]="true"
                placeholder="Select" 
                formControlName="patternType"
                (change)="getExamPattern($event, 0)"
                [searchable]="false">
                <!-- <ng-option selected>Select</ng-option> -->
                <ng-option value="3">JEE Advanced Pattern</ng-option>
                <ng-option value="4">Custom Pattern</ng-option>
                </ng-select>

                
                <div *ngIf="examPatternForm.controls['patternType'].errors && isSubmit" class="invalid-feedback">
                  <div *ngIf="examPatternForm.controls['patternType'].errors?.required">Exam Pattern is required
                  </div>
                </div>
              </div>

              <div class="form-group col-xs-12 col-md-6 mb-12">
                <label class="col-form-label" style="margin-left: 2%;">Enter Exam Pattern Name</label>
                <input type="text" placeholder="" formControlName="name" class="form-control autonumber"
                  [ngClass]="{'is-invalid':examPatternForm.controls['name'].errors && isSubmit}">
                <div *ngIf="examPatternForm.controls['name'].errors && isSubmit " class="invalid-feedback">
                  <div *ngIf="examPatternForm.controls['name'].errors?.required">Name is required
                  </div>
                </div>
              </div>

            </div>
          </div></div>
        </div>

        <div class="row" style="padding: 0% 2% 0% 2%;">
          <div class="col-lg-12 " formArrayName="examPatterns" *ngIf="isExamPatternSelected">
            <div class="form-group row">
            <div class="card customCardCss">
            <div *ngFor="let examPattern of examPatternForm.controls.examPatterns['controls']; let i=index;"
              [formGroupName]="i">
  
              
              <div *ngIf="examPatternForm.controls['patternType'].value==3" >
                <div  style="padding: 1% 6% 1% 6%;width: 100%;">
                    <div class="row mb-3 mt-2">
                      <div class="col-3">
                        <label>All Section in exam are same</label>
                      </div>
                      <div class="col-2" style="padding-left: 0;">
                        <ui-switch defaultBoColor="#dfdfdf" color="#0091ff" checked (change)="onChange($event, i)"
                          class="ml-1" size="small">
                        </ui-switch>
                      </div>
                    </div>
                
                    
      
                      <div *ngIf="examPatternForm.controls['patternType'].value==3 && examPattern.controls['isSectionSame'].value==true">
                        <div class="form-group row" style="margin-bottom: 0;">
                          <div class="col-md-4">
                            <label>Enter Number of Sections in each Subjects</label>
                            <input type="text" maxlength="2" size="2" placeholder="" formControlName="totalSectionsInSubject"
                              (keypress)="numberOnly($event)" class="form-control autonumber" (input)="getSections($event,i)">
                          </div>
                          
                          <div class="col-md-4">
                            <label>Enter Number of Questions in each Subjects</label>
                            <input type="text" placeholder="" formControlName="totalQuestionsInSubject"
                              (keypress)="numberOnly($event, i)" class="form-control autonumber">
                          </div>
                          <div class="col-md-4">
                            <label>Enter Exam Duration</label>
                            <input type="text" maxlength="3" size="3" placeholder="in Minutes" formControlName="duration"
                              (keypress)="numberOnly($event)" class="form-control autonumber"
                              [ngClass]="{'is-invalid':examPattern.controls['duration'].errors && isSubmit}">
                            <div *ngIf="examPattern.controls['duration'].errors && isSubmit" class="invalid-feedback">
                              <div *ngIf="examPattern.controls['duration'].errors?.required">This is required
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        
                      </div>
          
                      <div style="margin-left: 12px;" *ngIf="examPatternForm.controls['patternType'].value==3 && examPattern.controls['isSectionSame'].value==false">
                        <div class="row">
                          <div class="row" style="width: 100%;">
                            <div class="col-4">
                              <label style="color: black;">Physics</label>
                            </div>
                          </div>
                          <div class="row" style="width: 100%;">
                            <div class="col-4">
                              <label>Total Section</label>
                              <input type="text" maxlength="2" size="2" placeholder="" formControlName="totalPhySection"
                              (keypress)="numberOnly($event)" class="form-control autonumber"
                              (input)="getPhysicSections($event,i)">
                            </div>
                            <div class="col-4">
                              <label>Total Question</label>
                              <input type="text" placeholder="" formControlName="totalPhyQuestion" (keypress)="numberOnly($event)"
                              class="form-control autonumber">
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="row" style="width: 100%;">
                            <div class="col-4">
                              <label style="color: black;">Chemistry</label>
                            </div>
                          </div>
                          <div class="row" style="width: 100%;">
                            <div class="col-4">
                              <label>Total Section</label>
                              <input type="text" maxlength="2" size="2" placeholder="" formControlName="totalChemSection"
                              (keypress)="numberOnly($event)" class="form-control autonumber"
                              (input)="getChemistrySections($event,i)">
                            </div>
                            <div class="col-4">
                              <label>Total Question</label>
                              <input type="text" placeholder="" formControlName="totalChemQuestion" (keypress)="numberOnly($event)"
                              class="form-control autonumber">
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="row" style="width: 100%;">
                            <div class="col-4">
                              <label style="color: black;">Mathematics</label>
                            </div>
                          </div>
                          <div class="row" style="width: 100%;">
                            <div class="col-4">
                              <label>Total Section</label>
                              <input type="text" maxlength="2" size="2" placeholder="" formControlName="totalMathSection"
                              (keypress)="numberOnly($event)" class="form-control autonumber" (input)="getMathSections($event,i)">
                            </div>
                            <div class="col-4">
                              <label>Total Question</label>
                              <input type="text" placeholder="" formControlName="totalMathQuestion" (keypress)="numberOnly($event)"
                              class="form-control autonumber">
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                      
                          <div class="row" style="width: 100%;">
                            <div class="col-4">
                              <label>Enter Exam Duration</label>
                              <input type="text" maxlength="3" size="3" placeholder="in Minutes" formControlName="duration"
                              (keypress)="numberOnly($event)" class="form-control autonumber"
                              [ngClass]="{'is-invalid':examPattern.controls['duration'].errors && isSubmit}">
                            <div *ngIf="examPattern.controls['duration'].errors && isSubmit" class="invalid-feedback">
                              <div *ngIf="examPattern.controls['duration'].errors?.required">This is required
                              </div>
                            </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" style="margin-top: 10px;" *ngIf="examPatternForm.controls['patternType'].value==3 && i == 0">
                        <div class="col-md-4">
                          <div class=" checkbox checkbox-primary mb-2" style="margin-left: 5px;" *ngIf="examPatternForm.controls['isPaperSame'].value==false">
                            <input id="checkbox1" type="checkbox" data-md-icheck (change)="isPaperTwo($event.target.checked, i)">
                            <label for="checkbox1"> Do you want to add Paper 2 ? </label>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="checkbox checkbox-primary mb-2" *ngIf="examPatternForm.controls['isPaperTwo'].value==false">
                            <input id="checkbox2" type="checkbox" data-md-icheck (change)="isPaperSame($event.target.checked)">
                          <label for="checkbox2"> Do you want continue same Paper as Paper 2 ?  </label>
                          </div>
                        </div>
                        
                      </div>
    
                      
                </div>
              </div>
             
  
              <div *ngIf="examPatternForm.controls['patternType'].value==4">
                <div  style="padding: 1% 14% 1% 14%;width: 100%;">
                    <div class="row">
                      <div class="col-xs-12 col-md-6" style="padding-right: 12px;">
                     
                        <div *ngIf="examPatternForm.controls['patternType'].value==4">
                          <label class="col-form-label">Select Subjects</label>
                            <ng-select id="fnam" [items]="subjects.subjectList" bindLabel="name" [multiple]="true" bindValue="name"
                              [closeOnSelect]="false" placeholder="Select"
                              (change)="getCustomizedSubject($event, i)">
  
                              <!-- <ng-template ng-label-tmp let-item="items" let-clear="clear">
                                <span class="ng-value-label">{{item.name}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </ng-template> -->
  
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                              <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                  <span class="ng-value-label"> {{item.name}}</span>
                                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                              </div>
                              <div class="ng-value" *ngIf="items.length > 2">
                                  <span class="ng-value-label">+{{items.length - 2}}</span>
                              </div>
                          </ng-template>
  
                            </ng-select>
                        </div>
                      </div>
  
                      <div class="col-xs-12 col-md-6" style="margin-top: 7px;padding-left: 0;padding-right: 37px;">
                        <div *ngIf="examPatternForm.controls['patternType'].value==4">
                          <label >Select Exam Type</label>
                          <div>
                            <!-- <select class="form-control" formControlName="examType" [ngClass]="{'is-invalid':examPattern.controls['examType'].errors && isSubmit}">
                              <option value="">SELECT</option>
                              <option *ngFor="let type of examTypeList;let j=index" value={{type.id}}>{{type.name}}</option>
                            </select> -->
  
                            <ng-select bindLabel="name" placeholder="Select" formControlName="examType" [searchable]="false">
                            <ng-option *ngFor="let type of examTypeList;let j=index" [value]="type.id">
                                {{type.name}}
                            </ng-option>
                        </ng-select>
    
                            <div *ngIf="examPattern.controls['examType'].errors && isSubmit" class="text-danger">
                              <div *ngIf="examPattern.controls['examType'].errors?.required">Please select exam type
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><br>
                    <div class="row">
                      <div class="col-xs-12 col-md-6" style="padding-right: 12px;">
                        <div *ngIf="examPatternForm.controls['patternType'].value==4">
                          <label>Number of Sections per
                            Subject</label>
                          <div>
                            <input type="text" maxlength="2" size="2" placeholder="Type"
                              formControlName="totalSectionsInSubject" (keypress)="numberOnly($event)"
                              class="form-control autonumber" (input)="getSections($event,i)" [ngClass]="{'is-invalid':examPattern.controls['totalSectionsInSubject'].errors && isSubmit}">
                              <div *ngIf="examPattern.controls['totalSectionsInSubject'].errors && isSubmit" class="invalid-feedback">
                                <div *ngIf="examPattern.controls['totalSectionsInSubject'].errors?.required">This is required
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-6" style="padding-left: 0;padding-right: 37px;">
                        <div *ngIf="examPatternForm.controls['patternType'].value==4">
                          <label>Total Number of Questions
                            per Subject
                          </label>
                          <div>
                            <input type="text" placeholder="Type" formControlName="totalQuestionsInSubject"
                              (keypress)="numberOnly($event)" class="form-control autonumber" [ngClass]="{'is-invalid':examPattern.controls['totalQuestionsInSubject'].errors && isSubmit}">
                              <div *ngIf="examPattern.controls['totalQuestionsInSubject'].errors && isSubmit" class="invalid-feedback">
                                <div *ngIf="examPattern.controls['totalQuestionsInSubject'].errors?.required">This is required
                                </div>
                              </div>
                            </div>
                        </div>
    
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-12 col-md-6" style="padding-right: 12px;">
                        <div *ngIf="examPatternForm.controls['patternType'].value==4">
                          <label>Enter Exam Duration</label>
                          <div>
                            <input type="text" maxlength="3" size="3" placeholder="in Minutes" formControlName="duration"
                              (keypress)="numberOnly($event)" class="form-control autonumber"
                              [ngClass]="{'is-invalid':examPattern.controls['duration'].errors && isSubmit}">
                            <div *ngIf="examPattern.controls['duration'].errors && isSubmit" class="invalid-feedback">
                              <div *ngIf="examPattern.controls['duration'].errors?.required">This is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                      <div class="col-xs-12 col-md-6" style="padding-right: 3%;padding-bottom: 8%;">
                       
                      </div>
                     
                    </div>
                  </div>
               </div>
            
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-6" style="padding-right: 12px;">
               
              </div>
             
              <div class="col-xs-12 col-md-6" style="padding-right: 3%;padding-bottom: 8%;">
                <ul class="list-inline wizard mb-0">
                  <li class="next list-inline-item float-right" style="width: 100%;">
                    <button class="nextBtn " type="submit" (click)="wizardFirstNextStep()">Next <i
                        class="fas fa-arrow-right" style="padding-left: 9%;"></i> </button>
                  </li>
                </ul>
              </div>
             
            </div>

            <!-- <div class="row mb-3 mt-2">
              <div class="col-4"></div>
              <div class="col-4"></div>
              <div class="col-4">
                <ul class="list-inline wizard mb-0">
                  <li class="next list-inline-item float-right" style="width: 100%;">
                    <button class="nextBtn " type="submit" (click)="wizardFirstNextStep()">Next <i
                        class="fas fa-arrow-right" style="padding-left: 9%;"></i> </button>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
            </div>
          </div>
        </div>
        
    </form>
  </aw-wizard-step>

  <aw-wizard-step>
    
    <form (ngSubmit)="formSubmit()" [formGroup]="examPatternForm">
      <!-- <pre>{{examPatternForm.value | json }} </pre> -->
      <div class="card customCardCss">
        <h4 style="border-bottom: 1px solid #ced4da;padding: 1%;"> Add Section Details</h4>
        <div class="row">
          <div class="col-lg-12" formArrayName="examPatterns">
            <div *ngFor="let examPattern of examPatternForm.controls.examPatterns['controls']; let i=index;"
              [formGroupName]="i">
              <div class="row">
                <div class="col-lg-12">
                  
                  <div
                    *ngIf="examPattern.controls.subjects['controls'] != null && examPattern.controls.subjects['controls'].length > 0"
                    class="col-lg-12" formArrayName="subjects">
                    <div *ngFor="let subject of examPattern.controls.subjects['controls']; let j=index;"
                      [formGroupName]="j">
                     
                     
                      <div 
                      *ngIf="examPatternForm.controls['patternType'].value==3 && examPattern.controls['isSectionSame'].value==false" >
                      <div *ngIf="j == 0" style="background-color: #0076d1;color: white;padding-top: 1%;padding-bottom: 1%;">
                      <label class="col-form-label" style="padding-left: 1%;color: white;" *ngIf="examPatternForm.controls['isPaperTwo'].value==true">
                        <span *ngIf="i == 0">Paper 1 </span>
                        <span *ngIf="i == 1">Paper 2 </span>
                      </label>
                      <!-- <span (click)="isCollaps(j,'demo'+j)"><i class="fa fa-minus"
                          style="float: right; font-size: x-large;padding-right: 2%;margin-top: 7px;cursor: pointer;"
                          id="demo{{j}}"></i></span> -->
                    </div>
                    <br>
                  </div>
                      <div style="background-color: #0076d1;color: white;padding-top: 1%;padding-bottom: 1%;"
                        *ngIf="examPatternForm.controls['patternType'].value==3 && examPattern.controls['isSectionSame'].value==false">
                        
                        <label class="col-form-label" style="padding-left: 1%;color: white;"><span>Subject {{j+1}} :
                            {{subject.controls['name'].value}}</span></label>
                        <span (click)="isCollaps(i+'collaps'+j,i+'demo'+j)"><i class="fa fa-minus"
                            style="float: right; font-size: x-large;padding-right: 2%;margin-top: 7px;cursor: pointer;"
                            id="{{i}}demo{{j}}"></i></span>
                      </div>                          
                      <div style="background-color: #0076d1;color: white;padding-top: 1%;padding-bottom: 1%;"
                        *ngIf="examPatternForm.controls['patternType'].value==3 && examPattern.controls['isSectionSame'].value==true">
                        <label class="col-form-label" style="padding-left: 1%;color: white;" *ngIf="examPatternForm.controls['isPaperSame'].value==true"><span>Details for both section </span></label>
                        <label class="col-form-label" style="padding-left: 1%;color: white;" *ngIf="examPatternForm.controls['isPaperTwo'].value==true">
                          <span *ngIf="i == 0">Paper 1 </span>
                          <span *ngIf="i == 1">Paper 2 </span>
                        </label>
                        <!-- <span (click)="isCollaps(j,'demo'+j)"><i class="fa fa-minus"
                            style="float: right; font-size: x-large;padding-right: 2%;margin-top: 7px;cursor: pointer;"
                            id="demo{{j}}"></i></span> -->
                      </div>
                      <div style="background-color: #0076d1;color: white;"
                        *ngIf="examPatternForm.controls['patternType'].value==4" class="col-form-label">
                        <label class="col-form-label" style="padding-left: 1%;color: white;"><span>Subject {{j+1}} :
                            {{subject.controls['name'].value}}</span></label>
                        <span (click)="isCollaps(i+'collaps'+j,i+'demo'+j)"><i class="fa fa-minus"
                            style="float: right; font-size: x-large;padding-right: 2%;margin-top: 7px;cursor: pointer;"
                            id="{{i}}demo{{j}}"></i></span>
  
                      </div>
                      <div class="col-lg-12 isUnhide" id="{{i}}collaps{{j}}">
                        <div class="form-group row mb-12" formArrayName="sections">
                          <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                              <thead class="thead-light">
                                <tr>
                                  <th style="width: 15%;">Sections</th>
                                  <th style="width: 19%;">Question Type</th>
                                  <th>Questions</th>
                                  <th style="width: 25%;"
                                    *ngIf="examPattern.controls['examType'] != null && examPattern.controls['examType'].value != 1"
                                    colspan="3">
                                    Marking Scheme </th>
                                  <th style="width: 25%;"
                                    *ngIf="examPattern.controls['examType'] != null && examPattern.controls['examType'].value == 1" colspan="3">
                                    Marking Scheme
                                  </th>
                                  <th style="width: 14%;">Exam Instruction</th>
                                  <th style="width: 9%;">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let section of subject.controls.sections['controls']; let k=index"
                                  [formGroupName]="k">
                                  <!-- 1 td -->
                                  <td>
                                    <input type="text" formControlName="name" class="form-control" placeholder=""
                                      (input)="checkExists($event.target.value,i,j,k)">
                                  </td>
                                  <!-- 2 td -->
                                  <td
                                    *ngIf="examPatternForm.controls['patternType'].value==3 || (examPatternForm.controls['patternType'].value==4 && examPattern.controls['examType'].value==2)">
                                    <select class="form-control custom-select" formControlName="questionType" style="height: 36px;border-radius: 0px;">
                                      <option *ngFor="let questionType of customObjectiveExamQuestionType"
                                        value="{{questionType.id}}"> {{questionType.name}}
                                      </option>
                                    </select>

                                  </td>
                                  <td 
                                  *ngIf="examPatternForm.controls['patternType'].value==4 && examPattern.controls['examType'].value==1">
                                    <select class="form-control custom-select" formControlName="questionType">
                                      <option *ngFor="let questionType of jeeAdvanceSubjectiveQuestionType"
                                        value="{{questionType.id}}">{{questionType.name}}
                                      </option>
                                    </select>

                                  
                                  </td>
                                  <!-- 3 td -->
                                  <td style="padding-bottom: 0;">

                                      <div class="row" style="display: flex;">
                                        <div class="col-12" id="{{i}}check{{k}}check{{j}}">
                                            <input type="text" maxlength="2" size="2" placeholder=""
                                            formControlName="noOfQuestions" (keypress)="numberOnly($event)"
                                            class="form-control autonumber"
                                            (input)="checkQuestionCount($event.target.value,k, j, i)">
                                          </div>
                                          <div class="isHideOptional" id="{{i}}checkoption{{k}}checkoption{{j}}">
                                            <input type="text" maxlength="2" size="2" placeholder="" formControlName="optionalQuestions"
                                             (keypress)="numberOnly($event)"
                                            class="form-control autonumber">
                                          </div>
                                      </div>
                                    <div class="table-checkbox c-checkbox" >
                                      <label class="label-student checkAll">
                                          <input type="checkbox" name="list_name" value="m1" (change)="onOptionalCheck2(i+'check'+k+'check'+j,i+'checkoption'+k+'checkoption'+j,i,j,k)" />
                                          <span class="fa fa-check"></span>
                                          Optional
                                      </label>
                                    </div>
                                      
                                  </td>
                                  <!-- 4 td -->
                                  <td *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value == 2004 && examPattern.controls['examType'].value==1">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="rightMarks" class="form-control" placeholder="RM"
                                      ngbTooltip="Enter Right Marks">
                                  </td>
                                  <td *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value != 2004 && examPattern.controls['examType'].value==1" colspan="3">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="rightMarks" class="form-control" placeholder="RM"
                                      ngbTooltip="Enter Right Marks">
                                  </td>
                                  <td
                                    *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value == 2004  && examPattern.controls['examType'].value==1"
                                    style="width: 80px;">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="wrongMarks" class="form-control" placeholder="WM"
                                      ngbTooltip="Enter Wrong Marks">
                                  </td>
                                  <td
                                    *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value == 2004  && examPattern.controls['examType'].value==1"
                                    style="width: 80px;">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="leaveMarks" class="form-control" placeholder="LM"
                                      ngbTooltip="Enter Leave Marks">
                                  </td>
                                  <td *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value != 2 && examPattern.controls['examType'].value==2">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="rightMarks" class="form-control" placeholder="RM"
                                      ngbTooltip="Enter Right Marks">
                                  </td>
                                  <td
                                    *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value != 2  && examPattern.controls['examType'].value==2"
                                    style="width: 80px;">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="wrongMarks" class="form-control" placeholder="WM"
                                      ngbTooltip="Enter Wrong Marks">
                                  </td>
                                  <td
                                    *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value != 2  && examPattern.controls['examType'].value==2"
                                    style="width: 80px;">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="leaveMarks" class="form-control" placeholder="LM"
                                      ngbTooltip="Enter Leave Marks">
                                  </td>
                                  <td *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value == 2  && examPattern.controls['examType'].value==2  && section.controls['isAddImportScheme'].value == false" colspan="3" style="padding-top: 22px;text-align: center;">
                                    <button type="button" class="border-box"
                                      (click)="getMarkingScheme(markingSchemeModal,i,j,k)">Add Scheme &nbsp;<i
                                        class="fa fa-plus" style="font-size: 15px;"></i>
                                    </button>
  
                                    <!-- <button type="button" class="btn" style="background-color: #3F91F3;width: 170px;height: 38px;margin-top: 6px;">Scheme Imported &nbsp;&nbsp;<i
                                      class="fa fa-check" style="float: right; font-size: 18px;margin-top: 1px;"></i>
                                  </button> -->
                                  </td>

                                  <td *ngIf="examPatternForm.controls['patternType'].value==4 && section.controls['questionType'].value == 2  && examPattern.controls['examType'].value==2 && section.controls['isAddImportScheme'].value == true" colspan="3" style="padding-top: 22px;text-align: center;">
                                    <button type="button" class="border-box"
                                      (click)="getMarkingScheme(markingSchemeModal,i,j,k)">check Scheme &nbsp;<i
                                        class="fa fa-plus" style="font-size: 15px;"></i>
                                    </button>
  
                                  </td>
                                 
                                  <td *ngIf="examPatternForm.controls['patternType'].value==3 && section.controls['questionType'].value != 2">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="rightMarks" class="form-control" placeholder="RM"
                                      ngbTooltip="Enter Right Marks">
                                  </td>
                                  <td
                                    *ngIf="examPatternForm.controls['patternType'].value==3 && section.controls['questionType'].value != 2"
                                    style="width: 80px;">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="wrongMarks" class="form-control" placeholder="WM"
                                      ngbTooltip="Enter Wrong Marks">
                                  </td>
                                  <td
                                    *ngIf="examPatternForm.controls['patternType'].value==3 && section.controls['questionType'].value != 2"
                                    style="width: 80px;">
                                    <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                      formControlName="leaveMarks" class="form-control" placeholder="LM"
                                      ngbTooltip="Enter Leave Marks">
                                  </td>
                                  <td *ngIf="examPatternForm.controls['patternType'].value==3 && section.controls['questionType'].value == 2 && section.controls['isAddImportScheme'].value == false" colspan="3" style="padding-top: 22px;text-align: center;">
                                    <button type="button" class="border-box"
                                      (click)="getMarkingScheme(markingSchemeModal,i,j,k)"> Add Scheme &nbsp;<i
                                        class="fa fa-plus" style="font-size: 15px;"></i>
                                    </button>
  
                                  </td>
                                  <td *ngIf="examPatternForm.controls['patternType'].value==3 && section.controls['questionType'].value == 2  && section.controls['isAddImportScheme'].value == true" colspan="3" style="padding-top: 22px;text-align: center;">
                                    <button type="button" class="border-box"
                                      (click)="getMarkingScheme(markingSchemeModal,i,j,k)">check Scheme &nbsp;<i
                                        class="fa fa-plus" style="font-size: 15px;"></i>
                                    </button>
  
                                  </td>
                                  <!-- 5 td -->
                                  
                                  <td>
                                    <!-- *ngIf="!instructiionAvailable" after testing-->
                                    <div class="border-box" *ngIf="instructiionAvailable"
                                      (click)="getInstruction(i, j, k, instructionModal)"><span>Instructions</span>
                                      <i class="fa fa-plus instructionbtn"></i>
                                    </div>
                                    
                                    
  
                                    <div class="border-box" *ngIf="!instructiionAvailable"
                                      style="cursor: pointer; background: var(--app-colorNew); padding: 5%;width: 100%;"
                                      (click)="getInstruction(i, j, k, instructionModal)">
                                      <span style="color: white;">Check Here</span> &nbsp;
                                      <i class="fas fa-external-link-alt" style="color: white;"></i>
                                    </div>
                                  </td>
                                  <!-- 6 td -->
                                  <td *ngIf="examPatternForm.controls['patternType'].value==4" style="text-align: center;vertical-align: middle;">
                                    <li *ngIf="subject.controls.sections['controls'].length > 1" class="fas fa-trash-alt"
                                      (click)="removeSection(i, j, k)" title="Remove"
                                      style="color: #d83838cb;  cursor: pointer;"></li>
                                    <li *ngIf="k == subject.controls.sections['controls'].length - 1"
                                      class="fa fa-plus icons add-icon" (click)="addSection(i, j)" title="Add"
                                      style="color: #0091ff; cursor: pointer;" [ngStyle]="{'margin-left' : subject.controls.sections['controls'].length > 1 ? '15px' :'' }"></li>
                                    
                                  </td>
                                  <td *ngIf="examPatternForm.controls['patternType'].value==3" style="text-align: center;vertical-align: middle;">
                                    <li *ngIf="subject.controls.sections['controls'].length > 1" class="fas fa-trash-alt"
                                      (click)="removeSection(i, j, k)" title="Remove"
                                      style="color: #d83838cb;  cursor: pointer;"></li>
                       
                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div> <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-inline wizard mb-0">
          <li class="previous list-inline-item"><button class="prevbtn" type="button"
              (click)="wizardSecondPreviousStep()" awPreviousStep><i class="fas fa-arrow-left" style="padding-right: 9%;"></i>Previous</button>
          </li>
          <li class="next list-inline-item float-right">
            <button class="secndNextBtn" type="submit" (click)="wizardSecondNextStep()">
              
              Next <i class="fas fa-arrow-right" style="padding-left: 9%;"></i></button>
          </li>
        </ul>
      </div>
      
    </form>
  </aw-wizard-step>

  <aw-wizard-step>
    <form (ngSubmit)="formSubmit()" [formGroup]="examPatternForm">
      <!-- <pre>{{examPatternForm.value | json }} </pre> -->
      <div class="row">
        <div class="col-lg-12"  *ngIf="examPattern!=null">
         
          
            
            <div class="card customPatternCss">
              <h4 class="text-info" style="margin-left: 23px; margin-top: 2%;">
                Exam Pattern Summary
              </h4>
              <hr>
              <app-exam-summary [examPattern]="examPattern" [patternType]="examPatternForm.controls.patternType.value"></app-exam-summary>
                       
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="prevbtn" type="button"
                    awPreviousStep><i class="fas fa-arrow-left" style="padding-right: 9%;"></i>Previous</button>
                </li>
                <li class="next list-inline-item float-right"><button class="secndNextBtn" type="button"
                    (click)="saveExamPattern()">Finish</button>
                </li>
              </ul>
            </div>
            
           

        </div>
      </div>
    </form>
   
  </aw-wizard-step>

</aw-wizard>

<ng-template #markingSchemeModal let-modal="close" >
  <div class="modal-content" style="width: 116%;">
    <div class="modal-header markingSchemeHeader">
      <h4 class="modal-title">Add Scheme</h4>
      <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-scheme [markingSchemeForm]="markingSchemeForm"></app-scheme>


    <form [formGroup]="markingSchemeForm">
      <span *ngIf="markingSchemeForm.controls['schemeType'].value==2">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-7" style="text-align: right;">
            <button  type="button" class="saveAs"
        (click)="saveAndImportScheme()" [disabled]="!markingSchemeForm.valid" style="margin-right: 10px;">Save as
        Template And Use</button>
      <button type="button" class="saveAddScheme" (click)="saveScheme()" (click)="modal('Cross click')"
        [disabled]="!markingSchemeForm.valid">Save</button>
          </div>
        </div>
      </span>

      <span *ngIf="markingSchemeForm.controls['schemeType'].value==1">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3">  <button  type="button" class="btn-secondary cancelScheme"
            (click)="modal('Cross click')">Cancel</button></div>
          <div class="col-md-3"> <button type="button" class="btn-info saveScheme" (click)="saveScheme()" (click)="modal('Cross click')"
            [disabled]="!markingSchemeForm.valid">Save</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </span>
     
      
    </form>
    </div>

    
  </div>
  
</ng-template>




<ng-template #instructionModal let-modal="close">
  <div class="modal-header addInstructionHeader">
    <h4 class="modal-title">Add Instruction</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body addInstructionBody">
    <form [formGroup]="instructionForm">
      <!-- <pre> {{instructionForm.value | json}} </pre> -->
      <div class="row" style="padding-top: 7%;">
        <div class="col-lg-12">
          <div class="form-group row mb-12 justify-content-center">
            <div class="radio radio-info form-check-inline">
              <input type="radio" name="instructionType" value="2" formControlName="instructionType"
                id="instructionType1">
              <label class="label-text" for="inlineRadio1"> Upload Image </label>
            </div>
            <div class="radio radio-info form-check-inline">
              <input type="radio" name="instructionType" value="3" formControlName="instructionType"
                id="instructionType2">
              <label class="label-text" for="inlineRadio2"> Enter Instruction </label>
            </div>
            <div class="radio radio-info form-check-inline">
              <input type="radio" name="instructionType" value="1" formControlName="instructionType"
                id="instructionType3">
              <label class="label-text" for="inlineRadio3"> Import </label>
            </div>
            <div
              *ngIf="instructionForm.controls['instructionType'].errors && instructionForm.controls['instructionType'].touched"
              class="invalid-feedback">
              <div *ngIf="instructionForm.controls['instructionType'].errors?.required">This is required
              </div>
            </div>
          </div>

          <div *ngIf="instructionForm.controls['instructionType'].value==1" class="form-group row mb-12">
         
              <div class="col-lg-6">
                <ng-select 
                [multiple]="false"
                [closeOnSelect]="true"
                placeholder="Exam Name" >
                <!-- <ng-option selected>Select</ng-option> -->
                <!-- <ng-option value="3">JEE Advanced Pattern</ng-option> -->
  
                </ng-select>
              </div>
              <div class="col-lg-6">
                
                <ng-select 
                [multiple]="false"
                [closeOnSelect]="true"
                placeholder="Question Type" >
                <!-- <ng-option selected>Select</ng-option> -->
                <!-- <ng-option value="3">JEE Advanced Pattern</ng-option> -->
  
                </ng-select>
              </div>
           
              <div class="col-lg-12">
                <h5 style="margin-left: 10px;">Message</h5>
                <div >
                  <textarea class="textarea-card" rows="6"></textarea>
                </div>
              </div>
          </div>

          <div *ngIf="instructionForm.controls['instructionType'].value==2" class="form-group row mb-12">

            <!-- <div class="col-md-2"> </div> -->
            <div style="width: 100%;">
              <img *ngIf="instructionForm.controls['instructionTextOrImage'].value != null"
                [src]="instructionForm.controls['instructionTextOrImage'].value"
                style="width:380px;max-height:300px;margin-left: 20px;">
              <!-- <input style="margin: 10% 0% 0% 35%;" type='file' accept="image/*" (change)="onSelectFile($event)"> -->

              <ng-template [ngTemplateOutlet]="dropZone"></ng-template>
            </div>
            <!-- <div class="col-md-2"> </div> -->
          </div>

          <!-- <div class="col-lg-12" *ngIf="instructionForm.controls['instructionType'].value==3"> -->
          <div *ngIf="instructionForm.controls['instructionType'].value==3">
            <app-ngx-editor formControlName="instructionTextOrImage" [placeholder]="'Enter text here...'"
              [spellcheck]="true" [config]="editorConfig">
            </app-ngx-editor>

            <!-- <div class="editor">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
              </ngx-editor-menu>
              <ngx-editor [editor]="editor" formControlName="editorContent">
              </ngx-editor>
            </div> -->
          </div>

        </div>
      </div>
    </form>
    <div class="col-12 text-center button-group" style="padding: 5% 0 9% 5%;">
      <button type="button" class="btn-outline-dark addInstructionPopupBtn"
        (click)="modal('Cross click')">Close</button>
      <button type="button" class="btn-primary addInstructionPopupBtn" (click)="saveInstruction()"
        (click)="modal('Cross click')" [disabled]="!instructionForm.valid"
        style="background-color: var(--app-colorNew);">Save</button>
    </div>
  </div>

</ng-template>


<ng-template #dropZone>
  <div class="uploadfilecontainer card" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    <p class="dropFileText">Drop your file here ,or &nbsp;<span style="color:#0091ff;"> browse </span> </p>
    <p style="display: flex; justify-content: center;color: #8080807a; font-size: 12px;">JPG,PNG</p>
  </div>
  <div class="fileListContainer">
    <div class="files-list" *ngFor="let file of files;let i=index">
      <p>{{ file | truncatePipe:30 }}</p>
      <!-- <p>{{ file }}</p> -->
      <button class="delete-file" (click)="deleteAttachment(i)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>



</ng-template>