.group {
    display: inline-block;
    width: 100%;
    padding: 3%;
}

.nextBtn {
    // margin-top: 30px;
    margin-top: 28px;
    width: 115px;
    float: right;
    color: #0091ff;
    border: 1px solid #0091ff;
    height: 36px;
    cursor: pointer;
}

.nextBtn:hover,.secndNextBtn:hover,.prevbtn:hover{
    background-color: #0091ff;
    color: white;
}

.card {
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.textarea-card {
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(212 205 205 / 19%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    border: none;
}

.secndNextBtn{
    margin-bottom: 40px;
    border: 1px solid #0091ff;
    color: #0091ff;
    width: 115px;
    height: 36px;
    float: right;
    cursor: pointer;
}

.prevbtn{
    margin-left: 10px;
    width: 115px;
    height: 36px;
    color: #0091ff;
    border: 1px solid #0091ff;
    cursor: pointer;
}


.checkbox-primary input[type=checkbox]:checked + label::before{
    background-color: #0091ff;
    border-color: #0091ff;
}

label {
    font-weight: 500;
    color: #808080ad;
}




.btn-outline-dark:hover {
    background-color: white !important;
    color: #000;
}

.button-group .btn {
    width: 110px;
    margin-right: 10px;
    margin-top: 10px;
}

.addInstructionBody {
    width: 90%;
    margin: auto;
}

.addInstructionBody .radio {
    margin: 2px 15px;
}

.addInstructionHeader,
.markingSchemeHeader {
    border-bottom: 1px solid #aaa !important;
}

.addInstructionHeader .close,
.markingSchemeHeader .close {
    color: white !important;
    background-color: rgb(194, 54, 77);
    height: 25px;
    width: 25px;
    border-radius: 15px;
    padding: 0 !important;
    margin: 0% !important;
}


// ..........................DropZone...................



.uploadfilecontainer {
    // background-image: url("../../assets/cloud-2044823_960_720.png");
    background-image: url("../../../../../assets/images/fileupload.webp");
    background-repeat: no-repeat;
    // background-size: 100px;
    background-size: 45px;
    background-position: center;
    height: 175px;
    width: 80%;
    margin: 0px auto;
    border: 3px dashed #0091ff;
    border-radius: 20px;
    box-shadow: none;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;

    // width: 100%;
    // height: 99%;
    // border: 1px solid blue;
    overflow: auto;
    // padding-right: 15px;


}

.table td{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2.2%;
}

.fileListContainer {
    height: 100%;
    width: 100%;
    // border: 1px solid green;
    overflow: hidden;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.dropFileText {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-weight: 500;
    padding-top: 33%;
}

.subjectTitle{
    color: var(--app-colorNew);
    font-weight: 600;
    font-size: larger;
}
.patternHeading{
    text-align: end;
    font-size: larger;
    font-weight: 400;
    color: #000000ad;
}

.noPadding{
padding: 0;
}



.addInstructionPopupBtn {
    width: 45% !important;
    padding: 3%;

}

.customPatternCss{
    width: 100%;
    // height: 7vw;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
  }



.isHide {
    display: none;
}

.isUnhide {
    display: block;
}
.customCardCss{
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
}

.border-box {
    border: 2px solid #0091ff;
    padding: 5px 4px 6px 10px;
    width: 120px;
    cursor: pointer;
    color: #0091ff;
    border-radius: 3px;
    height: 36px;
}


.border-box:hover{
    background-color: #0091ff;
    color: white,
    
}


.instructionbtn{
    font-size:15px;
 
    margin-top: 2px;
    margin-left: 6px;
  }



  .addScheme{
    background-color: #0091ff;
    width: 115px;
    height: 38px;
    font-size: 13px;
  }

  .label-text{
    font-weight: 400;
    color: black;
  }
  
  .cancelScheme{
    color: #43425d;
    border-color: #cccecf;
    background-color: white;
    width: 100%;
    height: 40px;
  }

  .saveScheme{
    background-color: #0091ff;
    height: 40px;
    width: 100%;
    cursor: pointer;
  }

  .saveAddScheme{
    background-color: #0091ff;
    height: 40px;
    width: 73px;
    cursor: pointer;
  }

  button.saveAddScheme:hover{
    background-color: #0076d1;
    // border: 1px solid #0091ff,
    color: white,
    
    }

  .saveAs{
      background-color: #0076d1;
      height: 40px;
      cursor: pointer;
  }

  button.saveAs:hover{
    background-color: #0091ff;
    // border: 1px solid #0091ff,
    color: white,
    
    }

  button.saveScheme:hover{
    background-color: #0076d1;
    // border: 1px solid #0091ff,
    // color: #0091ff,
    
    }

button.cancelScheme:hover{
    background-color: #43425d;
    // border: 1px solid #0091ff,
    
    color: white,
    
}

::ng-deep .modal-backdrop.show{
    opacity: 0.8;
}


// custom style mat-checkbox

.mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container{
    margin-top: 5px;
    height: 12px;
    width: 12px;
    margin-right: 3px;
}

.mat-checkbox .mat-checkbox-layout .mat-checkbox-label{
    font-size: 10px;
    color: black;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #0076d1;
}

.mat-checkbox .mat-checkbox-frame{
    border-width: 1.2px;
}


.isHideOptional {
    display: none;
}

.isUnhideOptional {
    display: block;
}
