<div class="container-fluid px-0" [ngClass]="{'containerHeight':tabNumber==1}">
    <div class="card" [ngClass]="{'stack-back':isAddNew}">
        <div class="card-body">
            <section id="headertabs">
                <nav>
                    <div class="nav nav-tabs " id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==1}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(1)">STUDENTS</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==2}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(2)">STAFF</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==3}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(3)">TEACHERS</a>
                        <div class="w-59"></div>
                        <div class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">More <i class="fas fa-chevron-down"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </nav>
            </section>
            <div *ngIf="tabNumber==1">
                <div class="row mx-3 pt-3 mb-1 table-header w-100">
                    <!-- Search -->
                    <div class="col-sm-2">
                        <label for="staticEmail" class=" col-form-label">Student</label>
                    </div>
                    <!-- <div class="col-sm-2 quickAdd">
                        <button class="btn btn-filled">Create TimeTable</button>
                    </div> -->
                    <div class="col-sm-8 dropdownModal">
                        <input type="text" name="searchTerm" class="form-control"
                            (input)="findRecords($event.target.value)" placeholder="Filter and Search"
                            aria-controls="tickets-table">
                        <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"></i>
                    </div>
                    <!-- End search -->
                </div>
                <hr>
                <app-student-sheet></app-student-sheet>
            </div>
            <div *ngIf="tabNumber==2">
                <div class="row mx-3 pt-3 mb-1 table-header w-100">
                    <!-- Search -->
                    <div class="col-sm-2">
                        <label for="staticEmail" class=" col-form-label">Staff</label>
                    </div>
                    <!-- <div class="col-sm-2 quickAdd">
                        <button class="btn btn-filled">Create TimeTable</button>
                    </div> -->
                    <div class="col-sm-8 dropdownModal">
                        <input type="text" name="searchTerm" class="form-control"
                            (input)="findRecords($event.target.value)" placeholder="Filter and Search"
                            aria-controls="tickets-table">
                        <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"></i>
                    </div>
                    <!-- End search -->
                </div>
                <hr>
                <app-staff-sheet></app-staff-sheet>
            </div>
            <div *ngIf="tabNumber==3">
                <div class="row mx-3 pt-3 mb-1 table-header w-100">
                    <!-- Search -->
                    <div class="col-sm-2">
                        <label for="staticEmail" class=" col-form-label">Teacher</label>
                    </div>
                    <!-- <div class="col-sm-2 quickAdd">
                        <button class="btn btn-filled">Create TimeTable</button>
                    </div> -->
                    <div class="col-sm-8 dropdownModal">
                        <input type="text" name="searchTerm" class="form-control"
                            (input)="findRecords($event.target.value)" placeholder="Filter and Search"
                            aria-controls="tickets-table">
                        <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"></i>
                    </div>
                    <!-- End search -->
                </div>
                <hr>
                <app-teacher-sheet></app-teacher-sheet>
            </div>
        </div>
    </div>

</div>