.searchBar {
  border: 1px solid #80808057;
  margin-bottom: 10px;
  border-radius: 4px;
  height: 40px;
}

.addMainBtn {
  color: #0091ff;
  width: 65%;
  height: 40px;
  text-align: center;
  padding: 9px 0;
  margin-left: 25px;
  border-radius: 3px;
  border: 1px solid #0091ff;
  cursor: pointer;
}

.addMainBtn:hover {
  background-color: #0091ff;
  color: white;
}

//card

.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  min-width: 31%;
  max-width: 31%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading {
  margin-left: 0px;
  margin-right: 0px;
  padding: 2% 4%;
  background-color: #8080801f;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.cardBody {
  margin-left: 0px;
  margin-right: 0px;
  padding: 6% 4%;
}

.courseName {
  margin-left: -2px;
  font-weight: bold;
  color: black;
}

.editBox {
  display: flex;
  float: right;
  color: #0091ff;
  cursor: pointer;
}

.linkCourse {
  font-size: 9px;
  margin-left: -2px;
  border: 1px solid;
  width: fit-content;
  padding: 2px 9px;
  border-radius: 10px;
  background: #d99eec;
  color: white;
}

.iconImg {
  padding-left: 0;
  padding-right: 0;
  max-width: 14%;
}

.mlmt {
  margin-top: 10px;
  margin-left: 31px;
  padding-right: 0;
}

.subcategory {
  color: #808080;
  font-size: 12px;
}

.subjectname {
  border: 1px solid #80808085;
  padding: 3px 7px;
  font-size: 11px;
  width: fit-content;
  border-radius: 12px;
  color: black;
  margin-right: 7px;
  margin-top: 8px;
}

.gradeBox {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #80808024;
  background-color: #0091ff1a;
  padding: 7px 10px;
  margin-right: 9px;
  margin-bottom: 10px;
  color: black;
  border-radius: 3px;
  font-size: 10px;
  height: fit-content;
}

//Form styles

.batchForm {
  position: absolute;
  background-color: white;
  top: 177px;
  width: 22%;
  right: 0;
  z-index: 1;
  pointer-events: fill;
}

.addBatchClassForm {
  position: absolute;
  background-color: white;
  top: 177px;
  width: 22%;
  right: 0;
  z-index: 1;
  pointer-events: fill;
}

.removeBtn {
  padding: 0px 6px;
  color: red;
  background: #ff000024;
  border-radius: 3px;
  cursor: pointer;
}

.removeText {
  display: flex;
  color: red;
  cursor: pointer;
}

.courseNameEdit {
  margin-right: 0px;
  margin-left: 0px;
  color: #0000003b;
  font-size: 12px;
  margin-top: -5px;
}

.courseTitle {
  margin-right: 0px;
  margin-left: 0px;
  color: black;
  font-size: 12px;
  margin-top: -5px;
}
.closeBatchForm {
  float: right;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: #cecdcd;
  text-shadow: none;
  border: none;
  position: relative;
  top: 9px;
  right: 10px;
  height: 20px;
  padding-bottom: 3px;
  width: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
}

.paddingStyle {
  padding-left: 20px;
  padding-right: 20px;
}

.plusBtn {
  border: 1px solid #0091ff;

  padding: 0px 5px;
  border-radius: 12px;
  background: #0091ff;
  cursor: pointer;
}
.headBatch {
  margin-bottom: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #80808040;
  color: black;
  font-weight: bold;
}
.paddingStyleForm {
  color: gray;
  position: relative;
  top: 0px;
  box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -webkit-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -moz-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
}

.formStyle {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  top: 0px;
  box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -webkit-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -moz-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
}

.submitBtn:hover,
.saveBtn:hover {
  background-color: #0091ff;
  color: white;
}

.submitBtn {
  border: 1px solid #0091ff;
  text-align: center;
  padding: 10px 26px;
  cursor: pointer;
  border-radius: 3px;
}

.saveBtn {
  border: 1px solid #0091ff;
  text-align: center;
  padding: 10px 33px;
  cursor: pointer;
  border-radius: 3px;
}

.CloseBtn {
  border: 1px solid #80808094;
  padding: 10px 28px;
  color: #80808094;
  border-radius: 3px;
  cursor: pointer;
}
.CancelBtn {
  border: 1px solid #80808094;
  padding: 8px 28px;
  color: #80808094;
  border-radius: 3px;
  cursor: pointer;
}

.CloseBtn:hover,
.CancelBtn:hover {
  background-color: #80808094;
  color: white;
}

.YesBtn {
  border: 1px solid #0091ff;
  padding: 7% 26%;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 43px;
}

.YesBtn:hover {
  background-color: #0091ff;
  color: white;
}

.courseName .inputBoxCount {
  top: -6px;
}
