<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-2" style="text-align: center;padding-top: 9px;">
        <label style="color: #0091ff;">
            Batches</label>
    </div>
    <div class="col-md-7 searchBar">
        <div style="display: flex;">
            <input type="text" class="form-control" placeholder="Search & Filter"
                style="border: none;height: 35px !important;">
            <!-- <i class="fa fa-sliders" style="font-size: 18px;color: #80808057;margin-top: 8px;" aria-hidden="true"></i> -->
            <!-- <i class="fas fa-sliders-h" style="font-size: 18px;color: #80808057;margin-top: 8px;cursor: pointer;"></i> -->
            <i class="fas fa-sliders-h" style="font-size: 18px;color: #80808057;margin-top: 8px;cursor: pointer;"></i>
        </div>

    </div>

    <div class="col-md-3">
        <div class="addMainBtn" (click)="addBatch(); getCourseList()"><i class="fas fa-plus"></i> &nbsp;<span>Add
                Batch</span></div>
    </div>
</div>
<!-- batch add class code start here -->
<div class="addBatchClassForm" [ngClass]="{'slideInLeft':!isShowBatchClassForm,'slideInRight':isShowBatchClassForm} "
    *ngIf="isShowBatchClassForm">

    <div class="paddingStyleForm">
        <div class="paddingStyle headBatch" style="margin-bottom: 1rem;">Add Batch</div>
        <form [formGroup]="batchFormEdit">

            <div class="paddingStyle" style="border-bottom: 1px solid #8080805e;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="fname">Course</label>
                            <i style="color: tomato;">* </i>
                            <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Select"
                                [searchable]="false" [items]="courseList" bindLabel="name" bindValue="uniqueId"
                                formControlName="courseUid">
                                <!-- <ng-option *ngFor="let grade of masterGradeList;" [value]="grade.id">{{grade.name}}</ng-option> -->
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:4">
                                        <span class="ng-value-label"> {{item.name}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 4">
                                        <span class="ng-value-label">+{{items.length - 4}}</span>
                                    </div>
                                </ng-template>
                            </ng-select>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="fname">Batch</label>
                            <i style="color: tomato;">* </i>
                            <input type="text" class="form-control" formControlName="name" #bName maxlength="20">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': bName.value.length !== 20,'badge-danger': bName.value.length == 20}">
                                {{ bName.value.length }} / 20</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paddingStyle headBatch" style="margin-bottom: 1rem;">Category</div>
            <div class="paddingStyle">
                <div class="row">
                    <div class="col-lg-10" style="padding-right: 0;">
                        <div class="form-group">
                            <label for="fname">Category</label>
                            <input type="text" class="form-control" #catName maxlength="20">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': catName.value.length !== 20,'badge-danger': catName.value.length == 20}">
                                {{ catName.value.length }} / 20</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10" style="padding-right: 0;">
                        <div class="form-group">
                            <label for="fname">Batch Group</label>
                            <input type="text" class="form-control" #batchGroupName maxlength="20">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': batchGroupName.value.length !== 20,'badge-danger': batchGroupName.value.length == 20}">
                                {{ batchGroupName.value.length }} / 20</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span class="plusBtn" style=" bottom: 22px;position: absolute;"><i class="fas fa-plus"
                                style="color: white;"></i></span>
                    </div>
                </div>
                <div class="row" style="margin: 0;margin-top: -10px;">
                    <span class="plusBtn"><i class="fas fa-plus" style="color: white;"></i></span> <span
                        style="color: #0091ff;"> &nbsp;Add Category</span>
                </div>
            </div>
            <div class="form-group paddingStyle">
                <div class="row">
                    <div class="col-lg-12" style="display: flex;margin-top: 10px;">
                        <div class="form-group">
                            <div class="CancelBtn" (click)="closeBatchForm()">Cancel</div>
                        </div>

                        <div class="form-group" style="margin-left: 17%;margin-top: 9px;">
                            <span class="submitBtn" (click)="courseSelectSaveBatch()">
                                Save
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="batchForm" [ngClass]="{'slideInLeft':!isShowBatchForm,'slideInRight':isShowBatchForm} "
    *ngIf="isShowBatchForm">
    <button type="button" class="closeBatchForm" (click)="closeBatchForm()" aria-label="Close">x</button>

    <div class="formStyle">

        <form [formGroup]="batchFormEdit">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row courseTitle">{{CourseName}}</div>
                        <div class="row courseNameEdit">Course</div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-12 courseName">
                        <div class="form-group" style="margin-bottom: 0.5rem;">
                            <input type="text" class="form-control" placeholder="Batch Name" #name maxlength="20"
                                formControlName="name">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': name.value.length !== 20,'badge-danger': name.value.length == 20}">
                                {{ name.value.length }} / 20</p>
                        </div>
                        <div class="removeText" *ngIf="isaddedit" style="margin-bottom: 0.5rem;"
                            (click)="openConfirm(content)">
                            <div class="removeBtn"> <i class="fa fa-times" style="font-size: 11px;"
                                    aria-hidden="true"></i> </div> &nbsp;remove
                        </div>
                        <ng-template #content role="document" let-modal="close">

                            <div class="modal-body">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8" style="text-align: center;">
                                                    <h3>Are you sure?</h3>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div class="form-group row mb-12">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8" style="text-align: center;">
                                                    <label class="deleteModal">You want remove the Batch?</label>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div class="row mb-12" style="margin-bottom: 26px;margin-top: 26px;">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-6"><span class="CloseBtn"
                                                                (click)="modal('Cross click')">Cancel</span></div>
                                                        <div class="col-6"><span class="YesBtn" (click)="removeBatch()"
                                                                (click)="modal('Cross click')">Yes</span></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ng-template>


                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">

                    <div class="col-lg-6">
                        <span class="CloseBtn" (click)="closeBatchForm()">
                            Cancel
                        </span>
                    </div>
                    <div class="col-lg-6" *ngIf="isaddedit">
                        <span class="submitBtn" (click)="updateBatch()">
                            Update
                        </span>

                    </div>
                    <div class="col-lg-6" *ngIf="!isaddedit">
                        <span class="submitBtn" (click)="saveBatch()">
                            Save
                        </span>

                    </div>
                </div>


            </div>
        </form>
    </div>

</div>
<div class="row" style="margin-left: 3%;">
    <div class="card" *ngFor="let data of batchList;let i=index;"
        style="margin-right: 2%;height: fit-content; height: 280px;">

        <div class="cardHeading">
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-md-3 iconImg">
                    <img src="assets/Icons/Sample/JEE Adnance.png" height="40px" width="40px">

                </div>
                <div class="col-md-6" style="margin-top: 10px;">
                    <div class="courseName"><span ngbTooltip={{data.course.name}}>{{data.course.name | truncateText:
                            12}}</span></div>

                </div>

                <div class="col-md-3 mlmt">
                    <span class="editBox" (click)="addEditBatch(data,false)">
                        <i class="fas fa-plus" style="color: #0091ff;font-size: 16px;"></i>&nbsp;Add
                    </span>
                </div>

            </div>
        </div>
        <div class="cardBody scroll" style="height: 250px; overflow-y: auto;">
            <div class="row" style="margin-left: 4px;margin-right: 0;">
                <div class="col-md-4 gradeBox" *ngFor="let batch of data.batches;let j=index;" style="max-width: 30%;">
                    <span ngbTooltip={{batch.name}} placement="bottom">{{batch.name | truncateText: 5}} <i class="fas fa-edit"
                            (click)="addEditBatch(data,true, batch)"
                            style="font-size: 10px;cursor: pointer;"></i></span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card" style="margin-right: 2%;height: fit-content;">

        <div class="cardHeading">
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-3 iconImg"> 
                <img src="assets/Icons/Sample/JEE Adnance.png" height="40px" width="40px">
                
                </div>
                <div class="col-6">
                <div class="row courseName">JEE Advance</div>
                <div class="row linkCourse">SUBJECTS</div>
                </div>
                
                <div class="col-3 mlmt">
                <span class="editBox" (click)="addEditCourse()">
                    <i class="fa fa-pen" style="color: #0091ff;font-size: 19px;"></i> &nbsp;Edit
                </span>
                </div>

            </div>
        </div>
        <div class="cardBody">
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-md-12 subcategory">Compulsory Subjects</div>
                <div class="col-md-12" style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname">PHYSICS</span>
                    <span class="subjectname">CHEMISTRY</span>
                    <span class="subjectname">BIOLOGY</span>
                    <span class="subjectname">BIOLOGY</span>
                    <span class="subjectname">CHEMISTRY</span>
                    <span class="subjectname">PHYSICS</span>
                   
                </div>
            </div>
    
            <div class="row" style="margin-left: 0;margin-right: 0;padding-top: 15px;">
                <div class="col-md-12 subcategory">Optional Subjects</div>
                <div class="col-md-12" style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname">COMPUTER SCIENCE</span>
                    <span class="subjectname">AGONOMY</span>
                    <span class="subjectname">PHYSICS</span>
                    
                   
                </div>
            </div>
    
            <div class="row" style="margin-left: 0;margin-right: 0;padding-top: 15px;">
                <div class="col-md-12 subcategory">Elective</div>
                <div class="col-md-12" style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname">POWER ELECTRONICS</span>
                    <span class="subjectname">FRENCH 101</span>
                     
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-right: 2%;height: fit-content;">

        <div class="cardHeading">
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-3 iconImg"> 
                <img src="assets/Icons/Sample/JEE Adnance.png" height="40px" width="40px">
                
                </div>
                <div class="col-6">
                <div class="row courseName">JEE Advance</div>
                <div class="row linkCourse">SUBJECTS</div>
                </div>
                
                <div class="col-3 mlmt">
                <span class="editBox" (click)="addEditCourse()">
                    <i class="fa fa-pen" style="color: #0091ff;font-size: 19px;"></i> &nbsp;Edit
                </span>
                </div>

            </div>
        </div>
        <div class="cardBody">
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-md-12 subcategory">Compulsory Subjects</div>
                <div class="col-md-12" style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname">PHYSICS</span>
                    <span class="subjectname">CHEMISTRY</span>
                    <span class="subjectname">BIOLOGY</span>
                    <span class="subjectname">BIOLOGY</span>
                    <span class="subjectname">CHEMISTRY</span>
                    <span class="subjectname">PHYSICS</span>
                   
                </div>
            </div>
    
            <div class="row" style="margin-left: 0;margin-right: 0;padding-top: 15px;">
                <div class="col-md-12 subcategory">Optional Subjects</div>
                <div class="col-md-12" style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname">COMPUTER SCIENCE</span>
                    <span class="subjectname">AGONOMY</span>
                    <span class="subjectname">PHYSICS</span>
                    
                   
                </div>
            </div>
    
            <div class="row" style="margin-left: 0;margin-right: 0;padding-top: 15px;">
                <div class="col-md-12 subcategory">Elective</div>
                <div class="col-md-12" style="display: flex;flex-wrap: wrap;">
                    <span class="subjectname">POWER ELECTRONICS</span>
                    <span class="subjectname">FRENCH 101</span>
                     
                </div>
            </div>
        </div>
    </div> -->

</div>