<form class="form-horizontal" id="timingInfo" [formGroup]="timingInfo" *ngIf="examType == 1">
  <div style="padding-right: 4%;">
    <div class="row">
      <div class="col-3">
        <label class="col-form-label label-under">Test Date</label>
        <div class="input-group datePicker">
          <!-- <input placeholder="" type="date" class="form-control"    formControlName="testDate"> -->
            <!-- <input ngbDatepicker class="form-control" placeholder="Set Date" (change)="startDatechanged()" formControlName="testDate" #cd1="ngbDatepicker" (click)="cd1.toggle()"> -->
            <input type="text" 
            class="form-control" 
            placeholder="Set Date" 
            bsDatepicker 
            formControlName="testDate" 
          />
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-calendar"></i></span>
          </div>
          
        </div>
      </div>
      <div class="col-3">
        <label class="col-form-label label-under">Test Time</label>
        <!-- <input class="form-control" placeholder="" type="time" formControlName="testTime" [(ngModel)]="mytime"> -->
        <!--<div class="input-group timePicker">
           <input class="form-control" placeholder="" type="rext" readonly (click)="selectTime()" formControlName="testTime" [(ngModel)]="mytime">
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div>
        </div>
        <ngb-timepicker [(ngModel)]="time" *ngIf="showTimePicker" formControlName="testTime">

        </ngb-timepicker> -->
        <div class="input-group">
        <input class="form-control" style="border-right: none;" placeholder="" [(ngModel)]="minDate" [owlDateTimeTrigger]="dt2"
                                [owlDateTime]="dt2" formControlName="testTime">
                            <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                            <div class="input-group-append">
                              <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                                  class="mdi mdi-clock-outline"></i></span>
                            </div>
      </div>
      </div>
    
      <div class="col-3">
        <label class="col-form-label label-under">Duration</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type here..." maxlength="4" size="4" style="border-right: hidden;"
            (keypress)="numberOnly($event)" formControlName="testDuration">
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div><br>
          
        </div>
      </div>
      <div class="col-3">
        <label class="col-form-label label-under">Extra Time</label>
        <div class="input-group">
          <!-- <input type="text" class="form-control" placeholder="in minutes" maxlength="4" size="4"
            (keypress)="numberOnly($event)" formControlName="extraTime"> -->
            <ng-select formControlName="extraTime" [searchable]="false"  class="custom" style="width: 100%;" placeholder="Select">
              
              <ng-option value="5">5 Min</ng-option>
              <ng-option value="10">10 Min</ng-option>
              <ng-option value="15">15 Min</ng-option>
              <ng-option value="20">20 Min</ng-option>
              <ng-option value="25">25 Min</ng-option>
           </ng-select>
          <!-- <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div> -->
        </div>
      </div>
      
    </div>
  </div>
</form>

<form class="form-horizontal" id="timingInfo" [formGroup]="timingInfo" *ngIf="examType == 2">
  <div [ngStyle]="{'border-right': typeborder == 1 ? '1px solid #c1c4d0ad' : '','padding':typeborder == 1 ? '3% 4% 5% 1.5%' : '3% 4% 5% 0%'}">
    <div class="row">
      <div class="col-4">
        <label class="col-form-label label-under">Test Date</label>
        <div class="input-group datePicker">
          <!-- <input placeholder="" type="date" class="form-control"    formControlName="testDate"> -->
            <!-- <input ngbDatepicker class="form-control" placeholder="Set Date" (change)="startDatechanged()" formControlName="testDate" #cd1="ngbDatepicker" (click)="cd1.toggle()"> -->
            <input type="text" 
            class="form-control" 
            placeholder="Set Date" 
            bsDatepicker 
            formControlName="testDate" 
          />
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                class="mdi mdi-calendar"></i></span>
          </div>
          
        </div>
      </div>
      <div class="col-4">
        <label class="col-form-label label-under">Test Time</label>
        <!-- <input class="form-control" placeholder="" type="time" formControlName="testTime" [(ngModel)]="mytime"> -->
        <!--<div class="input-group timePicker">
           <input class="form-control" placeholder="" type="rext" readonly (click)="selectTime()" formControlName="testTime" [(ngModel)]="mytime">
          <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div>
        </div>
        <ngb-timepicker [(ngModel)]="time" *ngIf="showTimePicker" formControlName="testTime">

        </ngb-timepicker> -->

        <div class="input-group">
          <input class="form-control" style="border-right: none;" placeholder="" [(ngModel)]="minDate" [owlDateTimeTrigger]="dt2"
                                  [owlDateTime]="dt2" formControlName="testTime">
                              <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                              <div class="input-group-append">
                                <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                                    class="mdi mdi-clock-outline"></i></span>
                              </div>
        </div>
      </div>
      
      <div class="col-4">
        <label class="col-form-label label-under">Extra Time</label>
        <div class="input-group">
          <!-- <input type="text" class="form-control" placeholder="in minutes" maxlength="4" size="4"
            (keypress)="numberOnly($event)" formControlName="extraTime"> -->
            <ng-select formControlName="extraTime" [searchable]="false"  class="custom" style="width: 100%;" placeholder="Select">
              
              <ng-option value="5">5 Min</ng-option>
              <ng-option value="10">10 Min</ng-option>
              <ng-option value="15">15 Min</ng-option>
              <ng-option value="20">20 Min</ng-option>
              <ng-option value="25">25 Min</ng-option>
           </ng-select>
          <!-- <div class="input-group-append">
            <span class="input-group-text" style="background-color: white;"><i
                class="mdi mdi-clock-outline"></i></span>
          </div> -->
        </div>
      </div>
      
    </div>
  </div>
</form>