<div style="margin-top: 1%;">
    <section id="tabs">
        <div class="row" style="width: 100%;margin-left: 0px;">
          <div class="col-lg-12" style="padding: 0;">
            <nav style="background-color: #dee2e640;">
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="width: fit-content;">
                <!-- <a class="nav-item nav-link" id="nav-academic-year-tab" [ngClass]="{'active':tabNumber==1 || tabNumber== '1'}"
                  data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-academic-year" aria-selected="true"
                  (click)="tabClick(1)">Academic Year</a> -->
                <a class="nav-item nav-link" id="nav-academic-session-tab" [ngClass]="{'active':tabNumber==2 || tabNumber== '2'}"
                  data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-academic-session" aria-selected="false"
                  (click)="tabClick(2)">Academic Session</a>
                <a class="nav-item nav-link" id="nav-grade-tab" [ngClass]="{'active':tabNumber==3 || tabNumber== '3'}"
                  data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-grade" aria-selected="false"
                  (click)="tabClick(3)">Grade</a>
                <a class="nav-item nav-link" id="nav-course-tab" [ngClass]="{'active':tabNumber==4 || tabNumber== '4'}"
                  data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-course" aria-selected="false"
                  (click)="tabClick(4)">Courses</a>
                  <a class="nav-item nav-link" id="nav-subject-tab" [ngClass]="{'active':tabNumber==5 || tabNumber== '5'}"
                  data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-subject" aria-selected="false"
                  (click)="tabClick(5)">Subject</a>
                  <a class="nav-item nav-link" id="nav-batches-tab" [ngClass]="{'active':tabNumber==6 || tabNumber== '6'}"
                  data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-batches" aria-selected="false"
                  (click)="tabClick(6)">Batches</a>
                  <a class="nav-item nav-link" id="nav-class-room-tab" [ngClass]="{'active':tabNumber==7 || tabNumber== '7'}"
                  data-toggle="tab" role="tab" style="cursor: pointer;width: fit-content;" aria-controls="nav-class-room" aria-selected="false"
                  (click)="tabClick(7)">Class Room</a>
                  
              </div>
            </nav>
          </div>
      
        </div>
        
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade " [ngClass]="{'active show':tabNumber==0 || tabNumber== '0'}"
            role="tabpanel" aria-labelledby="nav-academic-year-tab">
           <app-academic-home></app-academic-home>
          </div>
          <!-- <div class="tab-pane fade " [ngClass]="{'active show':tabNumber==1 || tabNumber== '1'}"
            role="tabpanel" aria-labelledby="nav-academic-year-tab">
           <app-academic-year [currentTab]="tabNumber"></app-academic-year>
          </div> -->
          <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==2 || tabNumber== '2'}"
            role="tabpanel" aria-labelledby="nav-academic-session-tab">
            <app-academic-session [currentTab]="tabNumber"></app-academic-session>
          </div>
          <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==3 || tabNumber== '3'}"
            role="tabpanel" aria-labelledby="nav-grade-tab">
            <app-academic-grade [currentTab]="tabNumber"></app-academic-grade>
          </div>
          <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==4 || tabNumber== '4'}"
            role="tabpanel" aria-labelledby="nav-course-tab">
            <app-academic-courses [currentTab]="tabNumber"></app-academic-courses>
          </div>
          <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==5 || tabNumber== '5'}"
            role="tabpanel" aria-labelledby="nav-subject-tab">
            <app-academic-subjects [currentTab]="tabNumber"></app-academic-subjects>
          </div>
          <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==6 || tabNumber== '6'}"
            role="tabpanel" aria-labelledby="nav-batches-tab">
            <app-academic-batches [currentTab]="tabNumber"></app-academic-batches>
          </div>
          <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==7 || tabNumber== '7'}"
            role="tabpanel" aria-labelledby="nav-class-room-tab">
            <app-academic-class-rooms [currentTab]="tabNumber"></app-academic-class-rooms>
          </div>
        </div>
  </section>
</div>


