#tabs{
    color:var(--app-examModuleColor);
    padding-top: 10px;
   background-color: white;
  }
  #tabs h6.section-title{
    color: #eee;
  }
  
  #tabs .nav-tabs .nav-item.show .nav-link{
    // color: #f3f3f3;
    // background-color: transparent;
    // border-color: transparent transparent #f3f3f3;
    // border-bottom: 4px solid #0DB2D0;
    // // font-size: 20px;
    font-weight:300;
  }
  #tabs .nav-tabs .nav-link {
    // border: 1px solid transparent;
    // border-top-left-radius: .25rem;
    // border-top-right-radius: .25rem;
    color:  black;
    font-weight: 300;
  }

  .nav-tabs{
    border: none;
  }
  
  #tabs .nav-tabs .nav-link.active {
    // color: black;
    color:var(--app-examModuleColor);
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid var(--app-examModuleColor);
    // font-size: 20px;
    font-weight:500;
  }

  #tabs .tab-content{
    padding: 30px 0 20px 0;
  }

  .nav-link{
    padding: 0.5rem 2rem;
  }
  