<div class="account-pages mobileVerify">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
        <!-- <div class="card"> -->
        <!-- Logo-->
        <a routerLink="/account/login" class="mobileVerifylogo">
          <img src="assets/images/new-auth/logo.png" alt="" height="55" />
        </a>
        <div class=" card-body m-auto" *ngIf="!isMobileVerifySuccesss">
          <app-ui-preloader [display]="loading"></app-ui-preloader>

          <form class="needs-validation mt-4" name="mobileVerifyForm" [formGroup]="mobileVerifyForm"
            (ngSubmit)="onSubmit()" novalidate>

            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
            <ngb-alert type="success" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert>

            <div class="form-group mb-3">
              <label for="name" class="">Please Enter your mobile number</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <select name="countryCode" id="">
                    <option value="91">+91</option>
                  </select>
                </div>
                <input type="text" formControlName="mobile" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" (keypress)="onChangeEvent($event)"
                  [disabled]="isMobileDisabled" id="mobile" placeholder="Please enter your moblie number"
                  appOnlynumber />
                <div class="input-group-append" *ngIf="isMobileDisabled">
                  <button class="btn btn-light" type="button" (click)="mobileChange()"> <i
                      class="fa fa-pen"></i></button>

                </div>
              </div>

              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.mobile.errors }">
                <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
                <div *ngIf="f.mobile.errors.pattern">Please, Enter 10 digit Mobile Number</div>
              </div>
            </div>


            <div class="form-group mb-3 text-center" *ngIf="!isMobileVerify">
              <button class="btn btn-success btn-block mobileVerifybtn" type="submit">Continue</button>
            </div>

          </form>
          <form class="needs-validation otpForm mt-2" name="otpVerifyForm" [formGroup]="otpVerifyForm"
            (ngSubmit)="onOtpSubmit()" *ngIf="isMobileVerify" novalidate>


            <div class="form-group mb-3">
              <label for="name" class="pb-2">We have sent you a 6 digit code at
                <span>{{mobileVerifyForm.value.mobile}}</span>. Please enter it below</label>
              <div class="d-flex flex-row mt-1" id="otp">
                <input type="text" id="otpDigit1" class="form-control" formControlName="digit1" autofocus=""
                  appOnlynumber maxlength="1"
                  [ngClass]="{ 'is-invalid': otpSubmitted && fa.digit1.errors, 'otp-valid':otpResponse && otpValid, 'otp-invalid':otpResponse && !otpValid }"
                  (keyup)="onKeyUpEvent(1, $event)" (focus)="onFocusEvent(1)" autocomplete="off">
                <input type="text" id="otpDigit2" class="form-control" formControlName="digit2" appOnlynumber
                  maxlength="1"
                  [ngClass]="{ 'is-invalid': otpSubmitted && fa.digit2.errors, 'otp-valid':otpResponse && otpValid, 'otp-invalid':otpResponse && !otpValid }"
                  (keyup)="onKeyUpEvent(2, $event)" (focus)="onFocusEvent(2)" autocomplete="off">
                <input type="text" id="otpDigit3" class="form-control" formControlName="digit3" appOnlynumber
                  maxlength="1"
                  [ngClass]="{ 'is-invalid': otpSubmitted && fa.digit3.errors, 'otp-valid':otpResponse && otpValid, 'otp-invalid':otpResponse && !otpValid }"
                  (keyup)="onKeyUpEvent(3, $event)" (focus)="onFocusEvent(2)" autocomplete="off">
                <input type="text" id="otpDigit4" class="form-control" formControlName="digit4" appOnlynumber
                  maxlength="1"
                  [ngClass]="{ 'is-invalid': otpSubmitted && fa.digit4.errors, 'otp-valid':otpResponse && otpValid, 'otp-invalid':otpResponse && !otpValid }"
                  (keyup)="onKeyUpEvent(4, $event)" (focus)="onFocusEvent(4)" autocomplete="off">
                <input type="text" id="otpDigit5" class="form-control" formControlName="digit5" appOnlynumber
                  maxlength="1"
                  [ngClass]="{ 'is-invalid': otpSubmitted && fa.digit5.errors, 'otp-valid':otpResponse && otpValid, 'otp-invalid':otpResponse && !otpValid }"
                  (keyup)="onKeyUpEvent(5, $event)" (focus)="onFocusEvent(5)" autocomplete="off">
                <input type="text" id="otpDigit6" class="form-control" formControlName="digit6" appOnlynumber
                  maxlength="1"
                  [ngClass]="{ 'is-invalid': otpSubmitted && fa.digit6.errors, 'otp-valid':otpResponse && otpValid, 'otp-invalid':otpResponse && !otpValid }"
                  (keyup)="onKeyUpEvent(6, $event)" (focus)="onFocusEvent(6)" autocomplete="off">
              </div>

              <div *ngIf="otpSubmitted && !isOtpValid" class="invalid-feedback"
                [ngClass]="{ 'd-block': otpSubmitted && !isOtpValid }">
                <div *ngIf="!isOtpValid">OTP is required</div>
                <!-- <div *ngIf="f.mobile.errors.pattern">Please, Enter digit Mobile Number</div> -->
              </div>
              <div *ngIf="timeLeft > 0 && !isOtpValid" class="text-center timeleft">
                <p>{{timeLeft}} Seconds Left....</p>
              </div>
              <div *ngIf="otpResponse && otpValid" class="text-center otpvalidtext">
                <p>Success</p>
              </div>
              <div *ngIf="otpResponse && !otpValid" class="text-center otpinvalidtext">
                <p>Incorrect OTP</p>
              </div>
            </div>
            <div class="form-group mb-2 text-center">
              <button class="btn btn-primary btn-block mobileVerifybtn" type="submit">Verify Mobile</button>
            </div>
            <div class="form-group mb-2 text-center" *ngIf="timeLeft == 0">
              <span>Don't recieved?</span>
              <a href="javascript: void(0);" class="resend pull-right" (click)="resendOtp()"> Resend otp</a>
            </div>
          </form>


        </div>
        <!-- </div> -->
        <div class=" card-body pt-5 pb-0 m-auto proccedToLogin" *ngIf="isMobileVerifySuccesss">
          <h1 class="heading"><b>Great! mobile is now verified!</b></h1>
          <p>You may now proceed to log in.</p>
          <div class="form-group mb-0 pt-2 text-center">
            <button class="btn btn-primary btn-block mobileVerifybtn" type="submit" (click)="clickToLogin()">Proceed to
              Log in</button>
          </div>
        </div>
        <!-- end card -->


        <!-- end row -->

      </div> <!-- end col -->
      <div class="col-md-6 col-lg-6 col-xl-6 back-image right-side">

      </div>
    </div>
    <!-- end row -->
    <!-- <div class="bottom"></div> -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->