<div style="margin-top: 1%;">
    <section id="tabs">
      <nav style="background-color: white;">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-basic-tab"  data-toggle="tab"
            href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">Exam</a>
        </div>
      </nav>
    </section>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row" style="margin-top: 2%;">
          <div class="col-md-1">
            <h4 class="page-title searchbartitle" style="color: white;">Exam</h4>
          </div>
          <div class="col-md-8">
            <div class="form-group searchbarmargin">
              <label class="sr-only">Search</label>
              <input type="search" class="form-control searchInput" placeholder="Search">
            </div>
          </div>
          <div class="col-md-1" style="margin-left: -12px;">
            <button mat-stroked-button style="border-radius: 0;min-width: 50%;min-height: 35px;background-color: white;"><i class="fe-settings noti-icon" style="color: #0DB2D0;"></i></button>
          </div>
  
          <div class="col-md-2" style="margin-left: -2%;">
            
            
          
  
          <div ngbDropdown class="dropdown d-none d-lg-block">
            
              <button mat-stroked-button style="border-radius: 0;color: #10c8e9;min-height: 35px;background-color: white;">Action</button>
              <span class="menu-arrow actionArrow" id="dropdownBasic1" style="background-color: white;" ngbDropdownToggle></span>  
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="margin-top: 10px;">
              
              <button (click)="changeAction('2')" ngbDropdownItem>Create Quick Exam</button>
              <button (click)="changeAction('4')" ngbDropdownItem>Create Pattern</button>
              <button (click)="changeAction('3')" ngbDropdownItem>Create Patterned Exam</button>
              <button (click)="changeAction('5')" ngbDropdownItem>View Pattern</button>
            </div>
          </div>
        
          
          </div>
        </div>
      </div>
    </div>
  </div>
  