.example-margin {
  margin: 0 12px;
}

.label-under{
  font-weight: 400;
    color: #99A3A4;
}

.customPatternCss{
  width: 100%;
  // height: 7vw;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 1px 2px #98989812;
}
.customPatternCsslowerPart{
  width: 100%;
  // height: 17vw;
  height: 21vw;
  border-radius: 11px;
  box-shadow: 1px 1px 1px 1px #80808026;
}

.nextbtn{
  width: 50%;
  padding-right: 9% !important;
}
.createBtn{
  height: 44px;
    // width: 77%;
    width: 150px;
    // background: #28a7f2e0;
    font-weight: 500;
    // background: var(--app-color);
    background: #10c8e9
}

  
.center{
  display: flex;
  justify-content: center;
}

.dropDownCss{
  // width: 24%;
  font-weight: 500;
  color: #a8a8a8;
  width: 100%;
  height: 3vw;
  border: 1px solid #80808073;
}
#tabs{
  color:var(--app-examModuleColor);
  padding-top: 10px;
 background-color: white;
}
#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link{
  // color: #f3f3f3;
  // background-color: transparent;
  // border-color: transparent transparent #f3f3f3;
  // border-bottom: 4px solid #0DB2D0;
  // // font-size: 20px;
  font-weight:300;
}
#tabs .nav-tabs .nav-link {
  // border: 1px solid transparent;
  // border-top-left-radius: .25rem;
  // border-top-right-radius: .25rem;
  color:  #b3aeae;
  font-weight: 300;
}

#tabs .nav-tabs .nav-link.active {
  // color: black;
  color:var(--app-examModuleColor);
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid var(--app-examModuleColor);
  // font-size: 20px;
  font-weight:500;
}

.examNameInput{
  color: #aaaaaa;
  width: 83%;
  height: 61%;
  font-weight: 500;
  border: 1px solid #cdcdcd;
}
.examNamesubInput{
  color: #aaaaaa;
  width: 100%;
  height: 71%;
  font-weight: 500;
  border: 1px solid #cdcdcd;
}

.menu-arrow {
  transition: transform 0.15s;
  position: absolute;
  
  display: inline-block;
  font-family: "Material Design Icons";
  text-rendering: auto;
  font-size: 23px;
  padding-left: 6px;
  padding-top: 1px;
  transform: translate(0, 0);
  &:before {
    content: "\F142";
  }
}



// div.d-none.d-lg-block.show.dropdown {

//   > span.menu-arrow {
//     transform: rotate(270deg);
//   }
  
// }

div.dropdown.d-none.d-lg-block {

    > span.menu-arrow {
      transform: rotate(90deg);
    }
    
  }

  .actionArrow{
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    color: #10c8e9;
    cursor: pointer;
    height: 36px;
    width: 36px;
  }

  .searchInput{
    height: 35px !important;
  }

  .bg-soft-generated{
    background-color:rgb(75 239 247 / 25%)
  }

  .bg-soft-lock{
    background-color:#e0e09563
  }

  .bg-soft-publish{
    background-color:#cbf79a75
  }

  .bg-soft-republish{
    background-color:#b1f1f180
  }

  .bg-soft-ongoing{
    background-color:#c0c0f87d
  }

  .bg-soft-cancel{
    background-color:#fbc5c547
  }
  .bg-soft-end{
    background-color:#cecef596
  }


  .customCardCss{
   
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
  }

  .th-style{
    font-weight: 500;
    color: black;
  }

  .border-box{
    border: 1px solid #0091ff;
    padding: 8px 17px;
    color: #0091ff;
    cursor: pointer;
  }

 .border-box:hover{
    background-color: #0091ff;
    color: white;
  }


 ::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #10c8e9;
    border-color: #10c8e9;
}

::ng-deep ul li{
  margin: 0 0 0 0;
}

.trRow:hover{
  background-color: #e2e2ec45;
}


