<form [formGroup]="subjectLinkingSubjectForm">
    <div class="scroll listData">
        <div class="table-responsive">
            <table class="table table-centered mb-0">
                <thead class="thead-light">
                    <tr>

                        <th>Course</th>
                        <th>Subjects</th>
                        <th>Compulsory</th>
                        <th>Optional</th>
                        <th>Elective</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody formArrayName="linkedSubjectList" cdkDropListGroup>
                    <tr *ngFor="let courses of subjectLinkingSubjectForm.controls.linkedSubjectList['controls']; let i=index;"
                        [formGroupName]="i">
                        <td *ngIf="isAdd == false">
                            {{courses.value.courseName}}
                        </td>
                        <td>
                            <span
                                *ngIf="!courses.controls.editMode.value && courses.controls['subjectList'].value.length>0"
                                class="d-block"><b>Remaining:
                                    {{courses.controls['subjectList'].value.length}}</b></span>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block">
                                <div *ngFor="let item of courses.controls['subjectList'].value">{{item.name}}</div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value">
                                <div cdkDropList [cdkDropListData]="courses.controls['subjectList'].value"
                                    class="subjectList">
                                    <p *ngFor="let item of courses.controls['subjectList'].value" [cdkDragData]="item"
                                        cdkDrag style="cursor: all-scroll;">{{item.name}}</p>
                                </div>

                            </span>
                        </td>
                        <td>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block">
                                <div *ngFor="let item of courses.controls['compulsorySubjectList'].value">{{item.name}}
                                </div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value">
                                <div cdkDropList [cdkDropListData]="courses.controls['compulsorySubjectList'].value"
                                    (cdkDropListDropped)="dropSubjectFromList($event,courses.controls['subjectList'].value,i,1,null,courses)"
                                    formArrayName="compulsorySubjectList" class="dropSubject">
                                    <label class="coloumnLabel">Drop compulsory subject here</label>
                                    <div *ngFor="let item of courses.controls['compulsorySubjectList'].value;let j=index;"
                                        class="custom-control">
                                        <p>
                                            {{item.name}}
                                            <i class="fa fa-times float-right"
                                                (click)="removeSubjectFromList($event,i,j,1,item,null)"></i>
                                        </p>

                                    </div>
                                </div>

                            </span>
                        </td>
                        <td>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block">
                                <div *ngFor="let item of courses.controls['optionalSubjectList'].value">{{item.name}}
                                </div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value" class="d-block">
                                <div cdkDropList [cdkDropListData]="optionalSubjectList"
                                    (cdkDropListDropped)="dropSubjectFromList($event,courses.controls['subjectList'].value,i,2,null,courses)"
                                    formArrayName="optionalSubjectList" class="optionalSubject">
                                    <label class="coloumnLabel">Drop optional subject here</label>

                                    <div *ngFor="let item of courses.controls['optionalSubjectList'].value;let op=index;"
                                        class="custom-control custom-checkbox ">
                                        <p>
                                            {{item.name}}
                                            <i class="fa fa-times float-right"
                                                (click)="removeSubjectFromList($event,i,op,2,item,null)"> </i>
                                        </p>

                                    </div>

                                </div>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block"
                                formArrayName="electiveSubjectList">
                                <div *ngFor="let item of courses.controls.electiveSubjectList['value']; let k = index;"
                                    [formGroupName]="k">
                                    <label for="">{{item.groupName}}</label>
                                    <div *ngFor="let subject of item.electiveSubjectList;">
                                        <p>{{subject.name}}</p>
                                    </div>

                                </div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value" formArrayName="electiveSubjectList">
                                <div *ngFor="let eachGroup of courses.controls['electiveSubjectList'].controls; let k = index;"
                                    [formGroupName]="k" style="display: flex;margin-bottom: 10px;">
                                    <div class="groupSubject">
                                        <div class="row groupHeader groupNameHeader">
                                            <div class="col-lg-1"> <span
                                                    class="btn btn-list btn-xs number">{{k+1}}</span></div>
                                            <div class="col-lg-11"><input formControlName="groupName"
                                                    class="form-control" #groUpName placeholder="Enter Group Name"
                                                    style="border: none;width: 134px;"
                                                    [ngClass]="{'is-invalid':submitted && eachGroup.controls['groupName'].errors?.required}">
                                            </div>

                                        </div>
                                        <div cdkDropList
                                            [cdkDropListData]="eachGroup.controls['electiveSubjectList'].value"
                                            class="movie-list example-list subject-list"
                                            (cdkDropListDropped)="dropSubjectFromList($event,courses.controls['subjectList'].value,i,3,k,courses)"
                                            formArrayName="electiveSubjectList" style="min-height: 50px;">

                                            <div *ngFor="let item of eachGroup.controls['electiveSubjectList'].value;let el=index;"
                                                class="custom-control custom-checkbox example-box">
                                                <p>{{item.name}}<i class="fa fa-times float-right"
                                                        (click)="removeSubjectFromList($event,i,k,3,item,el)"> </i></p>

                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa fa-trash float-right text-danger electiveTrash"
                                            (click)="removeElectiveSubjectGroup(i,k,1)"> </i>
                                    </div>
                                    <br>
                                    <div *ngIf="submitted && eachGroup.controls['groupName'].errors?.required"
                                        class="invalid-feedback" style="display: block;">
                                        <div *ngIf="eachGroup.controls['groupName'].errors?.required">Group name
                                            required
                                        </div>
                                    </div>

                                </div>
                                <button class="btn btn-light addMoreGroup" (click)="createElectiveGroup(i)"> <i
                                        class="fa fa-plus"></i> Add More Group</button>

                            </span>
                        </td>
                        <td class="text-center" style="width: 10%;" *ngIf="!courses.controls.editMode.value">

                            <div class="edit ml-1" (click)="editRow(courses,i)">
                                <i class="fa fa-pen"></i>
                            </div>
                        </td>
                        <td class="text-center" style="width: 10%;" *ngIf="courses.controls.editMode.value">
                            <div style="display: flex;vertical-align: bottom !important;">
                                <div class="save" (click)="updateRow(courses)">
                                    <i class="fas fa-save"></i>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-end mt-2 mx-0">
            <button class="btn btn-outline" (click)="cancel(false)">Cancel</button>
            <button class="btn btn-save" (click)="onSubmit()">Save</button>
        </div>
    </div>

    <div class="pt-3 pr-3 pl-3 pb-3 row">
        <!-- <a (click)="addNewRow()" color="primary" class="btn btn-circle">
                <i class="fa fa-plus fa-2x"></i>
          </a> -->
    </div>
    <!-- <div class="pt-3 pr-3 pl-3 pb-3 row">
        <button class="btn btn-save" (click)="onSubmit()">Save</button>
    </div> -->
</form>