<!-- <div class="row" style="padding: 2%;color: black;font-weight: bold;"
    [ngClass]="{'stack-back': trackSyllabusPopup}">
    Simple Exam
</div> -->

<div *ngIf="!toQuestion && !editTrack">
    <div class="row mx-0 mt-2" *ngIf="examTracks != null && examTracks != 'undefined'"
        [ngClass]="{'stack-back': trackSyllabusPopup||isSelectPlanner}">
        <div class="col-12" style="padding: 0;">
            <div class="row mx-0 subjectBox" *ngFor="let trackSubject of examTracks.trackSubjectList">
                <div class="col-12">
                    <div>
                        <div style="padding: 1% 0 1% 0;color: black; font-weight: 600;"><i class="fab fa-react"
                                style="font-size: 20px;"></i>&nbsp;
                            {{trackSubject.name}}</div>
                        <div class="row" *ngFor="let section of trackSubject.sectionList;let i=index;"
                            [ngClass]="{'borderbottom': trackSubject.sectionList.length>(i+1)}">
                            <p class="w-100 mb-1">{{section.name}}</p>
                            <div class="col-lg-6" *ngFor="let track of section.trackList; let j = index;">
                                <div class="card customCardCssTrack">
                                    <div class="row align-items-center">
                                        <div class="col-md-8">
                                            <span class="border-box">Track-{{j+1}}</span>
                                        </div>
                                        <div class="col-md-4 d-inline teacherDto">
                                            <img [src]="(track.teacherDto.imageCode)?_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +track.teacherDto.imageCode):'assets/images/users/user-3.jpg'"
                                                width="30px" height="30px" alt="userImage">
                                            <span> {{track.teacherDto.fullName}}</span>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 20px;margin-bottom: 3px;color: gray;">
                                        <div class="col-lg-6">
                                            <span>Questions</span>
                                        </div>
                                        <div class="col-lg-6 text-right m-b-0">
                                            <span>{{track.questionsAdded}} / {{track.totalQuestions}}
                                            </span>
                                        </div>
                                    </div>
                                    <p class="mb-1">
                                        <ngb-progressbar [ngClass]="colorClassArray[j%5]" value="{{track.percentage}}"
                                            [striped]="true" [animated]="true">
                                        </ngb-progressbar>
                                    </p>

                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-lg-6">
                                            <div class="btnSelectQuestions"
                                                (click)="goToSyllabus(trackSubject,section,track,j)">
                                                Select Syllabus</div>
                                            <!-- <div class="btnSelectQuestions" *ngIf="track.isSyllabusAdded == true"
                                                (click)="goToQuestions(track.uniqueId)">Select Questions</div> -->
                                        </div>
                                        <div class="col-lg-6 text-right m-b-0">
                                            <!-- <div class="btnEditCircle" ngbTooltip="Edit Syllabus"
                                                (click)="editTrackSyllbus(track.uniqueId,trackSubject.name, trackSubject.syllabusState, examTracks.testType, trackSubject.examAssignmentSubjectId)">
                                                <i class="fa fa-pen"></i> Edit
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #aca7a777;"></div>

            </div>
        </div>
        <div class="col-12" style="padding: 2% 4%;">
            <div class="lockBtn" style="float: right; margin-top: 5px;" type="submit" (click)="lockTrack()">Lock Track
                &nbsp; <i class="fas fa-unlock"></i>
            </div>
            <div class="cncelBtn" style="float: left; margin-top: 5px; margin-right: 10px;" type="submit"
                (click)="closeTrack()">Cancel</div>
        </div>

    </div>
</div>


<div class="viewSidePopup trackSyllabus px-0"
    [ngClass]="{'slideInLeft':!trackSyllabusPopup,'slideInRight':trackSyllabusPopup}" *ngIf="trackSyllabusPopup">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4>{{trackName}} Syllabus - {{subjectName}}</h4>
        </div>
    </div>
    <form [formGroup]="trackSyllabusForm">
        <div class="row mx-2 my-2" *ngIf="syllabusId==1 || syllabusId==3">
            <div class="col-12">
                <div class="form-group">
                    <label for="fname" class="w-100"><u> Please Select Track Syllabus for {{subjectName}}-
                            Imported</u></label>
                    <ng-select [items]="syllabusList" style="width: 50%;" [clearable]="false" [searchable]="false"
                        [multiple]="true" bindLabel="name" placeholder="Select syllabus" formControlName="syllabusIds"
                        bindValue="id" [closeOnSelect]="false" title="Select syllabus"
                        [ngClass]="{ 'is-invalid': submitted && trackSyllabusForm.controls.syllabusIds.errors }">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                <span class="ng-value-label"> {{item.name}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > 1">
                                <span class="ng-value-label">+{{items.length - 1}}</span>
                            </div>
                        </ng-template>
                    </ng-select>
                    <div *ngIf="submitted && trackSyllabusForm.controls.syllabusIds.errors" class="invalid-feedback">
                        <div *ngIf="trackSyllabusForm.controls.syllabusIds.errors.required">Please select syllabus</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-2 my-2" *ngIf="syllabusId==2 || syllabusId==3">
            <div class="col-12">
                <div class="form-group">
                    <label for="fname" class="w-100"><u> Please Select Track Syllabus for {{subjectName}}-
                            Created</u></label>
                    <span for="">Select Garde</span>
                    <div class="gradeContent mx-0">
                        <span class="course mr-2 d-inline-block">{{examTracks.courseDto.name}}</span>

                        <div class="checkbox checkbox-default d-inline-block mb-12 pr-1"
                            *ngFor="let grade of gradeList;let i=index;" [ngClass]="{'pl-2': i==0}">
                            <input id="{{grade.name}}" type="checkbox" [checked]="grade.isSelect"
                                (change)="checkgrade($event,i)">
                            <label for="{{grade.name}}">{{grade.name}} &nbsp;</label>
                        </div>
                        <div *ngIf="submitted && trackSyllabusForm.controls.grade.errors" class="invalid-feedback">
                            <div *ngIf="trackSyllabusForm.controls.grade.errors.required">Please select grade</div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-12" *ngIf="trackSyllabusForm.controls.grade.value!=''">
                <div class="row mx-0">
                    <div class="col-6 mb-2">
                        <label for="unit">Unit</label>
                        <ng-select [items]="unitList" [clearable]="false" [searchable]="false" bindLabel="name"
                            [multiple]="true" (change)="changeUnits($event)" placeholder="Select" formControlName="unit"
                            bindValue="id" title="Select"
                            [ngClass]="{ 'is-invalid': submitted && trackSyllabusForm.controls.unit.errors }">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && trackSyllabusForm.controls.unit.errors" class="invalid-feedback">
                            <div *ngIf="trackSyllabusForm.controls.unit.errors.required">Please select unit</div>
                        </div>
                    </div>
                    <div class="col-6 mb-2" *ngIf="trackSyllabusForm.controls.chapter">
                        <label for="unit">Chapter</label>
                        <ng-select [items]="chapterList" [clearable]="false" [searchable]="false" bindLabel="name"
                            [multiple]="true" (change)="changeChapters($event)" placeholder="Select"
                            formControlName="chapter" bindValue="id" title="Select"
                            [ngClass]="{ 'is-invalid': submitted && trackSyllabusForm.controls.chapter.errors }">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && trackSyllabusForm.controls.chapter.errors" class="invalid-feedback">
                            <div *ngIf="trackSyllabusForm.controls.chapter.errors.required">Please select chapter</div>
                        </div>
                    </div>
                    <div class="col-6 mb-2" *ngIf="trackSyllabusForm.controls.topic">
                        <label for="unit">Topic</label>
                        <ng-select [items]="topicList" [clearable]="false" [searchable]="false" bindLabel="name"
                            [multiple]="true" (change)="changeTopics($event)" placeholder="Select"
                            formControlName="topic" bindValue="id" title="Select"
                            [ngClass]="{ 'is-invalid': submitted && trackSyllabusForm.controls.topic.errors }">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && trackSyllabusForm.controls.topic.errors" class="invalid-feedback">
                            <div *ngIf="trackSyllabusForm.controls.topic.errors.required">Please select topic</div>
                        </div>
                    </div>
                    <div class="col-6 mb-2" *ngIf="trackSyllabusForm.controls.subTopic">
                        <label for="unit">Sub Topic</label>
                        <ng-select [items]="subTopicList" [clearable]="false" [searchable]="false" bindLabel="name"
                            [multiple]="true" placeholder="Select" formControlName="subTopic" bindValue="id"
                            title="Select"
                            [ngClass]="{ 'is-invalid': submitted && trackSyllabusForm.controls.subTopic.errors }">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && trackSyllabusForm.controls.subTopic.errors" class="invalid-feedback">
                            <div *ngIf="trackSyllabusForm.controls.subTopic.errors.required">Please select subtopic
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row buttons">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" (click)="goToQuetionBank()">Select Question</button>
    </div>
</div>
<!-- Select palnner -->
<div class="viewSidePopup trackSyllabus px-0"
    [ngClass]="{'slideInLeft':!isSelectPlanner,'slideInRight':isSelectPlanner}" *ngIf="isSelectPlanner">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4>Select Planner - {{subjectName}}</h4>
        </div>
    </div>
    <form [formGroup]="subjectCpFormGroup">
        <div class="row mx-3" style="padding: 3% 1%;color: black;">
            <div class="col-md-12" formArrayName="actualCoursePlanners">
                <div class="row mx-1" style="margin-top: 20px;"
                    *ngFor="let cp of subjectCpFormGroup.controls.actualCoursePlanners['controls'];let j=index;"
                    [formGroupName]="j">
                    <div class="col-md-4 checkbox checkbox-success form-check-inline pb-2" style="margin-bottom: 10px;">
                        <input type="hidden" name="isSelected" formControlName="isSelected">
                        <input type="checkbox" (change)="onClickCheckbox($event,cp,j)">
                        <label> {{cp.controls.name.value}} </label>
                    </div>
                    <div class="col-md-7" *ngIf="cp.controls.isSelected.value">
                        <ng-select [items]="cp.controls.syllabusCoursewise.value" bindLabel="name" bindValue="id"
                            [searchable]="false" [multiple]="true" formControlName="selectedSyllabus"
                            [clearable]="false" style="padding-right: 20px;" placeholder="Select"
                            [closeOnSelect]="false" (change)="changeCpSyllabus($event)">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-3" style="padding: 3% 2%; color: black;">
            <div class="col-md-6">
                <div class="checkbox checkbox-success form-check-inline pb-1">
                    <input type="checkbox" (change)="onSelectionChangeRemark($event,'demoCheckRem')">
                    <label>Add Remark </label>
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-12">
                <textarea id="demoCheckRem" style="padding: 2px 10px;" (change)="changeRemarks($event)"
                    formControlName="remarks" class="form-control textarea-card isHideOptionalRem w-100"
                    rows="3"></textarea>
            </div>
        </div>
    </form>
    <div class="row buttons">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" (click)="saveSyllabus()">Save</button>
    </div>
</div>

<div *ngIf="toQuestion">

    <app-question-bank [questionData]="questionData" [selectedTrack]='selectedTrack'
        (closeQuestionBank)="closeQuestion($event)">
    </app-question-bank>
</div>
<div *ngIf="editTrack">

    <app-add-tracks [examUid]="examUid" [isEditTrack]="true" [trackData]="editTrack"
        (closeFromTrackInfo)="closeEditTrack($event)"></app-add-tracks>
</div>
<ng-template #confirmModal let-modal="close">
    <div class="modal-header">
        <h4 class="modal-title">Do you want to lock exam track ?</h4>
        <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="lockTrack()"
            (click)="modal('Cross click')">Yes</button>
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"
            (click)="modal('Cross click')">No</button>
    </div>
</ng-template>

<ng-template #confirmModal1 role="document" let-modal="close">
    <div class="modal-header" style="background-color: #0091ff;">
        <h4 class="modal-title text-white">Lock Track</h4>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="form-group row mb-12" style="margin-top: 5px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label for="">Do you want to lock exam track ?</label>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                                        (click)="modal('Cross click')">Close</button></div>
                                <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                                        style="float: right;" (click)="lockTrack()"
                                        (click)="modal('Cross click')">Yes</button></div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>