.customCardCss {
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
    padding: 1% 1%;
}

.border-box {
    border: 1px solid #3d3a5836;
    padding: 1% 4%;
    color: #413f4cad;
    border-radius: 2px;
}

::ng-deep .progress {
    display: flex;
    height: 8px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecefa8;
    border-radius: 0.25rem;
}
.btn-save {
    width: 145px;
    cursor: pointer;
}
.btn-cancel {
    width: 135px;
    cursor: pointer;
}
.trackSyllabus {
    width: 47% !important;
    top: 50px;
    padding-top: 0px;
}

.customCardCssTrack {
    border-radius: 4px;
    // box-shadow: 1px 0 1px 2px #98989812;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4%;
}

.btnSelectQuestions {
    border: 1px solid #0091ff;
    padding: 5px 16px;
    color: #0091ff;
    cursor: pointer;
    width: 141px;
    border-radius: 2px;
    background: #0091ff1f;
}
.btnSelectQuestions:hover {
    background-color: #0091ff;
    color: white;
}
.btnEditCircle {
    border: 1px solid #0091ff;
    padding: 5px 13px;
    color: #0091ff;
    cursor: pointer;
    width: 75px;
    border-radius: 2px;
    background: #0091ff1f;
    float: right;
}

.btnEditCircle:hover {
    color: white;
    background: #0091ff;
}

.lockBtn {
    background-color: #0091ff;
    color: white;
    border-radius: 2px;
    padding: 0% 2%;
    height: 39px;
    display: flex;
    align-items: center;
}
.cncelBtn {
    background-color: #ffffff;
    color: var(--newApp-color);
    border: 1px solid var(--newApp-color);
    border-radius: 2px;
    padding: 0% 2%;
    height: 39px;
    display: flex;
    align-items: center;
}

.invigilatorCloseBtn {
    width: 115px;
    height: 36px;
    border: 1px solid #0091ff;
    color: #0091ff;
}
.invigilatorCloseBtn:hover {
    background-color: #0091ff;
    color: white;
}
.popupHeading {
    background-color: #afafaf31;
    height: 50px;
}
.popupHeading h4 {
    font-weight: 600;
}
.trackSyllabus label {
    width: 100%;
}
.subjectBox {
    border: 1px solid #dfdfdf;
    padding: 6px;
    margin: 10px 30px !important;
}
.teacherDto {
    border: 1px solid #dfdfdf;
    padding: 5px 8px;
}
.teacherDto img {
    border-radius: 50%;
}
.borderbottom {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}
.subjectBox p:first-child {
    padding-left: 15px;
    color: rgb(37, 37, 37);
}
.buttons {
    position: relative;
    right: 25px;
    float: right;
    margin-bottom: 12px;
}
.checkbox label {
    display: inline-block !important;
}
.course {
    color: var(--success);
    background-color: var(--successbg);
    border: 1px solid var(--success);
}
.gradeContent .checkbox label::before {
    border-color: var(--main-color);
}
.gradeContent .checkbox input[type="checkbox"]:checked + label::after {
    border-color: var(--main-color);
}
.gradeContent .checkbox label::after {
    color: var(--main-color);
}
.invalid-feedback {
    display: block;
}
.isHideOptionalRem {
    display: none;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: var(--newApp-color);
    border-color: var(--newApp-color);
}
