$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
@import "../../../../../assets/scss/custom/components/common-component";
.container-fluid {
    background-color: white;
}
#headertabs {
    width: 94% !important;
    padding-top: 10px !important;
    height: 55px !important;
    position: relative !important;
    margin: 0px auto 5px !important;
}
#headertabs .nav-tabs .nav-link.active {
    color: var(--newApp-color) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border: 0px !important;
}
#headertabs .nav-tabs .nav-link {
    color: #3e3e3e !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
#headertabs .nav-item {
    width: 13% !important;
}
#headertabs .tab-content {
    padding: 2px 0 0 0;
}
.card-body {
    padding: 0.2rem 0rem;
}
.w-48 {
    width: 31%;
}
.w-35 {
    width: 35%;
}
.nav-item.dropdown {
    width: 12%;
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 0px;
    border-left: 1px solid #e4e4e4;
}
.nav-item.dropdown a {
    color: #3d3d3d;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 25px;
}
.table-header label.col-form-label {
    color: #3d3d3d;
    font-weight: 600;
    height: 50px;
    padding: 12px 0px 0px 3px;
    font-size: 18px;
    vertical-align: middle;
}
.table-header .btn.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.table-header .btn.bulkAssign {
    border: 1.6px solid var(--newApp-color);
    border-radius: 3px;
    height: 40px;
    margin-right: 0px;
    padding: 0rem 0.6rem;
    margin-top: 3px;
    background-color: var(--newApp-color) !important;
    color: #fff !important;
}
.table-header .bulkAssign .fa {
    color: #fff !important;
}
.table-header input {
    height: 40px;
    border-color: #7c7b98;
    margin-top: 3px;
}
.table-header .fa-filter {
    color: var(--newApp-color);
    border: 1px solid var(--newApp-color);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 12px;
    padding: 5px;
    cursor: pointer;
}
.table-header .fa-search {
    color: #a9a9a9;
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 5px;
}
.table-header .fa-plus {
    margin-right: 5px;
}
.table-header .col-sm-1 {
    -webkit-box-flex: 0;
    flex: 0 0 10%;
    max-width: 10%;
}
.table-header .col-sm-1.quickAdd {
    -webkit-box-flex: 0;
    flex: 0 0 12.333333%;
    max-width: 12.333333%;
    padding: 0px;
}
.quickAdd .btn {
    padding: 0rem 0.2rem !important;
    width: 130px;
    background-color: #E2F0FD;
    // border: 1.6px solid var(--newApp-color);
    border-radius: 3px;
    height: 40px;
    margin-right: 0px;
    padding: 0rem 0.6rem;
    margin-top: 3px;
    color: #9FA6AF !important;
}
.dropdownModal {
    flex: 0 0 63.6%;
    max-width: 63.6%;
    pointer-events: fill;
    padding-left: 10px;
}
.periodTab .dropdownModal {
    flex: 0 0 67.6%;
    max-width: 67.6%;
}
.table-header .col-sm-2 {
    flex: 0 0 14%;
    max-width: 14%;
}
.quickAdd .fa-chevron-down {
    // border-left: 1px solid #cccccc;
    // padding-left: 10px;
    margin-left: 10px;
    height: 30px;
    vertical-align: middle;
    padding-top: 8px;
}
hr {
    border-color: #e6e6e6 !important;
    margin-top: 0.7rem !important;
}
.btn-apply,
.btn-cancel {
    width: 125px;
    height: 35px;
    border-radius: 0px;
    padding: 0px !important;
}
.btn-cancel {
    background-color: white;
    border: none;
    color: #3d3d3d;
    padding: 8px 10px;
    font-size: 17px;
    cursor: pointer;
}
.fiterForm label {
    font-weight: 500;
    font-size: 13px;
    color: #5a5a5a;
    margin-bottom: 3px;
}
.fiterForm .col-lg-3 {
    flex: 0 0 22%;
    max-width: 22%;
}
ng-select.ng-select-single ::ng-deep .ng-select-container {
    height: 40px;
}
.createShiftForm {
    top: 130px;
    width: 48%;
}
.bulkAssignForm {
    top: 60px;
    width: 49%;
}
.createPeriodForm {
    width: 25% !important;
    top: 130px;
}
.card {
    min-height: 98vh;
}
#tabs .nav-tabs .nav-link {
    color: #3e3e3e !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
.setting {
    display: flex;
    margin-top: 2px;
    height: 43px;
    flex: 0 0 8.3333333333% !important;
    max-width: 8.3333333333% !important;
}
.setting .btn {
    color: #3d3d3d;
    border: 1px solid #7c7b98;
}
.addMainBtn{
    color: #0091ff;
   
    height: 40px;
    text-align: center;
    padding: 9px 0;
   
    border-radius: 3px;
    border: 1px solid #0091ff;
    cursor: pointer;
  }

.addMainBtn:hover{
    background-color: #0091ff;
    color: white;
}

.templete-category{
    width:15%; margin-right: 15px;
}

.align-center{
    text-align: center;
}

.button-group{
    display: flex;
    justify-content:space-between;
}

//form style

.addTempleteForm{
    position: absolute;
    background-color: white;
    top: 46px;
    width: 21%;
    right: 0;
    z-index: 1;
    pointer-events: fill;
  }
    
  .button:hover{
    background-color: var(--newApp-color);
    color: white !important;
  }

  .btnsave{
    background-color: var(--newApp-color);
    color: white !important;
  }

  .btncancle{
    background-color: white;
    color: var(--newApp-color) !important;
  }
  
  .button{
      border: 1px solid var(--newApp-color);
      text-align: center;
      padding: 13px 42px;
      cursor: pointer;
  }
  
  .formStyle{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    position: relative;
    top: 0px;
    box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
    -webkit-box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
    -moz-box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
  }
  .formStyle .col-lg-2{
    padding-left: 7px;
    padding-right: 7px;
  }
  .formStyle .col-lg-1:first-child{
    flex: 0 0 1.3333333333%;
    max-width: 0.333333%;
  }
  .formStyle .form-control{
    padding: 0.35rem 0.5rem;
  }
  
  .formStyle .form-group label{
    color: var(--secondary);
    margin-bottom: 5px;
  }
  
   hr.add-templete{
       margin-left: -20px;
       margin-right: -20px;
   }

//    @import "../../../../../assets/scss/custom/components/common";



   .closeQuickForm{
       margin-left: auto;
       top: 0px;
       background-color: #F7A890;
       float: right;
       font-size: 15px;
       font-weight: 400;
       line-height: 1;
       color: white;
       text-shadow: none;
       border: none;
       position: relative;
       right: 10px;
       height: 20px;
       padding-bottom: 3px;
       width: 20px;
       border-radius: 15px;
       cursor: pointer;
       z-index: 1;
   }



//compose communication start
   .card {
    min-height: 93vh;
  }
  .card.stack-top {
    min-height: 100%;
    position: fixed;
    width: 66.4%;
  }
   
.emptyTable {
    overflow: initial !important;
  }
  .stack-back {
    opacity: 0.5;
    pointer-events: none;
    height: 93vh;
  }
  .stack-top {
    padding: 0px !important;
    // width: 75%;
    width: 78% !important;
    height: 100%;
    position: absolute;
    // float: right;
    top: 0;
    // right: 0;
    opacity: 1;
    z-index: 1050;
    pointer-events: fill !important;
    overflow-y: scroll;
  }
  input.form-control:focus,
  input.form-control:focus ~ .input-group-append .input-group-text {
    border-color: var(--newApp-color);
  }
  
  .stack-top {
    /* for chrome and safari*/
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slidein;
  
    /*for firefox*/
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;
  
    /* for opera*/
    -o-animation-duration: 1s;
    -o-animation-name: slidein;
  
    /* Standard syntax*/
    animation-duration: 1s;
    animation-name: slidein;
    margin-left: 19%;
    right: 0;
  }
  
  @-webkit-keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 19%;
    }
  }
  
  @-moz-keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 19%;
    }
  }
  @-o-keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 19%;
    }
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 19%;
    }
  }
  .table-user .btn-className.primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    background-color: var(--primarybg) !important;
  }
  .table-user .btn-className.info {
    color: var(--info) !important;
    border-color: var(--info) !important;
    background-color: var(--infobg) !important;
  }
  .table-user .btn-className.success {
    color: var(--success) !important;
    border-color: var(--success) !important;
    background-color: var(--successbg) !important;
  }
  .table-user .btn-className.warning {
    color: var(--warning) !important;
    border-color: var(--warning) !important;
    background-color: var(--warningbg) !important;
  }
  .table-user .btn-className.danger {
    color: var(--danger) !important;
    border-color: var(--danger) !important;
    background-color: var(--dangerbg) !important;
  }
  .table .table-user .btn-orgName {
    color: #fca54d;
    border-color: #fca54d;
    background-color: #fca54d1a !important;
  }
  .backdrop.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #323a46;
    opacity: 0.5;
    pointer-events: none !important;
  }
  .quickForm-back {
    pointer-events: none;
  }
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: var(--newApp-color);
    border-color: var(--newApp-color);
  }
  @media screen and (min-width: 1480px) {
    .card.stack-top {
      width: 70%;
    }
  }

  //compose communication end

  #dropdownBasic.dropdown-toggle::after { border: none; }