<div class="container-fluid px-0">
    <div class="card" [ngClass]="{'stack-back':isAddNew || isBulkAssign}">
        <div class="card-body">
            <section id="headertabs" [ngClass]="{'stack-back':isViewShift}">
                <nav>
                    <div class="nav nav-tabs " id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==1 && !viewDetails}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(1)">LEARNER</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==2 && !viewDetails}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(2)">EDUCATOR</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==3 && !viewDetails}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(3)">ORGANIZATION</a>
                        <a *ngIf="viewDetails" class="nav-item nav-link active" id="nav-basic-tab"
                            data-toggle="tab" role="tab" aria-selected="true">REPORT</a>
                        <div [ngClass]="viewDetails ? 'w-35' : 'w-48'"></div>
                        <div *ngIf="!viewDetails" class="templete-category">
                            <div class="addMainBtn" (click)="addTempleteCategory()"><span>Add Template Category</span></div>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">More <i
                                    class="fas fa-chevron-down" aria-hidden="true"></i></a>

                        </div>
                    </div>
                </nav>
            </section>
            <div *ngIf="tabNumber==1">
                <div *ngIf="!viewDetails" [ngClass]="{'stack-back':isViewShift}">
                    <div class="row ml-2 mt-3">
                        <div class="card-body">
                            <div class="row mb-1 ml-2 table-header">
                                <!-- Search -->
                                <div class="col-sm-1">
                                    <label for="staticEmail" class=" col-form-label">Learners</label>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn bulkAssign" (click)="compose()">&nbsp;Compose&nbsp;</button>
                                </div>
                                <div class="col-sm-9 dropdownModal">
                                    <input type="text" name="searchTerm" class="form-control"
                                        (input)="findRecords($event.target.value)"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"
                                        placeholder="Search" aria-controls="tickets-table">
                                    <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"></i>
                                </div>
                                <div ngbDropdown class="col-sm-1 quickAdd dropdown">
                                    <button class="btn" id="dropdownBasic" ngbDropdownToggle>Date Range<i class="fas fa-chevron-down" aria-hidden="true"></i></button>
                                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic">
                                        <button style="border-bottom:1px solid rgb(226, 225, 225);" ngbDropdownItem>Specific Time Range</button>
                                        <button ngbDropdownItem>Last 7 Days</button>
                                        <button ngbDropdownItem>Last 14 Days</button>
                                        <button ngbDropdownItem>Last 30 Days</button>
                                        <button ngbDropdownItem>Last 3 Months</button>
                                        <button ngbDropdownItem>Last 6 Months</button>
                                        <button ngbDropdownItem>Last Year</button>
                                    </div>
                                </div>
                                <!-- End search -->
                            </div>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <div [ngClass]="{'fadeInUp':!isShowfilter,'fadeInDown':isShowfilter}" *ngIf="isShowfilter">
                        <div class="fiterForm mx-4">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Shift Type</label>
                                        <ng-select [items]="shiftTypeList" class="custom1" bindLabel="name"
                                            bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                            placeholder="Select" [searchable]="false" (change)="onChange(1)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Days</label>
                                        <ng-select [items]="workingDayList" class="custom1" bindLabel="day"
                                            bindValue="dayValue" [multiple]="false" [closeOnSelect]="true"
                                            [clearable]="false" placeholder="Select" [searchable]="false"
                                            (change)="onChange(1)"></ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Teacher</label>
                                        <ng-select [items]="teacherList" class="custom1" bindLabel="name" bindValue="id"
                                            [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                            placeholder="Select" [searchable]="false" (change)="onChange(1)">
                                        </ng-select>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <button class="btn btn-apply btn-filled" (click)="applyFilter()">Apply</button>
                                    <button class="btn btn-cancel" (click)="closeFilter()">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <app-message-list (isViewDetails)="isViewDetails($event)"></app-message-list>
                <div class="backdrop" [ngClass]="{'show':composeClicked}"></div>
                <div class="card pt-4 stack-top" *ngIf="composeClicked">
                    <span style="padding: 30px 28px 0px 35px;">
                        <b>Compose Communication</b>
                        <button type="button" class="closeQuickForm" (click)="closeCompose()" aria-label="Close">x</button>
                    </span>
                    <app-compose></app-compose>
                </div>
            </div>
            <div *ngIf="tabNumber==2">
                <div *ngIf="!viewDetails" [ngClass]="{'stack-back':isViewShift}">
                    <div class="row ml-2 mt-3">
                        <div class="card-body">
                            <div class="row mb-1 ml-2 table-header">
                                <!-- Search -->
                                <div class="col-sm-1">
                                    <label for="staticEmail" class=" col-form-label">Educators</label>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn bulkAssign" (click)="compose()">&nbsp;Compose&nbsp;</button>
                                </div>
                                <div class="col-sm-9 dropdownModal">
                                    <input type="text" name="searchTerm" class="form-control"
                                        (input)="findRecords($event.target.value)"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"
                                        placeholder="Search" aria-controls="tickets-table">
                                    <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"></i>
                                </div>
                                <div ngbDropdown class="col-sm-1 quickAdd dropdown">
                                    <button class="btn" id="dropdownBasic" ngbDropdownToggle>Date Range<i class="fas fa-chevron-down" aria-hidden="true"></i></button>
                                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic">
                                        <button style="border-bottom:1px solid rgb(226, 225, 225);" ngbDropdownItem>Specific Time Range</button>
                                        <button ngbDropdownItem>Last 7 Days</button>
                                        <button ngbDropdownItem>Last 14 Days</button>
                                        <button ngbDropdownItem>Last 30 Days</button>
                                        <button ngbDropdownItem>Last 3 Months</button>
                                        <button ngbDropdownItem>Last 6 Months</button>
                                        <button ngbDropdownItem>Last Year</button>
                                    </div>
                                </div>
                                <!-- End search -->
                            </div>
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
                <app-message-list (isViewDetails)="isViewDetails($event)"></app-message-list>
                <div class="backdrop" [ngClass]="{'show':composeClicked}"></div>
                <div class="card pt-4 stack-top" *ngIf="composeClicked">
                    <span style="padding: 30px 28px 0px 35px;">
                        <b>Compose Communication</b>
                        <button type="button" class="closeQuickForm" (click)="closeCompose()" aria-label="Close">x</button>
                    </span>
                    <app-compose></app-compose>
                </div>
            </div>
            <div *ngIf="tabNumber==3">
                <div *ngIf="!viewDetails" [ngClass]="{'stack-back':isViewShift}">
                    <div class="row ml-2 mt-3">
                        <div class="card-body">
                            <div class="row mb-1 ml-2 table-header">
                                <!-- Search -->
                                <div class="col-sm-1">
                                    <label for="staticEmail" class=" col-form-label">Organization</label>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn bulkAssign" (click)="compose()">&nbsp;Compose&nbsp;</button>
                                </div>
                                <div class="col-sm-9 dropdownModal">
                                    <input type="text" name="searchTerm" class="form-control"
                                        (input)="findRecords($event.target.value)"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"
                                        placeholder="Search" aria-controls="tickets-table">
                                    <i class="fas fa-filter" id="dropdownForm1" (click)="openFilter()"
                                        [ngClass]="{'stack-back':isViewShift || isAddNew || isBulkAssign}"></i>
                                </div>
                                <div ngbDropdown class="col-sm-1 quickAdd dropdown">
                                    <button class="btn" id="dropdownBasic" ngbDropdownToggle>Date Range<i class="fas fa-chevron-down" aria-hidden="true"></i></button>
                                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic">
                                        <button style="border-bottom:1px solid rgb(226, 225, 225);" ngbDropdownItem>Specific Time Range</button>
                                        <button ngbDropdownItem>Last 7 Days</button>
                                        <button ngbDropdownItem>Last 14 Days</button>
                                        <button ngbDropdownItem>Last 30 Days</button>
                                        <button ngbDropdownItem>Last 3 Months</button>
                                        <button ngbDropdownItem>Last 6 Months</button>
                                        <button ngbDropdownItem>Last Year</button>
                                    </div>
                                </div>
                                <!-- End search -->
                            </div>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <div [ngClass]="{'fadeInUp':!isShowfilter,'fadeInDown':isShowfilter}" *ngIf="isShowfilter">
                        <div class="fiterForm mx-4">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Shift Type</label>
                                        <ng-select [items]="shiftTypeList" class="custom1" bindLabel="name"
                                            bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                            placeholder="Select" [searchable]="false" (change)="onChange(1)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Days</label>
                                        <ng-select [items]="workingDayList" class="custom1" bindLabel="day"
                                            bindValue="dayValue" [multiple]="false" [closeOnSelect]="true"
                                            [clearable]="false" placeholder="Select" [searchable]="false"
                                            (change)="onChange(1)"></ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="shftType">Teacher</label>
                                        <ng-select [items]="teacherList" class="custom1" bindLabel="name" bindValue="id"
                                            [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                            placeholder="Select" [searchable]="false" (change)="onChange(1)">
                                        </ng-select>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <button class="btn btn-apply btn-filled" (click)="applyFilter()">Apply</button>
                                    <button class="btn btn-cancel" (click)="closeFilter()">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <app-message-list (isViewDetails)="isViewDetails($event)"></app-message-list>
                <div class="backdrop" [ngClass]="{'show':composeClicked}"></div>
                <div class="card pt-4 stack-top" *ngIf="composeClicked">
                    <span style="padding: 30px 28px 0px 35px;">
                        <b>Compose Communication</b>
                        <button type="button" class="closeQuickForm" (click)="closeCompose()" aria-label="Close">x</button>
                    </span>
                    <app-compose></app-compose>
                </div>
            </div>
        </div>
        <!-- create communication form -->
    </div>
</div>

<!-- add templete form start -->
<div class="addTempleteForm"
    [ngClass]="{'slideInLeft':!isShowcreateTempleteForm,'slideInRight':isShowcreateTempleteForm} "
    *ngIf="isShowcreateTempleteForm">
    <div class="formStyle">
        <h4 class="align-center"><b>Create Template Category</b></h4>
        <hr class="add-templete">
        <form [formGroup]="createTempleteForm" class="mt-3">
            <!-- <pre>{{createTempleteForm.value | json}}</pre> -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="fname">Category Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="fname">Template Module</label>
                            <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Select"
                                [searchable]="false" formControlName="" bindLabel="name" bindValue="id"
                                formControlName="type">
                                <ng-option *ngFor="let type of classType;" [value]="type.id">{{type.name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4 button-group">
                        <div class="form-group">
                            <span class="button btncancle" (click)="closeCreateTempleteForm()">
                                Close
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="button btnsave">
                                Save
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- add templete form end -->
