<app-common-exam-header></app-common-exam-header>

<div class="card customCardCss">
  <div class="row" style="padding: 2%;border-bottom: 1px solid #80808073;">
    Select Questions
  </div>
  <div class="row" *ngIf="examTracks != null && examTracks != 'undefined'">
    <div class="col-12" style="padding: 0;">
      <div *ngFor="let trackSubject of examTracks.subjects">
        <div class="col-12" style="padding: 2% 4%;">
          <div>
            <div style="padding: 1% 0 2% 0;"><i class="fab fa-react" style="font-size: 20px;"></i>&nbsp;
              {{trackSubject.name}}</div>
              <div class="row">
                <div class="col-lg-6" *ngFor="let track of trackSubject.trackList; let i = index;">
                  <div class="card customCardCssTrack">
                    <div class="col-lg-6" style="padding-left: 0;">
                      <span class="border-box">Track {{i+1}}</span>
  
                  </div>
                  <div class="row" style="margin-top: 20px;margin-bottom: 3px;">
                    <div class="col-lg-6">
                        <span>Questions</span>
                    </div>
                    <div class="col-lg-6 text-right m-b-0">
                        <span>{{track.questionEntered}} / {{track.noOfQuestions}}
                        </span>
                    </div>
                </div>
                <p>
                    <ngb-progressbar class="primary" value="{{track.percentage}}" [striped]="true"
                        [animated]="true">
                    </ngb-progressbar>
                </p>
  
                <div class="row" style="margin-top: 20px;">
                  <div class="col-lg-6">
                    <div class="btnSelectQuestions" *ngIf="track.isSyllabusAdded == false" (click)="goToSyllabus(track.uniqueId,trackSubject.name, trackSubject.syllabusState, examTracks.testType, trackSubject.examAssignmentSubjectId)">Select Syllabus</div>
                    <div class="btnSelectQuestions" *ngIf="track.isSyllabusAdded == true" (click)="goToQuestions(track.uniqueId)">Select Questions</div>
                  </div>
                  <div class="col-lg-6 text-right m-b-0">
                    <div class="btnEditCircle" ngbTooltip="Edit Syllabus" *ngIf="track.isSyllabusAdded == true" (click)="editTrackSyllbus(track.uniqueId,trackSubject.name, trackSubject.syllabusState, examTracks.testType, trackSubject.examAssignmentSubjectId)"><i class="fas fa-edit" style="margin-left: -5px;"></i></div>
                   </div>
                 
              </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div style="border-bottom: 1px solid #aca7a777;"></div>
       
      </div>
    </div>
    <div class="col-12" style="padding: 2% 4%;">
      <div class="lockBtn" style="float: right; margin-top: 5px;" type="submit" (click)="openModal(confirmModal)" >Lock Track &nbsp; <i class="fas fa-unlock"></i>
      </div>
  </div>

</div>


<ng-template #confirmModal let-modal="close">
  <div class="modal-header">
      <h4 class="modal-title">Do you want to lock exam track ?</h4>
      <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="lockTrack()"
          (click)="modal('Cross click')">Yes</button>
      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"
          (click)="modal('Cross click')">No</button>
  </div>
</ng-template>

<ng-template #confirmModal role="document" let-modal="close">
  <div class="modal-header" style="background-color: #0091ff;">
      <h4 class="modal-title text-white">Lock Track</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
          <div>
              <div class="row">
                  <div class="col-lg-12">
                     
                      <div class="form-group row mb-12" style="margin-top: 5px;">
                        <div class="col-md-2"></div>
                          <div class="col-md-8">
                            <label for="">Do you want to lock exam track ?</label>
                          </div>
                          <div class="col-md-2"></div>
                      </div>
                      <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" (click)="modal('Cross click')">Close</button></div>
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" style="float: right;" (click)="lockTrack()" (click)="modal('Cross click')">Yes</button></div>
                          </div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
</ng-template>