.customCardCss{
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
    padding: 1% 1%;
  }

.border-box{
    border: 1px solid #3d3a58e8;
    padding: 3% 8%;
    background-color: #3d3a58e8;
    color: white;
    border-radius: 3px;
}

::ng-deep .progress {
    display: flex;
    height: 8px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecefa8;
    border-radius: 0.25rem;
}


.customCardCssTrack{
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
    padding: 5% 4%;
  }

.btnSelectQuestions{
    border: 1px solid #0091ff;
    padding: 8px 16px;
    color: #0091ff;
    cursor: pointer;
    width: 141px;
    border-radius: 3px;
}  
.btnSelectQuestions:hover{
    background-color: #0091ff;
    color: white;
}
.btnEditCircle{
    border: 1px solid #0091ff;
    padding: 8px 17px;
    color: #0091ff;
    cursor: pointer;
    width: 39px;
    border-radius: 36px;
    background: #0091ff1f;
    float: right;
}

.btnEditCircle:hover{
    color: white ;
    background: #0091ff;
}

.lockBtn{
    background-color: #0091ff;
    color: white;
    border-radius: 2px;
    padding: 1% 2%;
    height: 36px;
}

.invigilatorCloseBtn{
    width: 115px;
    height: 36px;
    border: 1px solid #0091ff;
    color: #0091ff;
  }
  .invigilatorCloseBtn:hover{
    background-color: #0091ff;
    color: white;
  }