<div class="row" style="margin-bottom: 18px;">
  <div class="col-md-2" style="text-align: center;padding-top: 9px;">
    <label style="color: #0091ff;">
      Academic Session</label>
  </div>
  <div class="col-md-7 searchBar">
    <div style="display: flex;">
      <input type="text" class="form-control" placeholder="Search & Filter"
        style="border: none;height: 35px !important;">
      <!-- <i class="fa fa-sliders" style="font-size: 18px;color: #80808057;margin-top: 8px;" aria-hidden="true"></i> -->
      <i class="fas fa-sliders-h" style="font-size: 18px;color: #80808057;margin-top: 8px;cursor: pointer;"></i>
    </div>

  </div>

  <div class="col-md-3">
    <div class="addMainBtn" (click)="isAddAcademicSession()"><i class="fas fa-plus"></i> &nbsp;<span>Academic
        Session</span></div>
  </div>
</div>

<div class="addAcademicYearForm"
  [ngClass]="{'slideInLeft':!isShowAcademicSessionForm,'slideInRight':isShowAcademicSessionForm} "
  *ngIf="isShowAcademicSessionForm">
  <button type="button" class="closeAcademicYearForm" (click)="closeAcademicSessionForm()" aria-label="Close">x</button>
  <div class="formStyle">
    <form [formGroup]="sessionForm">

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="fname">Name</label>
              <i style="color: tomato;">* </i>
              <input type="text" class="form-control" formControlName="name" #name maxlength="20">
              <p class="badge position-absolute inputBoxCount"
                [ngClass]="{'badge-blue': name.value.length !== 20,'badge-danger': name.value.length == 20}">
                {{ name.value.length }} / 20</p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="lname">Start Date</label>
              <i style="color: tomato;">* </i>
              <div class="input-group">
                <input [owlDateTimeTrigger]="dt1"
                  style="border-right: hidden;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                  class="form-control" [owlDateTime]="dt1" formControlName="startDate"
                    > <!--(ngModelChange)="onDateChange($event)"-->
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                <div class="input-group-append">
                  <span class="input-group-text" style="background-color: white;border-left: hidden;">
                    <i class="far fa-calendar"></i>
                  </span>
                </div>
              </div>

              <div *ngIf="sessionForm.controls.startDate.errors?.required" class="invalid-feedback">
                <div *ngIf="sessionForm.controls.startDate.errors?.required"> Start Date is required</div>
              </div>
            </div>
          </div>


          <div class="col-lg-12">
            <div class="form-group">
              <label for="lname">End Date</label>
              <i style="color: tomato;">* </i>
              <div class="input-group">
                <input [owlDateTimeTrigger]="dt2"
                  style="border-right: hidden;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                  class="form-control" [owlDateTime]="dt2" formControlName="endDate">
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                <div class="input-group-append">
                  <span class="input-group-text" style="background-color: white;border-left: hidden;">
                    <i class="far fa-calendar"></i>
                  </span>
                </div>
              </div>


              <div *ngIf="sessionForm.controls.endDate.errors?.required" class="invalid-feedback">
                <div *ngIf="sessionForm.controls.endDate.errors?.required"> Start Date is required</div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group" *ngIf="isEdit==true">
              <span style="cursor: pointer;color: red;display: flex;" (click)="openConfirm(content)">
                <div class="removeBtn"> <i class="fa fa-times" style="font-size: 11px;" aria-hidden="true"></i></div>
                &nbsp;remove
              </span>
            </div>
          </div>
          <div class="col-lg-12" style="display: flex;margin-top: 10px;">
            <div class="form-group" *ngIf="isEdit==false" style="display: none;">
              <div class="addandsave" (click)="saveAcademicSession()" ngbTooltip="Save & Add More"><i
                  class="fas fa-plus"></i></div>
            </div>
            <div class="form-group" *ngIf="isEdit==true">
              <div class="Close" (click)="closeAcademicSessionForm()" ngbTooltip="Close"><i class="fa fa-times"></i>
              </div>
            </div>
            <div class="form-group" *ngIf="isEdit==false" style="margin-left: 48%;margin-top: 9px;">
              <span class="submitBtn" (click)="saveAcademicSession(); closeAcademicSessionForm()">
                Submit & Close
              </span>
            </div>
            <div class="form-group" *ngIf="isEdit==true" style="margin-left: 54%;margin-top: 9px;">
              <span class="submitBtn" (click)="updateAcademicSession(); closeAcademicSessionForm()">
                Edit & Close
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="row" style="margin-left: 3%;">

  <div class="card" style="margin-right: 1%;" *ngFor="let data of academicSession;let i=index;">
    <div class="cardHeading">
      <div class="row marlr0">
        <div class="col-2 paddl0" style="margin-top: 4px;">
          <span class="eduBox"><i class="fas fa-user-graduate" style="font-size: 16px;"></i></span>

        </div>
        <div class="col-6 paddl0" >
          <div class="row" style="margin-left: -2px;font-weight: 600;" ngbTooltip={{data.name}}>{{data.name | truncateText: 12}}</div>
          <div class="row headingTitle">Name</div>
        </div>
        <!-- <div class="col-2 mlmt">
               <span class="deleteBox" (click)="openConfirm(content)">
                 <i class="fas fa-trash" style="color: #ff0800;"></i>
               </span>
               
             </div> -->
        <div class="col-4 mlmt paddr0">
          <span class="editBox" (click)="editSession(data)" ngbTooltip="Save & Add More">
            <i class="fa fa-pen" style="color: #0091ff;"></i> Edit
          </span>
        </div>

      </div>

      <div class="row marlr0" style="margin-top: 25px;">
        <div class="col-1 paddl0">
          <span><i class="far fa-calendar" style="color: #0091ff;"></i></span>
        </div>
        <div class="col-5 paddl0">
          <div class="row dateLabel">{{data.startDate}}</div>
          <div class="row headingTitle">Start Date</div>
        </div>
        <div class="col-2">

        </div>
        <div class="col-1 paddl0">
          <span><i class="far fa-calendar" style="color: #0091ff;"></i></span>
        </div>
        <div class="col-3 paddl0">
          <div class="row dateLabel">{{data.endDate}}</div>
          <!-- <div class="row" >{{data.endDate | date:'shortDate'}}</div> -->
          <div class="row headingTitle">End Date</div>
        </div>

      </div>
      <div class="row marlr0" style="margin-top: 25px;">
        <div *ngFor="let year of data.academicYearsDtoList;let j=index;">
          <div *ngIf="j==0" style="display: flex;">
            <span style="margin-right: 10px;">
              <span class="acdemicYearBox">{{year.itemName}} {{year.startDate | date:'mediumDate'}} - {{year.endDate |
                date:'mediumDate'}}</span>
            </span>
            <span>
              <span class="acdemicYearCount" *ngIf="data.academicYearsDtoList.length > 1">
                +{{data.academicYearsDtoList.length - 1}}
              </span>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- 
 <ng-template #duplicateModal let-modal="close">
  <div class="modal-header">
      <h4 class="modal-title">
          <i class="fas fa-business-time"> </i> Duplicates not allowed?</h4>
      <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
          <p style="color: red;">Start date and end date should not be same for academic calendars.</p> 
      <table class="table table-centered mb-0">
          <thead>
              <tr style="background: #0071BD;color:white;">
                  <th>Name</th>
                  <th>Start date</th>
                  <th>End date</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let duplicateRecord of duplicateRecords;let j=index;">
                  <td>{{ duplicateRecord.name }}</td>
                  <td style="color: red;">{{ duplicateRecord.startDateToShow }}</td>
                  <td style="color: red;">
                      {{ duplicateRecord.endDateToShow }}
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" (click)="closeDuplicateModal()">Ok</button>
  </div>
  </ng-template> -->

<ng-template #content role="document" let-modal="close">

  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-lg-12">

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
              <h3>Are you sure?</h3>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="form-group row mb-12">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
              <label class="deleteModal">You want remove the Academic Session?</label>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mb-12" style="margin-bottom: 26px;margin-top: 26px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-6"><span class="CloseBtn" (click)="modal('Cross click')">Cancel</span></div>
                <div class="col-6"><span class="YesBtn" (click)="deleteAcademicSession()"
                    (click)="modal('Cross click')">Yes</span></div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>