//header style
.searchBar{
    border: 1px solid #80808057;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 40px;
  }

  .addMainBtn{
    color: #0091ff;
    width: 65%;
    height: 40px;
    text-align: center;
    padding: 9px 0;
    margin-left: 25px;
    border-radius: 3px;
    border: 1px solid #0091ff;
    cursor: pointer;
  }

.addMainBtn:hover{
    background-color: #0091ff;
    color: white;
}

//card styles

.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  min-width: 31%;
  max-width: 31%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading{
  // border-bottom: 1px solid #e8e8e8;
  padding: 6% 6% 7% 9%;
  border-radius: 4px;
  color: #5f5b5b;
}

.eduBox{
    border: 1px solid #0091ff;
    padding: 6px 9px;
    background: #0091ff24;
    border-radius: 2px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
    max-width: 13%;
}

.editBox{ float: right;color: #0091ff;cursor: pointer; border: 1px solid #0091ff; padding: 1px 6px; border-radius: 3px; background-color: #0091ff0d; }


.acdemicYearBox{
  border: 1px solid #0091ff;
    font-size: 11px;
    padding: 6px 14px;
    border-radius: 25px;
    background-color: #0091ff0d;
    margin-right: 10px;
    color: #0091ff;
}

.acdemicYearCount{
  border: 1px solid #0091ff;
    padding: 7px 7px;
    border-radius: 17px;
    background: #0091ff0d;
    text-align: center;
    color: #0091ff; 
  
}

.removeBtn{
  padding: 0px 6px;
  color: red;
  background: #ff000024;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0px;
 
}

.deleteBox{
  border: 1px solid #ff0800;
  padding: 4px 6px;
  border-radius: 17px;
  background: #ff080017;
  cursor: pointer;
}



.mlmt{
  margin-top: 3px;
    margin-left: -2px;
}

.marlr0{ margin-left: 0; margin-right: 0; }

.paddl0{ padding-left: 0; } 

.paddr0{ padding-right: 0; }

.paddlr0{ padding-right: 0;padding-left: 0; }

.headingTitle{font-size: 10px;margin-left: -2px;margin-top: -3px;color: gray;}

.dateLabel{margin-left: -2px;font-size: 12px;}

//form style

.addAcademicYearForm{
  position: absolute;
  background-color: white;
  top: 177px;
  width: 27%;
  right: 0;
  z-index: 1;
  pointer-events: fill;
}

.closeAcademicYearForm {
  float: right;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: #cecdcd;
  text-shadow: none;
  border: none;
  position: relative;
  top: 9px;
  right: 10px;
  height: 20px;
  padding-bottom: 3px;
  width: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
}

.addandsave{
    border: 1px solid ;
    padding: 7px 12px;
    background: #0091ff21;
    cursor: pointer;
}

.Close{
  border: 1px solid #ff0800;
  padding: 7px 12px;
  background: #ff080017;
  cursor: pointer;
  color: #ff0800;
}

.Close:hover{
  background-color: #ff0800;
  color: white;
}

.addandsave:hover,.submitBtn:hover{
  background-color: #0091ff;
  color: white;
}

.submitBtn{
  border: 1px solid #0091ff;
    text-align: center;
    padding: 10px 11px;
    cursor: pointer;
}

.formStyle{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  top: 0px;
  box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
  -webkit-box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
  -moz-box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
}
.formStyle .col-lg-2{
  padding-left: 7px;
  padding-right: 7px;
}
.formStyle .col-lg-1:first-child{
  flex: 0 0 1.3333333333%;
  max-width: 0.333333%;
}
.formStyle .form-control{
  padding: 0.35rem 0.5rem;
}

.formStyle .form-group label{
  color: var(--secondary);
  margin-bottom: 5px;
}


.deleteModal{
  font-weight: 300;
    font-family: system-ui;
    color: black;
}

.CloseBtn{
    border: 1px solid #80808094;
    padding: 7% 19%;
    border-radius: 3px;
    cursor: pointer;
}

.CloseBtn:hover{
 background-color: #80808094;
 color: white;

}

.YesBtn{
  border: 1px solid #0091ff;
    padding: 7% 26%;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 43px;
}

.YesBtn:hover{
  background-color: #0091ff;
  color: white;
 }
