<section style="padding-left: 2%;padding-right: 2%">
   <div class="container-fluid mt-1">
      <div class="row">
         <div class="col-12">
            <div class="row mb-md-2 table-header">
               <!-- Search -->
               <div class="col-sm-12 col-md-12">
                  <div class="form-group row" style="background-color: #F7F7F7;">
                     <div class="col-sm-2">
                        <label for="staticEmail" class="col-form-label">Bulk Assign</label>
                     </div>
                     <div class="col-sm-10" ngbDropdown [autoClose]="false" #myDrop="ngbDropdown">
                        <input type="text" name="searchTerm" class="form-control" id="dropdownList"
                           [ngClass]="{'quickForm-back':isShowQuickForm}" placeholder="Filter & Search"
                           [maxLength]="maxLength" aria-controls="tickets-table">
                        <i class="fas fa-sliders-h" id="dropdownForm1" [ngClass]="{'quickForm-back':isShowQuickForm}"
                           ngbDropdownToggle></i>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropDownForm">
                           <div *ngIf="isDropDownOpen">
                              <form [formGroup]="academicFormGroup">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Course</label>
                                       <ng-select [items]="orgCourseList" class="custom1" bindLabel="name"
                                          bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                          [clearable]="false" placeholder="Select course" [searchable]="false"
                                          formControlName="courseUniqueId" (change)="getDatafromCrourseList($event)"
                                          [ngClass]="{ 'is-invalid': submitted && af.courseUniqueId.errors }">
                                       </ng-select>
                                       <div *ngIf="submitted && af.courseUniqueId.errors?.required"
                                          class="invalid-feedback">
                                          <div *ngIf="af.courseUniqueId.errors">Course is required</div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Batch</label>
                                       <ng-select [items]="orgBatchList" class="custom1" bindLabel="name"
                                          bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                          [clearable]="false" placeholder="Select batch" [searchable]="false"
                                          formControlName="divisionUniqueId" (change)="getCustomBatch($event)"
                                          [ngClass]="{ 'is-invalid': submitted && af.divisionUniqueId.errors }">
                                       </ng-select>
                                       <div *ngIf="submitted && af.divisionUniqueId.errors" class="invalid-feedback">
                                          <div *ngIf="af.divisionUniqueId.errors.required">Batch is required</div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Board</label>
                                       <ng-select [items]="orgBoardList" class="custom1" bindLabel="name"
                                          bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                          [clearable]="false" placeholder="Select board" [searchable]="false"
                                          (change)="changeBoard($event)" formControlName="boardUniqueId"
                                          [ngClass]="{ 'is-invalid': submitted && af.boardUniqueId.errors }">
                                       </ng-select>
                                       <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                                          <div *ngIf="af.boardUniqueId.errors.required">Board is required</div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Grade</label>
                                       <ng-select [items]="orgGradeList" class="custom1" bindLabel="name"
                                          bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                          [clearable]="false" placeholder="Select grade" [searchable]="false"
                                          formControlName="semesterUniqueId"
                                          [ngClass]="{ 'is-invalid': submitted && af.semesterUniqueId.errors }">
                                       </ng-select>
                                       <div *ngIf="submitted && af.semesterUniqueId.errors" class="invalid-feedback">
                                          <div *ngIf="af.semesterUniqueId.errors.required">Grade is required</div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Group Category</label>
                                       <ng-select [items]="orgGroupCategoreyList" class="custom1"
                                          bindLabel="categoryName" bindValue="categoryUniqueId" [multiple]="false"
                                          [closeOnSelect]="true" [clearable]="false" placeholder="Select group"
                                          [searchable]="false" formControlName="gruopCategory"
                                          (change)="changeGroupCategory($event)"
                                          [ngClass]="{ 'is-invalid': submitted && af.gruopCategory.errors }">
                                       </ng-select>
                                       <div *ngIf="submitted && af.gruopCategory.errors" class="invalid-feedback">
                                          <div *ngIf="af.gruopCategory.errors.required">Group Category is required</div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Batch Group</label>
                                       <ng-select [items]="orgBatchGroupList" class="custom1" bindLabel="name"
                                          bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                          [clearable]="false" placeholder="Select" (change)="changeBatchGroup($event)"
                                          [searchable]="false" formControlName="batchGroup"
                                          [ngClass]="{ 'is-invalid': submitted && af.batchGroup.errors }">
                                       </ng-select>
                                       <div *ngIf="submitted && af.batchGroup.errors" class="invalid-feedback">
                                          <div *ngIf="af.batchGroup.errors.required">Batch Group is required</div>
                                       </div>
                                    </div>

                                 </div>
                                 <hr style="color: rgb(77, 77, 77);">
                                 <b>Type of Subject</b>
                                 <div class="row mt-1">
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Compulsory Subjects</label>
                                       <ng-select [items]="complsorySubjects" class="custom1" bindLabel="subjectName"
                                          bindValue="uniqueId" [multiple]="true" [closeOnSelect]="true"
                                          formControlName="selectedComplsorySubject" [clearable]="false"
                                          placeholder="Choose Compulsory Subject" [searchable]="false">
                                       </ng-select>
                                    </div>
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Optional Subjects</label>
                                       <ng-select [items]="oSubject" class="custom1" bindLabel="subjectName"
                                          bindValue="uniqueId" [multiple]="true" [closeOnSelect]="true"
                                          [clearable]="false" placeholder="Choose Optional Subjects"
                                          [searchable]="false" formControlName="selectedOptionalSubject">
                                       </ng-select>
                                    </div>
                                    <div class="col-md-4">
                                       <label class="label-text col-form-label">Elective Subjects</label>
                                       <ng-select [items]="electiveSubject" class="custom1" bindLabel="subjectName"
                                          bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                                          [clearable]="false" placeholder="Choose Elective Subjects"
                                          [searchable]="false" formControlName="electiveSubjectList"
                                          groupBy="electiveSubjects">
                                          <ng-template ng-optgroup-tmp let-item="item">
                                             {{item.name}}
                                          </ng-template>
                                          <ng-template ng-option-tmp let-item="item">
                                             {{item.subjectName}}
                                          </ng-template>
                                       </ng-select>
                                    </div>
                                 </div>
                                 <hr style="color: rgb(77, 77, 77);">
                                 <div class="col-sm-12 mt-5 button-group-sendnow">
                                    <div class="form-group">
                                       <span class="button btncancle-sendnow" (click)="closeDropdown()">
                                          Cancel
                                       </span>
                                    </div>
                                    <div class="form-group add-img-btn">
                                       <span class="button btnsave" (click)="closeDropdown()">
                                          Apply
                                       </span>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End search -->
            </div>
         </div>
      </div>
      <div class="row mt-2">
         <div class="col-12">
            <div class="row mb-md-2 table-header">
               <!-- Search -->
               <div class="col-sm-12 col-md-12">
                  <div class="form-group row">
                     <div class="col-sm-2">
                        <div class="custom-control custom-checkbox" style="margin-top: 10px;">
                           <input type="checkbox" class="custom-control-input" id="maincheckbox"
                              [(ngModel)]="masterSelected" (change)="checkUncheckAll()" />
                           <label class="custom-control-label" for="maincheckbox">
                              <span>Select All</span>
                           </label>
                        </div>
                     </div>
                     <div class="col-sm-10" ngbDropdown [autoClose]="false" #myDrop="ngbDropdown">
                        <input type="text" name="searchTerm" class="form-control" id="dropdownList"
                           placeholder="Search Learners" [maxLength]="maxLength" aria-controls="tickets-table">
                        <i class="fas fa-search" style="margin-bottom: 3px;"></i>
                     </div>
                  </div>
               </div>
               <!-- End search -->
            </div>
         </div>
      </div>
      <div class="row mt-2">
         <div class="col-sm-4 userList scroll" *ngFor="let student of studentList; let i = index;">
            <tr>
               <td>
                  <div class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" id="checkbox{{i}}"
                        [(ngModel)]="student.selected" (change)="isAllSelected()" />
                     <label class="custom-control-label" for="checkbox{{i}}">
                     </label>
                  </div>
               </td>
               <td>
                  <div class="circle" [ngStyle]="{'background-color': colorClassArrayHashColor[i%5]}">
                     {{student.selectedName.charAt(0) | uppercase}}
                  </div>
               </td>
               <td>
                  <div class="media-body">
                     <p style="margin-bottom: 0;">{{student.selectedName}}</p>
                     <!-- <p style="margin-bottom: 0;"><span class="btn btn-className btn-rounded btn-sm"
                           [ngClass]="colorClassArray[i%5]">Jee-Advanced</span></p> -->
                  </div>
               </td>
            </tr>
            <hr>
         </div>
      </div>
   </div>
</section>
<ng-container>
   <div class="container-fluid" style="padding-left:3%;padding-right: 2%;">
      <div class="row mt-2" *ngIf="showAssignDetails" style="background-color: #F7F7F7;">
         <div class="col-12">
            <div class="col-sm-2">
               <label for="staticEmail" class="col-form-label">Assign</label>
            </div>
         </div>
      </div>
      <form [formGroup]="academicFormGroup">
         <!-- <pre>{{academicFormGroup.value | json}}</pre> -->
         <div class="row" *ngIf="showAssignDetails">
            <div class="col-8">
               <div class="row mb-3">
                  <!-- <div class="col-md-12  form-group">
                             <label class="label-text col-form-label">Academic Year</label>
                             <ng-select [items]="academicYearList" class="custom1" bindLabel="itemName" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select year" [searchable]="false" formControlName="academicYearUniqueId" [ngClass]="{ 'is-invalid':  submitted && academicFormGroup.controls.academicYearUniqueId.errors }" (change)="getAcademicCalendarList($event)"></ng-select>
                             
                             <div *ngIf="submitted && academicFormGroup.controls.academicYearUniqueId.errors?.required" class="invalid-feedback">
                                 <div>Academic year is required</div>
                             </div>
                             </div>
                             <div class="col-md-12 form-group">
                             <label class="label-text col-form-label">Academic Calender</label>
                             <ng-select [items]="academicCalendarList" class="custom1" bindLabel="itemName" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select calender" [searchable]="false" formControlName="academicCalendarUniqueId" [ngClass]="{ 'is-invalid': submitted && academicFormGroup.controls.academicCalendarUniqueId.errors }" (change)="getCourseListByAcademicyearOnSelect($event)"></ng-select>
                             <div *ngIf="submitted && academicFormGroup.controls.academicCalendarUniqueId.errors?.required" class="invalid-feedback">
                                 <div>Academic year is required</div>
                             </div>
                             
                             </div> -->
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Course</label>
                     <ng-select [items]="orgCourseList" class="custom1" bindLabel="name" bindValue="uniqueId"
                        [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select course"
                        [searchable]="false" formControlName="courseUniqueId" (change)="getDatafromCrourseList($event)"
                        [ngClass]="{ 'is-invalid': submitted && af.courseUniqueId.errors }"></ng-select>
                     <!-- <select class="form-control form-control-line" id="courseUniqueId" formControlName="courseUniqueId" (change)="getBatchList($event.target.value); getCourseSubjects($event.target.value)" [ngClass]="{ 'is-invalid': submitted && af.courseUniqueId.errors }">
                                <option value="">Select course</option>
                                <option *ngFor="let course of orgCourseList;let c=index;" value="{{course.uniqueId}}">
                                    {{course.name}}</option>
                                </select> -->
                     <div *ngIf="submitted && af.courseUniqueId.errors?.required" class="invalid-feedback">
                        <div *ngIf="af.courseUniqueId.errors">Course is required</div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Batch</label>
                     <ng-select [items]="orgBatchList" class="custom1" bindLabel="name" bindValue="uniqueId"
                        [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select batch"
                        [searchable]="false" formControlName="divisionUniqueId" (change)="getCustomBatch($event)"
                        [ngClass]="{ 'is-invalid': submitted && af.divisionUniqueId.errors }"></ng-select>
                     <div *ngIf="submitted && af.divisionUniqueId.errors" class="invalid-feedback">
                        <div *ngIf="af.divisionUniqueId.errors.required">Batch is required</div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Board</label>
                     <ng-select [items]="orgBoardList" class="custom1" bindLabel="name" bindValue="uniqueId"
                        [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select board"
                        [searchable]="false" (change)="changeBoard($event)" formControlName="boardUniqueId"
                        [ngClass]="{ 'is-invalid': submitted && af.boardUniqueId.errors }">
                     </ng-select>
                     <div *ngIf="submitted && af.boardUniqueId.errors" class="invalid-feedback">
                        <div *ngIf="af.boardUniqueId.errors.required">Board is required</div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Grade</label>
                     <ng-select [items]="orgGradeList" class="custom1" bindLabel="name" bindValue="uniqueId"
                        [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select grade"
                        [searchable]="false" formControlName="semesterUniqueId"
                        [ngClass]="{ 'is-invalid': submitted && af.semesterUniqueId.errors }"
                        (change)="changeGrade($event)">
                     </ng-select>
                     <div *ngIf="submitted && af.semesterUniqueId.errors" class="invalid-feedback">
                        <div *ngIf="af.semesterUniqueId.errors.required">Grade is required</div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Group Category</label>
                     <ng-select [items]="orgGroupCategoreyList" class="custom1" bindLabel="categoryName"
                        bindValue="categoryUniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select group" [searchable]="false" formControlName="gruopCategory"
                        (change)="changeGroupCategory($event)"
                        [ngClass]="{ 'is-invalid': submitted && af.gruopCategory.errors }">
                     </ng-select>
                     <div *ngIf="submitted && af.gruopCategory.errors" class="invalid-feedback">
                        <div *ngIf="af.gruopCategory.errors.required">Group Category is required</div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Batch Group</label>
                     <ng-select [items]="orgBatchGroupList" class="custom1" bindLabel="name" bindValue="uniqueId"
                        [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                        (change)="changeBatchGroup($event)" [searchable]="false" formControlName="batchGroup"
                        [ngClass]="{ 'is-invalid': submitted && af.batchGroup.errors }">
                     </ng-select>
                     <div *ngIf="submitted && af.batchGroup.errors" class="invalid-feedback">
                        <div *ngIf="af.batchGroup.errors.required">Batch Group is required</div>
                     </div>
                  </div>

               </div>
               <b>Type of Subject</b>
               <div class="row mt-1">
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Compulsory Subjects</label>
                     <ng-select [items]="complsorySubjects" class="custom1" bindLabel="subjectName" bindValue="uniqueId"
                        [multiple]="true" [closeOnSelect]="true" [clearable]="false"
                        formControlName="selectedComplsorySubject" placeholder="Choose Compulsory Subject"
                        [searchable]="false">
                     </ng-select>
                  </div>
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Optional Subjects</label>
                     <ng-select [items]="oSubject" class="custom1" bindLabel="subjectName" bindValue="uniqueId"
                        [multiple]="true" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Choose Optional Subjects" [searchable]="false"
                        formControlName="selectedOptionalSubject">
                     </ng-select>
                  </div>
                  <div class="col-md-4">
                     <label class="label-text col-form-label">Elective Subjects</label>
                     <ng-select [items]="electiveSubject" class="custom1" bindLabel="subjectName" bindValue="uniqueId"
                        [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Choose Elective Subjects" [searchable]="false"
                        formControlName="electiveSubjectList" groupBy="electiveSubjects">
                        <ng-template ng-optgroup-tmp let-item="item">
                           {{item.name}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                           {{item.subjectName}}
                        </ng-template>
                     </ng-select>
                  </div>
               </div>
            </div>
            <!-- <div class="col-5 subjectList">
              <h4 class="headingAcdmcType">Subject</h4>
              <div class="col-12">
                 <div class="dropSubject ">
                    <label class="label-text col-form-label">Compulsory Subject</label>
                    <div *ngFor="let item of complsorySubjects;let j=index;" class="custom-control">
                       <p>
                          {{item.subjectName}}
                       </p>
                    </div>
                 </div>
              </div>
              <div class="col-12">
                 <div class="dropSubject groupSubject">
                    <label class="label-text col-form-label">Elective Subject</label>
                    <div *ngFor="let item of electiveSubject;  let k = index;">
                       <label for="">{{item.name}}</label>
                       <div *ngIf="item.electiveSubjects.length>0">
                          <div *ngFor="let subject of item.electiveSubjects;  let l=index;" class="custom-control">
                             <p [ngClass]="{'selected':subject.selected}" (click)="onSelectionChange(k,l, true)">
                                {{subject.subjectName}}</p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-12">
                 <div class="dropSubject optionalSubject" cdkDropList [cdkDropListData]="optionalSubject"
                    [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
                    <label class="label-text col-form-label">Optional Subject</label>
                    <div *ngFor="let item of optionalSubject;let j=index;" [cdkDragData]="item" cdkDrag
                       class="custom-control">
                       <p>
                          {{item.subjectName}}
                       </p>
                    </div>
                 </div>
              </div>
              <div class="col-12">
                 <div class="dropSubject" cdkDropList [cdkDropListData]="selectedOptionalSubject"
                    [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
                    <label class="label-text col-form-label">Selected Optional Subject</label>
                    <div *ngFor="let item of selectedOptionalSubject;let j=index;" [cdkDragData]="item" cdkDrag
                       class="custom-control">
                       <p>
                          {{item.subjectName}}
                          <i class="fa fa-times float-right" (click)="removeSubjectFromList($event,j,1,item)"></i>
                       </p>
                    </div>
                 </div>
              </div>
              </div> -->
         </div>
         <br>
         <br>
         <div class="row float-right" style="padding-right: 3%;padding-bottom: 3%;">
            <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
            <button class="btn btn-save" type="submit" (click)="saveStudentAcademicInfo()">Assign</button>
         </div>
      </form>
   </div>
</ng-container>
<!-- assign more modal start here -->
<ng-template #assignMore role="assignMore" let-modal="close">
   <ng-container>
      <div class="row">
         <div class="col-sm-12">
            <div class="upload-preview">
               <div class="row mg-0 attached-img-head"><b>Bulk Assign</b></div>
               <hr class="input-hr">
               <div class="modal-body-sendnow mb-4">
                  <h5>{{selectedStudents?.length}} students were assigned the following details:</h5>
                  <div class="row">
                     <div class="col-sm-6 mt-1">
                        <b>Course</b> : {{selectedCourseName}}
                     </div>
                     <div class="col-sm-6 mt-1">
                        <b>Batch</b> : {{selectedBatchName}}
                     </div>
                     <div class="col-sm-6 mt-1">
                        <b>Board</b> : {{selectedBoardName}}
                     </div>
                     <div class="col-sm-6 mt-1">
                        <b>Grade</b> : {{selectedGradeName}}
                     </div>
                     <div class="col-sm-6 mt-1">
                        <b>Group</b> : {{selectedGroupName}}
                     </div>
                  </div>
               </div>
               <div class="col-sm-12 mt-1 button-group-sendnow">
                  <div class="form-group">
                     <span style="padding: 13px 60px;" class="button btncancle-sendnow" (click)="closeModal();close();">
                        Cancel
                     </span>
                  </div>
                  <div class="form-group add-img-btn">
                     <span class="button btnsave" (click)="closeModal();">
                        Assign More
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </ng-container>
</ng-template>
<!-- assign more modal end here -->