<div class="container-fluid px-0">
    <div class="row mx-0 mb-3">
        <div class="col-2 px-0 leftBox">
            <input type="file" name="file" id="imgupload" class="d-none" accept=".png, .jpg, .jpeg"
                (change)="onSelectFile($event)">
            <div class="uploadImage text-center" *ngIf="!isAlreadyImage" (click)="openFile()">
                <i class="fe-upload"></i>
                <span>Upload Profile Pic</span>
            </div>
            <div class="allreadyImage text-center" *ngIf="isAlreadyImage">
                <img [src]="imgsrc" alt="profileImage"> <span class="editImg" (click)="openFile()"><i
                        class="fas fa-pen"></i></span>
            </div>
            <div class="organizationData mt-3">
                <h4 class="title">{{organizationData.name}}</h4>
                <span>{{organizationData.code}}</span>
            </div>
            <div class="logout">
                <h5 (click)="logout()"><i class="fe-log-out" data-fa-transform="rotate-45"></i> Log Out</h5>
                <span>Last login {{currentTime|date: 'd MMM, y- h:mm a'}}</span>
            </div>
        </div>
        <div class="col-10">
            <section id="headertabs" class="w-100 mt-0">
                <nav>
                    <div class="nav nav-tabs " id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==1}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(1)">MY ORGANIZATION</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==2}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(2)">ROLE</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==3}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(3)">DEVICE SETTINGS</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==4}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(4)">NOTIFICATION</a>
                        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==5}"
                            data-toggle="tab" role="tab" aria-selected="true" (click)="tabClick(5)">SETTINGS</a>
                        <div class="w-16"></div>
                        <div class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">More <i class="fas fa-chevron-down"
                                    aria-hidden="true"></i></a>

                        </div>
                    </div>
                </nav>
            </section>
            <div *ngIf="tabNumber==1">
                <app-my-organization [organizationData]="organizationData"></app-my-organization>
            </div>
        </div>
    </div>
</div>