.nav-item.dropdown {
    width: 12%;
    display: flex;
    height: 46px;
    align-items: center;
    margin-bottom: 0px;
    border-left: 1px solid #e4e4e4 !important;
}
.nav-item.dropdown a {
    color: #3d3d3d;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 25px;
}
#headertabs .nav-item {
    width: auto !important;
    border-bottom: none !important;
    font-size: 13px;
    font-weight: 600;
}
#headertabs .nav-tabs {
    height: 46px;
}
#headertabs nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}
#headertabs {
    position: relative;
}
.w-16 {
    width: 16% !important;
}
.uploadImage {
    height: 47px;
    cursor: pointer;
    background-color: #e9e9e9;
    border: 2px dashed #c5c5c5;
}
.uploadImage span {
    font-size: 11px;
    display: block;
}
.allreadyImage {
    border: 2px dashed #c5c5c5;
}
.allreadyImage img {
    width: 80px;
    height: 42px;
    padding: 5px 10px;
}
.editImg i {
    border: 1px solid var(--newApp-color);
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    position: relative;
    left: 10px;
    top: 0px;
    padding-top: 3px;
}
.editImg i {
    color: var(--newApp-color);
}
.leftBox {
    border-right: 1px solid #d1d1d1;
}
.organizationData {
    text-align: center;
}
.title {
    margin-bottom: 5px;
    font-weight: 600;
}
.logout {
    padding: 10px 5px;
    text-align: center;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.logout span {
    color: #b9b8b8;
    font-size: 11px;
}
