<!-- new static design  july 21-->
<form [formGroup]="examSyllabus">
    <div class="form-group">
        <div class="row">
            <div class="col-3" *ngIf="assignmentTypeId==2">
                <p class="col-form-label" style="color: black;margin-left: 2%;"><b>Marks</b> </p>
                <label class="col-form-label label-under ">Pass Marks</label>
                <input type="text" class="form-control" maxlength="4" size="4" (keypress)="numberOnly($event)"
                    formControlName="passingMarks" placeholder="Type here..."
                    [ngClass]="{ 'is-invalid': examSyllabus.controls['passingMarks'].errors && isFirstNext }">
                <div *ngIf="examSyllabus.controls['passingMarks'].errors && isFirstNext" class="text-danger">

                    <div *ngIf="examSyllabus.controls['passingMarks'].errors.required">
                        Passing Marks are required.
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-12': assignmentTypeId==1,'col-9':assignmentTypeId==2}">
                <label class="col-form-label" style="color: black;margin-left: 2%;">Timing Details </label>
                <app-timedetails [timingInfo]="timedetails" [examType]="1" [assignmentTypeId]="assignmentTypeId"
                    [isFirstNext]="isFirstNext">
                </app-timedetails>
            </div>
        </div>
    </div>
    <hr>
    <div formArrayName="subjectList">
        <div class="card customCardCss" *ngFor="let item of examSyllabus.controls.subjectList['controls'];let i=index;"
            [formGroupName]="i">
            <div class="activeSubject" id="head{{i}}">
                <label class="col-form-label" style="padding: 12px;"><span>
                        {{item.controls.subjectName.value}}</span></label>
                <span class="doItlater" (click)="doItLater(i)"><u>Do it later</u></span>
                <span (click)="isCollaps('testDemo'+i,'demo'+i,'head'+i)">
                    <i class="fas fa-angle-up" id="demo{{i}}"
                        style="float: right; font-size: x-large;padding: 12px;cursor: pointer;"></i>
                </span>
            </div>
            <div class="col-lg-12 isUnhide" id="testDemo{{i}}"
                [ngClass]="{'subjectDisable': !item.controls.isSyllabusSelected.value}">
                <!--[ngClass]="i!=0?'isHide':'isUnhide'"-->
                <div class="row" style="padding: 3% 1%;border-bottom: 1px solid #80808038;color: black;">
                    <div class="col-md-12" formArrayName="actualCoursePlanners">
                        <span style="color: gray;">Select Course Planner</span>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4" style="margin-top: 15px;"
                                *ngFor="let cp of item.controls.actualCoursePlanners['controls'];let j=index;"
                                [formGroupName]="j">
                                <div class="checkbox checkbox-success form-check-inline pb-2"
                                    style="margin-bottom: 10px;">
                                    <input type="hidden" name="isSelected" formControlName="isSelected">
                                    <input type="checkbox" (change)="onClickCheckbox($event,cp,i,j)">
                                    <label> {{cp.controls.name.value}} </label>
                                </div>
                                <br>
                                <span class="pb-1" style="color: gray;" *ngIf="cp.controls.isSelected.value"> Select
                                    {{typeName}} </span>
                                <div *ngIf="cp.controls.isSelected.value">
                                    <ng-select [items]="cp.controls.syllabusCoursewise.value" bindLabel="name"
                                        bindValue="id" [searchable]="false" [multiple]="true"
                                        formControlName="selectedSyllabus" [clearable]="false"
                                        style="padding-right: 20px;" placeholder="Select" [closeOnSelect]="false"
                                        (change)="changeCpSyllabus($event,item,i)">
                                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                <span class="ng-value-label"> {{item.name}}</span>
                                                <span class="ng-value-icon right" (click)="clear(item)"
                                                    aria-hidden="true">×</span>
                                            </div>
                                            <div class="ng-value" *ngIf="items.length > 1">
                                                <span class="ng-value-label">+{{items.length - 1}}</span>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 3% 1%; color: black;">
                    <div class="col-md-6">
                        <div class="checkbox checkbox-success form-check-inline pb-1">
                            <input type="checkbox" (change)="onSelectionChangeRemark($event,'demoCheckRem'+i)">
                            <label>Add Remark </label>
                        </div>
                        <textarea id="demoCheckRem{{i}}" style="padding: 2px 10px;" (change)="changeRemarks($event,i)"
                            formControlName="remarks" class="textarea-card isHideOptionalRem" rows="3" #remarks
                            maxlength="64"></textarea>
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': remarks.value.length !== 64,'badge-danger': remarks.value.length == 64}">
                            {{ remarks.value.length }} / 64</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>