.customCardCss {
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
}

.textarea-card {
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(212 205 205 / 19%);
    border-radius: 2px;
    width: 100%;
    border: 1px solid #8080807c;
}

.dactiveSubject {
    background-color: #80808021;
    border: 1px solid #80808042;
    height: 45px;
    color: #000000b0;
}

.activeSubject {
    background-color: #0091ff1c;
    color: #0091ff;
    height: 45px;
}
.isHide {
    display: none;
}

.isUnhide {
    display: block;
}

.isHideSelect {
    display: none;
    height: 45px !important;
}
.isUnhideSelect {
    display: block;
    height: 45px !important;
}

// ::ng-deep .tooltip-inner {
//     background-color: #00cc00 !important;
// }
//  .tooltip.bs-tooltip-right .arrow:before {
//     border-right-color: #00cc00 !important;
// }
//  .tooltip.bs-tooltip-left .arrow:before {
//     border-right-color: #00cc00 !important;
// }
//  .tooltip.bs-tooltip-bottom .arrow:before {
//     border-right-color: #00cc00 !important;
// }
//  .tooltip.bs-tooltip-top .arrow:before {
//     border-right-color: #00cc00 !important;
// }

::ng-deep span .tooltiptext {
    display: none;

    position: absolute;
    z-index: 0 !important;
}
::ng-deep span:hover .tooltiptex {
    display: block;
    z-index: 0 !important;
}

// :host >>> .tooltip-inner {
//     background-color: white;
//     color: black;
//     border-color: black;
//     border-style: solid;
//     border-width: 0.5px;
//     text-align: left;
//   }
//   :host >>> .tooltip.top .tooltip-arrow:before,
//   :host >>> .tooltip.top .tooltip-arrow {
//     border-top-color: black;
//   }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #328ae8;
    border-color: #328ae8;
}
.checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #676f73;
    content: "";
    display: inline-block;
    height: 16px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 16px;
    outline: none !important;
    top: 2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    display: table;
    width: 4px;
    height: 8px;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox-success input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}

.checkbox-circle input[type="checkbox"]:checked + label::before {
    background-color: #328ae8;
    border-color: #328ae8;
}

.checkbox-circle input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}

// custom style mat-checkbox

.isHideOptionalRem {
    display: none;
}

.isUnhideOptionalRem {
    display: block;
}
.label-under {
    font-weight: 500;
}
.doItlater {
    cursor: pointer;
}
.subjectDisable {
    pointer-events: none;
    opacity: 0.3;
    cursor: no-drop;
}
