<div class="container-fluid px-0" [ngClass]="{'stack-back':isNewLecture || isEditLecture||isRemoeLecture}">
    <div class="headingRow">
        <div class="rowCol" style="width: 18%;padding: 0px 25px;border-right: 1px solid #aaa;">
            <div class=" formMainHead" *ngIf="itemListValue==2||itemListValue==3">
                {{(slectedTypeListData.name)?(slectedTypeListData.name |
                titlecase):""}}</div>
            <div class="formMainHead" *ngIf="itemListValue==1">{{selectedBatchData.name | titlecase}}</div>
            <div class="formheadingTitle" *ngIf="itemListValue==1">{{selectedCourseData.name}}</div>

        </div>
        <div class="rowCol" style="min-width: fit-content;padding: 0px 15px 0px 25px;">
            <div class="formMainHead">{{timetabaleDetails.name}}</div>
            <div class="formheadingTitle">Timetable Name</div>
        </div>
        <div class="rowCol" style="width: 13%;padding: 0px 25px;">
            <div class="row formMainHead"
                [ngClass]="{'publish': timetabaleDetails.status==1,'draft': timetabaleDetails.status!=1}">
                {{timetabaleDetails.status==1 ? "Published" :"Draft"}}</div>
            <div class="row formheadingTitle">Status</div>
        </div>
        <div class="rowCol" style="width: 9%;padding: 0px 25px;">
        </div>
        <div class="rowCol" style="width: 10%;padding: 0px 25px;">
        </div>
        <div class="rowCol" style="width: 22%;padding: 0px 25px; border-left: 1px solid #aaa;">
            <ng-select #myselect2 [items]="itemList" class="customBorder" bindLabel="name"
                style="width: 130px;float: right;" bindValue="id" [multiple]="false" [closeOnSelect]="true"
                [clearable]="false" (change)="changeType($event)" placeholder="Select" [searchable]="false"
                [(ngModel)]="itemListValue">
            </ng-select>
        </div>
        <div class="rowCol" style="width: 22%;padding: 0px 10px;border-left: 1px solid #aaa;" *ngIf="itemListValue==0">
        </div>
        <div class="rowCol" style="width: 22%;padding: 0px 10px;border-left: 1px solid #aaa;"
            *ngIf="itemListValue==2||itemListValue==3">
            <ng-select #myselect1 [items]="itemTypeList" class="customBorder" bindLabel="name" bindValue="uniqueId"
                [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select" [searchable]="false"
                [(ngModel)]="typeListValue" (change)="changeTypeList($event)"></ng-select>
        </div>
        <div class="rowCol d-flex align-items-center"
            style="width: 22%;padding: 0px 10px !important;border-left: 1px solid #aaa;" *ngIf="itemListValue==1">

            <a id="link-project" (click)="clickCourse()">Course & Batch <i class="fas fa-chevron-down"></i></a>
            <div *ngIf="isBatchdropdown" class="popup scroll" (clickOutside)="onClickedOutside($event)">
                <ng-select #myselect1 [items]="courseList" class="custom" bindLabel="name" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                    [searchable]="false" [(ngModel)]="selectedCourse" (change)="changeCourseList($event)"></ng-select>
                <div class="custom-control custom-radio py-1" *ngFor="let radiobutton of selectedBatchList">
                    <input type="radio" id="{{radiobutton.name}}" class="custom-control-input"
                        [checked]="radiobutton.uniqueId === selectedBatch" (click)="changeBatch($event,radiobutton)">
                    <label class="custom-control-label" for="{{radiobutton.name}}">{{radiobutton.name}}</label>
                </div>
            </div>
        </div>

    </div>

    <div class="cardHeading2 scroll">
        <div class="row align-items-center" style="margin-left: 70px;height: 55px;">
            <div class="col-md-2">
                <ng-select #myselect3 [items]="shiftList" class="custom1" bindLabel="name" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Sort by Shift"
                    [searchable]="false" [(ngModel)]="selectedShiftValue" (change)="shiftChange($event)"></ng-select>
            </div>
            <div class="col-md-2" style="display: flex;align-items: center;">
                <input id="slots" class="mr-1" type="checkbox" (change)="hideSlots($event)">Hide empty slots

            </div>
            <div class="col-md-7 pr-0 justify-content-end" style="display: flex;">
                <div class="batchBadge mr-1" *ngFor="let item of selectedSubjects| slice:0:4;let i=index"
                    [ngClass]="colorClassArray[i%4]">{{item.name}} <i class="fa fa-times float-right"
                        (click)="removeSubject(item,i)"></i></div>
                <div class="subjectCount mr-2" *ngIf="selectedSubjects.length>4">+{{selectedSubjects.length-4}} </div>
                <ng-select [items]="subjectList" #selectList class="customList" bindLabel="name" bindValue="uniqueId"
                    [multiple]="true" [closeOnSelect]="false" [clearable]="false" placeholder="Select"
                    [searchable]="false" [(ngModel)]="selectedSubjectList" (change)="changeSubjects($event)">
                    <ng-template ng-header-tmp>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [checked]="isSelectAll" (change)="onSelectAll($event)" />
                            <label class="form-check-label ml-2">Select All</label>
                        </div>

                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                        <div class="custom-control custom-checkbox pl-0">
                            <input type="checkbox" [(ngModel)]="item$.selected" [ngModelOptions]="{standalone: true}" />
                            <label class="form-check-label ml-2">{{item.name}}</label>
                        </div>
                    </ng-template>
                </ng-select>
                <a class="link-project" (click)="selectList.open()">More <i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
        <div class="viewLecture" *ngIf="mainType == 1">
            <table>
                <thead>
                    <tr>
                        <th style="border: none;width: 50px;background: none;"></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody *ngIf="timetabaleDetails.periodWiseLectures&&timetabaleDetails.periodWiseLectures.length>0">
                    <tr *ngFor="let item of timetabaleDetails.periodWiseLectures">
                        <td style="border: none;width: 9%;" data-toggle="tooltip" [title]="item.name">
                            <p class="name">
                                {{(item.name)?(item.name.length>17)?(item.name|slice:0:15)+'..':item.name:''}}</p>
                            <p class="time">{{item.startTime|date:"shortTime":'UTC'}}</p>
                        </td>
                        <td
                            [ngClass]="{'disable': item.dayWiseLectureList&&!item.dayWiseLectureList[1].isAvailable,'assignClick':item.dayWiseLectureList&&item.dayWiseLectureList[1].isAvailable&& item.dayWiseLectureList[1].lectures.length==0}">
                            <span class="assignText"
                                *ngIf="item.dayWiseLectureList[1].isAvailable&& item.dayWiseLectureList[1].lectures.length==0"
                                (click)="assignLecture(item,2)">Click to
                                Assign</span>
                            <span
                                *ngIf="item.dayWiseLectureList&& item.dayWiseLectureList[1].lectures&&item.dayWiseLectureList[1].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[1].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        data.classRoomName) :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3" [typeChild]="2"
                                            [dayUniqueId]="item.dayWiseLectureList[1].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td
                            [ngClass]="{'disable': item.dayWiseLectureList&&!item.dayWiseLectureList[2].isAvailable,'assignClick':item.dayWiseLectureList&&item.dayWiseLectureList[2].isAvailable&& item.dayWiseLectureList[2].lectures.length==0}">
                            <span class="assignText"
                                *ngIf="item.dayWiseLectureList[2].isAvailable&& item.dayWiseLectureList[2].lectures.length==0"
                                (click)="assignLecture(item,3)">Click to
                                Assign</span>
                            <span
                                *ngIf="item.dayWiseLectureList&& item.dayWiseLectureList[2].lectures&&item.dayWiseLectureList[2].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[2].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt="">{{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        data.classRoomName) :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3" [typeChild]="2"
                                            [dayUniqueId]="item.dayWiseLectureList[2].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td
                            [ngClass]="{'disable': item.dayWiseLectureList&&!item.dayWiseLectureList[3].isAvailable,'assignClick': item.dayWiseLectureList&&item.dayWiseLectureList[3].isAvailable&&item.dayWiseLectureList[3].lectures.length==0}">
                            <span class="assignText"
                                *ngIf="item.dayWiseLectureList[3].isAvailable&& item.dayWiseLectureList[3].lectures.length==0"
                                (click)="assignLecture(item,4)">Click to
                                Assign</span>
                            <span
                                *ngIf="item.dayWiseLectureList&& item.dayWiseLectureList[3].lectures&&item.dayWiseLectureList[3].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[3].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        data.classRoomName) :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3" [typeChild]="2"
                                            [dayUniqueId]="item.dayWiseLectureList[3].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td
                            [ngClass]="{'disable': item.dayWiseLectureList&&!item.dayWiseLectureList[4].isAvailable,'assignClick': item.dayWiseLectureList&&item.dayWiseLectureList[4].isAvailable&&item.dayWiseLectureList[4].lectures.length==0}">
                            <span class="assignText"
                                *ngIf="item.dayWiseLectureList[4].isAvailable&& item.dayWiseLectureList[4].lectures.length==0"
                                (click)="assignLecture(item,5)">Click to
                                Assign</span>
                            <span
                                *ngIf="item.dayWiseLectureList&& item.dayWiseLectureList[4].lectures&&item.dayWiseLectureList[4].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[4].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        data.classRoomName) :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3" [typeChild]="2"
                                            [dayUniqueId]="item.dayWiseLectureList[4].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td
                            [ngClass]="{'disable': item.dayWiseLectureList&&!item.dayWiseLectureList[5].isAvailable,'assignClick': item.dayWiseLectureList&&item.dayWiseLectureList[5].isAvailable&&item.dayWiseLectureList[5].lectures.length==0}">
                            <span class="assignText"
                                *ngIf="item.dayWiseLectureList[5].isAvailable&& item.dayWiseLectureList[5].lectures.length==0"
                                (click)="assignLecture(item,6)">Click to
                                Assign</span>
                            <span
                                *ngIf="item.dayWiseLectureList&& item.dayWiseLectureList[5].lectures&&item.dayWiseLectureList[5].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[5].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt="">{{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        data.classRoomName) :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3" [typeChild]="2"
                                            [dayUniqueId]="item.dayWiseLectureList[5].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td
                            [ngClass]="{'disable': item.dayWiseLectureList&&!item.dayWiseLectureList[6].isAvailable,'assignClick': item.dayWiseLectureList&&item.dayWiseLectureList[6].isAvailable&&item.dayWiseLectureList[6].lectures.length==0}">
                            <span class="assignText"
                                *ngIf="item.dayWiseLectureList[6].isAvailable&& item.dayWiseLectureList[6].lectures.length==0"
                                (click)="assignLecture(item,7)">Click to
                                Assign</span>
                            <span
                                *ngIf="item.dayWiseLectureList&& item.dayWiseLectureList[6].lectures&&item.dayWiseLectureList[6].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[6].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        data.classRoomName) :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3" [typeChild]="2"
                                            [dayUniqueId]="item.dayWiseLectureList[6].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td
                            [ngClass]="{'disable': item.dayWiseLectureList&&!item.dayWiseLectureList[0].isAvailable,'assignClick': item.dayWiseLectureList&&item.dayWiseLectureList[0].isAvailable&&item.dayWiseLectureList[0].lectures.length==0}">
                            <span class="assignText"
                                *ngIf="item.dayWiseLectureList[0].isAvailable&& item.dayWiseLectureList[0].lectures.length==0"
                                (click)="assignLecture(item,1)">Click to
                                Assign</span>
                            <span
                                *ngIf="item.dayWiseLectureList&& item.dayWiseLectureList[0].lectures&&item.dayWiseLectureList[0].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[0].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        data.classRoomName) :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3" [typeChild]="2"
                                            [dayUniqueId]="item.dayWiseLectureList[0].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="timetabaleDetails.periodWiseLectures&&timetabaleDetails.periodWiseLectures.length==0">
                    <tr>
                        <td colspan="8" class="py-2 h3">Periods not found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="scroll viewLecture" *ngIf="mainType == 2">
            <table>
                <thead>
                    <tr>
                        <th style="border: none;width: 9%;background: none;"></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody class="teacherList"
                    *ngIf="timetabaleDetails.periodWiseLectures&&timetabaleDetails.periodWiseLectures.length>0">
                    <tr *ngFor="let item of timetabaleDetails.periodWiseLectures">
                        <td style="border: none;width: 9%;" data-toggle="tooltip" [title]="item.name">
                            <p class="name">
                                {{(item.name)?(item.name.length>17)?(item.name|slice:0:15)+'..':item.name:''}}</p>
                            <p class="time">{{item.startTime|date:"shortTime":'UTC'}}</p>
                        </td>
                        <td>
                            <span
                                *ngIf="item.dayWiseLectureList&&item.dayWiseLectureList[1].lectures&&item.dayWiseLectureList[1].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[1].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        (data.classRoomName)?data.classRoomName:"Not Assigned") :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3"
                                            [dayUniqueId]="item.dayWiseLectureList[1].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span
                                *ngIf="item.dayWiseLectureList&&item.dayWiseLectureList[2].lectures&&item.dayWiseLectureList[2].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[2].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt="">{{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        (data.classRoomName)?data.classRoomName:"Not Assigned") :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3"
                                            [dayUniqueId]="item.dayWiseLectureList[2].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span
                                *ngIf="item.dayWiseLectureList&&item.dayWiseLectureList[3].lectures&&item.dayWiseLectureList[3].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[3].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        (data.classRoomName)?data.classRoomName:"Not Assigned") :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3"
                                            [dayUniqueId]="item.dayWiseLectureList[3].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span
                                *ngIf="item.dayWiseLectureList&&item.dayWiseLectureList[4].lectures&&item.dayWiseLectureList[4].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[4].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        (data.classRoomName)?data.classRoomName:"Not Assigned") :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3"
                                            [dayUniqueId]="item.dayWiseLectureList[4].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span
                                *ngIf="item.dayWiseLectureList&&item.dayWiseLectureList[5].lectures&&item.dayWiseLectureList[5].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[5].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt="">{{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        (data.classRoomName)?data.classRoomName:"Not Assigned") :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3"
                                            [dayUniqueId]="item.dayWiseLectureList[5].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span
                                *ngIf="item.dayWiseLectureList&&item.dayWiseLectureList[6].lectures&&item.dayWiseLectureList[6].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[6].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        (data.classRoomName)?data.classRoomName:"Not Assigned") :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3"
                                            [dayUniqueId]="item.dayWiseLectureList[6].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span
                                *ngIf="item.dayWiseLectureList&&item.dayWiseLectureList[0].lectures&&item.dayWiseLectureList[0].lectures.length>0">
                                <div class="popover__wrapper"
                                    *ngFor="let data of item.dayWiseLectureList[0].lectures;let i=index;"
                                    [ngClass]="colorClassArray[i%4]">
                                    <p class="lecture popover__title">
                                        <img src="assets/images/users/user-1.jpg" height="25px" width="25px"
                                            style="border-radius: 5%;" alt=""> {{(itemListValue==1)?
                                        (data.classRoomName&&data.classRoomName.length>8?(data.classRoomName|slice:0:8)+"..."
                                        :
                                        (data.classRoomName)?data.classRoomName:"Not Assigned") :
                                        ((data.batchIds[0].name.length>5?(data.batchIds[0].name|slice:0:5)+"..." :
                                        data.batchIds[0].name))}}{{(data.batchIds.length>1 && itemListValue!=1 ?
                                        '+'+(data.batchIds.length-1):'')}}
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="popover__content">
                                        <app-test-design [type]="3"
                                            [dayUniqueId]="item.dayWiseLectureList[0].orgDayUniqueId" [viewData]="data"
                                            (actionPopupView)="actionPopupView($event)"></app-test-design>
                                    </div>
                                </div>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="timetabaleDetails.periodWiseLectures&&timetabaleDetails.periodWiseLectures.length==0">
                    <tr>
                        <td colspan="8" class="py-2 h3">Periods not found</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row buttons mb-2">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <!-- <button class="btn btn-save btn-filled" (click)="save(1)">Save</button> -->
    </div>
</div>
<div class="viewSidePopup assignedEditLecture"
    [ngClass]="{'slideInLeft':!isNewLecture,'slideInRight':isNewLecture,'mainType4':mainType==4}" *ngIf="isNewLecture">
    <app-rightside-forms [type]="type" [timetableUniqueId]="timeTableData.uniqueId" [periodData]="periodData"
        [childtype]="childtype" (close)="closeAddLectureForm($event)">
    </app-rightside-forms>
</div>
<div class="viewSidePopup assignedEditLecture" [ngClass]="{'slideInLeft':!isEditLecture,'slideInRight':isEditLecture}"
    *ngIf="isEditLecture">
    <app-rightside-forms [type]="type" [timetableUniqueId]="timeTableData.uniqueId" [lectureId]="selectedLectureId"
        [lectureData]="selectedLectureData" [batchData]="batchData" [childtype]="4"
        [timetableUniqueId]="timetableUniqueId" (close)="closeAddLectureForm($event)">
    </app-rightside-forms>
</div>
<div class="viewSidePopup"
    [ngClass]="{'slideInLeft':!isRightSidePopup,'slideInRight':isRightSidePopup,'rightSidePopup':popupType!=7,'rightSideHistryPopup':popupType==7}"
    *ngIf="isRightSidePopup">
    <app-test-design [type]="popupType" [typeChild]="childtype" (closeView)="closeAddLectureForm($event)">
    </app-test-design>
</div>
<div class="viewSidePopup removeLecturePopup" [ngClass]="{'slideInLeft':!isRemoeLecture,'slideInRight':isRemoeLecture}"
    *ngIf="isRemoeLecture">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4>Remove Lecture</h4>
        </div>
    </div>
    <div class="row mx-0 px-1 py-2">
        <P class="pt-2 mx-2">Are you sure you want to remove this lecture?</P>
        <div class="row w-100 mt-3 justify-content-center">
            <a class="btn btn-no btn-outline" (click)="removeAction(1)">No</a>
            <button class="btn btn-yes btn-filled" (click)="removeAction(2)">Yes</button>
        </div>
    </div>
</div>