@import "../common-r";
.batchBadge {
    padding: 5px 7px 5px 7px;
    font-size: 11px;
    width: 17%;
    color: #555;
}
.batchBadge .fa-times {
    padding-top: 2px;
    cursor: pointer;
}
.colorBadges .batchBadge {
    padding: 8px 5px 0px 5px;
    width: 100%;
}
td {
    border: 1px solid #d8d6d6;
    height: auto;
    font-size: 12px;
    border-collapse: collapse;
    vertical-align: top;
    color: #444;
}
tr td:first-child {
    text-align: center;
    border: 0px;
    vertical-align: middle;
    padding: 5px;
}
th {
    border-left: 1px solid #80808000;
    border-right: 1px solid #80808000;
    border-top: 1px solid #80808000;
    border-collapse: collapse;
    width: 140px;
    padding: 8px 5px;
    text-align: center;
    background: var(--newAppbg-color);
}
.Circle {
    padding: 0px 6px;
    border-radius: 14px;
}
.tabHeading {
    padding: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 6px;
    font-size: 13px;
    margin-left: 6px;
    height: 35px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
    width: fit-content;
}
.activeCourseTab {
    background-color: var(--newApp-color);
    color: #ffffff;
}
td p {
    margin-bottom: 0px;
    padding: 6px 2px 6px 5px;
}
.color1 {
    background-color: #00f3ff17;
}
.color2 {
    background-color: #0043ff17;
}
.color3 {
    background-color: #ff990026;
}
.color4 {
    background-color: #0095ff26;
}
.addMore {
    margin-top: 6px;
    margin-left: 50px !important;
}
.btn-save,
.btn-cancel {
    width: 135px;
}
.type4 .btn-save,
.type4 .btn-cancel,
.type3 .btn-save,
.type3 .btn-cancel {
    width: 145px;
    padding: 7px 0px;
}
.container-fluid {
    height: 78vh;
}
.assignedEditLecture {
    width: 54% !important;
    right: -20px;
    top: 0;
    z-index: 1050;
    padding: 0px 0px 20px;
}
.rightSidePopup {
    width: 33% !important;
    top: -113px;
    right: -25px;
    padding-right: 0px;
    padding-left: 0px;
}
.rightSideHistryPopup {
    width: 85% !important;
    top: -90px;
    right: -25px;
}
.mainType4 {
    top: -113px;
}
.popuphover {
    display: none;
}
.lecture:hover + .popuphover {
    display: block;
    color: red;
    width: 220px;
    height: 250px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
    position: absolute;
    background-color: #ffffff;
    left: 204px;
    margin-top: -16px;
}
.lecture img {
    border: 2px solid #0091ff;
    margin-right: 5px;
}
.popover__wrapper {
    position: relative;
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10px);
    display: block;
    position: absolute;
    left: 120px;
    margin-top: -30px;
    background-color: #ffffff;
    padding: 7px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    width: 380px;
}
.viewLecture tr td:nth-child(6) .popover__content,
.viewLecture tr td:nth-child(7) .popover__content,
.viewLecture tr td:nth-child(8) .popover__content {
    left: auto;
    right: 120px;
}
.viewLecture {
    overflow-y: auto;
    min-height: 550px;
    max-height: 750px;
}
// .popover__content:before {
//     position: absolute;
//     z-index: -1;
//     content: "";
//     right: calc(60% - 10px);
//     top: -8px;
//     border-style: solid;
//     border-width: 0 10px 10px 10px;
//     border-color: transparent transparent #bfbfbf transparent;
//     transition-duration: 0.3s;
//     transition-property: transform;
// }
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -2px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
p.lecture.popover__title {
    line-height: 30px;
}
p.lecture.popover__title .fa-chevron-right {
    margin-top: 10px;
    float: right;
    cursor: pointer;
}
.cardHeading2 {
    padding: 1% 0% 4% 1.5%;
    min-height: 500px;
    color: #5f5b5b;
}

.tabHeading1 {
    padding: 7px 6px;
    text-align: center;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 13px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

::ng-deep ng-select.customBorder .ng-select-container {
    border: none !important;
}

.closeBtn {
    color: #0091ff;
    border: 1px solid #0091ff;
    padding: 10px 30px;
    float: right;
    cursor: pointer;
}

.closeBtn:hover {
    color: white;
    background-color: #0091ff;
}
.publish {
    color: var(--success);
}
.draft {
    color: var(--primary);
}
.formMainHead {
    font-weight: 600;
}
.headingRow {
    border-bottom: 1px solid #8080804f;
    margin-bottom: 10px;
    margin-left: 0;
    display: flex;
    align-items: center;
}
.rowCol {
    height: 55px;
    padding-top: 11px !important;
}
td.h4 {
    font-size: 1.125rem;
}

.ng-select.customList {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.customList ::ng-deep .ng-select-container {
    display: none;
}
.ng-select.customList ::ng-deep .ng-dropdown-panel {
    margin-top: 5px;
    border-radius: 4px !important;
    width: 125px;
}
.popup {
    box-shadow: 0 0px 6px 0 rgb(0 0 0 / 20%);
    padding: 8px;
    min-width: 150px;
    height: 250px;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    z-index: 1111;
    background-color: white;
}
.disable {
    background-color: #929292;
}
.assignClick {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
p.name,
p.time {
    margin-bottom: 0px !important;
    text-align: center;
    font-size: 12px;
    padding: 0px !important;
}
p.name {
    font-weight: 600;
}
p.time {
    font-size: 11px;
}
.removeLecturePopup {
    width: 33%;
    top: 0px;
    z-index: 1050;
    padding: 0px 0px 20px;
}
.disable {
    background-color: #f7f7f7;
}
.subjectCount {
    background-color: #8eacff17;
}
.custom-control {
    padding-left: 20px;
    display: flex;
    align-items: center;
}
