<div class="container-fluid">
  <div class="card" *ngIf="!isEditForm">
    <div class="row mt-4">
      <div class="col-md-4 guardian" *ngFor="let guardianForm of guardianForms;let i=index;"
        [ngClass]="{'guardian-first':i==0}">
        <div class="d-inline action">
          <i class="fas fa-pencil-alt" (click)="editGuardian(i)"></i>
          <i class="fas fa-trash" (click)="deleteGuardian(guardianForm.value,i)"></i>
        </div>
        <div class="guardianProfImg" *ngIf="!guardianForm.value.profileImage">
          <i class="fas fa-user-alt fa-2x"></i>
        </div>
        <div class="guardianProfImg" *ngIf="guardianForm.value.profileImage">
          <img
            [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +guardianForm.value.profileImage)"
            alt="">
        </div>
        <p class="text-center name">{{guardianForm.value.generalInfo.fullName}}</p>
        <p class="relation">{{guardianForm.value.generalInfo.relationName}}</p>
        <p class="viewMore" *ngIf="!guardianForm.value.isShowVewMore" (click)="showHideViewMore(guardianForm)">View More
        </p>
        <p class="viewMore" *ngIf="guardianForm.value.isShowVewMore" (click)="showHideViewMore(guardianForm)">View Less
        </p>
        <div class="guardianDetails" *ngIf="guardianForm.value.isShowVewMore">

          <p class="text-center">{{guardianForm.value.generalInfo.emailId}}</p>
          <p class="text-center">{{guardianForm.value.generalInfo.phoneNumber}} |
            {{guardianForm.value.generalInfo.bloodGroup}}</p>
          <p class="text-center">DOB: {{guardianForm.value.generalInfo.birthDate}}</p>
          <p class="text-center">Aadhar: {{guardianForm.value.generalInfo.adharNumber}}</p>
        </div>


      </div>
      <div class="col-md-4 emptyGuardian guardian-first" *ngIf="guardianForms.length==0" (click)="onAddParent()">
        <i class="fas fa-plus fa-2x"></i>
      </div>
      <div class="col-md-4 emptyGuardian" *ngIf="guardianForms.length<2" (click)="onAddParent()">

        <i class="fas fa-plus fa-2x"></i>
      </div>
      <div class="col-md-4 emptyGuardian" *ngIf="guardianForms.length<3" (click)="onAddParent()">
        <i class="fas fa-plus fa-2x"></i>
      </div>

    </div>
    <div class="row mt-5 float-right justify-content-end mb-2 mr-3">
      <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
    </div>
  </div>
  <div class="guardianForm" *ngIf="isEditForm">
    <div class="row mb-2">
      <div ngbDropdown #guardianDrop="ngbDropdown" class="d-inline-block col-md-9" (clickOutside)="onClickedOutside()">
        <input type="text" name="searchTerm" class="form-control" style="height: 40px;" autocomplete="off"
          (input)="findRecords($event.target.value)" placeholder="Search" aria-controls="tickets-table"
          id="dropdownBasic1" ngbDropdownToggle>
        <i class="fas fa-search"></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 95%; margin-left: 10px;">
          <div class="student-details">
            <div class="studentList">
              <div class="inbox-widget" appSlimScroll>
                <div class="inbox-item" *ngFor="let student of guardianList" ngbDropdownItem
                  (click)="addGuardian(student)" style="cursor: pointer;">
                  <div class="inbox-item-img">
                    <img src="assets/images/profileImg.png" class="rounded-circle" alt="">
                  </div>
                  <p class="inbox-item-author">{{ student.fullName }}</p>
                  <!-- <p><span class="btn btn-className btn-rounded btn-sm">NEET</span>
                    <span class="btn btn-orgName btn-rounded btn-sm"> ORG CODE</span>
                  </p> -->

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-save w-100 ml-0">Assign</button>
      </div>

    </div>
    <div class="card">
      <span class="formHeading">Guardian</span>
      <div class="row mx-0">
        <!-- <div *ngFor="let guardianForm of guardianForms;let i=index;" id="gaurdian{{i}}"> -->
        <form [formGroup]="guardianForms[editFormId]">

          <div class="row" *ngIf="!guardianForms[editFormId].controls.isNew.value">
            <div class="col-md-3">
              <div class="imageBox" *ngIf="!imgSrc">
                <i class="fas fa-user-alt fa-2x"></i>
              </div>
              <div class="image" *ngIf="imgSrc">
                <img *ngIf="!fileSelected"
                  [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +imgSrc)" alt="">
                <img *ngIf="fileSelected" [src]="imgSrc" alt="">
              </div>
              <p for="uploadImage" class="uploadImage" *ngIf="!imgSrc" (click)="openFile()">Upload Image <i
                  class="fas fa-upload"></i></p>
              <p for="uploadImage" class="uploadImage" *ngIf="imgSrc" (click)="openFile()">Edit Image <i
                  class="fas fa-pencil-alt"></i></p>

            </div>
            <div class="col-md-4">
              <input type="file" name="file" id="imguploadFile" class="invisible" accept=".png, .jpg, .jpeg"
                (change)="onSelectFile($event)">
            </div>
          </div>
          <div formGroupName="generalInfo">
            <div class="row">
              <div class="col-5">
                <label class="label-text col-form-label">First Name</label><i style="color: tomato;">* </i>
                <input class="form-control" type="text" name="fname" formControlName="firstName" #fName maxlength="20"
                  [ngClass]="{ 'is-invalid': submitted && ( editFormId | guardianFormValidator:guardianForms).firstName.errors }"
                  appAlphabetOnly [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': fName.value.length !== 20,'badge-danger': fName.value.length == 20}">
                  {{ fName.value.length }} / 20</p>
                <div *ngIf="submitted &&( editFormId | guardianFormValidator : guardianForms).firstName.errors"
                  class="invalid-feedback">
                  <div *ngIf="( editFormId | guardianFormValidator:guardianForms).firstName.errors.required">
                    First name is required</div>
                </div>
              </div>
              <div class="col-5">
                <label class="label-text col-form-label">Last Name</label><i style="color: tomato;">* </i>
                <input class="form-control" type="text" name="lname" formControlName="lastName" #lName maxlength="20"
                  [ngClass]="{ 'is-invalid': submitted && ( editFormId | guardianFormValidator:guardianForms).lastName.errors }"
                  appAlphabetOnly [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': lName.value.length !== 20,'badge-danger': lName.value.length == 20}">
                  {{ lName.value.length }} / 20</p>
                <div *ngIf="submitted && ( editFormId | guardianFormValidator:guardianForms).lastName.errors"
                  class="invalid-feedback">
                  <div *ngIf="( editFormId | guardianFormValidator:guardianForms).lastName.errors.required">
                    Last name is required</div>
                </div>

              </div>
              <div class="col-1"></div>

            </div>
            <div class="row">
              <div class="col-5">
                <label class="label-text col-form-label">Email</label><i style="color: tomato;">* </i>
                <input class="form-control" type="text" name="email" formControlName="emailId" #emailId maxlength="64"
                  [ngClass]="{ 'is-invalid': submitted && ( editFormId | guardianFormValidator:guardianForms).emailId.errors }"
                  [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': emailId.value.length !== 64,'badge-danger': emailId.value.length == 64}">
                  {{ emailId.value.length }} / 64</p>
                <div *ngIf="submitted && ( editFormId | guardianFormValidator:guardianForms).emailId.errors"
                  class="invalid-feedback">
                  <div *ngIf="( editFormId | guardianFormValidator:guardianForms).emailId.errors.required">
                    Email id is required</div>
                </div>

              </div>

              <div class="col-5">
                <label class="label-text col-form-label">Phone</label><i style="color: tomato;">* </i>
                <input class="form-control" type="text" name="email" formControlName="phoneNumber" #mobile
                  maxlength="10" appOnlynumber
                  [ngClass]="{ 'is-invalid': submitted && ( editFormId | guardianFormValidator:guardianForms).phoneNumber.errors }"
                  [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': mobile.value.length !== 10,'badge-danger': mobile.value.length == 10}">
                  {{ mobile.value.length }} / 10</p>
                <div *ngIf="submitted && ( editFormId | guardianFormValidator:guardianForms).phoneNumber.errors"
                  class="invalid-feedback">
                  <div *ngIf="( editFormId | guardianFormValidator:guardianForms).phoneNumber.errors.required">
                    Phone number is required</div>
                  <div *ngIf="( editFormId | guardianFormValidator:guardianForms).phoneNumber.errors.pattern">Please,
                    Enter 10 digit Mobile Number</div>

                </div>

              </div>
              <div class="col-1"></div>
            </div>
            <div class="row">

              <div class="col-5">
                <label class="label-text col-form-label">Relationship with Student</label><i style="color: tomato;">*
                </i>
                <ng-select [items]="relations" class="custom1" bindLabel="name" bindValue="id" [multiple]="false"
                  [closeOnSelect]="true" [clearable]="false" placeholder="Select" [searchable]="false"
                  formControlName="relation"
                  [ngClass]="{ 'is-invalid': submitted && guardianFormValidator(editFormId).relation.errors || alreadyExist }"
                  (change)="onChange($event, editFormId)"></ng-select>
                <div *ngIf="submitted && ( editFormId | guardianFormValidator:guardianForms).relation.errors"
                  class="invalid-feedback">
                  <div *ngIf="( editFormId | guardianFormValidator:guardianForms).relation.errors.required">
                    Relation is required</div>
                </div>
                <div *ngIf="alreadyExist" style="width: 100%;margin-top: 0.25rem;font-size: 0.75rem;color: #f1556c;">
                  Relation is already present</div>
              </div>
              <div class="col-5">
                <label class="label-text col-form-label">Aadhaar Number</label>
                <input class="form-control" type="text" name="ano" formControlName="adharNumber" #aadharno
                  maxlength="12" minlength="12" appOnlynumber
                  [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': aadharno.value.length !== 12,'badge-danger': aadharno.value.length == 12}">
                  {{ aadharno.value.length }} / 12</p>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row">
              <div class="col-5">
                <label class="label-text col-form-label">Blood Group</label>
                <input type="text" class="form-control" formControlName="bloodGroup"
                  *ngIf="guardianForms[editFormId].controls.isAssignedGuardian.value"
                  [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                <ng-select formControlName="bloodGroup" [searchable]="false" [closeOnSelect]="true" [clearable]="false"
                  placeholder="Select Blood Group" *ngIf="!guardianForms[editFormId].controls.isAssignedGuardian.value">
                  <ng-option value="A+" selected>A+</ng-option>
                  <ng-option value="B+">B+</ng-option>
                  <ng-option value="AB">AB</ng-option>
                  <ng-option value="O+">O+</ng-option>
                  <ng-option value="O-">O-</ng-option>
                </ng-select>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="label-text col-form-label">Birth Date</label>
                  <input type="text" class="form-control" formControlName="birthDate"
                    *ngIf="guardianForms[editFormId].controls.isAssignedGuardian.value"
                    [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                  <input type="text" formControlName="birthDate" class="form-control"
                    *ngIf="!guardianForms[editFormId].controls.isAssignedGuardian.value"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #dp="bsDatepicker" placeholder="Birth Date"
                    show-weeks="false" bsDatepicker
                    [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                  <div *ngIf="submitted && ( editFormId | guardianFormValidator:guardianForms).birthDate.errors"
                    class="invalid-feedback">
                    <div *ngIf="submitted && ( editFormId | guardianFormValidator:guardianForms).birthDate.errors">Birth
                      Date is required</div>

                  </div>
                </div>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="form-group">
                  <label for="lastName" class="d-block pb-1 label-text col-form-label">Gender</label>
                  <div class="form-check-inline">
                    <label class="form-check-label label-text col-form-label" for="radio1">
                      <input type="radio" class="form-check-input" id="radio1" formControlName="gender" name="gender"
                        value="M" [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                      <span>Male</span>
                    </label>
                    <label class="form-check-label label-text col-form-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio2" formControlName="gender" name="gender"
                        value="F" [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                      <span>Female</span>
                    </label>
                    <label class="form-check-label label-text col-form-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio3" formControlName="gender" name="gender"
                        value="O" [readOnly]="guardianForms[editFormId].controls.isAssignedGuardian.value">
                      <span>Other</span>
                    </label>
                  </div>
                </div>
              </div>

            </div>

            <br>

            <br>
            <div class="row mt-2 float-right pb-5 mr-3">
              <a class="btn btn-cancel btn-outline" (click)="closeForm()">Cancel</a>
              <button class="btn btn-save ml-2" type="submit" (click)="saveGuardian(editFormId)">Save</button>
            </div>
          </div>
        </form>
        <!-- </div> -->
      </div>

    </div>
  </div>
</div>