.label-text {
  color: #7c7b98;
  font-weight: 400;
  padding-bottom: calc(0.25rem + 1px);
}
.form-control {
  margin-bottom: 4px;
}

.border-box {
  border: 1px solid rgb(207, 204, 204);
  border-radius: 7px;
  padding: 10px 10px 10px;
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
}

.border-social-box {
  border: 1px solid rgb(207, 204, 204);
  border-radius: 5px;
  padding: 3px 3px 3px;
  // max-height: 200px;
  // min-height: 200px;
}

.border-socil-box {
  border: 1px solid rgb(190, 187, 187);
  border-radius: 5px;
  padding: 10px 15px 10px;
  height: 40px;
  // min-height: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 240, 240);
  // outline: 1px solid #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 206, 206);
}

.modal {
  position: absolute;
  top: 38%;
  left: 6%;
  width: 100%;
  height: 100%;
  z-index: 1050;
  display: none;
}

.student-details {
  // margin-top:30px
}
.student-details .studentList {
  padding-left: 0px;
  padding-right: 0px;
  height: 210px;
  overflow-x: scroll;
}
.student-details .inbox-item {
  padding: 10px 15px 0px 20px;
  border-top: 0.3px solid #f7f7f7;
}
.student-details .inbox-item.active {
  background-color: #f5f6fa;
}
.student-details .inbox-widget input {
  border: none !important;
  height: 70px;
}
.student-details .inbox-item .inbox-item-author {
  color: #4d4f5c !important;
  font-weight: 500;
}
.student-details .inbox-item .btn {
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 10px;
  border-radius: 6px;
}
.student-details .inbox-item .btn-className {
  color: #0db2d0;
  border-color: #0db2d0;
}
.student-details .inbox-item .btn-orgName {
  color: #fca54d;
  border-color: #fca54d;
}
.student-details .inbox-item-date i {
  color: var(--main-color);
}
.student-details .inbox-item-date {
  top: auto !important;
  right: 15px;
  bottom: 0px;
}
.card {
  box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 10%);
}
.add-icon {
  height: 37px;
  width: 37px;
}
::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 0px !important;
}

.btn-save {
  background-color: var(--newApp-color);
  margin-left: 30px;
  padding: 6px 30px;
  font-size: 17px;
  width: 175px;
  // height: 40px;
}
.btn-cancel {
  background-color: white;
  border: 2px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
  color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
  color: var(--newApp-color) !important;
  background-color: #fff;
}
.relation {
  background-color: #daeeff;
  text-align: center;
  width: fit-content;
  border: 1px solid var(--newApp-color);
  margin: 0px auto 25px !important;
  font-size: 13px;
  padding: 0px 10px;
  border-radius: 3px;
  color: var(--newApp-color) !important;
}
.guardianProfImg {
  width: 60px;
  height: 60px;
  margin: 20px auto 10px;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: #fff;
}
.guardianProfImg .fas {
  padding: 15px;
}
.guardian {
  margin: 0px 15px 10px 0px;
  // background-color: #ffffff;
  max-height: 194px;
  -webkit-box-flex: 0;
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0px;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
}
.guardian-first {
  margin-left: 15px !important;
}
.guardian p.name {
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.guardianDetails {
  background-color: #e2f0fd;
}
.guardianDetails p {
  margin-bottom: 2px;
  color: #757575;
}
.viewMore {
  text-align: center;
  background-color: #e2f0fd;
  color: var(--newApp-color) !important;
  padding: 5px;
  margin-bottom: 0px !important;
  cursor: pointer;
}
.emptyGuardian {
  display: flex;
  align-items: center;
  flex: 0 0 30%;
  max-width: 30%;
  text-align: center;
  align-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 194px;
  padding: 0px;
  margin: 0px 15px 10px 0px;
  cursor: pointer;
  background-color: #cecece;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
}
.formHeading {
  background-color: #c4e1fb;
  color: var(--newApp-color);
  padding: 5px 10px;
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
}
.guardianForm form {
  width: 100%;
  margin-left: 50px;
}
.form-check-label {
  margin-right: 25px;
  font-size: medium;
}
.fa-search {
  position: absolute;
  right: 20px;
  bottom: 12px;
  padding: 5px;
}
.imageBox {
  text-align: center;
  border: 1px solid lightgrey;
  width: 90px;
  height: 90px;
  display: flex;
  /* padding: 20px; */
  margin: 15px 0px 5px;
  align-items: center;
  justify-content: center;
}
.imageBox .fas {
  color: darkgray;
}
.image {
  width: 80px;
  margin: 5px 0px 5px;
}
.guardianProfImg img {
  height: 100%;
}
.guardianForm form img {
  width: 110px;
  vertical-align: middle;
  height: 100px;
  margin: 5px 0px 5px;
}
.uploadImage {
  color: var(--newApp-color) !important;
  font-size: 12px;
  cursor: pointer;
}
.uploadImage .fas {
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
  font-weight: 600;
  font-size: 10px;
}
.action .fas {
  position: relative;
  right: 10px;
  top: 7px;
  float: right;
  cursor: pointer;
  font-size: 12px;
}
.action .fa-pencil-alt {
  color: var(--newApp-color);
  border: 0.7px solid;
  border-radius: 3px;
  padding: 3px;
}
.action .fa-trash {
  right: 21px;
  top: 11px;
  color: tomato;
}
.btn-img-cancel {
  background-color: white;
  border: 1px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 10px;
  padding: 5px 20px;
  font-size: 13px;
  cursor: pointer;
}
.btn-img-upload {
  background-color: var(--newApp-color);
  color: #fff;
  margin-left: 10px;
  padding: 5px 20px;
  font-size: 13px;
  cursor: pointer;
}
.inputBoxCount {
  top: 27px !important;
}
