#headertabs {
  color: black;
  background-color: white;
  z-index: 1;
  width: 100%;
  padding-top: 10px;
  position: relative;
  margin-bottom: 5px;
}
#headertabs nav {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
  box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
}

#headertabs .nav-tabs {
  border: none;
}
#headertabs .nav-tabs .nav-link {
  color: #b3aeae;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0px;
}

#headertabs .nav-tabs .nav-link:hover {
  border-color: transparent;
}
#headertabs .nav-tabs .nav-link.active {
  color: var(--newApp-color);
  background-color: #fff;
  border-color: transparent transparent #fdfdfd;
  font-weight: 500;
  font-size: 14px;
}
#headertabs .nav-item {
  width: 120px;
  text-align: center;
}
#headertabs .tab-content {
  padding: 2px 0 0 0;
}
.stack-back {
  opacity: 0.5;
  pointer-events: none;
}
