<div class="container-fluid">
  <section id="headertabs">
    <nav [ngClass]="{'stack-back':isUserDetailsShow}">
      <div class="nav nav-tabs " id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==1 || tabNumber== '1'}"
          data-toggle="tab" role="tab" aria-controls="nav-basic" aria-selected="true" (click)="tabClick(1)">Staff</a>
        <a class="nav-item nav-link" id="nav-others-tab" [ngClass]="{'active':tabNumber==2 || tabNumber== '2'}"
          data-toggle="tab" role="tab" aria-controls="nav-others" aria-selected="false"
          (click)="tabClick(2)">Teachers</a>
        <a class="nav-item nav-link" id="nav-workTime-tab" [ngClass]="{'active':tabNumber==3 || tabNumber== '3'}"
          data-toggle="tab" role="tab" aria-controls="nav-workTime" aria-selected="false"
          (click)="tabClick(3)">Parents</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade " [ngClass]="{'active show':tabNumber==1 || tabNumber== '1'}" id="nav-basic"
        role="tabpanel" aria-labelledby="nav-basic-tab">
        <app-list [tabNumber]="tabNumber" (detailsOpen)="detailsOpen($event)"></app-list>
      </div>
      <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==2 || tabNumber== '2'}" id="nav-others"
        role="tabpanel" aria-labelledby="nav-others-tab">
        <app-teachers-list [tabNumber]="tabNumber" (detailsOpen)="detailsOpen($event)"></app-teachers-list>
      </div>
      <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==3 || tabNumber== '3'}" id="nav-workTime"
        role="tabpanel" aria-labelledby="nav-workTime-tab">
        <app-parents-list [tabNumber]="tabNumber" (detailsOpen)="detailsOpen($event)"></app-parents-list>
      </div>

    </div>

  </section>
</div>