<app-common-exam-header></app-common-exam-header>

<div class="card customCardCss">
  <div class="card-body">
    <h4 class="heading">Create Quick Exams</h4>
    <hr>
    <div class="form">
      <aw-wizard #wizardForm>
        <aw-wizard-step>
          <form (ngSubmit)="formSubmit()" [formGroup]="quickExamForm" style="margin-bottom: 30px;">
            <div class="form-group">
              <div class="row">
                <div class="col-4">
                  <label class="col-form-label label-under">Name :</label>
                  
                  <input type="text" class="form-control" maxlength="45" #option (keyup)="0"
                    (keypress)="omit_special_char($event)" formControlName="name" placeholder="Type..">
                  <div *ngIf="quickExamForm.controls['name'].errors && isFirstNext" class="text-danger">
                    <div *ngIf="quickExamForm.controls['name'].errors?.required">
                      Name is required</div>
                  </div>

                  <div
                    *ngIf="quickExamForm.controls['name'].invalid && (quickExamForm.controls['name'].dirty || quickExamForm.controls['name'].touched)"
                    class="text-danger">
                    <div *ngIf="quickExamForm.controls['name'].errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label class="col-form-label label-under">Test Type :</label>
                  <ng-select formControlName="examAssignmentTypeId" [searchable]="false" [items]="testTypeList" bindLabel="name" bindValue="id" placeholder="Select" (change)="testTypeChange($event)" [(ngModel)]="selectedTestType">
                    
                </ng-select>
                 
                  <div *ngIf="quickExamForm.controls['examAssignmentTypeId'].errors && isFirstNext" class="text-danger">
                    <div *ngIf="quickExamForm.controls['examAssignmentTypeId'].errors?.required">
                      Test Type is required</div>
                  </div>

                  <div
                    *ngIf="quickExamForm.controls['examAssignmentTypeId'].invalid && (quickExamForm.controls['examAssignmentTypeId'].dirty || quickExamForm.controls['examAssignmentTypeId'].touched)"
                    class="text-danger">

                    <div *ngIf="quickExamForm.controls['examAssignmentTypeId'].errors.required">
                      Test Type is required.
                    </div>
                  </div>
                  <a href="javascript: void(0);"  *ngIf="!toggle" (click)="togleType()" class="btn addMore"><i class="fas fa-plus"></i> Add more</a>
                </div>
              
              </div>
              <div class="row">
                <form [formGroup]="testTypeForm" class="w-100 testTypeForm"  *ngIf="toggle">
               
                  <div class="row">
                  <div class="col-4">
                      <div class="" formArrayName="examAssignmentTypeList">
                          <div *ngFor="let examAssignmentType of testTypeForm.controls.examAssignmentTypeList['controls'];let i=index"
                              [formGroupName]="i">
                              <label class="col-form-label label-under">Test Type:</label>
                                <input type="text" class="form-control"
                                      [ngClass]="{'is-invalid':testTypeSubmitted && examAssignmentType.controls['name'].errors}"
                                      formControlName="name"
                                      (input)="checkExists($event.target.value, i)"
                                      (keypress)="omit_special_char($event)">
                                  <div *ngIf="testTypeSubmitted && examAssignmentType.controls['name'].errors"
                                      class="invalid-feedback">
                                      <div
                                          *ngIf="examAssignmentType.controls['name'].errors?.required">
                                          Name is required</div>
                                  </div>
                              
                          </div>
                        
                      </div>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-testType" type="button"
                              style=" margin-bottom: 10px;"
                              (click)="addtestType()">Submit</button>
                  </div>
                </div>
              </form>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12">
              <label class="col-form-label"><b>Timimg Details</b> </label>
              <app-timedetails [timingInfo]="quickExamForm.controls.pattern1TimingInfo" [examType]=1>
              </app-timedetails>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12">
                  <label class="col-form-label"><b>Batch Details:</b> </label>

                  <app-batchdetails [batchInfo]="quickExamForm.controls.batchInfo">
                  </app-batchdetails>
    <!-- 
                  <label *ngIf="students.length > 0" for="hori-pass1" class="col-form-label">Select Students
                    Type:</label>
                  <div *ngIf="students.length > 0"
                    style=" border-radius: 10px; border: 1px solid #ced4da; padding: 28px 0px 0px 100px;">
                    <div class="form-row">
                      <div class="form-group col-md-5">
                        <div class="form-group row">
                          <div class="form-group radio radio-info form-check-inline">
                            <input type="radio" id="inlineRadio1" value="1" name="studentType"
                              (change)="radioButtonEvent(1)" formControlName="studentType">
                            <label for="inlineRadio1">
                              Select All Student.
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-md-1"></div>
                      <div class="form-group col-md-5">
                        <div class="form-group row">
                          <div class="form-group radio radio-info form-check-inline">
                            <input type="radio" id="inlineRadio2" value="2" name="studentType"
                              formControlName="studentType" (change)="radioButtonEvent(2)">
                            <label for="inlineRadio2">
                              Select Customized Student.
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <label *ngIf="quickExamForm.controls.studentType.value == 2" for="hori-pass1"
                    class=" col-form-label" style="font-size: 16px; margin:5px;">Select Student
                    :</label>
                  <div *ngIf="quickExamForm.controls.studentType.value == 2"
                    style=" border-radius: 10px; border: 1px solid #ced4da; padding: 28px 0px 0px 100px;">
                    <div class="row">
                      <div class="col-sm-4" *ngFor="let user of students; let i=index">
                        <div class="checkbox checkbox-primary mb-2">
                          <input id="{{user.id}}" type="checkbox" name="{{user.name}}" style="height: 16px;"
                            (change)="addDeleteStudentUid($event,user)">
                          <label for="{{user.id}}">
                            <strong>{{user.name}}&nbsp;</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                

              </div>
            </div>

            <div class="form-group subjects">
              <div class="row">
                <div class="col-12">
                  <label class="col-form-label subjectHeading"><b>Subjects</b> </label>

                
                    <div class="row">
                      <div class="col-5">
          
                          <label class="col-form-label label-under">Subject</label>
                          <ng-select [items]="subjectsList" bindLabel="name" [multiple]="true" [searchable]="false"  placeholder="Subject" (change)="addSubject($event)" [closeOnSelect]="false">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                              <div class="ng-value" *ngFor="let item of items | slice:0:3">
                                  <span class="ng-value-label"> {{item.name}}</span>
                                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                              </div>
                              <div class="ng-value" *ngIf="items.length > 3">
                                  <span class="ng-value-label">+{{items.length - 3}}</span>
                              </div>
                          </ng-template>
                          </ng-select>
                          <!-- <ng-select bindLabel="name" placeholder="Select Subjects" (change)="addSubject($event)">
                                          <ng-option *ngFor="let subject of subjectsList" [value]="subject">
                                              {{subject.name}}
                                          </ng-option>
                                        </ng-select> -->
          
          
                      </div>
                      <div class="col-3">
                        <label class="col-form-label label-under">Maximum Marks</label>
                        <input type="" class="form-control" maxlength="4" size="4" placeholder="Type here..." 
                          (keypress)="numberOnly($event)" formControlName="marks">

                        <div
                          *ngIf="quickExamForm.controls['marks'].invalid && (quickExamForm.controls['marks'].dirty || quickExamForm.controls['marks'].touched)"
                          class="text-danger">

                          <div *ngIf="quickExamForm.controls['marks'].errors.required">
                            Marks are required.
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <label class="col-form-label label-under">Passing Marks</label>
                        <input type="" class="form-control" maxlength="4" size="4"
                          (keypress)="numberOnly($event)" formControlName="passingMarks" placeholder="Type here..." 
                          (input)="getPassingMarks($event.target.value)">
                        <div
                          *ngIf="quickExamForm.controls['passingMarks'].invalid && (quickExamForm.controls['passingMarks'].dirty || quickExamForm.controls['passingMarks'].touched)"
                          class="text-danger">

                          <div *ngIf="quickExamForm.controls['passingMarks'].errors.required">
                            Passing Marks are required.
                          </div>
                        </div>

                        <div
                          *ngIf="quickExamForm.controls['passingMarks'].errors && isFirstNext"
                          class="text-danger">

                          <div *ngIf="quickExamForm.controls['passingMarks'].errors.required">
                            Passing Marks are required.
                          </div>
                        </div>
                      </div>


                    </div>
                

                </div>


              </div>
            </div>
            <ul class="list-inline wizard mb-0">
              <li class="next list-inline-item float-right">
                <button class="btn nextbutton" (click)="wizardFirstNext()">Next&nbsp;<i
                  class="fas fa-arrow-right"></i></button>
              </li>
            </ul>

          </form>
        </aw-wizard-step>
        <aw-wizard-step>
          <form (ngSubmit)="formSubmit()" [formGroup]="quickExamForm" style="margin-bottom: 30px;">
            <app-examsyllabus [examSyllabus]="quickExamForm.controls.examSyllabus"
              [selectedSubjects]="selectedSubjects" [courseId]="courseId" [type]="quickExamForm.controls.examAssignmentTypeId.value"></app-examsyllabus>

            <ul class="list-inline wizard mb-0" >
              <li class="previous list-inline-item">
                <button class="btn secondPrevbutton" type="button"
                   awPreviousStep><i class="fas fa-arrow-left" style="padding-right: 9%;"></i> Previous</button>
              </li>
              <li class="next list-inline-item float-right"><button class="btn secondNextbutton" type="submit"
                  (click)="wizardSecondNextStep()" >Next&nbsp;<i
                  class="fas fa-arrow-right"></i></button>
              </li>
            </ul>
          </form>
        </aw-wizard-step>
        <aw-wizard-step>
          <form (ngSubmit)="formSubmit()" [formGroup]="quickExamForm" style="margin-bottom: 30px;">

            <app-examview [exam]="exam" [courseName]="courseName" [batchName]="batchName"
              [testType]="testType"></app-examview>

            <ul class="list-inline wizard mb-0" style="padding-top:3%">
              <li class="previous list-inline-item"><button class="btn secondPrevbutton" type="button"
                  style="margin-left: 10px;" awPreviousStep><i class="fas fa-arrow-left" style="padding-right: 9%;"></i>Previous</button>
              </li>
              <li class="next list-inline-item float-right"><button class="btn secondNextbutton"
                  type="submit" (click)="openConfirm(content)" >
                  Submit</button>
              </li>
            </ul>
          </form>
        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</div>


<ng-template #content role="document" let-modal="close">
  <div class="modal-header" style="background-color: #0091ff;">
      <h4 class="modal-title text-white">Create Quick Exam</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="close()" (click)="modal('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
          <div>
              <div class="row">
                  <div class="col-lg-12">
                     
                      <div class="form-group row mb-12" style="margin-top: 5px;">
                        <div class="col-md-2"></div>
                          <div class="col-md-8">
                            <label for="">Are you sure you want to Create Quick Exam ?</label>
                          </div>
                          <div class="col-md-2"></div>
                      </div>
                      <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" (click)="modal('Cross click')">Close</button></div>
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" style="float: right;" (click)="saveQuickExam()" (click)="modal('Cross click')">Save</button></div>
                          </div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
</ng-template>