<ng-container>
  <!-- <div class="container-fluid"> -->
  <!-- <app-page-title title="staffs" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->

  <div class="row">
    <div class="col-12">
      <div class="card"
        [ngClass]="{'stack-back':listClicked,'quickForm-back':isShowQuickForm, 'mb-0':listClicked,'outsideDropdown':isDropDownOpen}">
        <div class="card-body">
          <!-- <h4 class="header-title">Parents</h4>
            <p class="text-muted font-13 mb-4">
  
            </p> -->
          <!-- <app-common-loader *ngIf="loading"></app-common-loader> -->
          <div class="row mb-md-2 table-header">
            <!-- Search -->
            <div class="col-sm-12 col-md-12">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-1 col-form-label">Parents</label>
                <div class="col-sm-1 quickAdd">
                  <!-- <button class="btn"><i class="fe-settings noti-icon"></i></button> -->
                  <button class="btn" (click)="OpenQuickForm()"><i class="fa fa-plus"></i>Quick Add</button>
                </div>
                <div class="col-sm-6 dropdownModal" ngbDropdown [autoClose]="false" #myDrop="ngbDropdown">
                  <input type="text" name="searchTerm" class="form-control" (input)="findRecords($event.target.value)"
                    [ngClass]="{'quickForm-back':isShowQuickForm}" placeholder="Search" aria-controls="tickets-table"
                    (keypress)="searchable($event)">
                  <i class="fas fa-search fa-2x"></i>
                  <!-- <i class="fas fa-filter" id="dropdownForm1" [ngClass]="{'quickForm-back':isShowQuickForm}"
                    (click)="openDropdown()" ngbDropdownToggle></i> -->
                  <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropDownForm">
                    <div class="userList scroll">
                      <button *ngFor="let item of searchUserList" (click)="clickDropdownItem(item)"
                        ngbDropdownItem>{{item.fullName}}</button>
                    </div>
                  </div>
                  <p class="pt-1" *ngIf="message!=''">{{message}}</p>
                </div>
                <div class="col-sm-3 ">
                  <!-- <button class="btn bulkAssign float-right"><i class="far fa-user-circle" aria-hidden="true"></i> Bulk Assign</button> -->
                </div>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Quick add form -->
          <div class="addQuickForm" [ngClass]="{'slideInLeft':!isShowQuickForm,'slideInRight':isShowQuickForm} "
            *ngIf="isShowQuickForm">
            <button type="button" class="closeQuickForm" (click)="closeQuickForm()" aria-label="Close">x</button>
            <app-quick-form [roleData]="roleData" [quickFormType]="4" (getList)="getList($event)"></app-quick-form>
          </div>
          <!-- End Quick add form -->
          <!-- Table -->
          <div class="list">
            <div class="table-responsive" [ngClass]="{'emptyTable':parentList.length>=0}">
              <table class="table table-centered mb-0" id="test">
                <thead class="thead-light">
                  <!-- <div class="table-row"> -->
                  <tr>
                    <th style="width: 20px;" appCheckall>
                      <div class="table-checkbox c-checkbox">
                        <label>
                          <input type="checkbox" [checked]="isSelectAll" (change)="checkUncheck($event)" />
                          <span class="fa fa-check"></span>
                        </label>
                      </div>
                    </th>
                    <th style="width: 25%; text-align: left;">
                      <ng-select [items]="relationArray" #selectrelation class="custom" bindLabel="itemName"
                        bindValue="id" [multiple]="true" [closeOnSelect]="false" (change)="onItemChange($event,5)">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                            <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
                          </div>
                        </ng-template>
                      </ng-select>
                      <a class="link-project" (click)="selectrelation.open()">Name <i class="fa fa-sort"
                          aria-hidden="true"></i></a>
                    </th>
                    <th class="text-left">Assigned Students</th>
                    <!-- <th class="text-left">
                      <ng-select [items]="orgList" #selectOrg class="custom" bindLabel="itemName" bindValue="id"
                        [multiple]="true" [closeOnSelect]="false" (change)="onItemChange($event,5)">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                            <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
                          </div>
                        </ng-template>
                      </ng-select>
                      <a class="link-project" (click)="selectOrg.open()">Organization <i class="fa fa-sort"
                          aria-hidden="true"></i></a>
                    </th> -->
                    <th>Action</th>
                  </tr>
                  <!-- </div> -->
                </thead>
                <tbody>
                  <tr *ngFor="let parent of parentList; let i = index;" class="table-data">
                    <!-- <div class="table-row"> -->
                    <td style="width: 15px;">
                      <div class="table-checkbox c-checkbox">
                        <label>
                          <input type="checkbox" (change)="rowCheckboxChange($event)" />
                          <span class="fa fa-check"></span>
                        </label>
                      </div>
                    </td>
                    <td class="table-user" style="cursor: pointer;" (click)="rowClick(parent)">
                      <div class="media">
                        <div class="">
                          <img *ngIf="parent.imageCode==null || parent.imageCode==''" src="assets/images/profileImg.png"
                            class="rounded-circle" alt="">
                          <img *ngIf="parent.imageCode!=null && parent.imageCode!=''"
                            [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +parent.imageCode)"
                            class="rounded-circle" alt="">
                        </div>

                        <div class="media-body">
                          <a class="text-body font-weight-semibold">{{ parent.parent.fullName }}</a>
                          <p><span *ngIf="parent.orgName!=null" class="btn btn-className btn-rounded btn-sm"
                              [ngClass]="colorClassArray[i%5]">{{parent.roleName}}</span>
                          </p>
                        </div>
                      </div>

                    </td>
                    <td class="text-left" style="cursor: pointer;" (click)="rowClick(parent)">
                      <p class="inbox-item-author" *ngIf="parent.children!=null && parent.children.length > 0">
                        <!-- <span class="" *ngFor="let user of parent.children;let j=index;"><span class="subject"
                            *ngIf="j<3">{{ user.fullName
                            }}{{((parent.children.length-1) !=j ? ',' : '' ) }}</span><span class="noOfSubject"
                            *ngIf="parent.children.length>3 && j>2">+{{parent.children.length-3}}</span></span> -->
                        <span class="" *ngFor="let user of parent.children;let j=index;"><span class="subject"
                            *ngIf="j<3">{{ user.fullName}}</span></span>
                      </p>
                      <p class="inbox-item-author" *ngIf="parent.children==null || parent.children.length == 0">
                        <span class="">Not Assigned</span>
                      </p>
                    </td>
                    <!-- <td class="text-left" style="cursor: pointer;" (click)="rowClick(parent)">
                      {{parent.orgName}}
                    </td> -->
                    <td style="width: 10px;">

                      <div class="btn-group" dropdown>
                        <i class="mdi mdi-dots-vertical mdi-24px d-inline" id="button-basic" dropdownToggle
                          type="button" aria-controls="dropdown-basic"></i>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                          aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" (click)="rowClick(parent)">Edit</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                    <!-- </div> -->
                  </tr>
                  <tr *ngIf="parentList?.length==0">
                    <td colspan="8">No data found!</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="d-flex justify-content-end w-100">
                <div class="p-3 pagination" *ngIf="isShowPagination">
                  <ng-select [items]="pageSizeArray" #selectPageSize class=" pageSizeSelect" dropdownPosition="top"
                    bindLabel="name" bindValue="id" (change)="changePageSize($event)" [(ngModel)]="selectedPageSize">
                  </ng-select>
                  <a class="link-project" (click)="selectPageSize.open()">{{pageSizeArray[selectedPageSize].name}} </a>
                  of {{totalCount}} <i class="fa fa-chevron-left mx-2" aria-hidden="true"
                    (click)="goToPreviousPage()"></i>
                  <i class="fa fa-chevron-right pl-1" aria-hidden="true" (click)="goToNextPage()"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- End table -->

          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <!-- <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{service.startIndex}} to
                  {{service.endIndex}} of {{service.totalRecords}}
                  entries
                </div> -->
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                  </ngb-pagination> -->
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
      <div class="backdrop" [ngClass]="{'show':listClicked}"></div>
      <div class="card pt-4 stack-top" *ngIf="listClicked">
        <app-user-details [roleData]="roleData" [selectedUserId]="selectedParentId"
          [selectedUserUniqueId]="selectedParent.uniqueId" [userDetailsType]="4"></app-user-details>

      </div>
    </div>
  </div>
  <!-- </div> -->
</ng-container>