$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
.addQuickForm {
    position: absolute;
    background-color: white;
    top: 26px;
    width: 25%;
    right: 0;
    z-index: 1;
    pointer-events: fill;
}
// .table .table-user img{
//     margin-top: -5px !important;
// }
// .stack-top{
//     top:-50px !important;
//     height: 100vh;
// }

@import "../../../../../assets/scss/custom/components/common";
