<div *ngIf="!isCreateTrack && !isViewTrack && !isExamView">
  <div class="col-lg-12 text-center emptyList mb-3" *ngIf="!isExamListFound">
    <img src="assets/images/bg-img.png" alt="coursePlannerbg" width="50%" height="32%">

  </div>
  <div class="table-responsive" style="height: 860px;overflow-x: hidden;" *ngIf="isExamListFound">
    <table class="table table-centered mb-0" id="test">
      <thead>
        <tr>
          <th class="th-style">Action</th>
          <th class="th-style">Name</th>
          <th class="th-style">Date</th>

          <th class="th-style">Subject</th>
          <th class="th-style">Course</th>
          <th class="th-style">Batch</th>

          <th class="th-style" style="width: 150px;">Invigilator</th>
        </tr>
      </thead>
      <tbody>
        <tr class="trRow" style="border-bottom: 1px solid #00000021;" *ngFor="let exam of examList; let i=index">
          <td>
            <div ngbDropdown class="dropdown d-none d-lg-block">
              <i class="fas fa-ellipsis-v" style="cursor: pointer;" id="dropdownBasic1" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngIf="exam.state == 1" (click)="routeToExamSetter(exam.uniqueId)">
                  <span>Generate Tracks</span>
                </button>
                <button *ngIf="exam.state == 1" ngbDropdownItem>Upload Questions</button>
                <button *ngIf="exam.state == 2 && exam.state != 3" (click)="routeToViewTracks(exam.uniqueId)"
                  ngbDropdownItem>View Tracks</button>
                <button (click)="openCancelExam(cancelExam,exam.uniqueId)" ngbDropdownItem>Cancel Exam</button>

                <button *ngIf="(exam.state == 4 || exam.state == 5) && !exam.isAssessment"
                  (click)="routeToPublishExam(exam.uniqueId, false, exam.startDate,true)" ngbDropdownItem>
                  <span>Re-Publish Test</span>
                </button>
                <button *ngIf="(exam.state == 4 || exam.state == 5) && exam.isAssessment"
                  (click)="routeToPublishExam(exam.uniqueId, true, exam.startDate,true)" ngbDropdownItem>
                  <span>Re-Publish Assessment</span>
                </button>

                <button *ngIf="exam.state == 3" (click)="openPublish(exam)" ngbDropdownItem>
                  <span>Publish Exam</span>
                </button>
                <!-- <button *ngIf=" exam.state == 3" (click)="routeToPublishExam(exam.uniqueId, true, exam.startDate,false)"
                  ngbDropdownItem>
                  <span>Publish Assessment</span>
                </button> -->
                <!-- <button *ngIf="exam.state > 2 && !exam.isPaperSetsGenerated" (click)="routeToPaperSets(exam)"
                  ngbDropdownItem>
                  <span>Generate Paper Sets</span>
                </button>
                <button *ngIf="exam.state > 2 && exam.isPaperSetsGenerated" (click)="routeToPaperSets(exam)"
                  ngbDropdownItem>
                  <span>View Paper Sets</span>
                </button>
                <button *ngIf="exam.state == 8" (click)="routeToViewResult(exam.uniqueId, exam.isAssessment)"
                  ngbDropdownItem>
                  <span>View Result</span>
                </button> -->
                <button (click)="viewExam(exam.uniqueId)" ngbDropdownItem>
                  <span>View Exam</span>
                </button>


              </div>
            </div>
          </td>
          <td >{{exam.name}}
            &nbsp;

            <div style="margin-left: 1px;" class="row" [ngSwitch]="exam.state">
              <p *ngSwitchCase=1 class="col-form-label badge bg-soft-warning text-dark p-1">
                <small>Created</small>
              </p>
              <p *ngSwitchCase="2" class="col-form-label badge bg-soft-generated text-dark p-1">
                <small>Track Generated</small>
              </p>
              <p *ngSwitchCase="3" class="col-form-label badge bg-soft-lock text-dark p-1">
                <small>Locked</small>
              </p>
              <p *ngSwitchCase=4 class="col-form-label badge bg-soft-publish text-dark p-1">
                <small>Published</small>
              </p>
              <p *ngSwitchCase=5 class="col-form-label badge bg-soft-republish text-dark p-1">
                <small>Re-Published</small>
              </p>
              <p *ngSwitchCase="6" class="col-form-label badge bg-soft-ongoing text-dark p-1">
                <small>Ongoing</small>
              </p>
              <p *ngSwitchCase="7" class="col-form-label badge bg-soft-cancel text-dark p-1">
                <small>Canceled</small>
              </p>
              <p *ngSwitchCase="8" class="col-form-label badge bg-soft-end text-dark p-1">
                <small>End</small>
              </p>
            </div>
          </td>
          <td >{{exam.startDate | date:'shortDate'}}</td>

          <td >
            <span *ngFor="let subject of exam.subjects; let j=index">{{ subject }}
              <span *ngIf="j !== exam.subjects.length-1"> , &nbsp;</span></span>
          </td>
          <td >{{exam.course}}</td>
          <td *ngIf="exam.batches != null">
            <span *ngFor="let batch of exam.batches; let k=index">{{ batch }}
              <span *ngIf="k !== exam.batches.length-1"> , &nbsp;</span></span>
          </td>
          <td  *ngIf="exam.batches == null || exam.batches.length == 0">Not
            Selected</td>

          <td  *ngIf="exam.invigilator == null || exam.invigilator == ''">
            <a href="javascript: void(0);" class="text-blue"
              (click)="assignInvigilator(invigilator,exam.uniqueId)">Assign</a>
          </td>
          <td  *ngIf="exam.invigilator != null && exam.invigilator != ''">
            <div class="row">
              <div class="col-md-4" style="padding-left: 0;">
                <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px" style="border-radius: 50%;"
                    alt=""></span>
              </div>
              <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                <div class="row mainNameLabel">{{exam.invigilator}}</div>
                <div class="row headingTitle">Teacher</div>
              </div>
            </div>

          </td>
        </tr>

      </tbody>

    </table>

    <div class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-5">
        <div class="text-md-right" style="margin-left: 31px;">
          <ngb-pagination [collectionSize]="examData.totalRecords" [(page)]="page" [pageSize]="pageSize" [rotate]="true"
            [ellipses]="false" [boundaryLinks]="true" (pageChange)="pageChanged($event)">
          </ngb-pagination>


        </div>
      </div>
      <div class="col-sm-12 col-md-3"></div>
      <div class="col-sm-12 col-md-2" style="margin-right: 32px;display: none;">
        <div class="text-md-right float-md-right" style="margin-top: -12px;">
          <ng-select [searchable]="false" [items]="rowList" bindLabel="name" bindValue="id" [(ngModel)]="defaultRows">

          </ng-select>


        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="isCreateTrack">
  <div class="row mx-0 align-items-center px-2 w-100 examTitleRow">
    <p class="examTitle">Add track details</p>
  </div>
  <app-add-tracks [examUid]="examId" (close)="closeAddTrack($event)"></app-add-tracks>
</div>

<div *ngIf="isViewTrack">
  <div class="row mx-0 align-items-center px-2 w-100 examTitleRow">
    <p class="examTitle">Simple Exam</p>
  </div>
  <app-track-info [examUid]="examId" (close)="closeAddTrack($event)"></app-track-info>
</div>
<ng-template #invigilator role="document" let-modal="close">
  <div class="modal-header" style="background-color: #0091ff;">
    <h4 class="modal-title text-white">Assign Invigilator</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="closeInvigilator()"
      (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- <pre>{{invigilatorForm.value | json }} </pre> -->
  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group row mb-12" style="margin-top: 30px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <!-- <select id="" class="form-control" formControlName="userId">
                                    <option *ngFor="let user of userListInvigilator" value="{{user.id}}">
                                        {{user.name}}
                                    </option>
                                </select> -->
              <ng-select
                [ngClass]="{'bordercolorgreen':checkInvigilatorStatus == true && isStatusTrue ==  true,'bordercolorred':checkInvigilatorStatus == false && isStatusTrue ==  true}"
                [searchable]="false" bindLabel="fullName" [(ngModel)]="invigilatorName" placeholder="Select User"
                (change)="invigilatorChange($event)">
                <ng-option *ngFor="let user of userListInvigilator" [value]="user.uniqueId">{{user.fullName}}
                </ng-option>
              </ng-select>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="form-group row mb-12" style="margin-top: 5px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-3" *ngIf="checkInvigilatorStatus == true && isStatusTrue ==  true">
                  <div class="greenTag"></div>
                </div>
                <!-- <div class="col-2">
                    <div class="yellowTag"></div>
                  </div> -->
                <div class="col-4">
                  <div class="redTag" *ngIf="checkInvigilatorStatus == false && isStatusTrue ==  true"></div>
                </div>
              </div>
              <div class="row" style="font-size: 10px;">
                <div class="col-3" *ngIf="checkInvigilatorStatus && isStatusTrue ==  true">Available</div>
                <!-- <div class="col-2">Busy</div> -->
                <div class="col-4" *ngIf="!checkInvigilatorStatus && isStatusTrue ==  true">Not Available</div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mb-12" style="margin-bottom: 19px;margin-top: 50px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" (click)="modal('Cross click')"
                    (click)="closeInvigilator()">Close</button></div>
                <div class="col-6"><button type="button" class="btn invigilatorCloseBtn" style="float: right;"
                    (click)="saveInvigilator()" [disabled]="invigilatorName == null">Save</button></div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</ng-template>

<ng-template #cancelExam let-modal="close">
  <div class="modal-header cancleHeader">

    <h4 class="modal-title">Cancel {{currentTab==1?'Assignment':((currentTab==2)?"Test":"Exam")}}</h4>
  </div>
  <div class="modal-body">
    <h4 class="modal-title text-center">Are you sure want to cancel exam ?</h4>
    <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
              (click)="modal('Cross click')">Close</button></div>
          <div class="col-6"><button type="button" class="btn btn-testType" style="float: right;"
              (click)="modal('Cross click');examCancel()">Yes</button></div>
        </div>
      </div>
    </div>

  </div>
</ng-template>

<div *ngIf="isExamView">
  <div class="row mx-0 align-items-center px-2 w-100 examTitleRow">
    <p class="examTitle">Exam View</p>
  </div>
  <div style="margin-bottom: 30px;padding: 30px 35px;">
    <app-examview [isExamViewFromList]="true" [examUid]="examId" (close)="closeExamView($event)">
    </app-examview>
  </div>

</div>



<div class="viewSidePopup cancelLecture" [ngClass]="{'slideInLeft':!isPublished,'slideInRight':isPublished}"
  *ngIf="isPublished">

  <app-publish-assesment (close)="closePublish($event)" [examDataPublish]="examDataPublish">
  </app-publish-assesment>
</div>