<!-- <div *ngIf="exam != null" class="col-lg-12">
  <p>
      <font size="5" color="black">Summary :</font>
  </p>
  <div class="table-responsive">
      <table class="table table-bordered">
          <thead>
              <tr class="info">
                  <th>Sr. No.</th>
                  <th>Feature</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1.</td>
                  <td>Exam Name</td>
                  <td> <label>{{exam.name}}</label></td>
              </tr>
              <tr>
                  <td>2.</td>
                  <td>Test Type</td>
                  <td> <label>{{testType}}</label>
                  </td>
              </tr>
              <tr>
                  <td>3.</td>
                  <td>Exam Timing Details :</td>
                  <td>
                      <thead>
                          <tr class="active">
                              <th>Test Date</th>
                              <th>Test Time</th>
                              <th *ngIf="exam.examType==1">Test Duration</th>
                              <th>Extra Time</th>
                          </tr>
                      </thead>
          <tbody>
              <tr> 
                  <td> {{exam.pattern1TimingInfo.testDate | date:'mediumDate'}} </td>
                  <td> {{exam.pattern1TimingInfo.testTime | date:'shortTime'}} </td>
                  <td *ngIf="exam.examType==1"> {{ exam.pattern1TimingInfo.testDuration }} </td>
                  <td> {{ exam.pattern1TimingInfo.extraTime }} </td>
              </tr>
              <tr *ngIf="exam.patternType == 3 && exam.isPattern2Added == true">
                  <td> {{exam.pattern2TimingInfo.testDate | date:'mediumDate'}} </td>
                  <td> {{exam.pattern2TimingInfo.testTime | date:'shortTime'}} </td>
                  <td *ngIf="exam.examType==1"> {{ exam.pattern2TimingInfo.testDuration }} </td>
                  <td> {{ exam.pattern2TimingInfo.extraTime }} </td>
              </tr>
          </tbody>
          </td>
          </tr>
          <tr>
              <td>4.</td>
              <td>Exam Batch Details :</td>
              <td>
                  <thead>
                      <tr class="active">
                          <th>Course</th>
                          <th>Batch</th>
                      </tr>
                  </thead>
                  <tbody>
                      <td>{{courseName}}</td>
                      <td>{{batchName}}</td>
                  </tbody>
              </td>
          </tr>
          <tr>
              <td>5.</td>
              <td>Exam Subject Details :</td>
              <td>
                  <thead>
                      <tr class="active">
                          <th>Subject</th>
                          <th>Selected Syllabus</th>
                          <th>Remarks</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let subject of exam.examSyllabus.subjects">
                          <td>{{subject.subjectName}}</td>
                          <td>
                      <tr *ngFor="let syllab of subject.syllabus">
                          <td style="border: white;"> {{ syllab.chapter }} </td>
                      </tr>
              </td>
              <td> {{subject.remarks}} </td>
          </tr>
          </tbody>
          </td>
          </tr>
          <tr *ngIf="exam.examType==1">
              <td>6.</td>
              <td>Other Details :</td>
              <td>
                  <thead>
                      <tr class="active">
                          <th *ngIf="exam.examType==1">Maximum Marks</th>
                      </tr>
                  </thead>
                  <tbody>
                      <td *ngIf="exam.examType==1">{{exam.marks}}</td>
                  </tbody>
              </td>
          </tr>
          <tr>
              <td *ngIf="exam.examType==2">6.</td>
              <td *ngIf="exam.examType==1">7.</td>
              <td>Students</td>
              <td *ngIf="exam.studentType == 1"> All Students of {{courseName}}
                  course are selected.</td>
              <td *ngIf="exam.studentType == 2">
          <tr>
              <td *ngFor=" let student of exam.studentList" style="border-color: white;"> {{student.name}}, </td>
          </tr>
          </td>
          </tr>
          </tbody>
      </table>
  </div>
</div> -->

<div *ngIf="exam != null">
   

    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label style="font-size: 14px;color: black;">Summary</label> </div>
                    <div class="row">
                        <div class="col-4" style="padding-right: 0;">
                            <div class="customCardCss">
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i>   -->
                                <img src="assets/Icons/Summary/Exam name.png" alt="" height="30px" width="30px">
                                <br>
                            <label class="mar-top">{{exam.name}}</label><br>
                            <span style="font-size: 10px;">Exam Name</span>
                            </div>
                        </div>
                        <div class="col-4" style="padding-right: 0;">
                            <div class="customCardCss">
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/Summary/Unit.png" alt="" height="30px" width="30px">
                                <br>
                            <label class="mar-top">{{testType}}</label><br>
                            <span style="font-size: 10px;">Test Type</span>
                            </div>
                            
                        </div>
                        <div class="col-4" style="padding-right: 0;">
                            <div class="customCardCss">
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/Summary/Course.png" alt="" height="30px" width="30px">
                                <br>
                            <label class="mar-top">{{courseName}}</label><br>
                            <span style="font-size: 10px;">Course</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row" style="margin-top: 13px;">
                        <div class="col-4 " style="padding-right: 0;">
                            <div class="customCardCss">
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/Summary/Batch.png" alt="" height="30px" width="30px">
                                <br>
                            <label class="mar-top">{{batchName[0]}} {{(batchName?.length > 1) ? '| +' + (batchName.length -1): '' }}</label><br>
                            <span style="font-size: 10px;">Batch</span>
                            </div>
                            
                        </div>
                        <div class="col-4 " style="padding-right: 0;">
                            <div class="customCardCss">
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/Summary/PassingMarks.png" alt="" height="30px" width="30px">
                                <br>
                            <label class="mar-top">{{exam.passingMarks}}</label><br>
                            <span style="font-size: 10px;">Passing Marks</span>
                            </div>
                            
                        </div>
                        <div class="col-4 " style="padding-right: 0;">
                            <div class="customCardCss">
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/Summary/Maximum Marks.png" alt="" height="30px" width="30px">
                                <br>
                            <label class="mar-top">{{exam.marks}}</label><br>
                            <span style="font-size: 10px;">Maximum Marks</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-right: 0;">
                    <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label style="font-size: 14px;color: black;">Time Details</label> </div>
                    <div class="customCardCss" style="padding: 30px 6%;min-height: 198px;">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-4"> 
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/timedetails/Date.png" alt="" height="35px" width="35px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">  <span style="font-size: 11px;">{{exam.pattern1TimingInfo.testDate | date:'mediumDate'}}</span></div>
                                <div class="row"> <label class="label-time">4:30 - 6:30 PM</label></div>
                                <!-- <div class="row"> <label class="label-time">{{exam.pattern2TimingInfo.testTime | date:'shortTime'}}</label></div> -->
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 16px;">
                            <div class="col-md-4"> 
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/timedetails/Duration.png" alt="" height="35px" width="35px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">  <span style="font-size: 11px;">Duration</span></div>
                                <div class="row"> <label class="label-time">{{exam.pattern1TimingInfo.testDuration}} Minutes</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> 
                                <!-- <i class="fab fa-react" style="font-size: 30px;color: #0091ff;"></i> -->
                                <img src="assets/Icons/timedetails/Extra Time.png" alt="" height="35px" width="35px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">  <span style="font-size: 11px;">Extra Time</span></div>
                                <div class="row"> <label class="label-time">{{exam.pattern1TimingInfo.extraTime}} Minutes</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 5% 0 2% 2%;">
                <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label style="font-size: 14px;color: black;">Subjects</label> </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead style="background-color: #d7e8ec6b;">
                            <tr class="info">
                                <th class="bb-none" style="width: 30%;color: black;">Subject</th>
                                <th class="bb-none" style="width: 44%;color: black;">Syllabus</th>
                                <th class="bb-none" style="color: black;">Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subject of exam.examSyllabus.subjects">
                                <td>
                                    <div class="row" style="padding-top: 7px;padding-left: 10px;">
                                        <div class="col-4" *ngIf="subject.subjectName == 'Physics'"> <img src="assets/Icons/Subjects/Physics.png" alt="" height="35px" width="35px"></div>
                                        <div class="col-4" *ngIf="subject.subjectName == 'Biology'"> <img src="assets/Icons/Subjects/Chemistry.png" alt="" height="35px" width="35px"></div>
                                        <div class="col-4" *ngIf="subject.subjectName == 'Chemistry'"> <img src="assets/Icons/Subjects/Chemistry.png" alt="" height="35px" width="35px"></div>
                                        <div class="col-4" *ngIf="subject.subjectName == 'Mathematics'"> <img src="assets/Icons/Subjects/Math.png" alt="" height="35px" width="35px"></div>
                                        <div class="col-8" style="padding-top: 7px;padding-left: 0;color: black;">{{subject.subjectName}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row" *ngIf="subject.subjectName == 'Physics'" style="padding-top: 7px;padding-left: 10px;">
                                        <div class="physicsSyll" *ngFor="let item of subject.syllabus | slice:0:1">
                                            <span ngbTooltip="{{item.name}}">{{item.name.length > 20 ? item.name.substr(0, 20)+'...' : item.name}}</span></div>
                                       
                                        <div class="physicsSyllRem" *ngIf="subject.syllabus.length > 1"><span>+{{subject.syllabus.length - 1}}</span></div>
                                    </div>
                                    <div class="row" *ngIf="subject.subjectName == 'Biology'" style="padding-top: 7px;">
                                        <div class="chemistrySyll" *ngFor="let item of subject.syllabus | slice:0:1">
                                            <span ngbTooltip="{{item.name}}">{{item.name.length > 20 ? item.name.substr(0, 20)+'...' : item.name}}</span></div>
                                       
                                        <div class="chemistrySyllRem" *ngIf="subject.syllabus.length > 1"><span>+{{subject.syllabus.length - 1}}</span></div>
                                    </div>
                                    <div class="row" *ngIf="subject.subjectName == 'Chemistry'" style="padding-top: 7px;">
                                        <div class="chemistrySyll" *ngFor="let item of subject.syllabus | slice:0:1">
                                            <span ngbTooltip="{{item.name}}">{{item.name.length > 20 ? item.name.substr(0, 20)+'...' : item.name}}</span></div>
                                       
                                        <div class="chemistrySyllRem" *ngIf="subject.syllabus.length > 1"><span>+{{subject.syllabus.length - 1}}</span></div>
                                    </div>
                                    <div class="row" *ngIf="subject.subjectName == 'Mathematics'" style="padding-top: 7px;">
                                        <div class="mathSyll" *ngFor="let item of subject.syllabus | slice:0:1">
                                            <span ngbTooltip="{{item.name}}">{{item.name.length > 20 ? item.name.substr(0, 20)+'...' : item.name}}</span></div>
                                       
                                        <div class="mathSyllRem" *ngIf="subject.syllabus.length > 1"><span>+{{subject.syllabus.length - 1}}</span></div>
                                    </div>
                                </td>
                                <td> <span style="font-size: 9px;">
                                    {{subject.remarks}}
                                </span></td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <div class="row" style="padding-top: 14px;">
                                        <div class="col-4"> <img src="assets/Icons/Subjects/Chemistry.png" alt="" height="35px" width="35px"></div>
                                        <div class="col-8" style="padding-top: 7px;padding-left: 0;color: black;">Chemistry</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row" style="padding-top: 14px;">
                                        <div class="chemistrySyll"><span>SHM & Waves</span></div>
                                        <div class="chemistrySyll"><span>SHM & Waves</span></div>
                                        <div class="chemistrySyllRem"><span>+3</span></div>
                                    </div>
                                </td>
                                <td> 
                                    <span style="font-size: 9px;">
                                        The organism has a head to
                                        body length 14–25 cm with a
                                        short tail of 1–3 cm.
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row" style="padding-top: 14px;">
                                        <div class="col-4"> <img src="assets/Icons/Subjects/Math.png" alt="" height="35px" width="35px"></div>
                                        <div class="col-8" style="padding-top: 7px;padding-left: 0;color: black;">Math</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row" style="padding-top: 14px;">
                                        <div class="mathSyll"><span>SHM & Waves</span></div>
                                        <div class="mathSyll"><span>SHM & Waves</span></div>
                                        <div class="mathSyllRem"><span>+3</span></div>
                                    </div>
                                </td>
                                <td> 
                                    <span style="font-size: 9px;">
                                        The organism has a head to
                                        body length 14–25 cm with a
                                        short tail of 1–3 cm.
                                    </span>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label style="font-size: 14px;color: black;">Students</label> </div>
            <div class=" customCardCssStudList">
                <div *ngIf="isTenStud == true" style="height: 503px;">
                    <div class="row" style="margin-top: 5%;" *ngFor="let student of exam.studentList | slice:0:9">
                        <div class="col-3">
                            <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                        </div>
                        <div class="col-5">
                            <div class="row"><label class="label-time">{{student.name}}</label></div>
                            <div class="row"><span style="font-size: 10px;">{{student.className}}</span></div>
                        </div>
                        <div class="col-4">
                            <div class="row"><label class="label-time" style="margin-left: 45%;color: #0091ff;">4.5</label></div>
                            <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                        </div>
                    </div>
                    <div class="row" style="margin-top: 9%;padding: 1% 36%;" *ngIf="exam.studentList.length > 10">
                        <div style="text-align: center;cursor: pointer;text-decoration: underline;"> <a (click)="showAll()" style="color: #0091ff;font-size: 12px;">+{{exam.studentList.length - 9}} Students</a> </div>
                     </div>
                </div>
                
                <div *ngIf="isTenStud == false" style="height: 503px;overflow-x: hidden;overflow-y: scroll;">
                    <div class="row" style="margin-top: 5%;" *ngFor="let student of exam.studentList">
                        <div class="col-3">
                            <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                        </div>
                        <div class="col-5">
                            <div class="row"><label class="label-time">{{student.name}}</label></div>
                            <div class="row"><span style="font-size: 10px;">{{student.className}}</span></div>
                        </div>
                        <div class="col-4">
                            <div class="row"><label class="label-time" style="margin-left: 45%;color: #0091ff;">4.5</label></div>
                            <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                        </div>
                    </div> 
                </div>
                
                <!-- <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-3">
                    <img src="assets/images/profileImg.png" height="35px" width="35px" class="rounded-circle" alt="">
                    </div>
                    <div class="col-5">
                        <div class="row"><label class="label-time">Neha Sharma</label></div>
                        <div class="row"><span style="font-size: 10px;">JEE Advance</span></div>
                    </div>
                    <div class="col-4">
                    <div class="row"><label class="label-time" style="margin-left: 53%;color: #0091ff;">4.5</label></div>
                    <div class="row"><span style="font-size: 10px;">Internal Score</span></div>    
                    </div>
                </div> -->
                
                
            </div>
        </div>
    </div>
    
</div>
