$ui-fg-color: var(--newApp-color);
$ui-bg-color: #ddd;
@import "../../../../../assets/scss/custom/components/common";
.container-fluid {
  background-color: white;
}
#headertabs {
  width: 100% !important;
  margin-top: 10px !important;
  position: relative !important;
  margin-bottom: 5px !important;
}
#headertabs .tab-content {
  padding: 2px 0 0 0;
}
#headertabs .nav-item {
  width: fit-content !important;
}
.stack-back {
  opacity: 0.5;
  pointer-events: none;
}
.card-body {
  padding: 0.2rem 0rem;
}
.title {
  color: var(--newApp-color) !important;
}
.emptyList .title {
  font-weight: 600;
}
.emptyList p {
  font-size: 14px;
}
.emptyList p span {
  font-weight: 600;
}
.btn-save,
.btn-cancel {
  width: 150px;
}
.header {
  margin-top: 15px;
}
.header .fa-search {
  color: #a9a9a9;
  position: absolute;
  right: 30px;
  bottom: 2px;
  padding: 5px;
}
.header input {
  height: 43px;
  border-color: #7c7b98;
  margin-right: 15px;
  margin-left: 15px;
  width: 96%;
}
.header .btn-filled {
  margin-right: 20px;
}
h4.title {
  margin-left: 25px;
}
hr {
  border-top: 1px solid #ebebeb;
}
.table th {
  text-align: left !important;
}
h5 .badge {
  color: var(--newApp-color) !important;
  border: 1px solid var(--newApp-color);
  padding: 5px 10px;
  border-radius: 2px;
  background-color: var(--newAppbg-color);
  cursor: pointer;
}
.cplist {
  margin-left: 15px;
  box-shadow: 0 2px 10px rgb(56 65 74 / 9%);
  height: 400px;
}
.table th,
.table td {
  vertical-align: middle;
  padding: 5px 13px;
}
.table th {
  color: var(--newApp-color);
  font-weight: 500;
  text-align: center;
  background-color: var(--newAppbg-color);
  height: 40px;
  border: none;
}

.table-fixed thead {
  width: calc(100% - 0px);
  display: table;
}
.table-fixed tbody {
  height: 360px;
  overflow-y: scroll;
  width: 100%;
  display: block !important;
}
.table-fixed tr td {
  padding: 0.15rem 0.85rem;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
  border-bottom-width: 0;
}
table {
  width: 100%;
}
.pagination a {
  color: var(--newApp-color);
  padding-right: 6px;
  cursor: pointer;
}
.pagination {
  font-size: 15px;
}
.pagination .fa {
  cursor: pointer;
  margin-top: 4px;
}
::ng-deep ng-select.import .ng-select-container {
  display: none;
}
.ng-select.pageSizeSelect ::ng-deep .ng-dropdown-panel {
  margin-top: 5px;
  border-radius: 4px !important;
  width: 85px;
}
.ng-select.pageSizeSelect ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  color: var(--newApp-color);
}
ng-select.importSelect ::ng-deep .ng-dropdown-panel {
  min-width: 100%;
  width: auto;
}
td .dropdown-menu.show {
  min-width: 8rem;
  top: auto !important;
  margin-top: -20px;
}
.cplist .table-responsive {
  border-bottom: 1px solid #d0ced0;
  overflow: initial !important;
  height: 100%;
}
.sidebar-title {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
ng-select.sidebarplanerdropdown {
  width: 110px;
}
.modal-header-title {
  background-color: var(--newAppbg-color);
  color: var(--newApp-color);
  font-weight: 600;
  padding: 15px 35px;
  height: 50px;
  border-bottom: 0px;
}
.modal-footer {
  border-top: 0px;
  padding-right: 15px;
}
.assignBatch .modal-body {
  min-height: 150px;
  margin-top: 20px;
}
.assignBatch .modal-body .col-lg-4 {
  margin-top: 8px;
}
.importcp .modal-body {
  margin-top: 10px;
  padding: 1.7rem;
}
label {
  font-weight: 500;
  color: #525252;
  margin-bottom: 3px;
}
.panel-default {
  border-color: #ddd;
}
.panel {
  width: 100%;
  background-color: #fff;
  margin: 0px 0px 20px 0px;
  // border: 1px solid #0000008f;
  border-radius: 4px;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 10%);
  cursor: pointer;
}
.panel-heading {
  padding: 8px 15px 4px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  background-color: var(--newAppbg-color);
  color: #313131;
  border-top-right-radius: 3px;
  font-size: 15px;
  font-weight: 600;
}
.panel-body {
  padding: 15px 15px 5px;
}
.panel-body .row {
  margin-left: -5px;
  margin-right: -5px;
}
.panel-body .row h5 {
  margin-right: 10px;
}
.panel-body p {
  color: #4c4a4a;
  margin-bottom: 0px;
  font-size: 14px;
}
.panel-body span {
  color: #adadad;
  font-size: 12px;
}
.batchList .row > .title {
  margin-left: 5px;
}
.batch {
  padding: 0px 0px 0px 5px;
  -webkit-box-flex: 0;
  flex: 0 0 31%;
  max-width: 31%;
  margin-right: 33px;
}
.carouselbatch {
  padding: 0px 0px 0px 5px;
  width: 100%;
}
.batch:nth-of-type(3n) {
  margin-right: 0px;
}
.batchList {
  max-height: 450px;
  overflow-y: auto;
  margin: 0px 15px;
  width: 100%;
}
.batchList .row.loop {
  margin-left: 3rem !important;
  margin-right: 2.75rem !important;
}
.btn-planner {
  border-radius: 15px;
  padding: 5px 10px;
  width: 110px;
  float: right;
  margin-bottom: 10px;
  font-size: 13px;
}
hr {
  margin-bottom: 10px;
}
.panel-heading img {
  margin-right: 5px;
}
carousel {
  width: 100%;
}
.carousel-item {
  margin-right: 0% !important;
}
slide.item {
  margin-right: 33px !important;
  -webkit-box-flex: 0;
  flex: 0 0 31%;
  max-width: 31%;
}
carousel ::ng-deep.carousel-indicators {
  display: none;
}
carousel ::ng-deep.carousel-control-prev {
  left: -30px;
}
carousel ::ng-deep.carousel-control-next {
  right: -30px;
}
carousel ::ng-deep.carousel-control-prev,
carousel ::ng-deep.carousel-control-next {
  background-color: #636262;
  height: 23px;
  width: 23px;
  border-radius: 13px;
  padding: 5px;
  top: 45%;
}
.createCpForm {
  position: absolute;
  background-color: white;
  top: 100px;
  width: 25%;
  right: 0;
  z-index: 1;
  pointer-events: fill;
}
.rightCard {
  width: 100%;
  height: 400px;
  box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 6%);
}
.rightCard .card-body .row {
  margin-top: 13px;
  width: 100%;
}
.rightCard .card-body {
  border: 0px;
}
.rightCard .chartjs-container {
  width: 98%;
  height: 335px;
  object-fit: cover;
}
.cpForm {
  padding: 25px 35px 20px 35px;
  position: relative;
  top: 0px;
  box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -webkit-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
  -moz-box-shadow: 1px 0px 4px 0px rgba(141, 141, 141, 0.75);
}
.cpForm .btn-filled {
  width: 150px;
  border-radius: 0px;
  margin-top: 15px;
}
#dropdown-basic li .dropdown-item {
  cursor: pointer;
}
.courseList .col-lg-9 {
  flex: 0 0 71%;
  max-width: 71%;
}
.courseList .col-lg-3 {
  flex: 0 0 27%;
  max-width: 27%;
  margin-left: 13px;
}
.quickForm-back {
  opacity: 0.6;
}
.isAssignBatch {
  width: 30% !important;
  top: 0px;
  height: 100%;
}

.assignBatcTxt{
  font-size: 18pt;
  font-weight: bold;
  font-family: roboto;
  margin-left: 30px;
  color: #212121;
}

.pageTtitle{
  font-size: 18pt;
  font-family: roboto;
  margin-left: 37px;
  color: #0086FF;
}

.plannerHeader{
  font-size: 13pt;
  font-family: roboto;
  margin-left: 30px;
  color: #212121;
  margin: auto;
}
.plannerSubHeader{
  font-size: 9pt;
  font-family: roboto;
  font-weight: normal;
  color: #717171;
}

.plannerTitle{
  margin-top: 4px;
  font-size: 14pt;
  font-family: roboto;
  font-weight: bolder;
  font-weight: bold;
  color: #212121;
}

.tableRow{
  font-size: 13pt;
  font-family: roboto;
  font-weight: normal;
  color: #43425D;
}


.listPlanner{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

.rowTitle{
  background: #E2F0FD; 
  height: 40px;
  margin-top: 15px;
}

.assignBatchTable{
  margin-left: 58px;
  height: 35px;
  margin-top: 5px;
}


.assignBatchButton{
  text-align: center;
  border: 1px solid #0086FF;
  padding-top: 3px;
  border-radius: 2px;
  background-color: #E5F3FF;
  cursor: pointer;
  color: #0086FF  !important;
  font-size: 12pt;
  font-family: roboto;
  font-weight: normal;
  width: 90px;
  height: 30px;
  font: bold;
}

.batchTable{
  min-height: 100%;
  height: auto;
  overflow-y:  auto 
}

.navText{
  font-size: 12pt;
  font-family: roboto;
}

div.scrollmenu {
  overflow: hidden;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.scrollmenu:hover {
  overflow-x: scroll;
}


