<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card" [ngClass]="{'quickForm-back':isQuickCpForm}"
                *ngIf="!isCreateCpForm && !isCoursePlannerDetails">
                <div class="card-body">
                    <section id="headertabs">
                        <nav>
                            <div class="nav nav-tabs navText" id="nav-tab" role="tablist">
                                <div class="scrollmenu scroll">
                                    <a class="nav-item nav-link" id="nav-basic-tab"
                                        *ngFor="let course of cousreData;let i=index"
                                        [ngClass]="{'active':tabNumber==i}" data-toggle="tab" role="tab"
                                        aria-controls="nav-basic" aria-selected="true"
                                        (click)="tabClick(i,course);onSelectCourse(course.uniqueId)">{{course.name}}</a>
                                </div>
                            </div>
                        </nav>
                    </section>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row header">
                                <div class="col-2">
                                    <h4 class="pageTtitle">{{courseName}}</h4>
                                </div>
                                <div class="col-2">

                                    <div ngbDropdown class="dropdown" style="margin-left: 10px;">
                                        <button class="btn btn-filled" id="dropdownBasic" ngbDropdownToggle>Create
                                            Planner <i class="mdi mdi-chevron-down"></i></button>
                                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic">
                                            <button ngbDropdownItem (click)="importModal(importDataModal)">Import Course
                                                Planner</button>
                                            <button ngbDropdownItem (click)="createCoursePlanner()">Create Course
                                                Planner</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="text" name="searchTerm" class="form-control" placeholder="Search">
                                    <i class="fas fa-search fa-2x" style="margin-left: -15px;"></i>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row" *ngIf="coursePlannerList.length==0">
                        <div class="col-lg-12 text-center emptyList mb-3">
                            <img src="../../../../../assets/images/coursePlannerbg.png" alt="coursePlannerbg"
                                width="66%" height="64%">
                            <h3 class="title">No Planner available</h3>
                            <p>Create a Planner for the <span>{{courseName}}</span> Course</p>
                            <button class="btn btn-filled createplannerbtn" (click)="createCoursePlanner()">Create
                                Planner</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="coursePlannerList.length>0">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-outline btn-planner" *ngIf="isShowPlanner"
                                        (click)="showHidePlanner()">Hide Planner</button>
                                </div>
                            </div>
                            <div class="row courseList" *ngIf="isShowPlanner">
                                <div class="col-lg-9">
                                    <!-- Table -->
                                    <div class="cplist">
                                        <div class="table-responsive">
                                            <table class="table mb-0 table-fixed" id="test">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th style="width: 2%;" appCheckall>
                                                            <div class="table-checkbox c-checkbox">
                                                                <label>
                                                                    <input type="checkbox" />
                                                                    <span class="fa fa-check"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <th style="width: 39%;">Planner Name </th>
                                                        <th style="width: 18%;">Subject</th>
                                                        <th style="width: 18%;">Duration</th>
                                                        <th style="width: 13%;">Batch</th>
                                                        <th style="width: 10%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="scroll" id="cplistid">
                                                    <tr *ngFor="let planner of coursePlannerList; let i = index;"
                                                        class="table-data">
                                                        <td style="width: 2%;">
                                                            <div class="table-checkbox c-checkbox">
                                                                <label>
                                                                    <input type="checkbox" />
                                                                    <span class="fa fa-check"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-left" style="cursor: pointer; width: 39%;">
                                                            {{planner.name}}
                                                        </td>
                                                        <td class="text-left" style="width: 18%;">
                                                            {{planner.subjectName}}
                                                        </td>
                                                        <td class="text-left" style="width: 18%;">
                                                            {{(planner.duration)? (planner.duration.hours+" hr"
                                                            +planner.duration.mins+" min") : "0 hr 00 min"}}
                                                        </td>
                                                        <td class="text-left" style="width: 13%;">
                                                            <h5><span class="badge"
                                                                    (click)="getCpDeatils(planner.courseId,planner.subjectId,planner.syllabusId,planner.id,planner.uniqueId);assignBatchListByCoursePlannerId(planner.uniqueId,assignBatch, planner.name, planner.subjectName);">Assign</span>
                                                            </h5>
                                                        </td>
                                                        <td class="text-center" style="width: 10%;">
                                                            <div class="action dropdown" dropdown>
                                                                <i class="mdi mdi-dots-vertical mdi-24px d-inline dropdown-toggle"
                                                                    id="button-basic" dropdownToggle type="button"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="true"></i>
                                                                <ul id="dropdown-basic" *dropdownMenu
                                                                    class="dropdown-menu" role="menu"
                                                                    aria-labelledby="button-basic">
                                                                    <li role="menuitem"><a class="dropdown-item"
                                                                            (click)="viewPlannerDetails(planner.uniqueId, planner.name, planner.subjectName,1,0,planner.duration)">View</a>
                                                                    </li>
                                                                    <li role="menuitem"><a class="dropdown-item"
                                                                            (click)="deleteCoursePlanner(planner.uniqueId)">Delete</a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="d-flex justify-content-end w-100">
                                                <div class="px-3 py-2 pagination" *ngIf="isShowPagination">
                                                    <ng-select [items]="pageSizeArray" #selectPageSize
                                                        class=" pageSizeSelect" dropdownPosition="top" bindLabel="name"
                                                        bindValue="id" (change)="changePageSize($event)"
                                                        [(ngModel)]="selectedPageSize">
                                                    </ng-select>
                                                    <a class="link-project"
                                                        (click)="selectPageSize.open()">{{pageSizeArray[selectedPageSize].name}}
                                                    </a>
                                                    of {{totalCount}} <i class="fa fa-chevron-left mx-2"
                                                        aria-hidden="true" (click)="goToPreviousPage()"></i>
                                                    <i class="fa fa-chevron-right pl-1" aria-hidden="true"
                                                        (click)="goToNextPage()"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End table -->
                                </div>
                                <div class="col-lg-3">
                                    <div class="rightCard" style="width:100%">
                                        <div class="card-body">
                                            <div class="row mb-1 mx-0">
                                                <div class="col-6 pr-0">
                                                    <h6 class="sidebar-title mb-1">
                                                        Top Course Planner</h6>
                                                </div>

                                                <div class="col-5">
                                                    <ng-select class="sidebarplanerdropdown" [searchable]="false"
                                                        [(ngModel)]="sidebarplanerdropdown" [closeOnSelect]="true"
                                                        [clearable]="false" (change)="changeChart($event)">
                                                        <ng-option value="2020-2021">2020-2021</ng-option>
                                                        <ng-option value="2019-2020">2019-2020</ng-option>
                                                        <ng-option value="2018-2019">2018-2019</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>

                                            <div class="chartjs-container">
                                                <canvas baseChart [data]="doughnutChartData"
                                                    [chartType]="doughnutChartType" [labels]="doughnutChartLabels"
                                                    [colors]="doughnutChartColors" height="240">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <hr *ngIf="isShowPlanner">
                            <div class="row batchPlanner">
                                <div class="col-2">
                                    <h4 class="title mb-2">Batch Planner</h4>
                                </div>
                                <div class="col-8"></div>
                                <div class="col-2">
                                    <button class="btn btn-outline btn-planner" *ngIf="!isShowPlanner"
                                        (click)="showHidePlanner()">Show Planner</button>
                                </div>
                                <br><br>
                                <div class="row justify-content-center" *ngIf="batchPlannerList.length==0">
                                    <img src="../../../../../assets/images/coursePlannerbg.png" alt="coursePlannerbg"
                                        width="33%">
                                    <div class="col-lg-12 text-center emptyList mb-3">
                                        <h4 class="title">No Batches available</h4>
                                        <p>Assign one or many Batch(/s) to any Course Planner</p>
                                    </div>
                                </div>
                                <div class="batchList scroll" *ngIf="batchPlannerList.length>0">
                                    <div class="row loop" *ngFor="let batchPlanner of batchPlannerList; let i=index">
                                        <h5 class="title w-75">{{batchPlanner.batch.name}}</h5>
                                        <div class="row w-100 mx-0" *ngIf="batchPlanner.batchPlanners.length>3">
                                            <carousel [itemsPerSlide]="itemsPerSlide"
                                                [singleSlideOffset]="singleSlideOffset" [interval]="false">
                                                <slide
                                                    *ngFor="let batch of batchPlanner.batchPlannerNewDtoList; let index=index">
                                                    <div class="carouselbatch">
                                                        <div class="panel panel-default"
                                                            (click)="viewPlannerDetails(batchPlanner.batch.uniqueId, batchPlanner.batch.name,batch.plannerResponseDto.subjectName,2,batchPlanner.plannerResponseDto.uniqueId,batch.duration)">
                                                            <div class="panel-heading"> <img
                                                                    [src]="imageList[batch.subjectName]"
                                                                    [alt]="batch.subjectName" width="27px">
                                                                {{batch.plannerResponseDto.subjectName}}</div>
                                                            <div class="panel-body">
                                                                <div class="row mb-2">
                                                                    <div class="w-75">
                                                                        <h5> {{batch.plannerResponseDto.name}}</h5>
                                                                    </div>
                                                                    <div class="w-25">
                                                                        <p>{{batch.unitCount}}</p>
                                                                        <span>Units</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="w-75">
                                                                        <p>{{batch.plannerResponseDto.duration.hours+"
                                                                            hr"
                                                                            +batch.plannerResponseDto.duration.mins+"
                                                                            min"}}</p>
                                                                        <span>Duration</span>
                                                                    </div>
                                                                    <div class="w-25">
                                                                        <p class="title">{{batch.percentageCompletion}}
                                                                        </p>
                                                                        <span>Completions</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </slide>
                                            </carousel>
                                        </div>
                                        <div class="row w-100 mx-0" *ngIf="batchPlanner.batchPlanners.length<=3">
                                            <div class="col-lg-4 batch"
                                                *ngFor="let batch of batchPlanner.batchPlanners; let j=index">
                                                <div class="panel panel-default"
                                                    (click)="viewPlannerDetails(batchPlanner.batch.uniqueId, batch.plannerResponseDto.name, batch.plannerResponseDto.subjectName,2, batch.plannerResponseDto.uniqueId,batch.duration)">
                                                    <div class="panel-heading"> <img
                                                            [src]="imageList[batch.plannerResponseDto.subjectName]"
                                                            [alt]="batch.plannerResponseDto.subjectName" width="27px">
                                                        {{batch.plannerResponseDto.subjectName}}</div>
                                                    <div class="panel-body">
                                                        <div class="row mb-2">
                                                            <div class="w-75">
                                                                <h5>{{batch.plannerResponseDto.name}}</h5>
                                                            </div>
                                                            <div class="w-25">
                                                                <p>{{batch.unitCount}}</p>
                                                                <span>Units</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="w-75">
                                                                <p>{{batch.plannerResponseDto.duration.hours+" hr"
                                                                    +batch.plannerResponseDto.duration.mins+"
                                                                    min"}}</p>
                                                                <span>Duration</span>
                                                            </div>
                                                            <div class="w-25">
                                                                <p class="title">{{batch.percentageCompletion}}</p>
                                                                <span>Completions</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="isCreateCpForm">
                <app-create-course-planner [formData]="coursePlannerForm" [plannerType]="1"
                    (closeCreateForm)="closeCreateForm($event)">
                </app-create-course-planner>
            </div>
            <div class="card" *ngIf="isCoursePlannerDetails && plannerType==1">
                <app-course-planner-details [coursePlannerId]="plannerId" [coursePlannerForm]="coursePlannerForm"
                    [coursePlannerName]="plannerName" [coursePlannerSubject]="plannerSubjectName"
                    [plannerType]="plannerType" [batchPlannerId]="batchPlannerId" [totalCPDuration]="totalDuration"
                    (closePlannerDetails)="closePlannerDetails($event)">
                </app-course-planner-details>
            </div>
            <div class="card" *ngIf="isCoursePlannerDetails && plannerType==2">
                <app-course-planner-details [coursePlannerId]="plannerId" [coursePlannerForm]="batchPlannerForm"
                    [coursePlannerName]="plannerName" [coursePlannerSubject]="plannerSubjectName"
                    [plannerType]="plannerType" [batchPlannerId]="batchPlannerId" [totalCPDuration]="totalDuration"
                    (closePlannerDetails)="closePlannerDetails($event)">
                </app-course-planner-details>
            </div>
            <div class="card" *ngIf="isCoursePlannerDetails && plannerType==3">
                <app-course-planner-details [coursePlannerId]="plannerId" [coursePlannerForm]="masterCoursePlannerForm"
                    [coursePlannerName]="plannerName" [coursePlannerSubject]="plannerSubjectName"
                    [importSubjectId]="importSubjectId" [plannerType]="plannerType" [batchPlannerId]="batchPlannerId"
                    [totalCPDuration]="totalDuration" (closePlannerDetails)="closePlannerDetails($event)">
                </app-course-planner-details>
            </div>

            <div class="card" *ngIf="isCoursePlannerDetails && plannerType==4">
                <app-course-planner-details [coursePlannerId]="plannerId" [coursePlannerForm]="batchPlannerForm"
                    [coursePlannerName]="plannerName" [coursePlannerSubject]="plannerSubjectName"
                    [plannerType]="plannerType" [batchPlannerId]="batchPlannerId" [totalCPDuration]="totalDuration"
                    [batchUniqueId]="batchUniqueId" (closePlannerDetails)="closePlannerDetails($event)">
                </app-course-planner-details>
            </div>

        </div>
    </div>
    <!-- create cp form -->
    <div class="createCpForm" [ngClass]="{'slideInLeft':!isQuickCpForm,'slideInRight':isQuickCpForm} "
        *ngIf="isQuickCpForm">
        <button type="button" class="closeCpForm" (click)="closeModal(1)" aria-label="Close">x</button>
        <div class="cpForm">
            <form [formGroup]="coursePlannerForm">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="phone">Subject</label>
                            <i style="color: tomato;">* </i>
                            <ng-select [items]="subjectList" bindLabel="name" placeholder="Choose Subject"
                                bindValue="uniqueId" formControlName="courseSubjectUniqueId" [searchable]="false"
                                (change)="changeSubject($event)" [closeOnSelect]="true" [clearable]="false"
                                [ngClass]="{ 'is-invalid': submitted && f.courseSubjectUniqueId.errors }">
                            </ng-select>
                            <div *ngIf="submitted && f.courseSubjectUniqueId.errors" class="invalid-feedback">
                                <div *ngIf="f.courseSubjectUniqueId.errors.required">Please select subject</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="fname">Course Planner Name</label>
                            <i style="color: tomato;">* </i>
                            <input type="text" class="form-control" formControlName="name" #cpName maxlength="40"
                                placeholder="Enter Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': cpName.value.length !== 40,'badge-danger': cpName.value.length == 40}">
                                {{ cpName.value.length }} / 40</p>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Course Planner Name is required</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-group text-center">
                            <button class="btn btn-filled" (click)="nextStep()">Next</button>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </form>
        </div>
    </div>
    <!-- End create cp form -->
</div>

<div class="backdrop" [ngClass]="{'show':isAssignBatch}"></div>
<div class="viewSidePopup isAssignBatch stack-top scroll"
    [ngClass]="{'slideInLeft':!isAssignBatch,'slideInRight':isAssignBatch} " *ngIf="isAssignBatch">
    <div *ngIf="isAssignBatch">
        <div class="row" style="margin-top: 17px;">
            <div class="col-sm-6 col-lg-6">
                <label class="assignBatcTxt">Assign Batch</label>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <ul class="listPlanner">
                            <li><label class="plannerHeader">{{plannername}}</label></li>
                            <li><label class="plannerSubHeader">Planner Name</label></li>
                        </ul>

                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <ul class="listPlanner">
                            <li><label class="plannerHeader">{{plannersubjectName}}</label></li>
                            <li><label class="plannerSubHeader">Subject</label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="rowTitle">
            <div class="row align-items-center" style="margin-left: 58px;">
                <div class="col-sm-6 col-lg-6">
                    <div class="plannerTitle">Batch</div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="plannerTitle">Course Planner</div>
                </div>
            </div>
        </div>
        <div class="batchTable">
            <div *ngFor="let batch of batchList">
                <div class="row assignBatchTable align-items-center">
                    <div class="col-sm-6 col-lg-6">
                        <div class="tableRow">{{batch.batch.name}}</div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div *ngIf="batch.coursePlannerDetails != null" class="tableRow">
                            {{batch.coursePlannerDetails.name}}</div>
                        <div *ngIf="batch.coursePlannerDetails == null" class="assignBatchButton"
                            (click)="PreiewBatchPlanner(batch.batch.uniqueId); closeModal(2)">Assign</div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row" style="height: 150px;">
                <div class="col-sm-12">
                    <a class="btn btn-cancel btn-outline float-right" (click)="closeModal(2)">Cancel</a>
                </div>
            </div>
            <div>

            </div>
        </div>

    </div>
    <!-- <div class="card pt-4 " >
            <div class=" assignBatch">
                <div class="modal-header modal-header-title">
                    <span>Assign Batch</span>
                </div>
                <form [formGroup]="cpToBatchForm">
                    <div class="">
                        <div class="row w-100 ml-2" formArrayName="batches">
                            <div class="col-lg-4 d-flex justify-content-between align-items-center"
                                *ngFor="let batch of cpToBatchForm.controls.batches['controls'];let i=index;"
                                [formGroupName]="i" id="{{batch.uniqueId}}">
                                <div class="checkbox checkbox-primary mb-12">
                                    <input type="hidden" value="{{batch.controls.name.value}}" formControlName="name">
                                    <input id="{{batch.controls.name.value}}" type="checkbox" formControlName="isLinked"
                                        (change)="isAllSelected()">
                                    <label for="{{batch.controls.name.value}}">
                                        {{batch.controls.name.value}} &nbsp;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="cpToBatchForm.value.batches.length==0">
                            <div class="d-flex justify-content-between align-items-center">
                                No batches found!
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="checkbox checkbox-primary mr-4">
                            <input type="checkbox" class="custom-control-input" id="maincheckbox" [(ngModel)]="masterSelected"
                                (change)="checkUncheckAll()" [ngModelOptions]="{standalone:true}" />
                            <label class="custom-control-label" for="maincheckbox">
                                Select All
                            </label>
                        </div>
                        <a class="btn btn-cancel btn-outline" (click)="closeModal(2)">Cancel</a>
                        <button class="btn btn-filled btn-save" type="submit" [disabled]="cpToBatchForm.value.batches.length==0"
                            (click)="assignCoursePlannerToBatch()">Save</button>
                    </div>
                </form>
        
            </div>
        </div> -->
</div>
<ng-template #importDataModal let-modal="close">
    <!-- <pre>{{masterCoursePlannerForm.value | json}}</pre> -->
    <div class="modal-content importcp">
        <div class="modal-header modal-header-title">
            <span>Import CoursePlanner</span>
        </div>
        <form [formGroup]="masterCoursePlannerForm">
            <div class="modal-body">
                <div class="row mx-0">
                    <div class="col-md-4 form-group">
                        <label>Select Course</label>
                        <i style="color: tomato;">* </i>
                        <ng-select [items]="masterLinkedCourse" bindLabel="name" placeholder="Select Course"
                            class="importSelect" bindValue="uniqueId" formControlName="courseId" [searchable]="false"
                            (change)="changed($event)" [closeOnSelect]="true" [clearable]="false"
                            [ngClass]="{ 'is-invalid': submitted && mf.courseId.errors }"></ng-select>
                        <div *ngIf="submitted && mf.courseId.errors" class="invalid-feedback">
                            <div *ngIf="mf.courseId.errors.required">Please select course</div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Select Subject</label>
                        <i style="color: tomato;">* </i>
                        <ng-select [items]="commonStandard" bindLabel="name" placeholder="Select Subject"
                            bindValue="courseSubjectUniqueId" class="importSelect" formControlName="subjectId"
                            [searchable]="false" (change)="getGradeAndPlanner($event)" [closeOnSelect]="true"
                            [clearable]="false" [ngClass]="{ 'is-invalid': submitted && mf.subjectId.errors }">
                        </ng-select>
                        <div *ngIf="submitted && mf.subjectId.errors" class="invalid-feedback">
                            <div *ngIf="mf.subjectId.errors.required">Please select subject</div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Select Grade</label>
                        <i style="color: tomato;">* </i>
                        <ng-select [items]="commonGrade" bindLabel="name" placeholder="Select Grade"
                            bindValue="planners" class="importSelect" formControlName="gradeId" [searchable]="false"
                            (change)="changedGrade($event)" [closeOnSelect]="true" [clearable]="false"
                            [ngClass]="{ 'is-invalid': submitted && mf.gradeId.errors }"></ng-select>
                        <div *ngIf="submitted && mf.gradeId.errors" class="invalid-feedback">
                            <div *ngIf="mf.gradeId.errors.required">Please select grade</div>
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <label>Select Planner</label>
                        <i style="color: tomato;">* </i>
                        <ng-select [items]="masterCoursePlannerList" bindLabel="name" placeholder="Select Planner"
                            class="importSelect" bindValue="uniqueId" formControlName="syllabusId" [searchable]="false"
                            [closeOnSelect]="true" [clearable]="false"
                            [ngClass]="{ 'is-invalid': submitted && mf.syllabusId.errors }">
                        </ng-select> <!--   (change)="selectPlanner($event)" -->
                        <div *ngIf="submitted && mf.syllabusId.errors" class="invalid-feedback">
                            <div *ngIf="mf.syllabusId.errors.required">Please select planner</div>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="course"> CoursePlanner Name</label>
                        <i style="color: tomato;">* </i>
                        <input type="text" align="center" name="textBox" placeholder="Enter Course Planner Name"
                            formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && mf.name.errors }" #cpname maxlength="20">
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': cpname.value.length !== 20,'badge-danger': cpname.value.length == 20}">
                            {{ cpname.value.length }} / 20</p>
                        <div *ngIf="submitted && mf.name.errors" class="invalid-feedback">
                            <div *ngIf="mf.name.errors.required">Please select planner</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-cancel btn-outline" (click)="closeModal(3)">Cancel</a>
                <button class="btn btn-filled btn-save mr-3" type="submit"
                    (click)="CreateCoursePlannerWithImport(); closeModal(3); ">Create planner</button>
            </div>
        </form>
    </div>
</ng-template>