.customCardCss{
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
    padding: 0 1%;
  }

  .customCardCssQuest{
   border: 1px solid #98989812;
    box-shadow: 0 0 1px 2px #98989812;
     
  }
  .applyBtn{
    width: 9%;
    background-color: #0091ff;
    color: white;
    font-weight: 600;
    padding: 7px 22px;
    cursor: pointer;
  }
  .question{
    width: 20%;
    padding-top: 8px;
    font-weight: 600;
  }

  .searchBtn{
    width: 7%;border-top: 1px solid #80808057;border-bottom: 1px solid #80808057;border-right: 1px solid #0091ff;padding: 1.5% 2%;cursor: pointer;
  }

  .pickQuesTab{
    width: 17%;border-top: 1px solid #0091ff;border-bottom: 1px solid #0091ff;border-right: 1px solid #0091ff;padding-top: 12px;cursor: pointer;text-align: center;
  }

  .aaproveQuesTab{
    width: 21%;border-top: 1px solid #0091ff;border-bottom: 1px solid #0091ff;border-right: 1px solid #0091ff;padding-top: 12px;cursor: pointer;text-align: center;
  }

  .trackQuestTab{
    width: 27%;border-top: 1px solid #0091ff;border-bottom: 1px solid #0091ff;border-right: 1px solid #0091ff;padding-top: 12px;cursor: pointer;text-align: center;
  }

  .searchQues{
    width: 28%;border: 1px solid #80808057; padding-top: 3px;
  }

  .pickQuesTab:hover{
      color: white;
      background-color: #0091ff;
  }

  .aaproveQuesTab:hover{
    color: white;
    background-color: #0091ff;
  }

  .trackQuestTab:hover{
    color: white;
    background-color: #0091ff;
  }

  .solution{
    border-left: 1px solid #80808057;
    border-right: 1px solid #80808057;
    border-bottom: 1px solid #80808057;
    padding: 1% 3%;
    background-color: #bad6ba7a;
  }
  .solutionAns{
    border-left: 1px solid #80808057;
    border-right: 1px solid #80808057;
    border-bottom: 1px solid #80808057;
    padding: 1% 3%;
   
  }

  .collapsIcon{
    border: 1px solid green;
    padding: 0px 4px;
    padding-bottom: 2px;
    border-radius: 14px;
    background-color: green;
    cursor: pointer;
  }

  .optionDeactive{
    border: 1px solid #80808057;padding: 0 1%;cursor: pointer;
  }


  .optionActive{
      border-color: green;
      background-color: green;
      color: white;
      padding: 0 1%;
  }

  .optionAns{
    border: 1px solid #80808057;padding: 0 1%;color: white;background-color: green;
  }

  .isHeadActive{
    background: #0091ff;
    color: white;
  }

  .isHide{
      display: none;
  }

  .isUnHide{
      display: block;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(243, 240, 240); 
    // outline: 1px solid #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(209, 206, 206);
  }

  .plusBtn{
    border: 1px solid green;
    padding: 12px 10px 8px 10px;
    background-color: #bad6ba7a;
    cursor: pointer;
  }

  .deleteBtn{
    border: 1px solid red;
    padding: 12px 10px 8px 10px;
    background-color: #f9d9d47a;
    cursor: pointer;
  }

  .aaprBtn{
    border: 1px solid #0091ff;
    color: #0091ff;
    padding: 9px 26px;
  }

  .aaprBtn:hover{
    
    background-color: #0091ff;
   color: white;
  }

  .unitNames{
    margin: 3px 2px;
    padding: 2px 6px;
    color: #0091ff;
    border: 1px solid #0091ff;
    background-color: #abd2f04f;
    border-radius: 3px;
    width: fit-content;
  }

 
  .closeUnit.close{
    left: 5px;
      background-color: transparent;
      color: var(--app-examModuleColor);
      bottom: auto;
      height: 15px;
      width: 15px;
  }

  .closeAllFilter{
    border-radius:21px;
    padding: 3%;
    width: fit-content;
   
    background-color: #abd2f04f;
    color: #0091ff;
    cursor: pointer;
  }

  .filterIcon{
    border-top: 1px solid #80808057;
    border-left: 1px solid #80808057;
    border-bottom: 1px solid #80808057;
    padding: 8px 8px 2px 8px;
  }

  .closeBtn{
    border: 1px solid;
    margin-left: 4px;
    padding: 0px 5px 0px 10px;
    border-radius: 17px;
    background: #0091ffa3;
    cursor: pointer;
  }

  .closeIcon{
    font-size: 10px;
    color: white;
    position: absolute;
    margin-top: 5px;
    margin-left: -6px;
  }
  