$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
.addQuickForm {
    position: absolute;
    background-color: white;
    top: 85px;
    width: 25%;
    right: 0;
    z-index: 1;
    pointer-events: fill;
}

.bulkAssignForm {
    position: absolute;
    background-color: white;
    top: 0px;
    width: 75%;
    right: 0;
    opacity: 1;
    z-index: 1050;
    pointer-events: fill !important;
}

.bulkUploadForm {
    position: absolute;
    background-color: white;
    top: 0px;
    width: 75%;
    right: 0;
    opacity: 1;
    z-index: 1050;
    pointer-events: fill !important;
}
.pageShow {
    height: 560px;
}
.quickForm-back {
    pointer-events: none;
}
.hideScroll {
    overflow-y: hidden;
}
@media screen and (min-width: 1480px) {
    #headertabs {
        width: 86%;
    }
}
@import "../../../../../assets/scss/custom/components/common";

td{
    padding: 20px 10px !important;
    cursor: pointer;
}

.back-btn{
    color: var(--newApp-color) !important;
    cursor: pointer;
    margin-left: 15px
}