<ng-container *ngIf="!listClicked">
  <div class="container-fluid" [ngClass]="{'pageShow':isShowQuickForm && studentList.length < 5}">
    <!-- <app-page-title title="Students" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->

    <div class="row">
      <div class="col-12">
        <div class="card"
          [ngClass]="{'stack-back':listClicked, 'quickForm-back':isShowQuickForm, 'mb-0':listClicked,'outsideDropdown':isDropDownOpen}">
          <div class="card-body">
            <!-- Table -->
            <div class="list">
              <div class="table-responsive" [ngClass]="{'emptyTable':studentList.length>=0}">
                <table class="table table-centered mb-0" id="test">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 20px;">
                        Sl.No
                      </th>

                      <th style="width: 25%; text-align: left;">
                        <ng-select [items]="courseList" #selectCrs class="custom" bindLabel="itemName"
                          bindValue="uniqueId" [multiple]="true" [closeOnSelect]="false"
                          (change)="onItemChange($event,0)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="selectCrs.open()">Message <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th>

                      <th>
                        <ng-select [items]="boardList" #selectBoard class="custom" bindValue="uniqueId" bindLabel="name"
                          [multiple]="true" [closeOnSelect]="false" (change)="onItemChange($event,3)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="selectBoard.open()">Category <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th>
                      <th>
                        <ng-select [items]="gradeList" #selectGrade class="custom" bindLabel="name" bindValue="uniqueId"
                          [multiple]="true" [closeOnSelect]="false" (change)="onItemChange($event,4)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input"
                                [checked]="item$.selected" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="selectGrade.open()">Channel <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th>
                      <th>Submitted</th>
                      <th>Delivered</th>
                      <th>Opened</th>
                      <th>Clicked</th>
                      <th>Bounced</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of studentList; let i = index;" class="table-data">
                      <td style="width: 15px;">
                        {{i+1}}
                      </td>
                      <td style="text-align:left;" (click)="rowClick(student)">
                        {{student.student.name}}
                      </td>
                      <td  (click)="rowClick(student)">
                        {{student.board}}
                      </td>
                      <td  (click)="rowClick(student)">
                        {{student.grade}}
                      </td>
                      <td (click)="rowClick(student)">
                        {{student.batch}}
                      </td>
                      <td (click)="rowClick(student)">
                        {{student.board}}
                      </td>
                      <td (click)="rowClick(student)">
                        {{student.grade}}
                      </td>
                      <td (click)="rowClick(student)">
                        {{student.batch}}
                      </td>
                      <td (click)="rowClick(student)">
                        {{student.grade}}
                      </td>
                      <td (click)="rowClick(student)">
                        {{student.batch}}
                      </td>
                    </tr>
                    <tr *ngIf="studentList?.length==0">
                      <td colspan="10">No data found!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="d-flex justify-content-end w-100">
                  <div class="p-3 pagination" *ngIf="isShowPagination">
                    <ng-select [items]="pageSizeArray" #selectPageSize class=" pageSizeSelect" dropdownPosition="top"
                      bindLabel="name" bindValue="id" (change)="changePageSize($event)" [(ngModel)]="selectedPageSize">
                    </ng-select>
                    <a class="link-project" (click)="selectPageSize.open()">{{pageSizeArray[selectedPageSize].name}}
                    </a> of {{totalCount}} <i class="fa fa-chevron-left mx-2" aria-hidden="true"
                      (click)="goToPreviousPage()"></i>
                    <i class="fa fa-chevron-right pl-1" aria-hidden="true" (click)="goToNextPage()"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- End table -->
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="listClicked">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <b class="back-btn" (click)="goBack()"><i class="fas fa-chevron-left" aria-hidden="true"></i> Back to list</b>
            </div>
            <app-message-details [selectedMsgId]="selectedStudentId"></app-message-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>