th.mainType{
    color: var(--newApp-color);
}
.table thead th{
    font-weight: 500;
    font-size: 15px;
}
.table .fa,.table .fas{
    cursor: pointer;
}
.table .fa-trash {
    font-size: 23px;
    color: #ff0b0b;
    float: left;
    margin-left: 13px;
    margin-top: 3px;
}
.table .fa-pen {
    font-size: 15px;
    color: var(--newApp-color);
    height: 30px;
    width: 30px;
    background-color: rgb(51 141 222 / 51%);
    border: 1px solid var(--newApp-color);
    border-radius: 5px;
    padding-top: 5px;
}
.table .delete{
    margin-top: 3px;
}
.table .edit{
    float: right;
    margin-right: 25px;
}
.btn-circle {
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 25px;
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
    position: relative;
    left: 15px;
}
.table .correct, .table .cancel{
    width: 30px;
    height: 30px;
    color: #ffffff !important;
    cursor: pointer;
    padding-top: 5px;
    margin-top: 3px;
}
.table .correct{
    float: left;
    margin-left: 10px;
}
.table .cancel{
    float: right;
    margin-right: 25px;
}
.btn-save{
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
    padding: 10px 25px;
    position: absolute;
    right: 35px;
    bottom: 5px;
}
.table span p{
    margin-bottom: 0.4rem;
}
.form-control.is-invalid{
    background-image: none;
}