<app-ui-preloader [display]="loading"></app-ui-preloader>
<form [formGroup]="boardAndGradeForm">
    <div class="table-responsive-md">
        <table class="table mb-0">
        <thead class="thead-light">
            <tr class="">
                <th class="text-center">S No.</th>
                <th class="mainType text-center" style="width: 39%;">Board</th>
                <th class="text-center" style="width: 39%;">Grade</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td class="text-center">1</td>
                <td class="text-center">
                    <span formArrayName="boardsList" *ngIf="!isEdit"> 
                        <p *ngFor="let board of boardAndGradeForm.controls.boardsList.value">{{board.name}}</p> 
                    </span>
                    <span *ngIf="isEdit">
                        <ng-multiselect-dropdown [placeholder]="'Select Board'"
                            [data]="masterBoardData"
                            formControlName="boardsList"
                            [settings]="settings" [disabled]="false" (onSelect)="OnItemSelect($event,1)"
                            (onDeSelect)="OnItemDeSelect($event,1)" [ngClass]="{ 'is-invalid': submitted && boardAndGradeForm.controls.boardsList.errors?.required }">
                        </ng-multiselect-dropdown>
                        <div *ngIf="submitted && boardAndGradeForm.controls.boardsList.errors?.required" class="invalid-feedback" [ngClass]="{ 'd-block': submitted && boardAndGradeForm.controls.boardsList.errors?.required }">
                            <div *ngIf="boardAndGradeForm.controls.boardsList.errors?.required"> Board is required.</div>
                        </div>
                    </span>
                </td>
                <td class="text-center">
                    <span formArrayName="gradesList" *ngIf="!isEdit"> 
                        <p *ngFor="let grade of boardAndGradeForm.controls.gradesList.value">{{grade.name}}</p> 
                    </span>
                    <span *ngIf="isEdit">
                        <ng-multiselect-dropdown [placeholder]="'Select Grade'"
                            [data]="masterGradeData"
                            formControlName="gradesList"
                            [settings]="settings" [disabled]="false" (onSelect)="OnItemSelect($event,2)"
                            (onDeSelect)="OnItemDeSelect($event,2)" [ngClass]="{ 'is-invalid': submitted && boardAndGradeForm.controls.gradesList.errors?.required }">
                        </ng-multiselect-dropdown>
                        <div *ngIf="submitted && boardAndGradeForm.controls.gradesList.errors?.required" class="invalid-feedback" [ngClass]="{ 'd-block': submitted && boardAndGradeForm.controls.gradesList.errors?.required }">
                            <div *ngIf="boardAndGradeForm.controls.gradesList.errors?.required"> Grade is required.</div>
                        </div>
                    </span>
                </td>
                <td class="text-center" style="width: 14%;" *ngIf="!isEdit">
                    <!-- <div class="delete">
                        <i class="fas fa-trash" (click)="deleteRow()"></i>
                    </div> -->
                    <div class="edit ml-3" *ngIf="!isNew" (click)="editRow()">
                        <i class="fa fa-pen"></i>
                    </div>
                </td>
                <td class="text-center" style="width: 14%;" *ngIf="isEdit && !isNew">
                    <div class="correct bg-success" (click)="updateRow()">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="cancel bg-danger ml-3" (click)="cancelRow()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pt-3 pr-3 pl-3 pb-3 row">
        <a (click)="addNewRow()" color="primary" class="btn btn-circle">
            <i class="fa fa-plus fa-2x"></i>
      </a>
    </div>
    <div class="pt-3 pr-3 pl-3 pb-3 row">
        <button class="btn btn-save" (click)="onSubmit()">Save and Next</button>
        <button class="btn btn-save invisible" id="nextBtn1" mat-button matStepperNext>Next</button>
    </div>
</form>