//
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
  font-family: roboto-regular;
  background-color: #ffffff !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto-regular;
}
.footer {
  position: fixed !important;
  background-color: white;
}
