<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="teacherSubjectForm" (ngSubmit)="submitTeacherSubjectInfo()">
        <div class="form-row" formArrayName="subjectList">

          <!-- <pre>{{teacherSubjectForm.value | json }}</pre> -->
          <div class="row selectSubject">
            <div class="row w-100 mb-4">
              <span class="selectAll mr-3 checkbox checkbox-default float-left">
                <input type="checkbox" id="name" name="name" (change)="selectAllSubject($event)"
                  [checked]="isSelectAll"><label for="name">Select All</label>
              </span>
              <span class="float-right searchbox">
                <div class="search__container">

                  <input class="search__input" type="text" placeholder="Search" (input)="searchSubject($event)">
                </div>
              </span>
            </div>
          </div>
          <div class="row w-100 ml-2">
            <div *ngFor="let subject of subjectListArrayControl;let i=index;" [formGroupName]="i"
              [ngClass]="{'col-md-4':subject.value.isSearched}" style="cursor: pointer;">
              <div class="d-flex justify-content-between align-items-center subject" *ngIf="subject.value.isSearched"
                id="{{subject.value.uniqueId}}">
                <div class="checkbox checkbox-default mb-12">
                  <input type="hidden" value="{{subject.value.name}}" formControlName="name">
                  <input id="{{subject.value.name}}" type="checkbox" [checked]="subject.value.isLinked"
                    (change)="subjectChange(subject)">
                  <label for="{{subject.value.name}}" ngbTooltip={{subject.value.name}}>
                    {{subject.value.name | truncateText:15}} &nbsp;
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row w-100 mb-3 mt-2">
          <p class="float-left" style="margin-left: 30px;margin-top:15px;"><span class="count">{{selectedCount}}</span>
            Selected Subjects</p>
        </div>
        <div class="row mt-5 float-right">
          <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
          <button class="btn btn-save ml-2" type="submit">Save and Next</button>
        </div>
      </form>
    </div>
  </div>
</div>