.subject {
    margin-bottom: 15px;
}
.subject label {
    color: #86868b;
}
.subject .checkbox label::before {
    border-color: var(--newApp-color);
}
.subject .checkbox input[type="checkbox"]:checked + label::after {
    border-color: var(--newApp-color);
}
.subject .checkbox label::after {
    color: var(--newApp-color);
}
.subject.col {
    flex: 1 0 18%;
    display: flex;
    justify-content: center;
}
.card {
    box-shadow: 0px 2px 6px rgba(56, 65, 74, 0.23) !important;
}
.selectSubject {
    width: 95%;
    margin: 5px auto;
    // padding-left: 22px;
}
.selectSubject .subject {
    margin-bottom: 10px;
    margin-top: 5px;
}
.selectSubject .col-2 {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 21.666667%;
}
.selectAll {
    font-weight: 600;
    padding-top: 21px;
    margin-left: 20px;
}
.searchbox {
    width: 75%;
}
.searchbox .form-control {
    border-radius: 15px;
}
.search {
    &__container {
        padding-top: 14px;
    }

    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    &__input {
        width: 90%;
        padding: 7px 15px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;
        background-color: transparent;
        /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 40px;
        border: 1px solid #adadad;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        opacity: 0.7;

        &::placeholder {
            color: color(#3a3a3a a(0.8));
            // text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        &:hover,
        &:focus {
            outline: 0;
        }
    }
}
.count {
    color: var(--newApp-color);
}
.btn-save {
    background-color: var(--newApp-color);
    margin-left: 10px;
    width: 175px;
    padding: 8px 30px;
    font-size: 17px;
}
.btn-cancel {
    background-color: white;
    border: 2px solid var(--newApp-color);
    color: var(--newApp-color) !important;
    margin-left: 10px;
    padding: 8px 30px;
    font-size: 17px;
    width: 175px;
    cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
    color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
    color: var(--newApp-color) !important;
    background-color: #fff;
}
