<app-common-exam-header></app-common-exam-header>

<div class="card customCardCss">
  <div class="card-body">
    <h4 class="heading">View Pattern</h4>
    <hr>
<div class="row" style="margin-left: 0px;">
 
  <div class="col-4" style="padding: 0% 0 3% 2%;">
    <ng-select id="type" [items]="type" bindLabel="name" [multiple]="false" bindValue="id"
                          [closeOnSelect]="true" placeholder="Select Type" [searchable]="false"
                          (change)="getExamPatternList($event)">
                        </ng-select>
                      </div>
  <div class="col-4" style="padding: 0% 2% 3% 0;margin-left:12px" *ngIf="examPatternList != null && examPatternList.length >0">
    <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Select" [searchable]="false" (change)="getExamPatternDetails($event)">
                          <ng-option *ngFor="let examPattern of examPatternList" [value]="examPattern.uniqueId"> {{examPattern.name}} </ng-option>
                        </ng-select>                    
                        <!-- <span style="width: 30%; padding: 3%">
                          <button class="btn btn-primary createBtn" [disabled]="isButtonDisabled" (click)="createPatternClick()">
                            <i class="fa fa-eye" style="float: left; font-size: 20px;"></i>
                            <span>
                              View Pattern
                            </span>
                          </button>
                        </span> -->
                      
                      
                      </div>


</div>
<!-- <hr style="margin-top: -1rem;" *ngIf="isSelectPatternShow == false && isPatternTabShow == false"> -->
<div class="row" *ngIf="examPattern  == null || examPattern == 'undefined' || examPattern == undefined ">
  <img src="assets/images/view-pattern-bg.jpg" alt="looking for" style="height: 350px;width: 350px;margin-left: 34%;margin-top: 4%;">
</div>

<div *ngIf="examPattern != null && examPattern !='undefined' && examPattern.patternType == 3">
                 
  <app-view-pattern-summary [pattern]="pattern1" [examPattern]="examPattern" [radioValue]="isRadioActivate">
  </app-view-pattern-summary>
</div>

<div *ngIf="examPattern != null && examPattern !='undefined' && examPattern.patternType==4">

  <app-view-pattern-summary [customPattern]="pattern1" [examPattern]="examPattern" [radioValue]="isRadioActivate">
  </app-view-pattern-summary>
</div>
<div *ngIf="examPattern != null && examPattern !='undefined' && (examPattern.patternType==1 || examPattern.patternType==2)"
  >
 
  <app-view-pattern-summary [pattern]="pattern1" [examPattern]="examPattern" [radioValue]="isRadioActivate">
  </app-view-pattern-summary>
</div>

</div>
</div>
<!-- <section id="tabs" *ngIf="isPatternTabShow">
      <div class="row" style="background-color: #F2F2F2;width: 100%;margin-left: 0px;">
        <div class="col-lg-8" style="padding: 0;">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="width: 42rem;">
              <a class="nav-item nav-link" id="nav-basic-tab" [ngClass]="{'active':tabNumber==1 || tabNumber== '1'}"
                data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true"
                (click)="tabClick(1)">NEET</a>
              <a class="nav-item nav-link" id="nav-others-tab" [ngClass]="{'active':tabNumber==2 || tabNumber== '2'}"
                data-toggle="tab" href="#nav-others" role="tab" aria-controls="nav-others" aria-selected="false"
                (click)="tabClick(2)">JEE Mains</a>
              <a class="nav-item nav-link" id="nav-academic-tab" [ngClass]="{'active':tabNumber==3 || tabNumber== '3'}"
                data-toggle="tab" href="#nav-academic" role="tab" aria-controls="nav-academic" aria-selected="false"
                (click)="tabClick(3)">JEE Advanced</a>
              <a class="nav-item nav-link" id="nav-guardian-tab" [ngClass]="{'active':tabNumber==4 || tabNumber== '4'}"
                data-toggle="tab" href="#nav-guardian" role="tab" aria-controls="nav-guardian" aria-selected="false"
                (click)="tabClick(4)">Custom</a>
            </div>
          </nav>
        </div>
        <div class="col-lg-4">
          <div class="justify-content-center" style="float: right;margin-top: 3%;font-size: 11px;">
            <div class="radio radio-info form-check-inline">
              <input type="radio" [(ngModel)]="isRadioActivate" value="1"
                id="instructionType1">
              <label for="inlineRadio1"> Activate </label>
            </div>
            <div class="radio radio-info form-check-inline">
              <input type="radio" [(ngModel)]="isRadioActivate" value="2"
                id="instructionType1">
              <label for="inlineRadio1"> Deactivate </label>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade " [ngClass]="{'active show':tabNumber==1 || tabNumber== '1'}" id="nav-basic"
          role="tabpanel" aria-labelledby="nav-basic-tab">
          <app-view-pattern-summary [examName]="tabNumber" [isradio]="isRadioActivate"></app-view-pattern-summary>
        </div>
        <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==2 || tabNumber== '2'}" id="nav-others"
          role="tabpanel" aria-labelledby="nav-others-tab">
          <app-view-pattern-summary [examName]="tabNumber" [isradio]="isRadioActivate"></app-view-pattern-summary>
        </div>
        <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==3 || tabNumber== '3'}" id="nav-academic"
          role="tabpanel" aria-labelledby="nav-academic-tab">
          <app-view-pattern-summary [examName]="tabNumber" [isradio]="isRadioActivate"></app-view-pattern-summary>
        </div>
        <div class="tab-pane fade" [ngClass]="{'active show':tabNumber==4 || tabNumber== '4'}" id="nav-guardian"
          role="tabpanel" aria-labelledby="nav-guardian-tab">
          <app-view-pattern-summary [examName]="tabNumber" [isradio]="isRadioActivate"></app-view-pattern-summary>
        </div>
      </div>
</section> -->
