.example-margin {
    margin: 0 12px;
  }
  
  .label-under{
    font-weight: 400;
      color: #99A3A4;
  }
  
  .customPatternCss{
    width: 100%;
    // height: 7vw;
    height: auto;
    border-radius: 11px;
    box-shadow: 1px 1px 1px 1px #80808026;
  }
  .customPatternCsslowerPart{
    width: 100%;
    // height: 17vw;
    height: 21vw;
    border-radius: 11px;
    box-shadow: 1px 1px 1px 1px #80808026;
  }
  
  .nextbtn{
    width: 50%;
    padding-right: 9% !important;
  }
  .createBtn{
    height: 100%;
      // width: 77%;
      width: 150px;
      // background: #28a7f2e0;
      font-weight: 500;
      // background: var(--app-color);
      background: #1c8ef0
  }
  .center{
    display: flex;
    justify-content: center;
  }
  
  .dropDownCss{
    // width: 24%;
    font-weight: 500;
    color: #403f3f;
    width: 95%;
    height: 3vw;
    border: 1px solid #80808073;
    padding: 8px;
  }
  
  .examNameInput{
    color: #aaaaaa;
    width: 83%;
    height: 61%;
    font-weight: 500;
    border: 1px solid #cdcdcd;
  }
  .examNamesubInput{
    color: #aaaaaa;
    width: 100%;
    height: 71%;
    font-weight: 500;
    border: 1px solid #cdcdcd;
  }



#tabs{
  color: black;
 
}
#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link{
  // color: #f3f3f3;
  // background-color: transparent;
  // border-color: transparent transparent #f3f3f3;
  // border-bottom: 4px solid #0DB2D0;
  // // font-size: 20px;
  font-weight:300;
}
#tabs .nav-tabs .nav-link {
  // border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color:  #A4A4A4;
  font-weight: 400;
}

#tabs .nav-tabs .nav-link.active {
  // color: black;
  color:white;
  background-color: #1c8ef0;
  border-color: transparent transparent #f3f3f3;
  // border-bottom: 4px solid #0DB2D0;
  // font-size: 20px;
  font-weight:500;
}

.customCardCss{
  border-radius: 4px;
  box-shadow: 0 0 1px 2px #98989812;
}

.card-body{
  padding-right: 0% !important;
  padding-left: 0% !important;
  padding-top: 0% !important;
}

.heading{
  padding: 1%;
}

