<app-ui-preloader [display]="loading"></app-ui-preloader>
<form [formGroup]="subjectLinkingSubjectForm">
    <div>
        <div class="table-responsive">
            <table class="table table-centered mb-0">
                <thead class="thead-light">
                    <tr>

                        <th>Course</th>
                        <th>Subjects <button class="btn btn-light importSubject" (click)="importSubject(subjectList)">
                                <i class="fa fa-plus"></i> Import Subjects</button></th>
                        <th>Compulsory</th>
                        <th>Optional</th>
                        <th>Elective</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody [ngClass]="{'disabletbody': masterCourseList.length==0&&isAdd}" formArrayName="linkedSubjectList"
                    cdkDropListGroup>
                    <tr *ngFor="let courses of subjectLinkingSubjectForm.controls.linkedSubjectList['controls']; let i=index;"
                        [formGroupName]="i">
                        <td *ngIf="isAdd == false">
                            {{courses.value.courseName}}
                        </td>
                        <td *ngIf="isAdd == true">
                            <ng-select [items]="masterCourseList" class="custom" bindLabel="name" placeholder="Course"
                                [closeOnSelect]="true" bindValue="uniqueId" [clearable]="false" [searchable]="false"
                                formControlName="courseId" (change)="onChangeCourse($event,i)">
                            </ng-select>
                        </td>
                        <td>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block">
                                <div *ngFor="let item of courses.controls['subjectList'].value">{{item.name}}</div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value">
                                <div cdkDropList [cdkDropListData]="courses.controls['subjectList'].value"
                                    class="subjectList">
                                    <p *ngFor="let item of courses.controls['subjectList'].value" [cdkDragData]="item"
                                        ngbToo cdkDrag style="cursor: all-scroll;">{{item.name}}</p>
                                </div>

                            </span>
                        </td>
                        <td>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block">
                                <div *ngFor="let item of courses.controls['compulsorySubjectList'].value">{{item.name}}
                                </div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value">
                                <div cdkDropList [cdkDropListData]="courses.controls['compulsorySubjectList'].value"
                                    (cdkDropListDropped)="dropSubjectFromList($event,courses.controls['subjectList'].value,i,1,null,courses)"
                                    formArrayName="compulsorySubjectList" class="dropSubject">
                                    <label class="coloumnLabel">Drop compulsory subject here</label>
                                    <div *ngFor="let item of courses.controls['compulsorySubjectList'].value;let j=index;"
                                        class="custom-control">
                                        <p>
                                            {{item.name}}
                                            <i class="fa fa-times float-right"
                                                (click)="removeSubjectFromList($event,i,j,1,item,null)"></i>
                                        </p>

                                    </div>
                                </div>

                            </span>
                        </td>
                        <td>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block">
                                <div *ngFor="let item of courses.controls['optionalSubjectList'].value">{{item.name}}
                                </div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value" class="d-block">
                                <div cdkDropList [cdkDropListData]="optionalSubjectList"
                                    (cdkDropListDropped)="dropSubjectFromList($event,courses.controls['subjectList'].value,i,2,null,courses)"
                                    formArrayName="optionalSubjectList" class="optionalSubject">
                                    <label class="coloumnLabel">Drop optional subject here</label>

                                    <div *ngFor="let item of courses.controls['optionalSubjectList'].value;let op=index;"
                                        class="custom-control custom-checkbox ">
                                        <p>
                                            {{item.name}}
                                            <i class="fa fa-times float-right"
                                                (click)="removeSubjectFromList($event,i,op,2,item,null)"> </i>
                                        </p>

                                    </div>

                                </div>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!courses.controls.editMode.value" class="d-block"
                                formArrayName="electiveSubjectList">
                                <div *ngFor="let item of courses.controls.electiveSubjectList['value']; let k = index;"
                                    [formGroupName]="k">
                                    <label for="">{{item.groupName}}</label>
                                    <div *ngFor="let subject of item.electiveSubjectList;">
                                        <p>{{subject.name}}</p>
                                    </div>

                                </div>
                            </span>
                            <span *ngIf="courses.controls.editMode.value" formArrayName="electiveSubjectList">
                                <div *ngFor="let eachGroup of courses.controls['electiveSubjectList'].controls; let k = index;"
                                    [formGroupName]="k" style="display: flex;margin-bottom: 10px;">
                                    <div class="groupSubject">
                                        <div class="row groupHeader groupNameHeader">
                                            <div class="col-lg-1"> <span
                                                    class="btn btn-list btn-xs number">{{k+1}}</span></div>
                                            <div class="col-lg-11"><input formControlName="groupName"
                                                    class="form-control" #groUpName placeholder="Enter Group Name"
                                                    style="border: none;width: 134px;"
                                                    [ngClass]="{'is-invalid':submitted && eachGroup.controls['groupName'].errors?.required}">
                                            </div>

                                        </div>
                                        <div cdkDropList
                                            [cdkDropListData]="eachGroup.controls['electiveSubjectList'].value"
                                            class="movie-list example-list subject-list"
                                            (cdkDropListDropped)="dropSubjectFromList($event,courses.controls['subjectList'].value,i,3,k,courses)"
                                            formArrayName="electiveSubjectList" style="min-height: 50px;">

                                            <div *ngFor="let item of eachGroup.controls['electiveSubjectList'].value;let el=index;"
                                                class="custom-control custom-checkbox example-box">
                                                <p>{{item.name}}<i class="fa fa-times float-right"
                                                        (click)="removeSubjectFromList($event,i,k,3,item,el)"> </i></p>

                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <i class="fa fa-trash float-right text-danger electiveTrash"
                                            (click)="removeElectiveSubjectGroup(i,k,1)"> </i>
                                    </div>
                                    <br>
                                    <div *ngIf="submitted && eachGroup.controls['groupName'].errors?.required"
                                        class="invalid-feedback" style="display: block;">
                                        <div *ngIf="eachGroup.controls['groupName'].errors?.required">Group name
                                            required
                                        </div>
                                    </div>

                                </div>
                                <button class="btn btn-light addMoreGroup" (click)="createElectiveGroup(i)"> <i
                                        class="fa fa-plus"></i> Add More Group</button>

                            </span>
                        </td>
                        <td class="text-center" style="width: 10%;" *ngIf="!courses.controls.editMode.value">

                            <div class="edit ml-1" (click)="editRow(courses,i)">
                                <i class="fa fa-pen"></i>
                            </div>
                        </td>
                        <td class="text-center" style="width: 10%;" *ngIf="courses.controls.editMode.value">
                            <div style="display: flex;vertical-align: bottom !important;">
                                <div class="save" *ngIf="!isFromacademic" (click)="updateRow(courses)">
                                    <i class="fas fa-save"></i>
                                </div>
                                <div class="ml-1"
                                    *ngIf="subjectLinkingSubjectForm.controls.linkedSubjectList.value.length>1"
                                    (click)="deleteCourseHasSubject(i)">
                                    <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                    <i class="fa fa-trash float-right text-danger electiveTrash"> </i>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pt-3 pr-3 pl-3 pb-3 row" *ngIf="isAdd">
            <a (click)="addNewRow()" color="primary" class="btn btn-circle">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </div>
        <div class="row justify-content-end mt-2">
            <button class="btn btn-save" *ngIf="!isFromacademic" (click)="onSubmit()">Save</button>
            <button class="btn btn-outline" (click)="cancelBtn(false)"
                *ngIf="isFromacademic && !isFromSetup">Cancel</button>
            <button class="btn btn-save" *ngIf="isFromacademic && isAdd == false" (click)="onUpdate()">Update</button>
            <button class="btn btn-save" *ngIf="isFromacademic && isAdd && !isFromSetup"
                (click)="onSubmit()">Save</button>
            <button class="btn btn-outline" (click)="previousStep()" *ngIf="isFromSetup">Previous</button>
            <button class="btn btn-save" *ngIf="isFromSetup" (click)="onSubmit()">Save and Next</button>
        </div>
    </div>


    <!-- <div class="pt-3 pr-3 pl-3 pb-3 row">
        <button class="btn btn-save" (click)="onSubmit()">Save</button>
    </div> -->
</form>
<ng-template #subjectList let-modal="close">
    <!-- <div class="modal-header">
        <button type="button" class="close" (click)="modal('Cross click')" aria-hidden="true">×</button>
    </div> -->
    <div class="modal-body">
        <div class="row selectSubject">
            <div class="row w-100 mb-2">
                <span class="selectAll mr-4 checkbox checkbox-default float-left">
                    <input type="checkbox" id="name" name="name" (change)="selectAllSubject($event)"
                        [checked]="isSelectAll"><label for="name">Select All</label>
                </span>
                <span class="float-right searchbox">
                    <div class="search__container">

                        <input class="search__input" type="text" placeholder="Search" (input)="searchSubject($event)">
                    </div>
                </span>
            </div>
            <div class="row my-2 w-100" style="margin-left: 0px;">
                <div class="col-md-3" *ngFor="let subject of masterSubjectList;">
                    <div class="d-flex justify-content-between align-items-center subject" style="cursor: pointer;"
                        id="{{subject.uniqueId}}">
                        <div class="checkbox checkbox-default mb-12">
                            <input type="hidden" value="{{subject.name}}">
                            <input id="{{subject.name}}" type="checkbox" name="list_name"
                                (change)="subjectChange(subject)" [checked]="subject.isSelected" value="{{subject.id}}">
                            <label for="{{subject.name}}" ngbTooltip={{subject.name}}>{{subject.name | truncateText:
                                10}}
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 mb-3 mt-2">
        <p class="pl-4 float-left" style="margin-left: 30px;margin-top:15px;"><span
                class="count">{{selectedCount}}</span> Selected Subjects</p>
        <div align="right" class="mb-2 float-right submitbutton">
            <button class="btn btn-link " type="submit" style="margin-top: 5px; margin-right: 15px;"
                (click)="cancelSubject()">Cancel</button>

            <button class="btn btn-apply" (click)="saveSubject()"> Apply</button>

        </div>
    </div>
</ng-template>