th.mainType {
    color: var(--newApp-color);
}
.table thead th {
    font-weight: 500;
    font-size: 15px;
}
.table .fa,
.table .fas {
    cursor: pointer;
}
.table .fa-trash {
    font-size: 18px;
    color: #ff0b0b;
    float: left;
    margin-top: 3px;
    position: relative;
    left: 8px;
}
.table .fa-pen {
    font-size: 15px;
    color: var(--newApp-color);
    height: 30px;
    width: 30px;
    background-color: rgb(51 141 222 / 51%);
    border: 1px solid var(--newApp-color);
    border-radius: 5px;
    padding-top: 5px;
}
.table .delete {
    margin-top: 3px;
}
.table .edit {
    float: right;
    margin-right: 25px;
}
.btn-circle {
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 25px;
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
}
.table .correct,
.table .cancel {
    width: 30px;
    height: 30px;
    color: #ffffff !important;
    cursor: pointer;
    padding-top: 5px;
    margin-top: 3px;
}
.table .correct {
    float: left;
    margin-left: 10px;
}
.table .cancel {
    float: right;
    // margin-right: 25px;
}
.input-group .form-control {
    border-right: hidden;
}
.input-group-text {
    padding: 0.4rem 0.9rem;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
    border-color: var(--newApp-color);
}
.btn-save {
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
    padding: 10px 25px;
    margin-right: 35px;
}
.importSubject,
.importSubject:active {
    background-color: #ffffff;
    border-color: var(--newApp-color);
    color: var(--newApp-color);
    margin-left: 5px;
    padding: 4px 5px;
    font-size: 11px;
}
.coloumnLabel {
    color: rgb(197, 197, 197);
    font-weight: 500;
    padding: 5px;
}
.dropSubject,
.optionalSubject,
.groupSubject {
    -webkit-box-shadow: 0px 2px 4px 0px #c1c1c1;
    -moz-box-shadow: 0px 2px 4px 0px #c1c1c1;
    box-shadow: 0px 2px 4px 0px #c1c1c1;
    padding: 5px;
    min-height: 170px;
    max-height: fit-content;
}
.dropSubject p,
.subjectList p,
.optionalSubject p,
.groupSubject p {
    background-color: #0091ff1f;
    padding: 5px 15px;
    width: fit-content;
    border-radius: 15px;
    color: black;
    font-size: 13px;
}
.dropSubject p .fa-times,
.optionalSubject p .fa-times,
.groupSubject p .fa-times {
    padding: 3px 0px 5px 10px;
}
.selectSubject {
    width: 86%;
    margin: 5px auto;
    // padding-left: 22px;
}
.selectSubject .subject {
    margin-bottom: 10px;
    margin-top: 5px;
}
.selectSubject .col-2 {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 21.666667%;
}
.checkbox input[type="checkbox"]:checked + label::before {
    background-color: var(--newApp-color);
    border-color: var(--newApp-color);
}
.checkbox input[type="checkbox"]:checked + label::after {
    border-color: #ffffff !important;
}

.checkbox label {
    font-weight: 500 !important;
}
.btn-apply {
    background-color: var(--newApp-color) !important;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 40px;
    padding: 6px 25px;
}
.btn-apply:hover {
    color: #ffffff !important;
}
::ng-deep ngb-modal-window .modal-dialog {
    max-width: 660px;
    margin: 1.75rem auto;
}
.selectAll {
    font-weight: 600;
    padding-top: 21px;
    margin-left: 11px;
}
.searchbox {
    width: 75%;
}
.searchbox .form-control {
    border-radius: 15px;
}
.search {
    &__container {
        padding-top: 14px;
    }

    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    &__input {
        width: 99%;
        padding: 7px 15px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;
        background-color: transparent;
        /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 40px;
        border: 1px solid #adadad;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        opacity: 0.7;
        margin-left: 25px;

        &::placeholder {
            color: color(#3a3a3a a(0.8));
            // text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        &:hover,
        &:focus {
            outline: 0;
        }
    }
}
.count {
    color: var(--newApp-color);
}
.submitbutton {
    width: 70%;
}
.number {
    background-color: var(--newApp-color);
    color: white;
    padding: 9px 12px;
    width: 35px;
    height: 37px;
    border-radius: 4px;
}
.col-lg-9 {
    padding-left: 0px;
}
.col-lg-1 {
    padding-right: 0px;
}
.groupHeader .form-control {
    position: relative;
    left: 25px;
    border-radius: 0px;
}
.groupSubject {
    width: 93%;
    min-height: 70px;
}
.custom-control {
    padding-left: 1rem;
}
.selectSubject .col-3 {
    padding-left: 0px;
}

.groupNameHeader {
    box-shadow: 0px 2px 4px 0px #c1c1c1;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12px;
    padding: 3px;
}

.addMoreGroup {
    background-color: #ffffff;
    border-color: var(--newApp-color);
    color: var(--newApp-color);
    margin-left: 5px;
    padding: 10px 12px;
    font-size: 13px;
    text-align: center;
}

.save {
    border: 1px solid #0091ff;
    width: fit-content;
    padding: 2px 6px;
    background: #0091ff40;
    color: #0091ff;
    border-radius: 3px;
    cursor: pointer;
}
.btn-outline {
    width: 90px;
    height: 43px;
    margin-right: 20px;
}
.disabletbody {
    pointer-events: none;
}
