<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="otherFormGroup" (ngSubmit)="saveAddressInfo()">
        <div class="row pt-3">
          <h4 class="typeHeading">Address</h4>
          <div class="row ml-2">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="address">Address</label><i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="address" #address maxlength="100"
                  placeholder="Address line1" [ngClass]="{ 'is-invalid': submitted && addressF.address.errors }">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': address.value.length !== 100,'badge-danger': address.value.length == 100}">
                  {{ address.value.length }} / 100</p>
                <div *ngIf="submitted && addressF.address.errors" class="invalid-feedback">
                  <div *ngIf="addressF.address.errors.required">Address is required</div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-6">
              <label for="address2"></label>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="address2" placeholder="Address line2"
                  maxlength="150">
              </div>
            </div> -->
            <div class="col-lg-6">
              <div class="form-group">
                <label for="city">City</label><i style="color: tomato;">* </i>
                <input class="form-control" formControlName="city" #city maxlength="20" placeholder="City"
                  [ngClass]="{ 'is-invalid': submitted && addressF.city.errors }" appAlphabetOnly>
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': city.value.length !== 20,'badge-danger': city.value.length == 20}">
                  {{ city.value.length }} / 20</p>
                <div *ngIf="submitted && addressF.city.errors" class="invalid-feedback">
                  <div *ngIf="addressF.city.errors.required">City is required</div>
                </div>
                {{city.nativeElement}}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="state">State</label><i style="color: tomato;">* </i>
                <ng-select [items]="stateList" class="custom1" bindLabel="name" bindValue="id" [multiple]="false"
                  [closeOnSelect]="true" [clearable]="false" placeholder="Select state" [searchable]="false"
                  formControlName="stateId" [ngClass]="{ 'is-invalid': submitted && addressF.countryId.errors }">
                </ng-select>
                <div *ngIf="submitted && addressF.stateId.errors" class="invalid-feedback">
                  <div *ngIf="addressF.stateId.errors.required">State is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="Country">Country</label><i style="color: tomato;">* </i>
                <ng-select [items]="countryList" class="custom1" bindLabel="name" bindValue="id" [multiple]="false"
                  [closeOnSelect]="true" [clearable]="false" placeholder="Select country" [searchable]="false"
                  formControlName="countryId" [ngClass]="{ 'is-invalid': submitted && addressF.countryId.errors }">
                </ng-select>

                <div *ngIf="submitted && addressF.countryId.errors" class="invalid-feedback">
                  <div *ngIf="addressF.countryId.errors.required">Country is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="zipCode">Zip Code</label><i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="zipcode" #zip placeholder="Zip Code"
                  [ngClass]="{ 'is-invalid': submitted && addressF.zipcode.errors }" maxlength="6" minlength="6"
                  appOnlynumber>
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': zip.value.length !== 6,'badge-danger': zip.value.length == 6}">
                  {{ zip.value.length }} / 6</p>
                <div *ngIf="submitted && addressF.zipcode.errors" class="invalid-feedback">
                  <div *ngIf="addressF.zipcode.errors.required">Zip code is required</div>
                  <div *ngIf="addressF.zipcode.errors.maxlength">Zip code should contain 6 digit</div>
                  <div *ngIf="addressF.zipcode.errors.minlength">Zip code should contain 6 digit</div>

                </div>
              </div>
            </div>

          </div>
          <h4 class="typeHeading">Other Details</h4>
          <div class="row ml-2 w-100">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="girstName">Birth Date</label>
                <input type="text" formControlName="birthDate" class="form-control"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #dp="bsDatepicker" placeholder="Birth Date"
                  [ngClass]="{ 'is-invalid': submitted && addressF.birthDate.errors }" show-weeks="false"
                  [maxDate]="maxDate" bsDatepicker>
                <div *ngIf="submitted && addressF.birthDate.errors" class="invalid-feedback">
                  <div *ngIf="addressF.birthDate.errors.required">Birth Date is required</div>

                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="bloodGroup">Blood Group</label>
                <ng-select formControlName="bloodGroup" [clearable]="false" [searchable]="false"
                  placeholder="Select Blood Group">
                  <ng-option value="A+" selected>A+</ng-option>
                  <ng-option value="B+">B+</ng-option>
                  <ng-option value="AB">AB</ng-option>
                  <ng-option value="O+">O+</ng-option>
                  <ng-option value="O-">O-</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="adharNumber">Aadhar Number</label>
                <input class="form-control" id="" maxlength="12" minlength="12" #aadharno placeholder="xxxx xxxx xxxx"
                  formControlName="adharNumber" [ngClass]="{ 'is-invalid': submitted && addressF.adharNumber.errors }"
                  appOnlynumber>
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': aadharno.value.length !== 12,'badge-danger': aadharno.value.length == 12}">
                  {{ aadharno.value.length }} / 12</p>
                <div *ngIf="submitted && addressF.adharNumber.errors" class="invalid-feedback">
                  <div *ngIf="addressF.adharNumber.errors.maxlength">Adhar number should contain 12 digit</div>
                  <div *ngIf="addressF.adharNumber.errors.minlength">Adhar number should contain 12 digit</div>

                </div>
              </div>
            </div>

          </div>


        </div>
        <div class="row mt-5 float-right mb-5 pb-1">
          <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
          <button class="btn btn-save ml-2" type="submit">Save and Next</button>
          <!-- <button class="btn btn-save ml-2 px-4" type="submit" *ngIf="userDetailsType!=1">Save</button> -->
        </div>
      </form>
    </div>
  </div>
</div>