label {
  color: #626265;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 3px;
}
label span {
  padding-left: 5px;
  padding-right: 15px;
}
.form-control {
  border-color: #909090;
  border-radius: 3px;
  height: 40px;
}
.setMap i {
  position: absolute;
  float: right;
  right: 15px;
  font-size: 17px;
  bottom: 20px;
}
.setMap input {
  padding-right: 20px;
}
.card {
  box-shadow: none;
}
.form-control {
  padding: 0.45rem 0.5rem;
}
.typeHeading {
  color: var(--newApp-color);
  margin-top: 5px;
  margin-left: -5px;
  margin-bottom: 15px;
}
.col-lg-6 {
  -webkit-box-flex: 0;
  flex: 0 0 47%;
  max-width: 47%;
}
.col-lg-12 {
  -webkit-box-flex: 0;
  flex: 0 0 94%;
  max-width: 94%;
}
.btn-save {
  background-color: var(--newApp-color);
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 17px;
  width: 175px;
}
.btn-cancel {
  background-color: white;
  border: 2px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
  color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
  color: var(--newApp-color) !important;
  background-color: #fff;
}
.form-control:invalid,
.form-control.is-invalid,
::ng-deep ng-select.is-invalid {
  border-color: #f1556c !important;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
  border-color: var(--newApp-color);
}
.card {
  margin-bottom: 0px;
}
.card-body {
  padding-top: 0px !important;
  padding-bottom: 0px;
}
