.subjectTitle{
    color: var(--app-colorNew);
    font-weight: 500;
    font-size: 14px;
    margin-left: -5px;
}


.subjectBlurTitle{
    color: #878c90;
    font-weight: 500;
    font-size: 14px;
    margin-left: -5px;
}
.patternHeading{
    text-align: end;
    font-size: larger;
    font-weight: 400;
    color: #000000ad;
}
.blue-color {
    color: #1c8ef0;;
    }
.blur-color{
    color: #878c90;;
    }
.noPadding{
    padding: 0;
    }

    .card {
        border: 1px solid #e8e8e8;
        border-radius: 6px;
        min-width: 32%;
        box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
    }

    .cardHeading{
        border-bottom: 1px solid #e8e8e8;
        padding: 4% 2% 4% 2%;
        border-radius: 4px;
    }

    .active{
        background: #0091ff;
        color: white;
    }
    