<div *ngIf="patternType == '4'">
  <div >
    <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
      <div class="col-md-1"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
      <div class="col-md-5"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;
        <span *ngFor="let exam of examPattern.examPatterns;let i=index;">
          <span *ngFor="let subject of exam.subjects">
            {{subject.name}},
          </span>
        </span>
      </div>
      <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: {{examPattern.examPatterns[0].duration}} min</div>
      <div class="col-md-2"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: {{examPattern.examPatterns[0].totalQuestion}}</div>
      <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: {{examPattern.examPatterns[0].examMarks}}</div>
    </div>
  </div>

<hr>
<div class="row" *ngFor="let exam of examPattern.examPatterns;let i=index;" style="margin-top: 1%;margin-left:1%;padding:1%;">
<div class="col-md-3 card" *ngFor="let subject of exam.subjects"  style="margin-right: 1%;">
  <div >
    <div class="row cardHeading" [ngStyle]="{'border-top': subject.name == 'Physics' ? '4px solid #ff00c8' : subject.name == 'Chemistry' ? '4px solid #2EFEF7' : subject.name == 'Mathematics' ? '4px solid #fff703f2' : subject.name == 'Biology' ? '4px solid #92ff03f2' : subject.name == 'Science' ? '4px solid #0368fff2' : '4px solid #ff03a6f2' }">
      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Physics'"> <i class="fab fa-react"></i> {{subject.name}}</div>
      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Chemistry'"> <i class="fas fa-flask"></i> {{subject.name}}</div>
      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Mathematics'"> <i class="fas fa-calculator"></i> {{subject.name}}</div>
      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Biology'"> <i class="fas fa-vial"></i> {{subject.name}}</div>
      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Science'"> <i class="fas fa-capsules"></i> {{subject.name}}</div>
      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Anatomy'"> <i class="fas fa-code"></i> {{subject.name}}</div>
      <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    </div>
   
    <div class="row" *ngFor="let section of subject.sections;let i=index;" [ngStyle]="{'border-bottom': i != subject.sections.length-1 ? '1px solid #e8e8e8':''}" style="padding: 8% 2% 7% 2%;">
      <div class="col-1"  style="padding-left: 10px"> 
        <span *ngIf="section.questionType == 1"><i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></span>
        <span *ngIf="section.questionType == 2"><i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></span>
        <span *ngIf="section.questionType == 3"><i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></span>
        <span *ngIf="section.questionType == 4"><i class="fa fa-folder" style="color: #f1623f;font-size: 29px;padding-top: 8px;"></i></span>
        <span *ngIf="section.questionType == 5"><i class="fa fa-folder" style="color: #ca189e;font-size: 29px;padding-top: 8px;"></i></span>
        <span *ngIf="section.questionType == 6"><i class="fa fa-folder" style="color: #4879e4;font-size: 29px;padding-top: 8px;"></i></span>
        <span *ngIf="section.questionType == 7"><i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></span>
      </div>
    <div class="col-11">
        <div class="row" style="color: black;font-size: 14px;">
          <div class="col-4" style="left: 12px;">{{section.name}}</div>
          <div class="col-4">{{section.noOfQuestions}}</div>
          <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
          <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
          <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
          <div class="col-4" *ngIf="section.questionType==4">SA</div>
          <div class="col-4" *ngIf="section.questionType==5">VSA</div>
          <div class="col-4" *ngIf="section.questionType==6">FIB</div>
          <div class="col-4" *ngIf="section.questionType==7">TF</div>
        </div>
        <div class="row" style="font-size: 9px;color: #72809e;">
          <div class="col-4" style="left: 12px;">Section</div>
          <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
          <div class="col-4">Question Type</div>
        </div>
      </div>
    </div>
    <br>
   
  </div>
</div>
</div>
</div>
   

<div *ngIf="patternType == '3'">
  <div class="row" style="padding: 0 2%;">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6" style="margin-bottom: -6px;">
            
          </div>
          <div class="col-2" style="padding-right: 0;">
            <!-- <ng-select #ngSelectComponent  [searchable]="false" [items]="patternList" bindLabel="name" bindValue="uniqueId" placeholder="Change Pattern" (change)="getPatternInfo($event)">
                   </ng-select> -->
          </div>
          <div class="col-2 active" id="Paper1" style="padding-top: 8px;cursor: pointer;text-align: center;height: 36px;"
            (click)="paperClick('Paper1','Paper2')">Paper 1</div>
          <div class="col-2" id="Paper2" style="padding-top: 8px; cursor: pointer;text-align: center;height: 36px;"
            (click)="paperClick('Paper2','Paper1')">Paper 2</div>
  
  
        </div>
        <hr style="margin-top: 0;">

        <div *ngIf="pattern1">
          <div class="row" style="font-weight: 300;font-size: 12px;">
            <div class="col-md-1"><i class="fa fa-calendar blue-color"  aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
            <div class="col-md-3"><i class="fa fa-book blue-color"  aria-hidden="true"></i>&nbsp;&nbsp;Physics, Chemistry, Mathematics</div>
            <div class="col-md-2"><i class="far fa-clock blue-color" ></i>&nbsp;&nbsp;Duration: {{patterns1.duration}} min</div>
            <div class="col-md-2"><i class="fas fa-question-circle blue-color" ></i>&nbsp;&nbsp;Total Questions:
              {{patterns1.totalQuestion}}</div>
            <div class="col-md-2"><i class="far fa-check-circle blue-color" ></i>&nbsp;&nbsp;Total Marks: {{patterns1.examMarks}}</div>
            <div class="col-md-2"><i class="far fa-check-circle blue-color" ></i>&nbsp;&nbsp;Physiccoo</div>
          </div>
  
  
          <hr>
          <div class="row" style="margin-top: 1%;margin-left:0px;display: contents;">
            <div *ngIf="patterns1.isSectionSame == true" style="display: flex;">
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #ff00c8;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Physics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns1.subjects[0].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns1.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #2EFEF7;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Chemistry</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns1.subjects[0].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns1.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #fff703f2;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Mathematics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns1.subjects[0].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns1.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
            </div>

            <div *ngIf="patterns1.isSectionSame == false" style="display: flex;">
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #ff00c8;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Physics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns1.subjects[0].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns1.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #2EFEF7;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Chemistry</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns1.subjects[1].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns1.subjects[1].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #fff703f2;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Mathematics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns1.subjects[2].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns1.subjects[2].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="pattern2">
          <div class="row" style="font-weight: 300;font-size: 12px;">
            <div class="col-md-1"><i class="fa fa-calendar blue-color"  aria-hidden="true"></i>&nbsp;&nbsp;2015</div>
            <div class="col-md-3"><i class="fa fa-book blue-color"  aria-hidden="true"></i>&nbsp;&nbsp;Physics, Chemistry, Mathematics</div>
            <div class="col-md-2"><i class="far fa-clock blue-color" ></i>&nbsp;&nbsp;Duration: {{patterns2.duration}} min</div>
            <div class="col-md-2"><i class="fas fa-question-circle blue-color" ></i>&nbsp;&nbsp;Total Questions:
              {{patterns2.totalQuestion}}</div>
            <div class="col-md-2"><i class="far fa-check-circle blue-color" ></i>&nbsp;&nbsp;Total Marks: {{patterns2.examMarks}}</div>
            <div class="col-md-2"><i class="far fa-check-circle blue-color" ></i>&nbsp;&nbsp;Physiccoo</div>
          </div>
  
  
          <hr>
          <div class="row" style="margin-top: 1%;margin-left:0px;display: contents;">
            <div *ngIf="patterns2.isSectionSame == true" style="display: flex;">
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #ff00c8;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Physics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns2.subjects[0].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns2.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #2EFEF7;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Chemistry</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns2.subjects[0].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns2.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #fff703f2;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Mathematics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns2.subjects[0].sections;let i=index;"
                  [ngStyle]="{'border-bottom': i != patterns2.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                  style="padding: 8% 2% 7% 2%;">
                  <div class="col-1" style="padding-left: 10px">
                    <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                    <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                    <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                    <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                    <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                    <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                    <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                  </div>
                  <div class="col-11">
                    <div class="row" style="color: black;font-size: 14px;">
                      <div class="col-4" style="left: 12px;">{{section.name}}</div>
                      <div class="col-4">{{section.noOfQuestions}}</div>
                      <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                      <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                      <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                      <div class="col-4" *ngIf="section.questionType==4">SA</div>
                      <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                      <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                      <div class="col-4" *ngIf="section.questionType==7">TF</div>
                    </div>
                    <div class="row" style="font-size: 9px;color: #72809e;">
                      <div class="col-4" style="left: 12px;">Section</div>
                      <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                      <div class="col-4">Question Type</div>
                    </div>
                  </div>
                </div>
                  <br>
    
                </div>
              </div>
            </div>
            
            <div *ngIf="patterns2.isSectionSame == false" style="display: flex;">
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #ff00c8;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Physics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns2.subjects[0].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns2.subjects[0].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #2EFEF7;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Chemistry</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns2.subjects[1].sections;let i=index;"
                    [ngStyle]="{'border-bottom': i != patterns2.subjects[1].sections.length-1 ? '1px solid #e8e8e8':''}"
                    style="padding: 8% 2% 7% 2%;">
                    <div class="col-1" style="padding-left: 10px">
                      <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                      <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                      <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                      <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                      <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                      <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                      <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                          style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                    </div>
                    <div class="col-11">
                      <div class="row" style="color: black;font-size: 14px;">
                        <div class="col-4" style="left: 12px;">{{section.name}}</div>
                        <div class="col-4">{{section.noOfQuestions}}</div>
                        <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                        <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                        <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                        <div class="col-4" *ngIf="section.questionType==4">SA</div>
                        <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                        <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                        <div class="col-4" *ngIf="section.questionType==7">TF</div>
                      </div>
                      <div class="row" style="font-size: 9px;color: #72809e;">
                        <div class="col-4" style="left: 12px;">Section</div>
                        <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                        <div class="col-4">Question Type</div>
                      </div>
                    </div>
                  </div>
                  <br>
    
                </div>
              </div>
  
              <div class="col-md-3 card" style="margin-right: 1%;">
                <div>
                  <div class="row cardHeading" style="border-top:4px solid #fff703f2;">
                    <div class="col-6 subjectTitle"> <i class="fab fa-react"></i>
                      Mathematics</div>
                    
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>
    
                  </div>
    
                  <div class="row" *ngFor="let section of patterns2.subjects[2].sections;let i=index;"
                  [ngStyle]="{'border-bottom': i != patterns2.subjects[2].sections.length-1 ? '1px solid #e8e8e8':''}"
                  style="padding: 8% 2% 7% 2%;">
                  <div class="col-1" style="padding-left: 10px">
                    <span *ngIf="section.questionType == 1"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#2EFEF7;"></i></span>
                    <span *ngIf="section.questionType == 2"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#FACC2E;"></i></span>
                    <span *ngIf="section.questionType == 3"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#01A9DB;"></i></span>
                    <span *ngIf="section.questionType == 4"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#f1623f;"></i></span>
                    <span *ngIf="section.questionType == 5"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#ca189e;"></i></span>
                    <span *ngIf="section.questionType == 6"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#4879e4;"></i></span>
                    <span *ngIf="section.questionType == 7"><i class="fa fa-folder"
                        style="font-size: 29px;padding-top: 8px;color:#04B431;"></i></span>
                  </div>
                  <div class="col-11">
                    <div class="row" style="color: black;font-size: 14px;">
                      <div class="col-4" style="left: 12px;">{{section.name}}</div>
                      <div class="col-4">{{section.noOfQuestions}}</div>
                      <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                      <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                      <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                      <div class="col-4" *ngIf="section.questionType==4">SA</div>
                      <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                      <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                      <div class="col-4" *ngIf="section.questionType==7">TF</div>
                    </div>
                    <div class="row" style="font-size: 9px;color: #72809e;">
                      <div class="col-4" style="left: 12px;">Section</div>
                      <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                      <div class="col-4">Question Type</div>
                    </div>
                  </div>
                </div>
                  <br>
    
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
  </div>
</div>