// 
// mat-stepper.scss
//

mat-horizontal-stepper {
    width: 96%;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
}
mat-horizontal-stepper .mat-horizontal-content-container {
    overflow: visible;
    padding: 0 0px 20px 1px;
}