//
// sweetalert.scss
//
@import "sweetalert2/src/sweetalert2.scss";

.swal2-modal {
  font-family: $font-family-base;
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);

  .swal2-title {
    font-size: 24px;
  }
  .swal2-content {
    font-size: 16px;
  }
  .swal2-spacer {
    margin: 10px 0;
  }
  .swal2-file,
  .swal2-input,
  .swal2-textarea {
    border: 2px solid $gray-300;
    font-size: 16px;
    box-shadow: none;

    &:focus {
      outline: 0;
      border: 2px solid $primary;
    }
  }
  .swal2-confirm.btn-confirm {
    background-color: $primary !important;
    font-size: $font-size-base;
  }

  .swal2-cancel.btn-cancel {
    background-color: $danger !important;
    font-size: $font-size-base;
  }

  .swal2-styled:focus {
    box-shadow: none !important;
  }

  .swal2-confirm.swal2-styled {
    background-color: $primary !important;
    font-size: 0.875rem;
  }
}

.swal2-icon.swal2-question {
  color: $primary !important;
  border-color: $primary !important;
}

.swal2-icon.swal2-success {
  border-color: $success;

  .line,
  [class^="swal2-success-line"][class$="long"],
  [class^="swal2-success-line"] {
    background-color: $success !important;
  }

  .placeholder,
  .swal2-success-ring {
    border-color: $success !important;
  }
}

.swal2-icon.swal2-warning {
  color: $warning !important;
  border-color: $warning !important;
}

.swal2-icon.swal2-error {
  border-color: $danger;
  .line {
    background-color: $danger;
  }
}

.swal2-container.swal2-shown {
  background-color: rgba($dark, 0.9);
}
.swal2-modal .swal2-confirm.swal2-styled {
  background-color: var(--newApp-color) !important;
  border: 1px solid var(--newApp-color) !important;
  width: 150px;
  font-size: 1em;
  border-radius: 0px;
}
.swal2-modal .swal2-confirm.swal2-styled:hover {
  color: #fff !important;
}
.swal2-modal .swal2-styled.swal2-cancel,
.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-color: #fff;
  color: var(--newApp-color);
  border-color: var(--newApp-color);
  width: 150px;
  font-size: 1em;
  height: 44px;
  border: 2px solid;
  border-radius: 0px;
}
.swal2-container {
  pointer-events: fill;
}
