<div class="" [ngClass]="{'stack-back':isPeriodFormOpen||isViewLectTimetable}">
    <div class="row mx-2 mt-2">
        <div class="col-3">
            <h4>Create Timetable</h4>
        </div>
        <div class="col-2 containValue">
            <p>{{timetableData.name}}</p>
            <span>Timetable Name</span>
        </div>
        <div class="col-3 containValue">
            <!-- <p>AY 21-24 | Feb 21 - Mar 24</p>
            <span>Academic Year</span> -->
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <button class="btn btn-outline btn-showhide" *ngIf="!isShowExpireCourse"
                (click)="showHideExpireCourse()">Hide
                Expired Course</button>
            <button class="btn btn-outline btn-showhide" *ngIf="isShowExpireCourse"
                (click)="showHideExpireCourse()">Show
                Expired Course</button>
        </div>
    </div>
    <form [formGroup]="courseBatchList">
        <div class="row mx-0 mb-2 table-responsive">
            <table class="table table-centered mb-2" id="test1">
                <thead class="header">
                    <tr>
                        <th class="widthAlign1">Sr No.</th>
                        <th class="widthAlign2">Course</th>
                        <th class="widthAlign7">Start Date</th>
                        <th class="widthAlign7">End Date</th>
                        <th class="widthAlign7">Status</th>
                        <th class="widthAlign6">Batch</th>
                        <th class="">Assign Shift</th>
                        <th class="widthAlign2">Assign Periods</th>
                    </tr>
                </thead>
                <tbody class="scroll batchDtoList" formArrayName="batchDtoList">
                    <tr *ngFor="let item of courseBatchList.controls.batchDtoList['controls']; let i=index;">
                        <td class="widthAlign1">{{i+1}}</td>
                        <td class="widthAlign2">{{item.controls.name.value}}</td>
                        <td class="widthAlign7">{{item.controls.startDate.value}}</td>
                        <td class="widthAlign7">{{item.controls.endDate.value}}</td>
                        <td class="widthAlign7">
                            <span class="activestatusBadge" *ngIf="!item.controls.isExpired.value">Available</span>
                            <span class="nonactivestatusBadge" *ngIf="item.controls.isExpired.value">Expired</span>
                        </td>
                        <td class="batchList widthAlign6">
                            <p *ngFor="let batch of item.controls.batchWithShifts.value">{{batch.name}}</p>
                        </td>
                        <td class=" ">
                            <span class="shift" *ngFor="let batch of item.controls.batchWithShifts.value;let j=index">
                                <ng-select [items]="organizationShifts" class="assignShift" bindLabel="itemName"
                                    bindValue="shiftUid" [multiple]="true" [ngModel]="batch.shifts"
                                    [closeOnSelect]="true" [clearable]="false" placeholder="Select shift"
                                    [searchable]="false" [ngModelOptions]="{standalone: true}"
                                    (change)="changeShift($event,batch,i,j)">
                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                            <span class="ng-value-label"> {{(item.name&&item.name.length>11) ?
                                                (item.name|slice:0:11)+'..'
                                                : item.name }}</span>
                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                aria-hidden="true">×</span>
                                        </div>
                                        <div class="ng-value" *ngIf="items.length > 2">
                                            <span class="ng-value-label">+{{items.length - 2}}</span>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </span>
                        </td>
                        <td class="widthAlign2 ">
                            <span *ngFor="let batch of item.controls.batchWithShifts.value">
                                <button class="btn btn-outline btn-view" *ngIf="batch.isPeriodAssigned"
                                    (click)="viewPeriod(batch)">View</button>
                                <button class="btn btn-outline btn-assign" *ngIf="!batch.isPeriodAssigned"
                                    (click)="viewPeriod(batch)">Assign</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="row mx-0 mb-2">
            <div class="header">
                <div class="widthAlign1">Sr No.</div>
                <div class="widthAlign2">Course</div>
                <div class="widthAlign2">Start Date</div>
                <div class="widthAlign2">End Date</div>
                <div class="widthAlign2">Status</div>
                <div class="widthAlign2">Batch</div>
                <div class="widthAlign4">Assign Shift</div>
                <div class="widthAlign2">Assign Periods</div>
            </div>
            <div class="scroll batchDtoList"
                [ngClass]="{'tablebody': courseListWithBatch.length>2,'tableBody': courseListWithBatch.length<2}"
                formArrayName="batchDtoList">
                <div class="bodyContent"
                    *ngFor="let item of courseBatchList.controls.batchDtoList['controls']; let i=index;">
                    <div class="widthAlign1 py-1 ">{{i+1}}</div>
                    <div class="widthAlign2 py-1 ">{{item.controls.name.value}}</div>
                    <div class="widthAlign2 py-1 ">{{item.controls.startDate.value}}</div>
                    <div class="widthAlign2 py-1 ">{{item.controls.endDate.value}}</div>
                    <div class="widthAlign2 py-1 ">
                        <span class="activestatusBadge" *ngIf="!item.controls.isExpired.value">Available</span>
                        <span class="nonactivestatusBadge" *ngIf="item.controls.isExpired.value">Expired</span>
                    </div>
                    <div class="widthAlign2 ">
                        <p *ngFor="let batch of item.controls.batchWithShifts.value">{{batch.name}}</p>
                    </div>
                    <div class="widthAlign4 ">
                        <span class="shift" *ngFor="let batch of item.controls.batchWithShifts.value;let j=index">
                            <ng-select [items]="organizationShifts" class="custom1 assignShift" bindLabel="itemName"
                                bindValue="shiftUid" [multiple]="true" [ngModel]="batch.shifts" [closeOnSelect]="true"
                                [clearable]="false" placeholder="Select shift" [searchable]="false"
                                [ngModelOptions]="{standalone: true}" (change)="changeShift($event,batch,i,j)">
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                        <span class="ng-value-label"> {{(item.name&&item.name.length>11) ?
                                            (item.name|slice:0:11)+'..'
                                            : item.name }}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 2">
                                        <span class="ng-value-label">+{{items.length - 2}}</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </span>
                    </div>
                    <div class="widthAlign2 ">
                        <span *ngFor="let batch of item.controls.batchWithShifts.value">
                            <button class="btn btn-outline btn-view" *ngIf="batch.isPeriodAssigned"
                                (click)="viewPeriod(batch)">View</button>
                            <button class="btn btn-outline btn-assign" *ngIf="!batch.isPeriodAssigned"
                                (click)="viewPeriod(batch)">Assign</button>
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row buttons mb-2">
            <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
            <button class="btn btn-save btn-filled" (click)="save()">Save</button>
        </div>
    </form>
</div>
<div class="viewSidePopup assignshift px-0"
    [ngClass]="{'slideInLeft':!isPeriodFormOpen,'slideInRight':isPeriodFormOpen}" *ngIf="isPeriodFormOpen">
    <app-assign-period [batchData]="selectedBatch" [timetableUniqueId]="timetableData.uniqueId"
        (closeForm)="closeAddNewForm($event)"></app-assign-period>
</div>
<div class="viewSidePopup viewLectureTimetable"
    [ngClass]="{'slideInLeft':!isViewLectTimetable,'slideInRight':isViewLectTimetable}" *ngIf="isViewLectTimetable">
    <app-timetable-lecture-view [mainType]="1" [timeTableData]="timetableData" (close)="closeAddNewForm($event)">
    </app-timetable-lecture-view>
</div>