@import "../common-r";
.btn-save,
.btn-cancel {
    width: 145px;
    border-radius: 0px;
}
.btn-showhide {
    border-radius: 15px;
    padding: 5px 10px;
    width: fit-content;
    float: right;
    margin-bottom: 10px;
    font-size: 13px;
    margin-right: 0px;
}
.header {
    background-color: var(--newAppbg-color);
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 13px;
    // display: flex;
    color: #444444;
    // margin-top: 15px;
    // width: 100%;
}
.tablebody {
    color: black;
    margin-bottom: 15px;
    height: 450px;
    width: 100%;
    overflow-y: auto;
}
.tableBody {
    color: black;
    margin-bottom: 25px;
    width: 100%;
}
.bodyContent {
    width: 100%;
    display: flex;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d2d2d2;
}
.bodyContent div p {
    height: 40px;
    padding-top: 6px;
    margin-bottom: 10px;
}
.bodyContent .shift {
    height: 40px;
    margin-bottom: 10px;
}
.bodyContent .shift:last-child ng-select {
    margin-bottom: 0px;
}
.widthAlign1 {
    width: 70px;
    text-align: center;
}

.widthAlign2 {
    width: 11%;
}
.widthAlign7 {
    width: 9.5%;
    padding-left: 7px;
    padding-right: 7px;
}
.widthAlign6 {
    width: 15%;
}

.widthAlign3 {
    width: 22%;
}
.widthAlign4 {
    width: 30%;
}
.btn-assign {
    background-color: var(--newAppbg-color);
}
.btn-view {
    background-color: var(--successbg);
    color: var(--success) !important;
    border-color: var(--success);
}
.btn-assign,
.btn-view {
    width: 80px;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px 10px;
    font-size: 13px;
}
.activestatusBadge,
.nonactivestatusBadge {
    font-size: 12px;
    padding: 5px 22px;
    text-align: center;
    border-radius: 14px;
    color: white;
}
.activestatusBadge {
    background-color: var(--success);
}
.nonactivestatusBadge {
    background-color: var(--danger);
}
ng-select {
    height: 40px;
    margin-bottom: 10px;
}
.assignshift {
    width: 77% !important;
    top: 0px;
    padding-top: 0px;
    right: -25px;
}
.viewLectureTimetable {
    width: 103% !important;
    top: 0px;
    z-index: 1050;
    padding: 0px 0px 20px;
    right: -25px;
}
.batchDtoList {
    overflow-y: auto;
    min-height: 550px;
    max-height: 850px;
    // height: 360px;
    //   overflow-y: scroll;
    display: block !important;
}
thead {
    width: calc(100% - 0px);
    display: table;
}
::ng-deep.ng-select.assignShift.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding: 1px 4px;
}
::ng-deep.ng-select.assignShift.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-right: 3px;
}
.table-centered td,
.table-centered th {
    vertical-align: top !important;
}
.batchList {
    vertical-align: middle !important;
}
.batchList p {
    height: 40px;
    display: flex;
    margin-bottom: 10px !important;
}
