<div style="font-size: 13px;">
    <div class="row header">
        <div class="col-6"><span> Add Student:</span></div>
        <div class="col-6"></div>
    </div>
    <div style="padding: 20px 20px;">
        <div class="row">
            <form id="batchInfo" class="w-100" [formGroup]="batchInfo">
                <div class="col-6">
                    <label class="col-form-label label-under">Batch</label>
                    <ng-select [items]="batchList" bindLabel="name" bindValue="uniqueId" [(ngModel)]="adeddbatchList"
                        (change)="changeBatch($event)" placeholder="Select" [closeOnSelect]="true" [multiple]="true"
                        formControlName="batchIds">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                <span class="ng-value-label"> {{item.name.length > 20 ? item.name.substr(0, 20)+'...' :
                                    item.name}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > 1">
                                <span class="ng-value-label">+{{items.length - 1}}</span>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </form>
        </div>
    </div>
    <div style="padding-bottom: 40px;">
        <div class="row" style="background-color: #0091ff1c;padding: 9px 13px;margin: 0;">
            <div class="col-md-3">
                <div class="table-checkbox c-checkbox">
                    <label class="label-student checkAll" style="margin-top: 7px;">
                        <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                            (change)="checkUncheckAll()" />
                        <span class="fa fa-check"></span>
                        Select All
                    </label>
                </div>
            </div>
            <div class="col-md-9">
                <div style="float: right;width: 60%;">
                    <input type="text" class="form-control"
                        style="height:36px;border-radius: 20px;background: transparent;" placeholder="Search Students"
                        [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" aria-controls="tickets-table">
                </div>
            </div>
        </div>
        <div style="padding: 25px 25px;overflow-x: hidden;"
            [ngStyle]="{'overflow-y':studentList.length > 32 ?'scroll':'','height':studentList.length > 32 ?'420px':'auto'}">
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 20px;"
                    *ngFor="let user of studentList | filter:searchText; let i=index">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="table-checkbox c-checkbox">
                                <label class="label-student" style="margin-top: 9px;">
                                    <input id="{{user.student.uniqueId}}" type="checkbox" name="{{user.student.name}}"
                                        style="height: 16px;" [(ngModel)]="user.student.isSelected"
                                        (change)="isAllSelected()" />
                                    <span class="fa fa-check" style="border-color:#61616182"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 align-self-center" style="padding-left:0 ;padding-right: 0;">
                            <img *ngIf="user.imageCode==null || user.imageCode==''" height="35px" width="35px"
                                src="assets/images/users/user-3.jpg" class="rounded-circle" alt="">
                            <img *ngIf="user.imageCode!=null && user.student.imageCode!=''" height="35px" width="35px"
                                [src]="_DomSanitizationService.bypassSecurityTrustUrl(user.student.imageCode)"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="col-md-8 align-self-center" style="align-self: center;padding-left: 0;">
                            <span>{{user.student.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 35px;margin-left: 0;">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <span class="publishBtn" (click)="subCancel()">Cancel</span>
                    </div>
                    <div class="col-6">
                        <span class="publishBtn" (click)="saveMoreStudent()">Ok</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>