<ng-template #contentTemplate>
   <div id="sidebar-menu">
      <ul class="metismenu" id="side-menu" #sideMenu>
         <!-- <li *ngIf="isSetupDone" [class.active]="selectedIndex === 1" (click)="selectedMenu(1)">
            <a class="side-nav-link-ref" routerLink="/dashboards/dashboard-2" routerLinkActive="active"
               [class.active]="selectedIndex === 1">
               <i>
                  <img src="assets/images/Logo+Icons/Home.png">
               </i>
               <span>Home </span>
            </a>
         </li>
         <li *ngIf="isSetupDone" [class.active]="selectedIndex === 2" (click)="selectedMenu(2)">
            <a class="side-nav-link-ref" routerLink="/dashboards/dashboard-2" routerLinkActive="active"
               [class.active]="selectedIndex === 2">
               <i>
                  <img src="assets/images/Logo+Icons/Dashboard.png">
               </i>
               <span>Dashboard</span>
            </a>
         </li> -->

         <li *ngIf="isSetupDone" [class.active]="selectedIndex === 3" (click)="selectedMenu(3)">
            <a class="side-nav-link-ref" routerLink="/newModule/learners/lists" routerLinkActive="active"
               [class.active]="selectedIndex === 3">
               <i>
                  <img src="assets/images/Logo+Icons/Learner.png">
               </i>
               <span>Learner</span>
            </a>
         </li>
        
         <li *ngIf="isSetupDone" [class.active]="selectedIndex === 4" (click)="selectedMenu(4)">
            <a class="side-nav-link-ref" routerLink="/newModule/educator/lists" routerLinkActive="active"
               [class.active]="selectedIndex === 4">
               <i>
                  <img src="assets/images/Logo+Icons/Teacher.png">
               </i>
               <span> Educator</span>
            </a>
         </li>
        
         <li *ngIf="isSetupDone" [class.active]="selectedIndex === 5" (click)="selectedMenu(5)">
            <a class="side-nav-link-ref" routerLink="/newModule/academic/academicDetails" routerLinkActive="active"
               [class.active]="selectedIndex === 5">
               <i>
                  <img src="assets/images/Logo+Icons/Academy.png">
               </i>
               <span>Academic</span>
              
            </a>
         </li>
        
         <!-- <li *ngIf="isSetupDone" [class.active]="selectedIndex === 6" (click)="selectedMenu(6)">
            <a class="side-nav-link-ref" routerLink="/newModule/curriculumn/list" routerLinkActive="active"
               [class.active]="selectedIndex === 6">
               <i>
                  <img src="assets/images/Logo+Icons/Curriculum.png">
               </i>
               <span>Curriculum</span>
            </a>
         </li> -->
        
         <!-- <li *ngIf="isSetupDone" [class.active]="selectedIndex === 7" (click)="selectedMenu(7)">
            <a href="javascript: void(0);" routerLink="/newModule/timeTable/lists/timeTable" routerLinkActive="active"
               [class.active]="selectedIndex === 7">
               <i>
                  <img src="assets/images/Logo+Icons/Time Table.png">
               </i>
               <span>Time Table</span>
            </a>
         </li>
        
         <li *ngIf="isSetupDone" [class.active]="selectedIndex === 8" (click)="selectedMenu(8)">
            <a class="side-nav-link-ref" routerLink="/newModule/assesment/assesmentDetails" routerLinkActive="active"
               [class.active]="selectedIndex === 8">
               <i>
                  <img src="assets/images/Logo+Icons/Exam.png">
               </i>
               <span>Assessment</span>
            </a>
         </li> -->

         <!-- <li *ngIf="isSetupDone" [class.active]="selectedIndex === 9" (click)="selectedMenu(9)">
            <a class="side-nav-link-ref" routerLink="/newModule/exam/examList" routerLinkActive="active"
               [class.active]="selectedIndex === 9">
               <i>
                  <img src="assets/images/Logo+Icons/Calendar.png">
               </i>
               <span>Calendar</span>
            </a>
         </li>
         <li *ngIf="isSetupDone" [class.active]="selectedIndex === 10" (click)="selectedMenu(10)">
            <a class="side-nav-link-ref" routerLink="/newModule/workTime/lists/shift" routerLinkActive="active"
               [class.active]="selectedIndex === 10">
               <i>
                  <img src="assets/images/Logo+Icons/Work Time.png">
               </i>
               <span> Work Timings </span>
            </a>
         </li> -->
         <!-- <li *ngIf="isSetupDone" [class.active]="selectedIndex === 11" (click)="selectedMenu(11)">
            <a class="side-nav-link-ref" routerLink="/newModule/attendance/details" routerLinkActive="active"
               [class.active]="selectedIndex === 11">
               <i>
                  <img src="assets/images/Logo+Icons/Attendance.png">
               </i>
               <span>Attendance </span>
            </a>
         </li>
         <li *ngIf="isSetupDone" [class.active]="selectedIndex === 12" (click)="selectedMenu(12)">
            <a class="side-nav-link-ref" routerLink="/searchDrive/17/drive" routerLinkActive="active"
               [class.active]="selectedIndex === 12">
               <i>
                  <img src="assets/images/Logo+Icons/Drive.png">
               </i>
               <span> Drive </span>
            </a>
         </li> -->
         <!-- <li *ngIf="isSetupDone" [class.active]="selectedIndex === 13" (click)="selectedMenu(13)">
            <a class="side-nav-link-ref" routerLink="/newModule/announcement/lists/learners" routerLinkActive="active"
               [class.active]="selectedIndex === 13">
               <i>
                  <img src="assets/images/Logo+Icons/Communication.png">
               </i>
               <span> Announcement </span>
            </a>
         </li> -->
         <li style="margin-top: 30px;" *ngIf="isSetupDone" [class.active]="selectedIndex === 14"
            (click)="selectedMenu(14)">
            <a class="side-nav-link-ref" routerLink="/newModule/organization/myOrganization" routerLinkActive="active"
               [class.active]="selectedIndex === 14">
               <i>
                  <img src="assets/images/Logo+Icons/settings.png">
               </i>
               <span> Settings </span>
            </a>
         </li>
      </ul>
   </div>
   <div class="clearfix"></div>
</ng-template>

<div class="left-side-menu">
   <h2 class="logo">
      <ng-container *ngIf="organizationDetails">{{organizationDetails?.name}}</ng-container>
      <ng-container *ngIf="!organizationDetails">Name N.A.</ng-container>
   </h2>
   <div appSlimScroll *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
   </div>
   <div *ngIf="isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
   </div>
</div>