.searchBar{
    border: 1px solid #80808057;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 40px;
  }

  .addMainBtn{
    color: #0091ff;
    width: 65%;
    height: 40px;
    text-align: center;
    padding: 9px 0;
    margin-left: 25px;
    border-radius: 3px;
    border: 1px solid #0091ff;
    cursor: pointer;
  }

.addMainBtn:hover{
    background-color: #0091ff;
    color: white;
}

//card styles

.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  min-width: 47%;
  max-width: 47%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading{
  // border-bottom: 1px solid #e8e8e8;
  padding: 7% 6% 8% 6%;
  border-radius: 4px;
  color: #5f5b5b;
}

.iconImg{
  padding-left: 0;
    padding-right: 0;
    max-width: 11%;
}

.linkCourse{
  font-size: 10px;
    margin-left: -2px;
    text-decoration: underline;
}

.courseName{
  margin-left: -2px;
  margin-top: 2px;
  font-weight: bold;
}

.eduBox{
  border: 1px solid #0091ff;
  padding: 9px 9px;
  background: #0091ff24;
  border-radius: 2px;
  height: 40px;
  text-align: center;
    vertical-align: middle;
}

.editBox{
  float: right;color: #0091ff;cursor: pointer;
  border: 1px solid #0091ff;
    padding: 1px 6px;
    border-radius: 3px;
    background-color: #0091ff0d;
    cursor: pointer;
}

.acdemicYearBox{
    border: 1px solid #0091ff;
    font-size: 10px;
    padding: 6px 14px;
    border-radius: 2px;
    background-color: #0091ff0d;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    color: #0091ff;
}

.acdemicYearCount{
  border: 1px solid #0091ff;
    padding: 7px 7px;
    border-radius: 17px;
    background: #0091ff17;
    text-align: center;
    color: #0091ff;
  
}

.deleteBox{
  border: 1px solid #ff0800;
  padding: 4px 6px;
  border-radius: 17px;
  background: #ff080017;
  cursor: pointer;
}

.mlmt{
  margin-top: 3px;
    margin-left: 23px;
    padding-right:0 ;
    padding-left: 0;
}


