<div *ngIf="isEditAdd==false">
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-md-2" style="text-align: center;padding-top: 9px;">
      <label style="color: #0091ff;">
        Courses</label>
    </div>
    <div class="col-md-7 searchBar">
      <div style="display: flex;">
        <input type="text" class="form-control" placeholder="Search & Filter"
          style="border: none;height: 35px !important;">
        <!-- <i class="fa fa-sliders" style="font-size: 18px;color: #80808057;margin-top: 8px;" aria-hidden="true"></i> -->
        <i class="fas fa-sliders-h" style="font-size: 18px;color: #80808057;margin-top: 8px;cursor: pointer;"></i>
      </div>

    </div>

    <div class="col-md-3">
      <div class="addMainBtn" (click)="addCourse()"><i class="fas fa-plus"></i> &nbsp;<span>Add Course</span></div>
    </div>
  </div>

  <div class="row" style="margin-left: 3%;">

    <div class="card" style="margin-right: 2%;" *ngFor="let data of courseList;let i=index;">
      <div class="cardHeading">
        <div class="row" style="margin-left: 0;margin-right: 0;">
          <div class="col-2 iconImg">
            <img src="assets/Icons/Sample/JEE Adnance.png" height="40px" width="40px">

          </div>
          <div class="col-8">
            <div class="row courseName"><span ngbTooltip={{data.name}}>{{data.name | truncateText: 12}}</span></div>
            <div class="row linkCourse" *ngIf="data.masterCourseDtoList != undefined">Linking Course {{data.masterCourseDtoList.name}}</div>
          </div>

          <div class="col-2 mlmt">
            <span class="editBox" (click)="addEditCourse(data)">
              <i class="fa fa-pen" style="color: #0091ff;"></i> Edit
            </span>
          </div>

        </div>

        <div class="row" style="margin-top: 25px;margin-right: 0;margin-left: 0;">
          <div class="col-md-1" style="padding: 0;">
            <img src="assets/Icons/Sample/Calendar.png" height="30px" width="30px">
          </div>
          <div class="col-md-3" style="margin-right: 18px;">
            <div class="row" style="margin-left: -2px;font-size: 12px;">{{data.startDate | date:'mediumDate'}}</div>
            <div class="row" style="font-size: 10px;margin-left: -2px;margin-top: -3px;">Start Date</div>
          </div>
          <div class="col-md-1" style="padding: 0;">
            <img src="assets/Icons/Sample/Calendar.png" height="30px" width="30px">
          </div>
          <div class="col-md-3" style="margin-right: 17px;">
            <div class="row" style="margin-left: -2px;font-size: 12px;">{{data.endDate | date:'mediumDate'}}</div>
            <div class="row" style="font-size: 10px;margin-left: -2px;margin-top: -3px;">End Date</div>
          </div>
          <div class="col-md-1" style="padding: 0;">
            <img src="assets/Icons/Sample/Duration.png" height="30px" width="30px">
          </div>
          <div class="col-md-2">
            <div class="row" style="margin-left: -2px;font-size: 12px;">{{data.year}} Years</div>
            <div class="row" style="font-size: 10px;margin-left: -2px;margin-top: -3px;">Duration</div>
          </div>

        </div>
        <div class="row" style="margin-top: 25px;margin-right: 0;margin-left: 0;" *ngIf="data.boardGradeList != undefined">
          <div class="col-md-1" style="padding: 0;">
            <img src="assets/Icons/Sample/Grade.png" height="30px" width="30px">
          </div>
          <div class="col-md-3" style="margin-right: 18px;" >
            <div class="row" style="margin-left: -2px;font-size: 12px;">
              {{data.boardGradeList[0].gradeDto.name}}
              {{(data.boardGradeList?.length > 1) ? '| +' + (data.boardGradeList.length -1): '' }}
            </div>
            <div class="row" style="font-size: 10px;margin-left: -2px;margin-top: -3px;">Grade</div>
          </div>
          <div class="col-md-1" style="padding: 0;"  *ngIf="data.boardGradeList != undefined">
            <img src="assets/Icons/Sample/Board.png" height="30px" width="30px">
          </div>
          <div class="col-md-6" style="padding-right: 0;">
            <div class="row" style="margin-left: -2px;font-size: 12px;">
              {{data.boardGradeList[0].boardDto.name}}
              {{(data.boardGradeList?.length > 1) ? '| +' + (data.boardGradeList.length -1): '' }}
            </div>
            <div class="row" style="font-size: 10px;margin-left: -2px;margin-top: -3px;">Board</div>
          </div>


        </div>
        <div class="row" style="margin-top: 25px;margin-right: 0;">
          <div style="margin-left: 11px;">
            <div style="display: flex;" *ngIf="data.academicSessionDto != undefined">
              <div class="acdemicYearBox"><span ngbTooltip={{data.academicSessionDto.name}}>{{data.academicSessionDto.name | truncateText: 12}}</span> {{data.academicSessionDto.startDate |
                date:'mediumDate'}} - {{data.academicSessionDto.endDate | date:'mediumDate'}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>

<div *ngIf="isEditAdd==true">
  <!-- test -->
  <app-course-and-refrences [isFromSetup]="isFromSetup" (newItemEvent)="backPage($event)" [selectedIndex]="selectedIndex" [editData]="editData"
    [isFromacademic]="true" [courseAndRefForm]="courseAndRefForm" [isAddNew]="isAddNew"></app-course-and-refrences>
</div>