.header{
    height: 52px;
    background-color: #9e9a9a1a;
    margin: 0;
    padding-left: 13px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding-top: 13px;
}

.addStud{
    color: #0091ff;text-decoration: underline;cursor: pointer;
}


.publishBtn{
    border: 1px solid #0091ff;
    padding: 10px 36px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    color: #0091ff;
}

.publishBtn:hover{
    background: #0091ff;
    color: white;
}

.dateIcon{
    background-color: white;
    border: 1px solid #80808070;
    padding: 10px;
    border-radius: 3px;
}

//students

