<div style="font-size: 13px;" *ngIf="!isAddMoreStudent">
    <div class="row header">
        <div class="col-6"><span> Publish Exam:</span></div>
        <div class="col-6"><span style="float: right;font-size: 13px;cursor: pointer;font-weight: 600;"><i
                    class="fas fa-cog"></i> Configure</span></div>
    </div>
    <form [formGroup]="publishExamForm">
    <div style="padding: 20px 20px;border-bottom: 1px solid #80808024;">
        <!-- <div class="row">
            <div class="col-6">
                <label class="example-input-wrapper">
                    Start Date & Time </label>
                <div class="input-group">

                    <input placeholder="Choose here.." class="form-control" [(ngModel)]="dateTimeRange" formControlName="startDate"
                        [selectMode]="'rangeFrom'" [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2" [min]="todayDate">
                    <owl-date-time #dtRange2></owl-date-time>


                    <div class="input-group-append">
                        <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                                class="mdi mdi-calendar"></i></span>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <label class="example-input-wrapper">
                    End Date & Time </label>
                <div class="input-group">

                    <input placeholder="Choose here.." class="form-control" [(ngModel)]="dateTimeRange" formControlName="endDate"
                        [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dtRange3" [owlDateTime]="dtRange3" [min]="todayDate"
                        (ngModelChange)="onDateChange($event,1)">
                    <owl-date-time #dtRange3></owl-date-time>


                    <div class="input-group-append">
                        <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                                class="mdi mdi-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" style="margin-top: 20px;">

            <div class="col-6">
                <label class="example-input-wrapper">
                    Medium of Assignment </label>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group radio radio-info form-check-inline">
                            <input type="radio" id="inlineRadio1" value="1" formControlName="assessmentMode"
                                (change)="mediumChange($event)" style="margin-left: 5px;">
                            <label for="inlineRadio1">Online</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group radio radio-info form-check-inline">
                            <input type="radio" id="inlineRadio4" value="2" formControlName="assessmentMode"
                                (change)="mediumChange($event)" style="margin-left: 5px;">
                            <label for="inlineRadio1">Offline</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group radio radio-info form-check-inline">
                            <input type="radio" id="inlineRadio3" value="3" formControlName="assessmentMode"
                                (change)="mediumChange($event)" style="margin-left: 5px;">
                            <label for="inlineRadio1">Both</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-6" style="padding-right: 0;" *ngIf="isAessementMode">
                <label class="example-input-wrapper">
                    Assignment Mode</label>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group radio radio-info form-check-inline" style="margin-right: 0;"
                            (change)="modeChange($event)">
                            <input type="radio" id="inlineRadio1" value="1" formControlName="deviceType"
                                style="margin-left: 5px;">
                            <label for="inlineRadio1">Computer Based</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group radio radio-info form-check-inline" style="margin-right: 0;"
                            (change)="modeChange($event)">
                            <input type="radio" id="inlineRadio2" value="2" formControlName="deviceType"
                                style="margin-left: 5px;">
                            <label for="inlineRadio1">Mobile Based</label>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div style="padding: 20px 20px 40px 20px;">
        <div class="row">
            <div class="col-6" id="date1">
                <label class="col-form-label label-under">Show Answer</label>

                <ng-select [items]="showAnswer" bindLabel="name" bindValue="id"
                    (change)="showAnswerOnDate($event,'date1')" placeholder="Select" [closeOnSelect]="true" formControlName="showAns">

                </ng-select>
            </div>

            <div class="col-1" *ngIf="isDate1" style="padding-top: 44px;padding-left: 3px;">

                <span class="dateIcon" [owlDateTimeTrigger]="dt1">
                    <i class="mdi mdi-calendar"></i>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </span>

                <input [(ngModel)]="dateTime1" [ngModelOptions]="{standalone: true}" (ngModelChange)="onDateChange($event,2)" [owlDateTime]="dt1"
                    style="visibility: hidden;" [min]="todayDate">
            </div>

            <div class="col-6" id="date2">
                <label class="col-form-label label-under">Show Solution</label>
                <ng-select [items]="showSolution" bindLabel="name" bindValue="id"
                    (change)="showSolutionOnDate($event,'date2')" placeholder="Select" [closeOnSelect]="true" formControlName="showSol">

                </ng-select>
            </div>

            <div class="col-1" *ngIf="isDate2" style="padding-top: 44px;padding-left: 3px;">

                <span class="dateIcon" [owlDateTimeTrigger]="dt1">
                    <i class="mdi mdi-calendar"></i>
                    <owl-date-time [pickerType]="'calendar'"  #dt1></owl-date-time>
                </span>

                <input [(ngModel)]="dateTime1" [ngModelOptions]="{standalone: true}" (ngModelChange)="onDateChange($event,3)" [owlDateTime]="dt1"
                    style="visibility: hidden;" [min]="todayDate">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-6" id="date3">
                <label class="col-form-label label-under">Show Result</label>
                <ng-select [items]="showResult" bindLabel="name" bindValue="id"
                    (change)="showResultOnDate($event,'date3')" placeholder="Select" [closeOnSelect]="true" formControlName="showRes">

                </ng-select>
            </div>

            <div class="col-1" *ngIf="isDate3" style="padding-top: 44px;padding-left: 3px;">

                <span class="dateIcon" [owlDateTimeTrigger]="dt1">
                    <i class="mdi mdi-calendar"></i>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </span>

                <input [(ngModel)]="dateTime1" [ngModelOptions]="{standalone: true}" (ngModelChange)="onDateChange($event,4)" [owlDateTime]="dt1"
                    style="visibility: hidden;" [min]="todayDate">
            </div>
            <div class="col-6" id="date4">
                <label class="col-form-label label-under">Show Rank and Analysis</label>
                <ng-select [items]="showRank" bindLabel="name" bindValue="id" (change)="showRankOnDate($event,'date4')"
                    placeholder="Select" [closeOnSelect]="true" formControlName="showRank">

                </ng-select>
            </div>

            <div class="col-1" *ngIf="isDate4" style="padding-top: 44px;padding-left: 3px;">

                <span class="dateIcon" [owlDateTimeTrigger]="dt1">
                    <i class="mdi mdi-calendar"></i>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </span>

                <input [(ngModel)]="dateTime1" [ngModelOptions]="{standalone: true}" (ngModelChange)="onDateChange($event,5)" [owlDateTime]="dt1"
                    style="visibility: hidden;" [min]="todayDate">
            </div>
        </div>
        <div class="row" style="margin-top: 15px;margin-left: 0;">
            <span class="addStud" (click)="isAddMoreStudents()">+ Add More Students</span>
        </div>
        <div class="row" style="margin-top: 35px;margin-left: 0;">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <span class="publishBtn" (click)="cancel()">Cancel</span>
                    </div>
                    <div class="col-6">
                        <span class="publishBtn" (click)="savePublish()">Publish</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<div style="font-size: 13px;" *ngIf="isAddMoreStudent">
  <app-add-students [examUid]="examDataPublish.uniqueId" (close)="subCancel($event)"></app-add-students>
</div>