.searchBar{
    border: 1px solid #80808057;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 40px;
  }

  .addMainBtn{
    color: #0091ff;
    width: 65%;
    height: 40px;
    text-align: center;
    padding: 9px 0;
    margin-left: 25px;
    border-radius: 3px;
    border: 1px solid #0091ff;
    cursor: pointer;
  }

.addMainBtn:hover{
    background-color: #0091ff;
    color: white;
}

//card syle

.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  min-width: 47%;
  max-width: 47%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading{
  margin-left: 0px;
    margin-right: 0px;
    padding: 2% 2%;
    background-color: #8080801f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.subjectTitle{
  color: var(--app-colorNew);
  font-weight: 500;
  font-size: 14px;
  margin-left: -5px;
}

.gradeBox{
  text-align: center;
    vertical-align: middle;
    border: 1px solid #80808024;
    background-color: #0091ff14;
    padding: 4px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    border-radius: 3px;
    font-size: 12px;
}

.gradeHead{
  margin-bottom: 10px;margin-left: 10px;color: black;
}

.editBox{
  float: right;color: #0091ff;cursor: pointer;
  border: 1px solid #0091ff;
    padding: 1px 6px;
    border-radius: 3px;
    background-color: #0091ff0d;
    cursor: pointer;
}