<div *ngIf="isEditAdd==false">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-2" style="text-align: center;padding-top: 9px;">
            <label style="color: #0091ff;">
                Add Grades</label>
        </div>
        <div class="col-md-7 searchBar">
            <div style="display: flex;">
                <input type="text" class="form-control" placeholder="Search & Filter"
                    style="border: none;height: 35px !important;">
                <!-- <i class="fa fa-sliders" style="font-size: 18px;color: #80808057;margin-top: 8px;" aria-hidden="true"></i> -->
                <i class="fas fa-sliders-h" style="font-size: 18px;color: #80808057;margin-top: 8px;cursor: pointer;"></i>
            </div>
     
        </div>
    
        <div class="col-md-3">
            <div class="addMainBtn" (click)="addeditGrade()"><i class="fas fa-plus"></i> &nbsp;<span>Add Grades</span></div>
        </div>
    </div>
    
    <div class="row" style="margin-left: 3%;">
        <div class="card" style="margin-right: 2%;height: fit-content;">
    
            <div class="row cardHeading">
                <div class="col-6" style="color: black;"> <img src="assets/Icons/Sample/Grade.png" alt="" height="30px"
                        width="30px">
                    &nbsp;&nbsp;Grade</div>
    
                <div class="col-6 text-right" style="padding-top: 5px;" > <span class="editBox" (click)="addeditGrade()"><i class="fa fa-pen"
                            style="color: #0091ff;"></i> Edit</span> </div>
    
            </div>
    
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-md-6"
                    style="padding:23px;border-right: 1px solid #8080801c;border-bottom: 1px solid #8080801c;">
                    <div class="gradeHead">Secondry</div>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-md-5 gradeBox" *ngFor="let grade of secondary;">
                            <span>{{grade.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"
                    style="padding:23px;border-right: 1px solid #8080801c;border-bottom: 1px solid #8080801c;">
                    <div class="gradeHead">High School</div>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-md-5 gradeBox" *ngFor="let grade of highSchool;">
                            <span>{{grade.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-md-6"
                    style="padding:23px;border-right: 1px solid #8080801c;border-bottom: 1px solid #8080801c;">
                    <div class="gradeHead">Primary</div>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-md-5 gradeBox" *ngFor="let grade of primary;">
                            <span>{{grade.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"
                    style="padding:23px;border-right: 1px solid #8080801c;border-bottom: 1px solid #8080801c;">
    
                </div>
            </div>
    
        </div>
    
        <div class="card" style="margin-right: 1%;">
    
            <div class="row cardHeading">
                <div class="col-6" style="color: black;"> <img src="assets/Icons/Sample/Board.png" alt="" height="30px"
                        width="30px">
                    &nbsp;&nbsp;Board</div>
    
                <div class="col-6 text-right" style="padding-top: 5px;"> <span class="editBox" (click)="addeditGrade()"><i class="fa fa-pen"
                            style="color: #0091ff;"></i> Edit</span></div>
    
            </div>
    
            <div class="row" style="margin-left: 0;margin-right: 0;">
                
                <div class="col-md-6" style="padding:23px;border-right: 1px solid #8080801c;">
                <div class="gradeHead">Central Board</div>
                <div class="row" style="margin-left: 10px;">
                    <div class="col-md-5 gradeBox" *ngFor="let board of central;">
                        <span>{{board.name}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding:23px;">
                <div class="gradeHead">State Board</div>
                <div class="row" style="margin-left: 10px;">
                    <div class="col-md-5 gradeBox" *ngFor="let board of state;">
                        <span>{{board.name}}</span>
                    </div>
                </div>
            </div>
            </div>
    
    
        </div>
    </div>
</div>

<div *ngIf="isEditAdd==true">
    <app-add-grade-board [isFromSetup]="isFromSetup" (newItemEvent)="backPage($event)" [isEditValue]="isEditAdd" [boardList]="boardList" [boards]="boards" [grades]="grades" [gradeList]="gradeList"></app-add-grade-board>
</div>