

<div *ngIf="examPattern.patternType == 3 || examPattern.patternType == 2 || examPattern.patternType == 1">
 
  <div class="row">
      <div class="col-lg-12">
          <div class="row mt-4">
              <div class="col-3"><h5 style="color: #0091ff;padding: 1% 0%;"> Exam Pattern Summary </h5></div>
              <div class="col-9" style="float: right;">
                <div id="1" style="padding-top: 13px; cursor: pointer;text-align: center;float: right;height: 36px;" (click)="paperClick(1,0)">
                  <span style="padding: 10px;">{{patterns2.patternName}}</span>
                </div>
                <div class="active" id="0" style="padding-top: 13px;cursor: pointer;text-align: center;float: right;height: 36px;" (click)="paperClick(0,1)">
                  <span style="padding: 10px;">{{patterns1.patternName}}</span>
                </div>
                <div style="float: right;">
                  <ng-select #ngSelectComponent  [searchable]="false" [items]="patternList" bindLabel="name" bindValue="uniqueId" placeholder="Change Pattern" (change)="getPatternInfo($event)">
                   </ng-select>
                </div>
              </div>
            </div>
       <hr style="margin-top: 0;">
       <div *ngIf="pattern1">
        <div class="row" style="font-weight: 300;font-size: 12px;">
          <div class="col-md-1"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
          <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;
            <span *ngFor="let subject of patterns1.subjects">{{subject.name}},</span>
          </div>
          <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: {{patterns1.duration}} min</div>
          <div class="col-md-2"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: {{patterns1.totalQuestion}}</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: {{patterns1.examMarks}}</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Physiccoo: {{patterns1.examMarks}}</div>
        </div>
  
  
      <hr>  
      <div class="row"  style="margin-top: 1%;margin-left:0px;">
        <div class="col-md-3 card" *ngFor="let subject of patterns1.subjects"  style="margin-right: 1%;">
          <div >
            <div class="row cardHeading" [ngStyle]="{'border-top': subject.name == 'Physics' ? '4px solid #ff00c8' : subject.name == 'Chemistry' ? '4px solid #2EFEF7' : subject.name == 'Mathematics' ? '4px solid #fff703f2' : subject.name == 'Biology' ? '4px solid #92ff03f2' : subject.name == 'Science' ? '4px solid #0368fff2' : '4px solid #ff03a6f2' }">
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Physics'"> <i class="fab fa-react"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Chemistry'"> <i class="fas fa-flask"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Mathematics'"> <i class="fas fa-calculator"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Biology'"> <i class="fas fa-vial"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Science'"> <i class="fas fa-capsules"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Anatomy'"> <i class="fas fa-code"></i> {{subject.name}}</div>
              <div class="col-6 text-right">  <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i>  </div>
            
            </div>
          
            <div class="row" *ngFor="let section of subject.sections;let i=index;" [ngStyle]="{'border-bottom': i != subject.sections.length-1 ? '1px solid #e8e8e8':''}" style="padding: 8% 2% 7% 2%;">
              <div class="col-1"  style="padding-left: 10px"> 
                <span *ngIf="section.questionType == 1"><i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 2"><i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 3"><i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 4"><i class="fa fa-folder" style="color: #f1623f;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 5"><i class="fa fa-folder" style="color: #ca189e;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 6"><i class="fa fa-folder" style="color: #4879e4;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 7"><i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></span>
              </div>
            <div class="col-11">
                <div class="row" style="color: black;font-size: 14px;">
                  <div class="col-4" style="left: 12px;">{{section.name}}</div>
                  <div class="col-4">{{section.noOfQuestions}}</div>
                  <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                  <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                  <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                  <div class="col-4" *ngIf="section.questionType==4">SA</div>
                  <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                  <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                  <div class="col-4" *ngIf="section.questionType==7">TF</div>
                </div>
                <div class="row" style="font-size: 9px;color: #72809e;">
                  <div class="col-4" style="left: 12px;">Section</div>
                  <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                  <div class="col-4">Question Type</div>
                </div>
              </div>
            </div>
            <br>
          
          </div>
        </div>
      </div>
       </div>
       <div *ngIf="pattern2">
        <div class="row" style="font-weight: 300;font-size: 12px;">
          <div class="col-md-1"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2015</div>
          <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;
            <span *ngFor="let subject of patterns2.subjects">{{subject.name}},</span>
          </div>
          <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: {{patterns2.duration}} min</div>
          <div class="col-md-2"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: {{patterns2.totalQuestion}}</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: {{patterns2.examMarks}}</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Physiccoo: {{patterns2.examMarks}}</div>
        </div>
  
  
      <hr>  
      <div class="row"  style="margin-top: 1%;margin-left:0px;">
        <div class="col-md-3 card" *ngFor="let subject of patterns2.subjects"  style="margin-right: 1%;">
          <div >
            <div class="row cardHeading" [ngStyle]="{'border-top': subject.name == 'Physics' ? '4px solid #ff00c8' : subject.name == 'Chemistry' ? '4px solid #2EFEF7' : subject.name == 'Mathematics' ? '4px solid #fff703f2' : subject.name == 'Biology' ? '4px solid #92ff03f2' : subject.name == 'Science' ? '4px solid #0368fff2' : '4px solid #ff03a6f2' }">
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Physics'"> <i class="fab fa-react"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Chemistry'"> <i class="fas fa-flask"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Mathematics'"> <i class="fas fa-calculator"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Biology'"> <i class="fas fa-vial"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Science'"> <i class="fas fa-capsules"></i> {{subject.name}}</div>
              <div class="col-6 subjectTitle" *ngIf="subject.name == 'Anatomy'"> <i class="fas fa-code"></i> {{subject.name}}</div>
              <div class="col-6 text-right">  <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i>  </div>
            
            </div>
          
            <div class="row" *ngFor="let section of subject.sections;let i=index;" [ngStyle]="{'border-bottom': i != subject.sections.length-1 ? '1px solid #e8e8e8':''}" style="padding: 8% 2% 7% 2%;">
              <div class="col-1"  style="padding-left: 10px"> 
                <span *ngIf="section.questionType == 1"><i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 2"><i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 3"><i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 4"><i class="fa fa-folder" style="color: #f1623f;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 5"><i class="fa fa-folder" style="color: #ca189e;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 6"><i class="fa fa-folder" style="color: #4879e4;font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 7"><i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></span>
              </div>
            <div class="col-11">
                <div class="row" style="color: black;font-size: 14px;">
                  <div class="col-4" style="left: 12px;">{{section.name}}</div>
                  <div class="col-4">{{section.noOfQuestions}}</div>
                  <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                  <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                  <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                  <div class="col-4" *ngIf="section.questionType==4">SA</div>
                  <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                  <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                  <div class="col-4" *ngIf="section.questionType==7">TF</div>
                </div>
                <div class="row" style="font-size: 9px;color: #72809e;">
                  <div class="col-4" style="left: 12px;">Section</div>
                  <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                  <div class="col-4">Question Type</div>
                </div>
              </div>
            </div>
            <br>
          
          </div>
        </div>
      </div>
       </div>
         
  </div>

</div>
</div>

<div *ngIf="examPattern.patternType == 4">
 
            <div class="row">
                <div class="col-lg-12">
                   
                    <h5 class="mt-4" style="color: #0091ff;padding: 1% 0%;"> Exam Pattern Summary </h5>
                 <hr style="margin-top: 0;">
                    <div class="row" style="font-weight: 300;font-size: 12px;">
                      <div class="col-md-1"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
                      <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;
                        <span *ngFor="let exam of examPattern.examPatterns;let i=index;">
                          <span *ngFor="let subject of exam.subjects">
                            {{subject.name}},
                          </span>
                        </span>
                      </div>
                      <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: {{examPattern.examPatterns[0].duration}} min</div>
                      <div class="col-md-2"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: {{examPattern.examPatterns[0].totalQuestion}}</div>
                      <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: {{examPattern.examPatterns[0].examMarks}}</div>
                      <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Physiccoo:</div>
                    </div>
              
              
              <hr>  
              <div class="row" *ngFor="let exam of examPattern.examPatterns;let i=index;" style="margin-top: 1%;margin-left:0px;">
                <div class="col-md-3 card" *ngFor="let subject of exam.subjects"  style="margin-right: 1%;">
                  <div >
                    <div class="row cardHeading" [ngStyle]="{'border-top': subject.name == 'Physics' ? '4px solid #ff00c8' : subject.name == 'Chemistry' ? '4px solid #2EFEF7' : subject.name == 'Mathematics' ? '4px solid #fff703f2' : subject.name == 'Biology' ? '4px solid #92ff03f2' : subject.name == 'Science' ? '4px solid #0368fff2' : '4px solid #ff03a6f2' }">
                      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Physics'"> <i class="fab fa-react"></i> {{subject.name}}</div>
                      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Chemistry'"> <i class="fas fa-flask"></i> {{subject.name}}</div>
                      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Mathematics'"> <i class="fas fa-calculator"></i> {{subject.name}}</div>
                      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Biology'"> <i class="fas fa-vial"></i> {{subject.name}}</div>
                      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Science'"> <i class="fas fa-capsules"></i> {{subject.name}}</div>
                      <div class="col-6 subjectTitle" *ngIf="subject.name == 'Anatomy'"> <i class="fas fa-code"></i> {{subject.name}}</div>
                      <div class="col-6 text-right">  <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i>  </div>
                     
                    </div>
                   
                    <div class="row" *ngFor="let section of subject.sections;let i=index;" [ngStyle]="{'border-bottom': i != subject.sections.length-1 ? '1px solid #e8e8e8':''}" style="padding: 8% 2% 7% 2%;">
                      <div class="col-1"  style="padding-left: 10px"> 
                        <span *ngIf="section.questionType == 1"><i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></span>
                        <span *ngIf="section.questionType == 2"><i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></span>
                        <span *ngIf="section.questionType == 3"><i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></span>
                        <span *ngIf="section.questionType == 4"><i class="fa fa-folder" style="color: #f1623f;font-size: 29px;padding-top: 8px;"></i></span>
                        <span *ngIf="section.questionType == 5"><i class="fa fa-folder" style="color: #ca189e;font-size: 29px;padding-top: 8px;"></i></span>
                        <span *ngIf="section.questionType == 6"><i class="fa fa-folder" style="color: #4879e4;font-size: 29px;padding-top: 8px;"></i></span>
                        <span *ngIf="section.questionType == 7"><i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></span>
                      </div>
                    <div class="col-11">
                        <div class="row" style="color: black;font-size: 14px;">
                          <div class="col-4" style="left: 12px;">{{section.name}}</div>
                          <div class="col-4">{{section.noOfQuestions}}</div>
                          <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                          <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                          <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                          <div class="col-4" *ngIf="section.questionType==4">SA</div>
                          <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                          <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                          <div class="col-4" *ngIf="section.questionType==7">TF</div>
                        </div>
                        <div class="row" style="font-size: 9px;color: #72809e;">
                          <div class="col-4" style="left: 12px;">Section</div>
                          <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                          <div class="col-4">Question Type</div>
                        </div>
                      </div>
                    </div>
                    <br>
                   
                  </div>
                </div>
              </div>
            </div>
      
</div>
</div>

