.slideInRight {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slideInLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
label {
    font-weight: 500;
}
.containValue p {
    color: #272727;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
}
.containValue span {
    color: #8a8a8a;
    margin-top: -2px;
    font-size: 12px;
}
.addMore {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
.addMore .fa-plus {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: var(--newApp-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    position: relative;
    right: 25px;
    float: right;
    margin-bottom: 12px;
}
hr {
    border-color: #dddddd !important;
    margin-top: 0.7rem !important;
}
.delete .fa-trash {
    font-size: 20px;
    color: var(--delete);
    float: left;
    margin-left: 13px;
    margin-top: 1px;
    cursor: pointer;
}
.edit .fa-pen {
    font-size: 14px;
    color: var(--newApp-color);
    height: 26px;
    width: 26px;
    background-color: var(--newAppbg-color);
    text-align: center;
    border: 1px solid var(--newApp-color);
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.delete {
    margin-top: 3px;
}
.edit {
    float: right;
    margin-right: 20px;
}
.viewConflictPop {
    width: 70% !important;
    top: 0px;
}
.containValue {
    padding-right: 0px !important;
}
.containValue p {
    font-size: 13px;
    padding: 0px;
}
.containValue img {
    float: left;
    border-radius: 5%;
    margin-right: 5px;
}

.containValue .btn-filled {
    height: 37px;
    width: 120px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containValue .fa-chevron-down {
    border-left: 1px solid #cccccc;
    padding-left: 7px;
    margin-left: 10px;
    height: 30px;
    vertical-align: middle;
    padding-top: 8px;
    position: relative;
    left: 10px;
}
.popupHeading {
    background-color: #afafaf31;
    height: 50px;
}
.assignText {
    color: #c2c1c1;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conflicts {
    float: left;
    cursor: pointer;
    color: #ee405a;
    background-color: #ffa1af38;
    margin-top: 5px;
    padding: 1px 4px;
    font-size: 12px;
}

.removeLecture {
    float: right;
    cursor: pointer;
    color: white;
    background-color: red;
    margin-top: 5px;
    padding: 1px 16px;
    font-size: 12px;
    border-radius: 14px;
}

.btn-yes,
.btn-no {
    width: 100px;
    border-radius: 0px;
    font-size: 14px;
}
.btn-no {
    color: var(--newApp-color) !important;
}
