$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
.addQuickForm {
  position: absolute;
  background-color: white;
  top: 85px;
  width: 25%;
  right: 0;
  z-index: 1;
  pointer-events: fill;
}

.bulkAssignForm {
  position: absolute;
  background-color: white;
  top: 0px;
  width: 75%;
  right: 0;
  opacity: 1;
  z-index: 1050;
  pointer-events: fill !important;
}

.bulkUploadForm {
  position: absolute;
  background-color: white;
  top: 0px;
  width: 75%;
  right: 0;
  opacity: 1;
  z-index: 1050;
  pointer-events: fill !important;
}
.pageShow {
  height: 560px;
}
.quickForm-back {
  pointer-events: none;
}
.hideScroll {
  overflow-y: hidden;
}
@media screen and (min-width: 1480px) {
  #headertabs {
    width: 86%;
  }
}
@import "../../../../../assets/scss/custom/components/common";

//bulk assign start
.card {
  min-height: 93vh;
}
.card.stack-top {
  min-height: 100%;
  position: fixed;
  width: 66.4%;
}

.emptyTable {
  overflow: initial !important;
}
.stack-back {
  opacity: 0.5;
  pointer-events: none;
  height: 93vh;
}
.stack-top {
  padding: 0px !important;
  // width: 75%;
  width: 78% !important;
  height: 100%;
  position: absolute;
  // float: right;
  top: 0;
  // right: 0;
  opacity: 1;
  z-index: 1050;
  pointer-events: fill !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
  border-color: var(--newApp-color);
}

.stack-top {
  /* for chrome and safari*/
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slidein;

  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;

  /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slidein;

  /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slidein;
  margin-left: 19%;
  right: 0;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}

@-moz-keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}
@-o-keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 19%;
  }
}
.table-user .btn-className.primary {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  background-color: var(--primarybg) !important;
}
.table-user .btn-className.info {
  color: var(--info) !important;
  border-color: var(--info) !important;
  background-color: var(--infobg) !important;
}
.table-user .btn-className.success {
  color: var(--success) !important;
  border-color: var(--success) !important;
  background-color: var(--successbg) !important;
}
.table-user .btn-className.warning {
  color: var(--warning) !important;
  border-color: var(--warning) !important;
  background-color: var(--warningbg) !important;
}
.table-user .btn-className.danger {
  color: var(--danger) !important;
  border-color: var(--danger) !important;
  background-color: var(--dangerbg) !important;
}
.table .table-user .btn-orgName {
  color: #fca54d;
  border-color: #fca54d;
  background-color: #fca54d1a !important;
}
.backdrop.show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #323a46;
  opacity: 0.5;
  pointer-events: none !important;
}
.quickForm-back {
  pointer-events: none;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: var(--newApp-color);
  border-color: var(--newApp-color);
}
.dropDownForm {
  pointer-events: fill;
}
#dropdownForm1 {
  cursor: pointer;
}
@media screen and (min-width: 1480px) {
  .card.stack-top {
    width: 70%;
  }
}
//bulk assign end
