<ng-container>
  <div class="container-fluid" [ngClass]="{'pageShow':isShowQuickForm && studentList.length < 5}">
    <section id="headertabs" [ngClass]="{'stack-back':listClicked, 'quickForm-back':isShowQuickForm}">

      <nav>

        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-basic-tab" data-toggle="tab" role="tab" aria-controls="nav-basic"
            aria-selected="true">Students</a>
        </div>
      </nav>
    </section>
    <!-- <app-page-title title="Students" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->

    <div class="row">
      <div class="col-12">
        <div class="card pt-3"
          [ngClass]="{'stack-back':listClicked, 'quickForm-back':isShowQuickForm, 'mb-0':listClicked,'outsideDropdown':isDropDownOpen}">
          <div class="card-body">
            <!-- <h4 class="header-title">Students</h4> -->
            <p class="text-muted font-13 mb-4">

            </p>
            <!-- <app-common-loader *ngIf="loading"></app-common-loader> -->
            <div class="row mb-md-2 table-header">
              <!-- Search -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-1 col-form-label">Students</label>
                  <div class="col-sm-1 quickAdd">
                    <!-- <button class="btn"><i class="fe-settings noti-icon"></i></button> -->
                    <button class="btn" (click)="OpenQuickForm()"><i class="fa fa-plus"></i>Quick Add</button>
                  </div>
                  <div class="col-sm-1 quickAdd">
                    <!-- <button class="btn"><i class="fe-settings noti-icon"></i></button> -->
                    <button class="btn" (click)="OpenBulkAssignForm()"><i class="fa fa-plus"></i>Bulk Assign</button>
                  </div>
                  <div class="col-sm-1 quickAdd">
                    <!-- <button class="btn"><i class="fe-settings noti-icon"></i></button> -->
                    <button class="btn" (click)="OpenBulkUploadForm()"><i class="fa fa-plus"></i>Bulk Upload</button>
                  </div>
                  <div class="col-sm-6 " ngbDropdown #myDrop="ngbDropdown" [autoClose]="false">
                    <input type="text" name="searchTerm" class="form-control" id="dropdownList"
                      (input)="findRecords($event.target.value)" [ngClass]="{'quickForm-back':isShowQuickForm}"
                      placeholder="Search" [maxLength]="maxLength" aria-controls="tickets-table" autocomplete="nope"
                      (keypress)="searchable($event)">
                    <i class="fas fa-filter" id="dropdownForm1" (click)="openDropdown()"
                      [ngClass]="{'quickForm-back':isShowQuickForm}" ngbDropdownToggle></i>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropDownForm">
                      <div *ngIf="isDropDownOpen">
                        <app-advanced-filter [filterType]="filterType" (closeDropdown)="cancelFilterModal()"
                          (applyDropdown)="apply()"></app-advanced-filter>
                      </div>
                      <div *ngIf="!isDropDownOpen" class="userList scroll">
                        <button *ngFor="let item of searchUserList" (click)="clickDropdownItem(item)"
                          ngbDropdownItem>{{item.fullName}}</button>
                      </div>
                    </div>
                    <p class="pt-1" *ngIf="message!=''">{{message}}</p>
                  </div>
                </div>
              </div>
              <!-- End search -->
            </div>
            <!-- Quick add form -->
            <div class="addQuickForm" [ngClass]="{'slideInLeft':!isShowQuickForm,'slideInRight':isShowQuickForm} "
              *ngIf="isShowQuickForm">
              <button type="button" class="closeQuickForm" (click)="closeQuickForm()" aria-label="Close">x</button>
              <app-quick-form [roleData]="roleData" [quickFormType]="1" (getList)="getList($event)"></app-quick-form>
            </div>
            <!-- End Quick add form -->

            <!-- Bulk Assign form -->
            <div class="backdrop" [ngClass]="{'show':isShowBulkAssignForm}"></div>
            <div class="card pt-4 stack-top" *ngIf="isShowBulkAssignForm">
              <app-bulk-assign-form (closebulkassignform)="closebulkassign($event)"></app-bulk-assign-form>
            </div>
            <!-- Bulk Assign form -->

            <!-- Bulk Upload form -->
            <div class="backdrop" [ngClass]="{'show':isShowBulkUploadForm}"></div>
            <div class="card pt-4 stack-top" *ngIf="isShowBulkUploadForm">
              <app-bulkupload (closeBulkUploadform)="closeBulkUploadForm()"></app-bulkupload>
            </div>
            <!-- Bulk Upload form -->
            <!-- Table -->
            <div class="list">
              <div class="table-responsive" [ngClass]="{'emptyTable':studentList.length>=0}">
                <table class="table table-centered mb-0" id="test">
                  <thead class="thead-light">
                    <!-- <div class="table-row"> -->
                    <tr>
                      <th style="width: 20px;" appCheckall>
                        <div class="table-checkbox c-checkbox mt-1">
                          <label>
                            <input type="checkbox" [checked]="isSelectAll" (change)="checkUncheck($event)" />
                            <span class="fa fa-check"></span>
                          </label>
                        </div>
                      </th>

                      <th style="width: 25%; text-align: left;">
                        <ng-select [items]="courseList" #selectCrs class="custom" bindLabel="itemName"
                          bindValue="uniqueId" [multiple]="true" [closeOnSelect]="false"
                          (change)="onItemChange($event,0)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="selectCrs.open()">Name <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th>
                      <!-- <th>
                        <ng-select [items]="academicYearList" #select class="custom" bindLabel="itemName" bindValue="id"
                          [(ngModel)]="academicYearModelList" [multiple]="true" [closeOnSelect]="false"
                          (change)="onItemChange($event,1)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="select.open()">Academic Year <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th>
                      <th>
                        <ng-select [items]="academicCalendarList" #selectAC class="custom" bindLabel="itemName"
                          bindValue="id" [multiple]="true" [closeOnSelect]="false" (change)="onItemChange($event,2)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.itemName}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="selectAC.open()">Academic Calendar <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th> -->
                      <th>
                        <ng-select [items]="boardList" #selectBoard class="custom" bindValue="uniqueId" bindLabel="name"
                          [multiple]="true" [closeOnSelect]="false" (change)="onItemChange($event,3)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="selectBoard.open()">Board <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th>
                      <th>
                        <ng-select [items]="gradeList" #selectGrade class="custom" bindLabel="name" bindValue="uniqueId"
                          [multiple]="true" [closeOnSelect]="false" (change)="onItemChange($event,4)">
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" [ngModel]="item$.selected" class="custom-control-input"
                                [checked]="item$.selected" />
                              <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <a class="link-project" (click)="selectGrade.open()">Grade <i class="fa fa-sort"
                            aria-hidden="true"></i></a>
                      </th>
                      <th>Batch</th>
                      <th>Action</th>
                    </tr>
                    <!-- </div> -->
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of studentList; let i = index;" class="table-data">
                      <!-- <div class="table-row"> -->
                      <td style="width: 15px;">
                        <div class="table-checkbox c-checkbox">
                          <label>
                            <input type="checkbox" (change)="rowCheckboxChange($event)" />
                            <span class="fa fa-check"></span>
                          </label>
                        </div>
                      </td>

                      <td class="table-user" style="cursor: pointer;" (click)="rowClick(student)">
                        <div class="media">
                          <div class="">
                            <img *ngIf="student.imageCode==null || student.imageCode==''"
                              src="assets/images/profileImg.png" class="rounded-circle" alt="">
                            <img *ngIf="student.imageCode!=null && student.imageCode!=''"
                              [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +student.imageCode)"
                              class="rounded-circle" alt="">
                          </div>
                          <div class="media-body">
                            <a class="text-body font-weight-semibold">{{
                              student.student.name
                              }}</a>
                            <p><span *ngIf="student.className!=null" class="btn btn-className btn-rounded btn-sm"
                                [ngClass]="colorClassArray[i%5]">{{student.className}}</span>
                              <span *ngIf="student.course==undefined" class="btn btn-className btn-rounded btn-sm"
                                [ngClass]="colorClassArray[i%5]">Not Assigned</span>
                              <span *ngIf="student.course!=undefined" class="btn btn-className btn-rounded btn-sm"
                                [ngClass]="colorClassArray[i%5]">{{student.course}}</span>
                              <!-- <span class="btn btn-orgName btn-rounded btn-sm"> {{ student.orgName }}</span> -->
                            </p>
                          </div>
                        </div>

                      </td>
                      <!-- <td>
                        AY-1
                      </td>
                      <td>
                        AC-1
                      </td> -->
                      <td style="cursor: pointer;" (click)="rowClick(student)">
                        {{student.board}}
                      </td>
                      <td style="cursor: pointer;" (click)="rowClick(student)">
                        {{student.grade}}
                      </td>
                      <td style="cursor: pointer;" (click)="rowClick(student)">
                        {{student.batch}}
                      </td>
                      <td style="width: 10px;">

                        <div class="btn-group" dropdown>
                          <i class="mdi mdi-dots-vertical mdi-24px d-inline" id="button-basic" dropdownToggle
                            type="button" aria-controls="dropdown-basic"></i>
                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" (click)="rowClick(student)">Edit</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Delete</a></li>
                          </ul>
                        </div>
                      </td>
                      <!-- </div> -->
                    </tr>
                    <tr *ngIf="studentList?.length==0">
                      <td colspan="8">No data found!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="d-flex justify-content-end w-100">
                  <div class="p-3 pagination" *ngIf="isShowPagination">
                    <ng-select [items]="pageSizeArray" #selectPageSize class=" pageSizeSelect" dropdownPosition="top"
                      bindLabel="name" bindValue="id" (change)="changePageSize($event)" [(ngModel)]="selectedPageSize">
                    </ng-select>
                    <a class="link-project" (click)="selectPageSize.open()">{{pageSizeArray[selectedPageSize].name}}
                    </a> of {{totalCount}} <i class="fa fa-chevron-left mx-2" aria-hidden="true"
                      (click)="goToPreviousPage()"></i>
                    <i class="fa fa-chevron-right pl-1" aria-hidden="true" (click)="goToNextPage()"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- End table -->

            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <!-- <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                    {{service.startIndex}} to
                    {{service.endIndex}} of {{service.totalRecords}}
                    entries
                  </div> -->
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                  <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination> -->
                </div>
              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
        <div class="backdrop" [ngClass]="{'show':listClicked || isShowBulkAssignForm}"></div>
        <div class="card pt-4 stack-top" *ngIf="listClicked">
          <app-user-details [roleData]="roleData" [selectedUserId]="selectedStudentId"
            [selectedUserUniqueId]="selectedStudent.uniqueId" [userDetailsType]="1"></app-user-details>

        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- <ng-container *ngIf="listClicked">
  <app-students-details [selectedUserId]="selectedStudentId"></app-students-details>
</ng-container> -->