<!-- <form [formGroup]="staffShiftInfoForm"> -->
<div *ngIf="workTimeList.length!=0" class="row p-1 mx-0">
    <div class="table-responsive-md">
        <table class="table mb-0 table-borderless">
            <thead class="thead-light">
                <tr class="">
                    <th class="">Shift Types</th>
                    <th class="">Shift Days</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of selectedShifts;let i=index;">
                    <td style="width: 40%;">
                        <span *ngIf="!shift.editMode">
                            {{shift.name}}
                        </span>
                        <span *ngIf="shift.editMode">
                            <ng-select [items]="shiftList" class="custom1" bindLabel="name" bindValue="shiftUid"
                                (change)="changeShift($event,i)" [(ngModel)]="shift.selected" [multiple]="false"
                                [closeOnSelect]="true" [clearable]="false" placeholder="Select shift"
                                [searchable]="false"></ng-select>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!shift.editMode">
                            <span class="days" *ngFor="let days of shift.workingDaysList;let j=index;">
                                <span
                                    *ngIf="days.isSelected">{{days.day|titlecase}}{{(shift.workingDaysList.length-1!=j)
                                    ? ',' :
                                    ''}}</span>
                            </span>
                        </span>
                        <span *ngIf="shift.editMode && !shift.isNew">
                            <span class="" *ngFor="let days of shiftDayList;let j=index;">
                                <span class="day" [ngClass]="{'selected':days.isSelected}">{{days.day|titlecase}}</span>
                            </span>
                        </span>
                        <span *ngIf="shift.editMode && shift.isNew">
                            <span class="" *ngFor="let days of shift.days;let j=index;">
                                <span class="day" [ngClass]="{'selected':days.isSelected}">{{days.day|titlecase}}</span>
                            </span>
                        </span>
                    </td>
                    <td class="text-center" style="width: 16%;" *ngIf="!shift.editMode">
                        <div class="delete">
                            <i class="fas fa-trash" (click)="deleteRow(shift, i)"></i>
                        </div>
                        <div class="edit ml-2" (click)="editRow(shift,i)">
                            <i class="fa fa-pen"></i>
                        </div>
                    </td>
                    <td class="text-center" style="width: 14%;" *ngIf="shift.editMode && !shift.isNew">
                        <div class="correct" (click)="updateRow(shift,i)">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="cancel bg-danger" (click)="cancelRow(shift,i)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td class="text-center" style="width: 16%;" *ngIf="shift.editMode && shift.isNew">
                        <div class="delete">
                            <i class="fas fa-trash" (click)="deleteRow(shift, i)"></i>
                        </div>
                        <div class="edit ml-2" (click)="save(shift,i)">
                            <i class="fas fa-save"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pt-3 pr-3 pl-3 pb-3 row">
            <a (click)="addNewRow()" color="primary" class="btn btn-circle">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div *ngIf="workTimeList.length==0" class="row p-1 mx-0">
    <h4 class="text-center">Shift data not found!</h4>
</div>
<div class="row mt-5 mx-0 float-right">
    <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
    <button class="btn btn-save ml-2" type="submit" (click)="saveWorkTiming()">Save and Next</button>
</div>
<!-- </form> -->