.table th,
.table td {
    padding: 0.65rem;
}
.table thead th {
    font-weight: 500;
    font-size: 15px;
    color: var(--newApp-color);
    background-color: #ffffff;
}
.table .fa,
.table .fas {
    cursor: pointer;
}
.table .fa-trash {
    font-size: 20px;
    color: var(--delete);
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
.table .fa-pen,
.table .fa-save {
    font-size: 14px;
    color: var(--newApp-color);
    height: 24px;
    width: 24px;
    background-color: rgb(51 141 222 / 51%);
    border: 1px solid var(--newApp-color);
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
}
.table .delete {
    margin-top: 3px;
}
.table .edit {
    float: right;
    margin-right: 5px;
}
.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 25px;
    background-color: var(--newApp-color);
    color: #ffffff !important;
    cursor: pointer;
}
.day {
    color: var(--newApp-color);
    border: 1px solid var(--newApp-color);
    padding: 5px 10px;
    margin-right: 8px;
    width: 53px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}
.day.selected {
    color: #ffffff;
    background-color: var(--newApp-color);
    padding: 5px 0px;
}
.days span {
    padding-right: 5px;
}
.table .correct,
.table .cancel {
    width: 24px;
    height: 24px;
    color: #ffffff !important;
    cursor: pointer;
    padding-top: 3px;
    margin-top: 3px;
}
.table .correct {
    float: left;
    margin-left: 5px;
    background-color: var(--newApp-color);
}
.table .cancel {
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}
.btn-save {
    background-color: var(--newApp-color);
    margin-left: 10px;
    padding: 8px 30px;
    font-size: 17px;
    width: 175px;
    margin-right: 30px;
}
.btn-cancel {
    background-color: white;
    border: 2px solid var(--newApp-color);
    color: var(--newApp-color) !important;
    margin-left: 10px;
    padding: 8px 30px;
    font-size: 17px;
    width: 175px;
    cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
    color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
    color: var(--newApp-color) !important;
    background-color: #fff;
}
.table-responsive-md {
    width: 98%;
    margin: auto;
}
