<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h4 style="color: white;" align='center'>Student Name</h4>  
        </div>
        <div class="col-sm-2">
            <h4 style="color: white;" align='center'>Questions Solved</h4>      
        </div>
        <div class="col-sm-2">
            <h4  style="color: white;" align='center'>Right Questions</h4>
        </div>
        <div class="col-sm-2">
            <h4  style="color: white;" align='center'>Wrong Questions</h4>
            
        </div>
        <div class="col-sm-2">
            <h4   style="color: white;" align='center'>Total time</h4>  
        </div>
    </div>
    <div style="height: 700px; overflow-y: scroll;" >
        <div class="card" style="margin-top: 20px; margin-right: 20px;" *ngFor="let studentLis of studentLis ">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <img  align='center' src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 30px; width: 30px;"> -->
                        
                        <h4  align='center'>{{studentLis.studentName}}</h4>
                    </div>
                    <div class="col-sm-2">
                        <h4 align='center'>{{studentLis.questionSolved}}</h4>
                            
                    </div>
                    <div class="col-sm-2">
                        <h4 align='center'>{{studentLis.rightQuestion}}</h4>
                        
                    </div>
                    <div class="col-sm-2">
                        <h4 align='center'>{{studentLis.wrongQuestion}}</h4>
                        
                    </div>
                    <div class="col-sm-2">
                        <h4 align='center'>{{studentLis.totalTime}}</h4>
                        
                    </div>
                </div>
                <!-- <ngx-loading [show]="loadingStudentList" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"
                [template]="loadingTemplate"></ngx-loading> -->
            </div>
        </div>
    </div>
</div>