.titleBg {
  height: 45px;
  background: #e5f2ff;
  width: 100% !important;
}
.titleSZ {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}
.col-box {
  border: 1px solid #c5c5c5;
  height: 50px;
}

.paperTitle {
  cursor: pointer;
}
.paperTitle:hover,
.paperTitle.active {
  background-color: #0091ff;
  color: #ffffff;
}

::ng-deep ng-select.borderLess .ng-select-container {
  border: none !important;
  font-size: 15px;
  color: gray;
}
::ng-deep.addTestType .modal-dialog {
  max-width: 363px;
  margin: 15% auto;
}

.invigilatorCloseBtn {
  width: 130px;
  height: 36px;
  border: 1px solid #80808059;
  color: gray;
  float: right;
}
.invigilatorCloseBtn:hover {
  background-color: gray;
  color: white;
}

.btn-testType {
  background-color: var(--newApp-color);
  padding: 7px 10px;
  height: 36px;
}
.btn-testType:hover {
  color: #ffffff;
  text-decoration: none;
}

.cancelbutton {
  border: 1px solid var(--newApp-color);
  width: 115px;
  margin-top: 30px;
  color: var(--newApp-color);
  font-size: 15px;
  position: relative;
  height: 36px;
}
.cancelbutton {
  right: 55px;
}
.nextbutton {
  border: 1px solid #0091ff;
  margin-top: 30px;
  font-size: 15px;
  position: relative;
  left: -32px;
  background-color: var(--newApp-color);
  color: #ffffff;
  height: 36px;
  margin-right: -10px;
  width: 115px;
}

.customCardCss {
  border-radius: 4px;
  box-shadow: 0 0 1px 2px #98989812;
}

.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  max-width: 100%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
  min-height: 150px;
  padding: 15px;
}

/* Add application styles & imports to this file! */
/* You can add global styles to this file, and also import other style files */

//https://www.npmjs.com/package/ngx-collapse
.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.collapse-title {
  position: relative;
  padding: 1rem 3.5rem 1rem 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #18181b;
  background-color: var(--color-strata-yellow-1);
  margin-bottom: 1rem;
  background-color: #fcd869;

  &.collapsed {
    background-color: #fef1c9;
  }

  &-expand-indicator {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    .collapse-icon {
      transition: transform 0.35s ease;
    }
  }

  &:not(.collapsed) {
    .collapse-icon {
      transition: transform 0.35s ease;
      transform: rotateZ(90deg);
    }
  }
}
/*
  <article>
                  <div style="background-color: #0076d1;color: white;padding-top: 1%;padding-bottom: 1%;"
                   [collapse]="content2" class="collapse-title">  {{subject.get('subject.name').value}}
                    <span class="collapse-title-expand-indicator">
                      <img class="collapse-icon" src="assets/images/greater.png"  style="height: 20px; width: 20px;" alt="plus-icon">
                    </span>
                  </div>

                  <div collapseContent #content2="collapseContent">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa impedit harum quae at quos dolorum
                    veniam quasi
                    culpa commodi. Quaerat adipisci facere temporibus, quod corporis soluta voluptates quam doloremque
                    consequatur.
                    Lorem ipsum, architecto in nam exercitationem praesentium, magni ratione voluptatibus nobis.
                    Dolores, unde.
                  </div>
                </article>*/

.isHideOptional {
  display: none;
}

//vinayak added
//instruction

.addInstructionBody {
  width: 90%;
  margin: auto;
}

.addInstructionBody .radio {
  margin: 2px 15px;
}

.addInstructionPopupBtn {
  width: 45% !important;
  padding: 3%;
}

.uploadfilecontainer {
  // background-image: url("../../assets/cloud-2044823_960_720.png");
  background-image: url("../../../../../assets/images/fileupload.webp");
  background-repeat: no-repeat;
  // background-size: 100px;
  background-size: 45px;
  background-position: center;
  height: 175px;
  width: 80%;
  margin: 0px auto;
  border: 3px dashed #0091ff;
  border-radius: 20px;
  box-shadow: none;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.fileListContainer {
  height: 100%;
  width: 100%;
  // border: 1px solid green;
  overflow: hidden;
}
.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;

  // width: 100%;
  // height: 99%;
  // border: 1px solid blue;
  overflow: auto;
  // padding-right: 15px;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

.dropFileText {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-weight: 500;
  padding-top: 33%;
}
.card-body {
  padding-right: 0% !important;
  padding-left: 0% !important;
  padding-top: 0% !important;
}

.textarea-card {
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 50%), 0 6px 20px 0 rgb(212 205 205 / 45%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  border: none;
}

.button-group .btn {
  width: 110px;
  margin-right: 10px;
  margin-top: 10px;
}

.btn-outline-dark:hover {
  background-color: white !important;
  color: #000;
}

.addInstructionHeader,
.markingSchemeHeader {
  border-bottom: 1px solid #aaa !important;
}

.addInstructionHeader .close,
.markingSchemeHeader .close {
  color: white !important;
  background-color: rgb(194, 54, 77);
  height: 25px;
  width: 25px;
  border-radius: 15px;
  padding: 0 !important;
  margin: 0% !important;
}

.cancelScheme {
  color: #43425d;
  border-color: #cccecf;
  background-color: white;
  width: 100%;
  height: 40px;
}

button.cancelScheme:hover {
  background-color: #43425d;
  // border: 1px solid #0091ff,

  color: white;
}

.saveScheme {
  background-color: #0091ff;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

button.saveScheme:hover {
  background-color: #0076d1;
  // border: 1px solid #0091ff,
  // color: #0091ff,
}

.saveAddScheme {
  background-color: #0091ff;
  height: 40px;
  width: 33%;
  cursor: pointer;
}

button.saveAddScheme:hover {
  background-color: #0076d1;
  // border: 1px solid #0091ff,
  color: white;
}

.saveAs {
  background-color: #0076d1;
  height: 40px;
  cursor: pointer;
}

button.saveAs:hover {
  background-color: #0091ff;
  // border: 1px solid #0091ff,
  color: white;
}
.subjectTitle {
  font-weight: 600;
  font-size: 14px;
  margin-left: -5px;
}

.subjectBlurTitle {
  color: #878c90;
  font-weight: 500;
  font-size: 14px;
  margin-left: -5px;
}
.patternHeading {
  text-align: end;
  font-size: larger;
  font-weight: 400;
  color: #000000ad;
}
.blue-color {
  color: #1c8ef0;
}
.blur-color {
  color: #878c90;
}
.noPadding {
  padding: 0;
}

.cardHeading {
  padding: 4% 2% 4% 2%;
  border-radius: 4px;
  color: gray;
}
.sectionName {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.sectionTitle {
  font-size: 10px;
  font-weight: 500;
  color: #989faf;
  font-family: system-ui;
}

.titleBg {
  height: 45px;
  background: #e5f2ff;
  width: 100% !important;
}
.titleSZ {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}
.cardHeading.primary {
  border-top: 3px solid var(--primary);
}
.cardHeading.info {
  border-top: 3px solid var(--info);
}
.cardHeading.warning {
  border-top: 3px solid var(--warning);
}
.cardHeading.success {
  border-top: 3px solid var(--success);
}
.cardHeading.danger {
  border-top: 3px solid var(--danger);
}
.inputBoxCount {
  top: 30px;
}
