<div *ngIf="isNew == true">
  <div class="row d-flex flex-row">
    <div class="col-sm-2 col-box px-2">
      <div class="row mx-0 mt-1">
        <div class="col-sm-10 px-0">
          <ng-select [items]="category" bindLabel="name" style="width: 100%;" bindValue="uniqueId" class="borderLess"
            [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
            (change)="changeCategory($event)" [searchable]="false"></ng-select>
        </div>
        <div class="col-sm-2 pt-1 px-0">
          <img src="assets/images/add.png" class="float-right" height="25" (click)="togleCategory(customType)" />
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-box px-2">
      <div class="row mx-0 mt-1">
        <div class="col-sm-10 px-0">
          <ng-select [items]="patterns" bindLabel="name" style="width: 100%;" bindValue="uniqueId" class="borderLess"
            [multiple]="false" [closeOnSelect]="true" (change)="changePattern($event)" [clearable]="false"
            [(ngModel)]="patternSelect" placeholder="Select" [searchable]="false">
          </ng-select>
        </div>
        <div class="col-sm-2 pt-1 px-0">
          <img src="assets/images/add.png" class="float-right" height="25" (click)="toglePattern(customTypePattern)" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-box">

    </div>
    <div class="col-sm-1 col-box px-0 text-center">
      <div class="paperTitle p-2" *ngIf="isMasterListIsAdavance == true && isShowSubjectList==true"
        [ngClass]="{'active': activePaper==1}" (click)="getPaperData(1)">
        Paper 1
      </div>
    </div>
    <div class="col-sm-1 col-box px-0 text-center">
      <div class="paperTitle p-2" *ngIf="isMasterListIsAdavance == true && isShowSubjectList==true && patternPapers==2"
        [ngClass]="{'active': activePaper==2}" (click)="getPaperData(2)">
        Paper 2
      </div>
    </div>
  </div>
</div>
<!-- show subjectlist here -->
<div *ngIf="isShowSubjectList == true">
  <div class="row mx-3" style="margin-top: 2%;">
    <div class="col-md-4" *ngFor="let subject of patternData.subjectSectionDtoList;let i=index;">
      <div class="card p-0">
        <div class="row mx-0 cardHeading pt-2" [ngClass]="colorClassArray[i%5]">
          <div class="col-6 subjectTitle"> <img src="assets/images/physics.png" alt="physics" width="28px"
              height="28px">
            {{subject.subject.name}}</div>
          <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;color: gray;"></i> </div>

        </div>

        <div class="row mx-0" *ngFor="let section of subject.sectionDtoList;let i=index;" style="padding: 2% 2%;">
          <div class="col-md-4 pl-0" style="display: flex;">
            <span class="sectionName" data-toggle="tooltip"
              [title]="section.name">{{section.name|slice:0:6}}</span>&nbsp;
            <span class="sectionTitle">
              Section
            </span>

          </div>
          <div class="col-md-3" style="padding-left: 0;display: flex;">
            <span class="sectionName">
              {{section.totalQuestions}}
            </span>&nbsp;
            <span class="sectionTitle">
              Questions
            </span>
          </div>
          <div class="col-md-5" style="padding-left: 0;padding-right: 0;display: flex;">
            <span class="sectionName">
              <div>{{section.questionTypeName}}</div>
            </span>&nbsp;
            <span class="sectionTitle">
              Question Type
            </span>
          </div>
        </div>
        <div class="row" style="margin: 10px 0 10px 0;">
          <div class="col-md-12 sectionTitle">
            <p style="margin-bottom: 0;">All are going good continue daily walking more than 60 min to
              maintain your health</p>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>
</div>
<div style="padding: 15px;" *ngIf="isPatternSetpOne == true">
  <form [formGroup]="createPatternForm">
    <h4 style="border-bottom: 1px solid #ced4da;padding: 1%;"> Add Details</h4>
    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label label-under">Subjects</label>
        <ng-select id="fnam" [items]="subjectList" bindLabel="name" [searchable]="false" [multiple]="true"
          [closeOnSelect]="false" formControlName="subjects" placeholder="Select Subjects"
          [attr.disabled]="enableButtons" [clearable]="false" bindValue="uniqueId">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:2">
              <span class="ng-value-label"> {{item.name}}</span>
              <span class="ng-value-icon right" *ngIf="!isSelectSubjectDisabled" (click)="clear(item)"
                aria-hidden="true">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 2">
              <span class="ng-value-label">+{{items.length - 2}}</span>
            </div>
          </ng-template>

        </ng-select>
      </div>
      <div class="col-sm-3">
        <label class="col-form-label label-under">Section Per Subject</label>
        <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="sctions"
          onKeyPress="if(this.value.length==2) return false;" class="form-control" id="Sectionpersubject"
          placeholder="Sections" #secPerSubject maxlength="2" />
        <p class="badge position-absolute inputBoxCount"
          [ngClass]="{'badge-blue': secPerSubject.value.length !== 2,'badge-danger': secPerSubject.value.length == 2}">
          {{ secPerSubject.value.length }} / 2</p>
      </div>
      <div class="col-sm-3">
        <label class="col-form-label label-under">Total Question</label>
        <input type="text" (keypress)="numberOnly($event)" class="form-control"
          onKeyPress="if(this.value.length==3) return false;" formControlName="totalQuestions" class="form-control"
          id="TotalQuestion" placeholder="Total Question" #totalQuestion maxlength="3" />
        <p class="badge position-absolute inputBoxCount"
          [ngClass]="{'badge-blue': totalQuestion.value.length !== 3,'badge-danger': totalQuestion.value.length == 3}">
          {{ totalQuestion.value.length }} / 3</p>
      </div>
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">
        <label class="col-form-label label-under">Exam Duration* (Minutes)</label>
        <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="duration"
          class="form-control" id="TotalQuestion" placeholder="Exam Duration"
          onKeyPress="if(this.value.length==3) return false;" #examDuration maxlength="3" />
        <p class="badge position-absolute inputBoxCount"
          [ngClass]="{'badge-blue': examDuration.value.length !== 3,'badge-danger': examDuration.value.length == 3}"> {{
          examDuration.value.length }} / 3</p>
      </div>
      <div class="col-sm-4" *ngIf="isJEAdvancePaper == false">
        <div class="form-group">
          <label for="lastName" class="col-form-label label-under w-100">Exam Type</label>
          <div class="form-check-inline" style="margin-top: 10px;">
            <label class="form-check-label" for="questionCategorie.id"
              *ngFor="let questionCategorie of questionCategories">
              <input type="radio" class="form-check-input" id="radio1" name="questionCategorie.id" value="M"
                style="  width: 17px; height: 17px; transform: scale(1); margin-right: 5px;"
                (change)="changeQuestionCategory(questionCategorie.id)"> <span
                style="margin-right: 20px;position: relative;bottom: 3px;">{{questionCategorie.name}}</span>
              <!--[attr.disabled]="enableButtons"-->
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline mb-0">
          <li class="next list-inline-item float-right">
            <button class="btn cancelbutton " (click)="showMainContainer()">Cancel</button>
            <button class="btn nextbutton" (click)="nextToStepTwo()">Next</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

<div style="padding: 15px;" *ngIf="addPaper_two_step_two == true">
  <form [formGroup]="createPatternTwoForm">
    <h4 style="border-bottom: 1px solid #ced4da;padding: 1%;"> Add Details</h4>
    <div class="row">
      <div class="col-sm-3">
        <label class="col-form-label label-under">Subjects</label>
        <ng-select id="fnam" [items]="subjectList" bindLabel="name" [multiple]="true" [closeOnSelect]="false"
          formControlName="subjects" placeholder="Select Subjects" [clearable]="isSelectSubjectDisabled"
          bindValue="uniqueId">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:2">
              <span class="ng-value-label"> {{item.name}}</span>
              <span class="ng-value-icon right" *ngIf="!isSelectSubjectDisabled" (click)="clear(item)"
                aria-hidden="true">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 2">
              <span class="ng-value-label">+{{items.length - 2}}</span>
            </div>
          </ng-template>

        </ng-select>
      </div>
      <div class="col-sm-3">
        <label class="col-form-label label-under">Section Per Subject</label>
        <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="sctions"
          onKeyPress="if(this.value.length==2) return false;" class="form-control" id="Sectionpersubject"
          placeholder="Section per subject" #secPerSubject maxlength="2" />
        <p class="badge position-absolute inputBoxCount"
          [ngClass]="{'badge-blue': secPerSubject.value.length !== 2,'badge-danger': secPerSubject.value.length == 2}">
          {{ secPerSubject.value.length }} / 2</p>
      </div>
      <div class="col-sm-3">
        <label class="col-form-label label-under">Total Question</label>
        <input type="text" (keypress)="numberOnly($event)" class="form-control"
          onKeyPress="if(this.value.length==3) return false;" formControlName="totalQuestions" class="form-control"
          id="TotalQuestion" placeholder="Total Question" #totalQuestion maxlength="3" />
        <p class="badge position-absolute inputBoxCount"
          [ngClass]="{'badge-blue': totalQuestion.value.length !== 3,'badge-danger': totalQuestion.value.length == 3}">
          {{ totalQuestion.value.length }} / 3</p>
      </div>
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">
        <label class="col-form-label label-under">Exam Duration* (Minutes)</label>
        <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="duration"
          class="form-control" id="TotalQuestion" placeholder="Exam Duration"
          onKeyPress="if(this.value.length==3) return false;" #examDuration maxlength="3" />
        <p class="badge position-absolute inputBoxCount"
          [ngClass]="{'badge-blue': examDuration.value.length !== 3,'badge-danger': examDuration.value.length == 3}"> {{
          examDuration.value.length }} / 3</p>
      </div>
      <div class="col-sm-3" *ngIf="isJEAdvancePaper == false">
        <div class="form-group">
          <label for="lastName" class="col-form-label label-under">Exam Type</label>
          <div class="form-check-inline" style="margin-top: 10px;">
            <label class="form-check-label" for="questionCategorie.id"
              *ngFor="let questionCategorie of questionCategories">
              <input type="radio" class="form-check-input" id="radio1" [attr.disabled]="enableButtons"
                name="questionCategorie.id" value="M"
                style="  width: 17px; height: 17px; transform: scale(1); margin-right: 5px;"
                (change)="changeQuestionCategory2(questionCategorie.id)"> <span
                style="margin-right: 20px;">{{questionCategorie.name}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline mb-0">
          <li class="next list-inline-item float-right">
            <button class="btn cancelbutton " (click)="cancelPaper2()">Cancel</button>
            <button class="btn nextbutton" (click)="addPaper()">save</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

<div style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;" *ngIf="isPatternSetpTwo == true">
  <div class="row d-flex flex-row" *ngIf="isJEAdvancePaper == true && isJEAdvancePaperSchemeDuplicate == false">
    <div class="col-sm-2 col-box px-2">

    </div>
    <div class="col-sm-2 col-box px-2">

    </div>
    <div class="col-sm-6 col-box">

    </div>
    <div class="col-sm-1 col-box" (click)="showPaper1Form()">
      <div class="paperTitle p-2">
        Paper 1
      </div>
    </div>
    <div class="col-sm-1 col-box" (click)="showPaper2Form()">
      <div class="paperTitle p-2">
        Paper 2
      </div>
    </div>
  </div>
  <div>
    <h4 style="border-bottom: 1px solid #ced4da;padding: 1%;"> Add Section Details</h4>
    <form [formGroup]="patternForm">
      <div *ngIf="showPaper1 == true">
        <div formArrayName="patterns">
          <div *ngFor="let examPattern of patternForm.controls.patterns['controls']; let i=index;" [formGroupName]="i">
            <div *ngIf="i == 0">
              <h5 class="text-center">Paper 1</h5>
              <div class="col-lg-12" formArrayName="subjectSectionDtoList">
                <div *ngFor="let subject of examPattern.controls.subjectSectionDtoList['controls']; let j=index;"
                  [formGroupName]="j" style="margin-bottom: 10px;">
                  <article>
                    <div style="background-color: #0076d1;color: white;padding-top: 1%;padding-bottom: 1%;"
                      [collapse]="content2" class="collapse-title"> {{subject.get('subject.name').value}}
                      <span class="collapse-title-expand-indicator">
                        <img class="collapse-icon" src="assets/images/greater.png" style="height: 20px; width: 20px;"
                          alt="plus-icon">
                      </span>
                    </div>

                    <div collapseContent #content2="collapseContent" class="collapse show">
                      <div class="form-group row mb-12" formArrayName="sectionDtoList">
                        <div class="table-responsive">
                          <table class="table table-bordered mb-0">
                            <thead class="thead-light">
                              <tr>
                                <th style="width: 15%;">Sections</th>
                                <th style="width: 19%;">Question Type</th>
                                <th>Questions</th>
                                <th style="width: 25%;" colspan="3">
                                  Marking Scheme </th>
                                <th style="width: 14%;">Exam Instruction</th>
                                <th style="width: 9%;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let section of subject.controls.sectionDtoList['controls']; let k=index"
                                [formGroupName]="k">
                                <td>
                                  <input type="text" formControlName="name" class="form-control" placeholder=""
                                    (input)="checkExists($event.target.value,i,j,k)" #sectionName maxlength="20" />
                                  <p class="badge position-absolute inputBoxCount"
                                    [ngClass]="{'badge-blue': sectionName.value.length !== 20,'badge-danger': sectionName.value.length == 20}">
                                    {{ sectionName.value.length }} / 20</p>
                                </td>
                                <td>
                                  <select class="form-control custom-select" formControlName="questionType"
                                    style="height: 36px;border-radius: 0px;">
                                    <option *ngFor="let questionType of questionTypes" value="{{questionType.id}}">
                                      {{questionType.name}}
                                    </option>
                                  </select>
                                </td>

                                <td style="padding-bottom: 0;">
                                  <div class="row" style="display: flex;">
                                    <div class="col-12" id="{{i}}check{{k}}check{{j}}">
                                      <input type="text" maxlength="2" size="2" placeholder=""
                                        formControlName="totalQuestions" (keypress)="numberOnly($event)"
                                        class="form-control autonumber"
                                        (input)="checkQuestionCountPaper1($event.target.value)">
                                    </div>
                                    <div class="isHideOptional" id="{{i}}checkoption{{k}}checkoption{{j}}">
                                      <input type="text" maxlength="2" size="2" placeholder=""
                                        formControlName="optionalQuestions" (keypress)="numberOnly($event)"
                                        class="form-control autonumber">
                                    </div>
                                  </div>
                                  <div class="table-checkbox c-checkbox">
                                    <label class="label-student checkAll">
                                      <input type="checkbox" name="list_name" value="m1"
                                        (change)="onOptionalCheck2(i+'check'+k+'check'+j,i+'checkoption'+k+'checkoption'+j,i,j,k)" />
                                      <span style="margin-left: 10px;">Optional</span>

                                    </label>
                                  </div>
                                </td>
                                <!--marking scheme-->
                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value== 1 && section.controls['questionType'].value != 2">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="positiveMarks" class="form-control" placeholder="RM"
                                    ngbTooltip="Enter Right Marks">
                                </td>
                                <td *ngIf="examPattern.controls['questionCategory'].value== 2" colspan="3">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="positiveMarks" class="form-control" placeholder="RM"
                                    ngbTooltip="Enter Right Marks">
                                </td>
                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value==1  && section.controls['questionType'].value != 2"
                                  style="width: 80px;">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="negativeMarks" class="form-control" placeholder="WM"
                                    ngbTooltip="Enter Wrong Marks">
                                </td>
                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value==1  && section.controls['questionType'].value != 2"
                                  style="width: 80px;">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="leaveMarks" class="form-control" placeholder="LM"
                                    ngbTooltip="Enter Leave Marks">
                                </td>

                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value==1  && section.controls['questionType'].value == 2"
                                  colspan="3" style="padding-top: 22px;text-align: center;">
                                  <button type="button" class="btn btn-testType"
                                    *ngIf="section.controls['isMarkingScheme'].value == false"
                                    (click)="getMarkingScheme(markingSchemeModal,i,j,k)">Add
                                    Scheme &nbsp;<i class="fa fa-plus" style="font-size: 15px; margin-left: 5px;"></i>
                                  </button>
                                  <button type="button" class="btn btn-testType"
                                    *ngIf="section.controls['isMarkingScheme'].value == true"
                                    (click)="getMarkingScheme(markingSchemeModal,i,j,k)"> Scheme imported
                                    &nbsp;<i class="fa fa-external-link-alt"
                                      style="font-size: 15px; margin-left: 5px;"></i>
                                  </button>
                                </td>

                                <!-- marking scheme end -->

                                <td>
                                  <div class="btn btn-testType"
                                    *ngIf="!section.get('instructionsDto.instructiionAvailable').value"
                                    (click)="getInstruction(i, j, k, instructionModal)">
                                    <span>Instructions</span>
                                    <i class="fa fa-plus instructionbtn" style="margin-left: 5px;"></i>
                                  </div>
                                  <!-- if instructions are available then show this -->
                                  <div class="btn btn-testType"
                                    *ngIf="section.get('instructionsDto.instructiionAvailable').value"
                                    style="cursor: pointer; background: var(--app-colorNew); padding: 5%;width: 100%;"
                                    (click)="getInstruction(i, j, k, instructionModal)">
                                    <span style="color: white;">Check Here</span> &nbsp;
                                    <i class="fas fa-external-link-alt" style="color: white;"></i>
                                  </div>
                                </td>

                                <td style="text-align: center;vertical-align: middle;">
                                  <li *ngIf="subject.controls.sectionDtoList['controls'].length > 1"
                                    class="fas fa-trash-alt" (click)="removeSection(i, j, k)" title="Remove"
                                    style="color: #d83838cb;  cursor: pointer;">
                                  </li>
                                  <li *ngIf="k == subject.controls.sectionDtoList['controls'].length - 1"
                                    class="fa fa-plus icons add-icon float-right" (click)="addSection(i, j)" title="Add"
                                    style="color: #0091ff; cursor: pointer;"
                                    [ngStyle]="{'margin-left' : subject.controls.sectionDtoList['controls'].length > 1 ? '15px' :'' }">
                                    Add
                                  </li>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </article>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showPaper2 == true">
        <div formArrayName="patterns">
          <div *ngFor="let examPattern of patternForm.controls.patterns['controls']; let i=index;" [formGroupName]="i">
            <div *ngIf="i == 1">
              <h5 class="text-center">Paper 2</h5>
              <div class="col-lg-12" formArrayName="subjectSectionDtoList">
                <div *ngFor="let subject of examPattern.controls.subjectSectionDtoList['controls']; let j=index;"
                  [formGroupName]="j" style="margin-bottom: 10px;">
                  <article>
                    <div style="background-color: #0076d1;color: white;padding-top: 1%;padding-bottom: 1%;"
                      [collapse]="content2" class="collapse-title"> {{subject.get('subject.name').value}}
                      <span class="collapse-title-expand-indicator">
                        <img class="collapse-icon" src="assets/images/greater.png" style="height: 20px; width: 20px;"
                          alt="plus-icon">
                      </span>
                    </div>

                    <div collapseContent #content2="collapseContent" class="collapse show">
                      <div class="form-group row mb-12" formArrayName="sectionDtoList">
                        <div class="table-responsive">
                          <table class="table table-bordered mb-0">
                            <thead class="thead-light">
                              <tr>
                                <th style="width: 15%;">Sections</th>
                                <th style="width: 19%;">Question Type</th>
                                <th>Questions</th>
                                <th style="width: 25%;" colspan="3">
                                  Marking Scheme </th>
                                <th style="width: 14%;">Exam Instruction</th>
                                <th style="width: 9%;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let section of subject.controls.sectionDtoList['controls']; let k=index"
                                [formGroupName]="k">
                                <td>
                                  <input type="text" formControlName="name" class="form-control" placeholder=""
                                    (input)="checkExists($event.target.value,i,j,k)">
                                </td>
                                <td>
                                  <select class="form-control custom-select" formControlName="questionType"
                                    style="height: 36px;border-radius: 0px;">
                                    <option *ngFor="let questionType of questionTypes" value="{{questionType.id}}">
                                      {{questionType.name}}
                                    </option>
                                  </select>
                                </td>

                                <td style="padding-bottom: 0;">
                                  <div class="row" style="display: flex;">
                                    <div class="col-12" id="{{i}}check{{k}}check{{j}}">
                                      <input type="text" maxlength="2" size="2" placeholder=""
                                        formControlName="totalQuestions" (keypress)="numberOnly($event)"
                                        class="form-control autonumber"
                                        (input)="checkQuestionCountPaper2($event.target.value)">
                                    </div>
                                    <div class="isHideOptional" id="{{i}}checkoption{{k}}checkoption{{j}}">
                                      <input type="text" maxlength="2" size="2" placeholder=""
                                        formControlName="optionalQuestions" (keypress)="numberOnly($event)"
                                        class="form-control autonumber">
                                    </div>
                                  </div>
                                  <div class="table-checkbox c-checkbox">
                                    <label class="label-student checkAll">
                                      <input type="checkbox" name="list_name" value="m1"
                                        (change)="onOptionalCheck2(i+'check'+k+'check'+j,i+'checkoption'+k+'checkoption'+j,i,j,k)" />
                                      <span style="margin-left: 10px;">Optional</span>

                                    </label>
                                  </div>
                                </td>
                                <!--marking scheme-->
                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value== 1 && section.controls['questionType'].value != 2">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="positiveMarks" class="form-control" placeholder="RM"
                                    ngbTooltip="Enter Right Marks">
                                </td>
                                <td *ngIf="examPattern.controls['questionCategory'].value== 2" colspan="3">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="positiveMarks" class="form-control" placeholder="RM"
                                    ngbTooltip="Enter Right Marks">
                                </td>
                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value==1  && section.controls['questionType'].value != 2"
                                  style="width: 80px;">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="negativeMarks" class="form-control" placeholder="WM"
                                    ngbTooltip="Enter Wrong Marks">
                                </td>
                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value==1  && section.controls['questionType'].value != 2"
                                  style="width: 80px;">
                                  <input type="text" name="" maxlength="2" size="2" (keypress)="numberOnly($event)"
                                    formControlName="leaveMarks" class="form-control" placeholder="LM"
                                    ngbTooltip="Enter Leave Marks">
                                </td>

                                <td
                                  *ngIf="examPattern.controls['questionCategory'].value==1  && section.controls['questionType'].value == 2"
                                  colspan="3" style="padding-top: 22px;text-align: center;">
                                  <button type="button" class="btn btn-testType"
                                    *ngIf="section.controls['isMarkingScheme'].value == false"
                                    (click)="getMarkingScheme(markingSchemeModal,i,j,k)">Add
                                    Scheme &nbsp;<i class="fa fa-plus" style="font-size: 15px; margin-left: 5px;"></i>
                                  </button>
                                  <button type="button" class="btn btn-testType"
                                    *ngIf="section.controls['isMarkingScheme'].value == true"
                                    (click)="getMarkingScheme(markingSchemeModal,i,j,k)"> Scheme imported
                                    &nbsp;<i class="fa fa-external-link-alt"
                                      style="font-size: 15px; margin-left: 5px;"></i>
                                  </button>
                                </td>

                                <!-- marking scheme end -->

                                <td>
                                  <div class="btn btn-testType"
                                    *ngIf="!section.get('instructionsDto.instructiionAvailable').value"
                                    (click)="getInstruction(i, j, k, instructionModal)">
                                    <span>Instructions</span>
                                    <i class="fa fa-plus instructionbtn" style="margin-left: 5px;"></i>
                                  </div>
                                  <!-- if instructions are available then show this -->
                                  <div class="btn btn-testType"
                                    *ngIf="section.get('instructionsDto.instructiionAvailable').value"
                                    style="cursor: pointer; background: var(--app-colorNew); padding: 5%;width: 100%;"
                                    (click)="getInstruction(i, j, k, instructionModal)">
                                    <span style="color: white;">Check Here</span> &nbsp;
                                    <i class="fas fa-external-link-alt" style="color: white;"></i>
                                  </div>
                                </td>

                                <td style="text-align: center;vertical-align: middle;">
                                  <li *ngIf="subject.controls.sectionDtoList['controls'].length > 1"
                                    class="fas fa-trash-alt" (click)="removeSection(i, j, k)" title="Remove"
                                    style="color: #d83838cb;  cursor: pointer;">
                                  </li>
                                  <li *ngIf="k == subject.controls.sectionDtoList['controls'].length - 1"
                                    class="fa fa-plus icons add-icon float-right" (click)="addSection(i, j)" title="Add"
                                    style="color: #0091ff; cursor: pointer;"
                                    [ngStyle]="{'margin-left' : subject.controls.sectionDtoList['controls'].length > 1 ? '15px' :'' }">
                                    Add
                                  </li>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </article>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline mb-0">
          <li class="next list-inline-item float-right">
            <button class="btn cancelbutton " (click)="showMainContainer()">Cancel</button>
            <button class="btn nextbutton" (click)="submitPatternForm();">Save</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- </form> -->
</div>
<div style="padding: 15px;" *ngIf="addPaper_two_step_one == true">
  <div class="row">
    <div class="col-sm-4">
      <div class="col-sm-12">
        <div class="card">
          <div class="row" style="height: 75px;">
            <div class="col-sm-6">
              <h4>Paper 1</h4>
            </div>
            <div class="col-sm-6">
              <img class="float-right" src="assets/images/new-auth/Rocket.png" alt=""
                style="height: 30px; width: 50px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <ul class="list-group list-group-horizontal align-items-center">
                <li class="list-group-item px-0" style="border: none"> <img src="assets/images/section.png" alt=""
                    style="height: 30px; width: 30px; margin-top:10px" /></li>
                <li class="list-group-item pl-1" style="border: none;">
                  <div style="line-height: 0.1;">
                    <h5>{{createPatternForm.get('sctions').value}}</h5>
                    <br>
                    <div>Section</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-group list-group-horizontal align-items-center">
                <li class="list-group-item px-0" style="border: none"> <img src="assets/images/question.png" alt=""
                    style="height: 30px; width: 30px; margin-top:10px" /></li>
                <li class="list-group-item pl-1" style="border: none">
                  <div style="line-height: 0.1;">
                    <h5>{{createPatternForm.get('totalQuestions').value}}</h5>
                    <br>
                    <div>Questions</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-group list-group-horizontal align-items-center">
                <li class="list-group-item pr-0" style="border: none"> <img src="assets/images/duration.png" alt=""
                    style="height: 30px; width: 30px; margin-top:10px" /></li>
                <li class="list-group-item pl-1" style="border: none">
                  <div style="line-height: 0.1;">
                    <h5>{{createPatternForm.get('duration').value}} Min</h5>
                    <br>
                    <div>Duration</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="paperTwoCard == true">
      <div class="col-sm-12">
        <div class="card">
          <div class="row" style="height: 75px;">
            <div class="col-sm-6">
              <h4>Paper 2</h4>
            </div>
            <div class="col-sm-6">
              <img class="float-right" src="assets/images/new-auth/Rocket.png" alt=""
                style="height: 30px; width: 50px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <ul class="list-group list-group-horizontal align-items-center">
                <li class="list-group-item pr-0" style="border: none"> <img src="assets/images/section.png" alt=""
                    style="height: 30px; width: 30px; margin-top:10px" /></li>
                <li class="list-group-item pl-1" style="border: none">
                  <div style="line-height: 0.1;">
                    <h5>{{createPatternTwoForm.get('sctions').value}}</h5>
                    <br>
                    <div>Section</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item pr-0" style="border: none"> <img src="assets/images/question.png" alt=""
                    style="height: 30px; width: 30px; margin-top:10px" /></li>
                <li class="list-group-item pl-1" style="border: none;">
                  <div style="line-height: 0.1;">
                    <h5>{{createPatternTwoForm.get('totalQuestions').value}}</h5>
                    <br>
                    <div>Questions</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-group list-group-horizontal align-items-center">
                <li class="list-group-item pr-0" style="border: none"> <img src="assets/images/duration.png" alt=""
                    style="height: 30px; width: 30px; margin-top:10px" /></li>
                <li class="list-group-item pl-1" style="border: none">
                  <div style="line-height: 0.1;">
                    <h5>{{createPatternTwoForm.get('duration').value}} Min</h5>
                    <br>
                    <div>Duration</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8" *ngIf="paperTwoCard != true">
      <div style="border: dashed 2px 	#D8D8D8; height: 150px;  border-radius: 25px;">
        <div class="row align-items-center" style="margin-left: 30px; margin-top: 45px;">
          <div class="col-sm-12" (click)="addPaperTwo()">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="exampleCheckbox1" value="3"
                style="height: 20px; width: 20px; transform: scale(1);" disabled>
              <h5 style="margin-left: 15px;">Do you want to add paper 2?</h5>
            </label>
          </div>
          <div class="col-sm-12" (click)="CreateDuplicatePaper()">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="exampleCheckbox1" value="3"
                style="height: 20px; width: 20px; transform: scale(1);" disabled>
              <h5 style="margin-left: 15px;">Keep the same info for paper 2.</h5>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="enableButtons">
    <div class="col-sm-12">
      <ul class="list-inline mb-0">
        <li class="next list-inline-item float-right">
          <button class="btn cancelbutton " (click)="showMainContainer()">Cancel</button>
          <button class="btn nextbutton" (click)=" processForSectionDetails()">Next</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #customType role="document" let-modal="close">
  <div class="row mx-0">
    <div class="modal-header w-100">
      <h4 class="modal-title">Create Category</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="createCategoryForm">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-12" style="margin-top: 15px;">
            <label class="col-form-label label-under">Category name</label>
            <input type="text" class="form-control" formControlName="name" id="category" placeholder="Pattern Category"
              #categoryName maxlength="20" />
            <p class="badge position-absolute inputBoxCount"
              [ngClass]="{'badge-blue': categoryName.value.length !== 20,'badge-danger': categoryName.value.length == 20}">
              {{ categoryName.value.length }} / 20</p>
          </div>
          <div class="col-12" style="margin-top: 15px;">
            <label class="col-form-label label-under">Targeted Exam</label>
            <ng-select [items]="masterCourseList" class="custom1" bindLabel="name" bindValue="uniqueId"
              [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select Targeted Exam"
              formControlName="masterCourse" (change)="getCourseSubjects($event)" [searchable]="false"></ng-select>
          </div>
          <div class="col-12" style="margin-top: 15px;">
            <label>Subjects</label>
            <ng-select id="fnam" [items]="subjectList" bindLabel="name" [multiple]="true" [closeOnSelect]="false"
              formControlName="subjects" placeholder="Select Subjects" bindValue="uniqueId">

              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:2">
                  <span class="ng-value-label"> {{item.name}}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 2">
                  <span class="ng-value-label">+{{items.length - 2}}</span>
                </div>
              </ng-template>

            </ng-select>

          </div>
        </div>
        <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                  (click)="modal('Cross click')">Close</button></div>
              <div class="col-6"><button type="button" class="btn btn-testType" style="float: right;"
                  (click)="addCategory();modal('Cross click')">Submit</button></div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>

<ng-template #customTypePattern role="document" let-modal="close">
  <div class="row mx-0">
    <div class="modal-header w-100">
      <h4 class="modal-title">Create Pattern</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="createPatternForm">
        <div class="row">
          <div class="col-12">
            <label class="col-form-label label-under">Category name</label>
            <ng-select [items]="category" class="custom1" bindLabel="name" bindValue="uniqueId" [multiple]="false"
              [closeOnSelect]="true" formControlName="category" [clearable]="false" placeholder="Select Category"
              [searchable]="false" (change)="changeCreatePatternCategory($event)"></ng-select>
          </div>
          <div class="col-12">
            <label class="col-form-label label-under">Pattern name</label>
            <input type="text" class="form-control" formControlName="name" class="form-control" id="category"
              placeholder="Pattern Category" #patternName maxlength="20" />
            <p class="badge position-absolute inputBoxCount"
              [ngClass]="{'badge-blue': patternName.value.length !== 20,'badge-danger': patternName.value.length == 20}">
              {{ patternName.value.length }} / 20</p>
          </div>
        </div>
        <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
          <div class="col-md-1"></div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                  (click)="modal('Cross click')">Close</button></div>
              <div class="col-6"><button type="button" class="btn btn-testType" style="float: right;"
                  (click)="startPattern(); modal('Cross click')">Submit</button></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- vinayak added -->
<ng-template #instructionModal let-modal="close">
  <div class="modal-header addInstructionHeader">
    <h4 class="modal-title">Add Instruction</h4>
    <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body addInstructionBody">
    <form [formGroup]="instructionForm">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group row mb-12 justify-content-center">
            <div class="radio radio-info form-check-inline">
              <input type="radio" name="instructionType" value="2" formControlName="instructionType"
                id="instructionType1" (change)="resetInstructionValue()">
              <label class="label-text" for="inlineRadio1"> Upload Image </label>
            </div>
            <div class="radio radio-info form-check-inline">
              <input type="radio" name="instructionType" value="3" formControlName="instructionType"
                id="instructionType2" (change)="resetInstructionValue()">
              <label class="label-text" for="inlineRadio2"> Enter Instruction </label>
            </div>
            <div class="radio radio-info form-check-inline">
              <input type="radio" name="instructionType" value="1" formControlName="instructionType"
                id="instructionType3">
              <label class="label-text" for="inlineRadio3"> Import </label>
            </div>
            <div
              *ngIf="instructionForm.controls['instructionType'].errors && instructionForm.controls['instructionType'].touched"
              class="invalid-feedback">
              <div *ngIf="instructionForm.controls['instructionType'].errors?.required">This is required
              </div>
            </div>
          </div>

          <div *ngIf="instructionForm.controls['instructionType'].value==1" class="form-group row mb-12">

            <div class="col-lg-6">
              <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Exam Name">
              </ng-select>
            </div>
            <div class="col-lg-6">

              <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Question Type">
              </ng-select>
            </div>

            <div class="col-lg-12">
              <h5 style="margin-left: 10px;">Message</h5>
              <div>
                <textarea class="textarea-card" rows="6"></textarea>
              </div>
            </div>
          </div>

          <div *ngIf="instructionForm.controls['instructionType'].value==2" class="form-group row mb-12">

            <div style="width: 100%;">
              <ng-template [ngTemplateOutlet]="dropZone"></ng-template>
            </div>
          </div>

          <div *ngIf="instructionForm.controls['instructionType'].value==3">
            <app-ngx-editor formControlName="instructionTextOrImage" [placeholder]="'Enter text here...'"
              [spellcheck]="true" [config]="editorConfig">
            </app-ngx-editor>
          </div>

        </div>
      </div>
    </form>
    <div class="col-12 text-center button-group" style="padding-left: 5%;">
      <button type="button" class="btn btn-outline-dark addInstructionPopupBtn"
        (click)="modal('Cross click')">Close</button>
      <button type="button" class="btn btn-primary addInstructionPopupBtn" (click)="saveInstruction()"
        (click)="modal('Cross click')" [disabled]="!instructionForm.valid"
        style="background-color: var(--app-colorNew);">Save</button>
    </div>
  </div>

</ng-template>
<ng-template #dropZone>
  <div class="uploadfilecontainer card" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event)">
    <p class="dropFileText">Drop your file here ,or &nbsp;<span style="color:#0091ff;"> browse </span> </p>
    <p style="display: flex; justify-content: center;color: #8080807a; font-size: 12px;">JPG,PNG</p>
  </div>
  <div class="fileListContainer">
    <div class="files-list" *ngFor="let file of files;let i=index">
      <p>{{ file | truncatePipe:30 }}</p>
      <button class="delete-file" (click)="deleteAttachment(i)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>



</ng-template>


<ng-template #markingSchemeModal let-modal="close">
  <div class="modal-content" style="width: 116%;">
    <div class="modal-header markingSchemeHeader">
      <h4 class="modal-title">Add Scheme</h4>
      <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-marking-scheme [markingSchemeForm]="markingSchemeForm" [isImporedScheme]="isImporedScheme">
      </app-marking-scheme>


      <form [formGroup]="markingSchemeForm">
        <span *ngIf="markingSchemeForm.controls['schemeType'].value==2">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <button type="button" class="btn saveAs" (click)="saveAndImportScheme(true)"
                [disabled]="!markingSchemeForm.valid" style="margin-right: 8px;">Save as
                Template And Use</button>
              <button type="button" class="btn saveAddScheme" (click)="saveAndImportScheme(false)"
                (click)="modal('Cross click')" [disabled]="!markingSchemeForm.valid">Save</button>
            </div>
          </div>
        </span>

        <span *ngIf="markingSchemeForm.controls['schemeType'].value==1">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"> <button type="button" class="btn btn-secondary cancelScheme"
                (click)="modal('Cross click')">Cancel</button></div>
            <div class="col-md-3"> <button type="button" class="btn btn-info saveScheme" (click)="saveimportedScheme()"
                (click)="modal('Cross click')" [disabled]="!markingSchemeForm.valid">Save</button>
            </div>
            <div class="col-md-3"></div>
          </div>
        </span>


      </form>
    </div>


  </div>

</ng-template>

<!-- vinayak added end -->