.header{
    background-color: #0091ff17;
    padding-top: 11px;
    padding-bottom: 11px;
    color: black;
    margin-bottom: 30px;
}

.gradeBox{
    text-align: center;
    vertical-align: middle;
    border: 1px solid #0091ff;
    background-color: #0091ff;
    padding: 8px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }

  .deactivategradeBox{
    text-align: center;
    vertical-align: middle;
    border: 1px solid #0091ff;
    padding: 8px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #0091ff;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }

  .cancelBox{
    text-align: center;
    vertical-align: middle;
    border: 1px solid #808080;
    padding: 11px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #808080;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }

  .cancelBox:hover{
      color: white;
      background-color: #808080;
  }

  .saveBox:hover{
    color: white;
    background-color: #0091ff;
    }

  .saveBox{
    text-align: center;
    vertical-align: middle;
    border: 1px solid #0091ff;
    padding: 11px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: 0091ff;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }