<div class="row header">
    <div class="col-md-2"></div>
    <div class="col-md-4">Select Boards</div>
    <div class="col-md-4">Select Grades</div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <ng-select [multiple]="true" [closeOnSelect]="false" placeholder="Select" [clearable]="false"
            [searchable]="false" [items]="masterBoardList" bindLabel="name" bindValue="uniqueId" [(ngModel)]="boards"
            (change)="bardSelected($event)">
            <!-- <ng-option *ngFor="let board of masterBoardList;" [value]="board.id">{{board.name}}</ng-option> -->
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:3">
                    <span class="ng-value-label"> {{item.name}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 3">
                    <span class="ng-value-label">+{{items.length - 3}}</span>
                </div>
            </ng-template>
        </ng-select>
    </div>
    <div class="col-md-4">
        <ng-select [multiple]="true" [closeOnSelect]="true" placeholder="Select" [searchable]="false"
            [items]="masterGradeList" bindLabel="name" bindValue="uniqueId" [(ngModel)]="grades"
            (change)="gradeSelected($event)">
            <!-- <ng-option *ngFor="let grade of masterGradeList;" [value]="grade.id">{{grade.name}}</ng-option> -->
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:4">
                    <span class="ng-value-label"> {{item.name}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 4">
                    <span class="ng-value-label">+{{items.length - 4}}</span>
                </div>
            </ng-template>
        </ng-select>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="row" style="margin-left: 0px;">
            <div class="col-md-5 gradeBox" *ngFor="let board of boardList;let i=index;" id="board{{i}}"
                (click)="addEditBoard(board,'board'+i)">
                <span>{{board.name}}</span> <!-- (click)="addEditBoard(board,'board'+i)" -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row" style="margin-left: 0px;">
            <div class="col-md-5 gradeBox" *ngFor="let grade of gradeList;let j=index;" id="grade{{j}}"
                (click)="addEditGrade(grade,'grade'+j)">
                <span>{{grade.name}}</span> <!-- (click)="addEditGrade(grade,'grade'+j)" -->
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div *ngIf="!isFromSetup" class="row" style="margin-top: 30px;">
    <div class="col-md-2"></div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="row" style="margin-left: 0px;">
            <div class="col-md-5 cancelBox" (click)="cancelBtn(false)">
                <span>Cancel</span>
            </div>

            <div class="col-md-5 saveBox" (click)="onSubmit()">
                <span>Save</span>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div *ngIf="isFromSetup" class="row" style="margin-top: 30px;">
    <div class="col-md-2"></div>
    <div class="col-md-6">

    </div>
    <div class="col-md-4">
        <div class="row" style="margin-left: 0px;">
            <div class="col-md-5 saveBox" (click)="onSubmit()">
                <span>Save and Next</span>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>