@import "../common-r";
.btn-save,
.btn-cancel {
    width: 135px;
    cursor: pointer;
}
.conflictsBtns {
    right: 10px !important;
}
.conflictsBtns .btn-cancel {
    border: 2px solid var(--newApp-color);
    color: var(--newApp-color) !important;
}
.conflictsBtns .ignore {
    margin-right: 15px;
}
.conflictsBtns .btn-save,
.conflictsBtns .btn-cancel {
    width: 163px;
    font-size: 14px;
}
.btn-remove {
    background-color: var(--danger);
    border-color: var(--danger);
    height: 39px;
    margin-top: 7px;
    width: 180px;
    padding: 5px;
}
.table th {
    border: 0px;
}
.table th,
.table td {
    padding-right: 3px;
}
.table .fa,
.table .fas {
    cursor: pointer;
}
.table .fa-trash {
    font-size: 18px;
    color: #ff0b0b;
    float: left;
    margin-left: 3px;
    margin-top: 3px;
}
.table .fa-pen,
.table .fa-save {
    font-size: 14px;
    color: var(--newApp-color);
    height: 25px;
    width: 25px;
    background-color: var(--newAppbg-color);
    border: 1px solid var(--newApp-color);
    border-radius: 5px;
    padding-top: 4px;
}
.table .delete {
    margin-top: 3px;
}
.table .edit {
    float: right;
    margin-right: 5px;
}

.removeLecture {
    float: right;
    cursor: pointer;
    color: #ee405a;
    background-color: #ffa1af38;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 12px;
}
.removeBreak {
    float: right;
    cursor: pointer;
    color: #ee405a;
    margin-top: 5px;
    padding: 2px 0px 2px 9px;
    font-size: 12px;
    margin-bottom: 0px;
}
.removeBreak .fa-times {
    background-color: #ffa1af38;
    padding: 2px 3px;
}
.removeLecturePopup {
    width: 54%;
    top: 0px;
    z-index: 1050;
    padding: 0px 0px 20px;
}
.fa-times {
    padding: 3px;
}
.selectSubject {
    width: 95%;
    margin: 5px auto;
    // padding-left: 22px;
}
.selectSubject .subject {
    margin-bottom: 10px;
    margin-top: 5px;
}
.selectSubject .col-2 {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 21.666667%;
}
.selectAll {
    font-weight: 600;
    padding-top: 21px;
    margin-left: 20px;
}
.searchbox {
    width: 75%;
}
.searchbox .form-control {
    border-radius: 15px;
}
.search {
    &__container {
        padding-top: 14px;
    }

    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    &__input {
        width: 90%;
        padding: 7px 15px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;
        background-color: transparent;
        /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 40px;
        border: 1px solid #adadad;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        opacity: 0.7;

        &::placeholder {
            color: color(#3a3a3a a(0.8));
            // text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        &:hover,
        &:focus {
            outline: 0;
        }
    }
}
.count {
    color: var(--newApp-color);
}
.datePicker {
    box-shadow: 0 0px 6px 0 rgb(0 0 0 / 20%);
    padding: 8px;
    min-width: 280px;
    position: absolute;
    z-index: 1111;
    background-color: white;
}
::ng-deep bs-datepicker-inline .bs-datepicker-head,
::ng-deep bs-datepicker-inline .bs-datepicker-body {
    min-width: 250px;
}
.input-group .form-control {
    border-right: hidden;
}
.input-group-text,
.form-control {
    padding: 0.4rem 0.3rem;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
    border-color: var(--newApp-color);
}
::ng-deep bs-datepicker-inline thead th {
    vertical-align: middle !important;
    border-bottom: none !important;
}
::ng-deep bs-datepicker-inline th,
::ng-deep bs-datepicker-inline td {
    padding: 0rem !important;
    vertical-align: middle !important;
    border-top: none !important;
}
::ng-deep .datePicker .bs-datepicker {
    position: relative;
    left: 0px;
    box-shadow: none;
    background-color: aliceblue;
}
.datePicker label {
    font-size: 12px;
    margin-top: 10px;
}
::ng-deep .invisible .bs-datepicker-head button.next,
::ng-deep .invisible .bs-datepicker-head button.previous {
    visibility: hidden !important;
}
.col-4-5 {
    -webkit-box-flex: 0;
    flex: 0 0 37.666667%;
    max-width: 37.666667%;
}
.col-2-5 {
    -webkit-box-flex: 0;
    flex: 0 0 20.6666666667%;
    max-width: 20.6666666667%;
}
.checkbox input[type="checkbox"]:checked + label::before {
    background-color: var(--newApp-color);
    border-color: var(--newApp-color);
}
.checkbox input[type="checkbox"]:checked + label::after {
    border-color: #ffffff !important;
}

.checkbox label {
    font-weight: 500 !important;
}
.group {
    position: absolute;
    left: 100%;
    bottom: 11%;
}
.removeCategory {
    float: right;
    cursor: pointer;
    color: #ee405a;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 15px;
}
