<div *ngIf="type==2" [ngClass]="{'stack-back':isViewConflict}">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-5 pl-3">
            <h4>Add Lecture</h4>
        </div>
        <div class="col-2 containValue">
            <p>{{batchData.name}}</p>
            <span>Batch</span>
        </div>
        <div class="col-2 containValue">
            <p>{{periodData.dayName}}</p>
            <span>Day</span>
        </div>
        <div class="col-3 containValue">
            <p>{{periodData.periodName}}</p>
            <span>Period Name</span>
        </div>
    </div>
    <form [formGroup]="assignLectureForm" class="w-100 px-2 pb-3">
        <div class="row mx-0 mt-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Batch Group</label>
                    <i style="color: tomato;">* </i>
                    <ng-select [items]="batchGroupList" class="customSelect" bindLabel="name" groupBy="categoryName"
                        [selectableGroup]="false" formControlName="batchgroup" bindValue="uniqueId" [multiple]="true"
                        [closeOnSelect]="true" [clearable]="false" placeholder="Select batchgroup" [searchable]="false"
                        [ngClass]="{ 'is-invalid': submitted && f.batchgroup.errors }"
                        (change)="changeBatchGroup($event)"></ng-select>
                    <div *ngIf="submitted && f.batchgroup.errors" class="invalid-feedback">
                        <div *ngIf="f.batchgroup.errors.required">Please select batch group</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Subject</label>
                    <i style="color: #ff6347;">* </i>
                    <ng-select [items]="subjectList" class="customSelect" bindLabel="name" formControlName="subject"
                        bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select subject" [searchable]="false" (change)="changeSubject($event,1)"
                        [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"></ng-select>
                    <div *ngIf="submitted && f.subject.errors?.required" class="invalid-feedback"
                        style="display: block;">
                        Please select subject
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Classroom</label>
                    <i style="color: tomato;">* </i>
                    <ng-select [items]="classroomList" class="customSelect" bindLabel="name" bindValue="uniqueId"
                        formControlName="classRoomId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select classroom" [searchable]="false" (change)="changeClassRoom($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.classRoomId.errors }"></ng-select>
                    <div *ngIf="submitted && f.classRoomId.errors?.required" class="invalid-feedback"
                        style="display: block;">
                        <div *ngIf="f.classRoomId.value == null || f.classRoomId.value.length == 0">Please select
                            classroom
                        </div>
                    </div>
                    <p class="conflicts" *ngIf="f.classroomConflict.value" (click)="viewConflict(2)">View Conflict</p>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Teacher</label>
                    <i style="color: tomato;">* </i>
                    <ng-select [items]="teacherList" class="customSelect" bindLabel="name" formControlName="teacherIds"
                        bindValue="uniqueId" [multiple]="true" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select teacher" [searchable]="false" (change)="changeTeacher($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.teacherIds.errors }"></ng-select>
                    <div *ngIf="submitted && f.teacherIds.errors" class="invalid-feedback">
                        <div *ngIf="f.teacherIds.errors.required">Please select teacher</div>
                    </div>
                    <p class="conflicts" *ngIf="f.teacherConflict.value" (click)="viewConflict(1)">View Conflict
                    </p>
                </div>
            </div>
        </div>
        <div class="row buttons mt-3" [ngClass]="{'conflictsBtns': isConflicts}">
            <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
            <button class="btn btn-save btn-filled" *ngIf="!isConflicts" (click)="save(1)">Save</button>
            <button class="btn btn-save btn-filled ignore" *ngIf="isConflicts" (click)="save(2)">Ignore Conflict &
                Save</button>
            <button class="btn btn-save btn-filled" *ngIf="isConflicts" (click)="save(3)">Replace & Save</button>
        </div>
    </form>
</div>
<div *ngIf="type==3">
    <form [formGroup]="batchPeriodForm" class="w-100 px-2 py-3">
        <div class="row mx-0">
            <div class="col-12">
                <div class="form-group">
                    <label for="fname">Batch</label>
                    <ng-select [items]="batchList" class="customSelect" bindLabel="name" formControlName="batch"
                        bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select batch" [searchable]="false"
                        [ngClass]="{ 'is-invalid': submitted && batchPeriodForm.controls.batch.errors }"></ng-select>
                    <div *ngIf="submitted && batchPeriodForm.controls.batch.errors" class="invalid-feedback">
                        <div *ngIf="batchPeriodForm.controls.batch.errors.required">Please select batch</div>
                    </div>
                </div>
            </div>

            <div class="col-12" formArrayName="dayPeriodList">
                <div class="row mx-0"
                    *ngFor="let dayPeriod of batchPeriodForm.controls.dayPeriodList['controls']; let j = index;"
                    [formGroupName]="j">
                    <div class="col-6 pl-0">
                        <div class="form-group">
                            <label for="fname" *ngIf="j==0">Day</label>
                            <ng-select [items]="daysList" class="customSelect" bindLabel="day" formControlName="day"
                                bindValue="dayValue" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                                placeholder="Select" [searchable]="false"
                                [ngClass]="{ 'is-invalid': submitted && dayPeriod.controls.day.errors }"></ng-select>
                            <div *ngIf="submitted && dayPeriod.controls.day.errors" class="invalid-feedback">
                                <div *ngIf="dayPeriod.controls.day.errors.required">Please select day</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 px-0">
                        <div class="form-group">
                            <label for="fname" *ngIf="j==0">Period</label>
                            <ng-select [items]="periodList" class="customSelect" bindLabel="name"
                                formControlName="period" bindValue="id" [multiple]="false" [closeOnSelect]="true"
                                [clearable]="false" placeholder="Select" [searchable]="false"
                                [ngClass]="{ 'is-invalid': submitted && dayPeriod.controls.period.errors }"></ng-select>
                            <div *ngIf="submitted && dayPeriod.controls.period.errors" class="invalid-feedback">
                                <div *ngIf="dayPeriod.controls.period.errors.required">Please select period</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="title addMore" (click)="addMore(1)"><i class="fas fa-plus"></i>Add more</p>
            </div>
        </div>
        <div class="row buttons mt-3">
            <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
            <button class="btn btn-save btn-filled" (click)="saveBatchPeriod()">Save</button>
        </div>
    </form>
</div>
<div *ngIf="type==4" [ngClass]="{'stack-back':isViewConflict||isRemoeLecture}">
    <div class="row popupHeading align-items-center mx-0">
        <div class="col-4 pl-3">
            <h4>Edit Lecture</h4>
        </div>
        <div class="containValue" *ngIf="childtype!=4"
            [ngClass]="{'col-3': childtype==2||childtype==1,'col-5':childtype==3}">
            <p>{{batchData.name}}</p>
            <span>Batch</span>
        </div>
        <div class="col-2 containValue" *ngIf="childtype!=4">
            <p>{{periodData.dayName}}</p>
            <span>Day</span>
        </div>
        <div class="col-3 containValue" *ngIf="childtype!=4">
            <p>{{periodData.periodName}}</p>
            <span>Period Name</span>
        </div>
    </div>
    <form [formGroup]="assignLectureForm" class="w-100 pt-2 pb-3 subjectTeacher">
        <div class="row mx-3 pt-1">
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Day</label>
                    <ng-select [items]="daysList" class="customSelect" bindLabel="name" formControlName="day"
                        bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select" [searchable]="false" (change)="changeDate($event)"
                        [ngClass]="{ 'is-invalid': submitted && st.day.errors }"></ng-select>
                    <div *ngIf="submitted && st.day.errors" class="invalid-feedback">
                        <div *ngIf="st.day.errors.required">Please select day</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Period</label>
                    <ng-select [items]="periodList" class="customSelect" bindLabel="name" formControlName="periodId"
                        bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select period" [searchable]="false" (change)="changePeriod($event)"
                        [ngClass]="{ 'is-invalid': submitted && st.periodId.errors }"></ng-select>
                    <div *ngIf="submitted && st.periodId.errors" class="invalid-feedback">
                        <div *ngIf="st.periodId.errors.required">Please select period</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Batch Group</label>
                    <ng-select [items]="batchGroupList" class="customSelect" bindLabel="name" groupBy="categoryName"
                        [selectableGroup]="false" formControlName="groupIds" bindValue="uniqueId" [multiple]="true"
                        [closeOnSelect]="true" [clearable]="false" placeholder="Select batchgroup" [searchable]="false"
                        [ngClass]="{ 'is-invalid': submitted && st.groupIds.errors }"
                        (change)="changeBatchGroup($event)"></ng-select>
                    <div *ngIf="submitted && st.groupIds.errors" class="invalid-feedback">
                        <div *ngIf="st.groupIds.errors.required">Please select batchgroup</div>
                    </div>
                </div>
            </div>
            <div class="col-6" *ngIf="childtype==3">
                <div class="form-group">
                    <label for="fname">Shift</label>
                    <i style="color: tomato;">* </i>
                    <ng-select [items]="shiftLsit" class="customSelect" bindLabel="name" formControlName="shift"
                        bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select shift" [searchable]="false"
                        [ngClass]="{ 'is-invalid': submitted && st.shift.errors }"></ng-select>
                    <div *ngIf="submitted && st.shift.errors?.required" class="invalid-feedback">
                        Please select shift
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Subject</label>
                    <i style="color: #ff6347;">* </i>
                    <ng-select [items]="subjectList" class="customSelect" bindLabel="name" formControlName="subjectId"
                        bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select subject" [searchable]="false" (change)="changeSubject($event,1)"
                        [ngClass]="{ 'is-invalid': submitted && st.subjectId.errors }"></ng-select>
                    <div *ngIf="submitted && st.subjectId.errors?.required" class="invalid-feedback"
                        style="display: block;">
                        Please select subject
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Classroom</label>
                    <ng-select [items]="classroomList" class="customSelect" bindLabel="name"
                        formControlName="classRoomId" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                        [clearable]="false" placeholder="Select clssroom" [searchable]="false"
                        (change)="changeClassRoom($event)"
                        [ngClass]="{ 'is-invalid': submitted && st.classRoomId.errors }"></ng-select>
                    <div *ngIf="submitted && st.classRoomId.errors" class="invalid-feedback">
                        <div *ngIf="st.classRoomId.errors.required">Please select clssroom</div>
                    </div>
                    <p class="conflicts" *ngIf="st.classroomConflict.value && childtype!=2" (click)="viewConflict(2)">
                        View Conflict</p>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Teacher</label>
                    <ng-select [items]="teacherList" class="customSelect" bindLabel="name" formControlName="teacherIds"
                        bindValue="uniqueId" [multiple]="true" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select teacher" [searchable]="false" (change)="changeTeacher($event)"
                        [ngClass]="{ 'is-invalid': submitted && st.teacherIds.errors }"></ng-select>
                    <div *ngIf="submitted && st.teacherIds.errors" class="invalid-feedback">
                        <div *ngIf="st.teacherIds.errors.required">Please select teacher</div>
                    </div>
                    <p class="conflicts" *ngIf="st.teacherConflict.value && childtype==3" (click)="viewConflict(1)">View
                        Conflict</p>
                </div>
                <p class="removeLecture" *ngIf="childtype==1" (click)="removeLecture()">Remove lecture <i
                        class="fa fa-times float-right"></i></p>
            </div>
        </div>
        <div class="row buttons mt-3 ml-0 mr-2" [ngClass]="{'conflictsBtns': isConflicts}">
            <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
            <button class="btn btn-save btn-filled" *ngIf="!isConflicts"
                (click)="saveSubjectTeacherForm(1)">Save</button>
            <button class="btn btn-save btn-filled ignore" *ngIf="isConflicts"
                (click)="saveSubjectTeacherForm(2)">Ignore
                Conflict &
                Save</button>
            <button class="btn btn-save btn-filled" *ngIf="isConflicts" (click)="saveSubjectTeacherForm(3)">Replace &
                Save</button>
        </div>
    </form>
</div>
<div *ngIf="type==5" [ngClass]="{'stack-back':isViewConflict}">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-5 pl-3">
            <h4>Add Lecture</h4>
        </div>
        <div class="col-2 containValue">

        </div>
        <div class="col-2 containValue">
            <p>{{periodData.dayName}}</p>
            <span>Day</span>
        </div>
        <div class="col-3 containValue">
            <p>{{periodData.periodName}}</p>
            <span>Period Name</span>
        </div>
    </div>
    <form [formGroup]="assignLectureForm" class="w-100 px-2 py-2">
        <div class="row mx-0">
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Course</label>
                    <ng-select [items]="courseList" class="customSelect" bindLabel="name" formControlName="course"
                        bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select course" [searchable]="false" (change)="changeCourse($event)"
                        [ngClass]="{ 'is-invalid': submitted && cd.course.errors }"></ng-select>
                    <div *ngIf="submitted && cd.course.errors" class="invalid-feedback">
                        <div *ngIf="cd.course.errors.required">Please select course</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Batch</label>
                    <ng-select [items]="batchList" class="customSelect" bindLabel="name" formControlName="batch"
                        bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select" [searchable]="false" (change)="changeBatch($event)"
                        [ngClass]="{ 'is-invalid': submitted && cd.batch.errors }"></ng-select>
                    <div *ngIf="submitted && cd.batch.errors" class="invalid-feedback">
                        <div *ngIf="cd.batch.errors.required">Please select batch</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Batch Group</label>
                    <ng-select [items]="batchGroupList" class="customSelect" bindLabel="name" groupBy="categoryName"
                        [selectableGroup]="false" formControlName="batchgroup" bindValue="uniqueId" [multiple]="true"
                        [closeOnSelect]="true" [clearable]="false" placeholder="Select batchgroup" [searchable]="false"
                        (change)="changeBatchGroup($event)"
                        [ngClass]="{ 'is-invalid': submitted && cd.batchgroup.errors }"></ng-select>
                    <div *ngIf="submitted && cd.batchgroup.errors" class="invalid-feedback">
                        <div *ngIf="cd.batchgroup.errors.required">Please select batchgroup</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Subject</label>
                    <ng-select [items]="subjectList" class="customSelect" bindLabel="name" formControlName="subject"
                        bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select" [searchable]="false" (change)="changeSubject($event,3)"
                        [ngClass]="{ 'is-invalid': submitted && cd.subject.errors }"></ng-select>
                    <div *ngIf="submitted && cd.subject.errors?.required" class="invalid-feedback">
                        Please select subject
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Teacher</label>
                    <ng-select [items]="teacherList" class="customSelect" bindLabel="name" formControlName="teacherIds"
                        bindValue="uniqueId" [multiple]="true" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select teacher" [searchable]="false" (change)="changeTeacher($event)"
                        [ngClass]="{ 'is-invalid': submitted && cd.teacherIds.errors }"></ng-select>
                    <div *ngIf="submitted && cd.teacherIds.errors" class="invalid-feedback">
                        <div *ngIf="cd.teacherIds.errors.required">Please select teacher</div>
                    </div>
                    <p class="conflicts" *ngIf="cd.teacherConflict.value" (click)="viewConflict(1)">View Conflict</p>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fname">Classroom</label>
                    <ng-select [items]="classroomList" class="customSelect" bindLabel="name"
                        formControlName="classRoomId" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true"
                        [clearable]="false" placeholder="Select clssroom" [searchable]="false"
                        (change)="changeClassRoom($event)"
                        [ngClass]="{ 'is-invalid': submitted && cd.classRoomId.errors }"></ng-select>
                    <div *ngIf="submitted && cd.classRoomId.errors" class="invalid-feedback">
                        <div *ngIf="cd.classRoomId.errors.required">Please select clssroom</div>
                    </div>
                    <p class="conflicts" *ngIf="cd.classroomConflict.value" (click)="viewConflict(2)">View Conflict</p>
                </div>
            </div>
        </div>
        <div class="row buttons mt-3 ml-0 mr-2" [ngClass]="{'conflictsBtns': isConflicts}">
            <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
            <button class="btn btn-save btn-filled" *ngIf="!isConflicts"
                (click)="saveChangeDetailsForm(1)">Save</button>
            <button class="btn btn-save btn-filled ignore" *ngIf="isConflicts" (click)="saveChangeDetailsForm(2)">Ignore
                Conflict &
                Save</button>
            <button class="btn btn-save btn-filled" *ngIf="isConflicts" (click)="saveChangeDetailsForm(3)">Replace &
                Save</button>
        </div>
    </form>
</div>
<div *ngIf="type==6">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-5 pl-3">
            <h4>Add New Subject</h4>
        </div>
    </div>
    <div class="row mx-0">
        <form [formGroup]="addSubjectForm" class="w-100 pb-3">

            <div class="row selectSubject">
                <div class="row w-100 mb-4">
                    <span class="selectAll mr-3 checkbox checkbox-default float-left">
                        <input type="checkbox" id="name" name="name" (change)="selectAllSubject($event)"
                            [checked]="isSelectAll"><label for="name">Select All</label>
                    </span>
                    <span class="float-right searchbox">
                        <div class="search__container">

                            <input class="search__input" type="text" placeholder="Search"
                                (input)="searchSubject($event)">
                        </div>
                    </span>
                </div>
            </div>
            <div class="row w-100 ml-3">
                <div *ngFor="let subject of masterSubjectList;let i=index;" [ngClass]="{'col-md-3':subject.isSearched}"
                    style="cursor: pointer; margin-bottom: 15px;">
                    <div class="d-flex justify-content-between align-items-center subject" *ngIf="subject.isSearched"
                        id="{{subject.uniqueId}}">
                        <div class="checkbox checkbox-default mb-12">
                            <input type="hidden" value="{{subject.name}}">
                            <input id="{{subject.name}}" type="checkbox" name="list_name"
                                (change)="subjectChange(subject)" [checked]="subject.isSelected" value="{{subject.id}}">
                            <label for="{{subject.name}}">
                                {{subject.name}} &nbsp;
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row w-100 mb-3 mt-2 align-items-center">
                <div class="col-3">
                    <p class="float-left" style="margin-left: 30px;margin-top:15px;"><span
                            class="count">{{selectedCount}}</span>
                        Selected Subjects</p>
                </div>
                <div class="col-9">
                    <div class="float-right">
                        <a class="btn btn-cancel" (click)="cancel()">Cancel</a>
                        <button class="btn btn-save btn-filled" (click)="saveForm()">Add Subject</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="type==7">
    <div class="row popupHeading mx-0 mb-1 align-items-center">
        <div class="col-9 pl-3">
            <h4>Add New Batch</h4>
        </div>
    </div>
    <div class="row mx-0">
        <form [formGroup]="addBatchForm" class="w-100 pb-3">
            <div class="row mx-0 px-2">
                <div class="col-12">
                    <div class="form-group">
                        <label for="shftType">Course</label>
                        <ng-select [items]="courseList" class="custom1" bindLabel="name" formControlName="courseId"
                            bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select Course" [searchable]="false"
                            [ngClass]="{ 'is-invalid': submitted && batch.courseId.errors }">
                        </ng-select>
                        <div *ngIf="submitted && batch.courseId.errors" class="invalid-feedback">
                            <div *ngIf="batch.courseId.errors.required">Select course</div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="fname">Batch</label>
                        <i style="color: tomato;">* </i>
                        <input type="text" class="form-control" formControlName="name" #batchName maxlength="20"
                            placeholder="Enter Name" [ngClass]="{ 'is-invalid': submitted && batch.name.errors }">
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': batchName.value.length !== 20,'badge-danger': batchName.value.length == 20}">
                            {{ batchName.value.length }} / 20</p>
                        <div *ngIf="submitted && batch.name.errors" class="invalid-feedback">
                            <div *ngIf="batch.name.errors.required">Batch Name is required</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row popupHeading mx-0 mb-1 align-items-center">
                <div class="col-9 pl-3">
                    <h5>Add Category</h5>
                </div>
            </div>
            <div class="row mx-0 px-2">
                <div class="col-12" formArrayName="cateoryDtoList">
                    <div class="row mx-0"
                        *ngFor="let category of addBatchForm.controls.cateoryDtoList['controls']; let j = index;"
                        [formGroupName]="j">
                        <div class="col-12 px-0">
                            <div class="form-group">
                                <label for="fname">Category</label>
                                <i style="color: tomato;">* </i>
                                <input type="text" class="form-control" formControlName="name" placeholder="Enter Name"
                                    [ngClass]="{ 'is-invalid': submitted && category.controls.name.errors }"
                                    #categoryName maxlength="20">
                                <p class="badge position-absolute inputBoxCount"
                                    [ngClass]="{'badge-blue': categoryName.value.length !== 20,'badge-danger': categoryName.value.length == 20}">
                                    {{ categoryName.value.length }} / 20</p>
                                <div *ngIf="submitted && category.controls.name.errors" class="invalid-feedback">
                                    <div *ngIf="category.controls.name.errors.required">Category Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 px-0" formArrayName="batchGroupDtoList">
                            <div class="row mx-0"
                                *ngFor="let group of category.controls.batchGroupDtoList['controls']; let k = index;"
                                [formGroupName]="k">
                                <div class="col-12 pl-0">
                                    <div class="form-group">
                                        <label for="fname">Batch Group</label>
                                        <i style="color: tomato;">* </i>
                                        <input type="text" class="form-control" formControlName="name"
                                            placeholder="Enter Name"
                                            [ngClass]="{ 'is-invalid': submitted && group.controls.name.errors }"
                                            #batchgroupName maxlength="20">
                                        <p class="badge position-absolute inputBoxCount"
                                            [ngClass]="{'badge-blue': batchgroupName.value.length !== 20,'badge-danger': batchgroupName.value.length == 20}">
                                            {{ batchgroupName.value.length }} / 20</p>
                                        <div *ngIf="submitted && group.controls.name.errors" class="invalid-feedback">
                                            <div *ngIf="group.controls.name.errors.required">Batch group Name is
                                                required</div>
                                        </div>
                                    </div>
                                    <p class="title addMore group"
                                        *ngIf="k==(category.controls.batchGroupDtoList.value.length-1)"
                                        (click)="addMoreGroup(j)"><i class="fas fa-plus"></i>
                                    </p>
                                    <p class="removeCategory pt-1 group"
                                        *ngIf="k!=(category.controls.batchGroupDtoList.value.length-1)"
                                        (click)="removeBatchGroup(j,k)"><i class="fa fa-times float-left"></i> </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <p class="title addMore" (click)="addMore(3)"><i class="fas fa-plus"></i>Add More</p>
            </div>
            <div class="row buttons mt-3">
                <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
                <button class="btn btn-save btn-filled" (click)="saveBatch()">Save</button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="type==8">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-11 pl-3">
            <h4>Add New Classroom</h4>
        </div>
    </div>
    <div class="row mx-0">
        <form [formGroup]="addClassroomForm" class="w-100 pb-3 pt-2 px-2">
            <div class="row mx-0">
                <div class="col-12">
                    <div class="form-group">
                        <label for="fname">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name"
                            formControlName="name" #classroomName maxlength="20"
                            [ngClass]="{ 'is-invalid': submitted && addClassroomForm.controls.name.errors }">
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': classroomName.value.length !== 20,'badge-danger': classroomName.value.length == 20}">
                            {{ classroomName.value.length }} / 20</p>
                        <div *ngIf="submitted && addClassroomForm.controls.name.errors?.required"
                            class="invalid-feedback">
                            Please enter classroom
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="fname">Type</label>
                        <ng-select [items]="classType" class="customSelect" bindLabel="name" formControlName="type"
                            bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select" [searchable]="false" (change)="changeSelect($event,addClassroomForm,1)"
                            [ngClass]="{ 'is-invalid': submitted && addClassroomForm.controls.type.errors }">
                        </ng-select>
                        <div *ngIf="submitted && addClassroomForm.controls.type.errors?.required"
                            class="invalid-feedback">
                            Please select type
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="fname">Category</label>
                        <ng-select [items]="classCategory" class="customSelect" bindLabel="name"
                            formControlName="category" bindValue="id" [multiple]="false" [closeOnSelect]="true"
                            [clearable]="false" placeholder="Select" [searchable]="false"
                            (change)="changeSelect($event,addClassroomForm,2)"
                            [ngClass]="{ 'is-invalid': submitted && addClassroomForm.controls.category.errors }">
                        </ng-select>
                        <div *ngIf="submitted && addClassroomForm.controls.category.errors?.required"
                            class="invalid-feedback">
                            Please select category
                        </div>
                    </div>
                </div>

                <div class="col-12" *ngIf="addClassroomForm.controls.category.value==2">
                    <div class="form-group">
                        <label for="fname">url</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter url" #url maxlength="64"
                            formControlName="room_url">
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': url.value.length !== 64,'badge-danger': url.value.length == 64}">
                            {{ url.value.length }} / 64</p>
                    </div>
                </div>

            </div>
            <div class="row buttons mt-3">
                <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
                <button class="btn btn-save btn-filled" (click)="saveClassRoom()">Save</button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="type==9">
    <div class="row mx-0">
        <form [formGroup]="addBatchgroupForm" class="w-100 pb-3">
            <h4 class="pl-3 pb-2">Add New Batch Group</h4>
            <div class="row mx-0">
                <table class="table table-centered mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Name</th>
                            <th>Batch</th>
                            <th>Category</th>
                            <th>Group Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="batchgroupListDto">
                        <tr *ngFor="let batchgroup of addBatchgroupForm.controls.batchgroupListDto['controls']; let i=index;"
                            [formGroupName]="i">
                            <td style="width: 9%;">{{i+1}}</td>
                            <td style="width: 19%;">
                                <span *ngIf="!batchgroup.controls.editMode.value">{{batchgroup.value.courseName}}</span>
                                <span *ngIf="batchgroup.controls.editMode.value">
                                    <ng-select [items]="subjectList" class="customSelect" bindLabel="name"
                                        formControlName="courseId" bindValue="id" [multiple]="false"
                                        [closeOnSelect]="true" [clearable]="false" placeholder="Select course"
                                        [searchable]="false"
                                        [ngClass]="{ 'is-invalid': submitted && batchgroup.controls.courseId.errors }">
                                    </ng-select>
                                    <div *ngIf="submitted && batchgroup.controls.courseId.errors?.required"
                                        class="invalid-feedback">
                                        Please select course
                                    </div>
                                </span>
                            </td>
                            <td style="width: 19%;">
                                <span *ngIf="!batchgroup.controls.editMode.value">{{batchgroup.value.batch}}</span>
                                <span *ngIf="batchgroup.controls.editMode.value">
                                    <ng-select [items]="batchList" class="customSelect" bindLabel="name"
                                        formControlName="batchId" bindValue="id" [multiple]="false"
                                        [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                                        [searchable]="false"
                                        [ngClass]="{ 'is-invalid': submitted && batchgroup.controls.batchId.errors }">
                                    </ng-select>
                                    <div *ngIf="submitted && batchgroup.controls.batchId.errors?.required"
                                        class="invalid-feedback">
                                        Please select batch
                                    </div>
                                </span>
                            </td>
                            <td style="width: 19%;">
                                <span
                                    *ngIf="!batchgroup.controls.editMode.value">{{batchgroup.value.categoryName}}</span>
                                <span *ngIf="batchgroup.controls.editMode.value">
                                    <ng-select [items]="batchCategoryList" class="customSelect" bindLabel="name"
                                        formControlName="categoryId" bindValue="id" [multiple]="false"
                                        [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                                        [searchable]="false"
                                        [ngClass]="{ 'is-invalid': submitted && batchgroup.controls.categoryId.errors }">
                                    </ng-select>
                                    <div *ngIf="submitted && batchgroup.controls.categoryId.errors?.required"
                                        class="invalid-feedback">
                                        Please select category
                                    </div>
                                </span>
                            </td>
                            <td>
                                <span *ngIf="!batchgroup.controls.editMode.value">{{batchgroup.value.name}}</span>
                                <span *ngIf="batchgroup.controls.editMode.value">
                                    <input type="text" class="form-control" id="name" placeholder="Enter name"
                                        formControlName="name"
                                        [ngClass]="{ 'is-invalid': submitted && batchgroup.controls.name.errors }">
                                    <div *ngIf="submitted && batchgroup.controls.name.errors?.required"
                                        class="invalid-feedback">
                                        Please enter groupname
                                    </div>
                                </span>
                            </td>
                            <td class="text-center" style="width: 10%;">
                                <div class="delete">
                                    <i class="fas fa-trash" (click)="deleteRow(batchgroup,i)"></i>
                                </div>
                                <div class="edit ml-1"
                                    *ngIf="!batchgroup.controls.editMode.value || !batchgroup.controls.isNew.value"
                                    (click)="editRow(batchgroup,i)">
                                    <i class="fa fa-pen"></i>
                                </div>
                                <div class="edit ml-1"
                                    *ngIf="batchgroup.controls.editMode.value && batchgroup.controls.isNew.value"
                                    (click)="updateRow(batchgroup,i)">
                                    <i class="fa fa-save"></i>
                                </div>
                            </td>
                        </tr>

                    </tbody>

                </table>
                <p class="title addMore pl-3" (click)="addMore(5)"><i class="fas fa-plus"></i>Add more</p>
            </div>
            <div class="row buttons mt-3">
                <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
                <button class="btn btn-save btn-filled" (click)="saveForm()">Save</button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="type==10">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-5 pl-3">
            <h4>Add Batch</h4>
        </div>
    </div>
    <div class="row mx-0">
        <form [formGroup]="addBatchCategoryForm" class="w-100 pb-3">
            <h4 class="pl-3 pb-2">Add New Batch Group Category</h4>
            <div class="row mx-0">
                <table class="table table-centered mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="batchCategoryListDto">
                        <tr *ngFor="let batchCategory of addBatchCategoryForm.controls.batchCategoryListDto['controls']; let i=index;"
                            [formGroupName]="i">
                            <td style="width: 17%;">{{i+1}}</td>
                            <td>
                                <span
                                    *ngIf="!batchCategory.controls.editMode.value">{{batchCategory.value.category}}</span>
                                <span *ngIf="batchCategory.controls.editMode.value">
                                    <input type="text" class="form-control" id="name" placeholder="Enter"
                                        formControlName="category"
                                        [ngClass]="{ 'is-invalid': submitted && batchCategory.controls.category.errors }">
                                    <div *ngIf="submitted && batchCategory.controls.category.errors?.required"
                                        class="invalid-feedback">
                                        Please enter category
                                    </div>
                                </span>
                            </td>
                            <td class="text-center" style="width: 21%;">
                                <div class="delete">
                                    <i class="fas fa-trash" (click)="deleteRow(batchCategory,i)"></i>
                                </div>
                                <div class="edit ml-1"
                                    *ngIf="!batchCategory.controls.editMode.value || !batchCategory.controls.isNew.value"
                                    (click)="editRow(batchCategory,i)">
                                    <i class="fa fa-pen"></i>
                                </div>
                                <div class="edit ml-1"
                                    *ngIf="batchCategory.controls.editMode.value && batchCategory.controls.isNew.value"
                                    (click)="updateRow(batchCategory,i)">
                                    <i class="fa fa-save"></i>
                                </div>
                            </td>
                        </tr>

                    </tbody>

                </table>
                <p class="title addMore pl-3" (click)="addMore(6)"><i class="fas fa-plus"></i>Add more</p>
            </div>
            <div class="row buttons mt-3">
                <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
                <button class="btn btn-save btn-filled" (click)="saveForm()">Save</button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="type==11">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-9 pl-3">
            <h4>Add New Course</h4>
        </div>
    </div>
    <form [formGroup]="courseAndRefForm" class="w-100 px-2 py-2">
        <div class="row mx-0">
            <div class="col-11">
                <div class="form-group">
                    <label for="fname">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Course" formControlName="name"
                        #courseName maxlength="20" [ngClass]="{ 'is-invalid': submitted && course.name.errors }">
                    <p class="badge position-absolute inputBoxCount"
                        [ngClass]="{'badge-blue': courseName.value.length !== 20,'badge-danger': courseName.value.length == 20}">
                        {{ courseName.value.length }} / 20</p>
                    <div *ngIf="submitted && course.name.errors" class="invalid-feedback">
                        <div *ngIf="course.name.errors.required">Enter course name</div>
                    </div>
                </div>
            </div>
            <div class="col-11">
                <div class="form-group">
                    <label for="fname">MasterCourse</label>
                    <ng-select [items]="masterCourseList" class="customSelect" bindLabel="name"
                        formControlName="masterCourseUniqueId" bindValue="uniqueId" [multiple]="false"
                        [closeOnSelect]="true" [clearable]="false" placeholder="Select course" [searchable]="false"
                        [ngClass]="{ 'is-invalid': submitted && course.masterCourseUniqueId.errors }"></ng-select>
                    <div *ngIf="submitted && course.masterCourseUniqueId.errors" class="invalid-feedback">
                        <div *ngIf="course.masterCourseUniqueId.errors.required">Please select master course</div>
                    </div>
                </div>
            </div>
            <div class="col-11">
                <div class="form-group">
                    <label for="fname">Start Date</label>
                    <div class="input-group">

                        <input type="text" formControlName="startDate" class="form-control"
                            [ngClass]="{'is-invalid':submitted && course.startDate.errors}" show-weeks="false"
                            (ngModelChange)="onDateChange($event)" id="datepickerInput" (click)="datePickerOpen();"
                            placeholder="Start Date">
                        <div class="input-group-append">
                            <span class="input-group-text" (click)="datePickerOpen()"
                                style="background-color: white;border-left: hidden;"><i
                                    class="mdi mdi-calendar"></i></span>
                        </div>
                        <div *ngIf="submitted && course.startDate.errors" class="invalid-feedback">
                            <div *ngIf="course.startDate.errors.required">Select Start Date</div>
                        </div>
                        <div *ngIf="submitted && course.year.errors" class="invalid-feedback">
                            <div *ngIf="course.year.errors.required">Select year</div>
                        </div>
                        <div *ngIf="submitted && course.month.errors" class="invalid-feedback">
                            <div *ngIf="course.month.errors.required">Select month</div>
                        </div>
                        <div *ngIf="submitted && course.day.errors" class="invalid-feedback">
                            <div *ngIf="course.day.errors.required">Select day</div>
                        </div>
                    </div>
                    <div class="datePicker" *ngIf="course.isShowDatePicker.value"
                        (clickOutside)="onClickedOutside($event)" #datePicker
                        [ngClass]="{'invisible':!course.isShowDatePicker.value,'visible':course.isShowDatePicker.value}">
                        <label for="duration">Course Duration</label>
                        <div class="row">
                            <div class="col-md-4">
                                <ng-select [items]="yearsData" placeholder="year" formControlName="year"
                                    [ngClass]="{'is-invalid':submitted && course.year.errors?.required}"
                                    (change)="onDurationChange($event)" [clearable]="false" [searchable]="false"
                                    [closeOnSelect]="true"></ng-select>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="monthData" formControlName="month" placeholder="Month"
                                    [ngClass]="{'is-invalid':submitted && course.month.errors?.required}"
                                    (change)="onDurationChange($event)" [clearable]="false" [searchable]="false"
                                    [closeOnSelect]="true"></ng-select>
                            </div>
                            <div class="col-md-4">
                                <ng-select [items]="daysData" formControlName="day" placeholder="Day"
                                    (change)="onDurationChange($event)"
                                    [ngClass]="{'is-invalid':submitted && course.day.errors?.required}"
                                    [clearable]="false" [closeOnSelect]="true" [searchable]="false"></ng-select>
                            </div>
                        </div>
                        <label for="duration">Select Start Date</label>
                        <div class="row mx-0">

                            <div class="" *ngIf="course.isShowDatePicker.value">
                                <bs-datepicker-inline [bsValue]="bsInlineValue" (bsValueChange)="dateChange($event)">
                                </bs-datepicker-inline>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11">
                <div class="form-group">
                    <label for="fname">End Date</label>
                    <input class="form-control" type="text" formControlName="endDateValue" placeholder="End Date"
                        disabled="true">
                </div>
            </div>
            <div class="col-12 pr-0" formArrayName="boardAndGradeReferenceDtoList">
                <div class="row mx-0"
                    *ngFor="let boardGarde of course.boardAndGradeReferenceDtoList['controls']; let j = index"
                    [formGroupName]="j">
                    <div class="col-5 pl-0">
                        <div class="form-group">
                            <label for="fname">Board</label>
                            <ng-select [items]="boardList" bindLabel="name" bindValue="uniqueId"
                                formControlName="boardUniqueId" placeholder="Board"
                                [ngClass]="{'is-invalid':submitted && boardGarde.controls['boardUniqueId'].errors?.required}"
                                [clearable]="false" [searchable]="false"></ng-select>
                            <div *ngIf="submitted && boardGarde.controls['boardUniqueId'].errors?.required"
                                class="invalid-feedback">
                                <div *ngIf="boardGarde.controls['boardUniqueId'].errors?.required">Board
                                    required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4-5 px-0">
                        <div class="form-group">
                            <label for="fname">Grade</label>
                            <ng-select [items]="gradeList" bindLabel="name" bindValue="uniqueId"
                                formControlName="gradeUniqueId" placeholder="Grade" [multiple]="false"
                                [closeOnSelect]="true"
                                [ngClass]="{'is-invalid':submitted && boardGarde.controls['gradeUniqueId'].errors?.required}"
                                [clearable]="false" [searchable]="false">
                            </ng-select>
                            <div *ngIf="submitted && boardGarde.controls['gradeUniqueId'].errors?.required"
                                class="invalid-feedback">
                                <div *ngIf="boardGarde.controls['gradeUniqueId'].errors?.required">Grade
                                    required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2-5 px-0 d-flex align-items-center">
                        <p class="removeBreak pt-1" *ngIf="course.boardAndGradeReferenceDtoList.value.length>1"
                            (click)="deleteBoardGrade(j, boardGarde)"><i class="fa fa-times float-left"></i>Remove </p>
                    </div>
                </div>
                <p class="title addMore" (click)="addBoardGradeRow()"><i class="fas fa-plus"></i>Add More</p>
            </div>
        </div>
        <div class="row buttons mt-3">
            <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
            <button class="btn btn-save btn-filled" type="submit" (click)="saveCourse()">Save</button>
        </div>
    </form>
</div>
<div *ngIf="type==12">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-5 pl-3">
            <h4>Add New Shift</h4>
        </div>
    </div>
    <div class="row mx-1 mt-2">
        <form [formGroup]="shiftNewForm" class="w-100 pb-3">
            <div class="row mx-0">
                <div class="col-6">
                    <div class="form-group">
                        <label for="fname">Shift Name</label>
                        <i style="color: tomato;">* </i>
                        <input type="text" class="form-control" formControlName="shiftName" placeholder="Enter Name"
                            [ngClass]="{ 'is-invalid': submitted && shift.shiftName.errors }" #shiftName maxlength="20">
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': shiftName.value.length !== 20,'badge-danger': shiftName.value.length == 20}">
                            {{ shiftName.value.length }} / 20</p>
                        <div *ngIf="submitted && shift.shiftName.errors" class="invalid-feedback">
                            <div *ngIf="shift.shiftName.errors.required">Shift Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="shftType">Shift Type</label>
                        <ng-select [items]="shiftTypeList" class="custom1" bindLabel="name" formControlName="type"
                            bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select Type" [searchable]="false"
                            [ngClass]="{ 'is-invalid': submitted && shift.type.errors }" (change)="getTeachers($event)">
                        </ng-select>
                        <div *ngIf="submitted && shift.type.errors" class="invalid-feedback">
                            <div *ngIf="shift.type.errors.required">Shift Type is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mx-0">
                        <div class="col-6 pl-0">
                            <div class="form-group">
                                <label for="fname">Start Time</label>
                                <input type="hidden" formControlName="isStartTimeGreater" />
                                <input class="form-control" placeholder="Start Time" formControlName="startTime"
                                    (ngModelChange)="onStartDate($event,2)" aria-label="Start Time"
                                    [ngxTimepicker]="picker1"
                                    [ngClass]="{ 'is-invalid': submitted && shift.startTime.errors }" readonly>
                                <ngx-material-timepicker #picker1></ngx-material-timepicker>
                                <div *ngIf="shift.isStartTimeGreater.value" class="invalid-feedback d-block">
                                    Start time should be less than end time
                                </div>
                                <div *ngIf="submitted && shift.startTime.errors" class="invalid-feedback">
                                    <div *ngIf="shift.startTime.errors.required">Start Time is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pr-0">
                            <div class="form-group">
                                <label for="fname">End Time</label>
                                <input type="hidden" formControlName="isStartTimeGreater" />
                                <input class="form-control" formControlName="endTime" placeholder="End Time"
                                    aria-label="12hr format" [ngxTimepicker]="picker2"
                                    [ngClass]="{ 'is-invalid': submitted && shift.endTime.errors }"
                                    (ngModelChange)="onEndDate($event,2)" readonly>
                                <ngx-material-timepicker #picker2></ngx-material-timepicker>
                                <div *ngIf="shift.isStartTimeGreater.value" class="invalid-feedback d-block">
                                    Start time should be less than end time
                                </div>
                                <div *ngIf="submitted && shift.endTime.errors" class="invalid-feedback">
                                    <div *ngIf="shift.endTime.errors.required">End Time is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="shftType">Days</label>
                        <ng-select [items]="workingDayList" class="custom1" bindLabel="name" bindValue="uniqueId"
                            [multiple]="true" [closeOnSelect]="false" [clearable]="false" placeholder="Select Day"
                            [searchable]="true" [(ngModel)]="selectedWorkingDays" [ngModelOptions]="{standalone: true}"
                            [searchFn]="customSearchFn" (change)="change($event)">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                        [ngModelOptions]="{standalone: true}" />
                                    <label class="form-check-label ml-2 custom-control-label">{{item.name}}</label>
                                </div>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && !isDaysSelected" class="invalid-feedback d-block">
                            <div *ngIf="!isDaysSelected">Please select atleast one.</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="shftType">Teacher</label>
                        <ng-select [items]="teacherList" class="custom1" bindLabel="fullName" bindValue="uniqueId"
                            [multiple]="true" [closeOnSelect]="false" [clearable]="false" placeholder="Select Teacher"
                            [searchable]="true" [(ngModel)]="selectedTeacher" [ngModelOptions]="{standalone: true}"
                            [searchFn]="customSearchFn">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.fullName}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">+{{items.length - 1}}</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="item$.selected" class="custom-control-input"
                                        [ngModelOptions]="{standalone: true}" />
                                    <label class="form-check-label ml-2 custom-control-label">{{item.fullName}}</label>
                                </div>
                            </ng-template>
                        </ng-select>
                        <!-- <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                            <div *ngIf="f.type.errors.required">Shift Type is required</div>
                        </div> -->
                    </div>
                </div>
                <div class="col-6"></div>
                <div class="col-12" formArrayName="shiftbreaksList">
                    <div class="row mx-0"
                        *ngFor="let break of shiftNewForm.controls.shiftbreaksList['controls']; let j = index;"
                        [formGroupName]="j">
                        <!-- <div class="col-4 pl-0">
                            <div class="form-group">
                                <label for="fname">Break Name</label>
                                <i style="color: tomato;">* </i>
                                <input type="text" class="form-control" formControlName="name" placeholder="Enter Name"
                                    [ngClass]="{ 'is-invalid': submitted && break.controls.name.errors }">
                                <div *ngIf="submitted && break.controls.name.errors" class="invalid-feedback">
                                    <div *ngIf="break.controls.name.errors.required">Break Name is required</div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-4 pl-0">
                            <div class="form-group">
                                <label for="fname">Break Start</label>
                                <input class="form-control" placeholder="Break Start Time" formControlName="startTime"
                                    (ngModelChange)="onBreakStartDate($event,j)" aria-label="Start Time"
                                    [ngxTimepicker]="picker3"
                                    [ngClass]="{ 'is-invalid': submitted && break.controls.startTime.errors }"
                                    [min]="break.controls.min.value" [max]="break.controls.max.value" readonly>
                                <ngx-material-timepicker #picker3></ngx-material-timepicker>
                                <div *ngIf="break.controls.isStartTimeGreater.value" class="invalid-feedback d-block">
                                    Start time should be less than end time
                                </div>
                                <div *ngIf="submitted && break.controls.startTime.errors" class="invalid-feedback">
                                    <div *ngIf="break.controls.startTime.errors.required">Start Time is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 pl-0">
                            <div class="form-group">
                                <label for="fname">Break End</label>
                                <input class="form-control" placeholder="Break End Time" formControlName="endTime"
                                    (ngModelChange)="onBreakEndDate($event,j)" aria-label="Start Time"
                                    [ngxTimepicker]="picker4"
                                    [ngClass]="{ 'is-invalid': submitted && break.controls.endTime.errors }"
                                    [min]="break.controls.min.value" [max]="break.controls.max.value" readonly>
                                <ngx-material-timepicker #picker4></ngx-material-timepicker>
                                <div *ngIf="break.controls.isStartTimeGreater.value" class="invalid-feedback d-block">
                                    Start time should be less than end time
                                </div>
                                <div *ngIf="submitted && break.controls.endTime.errors" class="invalid-feedback">
                                    <div *ngIf="break.controls.endTime.errors.required">End Time is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 px-0 d-flex align-items-center">
                            <p class="removeBreak pt-1" *ngIf="shiftNewForm.controls.shiftbreaksList.value.length>1"
                                (click)="removeBreak(j)"><i class="fa fa-times float-left"></i>Remove </p>
                        </div>
                    </div>
                    <p class="title addMore" (click)="addBreak()"><i class="fas fa-plus"></i>Add More Breaks</p>
                </div>
            </div>
            <div class="row buttons mt-3">
                <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
                <button class="btn btn-save btn-filled" type="submit" (click)="saveShift()">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="viewSidePopup viewConflictPop" [ngClass]="{'slideInLeft':!isViewConflict,'slideInRight':isViewConflict}"
    *ngIf="isViewConflict">
    <app-view-conflict [viewType]="viewConflictType" [conflictData]="viewConflictObject"
        (newItemEvent)="closeConflict($event)"></app-view-conflict>
</div>
<div class="viewSidePopup removeLecturePopup" [ngClass]="{'slideInLeft':!isRemoeLecture,'slideInRight':isRemoeLecture}"
    *ngIf="isRemoeLecture">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4>Remove Lecture</h4>
        </div>
    </div>
    <div class="row mx-0 px-1 py-2">
        <P class="pt-2 mx-2">Are you sure you want to remove this lecture?</P>
        <div class="row w-100 mt-3 justify-content-center">
            <a class="btn btn-no btn-outline" (click)="removeAction(1)">No</a>
            <button class="btn btn-yes btn-filled" (click)="removeAction(2)">Yes</button>
        </div>
    </div>
</div>