.signuplogo img {
  margin: 25px 15px 15px 10px;
  position: relative;
  left: 15%;
}
.signuplogo {
  height: fit-content;
}
.signup {
  background-color: white;
  height: 100vh;
}
.signup .right-side {
  background-color: white;
  // background-color: rgb(74, 146, 214);
  // background-image: -webkit-linear-gradient(154deg, var(--newApp-color) 65%, #fff 44%);
  // background-image: linear-gradient(to bottom, #86d6e7, #8dd7e6, #93d8e6, #9ad8e5, #a0d9e5, #acdcea, #b8dfee, #c3e2f1, #d6e8f7, #e7effa, #f5f6fc, #ffffff);
  // background-image: linear-gradient(to bottom, #99defb, #a1dff8, #a9dff6, #b1e0f3, #b8e0f1, #c2e2f3, #cbe5f4, #d4e7f5, #e2ecf8, #eef2fb, #f7f8fd, #ffffff);
  // background-image: linear-gradient(
  //   to bottom,
  //   #c2edfd,
  //   #caeffd,
  //   #d2f2fe,
  //   #daf4fe,
  //   #e2f6fe,
  //   #e8f7ff,
  //   #edf9ff,
  //   #f2faff,
  //   #f6fbff,
  //   #fafcff,
  //   #fdfdff,
  //   #ffffff
  // );
}
// .signup .card-body {
//   width: 85%;
//   margin-left:13% !important;
// }
.signup .signupbtn {
  background-color: var(--newApp-color);
  padding: 0.65rem 0.9rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0px;
  border-color: var(--newApp-color);
}
.signup .signupbtn:focus,
.signup .signupbtn:active {
  box-shadow: 0 0 0 0.15rem rgba(0, 107, 203, 0.5);
}
.signup .fab {
  position: relative;
  right: 10%;
  font-size: 20px;
  color: var(--newApp-color);
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
.signup input.form-control {
  height: 40px;
  font-size: 1rem;
  border-radius: 0;
}
.signup input.form-control:focus {
  border-color: var(--newApp-color);
}
.signup .form-control.is-invalid:focus {
  border-color: #f1556c;
}
.form-group {
  display: flex;
  flex-direction: column-reverse;
}
.form-control:focus + label {
  color: var(--newApp-color);
}
.form-control.is-invalid:focus + label,
.form-control.is-invalid + label {
  color: #f1556c;
}
.signup .form-group .fa {
  font-size: 18px;
  position: absolute;
  right: 8%;
  display: flex;
}
.signup .form-group .fa.fa-check-circle {
  color: rgb(18, 172, 18);
  margin-bottom: 10px;
}
.signup .form-group .fa.fa-exclamation-circle {
  color: rgb(211, 25, 25);
  margin-bottom: 33px;
}
label {
  font-weight: 500;
  position: relative;
  top: 0;
}
.signup .left-side {
  background-color: white;
  // padding-bottom: 3.6rem !important;
}
::ng-deep .footer {
  padding: 0 !important;
}
::ng-deep body {
  padding: 0 !important;
}
h6 {
  display: flex;
  color: #929292;
  flex-direction: row;
}
h6:before,
h6:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c7c7c7;
  margin: auto 5px;
}
.social img {
  width: 40px;
  background-color: #e5f0fa;
  height: 40px;
  padding: 5px 7px;
  border: 1px solid #006bcb9e;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
}
.social .fa-facebook-f {
  color: #4267b2;
}
.signup .fab {
  right: 0%;
  font-size: 20px;
  color: #006bcb;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  vertical-align: middle;
  margin: 15px;
  border: 1px solid #006bcb9e;
  background-color: #006bcb1a;
  border-radius: 5px;
  cursor: pointer;
}
.right-side img {
  // width: 95%;
  // position: relative;
  // right: 5%;
}
.right-side .mt-5 {
  margin-top: 110px !important;
}
// .bottom{
//   background-color: var(--newApp-color);
//   height: 10px;
//   width: 100%;
// }

@media screen and (min-width: 1200px) {
  .signup .card-body {
    width: 430px;
  }
}
@media screen and (max-width: 1200px) {
  .signup {
    height: 100vh;
  }
  .signup .right-side {
    padding-top: 5%;
  }
  .signup .right-side img {
    width: 98%;
  }
}

@media (min-width: 1025px) {
  .back-image {
    background-image: url("../../../../assets/images/new-auth/signupnew.png");
  }
}

.back-image {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
