<div class="account-pages signup">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-md-5 col-lg-5 col-xl-5 left-side d-flex">
        <!-- <div class="card"> -->
        <!-- Logo-->
        <a routerLink="/account/login" class="signuplogo">
          <img src="assets/images/new-auth/logo.png" alt="" height="55" />
        </a>
        <div class=" card-body pb-0 m-auto">

          <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>

            <app-ui-preloader [display]="loading"></app-ui-preloader>

            <div class="form-group mb-2">
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.firstName.errors }">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
              </div>
              <input type="text" formControlName="firstName" class="form-control" autocomplete="nope"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" id="firstName" placeholder="First name"
                appAlphabetOnly />
              <label for="name">First name</label>

            </div>

            <div class="form-group mb-2">
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.lastName.errors }">
                <div *ngIf="f.lastName.errors.required">Last name is required</div>
              </div>
              <input type="text" formControlName="lastName" class="form-control" autocomplete="nope"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="lastName" placeholder="Last name"
                appAlphabetOnly />
              <label for="last name">Last Name</label>

            </div>

            <div class="form-group mb-3">
              <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.emailId.errors }">
                <div *ngIf="f.emailId.errors.required">Email is required</div>
                <div *ngIf="f.emailId.errors.email">Email must be a valid email address</div>
                <div *ngIf="f.emailId.errors.exist">User already exits. Please sign in</div>
              </div>
              <input type="email" formControlName="emailId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" id="email" placeholder="Email" />
              <i class="fa fa-check-circle" *ngIf="submitted && f.emailId.valid" aria-hidden="true"></i>
              <!-- <i class="fa fa-exclamation-circle" *ngIf="submitted && f.emailId.errors" aria-hidden="true"></i> -->
              <label for="emailId">Email Address</label>
            </div>

            <div class="form-group mb-0 text-center">
              <button class="btn btn-primary btn-block signupbtn" type="submit">Sign Up</button>
            </div>
          </form>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <p class="text-blue-50">Already a users? <a routerLink="/account/login" class="text-blue ml-1"><b>Sign
                    In</b></a></p>
            </div> <!-- end col-->
          </div>
          <!-- end row -->
        </div> <!-- end card-body -->
        <!-- </div> -->
        <!-- end card -->

      </div> <!-- end col -->
      <div class="col-md-7 col-lg-7 col-xl-7 back-image right-side">

      </div>
    </div>

  </div>

</div>
<!-- end page -->