<app-common-exam-header></app-common-exam-header>
<div class="card customCardCss">
  <div class="row" style="padding: 2% 5%;border-bottom: 1px solid #80808073;">
    Select Track Syllabus for {{subjectName}}
  </div>
  <form [formGroup]="syllabusForm">
    <div class="row" *ngIf="syllabusState==1 || syllabusState==3" style="padding: 2% 4%;">
      <div class="col-md-6" *ngIf="testType==1">
        <label>Units</label>
        <ng-select id="fnam" [items]="importedUnitList" bindLabel="name" [multiple]="true"
        [closeOnSelect]="false" placeholder="Select Units" formControlName="units">

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:2">
            <span class="ng-value-label"> {{item.name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">+{{items.length - 2}}</span>
        </div>
        </ng-template>

      </ng-select>
    
      </div>
      <div class="col-md-6" *ngIf="testType > 1">
        <label>Chapter</label>
        <ng-select id="fnam" [items]="importedChapterList" bindLabel="name" [multiple]="true"
        [closeOnSelect]="false" formControlName="chapters" placeholder="Select Chapters" (change)="loadSyllabusFromEaas()">

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:2">
            <span class="ng-value-label"> {{item.name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">+{{items.length - 2}}</span>
        </div>
    </ng-template>

      </ng-select>

      </div>
    
      <div class="col-md-6" *ngIf="testType==3 || testType > 4">
        <label>Topics</label>
        <ng-select id="fnam" [items]="importedTopicList" bindLabel="topicName" [multiple]="true" 
        [closeOnSelect]="false" formControlName="topics" placeholder="Select Topics">

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:2">
            <span class="ng-value-label"> {{item.name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">+{{items.length - 2}}</span>
        </div>
    </ng-template>

      </ng-select>

      </div>
      <div class="col-md-6" *ngIf="testType==4">
        <label>Sub Topics</label>
        <ng-select id="fnam" [items]="importedSubTopicList" bindLabel="subtopicName" [multiple]="true" 
        [closeOnSelect]="false"  formControlName="subtopics" placeholder="Select Sub-Topics">

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:2">
            <span class="ng-value-label"> {{item.name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">+{{items.length - 2}}</span>
        </div>
    </ng-template>

      </ng-select>

      </div>
    </div>
    <div *ngIf="syllabusState==2 || syllabusState==3">
      <div  class="row" style="padding: 2% 4% 0% 4% ;">
        <div [ngSwitch]="testType" class="col-lg-12">
          <div  *ngSwitchCase="1">
            <label>Selected Units</label>
            <div class="row">
                <div style="margin-left: 13px;margin-right: 10px;" *ngFor="let units of notImportedUnitList; let i=index">
                    <h4><span
                            class="badge bg-soft-success text-success mb-4">{{units.name}}</span>
                    </h4>
                </div>
            </div>
          </div>
          <div *ngSwitchCase="2">
           
            <label>  Selected Chapters</label>
            <div class="form-group row">
                <div style="margin-left: 13px;margin-right: 10px;"
                    *ngFor="let chapters of notImportedChapterList; let i=index">
                    <h4><span
                            class="badge bg-soft-success text-success mb-4">{{chapters.name}}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="3">
          <label>Selected Topics </label>
            <div class="form-group row">
                <div style="margin-left: 13px;margin-right: 10px;" *ngFor="let topics of notImportedTopicList; let i=index">
                    <h4><span
                            class="badge bg-soft-success text-success mb-4">{{topics.topicName}}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div  *ngSwitchCase="4">
          <label>Selected SubTopics</label>
            <div class="form-group row">
                <div style="margin-left: 13px;margin-right: 10px;"
                    *ngFor="let subtopics of notImportedSubTopicList; let i=index">
                    <h4><span
                            class="badge bg-soft-success text-success mb-4">{{subtopics.subtopicName}}</span>
                    </h4>
                </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" style="padding: 0% 4% 2% 4%;">
        <div class="col-md-6">
            <label>Select grade to get syllabus</label>
            <!-- <ng-select [items]="gradeList" bindLabel="name" [multiple]="true"
              [closeOnSelect]="false" formControlName="gradeUid" (change)="toggle()">
            </ng-select> -->

            <ng-select [items]="gradeList" bindLabel="name" [multiple]="true"
            [closeOnSelect]="false" placeholder="Select Grade" formControlName="gradeUid" (change)="toggle()">
    
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:2">
                <span class="ng-value-label"> {{item.name}}</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 2">
                <span class="ng-value-label">+{{items.length - 2}}</span>
            </div>
            </ng-template>
    
          </ng-select>
        </div>
      </div>
      
      
        <div *ngIf="isGradeSelected" formArrayName="gradeList">
          <div class="row" style="padding: 2% 4%;" >
              <div class="col-md-6" *ngFor="let grades of syllabusForm.controls.gradeList['controls']; let i=index;"
              [formGroupName]="i">
                <div class="checkbox checkbox-primary mb-2" style="margin-left: 5px;">
                  <input id="checkbox{{i}}" type="checkbox" style="height: 16px;"
                      formControlName="isGradeSelected"
                      (change)="getUnit($event.target.checked, grades.controls['qbsCourseId'].value, grades.controls['qbsStandardId'].value, i)">
                  <label for="checkbox{{i}}" style="font-size: 15px;">
                      Select syllabus for {{grades.controls['gradeName'].value}}-{{subjectName}}
                  </label>
              </div>
              <div class="col-lg-12" style="padding-left: 0;">
                  <div class="form-group">
                      <label>Units</label>
                      
                      <ng-select id="fnam" [items]="grades.get('actualUnits').value" bindLabel="name" [multiple]="true"
                        [closeOnSelect]="false" placeholder="Select Units" formControlName="units" (change)="loadChapters(i)">

                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"> {{item.name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">+{{items.length - 2}}</span>
                        </div>
                        </ng-template>

                      </ng-select>
                  </div>
                  <div *ngIf="testType > 1" class="form-group">
                      <label>Chapters</label>
                  
                      <ng-select id="fnam" [items]="grades.get('actualChapter').value" bindLabel="name" [multiple]="true"
                        [closeOnSelect]="false" placeholder="Select Chapters" formControlName="chapters" (change)="loadTopics(i)">

                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"> {{item.name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">+{{items.length - 2}}</span>
                        </div>
                        </ng-template>

                      </ng-select>
                  </div>
                  <div *ngIf="testType > 2" class="form-group">
                      <label>Topics</label>
                      <ng-select id="fnam" [items]="grades.get('actualTopic').value" bindLabel="name" [multiple]="true"
                        [closeOnSelect]="false" placeholder="Select Topics" formControlName="topics" (change)="loadSubTopics(i)">

                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"> {{item.name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">+{{items.length - 2}}</span>
                        </div>
                        </ng-template>

                      </ng-select>
                  </div>
                  <div *ngIf="testType == 4" class="form-group">
                      <label>Sub Topics</label>
                     
                      <ng-select id="fnam" [items]="grades.get('actualSubTopic').value" bindLabel="name" [multiple]="true"
                        [closeOnSelect]="false" placeholder="Select Sub-Topics" formControlName="subtopics">

                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"> {{item.name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">+{{items.length - 2}}</span>
                        </div>
                        </ng-template>

                      </ng-select>
                  </div>
              </div>
              </div>
              
          </div>
        </div>
      
    </div>
  <div class="col-12" style="padding: 2% 4%;">
    <div class="lockBtn" style="float: right; margin-top: 5px;" type="submit" (click)="submitToQuestionBank()">Select Question </div>
  </div>
</form>
</div>
