.customCardCss{
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #98989812;
    padding: 1% 1%;
  }
  .lockBtn{
    background-color: #0091ff;
    color: white;
    border-radius: 2px;
    padding: 11px 2%;
    height: 36px;
}

.checkbox-primary input[type=checkbox]:checked + label::before {
  background-color: #0091ff;
  border-color: #0091ff;
}
