<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>{{servercode}}</h1>
			</div>
			<h2>{{header}}</h2>
			<p>{{longMessage}}</p>
			<a href="#" (click)="goBackTOHomePage()">Back To Homepage</a>
		</div>
	</div>

</body>
