.editBox{ float: right;color: #0091ff;cursor: pointer; border: 1px solid #0091ff; padding: 1px 6px; border-radius: 3px; background-color: #0091ff0d; }

.cardfor3col { border: 1px solid #e8e8e8; border-radius: 6px; min-width: 31%; max-width: 31%; box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);}

.cardfor4col { border: 1px solid #e8e8e8; border-radius: 6px; min-width: 23%; max-width: 23%; box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);}

.marlr0{ margin-left: 0; margin-right: 0; }

.paddl0{ padding-left: 0; } 

.paddr0{ padding-right: 0; }

.paddlr0{ padding-right: 0;padding-left: 0; }

.headingTitle{font-size: 10px;margin-left: -2px;margin-top: -3px;color: gray;}

.dateLabel{margin-left: -2px;font-size: 12px;}

.removeBtn{
    padding: 0px 6px;
    color: red;
    background: #ff000024;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 12px;
}