$main-color: var(--newApp-color);
.orgnizationlogo {
    height: fit-content;
}
.orgnizationlogo img {
    margin: 25px 15px 15px 40px;
}

.orgnization .row.ustify-content-center {
    margin: 0px;
}
.orgnization {
    // height: 100%;
    // background-image: linear-gradient(to bottom, #99defb, #a1dff8, #a9dff6, #b1e0f3, #b8e0f1, #c2e2f3, #cbe5f4, #d4e7f5, #e2ecf8, #eef2fb, #f7f8fd, #ffffff);
    // background-image: linear-gradient(to bottom, #99defb, #a1dff8, #a9dff6, #b1e0f3, #b8e0f1, #c2e2f3, #cbe5f4, #d4e7f5, #e2ecf8, #eef2fb, #f7f8fd, #ffffff);

    // background-image: linear-gradient(to bottom, #c2edfd, #caeffd, #d2f2fe, #daf4fe, #e2f6fe, #e8f7ff, #edf9ff, #f2faff, #f6fbff, #fafcff, #fdfdff, #ffffff);
    background-color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    height: 100vh;
}
.orgnization .heading,
#orgnizationName .heading,
#orgnizationName .right-side h3,
.orgnization .topheading p {
    color: $main-color !important;
}
.orgnization .heading {
    margin-top: -20px;
}
.orgnization p {
    color: white;
    font-size: 13px;
}
.organizationNameForm input.form-control {
    width: 260px;
    border-radius: 0;
    padding: 0.45rem 0.5rem;
}
.organizationNameForm .form-control.is-invalid:focus {
    border-color: #f1556c;
}
.organizationNameForm .organizationNamebtn {
    background-color: $main-color;
    border-color: $main-color;
    // font-size: 18px;
    font-weight: 500;
    border-radius: 0px;
}
.orgnization .next {
    background-color: $main-color;
    padding: 0.55rem 0.9rem;
    font-size: 18px;
    width: 40%;
    font-weight: 700;
}
.orgnization .next:focus,
.orgnization .next:active,
#orgnizationName .organizationNamebtn:focus,
#orgnizationName .organizationNamebtn:active {
    box-shadow: 0 0 0 0.15rem rgba(0, 107, 203, 0.5);
}
.orgnization .img-responsive-left {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.orgnization .img-responsive-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.orgnization h4 {
    color: $main-color;
    font-weight: 600;
    font-size: 23px;
}
.orgnization h5 {
    font-weight: 600;
    font-size: 24px;
}
.orgnization .head p {
    font-size: 18px;
    color: #5f5f5f;
}
.orgName {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
}
.orgnization .organizationtypes img {
    cursor: pointer;
}
.orgnization .invalid-feedback {
    font-size: 1rem;
}
.organizationNameForm label {
    // font-size: 18px;
    color: #454648 !important;
    font-weight: 500;
}
#orgnizationName form {
    width: 85%;
}
#orgnizationName .organizationNamecancelbtn {
    border: 2px solid $main-color;
    color: $main-color;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}
.modal-dialog {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 192, 237, 0.37);
    -moz-box-shadow: 0px 0px 15px 4px rgba(0, 192, 237, 0.37);
    box-shadow: 0px 0px 15px 4px rgba(0, 192, 237, 0.37);
}
#orgnizationName .close {
    font-size: 1.7rem;
    border: 2px solid #454648;
    border-radius: 15px;
    margin: 0px 0px 0px auto !important;
    height: 30px;
    width: 30px;
    padding: 0px !important;
}
#orgnizationName .modal-dialog .modal-content {
    height: 600px;
    display: block;
}
#orgnizationName .right-side {
    text-align: center;
}
.modal-org,
.modal-open > .modal-lg {
    max-width: 1000px;
}
.modal-full > .modal-dialog {
    width: 80% !important;
    max-width: 100%;
}
::ng-deep .footer {
    padding: 0 !important;
}
::ng-deep body {
    padding: 0 !important;
}
.logobg {
    background-image: url("../../../../assets/images/new-auth/top.png");
    background-size: cover;
    background-position-y: bottom;
    height: 175px;
}
.logobg a {
    width: 170px;
}
.bottom {
    background-color: $main-color;
    height: 20px;
    width: 100%;
}
.container-fluid {
    height: 97%;
}
@media screen and (max-width: 761px) {
    .orgnization {
        height: auto !important;
    }
    #orgnizationName form {
        width: 100%;
    }
    .orgnization p {
        padding-right: 0% !important;
        padding-left: 0% !important;
    }
}
@media screen and (max-width: 1200px) {
    .orgnization {
        height: 100vh;
    }
}

button {
    width: 10rem;
}
button:hover {
    background-color: $main-color;
    //   border: none;
}

.fs-selected {
    background-color: $main-color;
    color: white;
    border: none;
}

.left-side {
    background-color: #0088ff;
    height: 100vh;
    padding-left: 2rem;
}

.right-side {
    background-color: white;
    padding-left: 5rem;
    padding-right: 2rem;
}

.right-side .head {
    letter-spacing: 0.1em;
}

h3 {
    color: white !important;
    line-height: 2rem !important;
    font-size: 25px;
}

.btn-id {
    background-color: #2d9e64;
    pointer-events: none;
}

input {
    width: 35vw !important;
    border: 2px solid $main-color;
}

.right-side p {
    color: black !important;
}
.fa-copy {
    color: var(--newApp-color);
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}
