<div class="account-pages orgnization">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <app-ui-preloader [display]="loading"></app-ui-preloader>
            <div class="col-md-3 col-lg-3 col-xl-3 left-side">
                <img class="img-responsive-left" src="assets/images/new-auth/Signboard.png" alt="" />
                <a routerLink="/account/login" class="orgnizationlogo">
                    <img src="assets/images/new-auth/Logo-white.png" alt="" height="55" />
                </a>
                <h3 class="mt-5">
                    Few Clicks Away From Creating Your Own Institution.
                </h3>
                <p>Start your institute in just a few minutes.</p>
            </div>
            <div class="col-md-9 col-lg-9 col-xl-9 mt-5 right-side">
                <img class="img-responsive-right" src="assets/images/new-auth/Building.png" alt="" />
                <div class="m-auto head">
                    <h5>ABOUT YOUR INSTITUTE</h5>
                    <p class="mt-2">About your institute details and role</p>
                </div>
                <div class="form-group mb-1 mt-4">
                    <label for="name" class="orgName">Institute Name</label>
                </div>
                <div class="form-inline form-group mb-1">
                    <input [(ngModel)]="instituteName" type="text" class="form-control" id="instituteName"
                        placeholder="Institute Name" />
                    <span class="ml-2"></span>
                    <button type="submit" class="btn btn-id">ID: {{subscriptionDto?.orgCode}}</button> <i
                        class="fa fa-copy fa-2x" aria-hidden="true" (click)="copyCode()"></i> Copy Code
                </div>
                <p style="color: #FFAA1B !important;">We will also email you the institution ID to the given email ID.
                </p>
                <div class="form-group mb-1 mt-2">
                    <label for="name">Are you a</label>
                </div>
                <div class="form-inline form-group mb-3">
                    <ng-container *ngFor="let role of subscriptionDto?.basicRoles; let i = index">
                        <button id="{{role.name}}" type="submit" class="btn btn-outline-dark"
                            (click)="selectBasicRole(role)">{{role.name}}</button>
                        <span class="ml-2"></span>
                    </ng-container>
                    <!-- <button id="faculty" type="submit" class="btn btn-outline-dark" (click)="selectFS($event,1)">Faculty</button>
                    <span class="ml-2"></span>
                    <button id="staff" type="submit" class="btn btn-outline-dark" (click)="selectFS($event,2)">Staff</button> -->
                </div>
                <ng-container *ngIf="basicRoleSelected">
                    <div class="form-group mb-1">
                        <label for="name">What is your role?</label>
                    </div>
                    <div class="form-inline form-group">
                        <ng-container *ngFor="let role of subscriptionDto?.moreRoles; let j = index;">
                            <button id="{{role.name}}" type="submit" class="btn btn-outline-dark"
                                (click)="selectMoreRole(role)">{{role.name}}</button>
                            <span class="ml-2"></span>
                        </ng-container>
                        <!-- <button id="owner" type="submit" class="btn btn-outline-dark" (click)="selectRole($event,1)">Director/Owner</button>
                        <span class="ml-2"></span>
                        <button id="head" type="submit" class="btn btn-outline-dark" (click)="selectRole($event,2)">Centre Head</button> -->
                    </div>
                </ng-container>
                <div *ngIf="instituteName != '' && basicRoleSelected && moreRoleSelected"
                    class="form-inline form-group mt-5">
                    <button type="submit" class="btn btn-outline-dark" (click)="createOrganization()">FINISH THE
                        SETUP</button>
                </div>
            </div>
        </div>
    </div>
</div>