<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="basicFormGroup" (ngSubmit)="saveStudentBasicInfo()">
        <div class="row pt-3">
          <h4 class="typeHeading">Personal Details</h4>
          <div class="row ml-2">
            <div class="col-lg-6" formGroupName="generalInfo">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="firstName" #fName maxlength="20"
                  placeholder="First Name" appAlphabetOnly
                  [ngClass]="{ 'is-invalid': submitted && gf.firstName.errors }">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': fName.value.length !== 20,'badge-danger': fName.value.length == 20}">
                  {{ fName.value.length }} / 20</p>
                <div *ngIf="submitted && gf.firstName.errors" class="invalid-feedback">
                  <div *ngIf="gf.firstName.errors.required">First Name is required</div>

                </div>
              </div>
            </div>
            <div class="col-lg-6" formGroupName="generalInfo">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="lastName" #lName maxlength="20"
                  placeholder="Last Name" appAlphabetOnly [ngClass]="{ 'is-invalid': submitted && gf.lastName.errors }">
                <p *ngIf="lName.value" class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': lName.value.length !== 20,'badge-danger': lName.value.length == 20}">
                  {{ lName.value.length }} / 20</p>
                <div *ngIf="submitted && gf.lastName.errors" class="invalid-feedback">
                  <div *ngIf="gf.lastName.errors.required">last Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" formGroupName="generalInfo">
              <div class="form-group">
                <label for="email">Email ID</label>
                <i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="emailId" #emailId maxlength="64"
                  placeholder="Email Id" [ngClass]="{ 'is-invalid': submitted && gf.emailId.errors }">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': emailId.value.length !== 64,'badge-danger': emailId.value.length == 64}">
                  {{ emailId.value.length }} / 64</p>
                <div *ngIf="submitted && gf.emailId.errors" class="invalid-feedback">
                  <div *ngIf="gf.emailId.errors.required">Eamil is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" formGroupName="generalInfo">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <i style="color: tomato;">* </i>
                <input type="text" class="form-control" formControlName="phoneNumber" #mobile placeholder="Phone Number"
                  appOnlynumber [ngClass]="{ 'is-invalid': submitted && gf.phoneNumber.errors }" maxlength="10">
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': mobile.value.length !== 10,'badge-danger': mobile.value.length == 10}">
                  {{ mobile.value.length }} / 10</p>
                <div *ngIf="submitted && gf.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="gf.phoneNumber.errors.required">Phone number is required</div>
                  <div *ngIf="gf.phoneNumber.errors && !gf.phoneNumber.errors.required">Please Type valid Phone number
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-11" formGroupName="generalInfo">
              <div class="form-group">
                <label for="lastName" class="d-block pb-1">Gender</label>
                <div class="form-check-inline">
                  <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" formControlName="gender" name="gender"
                      value="M" checked> <span>Male</span>
                  </label>
                  <label class="form-check-label" for="radio2">
                    <input type="radio" class="form-check-input" id="radio2" formControlName="gender" name="gender"
                      value="F"> <span>Female</span>
                  </label>
                  <label class="form-check-label" for="radio2">
                    <input type="radio" class="form-check-input" id="radio3" formControlName="gender" name="gender"
                      value="O"> <span>Other</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <h4 class="typeHeading" *ngIf="userDetailsType==1">Enrollment Details</h4>
          <h4 class="typeHeading w-100" *ngIf="userDetailsType!=1">Other Details</h4>
          <div class="row ml-2 w-100">
            <div class="col-lg-6" *ngIf="userDetailsType==2 || userDetailsType==3">
              <div *ngIf="basicFormGroup.value.roleName != 'Business Owner'" class="form-group">
                <label for="roleId">Select Role</label> <i style="color: tomato;">* </i>
                <ng-select [items]="roleInfo" bindLabel="name" bindValue="uniqueId" formControlName="roleId"
                  [searchable]="false" [clearable]="false" [multiple]="true" [closeOnSelect]="true"
                  placeholder="Select Role" [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }">
                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                      <span class="ng-value-label"> {{item.name}}</span>
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                      <span class="ng-value-label">+{{items.length - 2}}</span>
                    </div>
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
                  <div *ngIf="f.roleId.errors.required">Please select Role</div>
                </div>
              </div>
              <div *ngIf="basicFormGroup.value.roleName == 'Business Owner'" class="form-group">
                <label for="roleId">Role</label>
                <input readonly type="text" class="form-control" formControlName="roleName">
              </div>
            </div>
            <div class="col-lg-6" *ngIf="userDetailsType==2 || userDetailsType==3">
              <div *ngIf="basicFormGroup.value.employeeId != null" class="form-group">
                <label for="employeeId">Employee Id</label>
                <input readonly type="text" class="form-control" formControlName="employeeId">
              </div>
            </div>
            <!-- <div class="col-lg-6" *ngIf="userDetailsType==1 || userDetailsType==3">
              <div class="form-group">
                <label for="org">Organization/Institute</label>
                <i style="color: tomato;">* </i>
                <ng-select [items]="organizationList" class="custom1" formControlName="organizationUniqueId"
                  id="organizationId" bindLabel="name" bindValue="uniqueId" [multiple]="false" [closeOnSelect]="false"
                  [clearable]="false" placeholder="Select organization" [searchable]="false"
                  [ngClass]="{ 'is-invalid': submitted && f.organizationUniqueId.errors }"></ng-select>

                <div *ngIf="submitted && f.organizationUniqueId.errors" class="invalid-feedback">
                  <div *ngIf="f.organizationUniqueId.errors.required">Organization is required</div>
                </div>
              </div>
            </div> -->
            <div class="col-lg-6" *ngIf="userDetailsType==1">
              <div class="form-group">
                <label for="girstName">Enrolment Date</label>
                <input type="text" formControlName="enrollmentDate" class="form-control"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #dp="bsDatepicker" placeholder="Enrolment Date"
                  [ngClass]="{ 'is-invalid': submitted && f.enrollmentDate.errors }" show-weeks="false" bsDatepicker>
                <div *ngIf="submitted && f.enrollmentDate.errors" class="invalid-feedback">
                  <div *ngIf="f.enrollmentDate.errors.required">Enroltment Date is required</div>

                </div>
              </div>
            </div>
            <div class="col-lg-6" *ngIf="userDetailsType==2 || userDetailsType ==3" formGroupName="generalInfo">
              <div class="form-group">
                <label for="girstName">Date of joining</label>
                <input type="text" formControlName="dateOfJoining" class="form-control"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #dp="bsDatepicker" placeholder="Date of joining"
                  show-weeks="false" bsDatepicker>
              </div>
            </div>
            <div class="col-lg-6" *ngIf="userDetailsType==1">
              <div class="form-group">
                <label for="hori-pass1">Enrollment Number</label>
                <!-- <i style="color: tomato;">* </i> -->
                <input readonly type="text" class="form-control" formControlName="enrollmentNumber"
                  placeholder="Enrollment Number" #enrollmentElement
                  [ngClass]="{ 'is-invalid': submitted && f.enrollmentNumber.errors }">
                <div *ngIf="submitted && f.enrollmentNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.enrollmentNumber.errors.required">Enrollment number is required</div>
                </div>

              </div>


            </div>
            <div class="col-lg-6" formGroupName="generalInfo" *ngIf="userDetailsType==4">
              <div class="form-group">
                <label for="bloodGroup">Blood Group</label>
                <ng-select formControlName="bloodGroup" [searchable]="false" [closeOnSelect]="true" [clearable]="false"
                  placeholder="Select Blood Group">
                  <ng-option value="A+" selected>A+</ng-option>
                  <ng-option value="B+">B+</ng-option>
                  <ng-option value="AB">AB</ng-option>
                  <ng-option value="O+">O+</ng-option>
                  <ng-option value="O-">O-</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-6" *ngIf="userDetailsType==4">
              <div class="form-group" formGroupName="generalInfo">
                <label for="adharNumber">Aadhar Number</label>
                <input class="form-control" id="" formControlName="adharNumber" maxlength="12"
                  [ngClass]="{ 'is-invalid': submitted && gf.adharNumber.errors }" #aadhar appOnlynumber>
                <p class="badge position-absolute inputBoxCount"
                  [ngClass]="{'badge-blue': aadhar.value.length !== 12,'badge-danger': aadhar.value.length == 12}">
                  {{ aadhar.value.length }} / 12</p>
                <div *ngIf="submitted && gf.adharNumber.errors" class="invalid-feedback">
                  <div *ngIf="gf.adharNumber.errors.pattern">Adhar number should contain 12 digit</div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row float-right mt-5 mb-5 pb-5">
          <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
          <button class="btn btn-save" type="submit">Save and Next</button>
          <!-- <button class="btn btn-save px-4" type="submit" *ngIf="userDetailsType==4">Save</button> -->
        </div>
      </form>
    </div>
  </div>
</div>