label {
  color: #626265;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 3px;
}
label span {
  padding-left: 3px;
  padding-right: 30px;
}
.form-control {
  border-color: #909090;
  border-radius: 3px;
  height: 40px;
}
.square {
  height: 120px;
  width: 120px;
  border: 2px solid #caced5;
  cursor: pointer;
}
.imageBorder {
  border: 2px solid #caced5;
  height: 98px;
  width: 113px;
  border-radius: 13px;
}
.profilePicInput {
  text-align: center;
  padding-top: 25px;
}
.profilePicInput i {
  color: #caced5;
}
.card {
  box-shadow: none;
}
.btn-save {
  background-color: var(--newApp-color);
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 17px;
  width: 175px;
}
.btn-cancel {
  margin-left: 10px;
  width: 175px;
}
.btn-save:hover,
.btn-save:focus {
  color: #fff;
}
.typeHeading {
  color: var(--newApp-color);
  margin-top: 5px;
  margin-left: -5px;
  margin-bottom: 15px;
}
.col-lg-6 {
  -webkit-box-flex: 0;
  flex: 0 0 47%;
  max-width: 47%;
}
.form-control:invalid,
.form-control.is-invalid,
::ng-deep ng-select.is-invalid {
  border-color: #f1556c !important;
}
input.form-control:focus,
input.form-control:focus ~ .input-group-append .input-group-text {
  border-color: var(--newApp-color);
}
::ng-deep ng-select.ng-select.ng-select-single .ng-select-container {
  height: 40px;
}
.card {
  margin-bottom: 0px;
}
.card-body {
  padding-top: 0px !important;
  padding-bottom: 0px;
}
