@import "../common-r";
.viewPopup {
  width: 40% !important;
  top: 0px;
  padding: 15px 0px;
}

.formheadingTitle {
  font-size: 10px;
  margin-left: 0px;
  color: gray;
}


.rightSidePopup {
  width: 33% !important;
  top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.formMainHead {
  margin-left: 0;
  color: #000000cf;
}

.testBtn {
  width: fit-content;
  padding: 6px 8px;
  background-color: #0091ff;
  color: white;
  cursor: pointer;
}

.headingTitle {
  font-size: 10px;
  margin-left: -2px;
  color: gray;
}

.mainHeading {
  font-size: 13px;
  margin-left: -2px;
  color: black;
}

.btn-save,
.btn-cancel,
.btn-cancelLectr {
  width: 135px;
  border-radius: 0px;
  font-size: 14px;
}
.type6 .btn-save,
.type6 .btn-cancel {
  width: 145px;
  padding: 7px 0px;
}
.buttons {
  position: relative;
  right: 25px;
  float: right;
}

//screen 37-38
.viewHistory {
  width: 80% !important;
  top: 70px;
}
.formheadingTitle {
  font-size: 10px;
  margin-left: 0px;
  color: gray;
}

.formMainHead {
  margin-left: 0;
  color: #000000cf;
}

.header {
  background-color: #0091ff17;
  padding-top: 11px;
  padding-bottom: 11px;
  color: black;
  margin-bottom: 15px;
  font-size: 13px;
  display: flex;
  margin-top: 15px;
}

.bodyContent {
  display: flex;
  font-size: 13px;
  margin-bottom: 15px;
}

.widthAlign1 {
  width: 70px;
  text-align: center;
}

.widthAlign2 {
  width: 110px;
}

.widthAlign3 {
  width: 125px;
}

.widthAlign4 {
  width: 115px;
}

.activestatusBadge {
  font-size: 12px;
  padding: 5px 22px;
  text-align: center;
  border-radius: 14px;
  background-color: green;
  color: white;
}

.sustitudeBadge {
  font-size: 12px;
  padding: 5px 22px;
  text-align: center;
  border-radius: 6px;
  background-color: #0091ff26;
  color: #00000080;
}

.changedBadge {
  font-size: 12px;
  padding: 5px 22px;
  text-align: center;
  border-radius: 6px;
  background-color: #80008026;
  color: #00000080;
}

.cancelledBadge {
  font-size: 12px;
  padding: 5px 22px;
  text-align: center;
  border-radius: 6px;
  background-color: #ff000026;
  color: #00000080;
}

.newExtraBadge {
  font-size: 12px;
  padding: 5px 22px;
  text-align: center;
  border-radius: 6px;
  background-color: #d4cfcf;
  color: #00000080;
}

.abortBadge {
  font-size: 12px;
  padding: 5px 22px;
  text-align: center;
  border-radius: 6px;
  background-color: #e1e2d5;
  color: #00000080;
}

.nonactivestatusBadge {
  font-size: 12px;
  padding: 5px 19px;
  text-align: center;
  border-radius: 14px;
  background-color: red;
  color: white;
}
.btn-cancelLctr {
  background-color: var(--delete) !important;
  border-radius: 25px;
  padding: 5px 15px;
}
.text-green {
  color: green;
}

//vinayak

.removeLecturePopup {
  width:100%;
  top: 0px;
  z-index: 1050;
  padding: 0px 0px 20px;
}

.deleteLecturePopup {
  width:36%;
  top: 0px;
  z-index: 1050;
  padding: 0px 0px 20px;
}


.createNewLecture {
  width: 55% !important;
  top: 0px;
}

.mainHeadingTest{
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: 0px;
}

.headingTitleTest{
  font-size: 10px;
  margin-left: 0px;
  color: gray;
}