<div *ngIf="type==6 || isHistoryActionView" class="type6" [ngClass]="{'viewPopup viewSidePopup': isHistoryActionView}">
    <button type="button" *ngIf="isHistoryActionView && typeChild==2" class="closePopup" (click)="closePopup()"
        aria-label="Close">x</button>
    <div class="pl-2">
        <div class="row mx-2" style="margin-top: 20px;margin-bottom: 15px;">
            <div class="col-md-6" style="color: black;padding-left: 0;">Initial Details:</div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{initialDetails ? initialDetails.periodName:'-'}}</div>
                <div class="row headingTitle">Period </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                style="border-radius: 50%;" alt=""></span>
                    </div>
                    <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                        <div class="row mainHeading" [ngClass]="{'text-green': typeChild==1}">{{initialDetails ?
                            initialDetails.teacherIds[0].name:'-'}}</div>
                        <div class="row headingTitle">Teacher</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{initialDetails ? initialDetails.courseName:'-'}}</div>
                <div class="row headingTitle">Course </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">{{initialDetails ? initialDetails.batchIds[0].name:'-'}}</div>
                <div class="row headingTitle">Batch & Batch Group </div>
            </div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">{{initialDetails ?
                    initialDetails.subjectName:'-'}}</div>
                <div class="row headingTitle">Subject </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">{{initialDetails ?
                    initialDetails.classRoomName:'-'}}</div>
                <div class="row headingTitle">Classrroom </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="pl-2">
        <div class="row mx-2" style="margin-top: 10px;margin-bottom: 15px;">
            <div class="col-md-6" style="color: black;padding-left: 0;margin-top: 15px;">New Details:</div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForShow.periodName ? dataForShow.periodName:'-'}}</div>
                <div class="row headingTitle">Period </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                style="border-radius: 50%;" alt=""></span>
                    </div>
                    <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                        <div class="row mainHeading" [ngClass]="{'text-green': typeChild==1}">{{dataForShow.teacherIds ?
                            dataForShow.teacherIds[0].name:'-'}}</div>
                        <div class="row headingTitle">Teacher</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForShow.courseName ? dataForShow.courseName:'-'}}</div>
                <div class="row headingTitle">Course </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">{{dataForShow.batchIds ? dataForShow.batchIds[0].name:'-'}}</div>
                <div class="row headingTitle">Batch & Batch Group </div>
            </div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">{{dataForShow.subjectName ?
                    dataForShow.subjectName:'-'}}</div>
                <div class="row headingTitle">Subject </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">{{dataForShow.classRoomName ?
                    dataForShow.classRoomName:'-'}}</div>
                <div class="row headingTitle">Classrroom </div>
            </div>

        </div>
    </div>
    <div class="row buttons mt-3" *ngIf="!isHistoryActionView || typeChild==1 || typeChild==2 ">
        <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
        <!-- <button class="btn btn-save btn-filled" (click)="restoreReschedule()">{{(typeChild==2) ? 'Restore Substitution': (typeChild==1) ? 'Remove Substitution':
            'Reschedule Lecture'}}</button> -->
        <button class="btn btn-save btn-filled" (click)="removeRescheduleLecture()">Remove Substitution</button>
    </div>

</div>

<div *ngIf="type==10" class="type6" [ngClass]="{'viewPopup viewSidePopup': isHistoryActionView}">

    <div class="pl-2">
        <div class="row mx-2" style="margin-top: 20px;margin-bottom: 15px;">
            <div class="col-md-6" style="color: black;padding-left: 0;">Initial Details:</div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{initialDetails ? initialDetails.periodName:'-'}}</div>
                <div class="row headingTitle">Period </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                style="border-radius: 50%;" alt=""></span>
                    </div>
                    <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                        <div class="row mainHeading" [ngClass]="{'text-green': typeChild==1}">{{(initialDetails&&
                            initialDetails.teacherIds&&initialDetails.teacherIds.length>0&&initialDetails.teacherIds[0].name)
                            ?
                            initialDetails.teacherIds[0].name:'-'}}</div>
                        <div class="row headingTitle">Teacher</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{initialDetails ? initialDetails.courseName:'-'}}</div>
                <div class="row headingTitle">Course </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">{{(initialDetails&&
                    initialDetails.batchIds&&initialDetails.batchIds.length>0&&initialDetails.batchIds[0].name) ?
                    initialDetails.batchIds[0].name:'-'}}</div>
                <div class="row headingTitle">Batch & Batch Group </div>
            </div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">{{initialDetails ?
                    initialDetails.subjectName:'-'}}</div>
                <div class="row headingTitle">Subject </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">
                    {{initialDetails&&initialDetails.classRoomName ?
                    initialDetails.classRoomName:'-'}}</div>
                <div class="row headingTitle">Classrroom </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="pl-2">
        <div class="row mx-2" style="margin-top: 10px;margin-bottom: 15px;">
            <div class="col-md-6" style="color: black;padding-left: 0;margin-top: 15px;">New Details:</div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForSubstitution ? dataForSubstitution.periodName:'-'}}</div>
                <div class="row headingTitle">Period </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                style="border-radius: 50%;" alt=""></span>
                    </div>
                    <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                        <div class="row mainHeading" [ngClass]="{'text-green': typeChild==1}">{{(dataForSubstitution&&
                            dataForSubstitution.teacherIds&&dataForSubstitution.teacherIds.length>0&&dataForSubstitution.teacherIds[0].name)
                            ?
                            dataForSubstitution.teacherIds[0].name:'-'}}</div>
                        <div class="row headingTitle">Teacher</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForSubstitution ? dataForSubstitution.courseName:'-'}}</div>
                <div class="row headingTitle">Course </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">{{(dataForSubstitution&&
                    dataForSubstitution.batchIds&&dataForSubstitution.batchIds.length>0&&dataForSubstitution.batchIds[0].name)
                    ? dataForSubstitution.batchIds[0].name:'-'}}</div>
                <div class="row headingTitle">Batch & Batch Group </div>
            </div>

        </div>
        <div class="row mx-2" style="margin-bottom: 15px;">
            <div class="col-md-5">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">{{dataForSubstitution ?
                    dataForSubstitution.subjectName:'-'}}</div>
                <div class="row headingTitle">Subject </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading" [ngClass]="{'text-green': typeChild==2}">{{dataForSubstitution&&
                    dataForSubstitution.classRoomName ?
                    dataForSubstitution.classRoomName:'-'}}</div>
                <div class="row headingTitle">Classrroom </div>
            </div>

        </div>
    </div>
    <div class="row buttons mt-3" *ngIf="!isHistoryActionView || typeChild==1 || typeChild==2 ">
        <a class="btn btn-cancel btn-outline" (click)="closeSubtitution(false)">Cancel</a>

        <button class="btn btn-save btn-filled" (click)="rescheduleLecture()">Reschedule Lecture</button>
    </div>

</div>


<div *ngIf="type==7">
    <div class="row">
        <div class="col-md-3" style="font-weight: bold;">Changes made</div>
        <div class="col-md-3"></div>

        <div class="col-md-3">
            <div class="row formMainHead">{{timetableName}}</div>
            <div class="row formheadingTitle">Timetable Name</div>
        </div>
        <div class="col-md-3" *ngIf="objDate.fromDate == objDate.toDate">
            <div class="row formMainHead">{{objDate.fromDate | date:'dd/MM/yyyy'}}</div>
            <div class="row formheadingTitle">Date</div>
        </div>
        <div class="col-md-3" *ngIf="objDate.fromDate != objDate.toDate">
            <div class="row formMainHead">{{objDate.fromDate | date:'dd/MM/yyyy'}}-{{objDate.toDate |
                date:'dd/MM/yyyy'}}</div>
            <div class="row formheadingTitle">Date</div>
        </div>
    </div>
    <div class="row mx-0">

        <div class="header">
            <div class="widthAlign1">Sr No.</div>
            <div class="widthAlign2">Date</div>
            <div class="widthAlign4">Period</div>
            <div class="widthAlign2" style="margin-left: 4px;">Batch</div>
            <div class="widthAlign2">Subject</div>
            <div class="widthAlign3">Teacher</div>
            <div class="widthAlign3">Status</div>
            <div class="widthAlign2">Action</div>
        </div>
        <!-- <div style="overflow-x: hidden;" [ngStyle]="{'overflow-y': viewChangesList.length > 10 ? 'scroll' : 'hidden'}"> -->
        <div class="bodyContent" *ngFor="let data of viewChangesList;let i=index;">
            <div class="widthAlign1">{{i+1}}</div>
            <div class="widthAlign2">{{data.substituteDate != null ? data.substituteDate : ''}}</div>
            <div class="widthAlign4">{{data.periodName != null ? data.periodName : ''}}</div>
            <div class="widthAlign2" style="margin-left: 4px;">{{ data.batchIds && data.batchIds.length > 0 ?
                data.batchIds[0].name : ''}}</div>
            <div class="widthAlign2">{{data.subjectName != null ? data.subjectName:''}}</div>
            <div class="widthAlign3">{{data.teacherIds && data.teacherIds.length > 0 ? data.teacherIds[0].name:''}}
            </div>
            <div class="widthAlign3"><span class=""
                    [ngClass]="{'sustitudeBadge' : data.lessonState == 2,'newExtraBadge' : data.lessonState == 1 ,'changedBadge' : data.lessonState == 3 ,'cancelledBadge' : data.lessonState == 4,'abortBadge' : data.lessonState == 10}">{{data.lessonState
                    == 2 ? 'Substituted' : data.lessonState == 1 ? 'New Lecture' : data.lessonState == 3 ? 'Changed' :
                    data.lessonState == 4 ? 'Cancelled' : data.lessonState == 10 ? 'Abort':''}}</span></div>
            <div class="widthAlign2 ml-3" ngbDropdown><i class="fas fa-ellipsis-v" style="cursor: pointer;"
                    ngbDropdownToggle></i>
                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <button (click)="actionHistroy(1,data)" ngbDropdownItem>Edit</button>
                    <button (click)="actionHistroy(2,data)" ngbDropdownItem>Delete</button>
                    <button (click)="actionHistroy(3,data)" ngbDropdownItem>View</button>
                </div>
            </div>
        </div>
        <!-- </div> -->

    </div>
    <div class="row buttons mt-3">
        <a class="btn btn-cancel btn-outline" (click)="viewHistoryAction(1)">Cancel</a>
        <button class="btn btn-save btn-filled" (click)="viewHistoryAction(2)">Publish Changes</button>
    </div>
</div>



<div class="viewSidePopup viewConflictPop" [ngClass]="{'slideInLeft':!isViewConflict,'slideInRight':isViewConflict}"
    *ngIf="isViewConflict">
    <app-view-conflict [viewType]="4" [conflictData]="viewConflictData" (newItemEvent)="closeConflict($event)">
    </app-view-conflict>
</div>

<div *ngIf="type==2">
    <div class="row mx-0 mb-2">
        <div class="col-4 containValue">
            <p>Mathamatics</p>
            <span>Subject</span>
        </div>
        <div class="col-4 containValue">
            <p>Batch B1</p>
            <span>Batch Name</span>
        </div>
        <div class="col-4 containValue">
            <p>Gender</p>
            <span>Batch Group Name</span>
        </div>
    </div>
    <div class="row mx-0 mb-2">
        <div class="col-4 containValue">
            <p>JEE Advanced</p>
            <span>Course</span>
        </div>
        <div class="col-4 containValue">
            <p>Classroom1</p>
            <span>Classroom</span>
        </div>
        <div class="col-4 containValue">
            <p>8:30-9:30</p>
            <span>Time</span>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-8 containValue">
            <img src="assets/images/users/user-1.jpg" height="35px" width="35px" alt="">
            <p>Ruhani Sharma</p>
            <span>Teacher Name</span>
        </div>
        <div class="col-4">
            <div class="delete">
                <i class="fas fa-trash" (click)="actionView(1)"></i>
            </div>
            <div class="edit" (click)="actionView(2)"><i class="fa fa-pen"></i></div>
        </div>
    </div>
</div>
<div *ngIf="type==3">
    <div class="row mx-0">
        <div class="col-7 my-1 containValue">
            <img src="assets/images/users/user-1.jpg" height="35px" width="35px" alt="">
            <p>{{viewData.teacherIds[0].name}}</p>
            <span>Teacher Name</span>
        </div>
        <div class="col-4 containValue float-right" *ngIf="typeChild==2">
            <div class="delete">
                <i class="fas fa-trash" (click)="actionView(1)"></i>
            </div>
            <div class="edit" (click)="actionView(2)"><i class="fa fa-pen"></i></div>
        </div>
    </div>
    <div class="row mx-0 mb-2">
        <div class="col-8 containValue">
            <p>{{viewData.courseName}}</p>
            <span>Course</span>
        </div>
        <div class="col-4 containValue">
            <p>{{viewData.batchIds[0].name}}</p>
            <span>Batch Name</span>
        </div>
    </div>
    <div class="row mx-0 mb-2">
        <div class="col-8 containValue">
            <p>{{(viewData.groupIds)?viewData.groupIds[0].name:''}}</p>
            <span>Batch Group Name</span>
        </div>
        <div class="col-4 containValue">
            <p>{{viewData.subjectName}}</p>
            <span>Subject</span>
        </div>
    </div>
    <div class="row mx-0 mb-2">

        <div class="col-8 containValue">
            <p>{{(viewData.classRoomName)?viewData.classRoomName:'Not Assigned'}}</p>
            <span>Classroom</span>
        </div>
        <div class="col-4 containValue">
            <p>{{viewData.startTime|date:'shortTime':'UTC'}}-{{viewData.endTime|date:'shortTime':'UTC'}}</p>
            <span>Time</span>
        </div>
    </div>

</div>
<div *ngIf="type==4">
    <div *ngIf="childType==1; else elseBlock">
        <div class="row mx-2 my-2">
            <div class="col-md-5">
                <div class="row mainHeading">Period 1</div>
                <div class="row headingTitle">Period </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                style="border-radius: 50%;" alt=""></span>
                    </div>
                    <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                        <div class="row mainHeading">Prashant Borkhade</div>
                        <div class="row headingTitle">Teacher</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-2 mb-2">
            <div class="col-md-5">
                <div class="row mainHeading">JEE Advanced</div>
                <div class="row headingTitle">Course </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">Batch B1 - Entire Class</div>
                <div class="row headingTitle">Batch & Batch Group </div>
            </div>

        </div>

        <div class="row mx-2 mb-2">
            <div class="col-md-5">
                <div class="row mainHeading">Mathematics</div>
                <div class="row headingTitle">Subject </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">Room 307</div>
                <div class="row headingTitle">Classrroom </div>
            </div>

        </div>
        <div class="row buttons mt-3 mx-2">
            <a class="btn btn-cancel btn-outline" (click)="cancelLectrAction(2)">Cancel</a>
            <button class="btn btn-cancelLectr btn-filled" (click)="cancelLectrAction(1)">Cancel Lecture</button>
        </div>
    </div>
    <ng-template #elseBlock>
        <h4 class="pl-2 py-2">Cancel Lecture</h4>
        <p class="pt-1 mx-2"> Are you sure you want to delete this Lecture?</p>
        <div class="row buttons mt-3 mx-2">
            <a class="btn btn-no btn-outline" (click)="deleteAction(2)">No</a>
            <button class="btn btn-yes btn-filled" (click)="deleteAction(1)">Yes</button>
        </div>
    </ng-template>
</div>
<div *ngIf="type==5">
    <div *ngIf="childType==1; else elseBlock">
        <div class="row mx-2 my-2">
            <div class="col-md-5">
                <div class="row mainHeading">Period 1</div>
                <div class="row headingTitle">Period </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                style="border-radius: 50%;" alt=""></span>
                    </div>
                    <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                        <div class="row mainHeading">Prashant Borkhade</div>
                        <div class="row headingTitle">Teacher</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-2 mb-2">
            <div class="col-md-5">
                <div class="row mainHeading">JEE Advanced</div>
                <div class="row headingTitle">Course </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">Batch B1 - Entire Class</div>
                <div class="row headingTitle">Batch & Batch Group </div>
            </div>

        </div>

        <div class="row mx-2 mb-2">
            <div class="col-md-5">
                <div class="row mainHeading">Mathematics</div>
                <div class="row headingTitle">Subject </div>
            </div>
            <div class="col-md-7">
                <div class="row mainHeading">Room 307</div>
                <div class="row headingTitle">Classrroom </div>
            </div>

        </div>
        <div class="row mx-2 mb-2">
            <div class="col-md-12">
                <p class="text-danger mb-0">This lecture was cancelled by:</p>
                <p class="text-body mb-1">Ruchita Ghosh 07/04/2021</p>
            </div>

        </div>
        <div class="row buttons mt-2 mx-2">
            <a class="btn btn-cancel btn-outline" (click)="activateLecture(2)">Cancel</a>
            <button class="btn btn-save btn-filled" (click)="activateLecture(1)">Activate Lecture</button>
        </div>
    </div>
</div>

<div *ngIf="type==8">
    <div *ngIf="childType==1">
        <div class="row mx-3 my-2">
            <h4>Details:</h4>
        </div>
        <div class="row mx-2 mb-3">
            <div class="col-md-7">
                <div class="row mainHeading">{{dataForSubstitution.substituteDate | date:'dd/MM/yyyy'}}</div>
                <div class="row headingTitle">Date </div>
            </div>
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForSubstitution.periodName}}</div>
                <div class="row headingTitle">Period </div>
            </div>
        </div>
        <div class="row mx-2 mb-3">
            <div class="col-md-7">
                <div class="row mainHeading">{{dataForSubstitution.batchIds[0].name}}</div>
                <div class="row headingTitle">Batch</div>
            </div>
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForSubstitution.courseName}}</div>
                <div class="row headingTitle">Course </div>
            </div>
        </div>
        <div class="row mx-2 mb-3">
            <div class="col-md-7">
                <div class="row mainHeading">Gender - {{dataForSubstitution.groupIds[0].name}}</div>
                <div class="row headingTitle">Batch Group</div>
            </div>
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForSubstitution.subjectName}}</div>
                <div class="row headingTitle">Subject </div>
            </div>
        </div>
        <div class="row mx-2 mb-3">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                style="border-radius: 50%;" alt=""></span>
                    </div>
                    <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                        <div class="row mainHeading">{{dataForSubstitution.teacherIds[0].name}}</div>
                        <div class="row headingTitle">Teacher</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row mainHeading">{{dataForSubstitution.classRoomName}}</div>
                <div class="row headingTitle">Classrroom </div>
            </div>
        </div>

        <div class="row buttons mt-2 mx-2">
            <a class="btn btn-cancel btn-outline" (click)="cancelSubstitute()">Cancel</a>
            <button class="btn btn-save btn-filled" (click)="removeLecture(2)">Cancel Lecture</button>
        </div>
    </div>
</div>

<div *ngIf="type==11">
    <div>
        <div style="border-bottom: 1px solid #80808040;background-color: #d3d3d33b;">
            <div class="row mx-3 my-2">
                <h4>Lecture Details</h4>
            </div>
            <div class="row mx-3 mb-3">
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.courseName ? dataForSubstitution.courseName
                        :''}}</div>
                    <div class="row headingTitleTest">Course </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.batchIds ?
                        dataForSubstitution.batchIds[0].name :''}}</div>
                    <div class="row headingTitleTest">Batch Name </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">Gender - {{dataForSubstitution.groupIds &&
                        dataForSubstitution.groupIds.length > 0 ? dataForSubstitution.groupIds[0].name : ''}}</div>
                    <div class="row headingTitleTest">Batch Group</div>
                </div>

            </div>
            <div class="row mx-3 mb-3">
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.subjectName ? dataForSubstitution.subjectName
                        :''}}</div>
                    <div class="row headingTitleTest">Subject </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.lessonStartTime |date:'shortTime'
                        :'UTC'}}-{{dataForSubstitution.lessonEndTime |date:'shortTime' :'UTC' }}</div>
                    <div class="row headingTitleTest">Time </div>
                </div>
                <div class="col-md-4">
                    <div class="row mainHeadingTest">{{dataForSubstitution.classRoomName ?
                        dataForSubstitution.classRoomName :''}}</div>
                    <div class="row headingTitleTest">Classrroom </div>
                </div>


            </div>


            <div class="row mx-3 mb-3">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-4">
                            <span><img src="assets/images/users/user-1.jpg" height="35px" width="35px"
                                    style="border-radius: 50%;" alt=""></span>
                        </div>
                        <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                            <div class="row mainHeading">{{dataForSubstitution.teacherIds[0].name}}</div>
                            <div class="row headingTitle">Teacher</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="border-bottom: 1px solid #80808040;padding: 20px 35px;">
            <div class="row" style="color: red;margin-left: 0px;">This lecture was cancelled by:</div>
            <div class="row headingTitle" style="margin-left: 0px;">{{dataForSubstitution.teacherIds[0].name}} on </div>
        </div>


        <div class="row buttons mt-3 mx-3">
            <a class="btn btn-cancel btn-outline" (click)="cancelSubstitute()">Cancel</a>
            <button class="btn btn-save btn-filled" (click)="activateLectur()">Activate Lecture</button>
        </div>
    </div>
</div>

<div class="viewSidePopup deleteLecturePopup"
    [ngClass]="{'slideInLeft':!isDeleteLecture,'slideInRight':isDeleteLecture}" *ngIf="isDeleteLecture">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4 *ngIf="isDelete">Delete Changes</h4>
        </div>
    </div>
    <div class="row mx-0 px-1 py-2">
        <p class="pt-2 mx-2" *ngIf="isDelete">Are you sure you want to delete this changes?</p>
        <div class="row w-100 mt-3 justify-content-center">
            <a class="btn btn-no btn-outline" *ngIf="isDelete" (click)="deleteCancel()">No</a>
            <button class="btn btn-yes btn-filled" *ngIf="isDelete" (click)="removeAction()">Yes</button>
        </div>
    </div>
</div>

<div class="viewSidePopup removeLecturePopup"
    [ngClass]="{'slideInLeft':!isRemoveLecture,'slideInRight':isRemoveLecture}" *ngIf="isRemoveLecture">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4>Cancel Lecture</h4>
        </div>
    </div>
    <div class="row mx-0 px-1 py-2">
        <p class="pt-2 mx-2">Are you sure you want to cancel this lecture?</p>
        <div class="row w-100 mt-3 justify-content-center">
            <a class="btn btn-no btn-outline" (click)="deleteCancel()">No</a>
            <button class="btn btn-yes btn-filled" (click)="cancelLecture()">Yes</button>
        </div>
    </div>
</div>



<!-- <div class="viewSidePopup rightSidePopup"
    [ngClass]="{'slideInLeft':!isSubtitutePopup,'slideInRight':isSubtitutePopup}"
    *ngIf="isSubtitutePopup">
    <app-subtitute-leture [type]="1" [showData]="dataForShow" [timetableId]="timetableId" (closeSubtituteLecture)="closeSubtitution($event)">
    </app-subtitute-leture>
</div> -->