.card-header{
    border-bottom: 1px solid #E5E8E8;
    background-color: white;
    border-right: 1px solid #E5E8E8;
    height: 90px;
    padding-top: 15px;
}

.card-body{
    border-bottom: 1px solid #E5E8E8;
    background-color: white;
    border-right: 1px solid #E5E8E8;
    height: 90px;
}


.dotdone {
  height: 15px;
  width: 15px;
  background-color: rgb(155, 167, 248);
  border-radius: 50%;
  display: inline-block;
}
.dotprogress {
  height: 15px;
  width: 15px;
  background-color: rgb(226, 228, 236);
  border-radius: 50%;
  display: inline-block;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

::ng-deep .mat-button-wrapper{
    margin-top: -6px;
}

.buttons{
   height: 30px;
   width: 30px;
   margin-top: 3px;
}

.column{
    margin-top: 10px;
    font-family: 'Roboto';
    color:#7F8C8D;
}

.data{
    padding: 10px 10px 10px;
}

.iconcolor{
    color: #a1a0af;
  }

  .dotCircle{
    height: 50px;
    width: 50px;
    // background-color: rgb(155, 167, 248);
    border-radius: 50%;
    display: inline-block;
  }

  .menu-arrow {
    transition: transform 0.15s;
    position: absolute;
    right: 20px;
    display: inline-block;
    font-family: "Material Design Icons";
    text-rendering: auto;
    line-height: 1.5rem;
    font-size: 1.9rem;
    transform: translate(0, 0);
    &:before {
      content: "\F142";
    }
  }


  div {
    > button.btn.btn-link.collapsed{
      > span.menu-arrow {
        transform: rotate(360deg);
      }
    }
  }

  div {
    > button.btn.btn-link{
      > span.menu-arrow {
        transform: rotate(90deg);
      }
      
    }
  }

 .accordion:hover{
   box-shadow: 1px 1px 39px 6px rgba(0,0,0,0.36);
 }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}





 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 240, 240); 
  // outline: 1px solid #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 206, 206);
}
