<div class="container-fluid">
  <br><br>
  <div class="row">
    <div class="col-8">
      <div style="height: 500px;overflow-y: scroll;">
        <div class="accordion" id="accordionExample" *ngFor="let item of shift;let i=index;">
          <div class="card">
            <div class="card-header" id="headingTwo" [ngStyle]="{'border-left' : item.isLinked === true  ? '4px solid #0DB2D0' : '4px solid #211fac'}"> 
              <h5>
                <div class="row">
                  <div class="col-3" style="padding-left: 25px;color: #AEB6BF;cursor: pointer;margin-top: 1%;" (click)="isSave(item)"><span style="font-size:12px;">{{item.startTime | date : 'HH:mm a'}}</span><br><span style="font-size: 11px;">{{item.endTime | date : 'HH:mm a'}}</span></div>
                  <div class="col-2 column" (click)="isSave(item)" style="cursor: pointer;">{{item.shiftName}}</div>
                  <div class="col-5" (click)="isSave(item)" style="margin-top: -14px;cursor: pointer;"><span *ngFor="let days of item.workingDaysList;let j=index;">
                    <button class="buttons" mat-mini-fab color="warn">
                      <span *ngIf="days?.day == 'MON'">M</span>
                      <span *ngIf="days?.day == 'TUE'">T</span>
                      <span *ngIf="days?.day == 'WED'">W</span>
                      <span *ngIf="days?.day == 'THU'">T</span>
                      <span *ngIf="days?.day == 'FRI'">F</span>
                      <span *ngIf="days?.day == 'SAT'">S</span>
                      <span *ngIf="days?.day == 'SUN'">S</span>
                    </button>&nbsp;&nbsp;&nbsp;</span></div>
                  <div class="col-2"><button class="btn btn-link collapsed" type="button" style="color: gray;float: unset;margin-left: 25%;;" data-toggle="collapse" [attr.data-target]="'#demo'+ i" aria-expanded="false" aria-controls="collapseTwo">
                    <span>Break</span> <span class="menu-arrow"></span>
                  </button>
                 
                </div>
                </div> 
              </h5>
            </div>
            <div id="demo{{i}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body" [ngStyle]="{'border-left' : item.isLinked === true  ? '4px solid #0DB2D0' : '4px solid #211fac'}">
                <div class="row">
                  <div class="col-4 iconcolor" *ngFor="let time of item.shiftbreaksList;let z=index;"><span class="material-icons"> free_breakfast </span><span>BREAK {{z+1}}</span><br><span style="font-size: 12px;">{{time.startTime | date : 'HH:mm a'}} - {{time.endTime | date : 'HH:mm a'}}</span></div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
       
        
      </div>
      <br>
      <br>
      <div class="col-3">
        <button type="button" class="btn btn-info" (click)="saveShift()">Save</button>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="card-box">
          <div class="row">
            <div class="col-7"><h4 class="header-title mb-1">Your Daily Report</h4></div>
          
            <div class="col-5">
              <select  class="form-control" style="background-color: #F2F3F4;">
                <option value="9/16" selected>9/16</option>
                <option value="9/16">9/16</option>
                <option value="9/16">9/16</option>
              </select>
            </div>
          </div>
          
  
          <div class="widget-chart text-center" dir="ltr">
  
            <apx-chart [chart]="revenueRadialChart.chart" [series]="revenueRadialChart.series"
              [plotOptions]="revenueRadialChart.plotOptions" [colors]="revenueRadialChart.colors"
              [stroke]="revenueRadialChart.stroke"></apx-chart>
           
              <div class="row">
              
                <div class="col-5"><span class="dotdone"></span>&nbsp;&nbsp;&nbsp;Done</div>
                <div class="col-6"><span class="dotprogress"></span>&nbsp;&nbsp;&nbsp;Progress</div>
             
              </div>
  
            
  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-box" style="width: 100%;">
          <h4 class="header-title mb-1">Task To Do</h4>
          <br>
          <div class="row">
            <div class="col-3">

              <span class="dotCircle" style=" border: 1px solid #4AD991;">
                <span class="material-icons" style="margin-left: 10px;
                margin-top: 10px;
                color: #4AD991;">
                  person_add
                  </span>
              </span>
        
            </div>
            <div class="col-9">
              <span style="font-size: 11pt;font-family: 'Roboto';font-weight: 500;">Prepare class plan</span><br>
              <span>4 hours ago</span> 
            </div>
          </div>
          <br><br><br>
          <div class="row">
            <div class="col-3">

              <span class="dotCircle" style=" border: 1px solid #A3A1FB;">
                <span class="material-icons" style="margin-left: 12px;
                margin-top: 12px;
                color: #A3A1FB;">
                  article
                  </span>
              </span>
            </div>
            <div class="col-9">
              <span style="font-size: 11pt;font-family: 'Roboto';font-weight: 500;">Design Teacher's Report</span><br>
              <span>8 hours ago</span> 
            </div>
          </div>
          <br><br><br>
          <div class="row">
            <div class="col-3">

              <span class="dotCircle" style=" border: 1px solid #FF7285;">
                <span class="material-icons" style="margin-left: 12px;
                margin-top: 12px;
                color: #FF7285;">
                  lock_open
                  </span>
              </span>
            </div>
            <div class="col-9">
              <span style="font-size: 11pt;font-family: 'Roboto';font-weight: 500;">Community Building</span><br>
              <span>2 days ago</span> 
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <br>
</div>


