<form [formGroup]="createTimeTableForm" class="w-100 pb-3">
    <div class="row popupHeading mx-0 align-items-center">
        <div class="col-8 pl-3">
            <h4>Create Timetable</h4>
        </div>
    </div>
    <div class="row mx-0 px-2 pt-2">
        <!-- <div class="col-12">
            <div class="form-group">
                <label for="fname">Academic year</label>
                <i style="color: tomato;">* </i>
                <ng-select [items]="academicYearList" class="custom1" bindLabel="name" formControlName="academicYear"
                    bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                    placeholder="Select year" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.academicYear.errors }"></ng-select>
                <div *ngIf="submitted && f.academicYear.errors" class="invalid-feedback">
                    <div *ngIf="f.academicYear.errors.required">Please select academic year</div>
                </div>
            </div>
        </div> -->
        <div class="col-12">
            <div class="form-group">
                <label for="fname">Timetable Name</label>
                <i style="color: tomato;">* </i>
                <input type="text" class="form-control" id="name" placeholder="Enter" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" #name maxlength="20">
                <p class="badge position-absolute inputBoxCount"
                    [ngClass]="{'badge-blue': name.value.length !== 20,'badge-danger': name.value.length == 20}">
                    {{ name.value.length }} / 20</p>
                <div *ngIf="submitted && f.name.errors?.required" class="invalid-feedback" style="display: block;">
                    Please enter timetable name
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="fname">Type</label>
                <i style="color: tomato;">* </i>
                <ng-select [items]="typeList" class="custom" bindLabel="name" formControlName="type" bindValue="id"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select type"
                    [searchable]="false" [ngClass]="{ 'is-invalid': submitted && f.type.errors }"></ng-select>
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">Please select Type</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="fname">Days</label>
                <i style="color: tomato;">* </i>
                <!-- <ng-multiselect-dropdown [placeholder]="'Select days'" [data]="workingDayList" formControlName="days"
                    [settings]="settings" [disabled]="false" (onSelect)="OnItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)" [ngClass]="{ 'is-invalid': submitted && f.days.errors}">
                </ng-multiselect-dropdown> -->
                <ng-select [items]="workingDayList" class="custom" bindLabel="day" bindValue="uniqueId"
                    formControlName="days" [multiple]="true" [closeOnSelect]="false" [clearable]="false"
                    placeholder="Select days" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.days.errors }">
                    <ng-template ng-header-tmp>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [checked]="isSelectAll" (change)="onSelectAll($event)" />
                            <label class="form-check-label ml-2">Select All</label>
                        </div>

                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:3">
                            <span class="ng-value-label"> {{item.day}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 3">
                            <span class="ng-value-label">+{{items.length - 3}}</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="item$.selected" (change)="onItemSelect($event)"
                                [ngModelOptions]="{standalone: true}" />
                            <label class="form-check-label ml-2">{{item.day}}</label>
                        </div>
                    </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.days.errors?.required" class="invalid-feedback" style="display: block;">
                    <div *ngIf="f.days.value == null || f.days.value.length == 0">Please assign atleast one day</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="fname">Periods</label>
                <i style="color: tomato;">* </i>
                <ng-select [items]="slotList" class="custom" bindLabel="name" formControlName="periods"
                    bindValue="uniqueId" [multiple]="true" [closeOnSelect]="false" [clearable]="false"
                    placeholder="Select periods" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.periods.errors }">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                            <span class="ng-value-label"> {{item.name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 1">
                            <span class="ng-value-label">+{{items.length - 1}}</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="item$.selected" [ngModelOptions]="{standalone: true}" />
                            <label class="form-check-label ml-2">{{item.name}}</label>
                        </div>
                    </ng-template>
                </ng-select>
                <div *ngIf="submitted && f.periods.errors" class="invalid-feedback">
                    <div *ngIf="f.periods.errors.required">Please select periods</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row buttons mt-3">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" (click)="saveTimetable()">Save</button>
    </div>
</form>