label {
    font-weight: 500;
}
.card {
    border: 1px solid #80808047;
    margin: 8px;
}
.container-fluid {
    height: 95vh;
}

.subHead {
    padding: 16px 35px;
    font-size: 16px;
    color: black;
    border-right: 1px solid #80808047;
    font-weight: bold;
}

.subHead1 {
    padding: 9px 5px;
    font-size: 16px;
    color: black;
    border-right: 1px solid #80808047;
}

.subHeader {
    padding: 21px 20px;
    font-size: 18px;
    color: black;
    border-right: 1px solid #80808047;
}

::ng-deep ng-select.custom1 .ng-select-container {
    border: none !important;
    font-size: 15px;
    color: gray;
}

.dayBlock {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #0091ff;
    border-left: 1px solid #0091ff;
    border-bottom: 1px solid #0091ff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #0091ff;
    cursor: pointer;
}

.weekBlock {
    color: #0091ff;
    padding: 5px;
    text-align: center;
    border: 1px solid #0091ff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.dayweekActive {
    background-color: #0091ff;
    color: white;
}

.dayBlock:hover,
.weekBlock:hover {
    background-color: #0091ff;
    color: white;
}

//vinayak

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #0091ff;
    border-color: #0091ff;
}

::ng-deep ng-select.customStylesforItems .ng-select-container {
    font-size: 13px;
}

::ng-deep ng-select.customBorder .ng-select-container {
    border: none !important;
}

.subject {
    padding: 5px 23px;
    height: 30px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 8px;
}

.ng-select.customList {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.customList ::ng-deep .ng-select-container {
    display: none;
}
.ng-select.customList ::ng-deep .ng-dropdown-panel {
    margin-top: 5px;
    border-radius: 4px !important;
    width: 125px;
}
.color1 {
    background-color: #00f3ff17;
}
.color2 {
    background-color: #0043ff17;
}
.color3 {
    background-color: #ff990026;
}
.color4 {
    background-color: #0095ff26;
}
.batchBadge {
    padding: 5px 7px 5px 7px;
    font-size: 11px;
    width: auto;
    height: 27px;
    color: #555;
}
.batchBadge .fa-times {
    padding-top: 2px;
    cursor: pointer;
}
