<div class="card">
    <div class="row" style="border-bottom: 1px solid #80808047;margin: 0;">
        <div class="col-md-2 subHeader">Substitution</div>
        <div class="col-md-10" style="padding: 18px 20px;">
            <div class="row" style="margin: 0;">
                <div class="col-2">
                    <div class="row mainLabel">{{timetableName}}</div>
                    <div class="row headingTitle">Timetable Name</div>
                </div>
                <div class="col-2">
                    <div class="row mainLabel" style="color: green;">Published</div>
                    <div class="row headingTitle">Status</div>
                </div>
                <div class="col-2">
                    <div class="row mainLabel">{{starDate|date:'dd/MM/yyyy'}}</div>
                    <div class="row headingTitle">Start Date</div>
                </div>
                <div class="col-2">
                    <div class="row mainLabel">{{endDate|date:'dd/MM/yyyy'}}</div>
                    <div class="row headingTitle">End Date</div>
                </div>
                <div class="col-2"></div>
                <div class="col-1 dayBlock dayweekActive" id="dayBlockChange"
                    (click)="changeType(1,'dayBlockChange','weekBlockChange')">
                    Day

                </div>
                <div class="col-1 weekBlock" id="weekBlockChange"
                    (click)="changeType(2,'weekBlockChange','dayBlockChange')">
                    Week
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid #80808047;margin: 0;">
        <div class="col-md-6 subHead">{{title}}</div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 subHead1">
                    <div class="input-group" *ngIf="selectedType==1">

                        <input [owlDateTimeTrigger]="dt1" [(ngModel)]="dateTime" style="border: none;"
                            (ngModelChange)="dayWeekChange($event,selectedType)" [owlDateTime]="dt1"
                            class="form-control" [owlDateTime]="dt1">
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color: white;border: none;"><i
                                    class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="selectedType==2">

                        <input [owlDateTimeTrigger]="dt1" [(ngModel)]="dateTime" style="border: none;"
                            (ngModelChange)="dayWeekChange($event,selectedType)" [owlDateTime]="dt1"
                            class="form-control" [owlDateTime]="dt1">
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color: white;border: none;"><i
                                    class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 subHead1">
                    <ng-select [items]="itemList" class="custom1" bindLabel="name" [(ngModel)]="selectedFilterType"
                        bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                        placeholder="Select timetable" [disabled]="isChecked" [searchable]="false" (change)="changeFilterMaster($event)">
                    </ng-select>
                </div>
                <div class="col-md-3 subHead1">
                    <ng-select [items]="filterList" class="custom1" bindLabel="name" bindValue="uniqueId" [(ngModel)]="selectedFilterDataValue"
                        [multiple]="false" [disabled]="isChecked" [closeOnSelect]="true" [clearable]="false" placeholder="Select timetable"
                        [searchable]="false" (change)="filterData($event)"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-0">
        <div class="col-md-2 mb-2 mt-3 d-flex">
            <ng-select [items]="shiftList" class="customStylesforItems" bindLabel="name" bindValue="uniqueId" [disabled]="isChecked"  [(ngModel)]="selectedShiftValue"
                [multiple]="false" style="width: 100%;" [closeOnSelect]="true" [clearable]="false"
                placeholder="Sort by Shift" [disabled]="isChecked" [searchable]="false"  (change)="shiftChange($event)"></ng-select>
        </div>
        <div class="col-md-3 mb-1 mt-3 d-flex">
            <div class="form-group row checkbox checkbox-primary mb-2" style="margin-top: 7px;">
                <input id="checkbox1" type="checkbox" style="height: 16px;" data-md-icheck [(ngModel)]="isChecked"  (change)="ShowAllData($event)">
                <label for="checkbox1" style="font-size: 13px;">
                    Show All Data
                </label>
            </div>
        </div>
        <div class="col-md-6 mb-1 mt-3 d-flex justify-content-end">
            <div class="batchBadge mr-1" *ngFor="let item of selectedSubjects| slice:0:4;let i=index"
                [ngClass]="colorClassArray[i%4]">{{item.name}} &nbsp;&nbsp;<i class="fa fa-times float-right"
                    (click)="removeSubject(item,i)"></i></div>
            <div class="subjectCount mr-2" *ngIf="selectedSubjects.length>4">+{{selectedSubjects.length-4}} </div>
            <ng-select [items]="subjectList" #selectList class="customList" [disabled]="isChecked" bindLabel="name" bindValue="uniqueId"
                [multiple]="true" [closeOnSelect]="true" [clearable]="false" placeholder="Select" [searchable]="false"
                [(ngModel)]="selectedSubjectList" (change)="changeSubjects($event)">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
                    <div class="custom-control custom-checkbox pl-0">
                        <input type="checkbox" [(ngModel)]="item$.selected" [ngModelOptions]="{standalone: true}" />
                        <label class="form-check-label ml-2">{{item.name}}</label>
                    </div>
                </ng-template>
            </ng-select>
            <a class="link-project" (click)="selectList.open();">More...<i class="fas fa-chevron-down"></i></a>



            <!-- <span *ngFor="let subject of subjectList;" class="subject" style="background: #00f3ff17;"
            [ngStyle]="{'background':subject.name  == 'Physics' ? '#00f3ff17' :subject.name  == 'Chemistry' ? '#0043ff17' :subject.name  == 'Mathematics' ? '#ff990026' :subject.name  == 'Biology' ? '#0095ff26' :'b400ff17'}">
            {{subject.name}} <i class="fa fa-times"
                    aria-hidden="true"></i></span>
            

            <ng-select [items]="itemList" class="customBorder" bindLabel="name" bindValue="id" [multiple]="false"
                [closeOnSelect]="true" [clearable]="false" placeholder="more.." [searchable]="false"></ng-select> -->
        </div>
    </div>
    <!-- <div class="row mx-2 my-2">
        <div class="col-3">
            <label for="">Timetable</label>
            <ng-select [items]="timetabaleList" class="custom1" bindLabel="name" [(ngModel)]="selectedTimetable"
                bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                placeholder="Select timetable" [searchable]="false" (change)="changeTimetable($event)"></ng-select>
        </div>
        <div class="col-3" *ngIf="selectedType==1">
            <label for="">Date</label>
            <input type="text" class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [bsValue]="bsValue"
                (bsValueChange)="changeDate($event)" #dp="bsDatepicker" placeholder="Pick a date" show-weeks="false"
                bsDatepicker>
        </div>
        <div class="col-3" *ngIf="selectedType==2">
            <label for="">Week</label>
            <input [owlDateTimeTrigger]="dt1" [(ngModel)]="dateTime" (ngModelChange)="dateChange($event)"
                [owlDateTime]="dt1" class="form-control" [owlDateTime]="dt1">
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
        <div class="col-5"></div>
        <div class="col-1 px-0">
            <label for=""></label>
            <ng-select [items]="typeLsit" class="custom1 typeLsit" bindLabel="name" [(ngModel)]="selectedType"
                bindValue="id" [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select type"
                [searchable]="false" (change)="changeType($event)"></ng-select>
        </div>
    </div> -->
    <div *ngIf="selectedType==1">
        <app-view-lecture-timetable [mainType]="3" [periodData]="periodData" [selectedDate]="dateTime" [timetableName]="timetableName" [dateObj]="dateObj"
            [timetableId]="timetableId" (close)="closeForm($event)"></app-view-lecture-timetable>
    </div>
    <div *ngIf="selectedType==2">
        <app-view-lecture-timetable [mainType]="4" [periodData]="weekData" [timetableId]="timetableId" [dateObj]="dateObj" [timetableName]="timetableName"
            [weekDates]="weekDates" (close)="closeForm($event)">
        </app-view-lecture-timetable>
    </div>
</div>