<!-- <pre>{{selectedStudents | json }}</pre>
<pre>{{studentList | json }}</pre> -->

<div class="container-fluid">
    <app-common-loader *ngIf="spinner"></app-common-loader>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="form-inline">
                        <div class="form-group">
                        </div>
                        <a href="javascript: void(0);" class="btn btn-info btn-sm ml-2" (click)="opensearchmodal(studentsearchmodal)">
                            <i class="fas fa-filter"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-success btn-sm ml-2" (click)="reloadPage()">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                    </form>
                </div>
                <h4 class="page-title">Students Bulk Asign</h4>
            </div>
        </div>
    </div>

  
      <section>
          <div class="row">
              <div class="col-sm-6">
                  <div class="card" style=" height: 600px;">
                      <div class="card-header" style="background-color: blue; color: white;">
                          Student Data
                      </div>
                      <div class="card-body" style="background-color: white;">
                        
                        <div class="row" style=" margin-top: 32px;">
                            <div class="col-sm-12">
                                <input type="checkbox" name="select" [(ngModel)]="multiselectionEnable" (change)="onMultiCheckChange()"/>
                                <label >&nbsp; &nbsp; Enable Multiselect</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                               
                                <div (mouseover)="setMouseover('Main container')" cdkDropList  [cdkDropListData]="studentList"
                                [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
                                (cdkDropListDropped)="drop($event)" class="search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150" [scrollWindow]="false"
                                (scrolled)="onStudentsScroll()" style=" border: 1px solid; padding: 10px; box-shadow: 5px 10px #888888; padding: 10px; height: 500px; overflow: scroll;">
                                <div  *ngFor="let student of studentList; let i=index " class="pop" cdkDrag>
                                    <div id="studentId.id" class="row" (click)="SelectDeselectMainList(i)" [style.background-color]="student.color" style="padding: 10px;  border: 0.5px solid rgb(207, 198, 198); margin-left: 5px; margin-right: 5px; margin-bottom: 5px;">
                    
                                        <div class="col-sm-2 text-center">
                    
                                            <img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 40px; width: 40px;">
                            
                                        </div>
                                        <div class="col-sm-10 text-center">
                            
                                            <h6 >{{student.selectedName}}</h6>
                                        </div>
                                      
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>              
                      </div>
                  </div>
  
              </div>
              <div class="col-sm-6">
                
                  <div class="card">
                      <div class="card-header" style="background-color: blue; color: white;">
                          Selected Students
                      </div>
                      <div class="card-body">
                       
                        <div align="right" style="margin-bottom: 20px;">
                            <button type="button" class="btn btn-success" style="margin-right: 20px; color: blue; cursor: pointer; color: white;" (click)="open(mymodal)">Allocate / Remove</button>
                            <!-- <button type="button" class="btn btn-danger"  style="color: crimson; cursor: pointer; color: white;">Remove</button> -->
                        </div>

                          <div (mouseover)="setMouseover('sub container')" cdkDropList [cdkDropListData]="selectedStudents"
                          [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList"
                          (cdkDropListDropped)="drop($event)" style=" border: 1px solid; padding: 10px; box-shadow: 5px 10px #888888; padding: 10px; height: 500px; overflow: scroll;">
                          <div  *ngFor="let selectedStudent of selectedStudents; let l=index" class="pop" cdkDrag>
              
                              <div id="studentId.id" [style.background-color]="selectedStudent.color" (click)="SelectDeselectsubList(l)" class="row" style="padding: 10px;  border: 0.5px solid rgb(207, 198, 198); margin-left: 5px; margin-right: 5px; margin-bottom: 5px; background-color: blueviolet; color: white;">
              
                                  <div class="col-sm-2 text-center">
              
                                      <img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 40px; width: 40px;">
                      
                                  </div>
                                  <div class="col-sm-10 text-center">
                      
                                      <h6>{{selectedStudent.selectedName}}</h6>

                                  </div>
                               </div>
                          </div>
                          </div>
  
                      </div>
                  </div>
  
      
              </div>
          </div>
  </section>
  
  
  </div>
  
  
  <!-- allocation model starts here -->
  <ng-template #mymodal let-modal>
  
      <div class="modal-header">
    
        <h4 class="modal-title" id="modal-basic-title">Allocate</h4>
    
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    
          <span aria-hidden="true">×</span>
    
        </button>
    
      </div>
    
      <div class="modal-body">
    
          <div>
              <div class="row card-box">
              
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="bloodGroup">Select Academic year</label>
                        <select id="" class="form-control" [(ngModel)]="AllowcatedAcademicYearId" (change)="onAlwAcademicYearChange($event.target.value)">
                            <option value="0">Select Academic year</option>  
                            <option *ngFor="let AlwacademicYear of AlwacademicYear" value="{{AlwacademicYear.uniqueId}}">{{AlwacademicYear.itemName}}</option>            
                      </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="bloodGroup">Select Academic calendar</label>
                        <select id="" class="form-control" [(ngModel)]="AllowcatedCalenderId" (change)="onAlwAcademicCalenderChange($event.target.value)">
                            <option value="0">Select Course</option>  
                            <option *ngFor="let AlwacademicCalender of AlwacademicCalender" value="{{AlwacademicCalender.uniqueId}}">{{AlwacademicCalender.name}}</option>            
                      </select>
                    </div>
                </div>
               
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="bloodGroup">Select Course</label>
                          <select id="" class="form-control" [(ngModel)]="AllowcatedcourseId" (change)="onAlwCourseChange($event.target.value)">
                              <option value="0">Select Course</option>  
                              <option *ngFor="let AlwcourseList of AlwcourseList" value="{{AlwcourseList.uniqueId}}">{{AlwcourseList.name}}</option>            
                        </select>
                      </div>
                  </div>
      
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="bloodGroup">Select Board</label>
                          <select id="" class="form-control" [(ngModel)]="AllowcatedBoardId" (change)="onAlwBoardChange($event.target.value)">
                              <option value="0">Select Board</option> 
                              <option *ngFor="let AlwboardList of AlwboardList" value="{{AlwboardList.uniqueId}}">{{AlwboardList.name}}</option>            
                        </select>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="bloodGroup">Select Batch</label>
                          <select id="" class="form-control" [(ngModel)]="AllowcatedBatchId" (change)="onAlwBatchChange($event.target.value)">
                            <option value="0">Select Batch</option>  
                            <option *ngFor="let AlwbatchList of AlwbatchList" value="{{AlwbatchList.uniqueId}}">{{AlwbatchList.name}}</option>           
                        </select>
                      </div>
                  </div>
      
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="bloodGroup">Select Grade</label>
                          <select id="" class="form-control" [(ngModel)]="AllowcatedGradeId">
                           <option value="0">Select Grade</option>   
                            <option *ngFor="let AlwgradeList of AlwgradeList" value="{{AlwgradeList.uniqueId}}">{{AlwgradeList.name}}</option>   
                        </select>
                      </div>
                  </div>
      
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="bloodGroup">Select Group</label>
                          <select id="" class="form-control"  [(ngModel)]="AllowcatedGroupId">
                              <option value="0">Select Group</option>   
                            <option *ngFor="let AlwgroupList of AlwgroupList" value="{{AlwgroupList.uniqueId}}">{{AlwgroupList.name}}</option>           
                        </select>
                      </div>
                  </div>
      
              </div>
          </div>
    
      </div>
    
      <div class="modal-footer">
    
        <button type="button" class="btn btn-outline-dark" (click)="allocatedetails(); modal.close('Save click')">Save Details</button>
    
      </div>
    
    </ng-template>
  
    
  <!-- allocation model starts here -->
  <ng-template #studentsearchmodal let-modal>
  
    <div class="modal-header">
  
        <div style="margin: auto;">
            <h4 class="modal-title" style="margin-left: 230px;"><i class="fa fa-search" align="center"> </i> Search students</h4>
        </div>
        <button type="button" class="close" aria-label="Close">
  
        <button type="button" class="btn btn-danger"  align="right" (click)="getUnAsignedStudents()">GET UN-ASIGNED STUDENT</button>
        <span aria-hidden="true"></span>
  
      </button>
  
    </div>
  
    <div class="modal-body">
  
            <!-- modal body starts here -->
                <div class="row">
                   
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="bloodGroup">Select Academic year</label>
                            <select id="" class="form-control" [(ngModel)]="SelectedAcademicYearId" (change)="onAcademicYearChange($event.target.value)">
                                <option value="0">Select Academic year</option>  
                                <option *ngFor="let academicYear of academicYear" value="{{academicYear.uniqueId}}">{{academicYear.itemName}}</option>            
                          </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="bloodGroup">Select Academic calendar</label>
                            <select id="" class="form-control" [(ngModel)]="SelectedAcademicCalenderId" (change)="onAcademicCalenderChange($event.target.value)">
                                <option value="0">Select Academic calendar</option>  
                                <option *ngFor="let academicCalender of academicCalender" value="{{academicCalender.uniqueId}}">{{academicCalender.name}}</option>            
                          </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="bloodGroup">Select Course</label>
                            <select id="" class="form-control" [(ngModel)]="SelectedcourseId" (change)="onCourseChange($event.target.value)">
                                <option value="0">Select Course</option>  
                                <option *ngFor="let courseList of courseList" value="{{courseList.uniqueId}}">{{courseList.name}}</option>            
                          </select>
                        </div>
                    </div>
    

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="bloodGroup">Select Board</label>
                            <select id="" class="form-control" [(ngModel)]="SelectedBoardId" (change)="onBoardChange($event.target.value)">
                                <option value="0">Select Board</option> 
                                <option *ngFor="let boardList of boardList" value="{{boardList.uniqueId}}">{{boardList.name}}</option>            
                          </select>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="bloodGroup">Select Batch</label>
                            <select id="" class="form-control" [(ngModel)]="SelectedBatchId" (change)="onBatchChange($event.target.value)">
                              <option value="0">Select Batch</option>  
                              <option *ngFor="let batchList of batchList" value="{{batchList.uniqueId}}">{{batchList.name}}</option>           
                          </select>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="bloodGroup">Select Grade</label>
                            <select id="" class="form-control" [(ngModel)]="SelectedGradeId">
                             <option value="0">Select Grade</option>   
                              <option *ngFor="let gradeList of gradeList" value="{{gradeList.uniqueId}}">{{gradeList.name}}</option>   
                          </select>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="bloodGroup">Select Group</label>
                            <select id="" class="form-control"  [(ngModel)]="SelectedGroupId">
                                <option value="0">Select Group</option>   
                              <option *ngFor="let groupList of groupList" value="{{groupList.uniqueId}}">{{groupList.name}}</option>           
                          </select>
                        </div>
                    </div>
        
                    <!-- <div class="col-sm-3">
                        <div class="form-group">
                            <label for="bloodGroup">Select Year</label>
                            <select id="" class="form-control"  [(ngModel)]="SelectedGroupId">
                                <option value="0">Select Year</option>   
                              <option *ngFor="let groupList of groupList" value="{{groupList.uniqueId}}">{{groupList.name}}</option>           
                          </select>
                        </div>
                    </div> -->
                </div>
            <!-- modal body ends here -->
  
    </div>
  
    <div class="modal-footer">
       
        <div style="margin: auto;">
            <button type="button" class="btn btn-success" (click)="serachStudent(); modal.close('Save click')" style="margin-right: 20px;">SEARCH STUDENTS</button>
            <button type="button" class="btn btn-success" (click)="clearSearch()" style="margin-right: 20px;">CLEAR ALL</button>
            <button type="button" class="btn btn-danger"  (click)="modal.close('Save click')">CLOSE</button>
        </div>
  
    </div>
  
  </ng-template>
   