.modal-xl .modal-lg {
    width: 90%;
  }

  .wrapper {
    margin: 25px auto;
    max-width: 600px;
    text-align: center;
    padding: 0 20px;
  }
  
  .container {
    width: 45%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .movie-list {
    width: 80%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: inline-block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 25px;
  }
  
  .movie-block {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .movie-block:last-child {
    border: none;
  }
  
  .movie-list.cdk-drop-list-dragging .movie-block:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  
  /* refered for on selection color https://stackoverflow.com/questions/49126297/angular5-set-color-of-div-container-dynamically */