.table th,table td{
    padding: 7px;
}




  th{
    font-weight: 400;font-size: 12px;
  }

  .table-bordered{
      border:1px solid #acabca;
  }

  .tableStyle{
    margin-left: 3%;
    margin-right: 3%;
  }


