
        <form [formGroup]="markingSchemeForm" (ngSubmit)="formSubmit()">
            <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group row mb-12">
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                 
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="schemeType" value="1" formControlName="schemeType" id="schemeType1">
                                        <label for="inlineRadio1"> Import </label>
                                    </div>
                                   
                                    <div *ngIf="markingSchemeForm.controls['schemeType'].errors && markingSchemeForm.controls['schemeType'].touched"
                                        class="invalid-feedback">
                                        <div *ngIf="markingSchemeForm.controls['schemeType'].errors?.required">This is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="schemeType" value="2" formControlName="schemeType" id="schemeType1">
                                        <label for="inlineRadio1"> Add New </label>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>

                   
                    <div *ngIf="markingSchemeForm.controls['schemeType'].value == 1" class="row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <!-- <select class="form-control custom-select" formControlName="uniqueId"
                                        (change)="getSelectedScheme($event.target.value)">
                                        <option value="">Select</option>
                                        <option *ngFor="let scheme of markingSchemeList" value="{{scheme.uniqueId}}">
                                            {{scheme.name}}
                                        </option>
                                    </select> -->

                                     <ng-select bindLabel="name" placeholder="Select Scheme" formControlName="uniqueId" (change)="getSelectedScheme($event)">
                                      <ng-option *ngFor="let scheme of markingSchemeList" [value]="scheme.uniqueId">
                                          {{scheme.name}}
                                      </ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div *ngIf="markingScheme != null" class="form-group row">
                                <table class="table table-bordered mb-10 tableStyle">
                                    <thead style="background-color: #0091ff38;">
                                        <tr>
                                            <th>Name</th>
                                            <th>Option Count</th>
                                            <th>Highest Marks</th>
                                            <th>Default Marks</th>
                                            <th>Leave Marks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{markingScheme.name}}</th>
                                            <th scope="row">{{markingScheme.optionCount}}</th>
                                            <th scope="row">{{markingScheme.highestMarks}}</th>
                                            <th scope="row">{{markingScheme.defaultMarks}}</th>
                                            <th scope="row">{{markingScheme.leaveMarks}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="markingSchemeForm.controls['schemeType'].value == 2" class="row">
                        <div class="col-lg-12">
                         
                            <div class="form-group row mb-10">
                                <div class="col-lg-4">
                                 
                                            <div class="text-center">
                                                <p *ngIf="option.value" class="badge position-absolute"
                                                    [ngClass]="{'badge-success': option.value.length !== 45,'badge-danger': option.value.length == 45}">
                                                    {{ option.value.length }} / 45</p>
                                            </div>
                                            <input type="text" placeholder="Name" formControlName="name" maxlength="45"
                                                class="form-control autonumber" #option (keyup)="0" 
                                                [ngClass]="{'is-invalid':markingSchemeForm.controls['name'].errors && isAddSchemeSubmit}" (input)="checkExists($event.target.value)">
                                            
                                            <div *ngIf="markingSchemeForm.controls['name'].errors && isAddSchemeSubmit" class="invalid-feedback">
                                                <div *ngIf="markingSchemeForm.controls['name'].errors?.required">Name is
                                                    required
                                                </div>
                                            </div>
                                     
                                    
                                </div>
                                <div class="col-lg-2" style="padding-left: 0;" >
                                   
                                            <select class="form-control custom-select" formControlName="optionCount"  style="height: 36px;border-radius: 0;"
                                                [ngClass]="{'is-invalid':markingSchemeForm.controls['optionCount'].errors && markingSchemeForm.controls['optionCount'].touched}">
                                                <option value="Options" selected hidden> Options </option>
                                                <option value="1"> 1 </option>
                                                <option value="2"> 2 </option>
                                                <option value="3"> 3 </option>
                                                <option value="4"> 4 </option>
                                                <option value="5"> 5 </option>
                                            </select>
                                            <div *ngIf="markingSchemeForm.controls['optionCount'].errors && markingSchemeForm.controls['optionCount'].touched"
                                                class="invalid-feedback">
                                                <div *ngIf="markingSchemeForm.controls['optionCount'].errors?.required">Option
                                                    count
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                        
                                <div class="col-lg-2" style="padding-left: 0;">
                                            <input type="text" maxlength="2" size="2" formControlName="highestMarks" ngbTooltip="Highest Marks" placeholder="Highest Marks"
                                                (keypress)="numberOnly($event)" class="form-control autonumber"
                                                (input)="getRightMarks($event.target.value)"
                                                [ngClass]="{'is-invalid':markingSchemeForm.controls['highestMarks'].errors && isAddSchemeSubmit}">
                                            <div *ngIf="markingSchemeForm.controls['highestMarks'].errors && isAddSchemeSubmit"
                                                class="invalid-feedback">
                                                <div *ngIf="markingSchemeForm.controls['highestMarks'].errors?.required">
                                                    Required
                                                </div>
                                            </div>
                                </div>
                                <div class="col-lg-2" style="padding-left: 0;">
                                            <input type="text" maxlength="2" size="2" formControlName="defaultMarks" ngbTooltip="Default Marks" placeholder="Default Marks"
                                                (keypress)="numberOnly($event)" class="form-control autonumber"
                                                [ngClass]="{'is-invalid':markingSchemeForm.controls['defaultMarks'].errors && isAddSchemeSubmit}">
                                            <div *ngIf="markingSchemeForm.controls['defaultMarks'].errors && isAddSchemeSubmit"
                                                class="invalid-feedback">
                                                <div *ngIf="markingSchemeForm.controls['defaultMarks'].errors?.required">
                                                    considered as negative marks
                                                </div>
                                            </div>
                                </div>
                                <div class="col-lg-2" style="padding-left: 0;">
                                            <input type="text" maxlength="2" size="2" formControlName="leaveMarks" ngbTooltip="Leave Marks" placeholder="Leave Marks"
                                                (keypress)="numberOnly($event)" class="form-control autonumber"
                                                [ngClass]="{'is-invalid':markingSchemeForm.controls['leaveMarks'].errors && isAddSchemeSubmit}">
                                            <div *ngIf="markingSchemeForm.controls['leaveMarks'].errors && isAddSchemeSubmit"
                                                class="invalid-feedback">
                                                <div *ngIf="markingSchemeForm.controls['leaveMarks'].errors?.required">Required
                                                </div>
                                            </div>
                                </div>
                            </div>
                            <div formArrayName="subMarkingScheme">
                                <div class="table-responsive">
                                    <table class="table table-bordered mb-10  mt-1">
                                        <thead class="thead-light">
                                            <tr style="font-size: 13px;">
                                                <th style="font-weight: 500;">Sr No.</th>
                                                <th style="font-weight: 500;">Correct Option(s)</th>
                                                <th style="font-weight: 500;">Right Option(s)</th>
                                                <th style="font-weight: 500;">Wrong Option(s)</th>
                                                <th style="font-weight: 500;">Marks</th>
                                                <th style="font-weight: 500;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subScheme of markingSchemeForm.controls.subMarkingScheme['controls']; let j=index"
                                                [formGroupName]="j">
        
                                                <th scope="row" style="text-align: center;vertical-align: middle;"><span>{{j+1}}</span></th>
                                                <td>
                                                    <input type="text" maxlength="2" size="2" formControlName="correctOption"
                                                        (keypress)="numberOnly($event)" class="form-control autonumber"
                                                        (input)="getValue($event.target.value, j, 1)"
                                                        [ngClass]="{'is-invalid':subScheme.controls['correctOption'].errors && isAddSchemeSubmit}">
                                                    <div *ngIf="subScheme.controls['correctOption'].errors && isAddSchemeSubmit"
                                                        class="invalid-feedback">
                                                        <div *ngIf="subScheme.controls['correctOption'].errors?.required">
                                                            Correct
                                                            option
                                                            is required
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" maxlength="2" size="2" formControlName="rightOption"
                                                        (keypress)="numberOnly($event)" class="form-control autonumber"
                                                        (input)="getValue($event.target.value, j, 2)"
                                                        [ngClass]="{'is-invalid':subScheme.controls['rightOption'].errors && isAddSchemeSubmit}">
                                                    <div *ngIf="subScheme.controls['rightOption'].errors && isAddSchemeSubmit"
                                                        class="invalid-feedback">
                                                        <div *ngIf="subScheme.controls['rightOption'].errors?.required">Right
                                                            option
                                                            is
                                                            required
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" maxlength="2" size="2" formControlName="wrongOption"
                                                        (keypress)="numberOnly($event)" class="form-control autonumber"
                                                        (input)="getValue($event.target.value, j, 3)"
                                                        [ngClass]="{'is-invalid':subScheme.controls['wrongOption'].errors && isAddSchemeSubmit}">
                                                    <div *ngIf="subScheme.controls['wrongOption'].errors && isAddSchemeSubmit"
                                                        class="invalid-feedback">
                                                        <div *ngIf="subScheme.controls['wrongOption'].errors?.required">Wrong
                                                            option
                                                            is
                                                            required
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width: 16%;">
                                                    <input type="text" placeholder="" formControlName="marks"
                                                        (input)="getMarks($event.target.value, j)"
                                                        (keypress)="numberOnly($event)" class="form-control autonumber"
                                                        [ngClass]="{'is-invalid':subScheme.controls['marks'].errors && isAddSchemeSubmit}">
                                                    <div *ngIf="subScheme.controls['marks'].errors && isAddSchemeSubmit" class="invalid-feedback">
                                                        <div *ngIf="subScheme.controls['marks'].errors?.required">Marks are
                                                            required
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center;
                                                vertical-align: middle;">
                                                    <li *ngIf="markingSchemeForm.controls.subMarkingScheme['controls'].length > 1"
                                                        class="fas fa-trash-alt" (click)="removeNewSubScheme(j)"
                                                        title="Remove Sub-Scheme"
                                                        style="color: #d83838cb; cursor: pointer;"></li>
                                                    <li *ngIf="j == markingSchemeForm.controls.subMarkingScheme['controls'].length-1"
                                                        class="fa fa-plus icons add-icon" (click)="addNewSubScheme()"
                                                        title="Add Sub-Scheme" style="color: #0091ff;cursor: pointer;" [ngStyle]="{'margin-left' : markingSchemeForm.controls.subMarkingScheme['controls'].length > 1 ? '15px' :'' }"></li>
        
                                                    
                                                 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
               
          
        
        </form>
   
<!-- 
        <ng-template #markingSchemeModal let-modal="close" >
            <div class="modal-content">
              <div class="modal-header markingSchemeHeader">
                <h4 class="modal-title">Import Scheme</h4>
                <button type="button" class="close" (click)="modal('Cross click')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form [formGroup]="markingSchemeForm" (ngSubmit)="formSubmit()">
              <div class="modal-body">
               
                <div class="form-group row mb-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                   
                         <ng-select bindLabel="name" placeholder="Select Scheme" formControlName="uniqueId" (change)="getSelectedScheme(markingSchemeModal,$event)">
                          <ng-option *ngFor="let scheme of markingSchemeList" [value]="scheme.uniqueId">
                              {{scheme.name}}
                          </ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <div *ngIf="markingScheme != null" class="form-group row">
                    <table class="table table-bordered mb-10">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Option Count</th>
                                <th>Highest Marks</th>
                                <th>Default Marks</th>
                                <th>Leave Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{markingScheme.name}}</th>
                                <th scope="row">{{markingScheme.optionCount}}</th>
                                <th scope="row">{{markingScheme.highestMarks}}</th>
                                <th scope="row">{{markingScheme.defaultMarks}}</th>
                                <th scope="row">{{markingScheme.leaveMarks}}</th>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-md-3"></div>
                    <div class="col-md-3"><li class="list-inline-item" style="width: 100%;"><button style="width: 100%;color: black;border-color: #cccecf;background-color: white;" class="btn btn-secondary" type="button">Cancel</button>
                    </li></div>
                    <div class="col-md-3"><li class="next list-inline-item float-right" style="width: 100%;">
                        <button class="btn nextBtn " style="width: 100%;background-color: #3378CB;" type="submit">Save  </button>
                      </li></div>
                    <div class="col-md-3"></div>
                    
                </div>
              </div>
              <div class="modal-footer" >
                <form [formGroup]="markingSchemeForm">
                  <button *ngIf="markingSchemeForm.controls['schemeType'].value==2" type="button" class="btn"
                    (click)="saveAndImportScheme()" [disabled]="!markingSchemeForm.valid" style="margin-right: 10px;background-color: #4a81d4;">Save as
                    Template And Use</button>
                  <button type="button" class="btn btn-info" (click)="saveScheme()" (click)="modal('Cross click')"
                    [disabled]="!markingSchemeForm.valid">Save</button>
                </form>
              </div>
              </form>
            </div>
            
          </ng-template> -->