.invigilatorCloseBtn {
    width: 96px;
    height: 36px;
    border: 1px solid #80808059;
    color: gray;
    float: right;
  }
  .invigilatorCloseBtn:hover {
    background-color: gray;
    color: white;
  }
  .invigilatorNextBtn {
    width: 96px;
    height: 36px;
    border: 1px solid #0091ff;
    color: #fff;
    float: left;
    background-color: var(--newApp-color);
  }