<div *ngIf="Type">
    <form [formGroup]="timingForm" style="padding: 40px;">
        <div class="row">
            <div class="col-6">
                <label class="col-form-label label-under">Date</label>
                <div class="input-group datePicker">
                    <input type="text" class="form-control" placeholder="Set Date" bsDatepicker
                        formControlName="assessmentDate"  #dp="bsDatepicker" [minDate]="todayDate"
                        [ngClass]="{ 'is-invalid': timingForm.controls['assessmentDate'].errors && isFirstNext }"  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"/>
                    <div class="input-group-append"
                        [ngClass]="{ 'is-invalid': timingForm.controls['assessmentDate'].errors && isFirstNext }">
                        <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                                class="mdi mdi-calendar"></i></span>
                    </div>
                    <div *ngIf="timingForm.controls['assessmentDate'].errors && isFirstNext" class="invalid-feedback">
                        <div *ngIf="timingForm.controls['assessmentDate'].errors?.required">
                            Date is required</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label class="col-form-label label-under">Time</label>

                <div class="input-group">
                    <input class="form-control" placeholder="Start Time" formControlName="assessmentTime"
                        aria-label="Start Time" [ngxTimepicker]="picker1" readonly style="border-right: hidden;"
                        [ngClass]="{ 'is-invalid': timingForm.controls['assessmentTime'].errors && isFirstNext }">
                    <ngx-material-timepicker #picker1></ngx-material-timepicker>
                    <div class="input-group-append"
                        [ngClass]="{ 'is-invalid': timingForm.controls['assessmentTime'].errors && isFirstNext }">
                        <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                                class="mdi mdi-clock-outline"></i></span>
                    </div>
                </div>
                <div *ngIf="timingForm.controls['assessmentTime'].errors && isFirstNext" class="invalid-feedback">
                    <div *ngIf="timingForm.controls['assessmentTime'].errors?.required">
                        Start time is required</div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-6">
                <label class="col-form-label label-under">Duration</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type here..." maxlength="4" size="4"
                        style="border-right: hidden;" (keypress)="numberOnly($event)" formControlName="duration"
                        [ngClass]="{ 'is-invalid': timingForm.controls['duration'].errors && isFirstNext }">
                    <div class="input-group-append"
                        [ngClass]="{ 'is-invalid': timingForm.controls['duration'].errors && isFirstNext }">
                        <span class="input-group-text" style="background-color: white;border-left: hidden;"><i
                                class="mdi mdi-clock-outline"></i></span>
                    </div><br>
                    <div *ngIf="timingForm.controls['duration'].errors && isFirstNext" class="invalid-feedback">
                        <div *ngIf="timingForm.controls['duration'].errors?.required">
                            Duration is required</div>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <label class="col-form-label label-under">Extra Time</label>
                <div class="form-group">

                    <ng-select formControlName="extraTime" [items]="extraTimeArray" bindLabel="name" bindValue="id"
                        [clearable]="false" [searchable]="false" class="custom" style="width: 100%;"
                        placeholder="Select"
                        [ngClass]="{ 'is-invalid': timingForm.controls['extraTime'].errors && isFirstNext }">
                    </ng-select>
                    <div *ngIf="timingForm.controls['extraTime'].errors && isFirstNext" class="invalid-feedback">
                        <div *ngIf="timingForm.controls['extraTime'].errors?.required">
                            Extra time is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-md-6"><button type="button" class="btn invigilatorCloseBtn"
                        (click)="closePopup()">Close</button>
                </div>
                    
            <div class="col-md-6"><button type="button" style="float: right;" class="btn invigilatorNextBtn"
                (click)="updateExamBasicInfo()">Update</button></div>
                </div>
            
            </div>
        </div>
    </form>
</div>