<div class="row mx-0" *ngIf="!iseditPlanner">
    <div class="card-body row-body">
        <div class="row mx-0 detailsHeader">
            <span class="title"><img src="../../../../../assets/Icons/Sample/JEE Adnance.png" alt="plannerName"
                    width="30px">{{coursePlannerName}}</span>
            <span class="subname">{{coursePlannerSubject}}</span>
            <span class="duration"><img src="../../../../../assets/Icons/Sample/Duration.png" alt="duration"
                    width="20px">
                {{(totalCPDuration) ? totalCPDuration.hours+" hr "+totalCPDuration.mins+" mins" : (totalDuration)?
                format(totalDuration): "0 hr 00 mins"}}</span>
            <span class="edit" (click)="editPlanner()">Edit</span>
        </div>
        <div class="row mx-0">
            <div class="w-100 unitChapter">
                <p><span class="title">Unit: </span>
                    <ng-select [items]="unitList" bindLabel="text" placeholder="Choose Unit" bindValue="id"
                        [searchable]="false" [(ngModel)]="selectedUnit" (change)="changeUnit($event)"
                        [closeOnSelect]="true" [clearable]="false">
                    </ng-select>
                </p>
                <table class="table table-borderless table-fixed">
                    <thead>
                        <tr>
                            <th style="width: 31%;">Chapter Name</th>
                            <th style="width: 15%;">Duration</th>
                            <th style="width: 12%;">Lectures</th>
                            <th style="width: 18%;">Assigned Teacher</th>
                            <th style="width: 12%;">Start Date</th>
                            <th style="width: 12%;">Status</th>
                        </tr>
                    </thead>
                    <tbody class="scroll" *ngIf="selectedUnitData">
                        <tr class="d-flex" *ngFor="let chapter of selectedUnitData.chapters; let i=index"
                            [ngClass]="{'active':i==selectedChapter}">
                            <td style="width: 31%; cursor: pointer;" (click)="selectTopic(chapter)">{{i+1}}.
                                {{chapter.chapterDetails.name}}
                            </td>
                            <td style="width: 15%;">{{(chapter.chapterDetails.duration ?
                                format(chapter.chapterDetails.duration) : "2hr 30min")}}</td>
                            <td style="width: 12%;">10 Lectures</td>
                            <td style="width: 18%;">Prashant Borkhade</td>
                            <td style="width: 12%;">07/04/2021</td>
                            <td style="width: 12%;"><span class="badge badge-pill badge-success">Complete</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="padding: 16px" *ngIf="plannerType==1  || plannerType==3 || plannerType==4">
            <!-- topic starts here for courseplanner -->
            <div class="col-md-7">
                <div class="col-md-12 card">
                    <div class="details" style="background: #e6e8eb; height: 50px;">
                        <span class="title">Topics</span>
                        <span class="duration"><img src="../../../../../assets/Icons/Sample/Duration.png" alt="duration"
                                width="20px">
                            {{totalTopicDuration}}</span>
                        <span class="duration">10 Lectures</span>
                    </div>
                  
                    <div class="scroll" style="overflow-y: scroll; overflow-x: hidden; margin-top: 15px;" *ngIf="isTopicTab">
                        <div class="row" style="padding: 10px;">
                            <div class="col-md-6" *ngFor="let topic of selectedTopicData; let i=index;"
                                style="margin-bottom: 10px;" (click)="openSubModal(topic, i)">
                                <div class="col-md-12 topiccard" style="cursor: pointer;" [ngClass]="{'selectedTopic': topic.isSelected==true}">
                                    <p class="title">{{i+1}}. {{topic.topicDetails.name}}</p>
                                    <div class="row mx-0">
                                        <div class="w-75 time">
                                            <p><img src="../../../../../assets/Icons/Sample/Duration.png" alt="duration"
                                                    width="18px" height="18px">
                                                {{(topic.topicDetails.duration) ? format(topic.topicDetails.duration) :
                                                "2hr 30min"}} </p>
                                            <span>Duration</span>
                                        </div>
                                        <div class="w-25">
                                            <p>10</p>
                                            <span>Lecture</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- subtopic starts here for course planner -->
            <div class="col-md-5">
                <div class="col-md-12 card" >
                <div style="height: 50px; background: #e6e8eb; width: 100%;">
                    <div class="row mx-0 subtopicHead align-items-center">
                        <h4 class="title col-8" >Subtopics</h4>
                        <div class="col-4" >
                            <p  style="margin-bottom: 0px;" class="title"><img src="../../../../../assets/Icons/Sample/Duration.png" alt="duration"
                                    width="15px">
                                {{(subTopicsDuration) ? subTopicsDuration : "2hr 30min"}} </p>
                            <span style="margin-left: 10px;">Duration</span>
                        </div>
                    </div>
                    <div class="row mx-0 w-100 tablerow">
                        <table class="table table-borderLess subtopicTable">
                            <thead>
                                <tr>
                                    <th>Subtopic Name</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subTopic of subTopicsData">
                                    <td>{{subTopic.subTopicDetails.name}}</td>
                                    <td>{{(subTopic.subTopicDetails.duration)? format(subTopic.subTopicDetails.duration) :
                                        '1hr 10mins'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>
            </div>
        </div>

        <div class="row" style="padding: 16px" *ngIf="plannerType==2">
            <div class="col-md-6">
                <div class="col-md-12 card" >
                    <div style="height: 70px; background: #e6e8eb; width: 100%;">
                        <div class="row" style="padding: 10px;">
                            <div class="col-sm-2">
                                <div style="margin-left: 10px; margin-top: 24px;"> 
                                    <span class="title" >Topics</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div style="margin-top: 10px;">
                                    <span class="duration"><img src="../../../../../assets/Icons/Sample/Duration.png" alt="duration"
                                        width="20px">
                                    {{totalTopicDuration}}</span>
                                    <br>
                                <span class="duration" style="margin-left: 72px;">10 Lectures</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                               <div style="margin-top: 7px;">
                                <span class="progressBar">
                                    <div class="progress" data-percentage="85">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                74%
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 50px;">In Progress</div>
                                </span>
                               </div>
                            </div>
                        </div>  
                    </div>

                    <div class="scroll" style="overflow-y: scroll; overflow-x: hidden; margin-top: 15px; padding: 5px;" *ngIf="isTopicTab">
                        <div class="row">
                            <div class="col-md-6" *ngFor="let topic of selectedTopicData; let i=index;"
                            (click)="openSubModal(topic, i)" style="margin-bottom: 10px;">
                                <div class="col-md-12 topiccard" [ngClass]="{'selectedTopic': topic.isSelected==true}" style="padding: 0px;">
                                    <div style="margin-top: 10px;cursor:pointer;">
                                       <div style="padding: 10px;">
                                        <div class="headerTitle d-flex" [ngClass]="{'completed':i==0,'inprogress':i==1}">
                                            <p style="color: #ffffff;">
                                                {{i+1}}. {{topic.topicDetails.name}} </p>
                                            <i class="fas fa-check" *ngIf="i==0"></i>
                                        </div>
                                        <div class="row mx-0">
                                            <div class="w-60">
                                                <p>
                                                    {{(topic.topicDetails.duration) ? format(topic.topicDetails.duration) : "2hr 30min"}} </p>
                                                <span>Duration</span>
                                            </div>
                                            <div class="w-40">
                                                <p>10</p>
                                                <span>Lecture</span>
                                            </div>
                                        </div>
                                        <div class="row mx-0">
                                            <div class="" [ngClass]="{'w-40': i==1,'w-60':i!=1}">
                                                <p>07/01/2021</p>
                                                <span>Start Date</span>
                                            </div>
                                            <div class="w-40" *ngIf="i==0">
                                                <p>07/04/2021</p>
                                                <span>End Date</span>
                                            </div>
                                            <div class="w-60" *ngIf="i==1">
                                                <div class="inprogress">
                                                    <div class="progress" data-percentage="75">
                                                        <span class="progress-left">
                                                            <span class="progress-bar"></span>
                                                        </span>
                                                        <span class="progress-right">
                                                            <span class="progress-bar"></span>
                                                        </span>
                                                        <div class="progress-value">
                                                            <div>
                                                                75%
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="content">
                                                        <b>In Progrss:</b><br>
                                                        <span>2 subtopics left</span>
                                                    </div>
                                                </div>
                    
                                            </div>
                                            <div class="w-40" *ngIf="i>1">
                                                <p>{{(topic.items && topic.items.length>0) ? topic.items.length : '10'}}</p>
                                                <span>Sub Topics</span>
                                            </div>
                                        </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 card">
                <div style="height: 50px; background: #e6e8eb; width: 100%;">
                    <div class="row mx-0 subtopicHead align-items-center">
                        <h4 class="title col-8" >Subtopics</h4>
                        <div class="col-4" >
                            <p  style="margin-bottom: 0px;" class="title"><img src="../../../../../assets/Icons/Sample/Duration.png" alt="duration"
                                    width="15px">
                                {{(subTopicsDuration) ? subTopicsDuration : "2hr 30min"}} </p>
                            <span style="margin-left: 10px;">Duration</span>
                        </div>
                    </div>
                    <div class="row mx-0 w-100 tablerow">
                        <table class="table table-borderLess subtopicTable">
                            <thead>
                                <tr>
                                    <th style="width: 12%;">Start Date</th>
                                    <th style="width: 12%;">End Date</th>
                                    <th>Subtopic Name</th>
                                    <th style="width: 11%;">Duration</th>
                                    <th style="width: 20%;">Completion Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subTopic of subTopicsData">
                                <td class="text-center">07/01/2021</td>
                                <td class="text-center">07/04/2021</td>
                                <td>{{subTopic.subTopicDetails.name}}</td>
                                <td class="text-center">{{(subTopic.subTopicDetails.duration)? format(subTopic.subTopicDetails.duration) : '1hr
                                    10mins'}}</td>
                                <td class="text-center">
                                    <button class="btn btnsuccess" *ngIf="i==0">On Time</button>
                                    <button class="btn btnearly" *ngIf="i==1">Early</button>
                                    <button class="btn btnlate" *ngIf="i==2">Late</button>
                                    <button class="btn btninprogress" *ngIf="i==3">In Progress</button>
                                    <span *ngIf="i==1 || i==2">By: 1 hr 00 mins</span>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>
            </div>
        </div>

        <div class="mt-3 mx-0 mb-2 mr-3">
            <a class="btn btn-cancel btn-outline float-right" (click)="close('2')">Cancel</a>
            <a class="btn btn-cancel btn-filled float-right" (click)="AssignBatch()" style="color: #ffffff;" *ngIf="plannerType == 4" >Apply</a>
        </div>
    </div>

</div>
<div *ngIf="iseditPlanner">
    <app-create-course-planner [formData]="coursePlannerForm" [syllabusPlannerId]="coursePlannerId"
        [coursePlannerData]="syllabusList" (closeEditForm)="close($event)" [plannerType]="plannerType"
        [batchPlannerId]="batchPlannerId" (returnData)="returnData($event)" [batchUniqueId]="batchUniqueId" [coursePlannerName]="coursePlannerName"></app-create-course-planner>
</div>
<div class="backdrop" [ngClass]="{'show':isSubTopicTab || isLectureSubTopicTab}"></div>