@import "../../../../../assets/scss/custom/components/_progress-bar-circle.scss";
.title {
    color: var(--newApp-color) !important;
}
.row-body {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    margin: 15px;
    padding: 0px 0px 20px;
    min-height: 78vh;
}
.details .btn-outline,
.details .btn-filled {
    width: 130px;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 0px;
    margin: 0px;
}
.btn-cancel {
    width: 150px;
    border-radius: 0px;
    margin-bottom: 25px;
}
.btn-outline:hover,
.btn-outline:focus {
    color: var(--newApp-color) !important;
    background-color: #fff;
}
.detailsHeader,
.details {
    height: 50px;
    width: 100%;
    display: block;
}
.detailsHeader {
    padding: 12px 15px;
    background-color: var(--newAppbg-color);
}
.details {
    height: 55px;
    padding: 10px 15px 10px 15px;
}
.courseplnr .details {
    padding: 20px 15px 10px 15px;
}
.detailsHeader .title {
    margin: 5px 15px 15px 15px;
    font-size: 1.1rem;
}
.details .title {
    margin: 5px 25px 15px 15px;
}
.detailsHeader .title img {
    margin-right: 5px;
    margin-top: -3px;
}
.subname {
    color: rgb(29, 29, 29);
    margin: 5px 60px 15px 50px;
    font-size: 15px;
}
.duration {
    color: rgb(98, 98, 98);
    margin: 5px 50px 15px 50px;
    font-size: 15px;
}
.edit {
    float: right;
    margin: 2px 15px 0px 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.unitChapterList .unitChapter,
.unitChapterList .batches {
    flex: 0 0 47.2%;
    max-width: 47.2%;
}
.unitChapter,
.batches {
    margin: 20px 15px 15px 15px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    padding: 0px;
    min-height: 265px;
}
.badge {
    background-color: #2fb8ac !important;
    padding: 0.35em 0.5em;
    vertical-align: middle;
    border-radius: 0.55rem;
}
.unitChapter p,
.batches p {
    margin: 10px 15px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.unitChapter p span,
.batches p span {
    font-size: 16px;
}
.batches p img {
    margin-right: 5px;
}
.unitChapter ng-select {
    min-width: 250px;
    margin-left: 10px;
}
.unitChapter ng-select ::ng-deep.ng-select-container {
    min-height: 30px !important;
}
.table-fixed thead {
    width: calc(100% - 0px);
    display: table;
}
.table-fixed tbody {
    height: 150px;
    overflow-y: scroll;
    width: 100%;
    display: block !important;
}
.table-fixed tr td,
.table-fixed tr th {
    padding: 0.55rem 0.85rem;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
    border-bottom-width: 0;
}
table {
    width: 100%;
    margin-bottom: 0.85rem;
}
.tpchpdetails {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}
.smallTopicData {
    height: max-content !important;
}
.topicData {
    margin: 20px 15px 15px 15px !important;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    padding: 0px 0px 15px;
    min-height: 350px;
    padding-right: 20px;
}

.topic,
.lecture {
    min-height: 135px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    margin: 5px 5px 10px 15px;
    flex: 0 0 22.7%;
    max-width: 22.7%;
    cursor: pointer;
}
.topic p,
.subtopicData p,
.batchsubtopicData p,
.lecture p {
    color: #4c4a4a;
    margin-bottom: 0px;
    font-size: 14px;
}
b {
    font-weight: 600;
}
.batchplnr .topic .row p,
.batchplnr .subtopicData .row p,
.batchplnr .batchsubtopicData .row p,
.batchplnr .lecture .row p {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: -6px;
}
.topic .fa-check,
.lecture .fa-check {
    color: black;
    position: absolute;
    top: 10px;
    font-size: 13px;
    right: 7px;
}
.topic span,
.subtopicData span,
.batchsubtopicData span,
.lecture span {
    color: #adadad;
    font-size: 11px;
}
.topic p.title {
    margin-bottom: 25px;
    min-height: 35px;
    cursor: pointer;
}
.lecture p.title {
    min-height: 35px;
    font-weight: 600;
    cursor: pointer;
}
.lecture .topictitle {
    font-weight: 600;
    margin-top: 20px;
    color: #6d6d6d;
}
.lecture .time {
    text-align: right;
}
.active {
    background-color: var(--newAppbg-color);
}
.time span {
    padding-left: 17px;
}
.time img {
    padding-right: 4px;
}
hr {
    margin-top: 5px;
    border-color: #d8d8d8;
}
.closeModal {
    float: right;
    justify-content: right;
    align-items: flex-end;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: white;
    background-color: #fb684d;
    text-shadow: none;
    border: none;
    position: relative;
    top: 10px;
    right: 10px;
    height: 20px;
    padding-bottom: 5px;
    width: 20px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.slideInRight {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slideInLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.subtopicData {
    position: absolute;
    background-color: white;
    // top: 100px;
    width: 50%;
    right: 0;
    opacity: 1;
    z-index: 1050;
    pointer-events: fill;
    margin: 0px;
    padding-top: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
}
.batchsubtopicData {
    position: absolute;
    background-color: white;
    // top: 100px;
    width: 70%;
    right: 0;
    opacity: 1;
    z-index: 1050;
    pointer-events: fill;
    margin: 0px;
    padding-top: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
}
.subtopicData h4.title,
.batchsubtopicData h4.title {
    width: 92%;
    margin-top: 15px;
    margin-left: 15px;
}
.tablerow {
    overflow: auto;
    height: 440px;

    
}
.subtopicTable tbody td,
.lectsubtopicTable tbody td {
    padding: 0.55rem 0.85rem;

    
}

.subtopicTable thead th,
.lectsubtopicTable thead th {
    background-color: #fff;
    padding: 0.35rem 0.85rem;
    border: 0px;
}
.subtopicHead {
    height: 60px;
    width: 100%;
}
.subtopicfooter {
    background-color: #f1f1f1;
    padding: 15px;
    width: 100%;
    min-height: 68px;
    position: relative;
    bottom: 0px;
}
.backdrop.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #323a46;
    opacity: 0.5;
    pointer-events: none !important;
}
.headerTitle {
    background-color: #ffcfcb;
    width: 100%;
    padding: 7px 12px;
    font-weight: 600;
}
.headerTitle.inprogress {
    background-color: #f5de88 !important;
}
.headerTitle.completed {
    background-color: #96dbd5 !important;
}
.batchplnnertopic {
    padding: 0px 0px 10px 0px;
}
.batchplnnertopic .row {
    padding: 10px 10px 0px 15px;
}
.inprogress,
p.inprogress {
    color: #f7db72 !important;
    display: flex;
    align-items: center;
}
.completed,
p.completed {
    color: #2aeada !important;
    display: flex;
    align-items: center;
}
.inprogress .progress .progress-value div {
    color: #f7db72;
}
.inprogress .progress-bar {
    border-color: #f7db72;
}
.inprogress .content span {
    position: relative;
    bottom: 5px;
}
.details .progressBar .progress {
    display: inline-flex;
}
.courseplnr .details span.btn-group {
    margin-top: -9px;
}
.batchplnr .details span.btn-group {
    margin-top: 2px;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-43 {
    width: 43%;
}
.w-57 {
    width: 57%;
}
.subtopicfooter .col-4,
.subtopicfooter .col-5,
.subtopicfooter .col-3 {
    margin-bottom: 10px;
}
.subtopicfooter p {
    font-size: 12px !important;
}
.btnsuccess {
    color: #06bfb0;
    background-color: #cefbf7;
    border-color: #06bfb0;
}
.btnearly {
    color: #6a32f3;
    background-color: #ccbcf3;
    border-color: #dfd3ff;
}
.btnlate {
    color: #f9a323;
    background-color: #ffefd7;
    border-color: #f9a323;
}
.btninprogress {
    color: #e6b808;
    background-color: #f3e6b8;
    border-color: #e6b808;
}
.subtopicTable td .btn {
    padding: 1px 5px;
    width: 92px;
}
.subtopicTable td span {
    display: block;
    color: #5d5b5b;
    padding-top: 4px;
}

.cardHeader{
    height: 60px;
    background: #F4F4F5;
    width: 100%;
}

.subTopicsCard {
    margin: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    padding: 0px;
    min-height: 265px;
}

.card{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    height: 500px;
    padding: 0px;
}

.topiccard{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    min-height: 200px;
}

.selectedTopic{
    background: #e6e8eb;
}
