.statusTeacherBtn{
    border: 1px solid gray;
    padding: 4px 20px;
    margin-left: 20px;
    border-radius: 14px;
    cursor: pointer;
}
// .statusTeacherBtn:hover{
//     color: white;
//     background: #0091ff;
//     border-color: #0091ff;
// }

.statusTeacherBtnactive{
    border: 1px solid #0091ff;
    padding: 4px 20px;
    margin-left: 20px;
    border-radius: 14px;
    cursor: pointer;
    color: white;
    background: #0091ff;
}

hr{
    border-top: 1px solid #dedbdb;
}

.card {
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    margin: 10px 30px;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
  }

  .isPending{
      border: 1px solid orange;
      color: orange;
      background: #ffa60025;
      padding: 3px 19px;
    border-radius: 12px;
  }

  .isApproved{
    border: 1px solid green;
    color: green;
    background: #00800028;
    padding: 3px 15px;
    border-radius: 12px;
}

.isRejected{
    border: 1px solid red;
    color: red;
    background: #ff000034;
    padding: 3px 17px;
    border-radius: 12px;
}