<!-- <div  *ngIf="examName ==  1">
  <div  *ngIf="isradio == '1'">
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
          <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #7401DF;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #045FB4;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div>
      <hr>
    </div>
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2013</div>
          <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #7401DF;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #045FB4;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div><hr>
    </div>
  </div>
 
  <div *ngIf="isradio == '2'">
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blur-color" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
          <div class="col-md-3"><i class="fa fa-book blur-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blur-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blur-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blur-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div><hr>
    </div>
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blur-color" aria-hidden="true"></i>&nbsp;&nbsp;2013</div>
          <div class="col-md-3"><i class="fa fa-book blur-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blur-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blur-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blur-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div><hr>
    </div>
  </div>
</div>

<div  *ngIf="examName ==  3">
  <div  *ngIf="isradio == '1'">
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
          <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #7401DF;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #045FB4;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div>
      <hr>
    </div>
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2013</div>
          <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#2EFEF7;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #04B431;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #FACC2E;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #7401DF;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #01A9DB;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #045FB4;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div><hr>
    </div>
  </div>
 
  <div *ngIf="isradio == '2'">
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blur-color" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
          <div class="col-md-3"><i class="fa fa-book blur-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blur-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blur-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blur-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div><hr>
    </div>
    <div>
      <div >
        <div class="row" style="font-weight: 300;padding-left: 2%;font-size: 12px;">
          <div class="col-md-2"><i class="fa fa-calendar blur-color" aria-hidden="true"></i>&nbsp;&nbsp;2013</div>
          <div class="col-md-3"><i class="fa fa-book blur-color" aria-hidden="true"></i>&nbsp;&nbsp;Physics,Chemistry,Maths</div>
          <div class="col-md-2"><i class="far fa-clock blur-color"></i>&nbsp;&nbsp;Duration: 10 min</div>
          <div class="col-md-3"><i class="fas fa-question-circle blur-color"></i>&nbsp;&nbsp;Total Questions: 200</div>
          <div class="col-md-2"><i class="far fa-check-circle blur-color"></i>&nbsp;&nbsp;Total Marks: 3000</div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top: 1%;margin-left:1%;padding:1%;">
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Physics</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color:#878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Chemistry</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      <div class="col-md-3 card" style="margin-right: 1%;">
        
      
        <div >
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 4% 2% 4% 2%;">
            <div class="col-6 subjectBlurTitle"> <i class="fab fa-react"></i> Maths</div>
          </div>
      
          <div class="row" style="border-bottom: 1px solid #e8e8e8;padding: 8% 2% 7% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px;"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-sm-4"  style="left: 12px;">1</div>
                <div class="col-sm-4">3</div>
                <div class="col-sm-4">SCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          
          
          <div class="row" style="padding: 6% 2% 5% 2%;">
            <div class="col-1" style="padding-left: 10px"> <i class="fa fa-folder" style="color: #878c90;font-size: 29px;padding-top: 8px"></i></div>
            <div class="col-11">
              <div class="row" style="color: black;font-size: 14px;">
                <div class="col-4"  style="left: 12px;">2</div>
                <div class="col-4">4</div>
                <div class="col-4">MCQ</div>
              </div>
              <div class="row" style="font-size: 9px;color: #72809e;">
                <div class="col-sm-4"  style="left: 12px;">Section</div>
                <div class="col-sm-4" style="margin-top: 2px;font-size: 8px;">Total Questions</div>
                <div class="col-sm-4">Question Type</div>
              </div>
            </div>
          </div>
          <br>
          
        </div>
      </div>
      </div><hr>
    </div>
  </div>
</div>
<div *ngIf="examName != 1 && examName != 3">
  <img src="assets/images/view-pattern-bg.jpg" alt="looking for" style="height: 350px;width: 350px;margin-left: 34%;margin-top: 4%;">
</div> -->

<div *ngIf="examPattern.patternType == 3 || examPattern.patternType == 2 || examPattern.patternType == 1">

  <div class="row" style="padding: 0 2%;">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3" style="margin-bottom: -6px;">
          <div class="justify-content-center" style="margin-left: 5px;">
            <div class="radio radio-info form-check-inline">
              <input type="radio" [(ngModel)]="radioValue" value="1"
                id="instructionType1">
              <label for="inlineRadio1"> Activate </label>
            </div>
            <div class="radio radio-info form-check-inline">
              <input type="radio" [(ngModel)]="radioValue" value="2"
                id="instructionType1">
              <label for="inlineRadio1"> Deactivate </label>
            </div>
          </div>
        </div>
        <div class="col-9" style="float: right;">
          <div  id="1" style="padding-top: 8px;cursor: pointer;text-align: center;height: 36px;float: right; width: auto;"
          (click)="paperClick(1,0)">
          <span style="padding: 10px;">{{patterns2.patternName}}</span>
        </div>
        <div class="active" id="0" style="padding-top: 8px;cursor: pointer;text-align: center;height: 36px;float: right;width: auto;"
          (click)="paperClick(0,1)">
          <span style="padding: 10px;">{{patterns1.patternName}}</span>
        </div>
        
        </div>

      </div>
      <hr style="margin-top: 0;">
      <div *ngIf="pattern1">
        <div class="row" style="font-weight: 300;font-size: 12px;">
          <div class="col-md-1"><i class="fa fa-calendar" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
          <div class="col-md-3"><i class="fa fa-book" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}" aria-hidden="true"></i>&nbsp;&nbsp;
            <span *ngFor="let subject of patterns1.subjects">
              {{subject.name}},
            </span>
          </div>
          <div class="col-md-2"><i class="far fa-clock" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Duration: {{patterns1.duration}} min</div>
          <div class="col-md-2"><i class="fas fa-question-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Total Questions:
            {{patterns1.totalQuestion}}</div>
          <div class="col-md-2"><i class="far fa-check-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Total Marks: {{patterns1.examMarks}}</div>
          <div class="col-md-2"><i class="far fa-check-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Physiccoo: {{patterns1.examMarks}}</div>
        </div>


        <hr>
        <div class="row" style="margin-top: 1%;margin-left:0px;">
          <div class="col-md-3 card" *ngFor="let subject of patterns1.subjects" style="margin-right: 1%;">
            <div>
              <div class="row cardHeading"
              [ngStyle]="{'border-top': subject.name == 'Physics' && radioValue == 1 ? '4px solid #ff00c8' : subject.name == 'Chemistry'  && radioValue == 1 ? '4px solid #2EFEF7'
              : subject.name == 'Mathematics'  && radioValue == 1 ? '4px solid #fff703f2' : subject.name == 'Biology'  && radioValue == 1 ? '4px solid #92ff03f2' 
              : subject.name == 'Science' && radioValue == 1 ? '4px solid #0368fff2' : radioValue == 2 ? '4px solid #878c90' :'4px solid #3c86f5' }">
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Physics'"> <i class="fab fa-react"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Chemistry'"> <i class="fas fa-flask"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Mathematics'"> <i class="fas fa-calculator"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Biology'"> <i class="fas fa-vial"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Science'"> <i class="fas fa-capsules"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Anatomy'"> <i class="fas fa-code"></i>
                  {{subject.name}}</div>
                <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>

              </div>

              <div class="row" *ngFor="let section of subject.sections;let i=index;"
                [ngStyle]="{'border-bottom': i != subject.sections.length-1 ? '1px solid #e8e8e8':''}"
                style="padding: 8% 2% 7% 2%;">
                <div class="col-1" style="padding-left: 10px">
                  <span *ngIf="section.questionType == 1"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#2EFEF7':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 2"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#FACC2E':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 3"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#01A9DB':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 4"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#f1623f':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 5"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#ca189e':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 6"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#4879e4':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 7"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#04B431':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px"></i></span>
                </div>
                <div class="col-11">
                  <div class="row" style="color: black;font-size: 14px;">
                    <div class="col-4" style="left: 12px;">{{section.name}}</div>
                    <div class="col-4">{{section.noOfQuestions}}</div>
                    <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                    <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                    <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                    <div class="col-4" *ngIf="section.questionType==4">SA</div>
                    <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                    <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                    <div class="col-4" *ngIf="section.questionType==7">TF</div>
                  </div>
                  <div class="row" style="font-size: 9px;color: #72809e;">
                    <div class="col-4" style="left: 12px;">Section</div>
                    <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                    <div class="col-4">Question Type</div>
                  </div>
                </div>
              </div>
              <br>

            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pattern2">
        <div class="row" style="font-weight: 300;font-size: 12px;">
          <div class="col-md-1"><i class="fa fa-calendar" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}" aria-hidden="true"></i>&nbsp;&nbsp;2015</div>
          <div class="col-md-3"><i class="fa fa-book" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}" aria-hidden="true"></i>&nbsp;&nbsp;
            <span *ngFor="let subject of patterns1.subjects">
              {{subject.name}},
            </span>
          </div>
          <div class="col-md-2"><i class="far fa-clock" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Duration: {{patterns2.duration}} min</div>
          <div class="col-md-2"><i class="fas fa-question-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Total Questions:
            {{patterns2.totalQuestion}}</div>
          <div class="col-md-2"><i class="far fa-check-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Total Marks: {{patterns2.examMarks}}</div>
          <div class="col-md-2"><i class="far fa-check-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Physiccoo: {{patterns2.examMarks}}</div>
        </div>


        <hr>
        <div class="row" style="margin-top: 1%;margin-left:0px;">
          <div class="col-md-3 card" *ngFor="let subject of patterns2.subjects" style="margin-right: 1%;">
            <div>
              <div class="row cardHeading"
              [ngStyle]="{'border-top': subject.name == 'Physics' && radioValue == 1 ? '4px solid #ff00c8' : subject.name == 'Chemistry'  && radioValue == 1 ? '4px solid #2EFEF7'
              : subject.name == 'Mathematics'  && radioValue == 1 ? '4px solid #fff703f2' : subject.name == 'Biology'  && radioValue == 1 ? '4px solid #92ff03f2' 
              : subject.name == 'Science' && radioValue == 1 ? '4px solid #0368fff2' : radioValue == 2 ? '4px solid #878c90' :'4px solid #3c86f5' }">
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Physics'"> <i class="fab fa-react"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Chemistry'"> <i class="fas fa-flask"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Mathematics'"> <i class="fas fa-calculator"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Biology'"> <i class="fas fa-vial"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Science'"> <i class="fas fa-capsules"></i>
                  {{subject.name}}</div>
                <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Anatomy'"> <i class="fas fa-code"></i>
                  {{subject.name}}</div>
                <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>

              </div>

              <div class="row" *ngFor="let section of subject.sections;let i=index;"
                [ngStyle]="{'border-bottom': i != subject.sections.length-1 ? '1px solid #e8e8e8':''}"
                style="padding: 8% 2% 7% 2%;">
                <div class="col-1" style="padding-left: 10px">
                  <span *ngIf="section.questionType == 1"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#2EFEF7':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 2"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#FACC2E':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 3"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#01A9DB':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 4"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#f1623f':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 5"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#ca189e':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 6"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#4879e4':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px;"></i></span>
                  <span *ngIf="section.questionType == 7"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#04B431':'#878c90'}"
                      style="font-size: 29px;padding-top: 8px"></i></span>
                </div>
                <div class="col-11">
                  <div class="row" style="color: black;font-size: 14px;">
                    <div class="col-4" style="left: 12px;">{{section.name}}</div>
                    <div class="col-4">{{section.noOfQuestions}}</div>
                    <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                    <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                    <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                    <div class="col-4" *ngIf="section.questionType==4">SA</div>
                    <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                    <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                    <div class="col-4" *ngIf="section.questionType==7">TF</div>
                  </div>
                  <div class="row" style="font-size: 9px;color: #72809e;">
                    <div class="col-4" style="left: 12px;">Section</div>
                    <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                    <div class="col-4">Question Type</div>
                  </div>
                </div>
              </div>
              <br>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div *ngIf="examPattern.patternType == 4">
  
  <div class="row" style="padding: 0 2%;">
    <div class="col-lg-12">
      <div class="row" style="height: 36px;">
        <div class="col-lg-6" >
          <div class="justify-content-center" style="font-size: 14px;margin-left: 4px;margin-bottom: -10px;">
            <div class="radio radio-info form-check-inline">
              <input type="radio" [(ngModel)]="radioValue" value="1"
                id="instructionType1">
              <label for="inlineRadio1"> Activate </label>
            </div>
            <div class="radio radio-info form-check-inline">
              <input type="radio" [(ngModel)]="radioValue" value="2"
                id="instructionType1">
              <label for="inlineRadio1"> Deactivate </label>
            </div>
          </div>
        </div>
        <div class="col-2" style="padding-right: 0;">
        
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>


      </div>
    <hr style="margin-top: 0;">
      <div class="row" style="font-weight: 300;font-size: 12px;">
        <div class="col-md-1"><i class="fa fa-calendar" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}" aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
        <div class="col-md-3"><i class="fa fa-book" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}" aria-hidden="true"></i>&nbsp;&nbsp;
          <span *ngFor="let exam of examPattern.examPatterns;let i=index;">
            <span *ngFor="let subject of exam.subjects">
              {{subject.name}},
            </span>
          </span>
        </div>
        <div class="col-md-2"><i class="far fa-clock" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Duration: {{examPattern.examPatterns[0].duration}} min</div>
        <div class="col-md-2"><i class="fas fa-question-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Total Questions:
          {{examPattern.examPatterns[0].totalQuestion}}</div>
        <div class="col-md-2"><i class="far fa-check-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Total Marks: {{examPattern.examPatterns[0].examMarks}}</div>
        <div class="col-md-2"><i class="far fa-check-circle" [ngClass]="{'blue-color':radioValue == 1,'blur-color':radioValue == 2}"></i>&nbsp;&nbsp;Physiccoo</div>
      </div>
      <hr>
      <div class="row" *ngFor="let exam of examPattern.examPatterns;let i=index;"
        style="margin-top: 1%;margin-left:0px;">
        <div class="col-md-3 card" *ngFor="let subject of exam.subjects" style="margin-right: 1%;">
          <div>
            <div class="row cardHeading"
              [ngStyle]="{'border-top': subject.name == 'Physics' && radioValue == 1 ? '4px solid #ff00c8' : subject.name == 'Chemistry'  && radioValue == 1 ? '4px solid #2EFEF7'
               : subject.name == 'Mathematics'  && radioValue == 1 ? '4px solid #fff703f2' : subject.name == 'Biology'  && radioValue == 1 ? '4px solid #92ff03f2' 
               : subject.name == 'Science' && radioValue == 1 ? '4px solid #0368fff2' : radioValue == 2 ? '4px solid #878c90' :'4px solid #3c86f5' }">
              <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Physics'"> <i class="fab fa-react"></i>
                {{subject.name}}</div>
              <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Chemistry'"> <i class="fas fa-flask"></i>
                {{subject.name}}</div>
              <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Mathematics'"> <i class="fas fa-calculator"></i>
                {{subject.name}}</div>
              <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Biology'"> <i class="fas fa-vial"></i>
                {{subject.name}}</div>
              <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Science'"> <i class="fas fa-capsules"></i>
                {{subject.name}}</div>
              <div class="col-6" [ngClass]="{'subjectTitle':radioValue == 1,'subjectBlurTitle':radioValue == 2}" *ngIf="subject.name == 'Anatomy'"> <i class="fas fa-code"></i>
                {{subject.name}}</div>
              <div class="col-6 text-right"> <i class="fas fa-ellipsis-h" style="cursor: pointer;"></i> </div>

            </div>

            <div class="row" *ngFor="let section of subject.sections;let i=index;"
              [ngStyle]="{'border-bottom': i != subject.sections.length-1 ? '1px solid #e8e8e8':''}"
              style="padding: 8% 2% 7% 2%;">
              <div class="col-1" style="padding-left: 10px">
                <span *ngIf="section.questionType == 1"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#2EFEF7':'#878c90'}"
                    style="font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 2"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#FACC2E':'#878c90'}"
                    style="font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 3"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#01A9DB':'#878c90'}"
                    style="font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 4"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#f1623f':'#878c90'}"
                    style="font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 5"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#ca189e':'#878c90'}"
                    style="font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 6"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#4879e4':'#878c90'}"
                    style="font-size: 29px;padding-top: 8px;"></i></span>
                <span *ngIf="section.questionType == 7"><i class="fa fa-folder" [ngStyle]="{'color':radioValue == 1 ? '#04B431':'#878c90'}"
                    style="font-size: 29px;padding-top: 8px"></i></span>
              </div>
              <div class="col-11">
                <div class="row" style="color: black;font-size: 14px;">
                  <div class="col-4" style="left: 12px;">{{section.name}}</div>
                  <div class="col-4">{{section.noOfQuestions}}</div>
                  <div class="col-4" *ngIf="section.questionType==1">SCQ</div>
                  <div class="col-4" *ngIf="section.questionType==2">MCQ</div>
                  <div class="col-4" *ngIf="section.questionType==3">Numeric</div>
                  <div class="col-4" *ngIf="section.questionType==4">SA</div>
                  <div class="col-4" *ngIf="section.questionType==5">VSA</div>
                  <div class="col-4" *ngIf="section.questionType==6">FIB</div>
                  <div class="col-4" *ngIf="section.questionType==7">TF</div>
                </div>
                <div class="row" style="font-size: 9px;color: #72809e;">
                  <div class="col-4" style="left: 12px;">Section</div>
                  <div class="col-4" style="font-size: 8px;margin-top: 1px;">Total Questions</div>
                  <div class="col-4">Question Type</div>
                </div>
              </div>
            </div>
            <br>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>