.headerTitle{
    background: #f7f7f7;
    height: 45px;
  }
  
  .headerTitleText{
    color: rgb(65, 64, 64);
    margin-left: 20px;
  }

  .table > thead {
    background-color: #dfecf7;
    }

    button.btn.btn-filled.upload {
      margin-top: 29px;
      padding: 7px 19px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
    }
    button.btn.btn-filled.save {
      padding: 12px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
    }
    div.scrollable{
      overflow-y: scroll;
      overflow-x: hidden;
      height:400px;
    }
    .scrollable:hover {
      overflow-x: hidden;
    }
    .pull-right{
      float: right;
    }
    .pull-left{
      float: left;
    }

    .btn-upclose {
      background-color: white;
      border: 2px solid var(--newApp-color);
      color: var(--newApp-color) !important;
      margin-left: 10px;
      margin-right: 15px;
      padding: 11px 50px;
      font-size: 13px;
      cursor: pointer;
    }
    .greyfont{
      color:#b1b1b1;
    }
    

    .is-error{
      background-color: #FEE6E6;
    }
    
    .no-data{
      margin-top:420px
    }

    button:disabled {
      cursor: not-allowed;
      pointer-events: all !important;
    }

    .input-button-choose{
      background: var(--newApp-color);
      border: 1px solid var(--newApp-color);
      color: white;
    }