<section>
  <div class="card" style="height: 100%;">
    <div class="card-body">
      <div class="row headerTitle">
        <div class="col-sm-2">
          <h4 class="headerTitleText"><b>Bulk Upload</b></h4>
        </div>
      </div>

      <div class="row mt-2">
        <form [formGroup]="uploadForm">
          <div class="col-md-12 row">
            <div class="col-md-8">
              <i style="color: tomato;">* </i>
              <label style="color: black;">File</label>
              <label for="fileSelect" class="btn btn-primary btn-block btn-outlined input-button-choose">Choose File</label>
              <input class="input-button-choose" #myInput type="file" name="xlsx" accept='.xlsx, .xls, .csv' id="fileSelect"
                (change)="onFileSelect($event)" (click)="openFileSelect()"
                [ngClass]="{ 'is-invalid': submitted && f.xlsfile.errors }" style="visibility: hidden;" />
              <div *ngIf="submitted && f.xlsfile.errors" class="invalid-feedback">
                <div *ngIf="f.xlsfile.errors.required">File is required</div>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <button class="btn btn-filled upload" [disabled]="!uploadForm.valid" type="submit"
                (click)="openapprovemodal(approve)">Upload</button>
            </div> -->
          </div>
        </form>
      </div>

      <div class="row mt-2" *ngIf="datas?.length>0" [hidden]="rejectList?.length>0">
        <div class="col-md-12">
          <!-- <pre>{{datas | json}}</pre> -->
          <h5><b>Preview Data</b></h5>
          <div [ngClass]="{ 'scrollable': datas?.length>8 }">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email-Id</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Gender</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of datas; let i = index">
                    <td scope="row"
                      [ngClass]="{ 'is-error': data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true) }">
                      {{i+1}}</td>
                    <!-- firstname -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;" *ngIf="data.firstNameError == true"><b>{{data.firstName}}</b></span>
                      <span *ngIf="data.firstNameError == false">{{data.firstName}}</span>
                      <span *ngIf="data.firstName == undefined"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide First Name.</span>
                    </td>
                    <td *ngIf="data.edit == true;data">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingChanged(1, $event, i)"
                          [(ngModel)]='data.firstName'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.firstNameError == true">
                          Please provide a valid first name
                        </div>
                      </div>
                    </td>



                    <!-- lastname -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;" *ngIf="data.lasttNameError == true"><b>{{data.lastName}}</b></span>
                      <span *ngIf="data.lasttNameError == false">{{data.lastName}}</span>
                      <span *ngIf="data.lastName == undefined"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Last Name.</span>
                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingChanged(2, $event, i)"
                          [(ngModel)]='data.lastName'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.lasttNameError == true">
                          Please provide a valid last name
                        </div>
                      </div>
                    </td>


                    <!-- email id -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;" *ngIf="data.emailIdError == true"><b>{{data.emailId}}</b></span>
                      <span *ngIf="data.emailIdError == false">{{data.emailId}}</span>
                      <span *ngIf="data.emailId == undefined"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Email.</span>
                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingChanged(4, $event, i)"
                          [(ngModel)]='data.emailId'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.emailIdError == true">
                          Please provide a valid email address
                        </div>
                      </div>
                    </td>


                    <!-- mobile number -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;"
                        *ngIf="data.mobileNumberError == true"><b>{{data.mobileNumber}}</b></span>
                      <span *ngIf="data.mobileNumberError == false">{{data.mobileNumber}}</span>
                      <span *ngIf="data.mobileNumber == undefined"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Mobile No.</span>

                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingChanged(3, $event, i)"
                          [(ngModel)]='data.mobileNumber'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.mobileNumberError == true">
                          Please provide a valid mobile number
                        </div>
                      </div>
                    </td>


                    <!-- gender -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;" *ngIf="data.genderError == true"><b>{{data.gender}}</b></span>
                      <span *ngIf="data.genderError == false">{{data.gender}}</span>
                      <span *ngIf="data.gender == undefined"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Gender</span>
                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" maxlength="1" (input)="somethingChanged(5, $event, i)"
                          [(ngModel)]='data.gender' (keypress)="checkGender($event)">
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.genderError == true">
                          Please provide a valid gender
                        </div>
                      </div>
                    </td>
                    <td style="width: 120px;"
                      [ngClass]="{ 'is-error': data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true) }">
                      <button *ngIf="data.edit == true" class="btn btn-danger" (click)="save(data)"><i
                          class="fa fa-check"></i></button>
                      <button style="margin-right: 3px;"
                        *ngIf="data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true)"
                        class="btn btn-primary" (click)="editDomain(data)"><i class="fa fa-edit"></i></button>
                      <button
                        *ngIf="data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true)"
                        class="btn btn-danger" (click)="delete(i)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2" *ngIf="rejectList?.length>0">
        <div class="col-md-12">
          <!-- <pre>{{rejectList | json}}</pre> -->
          <h5><b>Rejected Data</b></h5>
          <div [ngClass]="{ 'scrollable': rejectList?.length>8 }">
            <div class="table-responsive" #TABLE>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email-Id</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Rejection Reason</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of rejectList; let i = index">
                    <td scope="row"
                      [ngClass]="{ 'is-error': data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true) }">
                      {{i+1}}</td>
                    <!-- firstname -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;" *ngIf="data.firstNameError == true"><b>{{data.firstName}}</b></span>
                      <span *ngIf="data.firstNameError == false">{{data.firstName}}</span>
                      <span *ngIf="data.firstName == undefined || data.firstName ==''"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide First Name.</span>
                    </td>
                    <td *ngIf="data.edit == true;data">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingRejectChanged(1, $event, i)"
                          [(ngModel)]='data.firstName'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.firstNameError == true">
                          Please provide a valid first name
                        </div>
                      </div>
                    </td>



                    <!-- lastname -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;" *ngIf="data.lasttNameError == true"><b>{{data.lastName}}</b></span>
                      <span *ngIf="data.lasttNameError == false">{{data.lastName}}</span>
                      <span *ngIf="data.lastName == undefined || data.lastName == ''"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Last Name.</span>
                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingRejectChanged(2, $event, i)"
                          [(ngModel)]='data.lastName'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.lasttNameError == true">
                          Please provide a valid last name
                        </div>
                      </div>
                    </td>


                    <!-- email id -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.emailIdExistError == true || data.emailIdError == true }">
                      <span style="color: red;"
                        *ngIf="data.emailIdExistError == true || data.emailIdError == true"><b>{{data.emailId}}</b></span>
                      <span
                        *ngIf="data.emailIdExistError == false && data.emailIdError == false">{{data.emailId}}</span>
                      <!-- <span *ngIf="data.emailIdExistError == true">Please provide another email</span> -->
                      <span *ngIf="data.emailId == undefined || data.emailId==''"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Email.</span>
                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingRejectChanged(4, $event, i)"
                          [(ngModel)]='data.emailId'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.emailIdError == true">
                          Please provide a valid email address
                        </div>
                      </div>
                    </td>


                    <!-- mobile number -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.mobileExistError==true || data.mobileNumberError == true }">
                      <span style="color: red;"
                        *ngIf="data.mobileExistError==true || data.mobileNumberError == true"><b>{{data.mobileNumber}}</b></span>
                      <span
                        *ngIf="data.mobileExistError==false && data.mobileNumberError == false">{{data.mobileNumber}}</span>
                      <!-- <span *ngIf="data.mobileExistError == true">Please provide another mobile.</span> -->
                      <span *ngIf="data.mobileNumber == undefined || data.mobileNumber == ''"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Mobile No.</span>

                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" (input)="somethingRejectChanged(3, $event, i)"
                          [(ngModel)]='data.mobileNumber'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.mobileNumberError == true">
                          Please provide a valid mobile number
                        </div>
                      </div>
                    </td>


                    <!-- gender -->
                    <td *ngIf="data.edit == false"
                      [ngClass]="{ 'is-error': data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true }">
                      <span style="color: red;" *ngIf="data.genderError == true"><b>{{data.gender}}</b></span>
                      <span *ngIf="data.genderError == false">{{data.gender}}</span>
                      <span *ngIf="data.gender == undefined || data.gender == ''"
                        style="color: tomato; font-size: 12px;font-weight: bolder;">Please Provide Gender</span>
                    </td>
                    <td *ngIf="data.edit == true">
                      <div class="col-md-12">
                        <input type="text" class="form-control" maxlength="1"
                          (input)="somethingRejectChanged(5, $event, i)" [(ngModel)]='data.gender'>
                        <div style="color: tomato; font-size: 9px;" *ngIf="data.genderError == true">
                          Please provide a valid gender
                        </div>
                      </div>
                    </td>
                    <td><span style="color: red;">{{data.errorList}}</span> </td>
                    <td style="width: 120px;"
                      [ngClass]="{ 'is-error': data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true || data.mobileExistError == true || data.emailIdExistError == true) }">
                      <button *ngIf="data.edit == true" class="btn btn-danger" (click)="save(data)"><i
                          class="fa fa-check"></i></button>
                      <button style="margin-right: 3px;"
                        *ngIf="data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true || data.mobileExistError == true || data.emailIdExistError == true)"
                        class="btn btn-primary" (click)="editDomain(data)"><i class="fa fa-edit"></i></button>
                      <button
                        *ngIf="data.edit == false && (data.firstNameError == true || data.lasttNameError == true || data.mobileNumberError == true || data.emailIdError == true || data.genderError == true || data.mobileExistError == true || data.emailIdExistError == true)"
                        class="btn btn-danger" (click)="delete(i)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row" [ngClass]="{ 'no-data': nodata }">
        <div class="col-md-12 mb-2 mt-2">
          <div class="pull-left">
            <h6 class="greyfont">Total Records: <i style="color: black;font-style: normal">{{datas?.length}} </i></h6>
            <!-- <h6 class="greyfont" [hidden]="datas?.length > 0">Total Records: <i style="color: black;font-style: normal">{{rejectList?.length}} </i></h6> -->
            <h6 class="greyfont">Errors: <i style="color: tomato;font-style: normal">{{errorCount}}</i></h6>
          </div>
          <div class="pull-right">
            <button class="btn btn-upclose" (click)="close()">Close</button>
            <button *ngIf="datas?.length>0" class="btn btn-filled save mr-2" type="submit" [disabled]="errorCount > 0"
              (click)="saveBulkUploadData()">Save</button>
            <button *ngIf="rejectList?.length>0" class="btn btn-filled save" type="submit"
              (click)="downloadRejectData()">Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>