<div class="account-pages orgnization">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-3 col-xl-3"
                style="background-color: #f1f1f1;  border-bottom: 1px solid rgb(175, 173, 173);">
                <a routerLink="/account/login" class="orgnizationlogo">
                    <img src="assets/images/new-auth/Logo-blue.png" alt="" height="55" />
                </a>
            </div>
            <div class="col-md-9 col-lg-9 col-xl-9" style=" border-bottom: 1px solid rgb(199, 198, 198);">
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 left-side">
                <img class="img-responsive-left" src="assets/images/new-auth/Rocket.png" alt="" />
                <ul class="numbered-list mt-5">
                    <li *ngIf="tabOne" class="cursor-pointer" (click)="selectedStep(1)">
                        <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i> Board & Grade
                    </li>

                    <li *ngIf="tabTwo" class="mt-3 cursor-pointer" (click)="selectedStep(2)">
                        <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i> Create Course
                    </li>

                    <li *ngIf="tabThree" class="mt-3 cursor-pointer" (click)="selectedStep(3)">
                        <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i> Add Subjects
                    </li>


                    <li *ngIf="!tabOne" [ngClass]="tab==='tab1' ? 'active li-tab1' : 'li-tab1'">Board &
                        Grade</li>

                    <li *ngIf="!tabTwo" class="mt-3" [ngClass]="tab==='tab2' ? 'active li-tab2' : 'li-tab2'">
                        Create Course
                    </li>

                    <li *ngIf="!tabThree" class="mt-3" [ngClass]="tab==='tab3' ? 'active li-tab3' : 'li-tab3'">
                        Add Subjects
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-lg-9 col-xl-9 right-side">
                <ng-container *ngIf="step == 1">
                    <app-add-grade-board [isFromSetup]="isFromSetup" [boardList]="boardList" [gradeList]="gradeList">
                    </app-add-grade-board>
                </ng-container>
                <ng-container *ngIf="step == 2">
                    <app-course-and-refrences [isFromSetup]="isFromSetup" (newItemEvent)="backPage($event)"
                        [selectedIndex]="selectedIndex" [editData]="editData" [isFromacademic]="true"
                        [courseAndRefForm]="courseAndRefForm" [isAddNew]="isAddNew"></app-course-and-refrences>
                </ng-container>
                <ng-container *ngIf="step == 3">
                    <app-subject-and-linking-subject [isFromSetup]="isFromSetup" [isFromacademic]="true" [isAdd]="isAdd"
                        (newItemEvent)="backPage($event)" [selectedIndex]="3" [editData]="data"
                        [subjectLinkingSubjectForm]="subjectLinkingSubjectForm"></app-subject-and-linking-subject>
                </ng-container>
            </div>
        </div>
    </div>
</div>