<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <label class="txt-center">Powered By ByTeachers</label>
      </div>

    </div>
  </div>
</footer>