<form [formGroup]="createNewLectureForm" class="w-100 px-2 pb-3">
    <div class="row mx-0" style="padding: 11px;background: #8080801a;">
        <b *ngIf="lectureType == 1">Add Extra Lecture</b>
        <b *ngIf="lectureType == 2">Change Lecture</b>
        <b *ngIf="lectureType == 3">Change Details</b>
    </div>
    <div class="row mx-0">
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Date</label>
                <input type="text" formControlName="date" class="form-control"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #dp="bsDatepicker" placeholder="Pick a date"
                    show-weeks="false" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" bsDatepicker disabled>
                <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                    <div *ngIf="f.date.errors.required">Please select date</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Period</label>
                <ng-select [items]="periodList" bindLabel="name" formControlName="period" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select period"
                    [searchable]="false" [ngClass]="{ 'is-invalid': submitted && f.period.errors }"
                    (change)="changePeriod($event)"></ng-select>
                <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
                    <div *ngIf="f.period.errors.required">Please select period</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Subject</label>
                <ng-select [items]="subjectList" bindLabel="name" formControlName="subject" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                    [searchable]="false" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"
                    (change)="getTeachersListBySubject($event)"></ng-select>
                <div *ngIf="submitted && f.subject.errors?.required" class="invalid-feedback">
                    Please select subject
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="fname">Teacher</label>
                <ng-select [items]="teacherList" bindLabel="name" formControlName="teacherId" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select teacher"
                    [searchable]="false" [ngClass]="{ 'is-invalid': submitted && f.teacherId.errors }"></ng-select>
                <div *ngIf="submitted && f.teacherId.errors" class="invalid-feedback">
                    <div *ngIf="f.teacherId.errors.required">Please select teacher</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="fname">Course</label>
                <ng-select [items]="courseList" bindLabel="name" formControlName="course" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select course"
                    (change)="getBatchList($event)" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.course.errors }"></ng-select>
                <div *ngIf="submitted && f.course.errors" class="invalid-feedback">
                    <div *ngIf="f.course.errors.required">Please select course</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Batch</label>
                <ng-select [items]="batchList" bindLabel="name" formControlName="batch" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                    (change)="getBatchGroupCategoryAndBacthGroupList($event)" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.batch.errors }"></ng-select>
                <div *ngIf="submitted && f.batch.errors" class="invalid-feedback">
                    <div *ngIf="f.batch.errors.required">Please select batch</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Batch Group Category</label>
                <ng-select [items]="batchGroupCategoryList" bindLabel="name" formControlName="batchgroupcategoryId"
                    bindValue="uniqueId" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                    placeholder="Select" (change)="getBatchGroupList($event)" [searchable]="false"
                    [ngClass]="{ 'is-invalid': submitted && f.batchgroupcategoryId.errors }"></ng-select>
                <div *ngIf="submitted && f.batchgroupcategoryId.errors" class="invalid-feedback">
                    <div *ngIf="f.batchgroupcategoryId.errors.required">Please select batch group category</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Batch Group</label>
                <ng-select [items]="batchGroupList" bindLabel="name" formControlName="batchgroup" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select"
                    [searchable]="false" [ngClass]="{ 'is-invalid': submitted && f.batchgroup.errors }"></ng-select>
                <div *ngIf="submitted && f.batchgroup.errors" class="invalid-feedback">
                    <div *ngIf="f.batchgroup.errors.required">Please select batchgroup</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Classroom</label>
                <ng-select [items]="classroomList" bindLabel="name" formControlName="classroomId" bindValue="uniqueId"
                    [multiple]="false" [closeOnSelect]="true" [clearable]="false" placeholder="Select clssroom"
                    [searchable]="false" [ngClass]="{ 'is-invalid': submitted && f.classroomId.errors }"></ng-select>
                <div *ngIf="submitted && f.classroomId.errors" class="invalid-feedback">
                    <div *ngIf="f.classroomId.errors.required">Please select clssroom</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row buttons mt-4">
        <a class="btn btn-cancel btn-outline" (click)="cancel()">Cancel</a>
        <button class="btn btn-save btn-filled" (click)="saveLecture()">Save</button>
    </div>
</form>