.searchBar{
    border: 1px solid #80808057;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 40px;
  }

  .addMainBtn{
    color: #0091ff;
    width: 65%;
    height: 40px;
    text-align: center;
    padding: 9px 0;
    margin-left: 25px;
    border-radius: 3px;
    border: 1px solid #0091ff;
    cursor: pointer;
  }

.addMainBtn:hover{
    background-color: #0091ff;
    color: white;
}



//card

.card {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  min-width: 31%;
  max-width: 31%;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}
.cardDownload{
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 4px 7px;
  display: flex;
  color: black;
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading{
  margin-left: 0px;
    margin-right: 0px;
    padding: 2% 4%;
    background-color: #8080801f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.cardBody{
  margin-left: 0px;
    margin-right: 0px;
    padding: 6% 4%;
  
}

.className{
  margin-left: -2px;
  font-weight: bold;
  color: black;
}

.iconImg{
  padding-left: 0;
    padding-right: 0;
    max-width: 14%;
}

.mlmt{
  margin-top: 7px;
    margin-left: 31px;
    padding-right:0 ;
    padding-left: 0;
}

.CancelBtn{
  border: 1px solid #80808094;
    padding: 8px 28px;
    color: #80808094;
    border-radius: 3px;
    cursor: pointer;
}

.CancelBtn:hover{
background-color: #80808094;
color: white;

}

// .editBox{
//   display: flex;float: right;color: #0091ff;cursor: pointer;
// }

.editBox{ float: right;color: #0091ff;cursor: pointer; border: 1px solid #0091ff; padding: 1px 6px; border-radius: 3px; background-color: #0091ff0d; }

.headingTitle{
  font-size: 10px;margin-left: -2px;margin-top: 3px;color: gray;
}

.Heading{
  margin-left: -2px;font-size: 11px;color: black;
}


.viewTag{
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  color: #00000063;
  border: 1px solid #000000b5;
  padding: 11px 6px 5px 6px;
  border-radius: 2px;
  background-color: #00000005;
  cursor: pointer;
}

.copyTag{
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  color: #00000063;
  border: 1px solid #000000b5;
  padding: 11px 6px 5px 6px;
  border-radius: 2px;
  background-color: #00000005;
  cursor: pointer;
}

.downloadTag{
  font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: #0091ff;
    border: 1px solid #0091ff;
    padding: 13px 9px 3px 9px;
    border-radius: 2px;
    cursor: pointer;
  background-color: #0091ff0d;
}


//Form Style

.addClassForm{
  position: absolute;
  background-color: white;
  top: 177px;
  width: 22%;
  right: 0;
  z-index: 1;
  pointer-events: fill;
}

.closeClassForm {
  float: right;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: #cecdcd;
  text-shadow: none;
  border: none;
  position: relative;
  top: 9px;
  right: 10px;
  height: 20px;
  padding-bottom: 3px;
  width: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
}

.formStyle{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  top: 0px;
  box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
  -webkit-box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
  -moz-box-shadow: 1px 0px 4px 0px rgba(141,141,141,0.75);
}
.formStyle .col-lg-2{
  padding-left: 7px;
  padding-right: 7px;
}
.formStyle .col-lg-1:first-child{
  flex: 0 0 1.3333333333%;
  max-width: 0.333333%;
}
.formStyle .form-control{
  padding: 0.35rem 0.5rem;
}

.formStyle .form-group label{
  color: var(--secondary);
  margin-bottom: 5px;
}

.addandsave{
  border: 1px solid;
  padding: 7px 12px;
  background: #0091ff21;
  cursor: pointer;
}
.submitBtn{
  border: 1px solid #0091ff;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 3px;
}
.editBtn{
  border: 1px solid #0091ff;
  text-align: center;
  padding: 10px 34px;
  cursor: pointer;
  border-radius: 3px;
}

.editBtn:hover,.submitBtn:hover{
background-color: #0091ff;
color: white;
}


.Close{
  border: 1px solid #ff0800;
  padding: 7px 12px;
  background: #ff080017;
  cursor: pointer;
  color: #ff0800;
}

.Close:hover{
  background-color: #ff0800;
  color: white;
}

.removeBtn{
  padding: 0px 6px;
  color: red;
  background: #ff000024;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0px;
 
}

.CloseBtn{
  border: 1px solid #80808094;
  padding: 7% 19%;
  border-radius: 3px;
  cursor: pointer;
}

.CloseBtn:hover{
background-color: #80808094;
color: white;

}

.YesBtn{
border: 1px solid #0091ff;
  padding: 7% 26%;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 43px;
}

.downloadBtn{
  border: 1px solid #0091ff;
    padding: 7% 13%;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 43px;
  }

.YesBtn:hover,.downloadBtn:hover{
background-color: #0091ff;
color: white;
}