<ngx-qrcode [qrc-element-type]="elementType" id="qrCodeImagehiden" [qrc-value]="classRoomQrCode" style="display: none;">
</ngx-qrcode>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-2" style="text-align: center;padding-top: 9px;">
    <label style="color: #0091ff;">
      Class Room</label>
  </div>
  <div class="col-md-7 searchBar">
    <div style="display: flex;">
      <input type="text" class="form-control" placeholder="Search & Filter"
        style="border: none;height: 35px !important;">
      <!-- <i class="fa fa-sliders" style="font-size: 18px;color: #80808057;margin-top: 8px;" aria-hidden="true"></i> -->
      <i class="fas fa-sliders-h" style="font-size: 18px;color: #80808057;margin-top: 8px;cursor: pointer;"></i>
    </div>

  </div>

  <div class="col-md-3">
    <div class="addMainBtn" (click)="addClassRoom()"><i class="fas fa-plus"></i> &nbsp;<span>Add Class Room</span></div>
  </div>
</div>

<div class="addClassForm" [ngClass]="{'slideInLeft':!isShowClassRoomForm,'slideInRight':isShowClassRoomForm} "
  *ngIf="isShowClassRoomForm">
  <button type="button" class="closeClassForm" (click)="closeClassForm()" aria-label="Close">x</button>
  <div class="formStyle">
    <form [formGroup]="classRoomForm">

      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="fname">Class Name</label>
              <!-- <i style="color: tomato;">* </i> -->
              <input type="text" class="form-control" formControlName="name" #classroomName maxlength="20">
              <p class="badge position-absolute inputBoxCount"
                [ngClass]="{'badge-blue': classroomName.value.length !== 20,'badge-danger': classroomName.value.length == 20}">
                {{ classroomName.value.length }} / 20</p>

            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="fname">Class Type</label>
              <!-- <i style="color: tomato;">* </i> -->
              <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Select" [searchable]="false"
                bindLabel="name" bindValue="id" formControlName="type">
                <ng-option *ngFor="let type of classType;" [value]="type.id">{{type.name}}</ng-option>

              </ng-select>

            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="fname">Class Category</label>
              <!-- <i style="color: tomato;">* </i> -->
              <ng-select [multiple]="false" [closeOnSelect]="true" placeholder="Select" [searchable]="false"
                bindLabel="name" bindValue="id" formControlName="category">
                <ng-option *ngFor="let category of classCategory;" [value]="category.id">{{category.name}}</ng-option>

              </ng-select>

            </div>
          </div>
          <div class="col-lg-12" *ngIf="classRoomForm.controls.category.value==2">
            <div class="form-group">
              <label for="fname">URL</label>
              <!-- <i style="color: tomato;">* </i> -->
              <input type="text" class="form-control" formControlName="room_url" #url maxlength="64">
              <p class="badge position-absolute inputBoxCount"
                [ngClass]="{'badge-blue': url.value.length !== 64,'badge-danger': url.value.length == 64}">
                {{ url.value.length }} / 64</p>
            </div>
          </div>
          <div class="col-lg-12" *ngIf="isEdit==true">
            <div class="form-group">
              <span style="cursor: pointer;color: red;display: flex;" (click)="openConfirm(content)">
                <div class="removeBtn"> <i class="fa fa-times" style="font-size: 11px;" aria-hidden="true"></i></div>
                &nbsp;remove
              </span>
            </div>
          </div>
          <div class="col-lg-12" style="display: flex;margin-top: 10px;">
            <!-- <div class="form-group" *ngIf="isEdit==false">
                <div class="addandsave"  (click)="saveAcademicSession()">Cancel</div>
              </div> -->
            <div class="form-group">
              <div class="CancelBtn" (click)="closeClassForm()">Cancel</div>
            </div>
            <div class="form-group" *ngIf="isEdit==false" style="margin-left: 19%;margin-top: 9px;">
              <span class="submitBtn" (click)="saveClassForm()">
                Save
              </span>
            </div>
            <div class="form-group" *ngIf="isEdit==true" style="margin-left: 19%;margin-top: 9px;">
              <span class="editBtn" (click)="updateClassForm()">
                Edit
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>


<div class="row" style="margin-left: 3%;">
  <div class="card" *ngFor="let data of classData;let i=index;" style="margin-right: 2%;height: fit-content;">

    <div class="cardHeading">
      <div class="row" style="margin-left: 0;margin-right: 0;">
        <div class="col-md-3 iconImg">
          <img src="assets/Icons/Sample/Morning.png" height="40px" width="40px">

        </div>
        <div class="col-md-6" style="margin-top: 10px;">
          <div class="className"><span ngbTooltip={{data.name}}>{{data.name | truncateText: 12}}</span></div>

        </div>

        <div class="col-md-3 mlmt">
          <span class="editBox" (click)="editClassRoom(data)">
            <i class="fa fa-pen" style="color: #0091ff;font-size: 16px;"></i>&nbsp;Edit
          </span>
        </div>

      </div>
    </div>
    <div class="cardBody">
      <div class="row" style="margin-left: 4px;margin-right: 0;">
        <div class="col-md-4" style="padding-left: 0;" [ngSwitch]="data.category">
          <div class="row Heading" *ngSwitchCase=1>Physical </div>
          <div class="row Heading" *ngSwitchCase=2>Virtual </div>
          <div class="row Heading" *ngSwitchCase=3>Hybrid </div>

          <div class="row headingTitle">Category</div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-right: 0;" [ngSwitch]="data.type">

          <div class="row Heading" *ngSwitchCase=1>Room </div>
          <div class="row Heading" *ngSwitchCase=2>Library </div>
          <div class="row Heading" *ngSwitchCase=3>Laboratory </div>
          <div class="row Heading" *ngSwitchCase=4>Computer Lab </div>
          <div class="row Heading" *ngSwitchCase=5>Hall </div>
          <div class="row Heading" *ngSwitchCase=6>Conference Hall </div>
          <div class="row Heading" *ngSwitchCase=7>Staff Room </div>
          <div class="row headingTitle">Types</div>
        </div>
      </div>

      <div class="row" style="margin-left: 4px;margin-right: 0;margin-top: 20px;">
        <div class="col-md-4" style="padding-left: 0;"><span class="viewTag"
            (click)="openQRCodeModal(qrcodecontent,data)"><i class="fas fa-qrcode"
              style="font-size:20px;"></i>&nbsp;View Code</span> </div>
        <div class="col-md-4" style="padding-left: 7px;padding-right: 7px;"><span *ngIf="data.classroomCategory == 2"
            class="copyTag"><i class="fas fa-copy" style="font-size:20px;"></i>&nbsp;Copy URL</span></div>
        <div class="col-md-4" style="padding-right: 0;">
          <a class="downloadTag" (click)="download(data)"><i class="fas fa-download"
              style="margin-top: 7px;font-size: 15px;"></i>&nbsp;Download</a>
        </div>


      </div>
    </div>
  </div>

</div>


<ng-template #content role="document" let-modal="close">

  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-lg-12">

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
              <h3>Are you sure?</h3>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="form-group row mb-12">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
              <label class="deleteModal">You want remove the Class Room?</label>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mb-12" style="margin-bottom: 26px;margin-top: 26px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-6"><span class="CloseBtn" (click)="modal('Cross click')">Cancel</span></div>
                <div class="col-6"><span class="YesBtn" (click)="removeClassRoom()"
                    (click)="modal('Cross click')">Yes</span></div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #qrcodecontent role="document" let-modal="close">

  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-lg-12">

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
              <h3>QR Code for Classroom {{classRoomName}}</h3>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="form-group row mb-12">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
              <ngx-qrcode [qrc-element-type]="elementType" id="qrCodeImage" [qrc-value]="classRoomQrCode"></ngx-qrcode>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row mb-12" style="margin-bottom: 26px;margin-top: 26px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-6"><span class="CloseBtn" (click)="modal('Cross click')">Cancel</span></div>
                <div class="col-6"><a class="downloadBtn" (click)="downloadQRCode()"
                    (click)="modal('Cross click')">Download</a></div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>