<div class="row mt-3">
    <div class="col-6">
       <div class="message-content">
          <b>Message</b>
          <div class="msg-details">
             <div class="subject">
                <b>Subject:</b> Exam date details
             </div>
             <hr>
             <div class="msg">
                Dear ,
                Your test has been scheduled on . Please carry the following
                items to the test :
                1. Lorem Ipsume
                2. Dolor amit consect
                3. Lorem Ipsum Dolor
                Important information to be noted:
                Test Start Time :
                Venue:
                You are supposed to reach the venue 45 mins prior to the scheduled time.
                Wishing you the best of luck!
                Dear ,
                Your test has been scheduled on . Please carry the following
                items to the test :
                1. Lorem Ipsume
                2. Dolor amit consect
                3. Lorem Ipsum Dolor
                Important information to be noted:
                Test Start Time :
                Venue:
                You are supposed to reach the venue 45 mins prior to the scheduled time.
                Wishing you the best of luck!
                Dear ,
                Your test has been scheduled on . Please carry the following
                items to the test :
                1. Lorem Ipsume
                2. Dolor amit consect
                3. Lorem Ipsum Dolor
                Important information to be noted:
                Test Start Time :
                Venue:
                You are supposed to reach the venue 45 mins prior to the scheduled time.
                Wishing you the best of luck!
                Dear ,
                Your test has been scheduled on . Please carry the following
                items to the test :
                1. Lorem Ipsume
                2. Dolor amit consect
                3. Lorem Ipsum Dolor
                Important information to be noted:
                Test Start Time :
                Venue:
                You are supposed to reach the venue 45 mins prior to the scheduled time.
                Wishing you the best of luck!
                Dear ,
                Your test has been scheduled on . Please carry the following
                items to the test :
                1. Lorem Ipsume
                2. Dolor amit consect
                3. Lorem Ipsum Dolor
                Important information to be noted:
                Test Start Time :
                Venue:
                You are supposed to reach the venue 45 mins prior to the scheduled time.
                Wishing you the best of luck!
                Dear ,
                Your test has been scheduled on . Please carry the following
                items to the test :
                1. Lorem Ipsume
                2. Dolor amit consect
                3. Lorem Ipsum Dolor
                Important information to be noted:
                Test Start Time :
                Venue:
                You are supposed to reach the venue 45 mins prior to the scheduled time.
                Wishing you the best of luck!
                Dear ,
                Your test has been scheduled on . Please carry the following
                items to the test :
                1. Lorem Ipsume
                2. Dolor amit consect
                3. Lorem Ipsum Dolor
                Important information to be noted:
                Test Start Time :
                Venue:
                You are supposed to reach the venue 45 mins prior to the scheduled time.
                Wishing you the best of luck!
             </div>
          </div>
       </div>
       <div class="message-content-bottom">
          <div class="row">
             <div class="col-sm-4">
                <p class="mb-0"><b>Exam</b></p>
                <p class="head">Template Category</p>
             </div>
             <div class="col-sm-4 pl-20">
                <p class="mb-0"><b>Justice League</b></p>
                <p class="head">Template Name</p>
             </div>
             <div class="col-sm-4 pl-50">
                <p class="mb-0"><b>Email</b></p>
                <p class="head">Channel</p>
             </div>
          </div>
          <div class="row">
             <div class="col-sm-4">
                <p class="mb-0"><b>Prashant Borkhade</b></p>
                <p class="head">Sent By</p>
             </div>
             <div class="col-sm-4 pl-20">
                <p class="mb-0"><b>Mar 6, 2021</b></p>
                <p class="head">Sent on</p>
             </div>
             <div class="col-sm-4 pl-50">
                <p class="mb-0"><b>18:30</b></p>
                <p class="head">Send time</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-6">
       <b>Sent to :</b>
       <!-- Table -->
       <div class="list mt-2">
          <div class="table-responsive" [ngClass]="{'emptyTable':parentList?.length>=0}">
             <table class="table table-centered mb-0" id="test">
                <thead class="thead-light">
                   <tr>
                      <th>Name</th>
                      <th>Course</th>
                      <th>Status</th>
                   </tr>
                </thead>
                <tbody>
                   <!-- <tr *ngFor="let parent of parentList; let i = index;" class="table-data">
                      <td style="width: 15px;">
                          <div class="table-checkbox c-checkbox">
                              <label>
                                  <input type="checkbox"
                                      (change)="rowCheckboxChange($event)" />
                                  <span class="fa fa-check"></span>
                              </label>
                          </div>
                      </td>
                      <td class="table-user" style="cursor: pointer;"
                          (click)="rowClick(parent)">
                          <div class="media">
                              <div class="">
                                  <img *ngIf="parent.imageCode==null || parent.imageCode==''"
                                      src="assets/images/profileImg.png"
                                      class="rounded-circle" alt="">
                                  <img *ngIf="parent.imageCode!=null && parent.imageCode!=''"
                                      [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +parent.imageCode)"
                                      class="rounded-circle" alt="">
                              </div>
                      
                              <div class="media-body">
                                  <a class="text-body font-weight-semibold">{{
                                      parent.parent.fullName }}</a>
                                  <p><span *ngIf="parent.orgName!=null"
                                          class="btn btn-className btn-rounded btn-sm"
                                          [ngClass]="colorClassArray[i%5]">{{parent.roleName}}</span>
                                  </p>
                              </div>
                          </div>
                      
                      </td>
                      <td class="text-left" style="cursor: pointer;"
                          (click)="rowClick(parent)">
                          <p class="inbox-item-author"
                              *ngIf="parent.children!=null && parent.children.length > 0">
                              <span class=""
                                  *ngFor="let user of parent.children;let j=index;"><span
                                      class="subject" *ngIf="j<3">{{
                                      user.fullName}}</span></span>
                          </p>
                          <p class="inbox-item-author"
                              *ngIf="parent.children==null || parent.children.length == 0">
                              <span class="">Not Assigned</span>
                          </p>
                      </td>
                      </tr> -->
                   <!-- <tr *ngIf="parentList?.length==0"> -->
                   <tr>
                      <td colspan="3">No data found!</td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
       <!-- End table -->
    </div>
 </div>