$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
.addQuickForm {
	position: absolute;
	background-color: white;
	top: 85px;
	width: 25%;
	right: 0;
	z-index: 1;
	pointer-events: fill;
}

.bulkAssignForm {
	position: absolute;
	background-color: white;
	top: 0px;
	width: 75%;
	right: 0;
	opacity: 1;
	z-index: 1050;
	pointer-events: fill !important;
}

.bulkUploadForm {
	position: absolute;
	background-color: white;
	top: 0px;
	width: 75%;
	right: 0;
	opacity: 1;
	z-index: 1050;
	pointer-events: fill !important;
}

.pageShow {
	height: 560px;
}

.quickForm-back {
	pointer-events: none;
}

.hideScroll {
	overflow-y: hidden;
}

@media screen and (min-width: 1480px) {
	#headertabs {
		width: 86%;
	}
}

@import "../../../../../assets/scss/custom/components/common";
.message-content {
	border: 1px solid #dddddd;
	border-radius: 5px 5px 0px 0px;
	padding: 25px;
}

.msg-details {
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	background: #F7F7F7 !important;
}

.subject {
	padding-top: 10px;
	padding-bottom: 5px;
}

hr {
	border-top: 1px solid #dfdede;
	margin-left: -9px;
	margin-right: -9px;
}

.msg {
	height: 400px;
	overflow-y: scroll;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.msg::-webkit-scrollbar {
	display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.msg {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.message-content-bottom {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-radius: 0px 0px 5px 5px;
	padding: 25px;
}

.head {
	color: #b6b3b3 !important;
}

.customCardCss {
	border-radius: 1px;
	box-shadow: 0 0 1px 2px #98989812;
}

.pl-20 {
	padding-left: 20px;
}

.pl-50 {
	padding-left: 50px;
}