$newApp-color: #0088ff;
$newApp-color1: #cc00ff;
$newAppbg-color: #dfecf7;
$newAppbg-color1: #f2dff7;
$app-examModuleColor: #007ad9;
$app-colorNew: #3f91f3;
$primary: #6658dd;
$primarybg: #6658dd1a;
$success: #1abc8b;
$successbg: #1abc8b1a;
$warning: #ffc107;
$warningbg: #ffc1071a;
$danger: #dc3545;
$dangerbg: #dc35451a;
$info: #4fc6e1;
$infobg: #4fc6e11a;
$delete: #ff0b0b;
$purple: #800080;
$purplebg: #8000801a;

$colors: (
    --newApp-color: (
        $newApp-color,
        $newApp-color1,
    ),
    --newAppbg-color: (
        $newAppbg-color,
        $newAppbg-color1,
    ),
    --app-examModuleColor: (
        $app-examModuleColor,
        $app-examModuleColor,
    ),
    --app-colorNew: (
        $app-colorNew,
        $app-colorNew,
    ),
    --primary: (
        $primary,
        $primary,
    ),
    --primarybg: (
        $primarybg,
        $primarybg,
    ),
    --success: (
        $success,
        $success,
    ),
    --successbg: (
        $successbg,
        $successbg,
    ),
    --warning: (
        $warning,
        $warning,
    ),
    --warningbg: (
        $warningbg,
        $warning,
    ),
    --danger: (
        $danger,
        $danger,
    ),
    --dangerbg: (
        $dangerbg,
        $dangerbg,
    ),
    --info: (
        $info,
        $info,
    ),
    --infobg: (
        $infobg,
        $infobg,
    ),
    --delete: (
        $delete,
        $delete,
    ),
    --purple: (
        $purple,
        $purple,
    ),
    --purplebg: (
        $purplebg,
        $purplebg,
    ),
);
