@import "./color";
@import "./theme";
// :root {
//   // --app-color: rgb(12, 39, 123);
//   --app-color: #1f2b72;
//   --main-color: #393185;
//   --newApp-color: #0088ff;
//   --newAppbg-color: #dfecf7;
//   --app-examModuleColor: #007ad9;
//   --app-colorNew: #3f91f3;
//   --primary: #6658dd;
//   --primarybg: #6658dd1a;
//   --success: #1abc8b;
//   --successbg: #1abc8b1a;
//   --warning: #ffc107;
//   --warningbg: #ffc1071a;
//   --danger: #dc3545;
//   --dangerbg: #dc35451a;
//   --info: #4fc6e1;
//   --infobg: #4fc6e11a;
//   --delete: #ff0b0b;
//   --purple: #800080;
//   --purplebg: #8000801a;
// }
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.heading {
  margin-left: -2px;
  font-size: 12px;
  color: black;
}
.subHeading {
  margin-left: -2px;
  font-size: 11px;
  color: black;
}

.mat-radio-label-content {
  font-weight: 100;
}

.mat-checkbox-label {
  font-weight: 100;
}
.setupAccount .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #0db2d0;
}
.setupAccount .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(13, 178, 208, 0.28);
}
.hideScroll {
  overflow-y: hidden;
  pointer-events: none;
}
.hideScroll .navbar-custom {
  z-index: 0 !important;
}
.stackbackBody {
  pointer-events: none;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #adadad;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  // padding: 0% 3% 0% 3% !important;
  padding: 2% 5% 2% 5% !important;
  margin: 1% 1% 1% 1% !important;
}

.selected-item {
  margin: 1% 1% 1% 1% !important;
}
.stack-back {
  opacity: 0.5;
  pointer-events: none;
}
.title {
  color: var(--newApp-color) !important;
}

.formheadingTitle {
  font-size: 10px;
  margin-left: 0px;
  color: gray;
}

.formMainHead {
  margin-left: 0;
  color: #000000cf;
}

.mainLabel {
  margin-left: -2px;
  font-size: 12px;
  color: black;
}
.mainNameLabel {
  margin-left: -2px;
  font-size: 11px;
  color: black;
}
.headingTitle {
  font-size: 10px;
  margin-left: -2px;
  color: gray;
}

.ng-select.custom-search-announcement .ng-select-container {
  border: 0px !important;
}

.custom-search-announcement {
  .ng-arrow-wrapper {
    display: none !important;
  }
}

ng-select.custom-search-announcement.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #e2f0fd !important;
}

ng-select.custom-search-announcement.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon {
  color: #43425d !important;
}

ng-select.custom-search-announcement.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-label {
  color: #43425d !important;
}

.inputBoxCount {
  text-align: end;
  right: 20px;
  display: none;
  top: 20px;
  color: #ffffff !important;
}
.inputBoxCount.badge-blue {
  background-color: var(--newApp-color);
}
.form-control:focus ~ .inputBoxCount {
  display: block;
}
.disabled {
  pointer-events: none;
}
