.full-height {
    height: 100%;
  }

  .bshadow {
    border: 1px solid;
    padding: 5px;
    box-shadow: 3px 3px #888888;
  }

  .bshadow:hover {
    background: #DCDCDC;
    cursor: pointer;
  }

  .bshadow:active {
    background-color: #DCDCDC;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .vl {
    border-left: 1px solid gray;
    height: 100%;
  }
  .serif {
    font-family: "Times New Roman", Times, serif;
  }
  .monospace {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 14px;
  }

  .border {
    border-style: ridge;
  }