<div class="row full-height">
    <div class="{{colSize}}">
        <div class="card full-height" style="margin-right: 20px;">
            <div class="card-body">
                <ngb-tabset [destroyOnHide]="false" (tabChange)="changeTab($event)">     
                    <ngb-tab [id]="0">
                      <ng-template ngbTabTitle >All</ng-template>
                      <ng-template ngbTabContent>
                        <div>
                            <div class="row">
                                <div class="col-sm-12" align="center">
                                    <label style="color: black;">Current Exam:</label>
                                </div>
                            </div>
                            <div style="display: block">
                              <canvas baseChart [datasets]="examoneChartData" [labels]="examoneChartLabels" [options]="barChartOptions"
                                [legend]="examoneChartLegend" [chartType]="examoneChartType" (chartHover)="exam_one_chartHovered($event)"
                                (chartClick)="exam_one_chartClicked($event)"></canvas>
                                <ngx-loading [show]="loadingAllChart" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"
                            [template]="loadingTemplate"></ngx-loading>
                            </div>
                            <button class="btn btn-primary" (click)="exam_one_randomize()" style="margin-top: 20px;">Change chart Type</button>
                          </div> 
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab [id]="1" *ngIf="tabSubject == true">
                        <ng-template ngbTabTitle >Subject</ng-template>
                        <ng-template ngbTabContent>
                          <div class="chart">
                            <canvas baseChart 
                            [datasets]="subjectbarChartData"
                            [labels]="subjectbarChartLabels"
                            [options]="subjectChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [colors]="pieChartColors"
                            [chartType]="barChartType">
                          </canvas>
                            </div>
                            <label >Get Student Data By -</label>
                            <div class="row">
                              <div class="col-sm-4"  *ngFor ="let subjectDetails of subjectDetails">
                                <div class="card"  (click)="onClickSubject(subjectDetails.uniqueId)">
                                  <div class="card-body bshadow" [style.background-color]="subjectDetails.color" style="height: 130px;">
                                          <h4 align="center">{{subjectDetails.subjectName}}</h4>
                                          <ul>
                                            <li>Highest:{{subjectDetails.highestmarks}}</li>
                                            <li>Lowest:{{subjectDetails.lowestmarks}}</li>
                                            <li>Average:{{subjectDetails.averagemarks}}</li>
                                          </ul>  
                                  </div>
                                </div>
                              </div>
                            </div>
                        </ng-template>
                      </ngb-tab>
                    <ngb-tab [id]="2" *ngIf="tabUnit == true">
                      <ng-template ngbTabTitle >Unit</ng-template>
                      <ng-template ngbTabContent>
                        <div style="overflow: scroll; overflow-x: hidden; overflow-y: hidden;">
                          <div class="chart">
                            <canvas baseChart
                              [data]="unitPieChartData"
                              [labels]="unitPieChartLabels"
                              [chartType]="unitPieChartType"
                              [options]="unitPieChartOptions"
                              [plugins]="unitPieChartPlugins"
                              [colors]="pieChartColors"
                              [legend]="unitPieChartLegend" 
                              height="250">
                            </canvas>
                          </div>
                          <label style="margin-top: 20px;">Get Student Data By -</label>
                          <div class="row">
                            <div class="col-sm-4"  *ngFor ="let unitDetails of unitDetails">
                              <div class="card" (click)="onClickUnit(unitDetails.uniqueId)">
                                <div class="card-body bshadow" [style.background-color]="unitDetails.color" style="height: 80px;">
                                        <h4 align="center">{{unitDetails.unitName}}</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <!-- <ngb-tab [id]="3">
                        <ng-template ngbTabTitle>Section</ng-template>
                        <ng-template ngbTabContent>
                            <div class="chart">
                                <canvas baseChart
                                  [data]="pieChartData"
                                  [labels]="pieChartLabels"
                                  [chartType]="pieChartType"
                                  [options]="pieChartOptions"
                                  [plugins]="pieChartPlugins"
                                  [colors]="pieChartColors"
                                  [legend]="pieChartLegend" 
                                  height="250">
                                </canvas>
                              </div>
                        </ng-template>
                      </ngb-tab> -->
                      <ngb-tab [id]="4" *ngIf="tabChapter == true">
                        <ng-template ngbTabTitle>Chapter</ng-template>
                        <ng-template ngbTabContent>
                          <div style="overflow: scroll; overflow-x: hidden; overflow-y: hidden;">
                            <div class="chart">
                              <canvas baseChart
                                [data]="chapterPieChartData"
                                [labels]="chapterPieChartLabels"
                                [chartType]="chapterPieChartType"
                                [options]="chapterPieChartOptions"
                                [plugins]="chapterPieChartPlugins"
                                [colors]="pieChartColors"
                                [legend]="chapterPieChartLegend" 
                                height="250">
                              </canvas>
                            </div>
                            <label style="margin-top: 20px;">Get Student Data By -</label>
                            <div class="row" >
                              <div class="col-sm-4"  *ngFor ="let chapterDetails of chapterDetails">
                                <div class="card" (click)="onClickChapter(chapterDetails.uniqueId)">
                                  <div class="card-body bshadow" [style.background-color]="chapterDetails.color" style="height: 60px;">
                                          <h4 align="center">{{chapterDetails.chapterName}}</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab [id]="5" *ngIf="showTopicTab == true">
                        <ng-template ngbTabTitle>Topic</ng-template>
                        <ng-template ngbTabContent>
                          <div style="overflow: scroll; overflow-x: hidden; overflow-y: hidden;">
                            <div class="chart">
                              <canvas baseChart
                                [data]="topicPieChartData"
                                [labels]="topicPieChartLabels"
                                [chartType]="topicPieChartType"
                                [options]="topicPieChartOptions"
                                [plugins]="topicPieChartPlugins"
                                [colors]="pieChartColors"
                                [legend]="topicPieChartLegend" 
                                height="250">
                              </canvas>
                            </div>
                            <label style="margin-top: 20px;">Get Student Data By -</label>
                            <div class="row">
                              <div class="col-sm-4"  *ngFor ="let topicDetails of topicDetails">
                                <div class="card" (click)="onClickTopic(topicDetails.uniqueId)">
                                  <div class="card-body bshadow" [style.background-color]="topicDetails.color" style="height: 60px;">
                                          <h4 align="center">{{topicDetails.topicName}}</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <!-- <ngb-tab [id]="6">
                        <ng-template ngbTabTitle>Sub-Topic</ng-template>
                        <ng-template ngbTabContent>
                            <div class="chart">
                                <canvas baseChart
                                  [data]="pieChartData"
                                  [labels]="pieChartLabels"
                                  [chartType]="pieChartType"
                                  [options]="pieChartOptions"
                                  [plugins]="pieChartPlugins"
                                  [colors]="pieChartColors"
                                  [legend]="pieChartLegend" 
                                  height="250">
                                </canvas>
                              </div>
                        </ng-template>
                      </ngb-tab> -->
                  </ngb-tabset>
            </div>
        </div>
    </div>
    <div class="{{colSize}} full-height" style="margin-top: 10px;" >
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 style="color: white;" align='center'>Student Name</h4>  
                    </div>
                    <div class="col-sm-2">
                        <h4 style="color: white;" align='center'>Rank</h4>      
                    </div>
                    <div class="col-sm-2">
                        <h4  style="color: white;" align='center'>Marks Scored</h4>
                    </div>
                    <div class="col-sm-2">
                        <h4  style="color: white;" align='center'>Positive marks</h4>
                        
                    </div>
                    <div class="col-sm-2">
                        <h4   style="color: white;" align='center'>Negative marks</h4>  
                    </div>
                </div>
                <div style="height: 700px; overflow-y: scroll;" *ngIf = "masterListShow == true">
                    <div class="card" style="margin-top: 20px; margin-right: 20px;" *ngFor="let studentList of studentList" (click)="openStudentAllReport(studentAllReport, studentList.uniqueId, studentList.Name)">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4  align='center'>{{studentList.Name}}</h4>
                                </div>
                                <div class="col-sm-2">
                                    <h4 align='center'>{{studentList.rank}}</h4>
                                        
                                </div>
                                <div class="col-sm-2">
                                    <h4 align='center'>{{studentList.totalmarks}}</h4>
                                    
                                </div>
                                <div class="col-sm-2">
                                    <h4 align='center'>{{studentList.positivemarks}}</h4>
                                    
                                </div>
                                <div class="col-sm-2">
                                    <h4 align='center'>{{studentList.negativemarks}}</h4>
                                    
                                </div>
                            </div>
                            <ngx-loading [show]="loadingStudentList" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"
                            [template]="loadingTemplate"></ngx-loading>
                        </div>
                    </div>
                </div>
                <div style="height: 700px; overflow-y: scroll;" *ngIf = "subjectListShow == true">
                  <div class="card" style="margin-top: 20px; margin-right: 20px;" *ngFor="let subjectStudentDetails of subjectStudentDetails">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-sm-3">
                                  <!-- <img  align='center' src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 30px; width: 30px;"> -->
                                  
                                  <h4  align='center'>{{subjectStudentDetails.studentName}}</h4>
                              </div>
                              <div class="col-sm-2">
                                  <h4 align='center'>{{subjectStudentDetails.rank}}</h4>
                                      
                              </div>
                              <div class="col-sm-2">
                                  <h4 align='center'>{{subjectStudentDetails.marksscored }}</h4>
                                  
                              </div>
                              <div class="col-sm-2">
                                  <h4 align='center'>{{subjectStudentDetails.positivemarks}}</h4>
                                  
                              </div>
                              <div class="col-sm-2">
                                  <h4 align='center'>{{subjectStudentDetails.negativemarks}}</h4>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div style="height: 700px; overflow-y: scroll;" *ngIf = "unitListShow == true">
                <div class="card" style="margin-top: 20px; margin-right: 20px;" *ngFor="let unitStudentDetails of unitStudentDetails">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- <img  align='center' src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 30px; width: 30px;"> -->
                                
                                <h4  align='center'>{{unitStudentDetails.studentName}}</h4>
                            </div>
                            <div class="col-sm-2">
                                <h4 align='center'>{{unitStudentDetails.rank}}</h4>
                                    
                            </div>
                            <div class="col-sm-2">
                                <h4 align='center'>{{unitStudentDetails.marksscored }}</h4>
                                
                            </div>
                            <div class="col-sm-2">
                                <h4 align='center'>{{unitStudentDetails.positivemarks}}</h4>
                                
                            </div>
                            <div class="col-sm-2">
                                <h4 align='center'>{{unitStudentDetails.negativemarks}}</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 700px; overflow-y: scroll;" *ngIf = "chapterListShow == true">
              <div class="card" style="margin-top: 20px; margin-right: 20px;" *ngFor="let chapterStudentDetails of chapterStudentDetails">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-3">
                              <!-- <img  align='center' src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 30px; width: 30px;"> -->
                              
                              <h4  align='center'>{{chapterStudentDetails.studentName}}</h4>
                          </div>
                          <div class="col-sm-2">
                              <h4 align='center'>{{chapterStudentDetails.rank}}</h4>
                                  
                          </div>
                          <div class="col-sm-2">
                              <h4 align='center'>{{chapterStudentDetails.marksscored }}</h4>
                              
                          </div>
                          <div class="col-sm-2">
                              <h4 align='center'>{{chapterStudentDetails.positivemarks}}</h4>
                              
                          </div>
                          <div class="col-sm-2">
                              <h4 align='center'>{{chapterStudentDetails.negativemarks}}</h4>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div style="height: 700px; overflow-y: scroll;" *ngIf = "topicListShow == true">
            <div class="card" style="margin-top: 20px; margin-right: 20px;" *ngFor="let topicStudentDetails of topicStudentDetails">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- <img  align='center' src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 30px; width: 30px;"> -->
                            
                            <h4  align='center'>{{topicStudentDetails.studentName}}</h4>
                        </div>
                        <div class="col-sm-2">
                            <h4 align='center'>{{topicStudentDetails.rank}}</h4>
                                
                        </div>
                        <div class="col-sm-2">
                            <h4 align='center'>{{topicStudentDetails.marksscored }}</h4>
                            
                        </div>
                        <div class="col-sm-2">
                            <h4 align='center'>{{topicStudentDetails.positivemarks}}</h4>
                            
                        </div>
                        <div class="col-sm-2">
                            <h4 align='center'>{{topicStudentDetails.negativemarks}}</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </section>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Checking Report for this exam!</h4>
    <button type="button" class="close" aria-label="Close" id="closemodal" (click)="d('Cross click') ">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{reportMessage}}</p>
    <div class="row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary" *ngIf="isReportAvailable" (click)="openPaperModification(); d('Cross click')" style="width: 100%;">Modify Paper</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-danger" *ngIf="isReportAvailable" (click)="ViewStudentSubmissionInfo()" style="width: 100%;">View Student Info</button>
      </div>
    </div>
    <ngx-loading [show]="loadingCheckReport" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"
    [template]="loadingTemplate"></ngx-loading>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" *ngIf="isReportAvailable" (click)="genrateCompleteReportForcefully()">Genrate Report</button>
  </div>
</ng-template>

<ng-template #studentAllReport let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Student Report! <a style="color: blue; cursor: pointer;" (click)="getAllstudentExams()"><u>(Show all exam reports)</u></a></h4>
    <button type="button" class="close" aria-label="Close" id="closemodal" (click)="d('Cross click') ">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" *ngIf="showAllReport == true">
      <div class="col-sm-12">
        <h5>Exams List</h5>
          <div class="row">
            <div class="col-sm-3" *ngFor="let examslist of examslist">
              <div style="width: 100%; height: 50px; border-style: ridge;" [style.background-color]="examslist.color" class="text-center" (click)="selectExam(examslist.examuid, examslist.examtype, examslist.selected)">
                    <h5>{{examslist.examName}}</h5>
              </div>
            </div>
          </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img class="mx-auto d-block" src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid" style="height: 200px; width: 200px;">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h4 align="center" class="serif" style="color: black;">{{StudentName}}</h4>
          </div>
        </div>
        <h4 style="margin-left: 10px;" class="serif" style="color: black;">Exam Details:-</h4>
        <div class="row">
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Highest marks</h4>
            <h3>{{examHighestMarks}}</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Average marks</h4>
            <h3>{{examAverageMarks}}</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Lowest marks</h4>
            <h3>{{examlowestMarks}}</h3>
          </div>
        </div>
        <hr>
        <h4 style="margin-left: 10px;" class="serif" style="color: black;">Student Details:-</h4>
        <div class="row">
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Marks Scored</h4>
            <h3>{{studentMarksScored}}</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Positive marks</h4>
            <h3>{{positiveMarks}}</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Nigetive marks</h4>
            <h3>{{nigativeMarks}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Right Questions</h4>
            <h3>{{numberofrightquestion}}</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Wrong Questions</h4>
            <h3>{{numberofwrongquestion}}</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Unattempted Questions</h4>
            <h3>{{numberofunattemptedquestion}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Attempted Accuracy</h4>
            <h3>{{attemptedaccuracy}}%</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">OverAll Accuracy</h4>
            <h3>{{overallaccuracy}}%</h3>
          </div>
          <div class="col-sm-4 text-center">
            <h4 align="center" class="monospace" style="color: black;">Total Time</h4>
            <h3 style="color: black; font-size: 15px;">{{totaltime}}</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-0.5" style="margin-left: 20px;">
        <div class="vl"></div>
      </div>
      <div class="col-sm-8" style="margin-left: 30px;">
        <h4 style="margin-left: 10px;" class="serif" style="color: black;">Subjects Report</h4>
        <hr>
        <div class="border" style="padding: 10px;" *ngFor="let subjectreport of subjectreport">
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Subject Name</h4>
              <h3>{{subjectreport.subjectname}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Attempted Questions</h4>
              <h3>{{subjectreport.totalnumberofquestionsattempted}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Right Questions</h4>
              <h3>{{subjectreport.noofrightquestions}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Wrong Questions</h4>
              <h3>{{subjectreport.noofwrongquestions}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Unattempted Questions</h4>
              <h3>{{subjectreport.noofunattemptedquestions}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Marks Scored</h4>
              <h3>{{subjectreport.marksscored}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Positive Marks</h4>
              <h3>{{subjectreport.positivemarks}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Nigative Marks</h4>
              <h3>{{subjectreport.negativemarks}}</h3>
            </div>
          </div>
        </div>
        <h4 style="margin-left: 10px;" class="serif" style="color: black;">Units Report</h4>
        <hr>
        <div class="border" style="padding: 10px;" *ngFor="let unitreport of unitreport">
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Unit Name</h4>
              <h3>{{unitreport.unitname}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Attempted Questions</h4>
              <h3>{{unitreport.totalnumberofquestionsattempted}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Right Questions</h4>
              <h3>{{unitreport.noofrightquestions}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Wrong Questions</h4>
              <h3>{{unitreport.noofwrongquestions}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Unattempted Questions</h4>
              <h3>{{unitreport.noofunattemptedquestions}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Marks Scored</h4>
              <h3>{{unitreport.marksscored}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Positive Marks</h4>
              <h3>{{unitreport.positivemarks}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Nigative Marks</h4>
              <h3>{{unitreport.negativemarks}}</h3>
            </div>
          </div>
        </div>
        <h4 style="margin-left: 10px;" class="serif" style="color: black;">Chapter Report</h4>
        <hr>
        <div class="border" style="padding: 10px;" *ngFor="let chapterreport of chapterreport">
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Chapter Name</h4>
              <h3>{{chapterreport.chaptername}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Attempted Questions</h4>
              <h3>{{chapterreport.totalnumberofquestionsattempted}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Right Questions</h4>
              <h3>{{chapterreport.noofrightquestions}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Wrong Questions</h4>
              <h3>{{chapterreport.noofwrongquestions}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Unattempted Questions</h4>
              <h3>{{chapterreport.noofunattemptedquestions}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Marks Scored</h4>
              <h3>{{chapterreport.marksscored}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Positive Marks</h4>
              <h3>{{chapterreport.positivemarks}}</h3>
            </div>
            <div class="col-sm-4 text-center">
              <h4  class="monospace" style="color: black;">Nigative Marks</h4>
              <h3>{{chapterreport.negativemarks}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngx-loading [show]="loadingSingleStudentReport" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"
    [template]="loadingTemplate"></ngx-loading>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" *ngIf="isReportAvailable" (click)="genrateCompleteReportForcefully()">Genrate Report Forcefully</button> -->
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" title="Checking Reports Please wait...!" id="launchmodal" (click)="open(content)" style="display: none;">Launch demo modal</button>

