<div class="row mx-0">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <button class="btn btn-edit" *ngIf="!isEditData" (click)="editData()"><i class="fa fa-pen"></i>Edit</button>
        <form [formGroup]="oganizationForm" class="mt-3 mb-2">
            <h5 class="w-100">Basic</h5>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Organisation Name</label>
                        <span *ngIf="isEditData">
                            <input type="text" class="form-control" formControlName="name" placeholder="Name"
                                [ngClass]="{ 'is-invalid': submitted && org.name.errors }" maxlength="20" #orgName>
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': orgName.value.length !== 20,'badge-danger': orgName.value.length == 20}">
                                {{ orgName.value.length }} / 20</p>
                        </span>
                        <div *ngIf="submitted && org.name.errors" class="invalid-feedback">
                            <div *ngIf="org.name.errors.required">Organization name is required</div>
                        </div>
                        <p *ngIf="!isEditData">{{org.name.value}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="code">Organisation Code</label>
                        <input type="text" class="form-control" formControlName="code" placeholder="Code"
                            [ngClass]="{ 'is-invalid': submitted && org.code.errors }" *ngIf="isEditData" readonly>
                        <div *ngIf="submitted && org.code.errors" class="invalid-feedback">
                            <div *ngIf="org.code.errors.required">Organization code is required</div>
                        </div>
                        <p *ngIf="!isEditData">{{org.code.value}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="url">URL</label>
                        <span *ngIf="isEditData">
                            <input type="text" class="form-control" formControlName="url" placeholder="URL"
                                maxlength="64" #url>
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': url.value.length !== 64,'badge-danger': url.value.length == 64}">
                                {{ url.value.length }} / 64</p>
                        </span>
                        <p *ngIf="!isEditData">{{org.url.value}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <i style="color: #ff6347;">* </i>
                        <span *ngIf="isEditData">
                            <input type="text" class="form-control" formControlName="emailId" placeholder="Email"
                                [ngClass]="{ 'is-invalid': submitted && org.emailId.errors }" #emailId maxlength="64">
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': emailId.value.length !== 64,'badge-danger': emailId.value.length == 64}">
                                {{ emailId.value.length }} / 64</p>
                        </span>
                        <div *ngIf="submitted && org.emailId.errors" class="invalid-feedback">
                            <div *ngIf="org.emailId.errors.required">Email is required</div>
                            <div *ngIf="org.emailId.errors.email">Email must be a valid email address</div>
                        </div>
                        <p *ngIf="!isEditData">{{org.emailId.value}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <i style="color: #ff6347;">* </i>
                        <span *ngIf="isEditData">
                            <input type="text" class="form-control" formControlName="phone" placeholder="Mobile"
                                maxlength="10" [ngClass]="{ 'is-invalid': submitted && org.phone.errors }" #mobile
                                appOnlynumber>
                            <p class="badge position-absolute inputBoxCount"
                                [ngClass]="{'badge-blue': mobile.value.length !== 10,'badge-danger': mobile.value.length == 10}">
                                {{ mobile.value.length }} / 10</p>
                        </span>
                        <div *ngIf="submitted && org.phone.errors" class="invalid-feedback">
                            <div *ngIf="org.phone.errors.required">PhoneNumber is required</div>
                            <div *ngIf="org.phone.errors && !org.phone.errors.required">Please type valid Phone number
                            </div>
                        </div>
                        <p *ngIf="!isEditData">{{org.phone.value}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="website">Website</label>
                        <i style="color: #ff6347;">* </i>
                        <input type="text" class="form-control" formControlName="website" placeholder="www.example.com"
                            [ngClass]="{ 'is-invalid': submitted && org.website.errors }" *ngIf="isEditData">
                        <div *ngIf="submitted && org.website.errors" class="invalid-feedback">
                            <div *ngIf="org.website.errors.required">Website is required</div>
                            <div *ngIf="org.website.errors && !org.website.errors.required">Please type valid website
                            </div>
                        </div>
                        <p *ngIf="!isEditData">{{org.website.value}}</p>
                    </div>
                </div>
            </div>
            <h5 class="w-100 mt-2">Working Days</h5>
            <div class="row mb-3">
                <div class="col-md-12">
                    <!-- <div class="form-group"> -->
                    <div class="checkbox checkbox-default mb-2 mr-2 d-inline" *ngFor="let day of daysArray">
                        <input id="{{day.day}}" type="checkbox" [disabled]="isEditData?false:true"
                            [checked]="day.isSelected" (input)="checkDays(day)">
                        <label for="{{day.day}}" [ngClass]="{'title': day.isSelected}">
                            {{day.day}} &nbsp;
                        </label>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <h5 class="w-100 mt-2">Description</h5>
            <div class="row mb-3">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="shortDescription">Short Description</label>
                        <textarea name="shortDescription" class="form-control" id="shortDescription" rows="5"
                            placeholder="Max 100 Character" maxlength="100" formControlName="shortDescription"
                            [readonly]="isEditData?false:true" #shortDesc></textarea>
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': shortDesc.value.length !== 100,'badge-danger': shortDesc.value.length == 100}">
                            {{ shortDesc.value.length }} / 100</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="longDescription">Long Description</label>
                        <textarea name="longDescription" class="form-control" id="longDescription" rows="5"
                            placeholder="Max 500 Character" maxlength="500" formControlName="longDescription"
                            [readonly]="isEditData?false:true" #longDesc></textarea>
                        <p class="badge position-absolute inputBoxCount"
                            [ngClass]="{'badge-blue': longDesc.value.length !== 500,'badge-danger': longDesc.value.length == 500}">
                            {{ longDesc.value.length }} / 500</p>
                    </div>
                </div>
            </div>
            <h5 class="w-100 mt-2">Social Media</h5>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="facebook">Facebook</label>
                        <input type="text" class="form-control" formControlName="facebook"
                            placeholder="www.facebook.com/example" [readonly]="isEditData?false:true">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="twitter">Twitter</label>
                        <input type="text" class="form-control" formControlName="twitter"
                            placeholder="www.twitter.com/example" [readonly]="isEditData?false:true">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="linkedIn">LinkedIn</label>
                        <input type="text" class="form-control" formControlName="linkedIn"
                            placeholder="www.linkedin.com/example" [readonly]="isEditData?false:true">

                    </div>
                </div>
            </div>
            <div class="row my-3" *ngIf="isEditData">
                <div class="col-md-9"></div>
                <div class="col-md-3 d-flex justify-content-end">
                    <button class="btn btn-save" *ngIf="!isUpdate" (click)="save()">Save</button>
                    <button class="btn btn-save" *ngIf="isUpdate" (click)="save()">Update</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-md-1"></div>
</div>