h5 {
    font-weight: 600;
    margin-bottom: 10px;
}
label {
    font-weight: 500;
}
.btn-save {
    background-color: var(--newApp-color);
    color: white;
    width: 110px;
    margin-top: 15px;
    border-radius: 0px;
}

.checkbox input[type="checkbox"]:checked + label::before {
    background-color: var(--newApp-color);
    border-color: var(--newApp-color);
}
.checkbox input[type="checkbox"]:checked + label::after {
    border-color: #ffffff !important;
}

.checkbox label {
    font-weight: 500 !important;
}
.btn-edit {
    color: var(--newApp-color);
    background-color: var(--newAppbg-color);
    border-color: var(--newApp-color);
    position: absolute;
    right: 10px;
    top: 10px;
}
.fa-pen {
    padding-right: 5px;
    padding-top: 5px;
}
.form-group p {
    font-weight: 600;
}
