<div *ngIf="viewType == 1">
    <div class="row popupHeading py-2 align-items-center mx-0 px-2">
        <div class="col-md-8" style="font-weight: bold;">Timetable Execution History</div>
        <div class="col-md-3">
            <div class="row formMainHead">{{executionHistory.name}}</div>
            <div class="row formheadingTitle">Timetable Name</div>
        </div>
        <!-- <div class="col-md-4">
            <div class="row formMainHead">AY 21-24 | Feb 21- Mar 24</div>
            <div class="row formheadingTitle">Academic Year</div>
        </div> -->
        <div class="col-md-1"><button type="button" class="closePopup" (click)="close(false)"
                aria-label="Close">x</button>
        </div>
    </div>

    <div class="header">
        <div class="widthAlign1">Sr No.</div>
        <div class="widthAlign2">Start Date</div>
        <div class="widthAlign2">End Date</div>
        <div class="widthAlign2">Applied on</div>
        <div class="widthAlign3">Applied By</div>
        <div class="widthAlign2">Published On</div>
        <div class="widthAlign3">Published By</div>
        <div class="widthAlign2">Status</div>
    </div>
    <div class="bodyContent" *ngFor="let item of executionHistory.executionHistory;let i=index;">
        <div class="widthAlign1">{{i+1}}</div>
        <div class="widthAlign2">{{item.startDate}}</div>
        <div class="widthAlign2">{{item.endDate}}</div>
        <div class="widthAlign2">{{item.appliedOn}}</div>
        <div class="widthAlign3">{{item.appliedBy}}</div>
        <div class="widthAlign2">{{item.publishedOn}}</div>
        <div class="widthAlign3">{{item.publishedBy}}</div>
        <div class="widthAlign2"><span class="activestatusBadge"
                *ngIf="item.timetablePublishedStatus">Active</span><span *ngIf="!item.timetablePublishedStatus"
                class="nonactivestatusBadge">Expired</span></div>
    </div>
</div>

<div *ngIf="viewType == 2">
    <div class="row popupHeading align-items-center"
        style="border-bottom: 1px solid #80808017;margin-bottom: 10px;margin-left: 0;">
        <div class="col-md-11" style="font-weight: bold;">Timetable Conflict</div>

        <div class="col-md-1"><button type="button" class="closePopup" (click)="close(false)"
                aria-label="Close">x</button>
        </div>
    </div>

    <div class="row py-1 px-1 mx-0" style="border-bottom: 1px solid #80808017;margin-bottom: 10px;">
        <div class="col-md-4">
            <div class="row mainLabel">{{conflictData.timetableName}}</div>
            <div class="row headingTitle">Timetable Name</div>
        </div>
        <div class="col-md-4">
            <div class="row mainLabel">{{conflictData.startDate}}</div>
            <div class="row headingTitle">Start Date</div>
        </div>
        <div class="col-md-4">
            <div class="row mainLabel">{{conflictData.endDate}}</div>
            <div class="row headingTitle">End Date</div>
        </div>

    </div>
    <div class="row pt-1 pb-2 mx-0 px-1" style="margin-bottom: 10px;">
        <div class="col-md-4">
            <div class="row mainLabel">{{conflictData.appliedOn}}</div>
            <div class="row headingTitle">Applied On</div>
        </div>
        <div class="col-md-6">
            <div class="row mx-0">
                <div class="col-md-4">
                    <span><img src="assets/images/users/user-1.jpg" height="30px" width="30px"
                            style="border-radius: 10%;" alt=""></span>
                </div>
                <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                    <div class="row mainLabel">{{conflictData.appliedBy}}</div>
                    <div class="row headingTitle">Applied By</div>
                </div>
            </div>
        </div>

    </div>
    <div class="row pt-1 pb-2 mx-0 px-1" style="margin-bottom: 10px;margin-left: 0;">
        <div class="col-md-4">
            <div class="row mainLabel">{{conflictData.publishedOn}}</div>
            <div class="row headingTitle">Published On</div>
        </div>
        <div class="col-md-6">
            <div class="row mx-0">
                <div class="col-md-4">
                    <span><img src="assets/images/users/user-1.jpg" height="30px" width="30px"
                            style="border-radius: 10%;" alt=""></span>
                </div>
                <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                    <div class="row mainLabel">{{conflictData.publishedBy}}</div>
                    <div class="row headingTitle">Published By</div>
                </div>
            </div>
        </div>

    </div>
</div>
<div *ngIf="viewType == 3">
    <div class="row" style="margin-bottom: 10px;margin-left: 0;">
        <div class="col-md-11" style="font-weight: bold;margin-bottom: 10px;">{{conflictData.typeName}} Conflict:</div>

        <div class="col-md-1"><button type="button" class="closePopup" (click)="close(false)"
                aria-label="Close">x</button>
        </div>
    </div>
    <div *ngFor="let data of conflictDetails">
        <div *ngFor="let item of data.lectureList">
            <div class="row" style="margin-bottom: 17px;margin-left: 0;">
                <div class="col-md-4">
                    <div class="row mainLabel">{{item.courseName}}</div>
                    <div class="row headingTitle">Course</div>
                </div>
                <div class="col-md-3">
                    <div class="row mainLabel">{{item.batchIds[0].name}}</div>
                    <div class="row headingTitle">Batch Name</div>
                </div>
                <div class="col-md-5">
                    <div class="row mainLabel">{{item.groupIds[0].name}}</div>
                    <div class="row headingTitle">Batch Group</div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;margin-left: 0;">
                <div class="col-md-4">
                    <div class="row mainLabel">{{item.lessonStartTime|date:'HH:mm'}}-{{item.lessonEndTime|date:'HH:mm'}}
                    </div>
                    <div class="row headingTitle">Time</div>
                </div>
                <div class="col-md-3">
                    <div class="row mainLabel">{{item.subjectName}}</div>
                    <div class="row headingTitle">Subject</div>
                </div>
                <div class="col-md-4" *ngIf="conflictType==1">
                    <div class="row mainLabel">{{item.classRoomName}}</div>
                    <div class="row headingTitle">Classroom</div>
                </div>
                <div class="col-md-5" *ngIf="conflictType==2">
                    <div class="row">
                        <div class="col-md-4">
                            <span><img src="assets/images/users/user-1.jpg" height="30px" width="30px"
                                    style="border-radius: 5%;" alt=""></span>
                        </div>
                        <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                            <div class="row mainLabel">{{item.teacherIds[0].name}}</div>
                            <div class="row headingTitle">Techer Name</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="viewType == 4">
    <div class="row" style="margin-bottom: 10px;margin-left: 0;">
        <div class="col-md-8" style="font-weight: bold;margin-bottom: 10px;color: #0091ff;">{{shiftDetails.name}}</div>

        <div class="col-md-4"><button type="button" class="closePopup" (click)="close(false)"
                aria-label="Close">x</button>
        </div>
    </div>
    <div class="scroll shiftdetails">
        <div class="row mr-0" style="margin-bottom: 10px;margin-left: 13px;color: black;">
            Batches
        </div>
        <div class="row mr-0" style="margin-bottom: 17px;margin-left: 0;" *ngFor="let item of shiftDetails.batches;">
            <div class="col-md-4">
                <span><img src="assets/Icons/Sample/Morning.png" height="30px" width="30px" style="border-radius: 50%;"
                        alt=""></span>
            </div>
            <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                <div class="row PersonName">{{item.name}}</div>

            </div>
        </div>


        <div class="row mr-0" style="margin-bottom: 10px;margin-left: 13px;color: black;">
            Teachers
        </div>
        <div class="row mr-0" style="margin-bottom: 17px;margin-left: 0;" *ngFor="let item of shiftDetails.teachers;">
            <div class="col-md-4">
                <span><img src="assets/images/users/user-1.jpg" height="30px" width="30px" style="border-radius: 5%;"
                        alt=""></span>
            </div>
            <div class="col-md-8" style="padding-left: 0;margin-left: 0px;">
                <div class="row PersonName">{{item.name}}</div>

            </div>
        </div>
    </div>

</div>