@import "../common-r";

//View History

.header {
  background-color: #0091ff17;
  padding-top: 11px;
  padding-bottom: 11px;
  color: black;
  margin-bottom: 15px;
  font-size: 13px;
  display: flex;
  // margin-top: 15px;
}

.bodyContent {
  display: flex;
  font-size: 13px;
  margin-bottom: 15px;
}

.widthAlign1 {
  width: 70px;
  text-align: center;
}

.widthAlign2 {
  width: 100px;
}

.widthAlign3 {
  width: 115px;
}

.nonactivestatusBadge {
  font-size: 12px;
  padding: 5px 19px;
  text-align: center;
  border-radius: 6px;
  background-color: #f58564;
  color: white;
}

.activestatusBadge {
  font-size: 12px;
  padding: 5px 22px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--success);
  color: white;
}

.PersonName {
  margin-top: 7px;
  font-size: 13px;
  color: #00000061;
}
.shiftdetails {
  min-height: 400px;
  max-height: 850px;
  overflow-y: auto;
}
