.card {
  box-shadow: 0px 2px 6px rgba(56, 65, 74, 0.23) !important;
}
// .days{
//     background-color: #6dd1e3;
//     color: white;
//     width: 50px;
//     vertical-align: middle;
// }
.workingDays th {
  text-align: center;
  width: 10%;
}
.workingDays .table-responsive {
  padding: 5px 20px;
}
.shiftList .shift {
  color: #7c7b98;
}
.shiftList .assignPeriod {
  width: 80%;
  margin-left: 5%;
  border-collapse: separate;
  border-spacing: 0 1em;
  border: none;
}
.shiftList .assignPeriod td {
  padding: 7px;
}
::ng-deep ng-multiselect-dropdown .multiselect-dropdown {
  border: none;
}
.assignPeriod .selectPeriod {
  width: 60%;
}
.assignPeriod .addPeriod {
  border: none;
  color: #6dd1e3;
  cursor: pointer;
}
.workingDays .title {
  color: var(--newApp-color);
  padding-right: 9px;
}
.workingDays p .day {
  background-color: #c2c1c1;
  color: #313131 !important;
  font-size: 12px;
  width: 17px;
  height: 17px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}
.workingDays p .day.dayselected {
  background-color: var(--newApp-color);
  color: #ffffff !important;
}
.selectable {
  cursor: pointer;
}
.periodSelected {
  background-color: var(--newApp-color);
  text-align: center;
  color: white;
}
tabset {
  width: 100%;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
  margin-left: 10px;
  margin-right: 10px;
}
tabset ::ng-deep > .nav-tabs {
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 2%);
}
tabset ::ng-deep > .nav-tabs .nav-link {
  padding: 0px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #989898;
  background-color: #e6e6e6;
  border-color: #dee2e6 #dee2e6 #fff;
  border-radius: 0px;
  min-height: 40px;
}
tabset ::ng-deep > .nav-tabs .nav-link.active {
  color: var(--newApp-color);
  // border: none;
  background-color: #fcfcfc;
  border-color: #efefef #dee2e6 #fff;
}
.days p {
  float: right;
}
.timeing p {
  float: right;
  position: absolute;
  right: 25px;
  top: 115px;
}
p.name,
p.time {
  margin-bottom: 0px !important;
  text-align: center;
  font-size: 13px;
}
p.name {
  font-weight: 600;
}
p.time {
  font-size: 12px;
}
.table tbody td {
  padding: 0.3rem;
}
.table tbody td:first-child,
.table thead th:first-child {
  border-left: none;
}
.workingDays {
  box-shadow: none;
}
.workingDays .table th {
  border-top: 0px;
  border-bottom: 1px;
}
.panel-default {
  border-color: #ddd;
}
.panel {
  width: 100%;
  background-color: #fff;
  margin: 0px 8px 20px 8px;
  // border: 1px solid #0000008f;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 5%);
}
.panel-heading {
  padding: 8px 15px 4px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  background-color: #cee3f5;
  color: #313131;
  border-top-right-radius: 3px;
  font-size: 15px;
  font-weight: 600;
}
.panel-body {
  padding: 15px 10px 5px;
  min-height: 200px;
}
.panel-body p {
  color: #4c4a4a;
  margin-bottom: 10px;
}
.panel-body p span,
.editImg {
  color: var(--newApp-color) !important;
}
.btn-cancel {
  background-color: white;
  border: 2px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 0px;
  margin-right: 5px;
  padding: 8px 25px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
}
.btn-save {
  background-color: var(--newApp-color);
  color: #ffffff !important;
  margin-left: 0px;
  margin-right: 40px;
  padding: 8px 25px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
  color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
  color: var(--newApp-color) !important;
  background-color: #fff;
}
.periodDisabled {
  cursor: not-allowed;
}
