<div class="row p-1 m-0">
  <div class="panel panel-default workingDays">
    <div class="panel-heading">Days and Periods
    </div>
    <div class="panel-body pb-3">
      <div class="row m-0 assignPeriod" *ngIf="shiftList.length>0">
        <tabset #staticTabs>
          <tab *ngFor="let tabz of shiftList; let i=index" [heading]="tabz.name" (selectTab)="onSelectTab($event,i)">
            <div class="table-responsive" *ngIf="isPeriodListData">
              <table class="table table-centered table-bordered mb-5" id="test">
                <thead>
                  <tr>
                    <th style="min-width: 110px;"></th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let period of selectedShiftData.periods; let j = index;">
                    <td>
                      <p class="name">{{period.name}}</p>
                      <p class="time">{{period.startTime}} - {{period.endTime}}</p>
                    </td>
                    <td class="selectable"
                      [ngClass]="{'periodSelected':period.mon.isSelected, 'periodDisabled':period.mon.isDisabled}"
                      (click)="selectPeriod(period.mon.isDisabled, period,j,period.mon.workingdayIndex,1,period.mon.isSelected)">
                      <i class="fas fa-check" *ngIf="period.mon.isSelected"></i>
                    </td>
                    <td class="selectable"
                      [ngClass]="{'periodSelected':period.tue.isSelected, 'periodDisabled':period.tue.isDisabled}"
                      (click)="selectPeriod(period.tue.isDisabled, period,j,period.tue.workingdayIndex,2,period.tue.isSelected)">
                      <i class="fas fa-check" *ngIf="period.tue.isSelected"></i>
                    </td>
                    <td class="selectable"
                      [ngClass]="{'periodSelected':period.wed.isSelected, 'periodDisabled':period.wed.isDisabled}"
                      (click)="selectPeriod(period.wed.isDisabled, period,j,period.wed.workingdayIndex,3,period.wed.isSelected)">
                      <i class="fas fa-check" *ngIf="period.wed.isSelected"></i>
                    </td>
                    <td class="selectable"
                      [ngClass]="{'periodSelected':period.thu.isSelected, 'periodDisabled':period.thu.isDisabled}"
                      (click)="selectPeriod(period.thu.isDisabled, period,j,period.thu.workingdayIndex,4,period.thu.isSelected)">
                      <i class="fas fa-check" *ngIf="period.thu.isSelected"></i>
                    </td>
                    <td class="selectable"
                      [ngClass]="{'periodSelected':period.fri.isSelected, 'periodDisabled':period.fri.isDisabled}"
                      (click)="selectPeriod(period.fri.isDisabled, period,j,period.fri.workingdayIndex,5,period.fri.isSelected)">
                      <i class="fas fa-check" *ngIf="period.fri.isSelected"></i>
                    </td>
                    <td class="selectable"
                      [ngClass]="{'periodSelected':period.sat.isSelected, 'periodDisabled':period.sat.isDisabled}"
                      (click)="selectPeriod(period.sat.isDisabled, period,j,period.sat.workingdayIndex,6,period.sat.isSelected)">
                      <i class="fas fa-check" *ngIf="period.sat.isSelected"></i>
                    </td>
                    <td class="selectable"
                      [ngClass]="{'periodSelected':period.sun.isSelected, 'periodDisabled':period.sun.isDisabled}"
                      (click)="selectPeriod(period.sun.isDisabled, period,j,period.sun.workingdayIndex,7,period.sun.isSelected)">
                      <i class="fas fa-check" *ngIf="period.sun.isSelected"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pt-3 text-center" *ngIf="!isPeriodListData">
              <p>Period data not found</p>
            </div>
          </tab>
        </tabset>
      </div>
      <div class="row m-0 assignPeriod" *ngIf="shiftList.length==0">
        <p class="py-3">Please first assign shfit then assign period</p>
      </div>
    </div>
  </div>



</div>
<div class="row mt-5 float-right mx-0">
  <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
  <button class="btn btn-save ml-2" type="submit" (click)="submitTeacherPeriodInfo()">Save and Next</button>
  <!-- <button class="btn btn-save ml-2 px-4" type="submit" *ngIf="userDetailsType!=1">Save</button> -->
</div>
<!-- </div> -->
<!-- </div> -->