.custom-card-box{
    background-color: #fff; 
    padding: 1.0rem;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    /* margin-bottom: 24px; */
    /* border-radius: 0.25rem;*/
}
.custom-card-box-table{
    background-color: #fff;
    padding: 1.0rem;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    /* margin-bottom: 24px; */
    border-radius: 0.25rem;
}
.text-mute{
    color:white !important
}
.background-pink{
    background-color: #ff5651;
}
.head-slct-bg-pink{
    color:white;
    background-color: #f35c58;
}
.head-bg-pink{
    background-color: #f35c58;
}
.bg-color-filter{
    color:white;
    // float: right;
    margin-left: -13px;
          margin-top: 13px;
}
// #9dcf00

.background-green{
    background-color: #97d055;
    
}
.head-slct-bg-green{
    color:white;
    background-color: #97d055;
}
.background-green{
    background-color: #9dcf00;
}
.present{
    color: green;
}
.absent{
    color: red;
    
}
.leave{
    color: yellow;
}
.total{
    color: blue;
}