<style>
  .custom-card-box{
    background-color: #fff; 
    padding: 1.0rem;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    /* margin-bottom: 24px; */
    /* border-radius: 0.25rem;*/
}
.custom-card-box-table{
    background-color: #fff;
    padding: 1.0rem;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    /* margin-bottom: 24px; */
    border-radius: 0.25rem;
}
.text-mute{
    color:white !important
}
.background-pink{
    background-color: #ff5651;
}
.head-slct-bg-pink{
    color:white;
    background-color: #f35c58;
}
.head-bg-pink{
    background-color: #f35c58;
}
.bg-color-filter{
    color:white;
    /* float: right; */
    margin-left: -13px;
          margin-top: 13px;
}
/* // #9dcf00 */

.background-green{
    background-color: #97d055;
    
}
.head-slct-bg-green{
    color:white;
    background-color: #97d055;
}
.background-green{
    background-color: #9dcf00;
}
.present{
    color: green;
}
.absent{
    color: red;
    
}
.leave{
    color: yellow;
}
.total{
    color: blue;
}
</style>

<div class="row">

    <div [ngTemplateOutlet]="WidgetData" [ngTemplateOutletContext]="{widget: widget}" *ngFor="let widget of widget">
    </div>
</div>

<ng-template #WidgetData let-widget='widget'>
    <div class="col-md-6 col-xl-4">
      <div class="custom-card-box" style="background-color: #69bfca;padding: 8px;">
        <div class="row">
          <!-- <div class="card-box" style="background-color: blue;"> -->
          <div class="col-10">
            <div class="form-group">
              <select (change)="onSelectCourse($event.target.value)" class="form-control"
                style="color:white;background-color: #69bfca;">
                <option value="0" selected="selected">Select Format</option>
                <option *ngFor="let item of formatList" value="{{item.id}}">{{ item.text }}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <i style="color:white; margin-left: -13px;
            margin-top: 13px;" class="fas fa-filter " (click)="openModal(content)"></i>
          </div>
        </div>
      </div>
      <div class="custom-card-box" style="background-color: #50c5d3; padding-bottom: 6px;">
        <div class="row">
  
          <div class="col-6">
  
            <div class="avatar-sm bg-{{widget.color}} rounded" style="margin-top: -4px;">
              <i class="{{widget.icon}} avatar-title font-22 text-white"></i>
            </div>
          </div>
          <div class="col-3">
            <div class="text-right">
              <h3 class="text-mute  my-1"><span [CountTo]="widget.value" [from]="0" [duration]="1">{{widget.value}}</span>
                <!-- <a class="text-mute mb-1 text-truncate">{{widget.text}}</a> -->
              </h3>
            </div>
  
          </div>
          <div class="col-3">
            <div style="margin-top: 9px;">
              <a class="text-mute mb-1 text-truncate">{{widget.text}}</a>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isOrganisationWise">
          <div class="table-responsive custom-card-box-table">
            <table class="table table-hover table-centered m-0" style="border: none;">
              <thead class="thead-light">
                <a>Organisation</a>
                <tr>
                  <th style="color: blue;">T</th>
                  <th style="color: green;">P</th>
                  <th style="color: red;">A</th>
                  <th style="color: yellow;">L</th>
                </tr>
              </thead>
              <tbody class="">
                <tr class="">
                  <td class="total" [CountTo]="5000" [from]="0" [duration]="1">5000</td>
                  <td class="present" [CountTo]="3000" [from]="0" [duration]="1">3000</td>
                  <td class="absent" [CountTo]="1500" [from]="0" [duration]="1">1500</td>
                  <td class="leave" [CountTo]="500" [from]="0" [duration]="1">500</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- end card-box-->
    </div> <!-- end col -->
  </ng-template>