.subjectTitle {
    font-weight: 600;
    font-size: 14px;
    margin-left: -5px;
}

.subjectBlurTitle {
    color: #878c90;
    font-weight: 500;
    font-size: 14px;
    margin-left: -5px;
}
.patternHeading {
    text-align: end;
    font-size: larger;
    font-weight: 400;
    color: #000000ad;
}
.blue-color {
    color: #1c8ef0;
}
.blur-color {
    color: #878c90;
}
.noPadding {
    padding: 0;
}

.card {
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    min-width: 32%;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 20%), 0 2px 15px 0 rgb(180 181 187 / 27%);
}

.cardHeading {
    padding: 4% 2% 4% 2%;
    border-radius: 4px;
    color: gray;
}

// .active{
//     background: #0091ff;
//     color: white;
// }

// ::ng-deep ng-select.customBorder .ng-select-container{
//     border: none !important;
//     width: 158px !important;
//     height: 43px !important;
// }

// ::ng-deep ng-select.testCustomWidtth .ng-select-container{
//     border: none !important;
//     width: 138px !important;
//     height: 43px !important;
// }

.sectionName {
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.sectionTitle {
    font-size: 10px;
    font-weight: 500;
    color: #989faf;
    font-family: system-ui;
}

.titleBg {
    height: 45px;
    background: #e5f2ff;
    width: 100% !important;
}
.titleSZ {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}
.col-box {
    border: 1px solid #c5c5c5;
    height: 45px;
}

.paperTitle:default {
    background-color: #ffffff;
    color: #000;
}
.paperTitle:hover {
    background-color: #0091ff;
    color: #ffffff;
}

::ng-deep ng-select.borderLess .ng-select-container {
    border: none !important;
    font-size: 15px;
    color: gray;
}
::ng-deep.addTestType .modal-dialog {
    max-width: 363px;
    margin: 15% auto;
}

.invigilatorCloseBtn {
    width: 130px;
    height: 36px;
    border: 1px solid #80808059;
    color: gray;
    float: right;
}
.invigilatorCloseBtn:hover {
    background-color: gray;
    color: white;
}

.btn-testType {
    background-color: var(--newApp-color);
    padding: 7px 30px;
    height: 36px;
}
.btn-testType:hover {
    color: #ffffff;
    text-decoration: none;
}
.cardHeading.primary {
    border-top: 3px solid var(--primary);
}
.cardHeading.info {
    border-top: 3px solid var(--info);
}
.cardHeading.warning {
    border-top: 3px solid var(--warning);
}
.cardHeading.success {
    border-top: 3px solid var(--success);
}
.cardHeading.danger {
    border-top: 3px solid var(--danger);
}
