<!-- <div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-7" style="display: flex;">
                <h5 style="color: #0091ff;padding: 1% 0%;margin: 8px 0;"> Exam Pattern Summary </h5>
                <ng-select id="type" [items]="patternType" class="customBorder" bindLabel="name" [multiple]="false"
                    bindValue="id" [searchable]="false" [closeOnSelect]="true" placeholder="Change Category"
                    (change)="getExamPatternList($event)" style="margin-left: 12px;">
                </ng-select>
                <ng-select *ngIf="examPatternList != null && examPatternList.length >0" style="margin-left: 12px;"
                    class="customBorder" [multiple]="false" [searchable]="false" [closeOnSelect]="true"
                    placeholder="Change Pattern" (change)="getExamPatternDetails($event)">
                    <ng-option *ngFor="let examPattern of examPatternList" [value]="examPattern.uniqueId">
                        {{examPattern.name}} </ng-option>
                </ng-select>
            </div>
            <div class="col-5" style="float: right;display: contents;" *ngIf="examPattern">
                <div
                    *ngIf="examPattern.patternType == 3 || examPattern.patternType == 2 || examPattern.patternType == 1">
                    <div id="1" style="padding-top: 13px; cursor: pointer;text-align: center;float: right;height: 44px;"
                        (click)="paperClick(1,0)">
                        <span style="padding: 10px;">{{patterns2.patternName}}</span>
                    </div>
                    <div class="active" id="0"
                        style="padding-top: 13px;cursor: pointer;text-align: center;float: right;height: 44px;"
                        (click)="paperClick(0,1)">
                        <span style="padding: 10px;">{{patterns1.patternName}}</span>
                    </div>
                    <div style="float: right;">
                        <ng-select #ngSelectComponent class="testCustomWidtth" [searchable]="false"
                            [items]="patternList" bindLabel="name" bindValue="uniqueId" placeholder="Change Pattern"
                            (change)="getPatternInfo($event)">
                        </ng-select>
                    </div>
                </div>

            </div>
        </div>
        <hr style="margin-top: 0;">
        <div *ngIf="examPattern">
            <div *ngIf="examPattern.patternType == 3 || examPattern.patternType == 2 || examPattern.patternType == 1">
                <div *ngIf="pattern1">
                    <div class="row" style="font-weight: 300;font-size: 12px;color: gray;">
                        <div class="col-md-1"><i class="fa fa-calendar blue-color"
                                aria-hidden="true"></i>&nbsp;&nbsp;2014</div>
                        <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;
                            <span *ngFor="let subject of patterns1.subjects">{{subject.name}},</span>
                        </div>
                        <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration:
                            {{patterns1.duration}} min</div>
                        <div class="col-md-2"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total
                            Questions: {{patterns1.totalQuestion}}</div>
                        <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks:
                            {{patterns1.examMarks}}</div>
                        <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Physiccoo</div>
                    </div>


                    <hr>
                    <div class="row" style="margin-top: 1%;margin-left:0px;">
                        <div class="col-md-3 card" *ngFor="let subject of patterns1.subjects" style="margin-right: 1%;">

                            <div class="row cardHeading"
                                [ngStyle]="{'border-top': subject.name == 'Physics' ? '2px solid #ff00c8' : subject.name == 'Chemistry' ? '2px solid #2EFEF7' : subject.name == 'Mathematics' ? '2px solid #fff703f2' : subject.name == 'Biology' ? '2px solid #92ff03f2' : subject.name == 'Science' ? '2px solid #0368fff2' : '2px solid #ff03a6f2' }">
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Physics'"> <i
                                        class="fab fa-react"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Chemistry'"> <i
                                        class="fas fa-flask"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Mathematics'"> <i
                                        class="fas fa-calculator"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Biology'"> <i
                                        class="fas fa-vial"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Science'"> <i
                                        class="fas fa-capsules"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Anatomy'"> <i
                                        class="fas fa-code"></i> {{subject.name}}</div>
                                <div class="col-6 text-right"> <i class="fas fa-ellipsis-h"
                                        style="cursor: pointer;"></i> </div>

                            </div>

                            <div class="row" *ngFor="let section of subject.sections;let i=index;"
                                style="padding: 2% 2%;">

                                <div class="col-md-4" style="display: flex;">
                                    <span class="sectionName">
                                        {{section.name}}
                                    </span>&nbsp;
                                    <span class="sectionTitle">
                                        Section
                                    </span>

                                </div>
                                <div class="col-md-4" style="padding-left: 0;display: flex;">
                                    <span class="sectionName">
                                        {{section.noOfQuestions}}
                                    </span>&nbsp;
                                    <span class="sectionTitle">
                                        Total Questions
                                    </span>
                                </div>
                                <div class="col-md-4" style="padding-left: 0;padding-right: 0;display: flex;">
                                    <span class="sectionName">
                                        <div *ngIf="section.questionType==1">SCQ</div>
                                        <div *ngIf="section.questionType==2">MCQ</div>
                                        <div *ngIf="section.questionType==3">Numeric</div>
                                        <div *ngIf="section.questionType==4">SA</div>
                                        <div *ngIf="section.questionType==5">VSA</div>
                                        <div *ngIf="section.questionType==6">FIB</div>
                                        <div *ngIf="section.questionType==7">TF</div>
                                    </span>&nbsp;
                                    <span class="sectionTitle">
                                        Question Type
                                    </span>
                                </div>
                            </div>
                            <div class="row" style="margin: 10px 0 0 0;">
                                <div class="col-md-12 sectionTitle">
                                    <p style="margin-bottom: 0;">All are going good continue daily walking more than 60 min to maintain your health</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div *ngIf="pattern2">
                    <div class="row" style="font-weight: 300;font-size: 12px;color: gray;">
                        <div class="col-md-1"><i class="fa fa-calendar blue-color"
                                aria-hidden="true"></i>&nbsp;&nbsp;2015</div>
                        <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;
                            <span *ngFor="let subject of patterns2.subjects">{{subject.name}},</span>
                        </div>
                        <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration:
                            {{patterns2.duration}} min</div>
                        <div class="col-md-2"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total
                            Questions: {{patterns2.totalQuestion}}</div>
                        <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks:
                            {{patterns2.examMarks}}</div>
                        <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Physiccoo</div>
                    </div>


                    <hr>
                    <div class="row" style="margin-top: 1%;margin-left:0px;">
                        <div class="col-md-3 card" *ngFor="let subject of patterns2.subjects" style="margin-right: 1%;">
                            <div>
                                <div class="row cardHeading"
                                    [ngStyle]="{'border-top': subject.name == 'Physics' ? '2px solid #ff00c8' : subject.name == 'Chemistry' ? '2px solid #2EFEF7' : subject.name == 'Mathematics' ? '2px solid #fff703f2' : subject.name == 'Biology' ? '2px solid #92ff03f2' : subject.name == 'Science' ? '2px solid #0368fff2' : '2px solid #ff03a6f2' }">
                                    <div class="col-6 subjectTitle" *ngIf="subject.name == 'Physics'"> <i
                                            class="fab fa-react"></i> {{subject.name}}</div>
                                    <div class="col-6 subjectTitle" *ngIf="subject.name == 'Chemistry'"> <i
                                            class="fas fa-flask"></i> {{subject.name}}</div>
                                    <div class="col-6 subjectTitle" *ngIf="subject.name == 'Mathematics'"> <i
                                            class="fas fa-calculator"></i> {{subject.name}}</div>
                                    <div class="col-6 subjectTitle" *ngIf="subject.name == 'Biology'"> <i
                                            class="fas fa-vial"></i> {{subject.name}}</div>
                                    <div class="col-6 subjectTitle" *ngIf="subject.name == 'Science'"> <i
                                            class="fas fa-capsules"></i> {{subject.name}}</div>
                                    <div class="col-6 subjectTitle" *ngIf="subject.name == 'Anatomy'"> <i
                                            class="fas fa-code"></i> {{subject.name}}</div>
                                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h"
                                            style="cursor: pointer;"></i> </div>

                                </div>

                                <div class="row" *ngFor="let section of subject.sections;let i=index;"
                                    style="padding: 2% 2%;">
                                    <div class="col-md-4" style="display: flex;">
                                        <span class="sectionName">
                                            {{section.name}}
                                        </span>&nbsp;
                                        <span class="sectionTitle">
                                            Section
                                        </span>

                                    </div>
                                    <div class="col-md-4" style="padding-left: 0;display: flex;">
                                        <span class="sectionName">
                                            {{section.noOfQuestions}}
                                        </span>&nbsp;
                                        <span class="sectionTitle">
                                            Total Questions
                                        </span>
                                    </div>
                                    <div class="col-md-4" style="padding-left: 0;padding-right: 0;display: flex;">
                                        <span class="sectionName">
                                            <div *ngIf="section.questionType==1">SCQ</div>
                                            <div *ngIf="section.questionType==2">MCQ</div>
                                            <div *ngIf="section.questionType==3">Numeric</div>
                                            <div *ngIf="section.questionType==4">SA</div>
                                            <div *ngIf="section.questionType==5">VSA</div>
                                            <div *ngIf="section.questionType==6">FIB</div>
                                            <div *ngIf="section.questionType==7">TF</div>
                                        </span>&nbsp;
                                        <span class="sectionTitle">
                                            Question Type
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="margin: 10px 0 0 0;">
                                    <div class="col-md-12 sectionTitle">
                                        <p style="margin-bottom: 0;">All are going good continue daily walking more than 60 min to maintain your health</p>
                                    </div>
                                </div>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="examPattern.patternType == 4">
                <div class="row" style="font-weight: 300;font-size: 12px;color: gray;">
                    <div class="col-md-1"><i class="fa fa-calendar blue-color" aria-hidden="true"></i>&nbsp;&nbsp;2014
                    </div>
                    <div class="col-md-3"><i class="fa fa-book blue-color" aria-hidden="true"></i>&nbsp;&nbsp;
                        <span *ngFor="let exam of examPattern.examPatterns;let i=index;">
                            <span *ngFor="let subject of exam.subjects">
                                {{subject.name}},
                            </span>
                        </span>
                    </div>
                    <div class="col-md-2"><i class="far fa-clock blue-color"></i>&nbsp;&nbsp;Duration:
                        {{examPattern.examPatterns[0].duration}} min</div>
                    <div class="col-md-2"><i class="fas fa-question-circle blue-color"></i>&nbsp;&nbsp;Total Questions:
                        {{examPattern.examPatterns[0].totalQuestion}}</div>
                    <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Total Marks:
                        {{examPattern.examPatterns[0].examMarks}}</div>
                    <div class="col-md-2"><i class="far fa-check-circle blue-color"></i>&nbsp;&nbsp;Physiccoo</div>
                </div>


                <hr>
                <div class="row" *ngFor="let exam of examPattern.examPatterns;let i=index;"
                    style="margin-top: 1%;margin-left:0px;">
                    <div class="col-md-3 card" *ngFor="let subject of exam.subjects" style="margin-right: 1%;">
                        <div>
                            <div class="row cardHeading"
                                [ngStyle]="{'border-top': subject.name == 'Physics' ? '2px solid #ff00c8' : subject.name == 'Chemistry' ? '2px solid #2EFEF7' : subject.name == 'Mathematics' ? '2px solid #fff703f2' : subject.name == 'Biology' ? '2px solid #92ff03f2' : subject.name == 'Science' ? '2px solid #0368fff2' : '2px solid #ff03a6f2' }">
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Physics'"> <i
                                        class="fab fa-react"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Chemistry'"> <i
                                        class="fas fa-flask"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Mathematics'"> <i
                                        class="fas fa-calculator"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Biology'"> <i
                                        class="fas fa-vial"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Science'"> <i
                                        class="fas fa-capsules"></i> {{subject.name}}</div>
                                <div class="col-6 subjectTitle" *ngIf="subject.name == 'Anatomy'"> <i
                                        class="fas fa-code"></i> {{subject.name}}</div>
                                <div class="col-6 text-right"> <i class="fas fa-ellipsis-h"
                                        style="cursor: pointer;color: gray;"></i> </div>

                            </div>

                            <div class="row" *ngFor="let section of subject.sections;let i=index;"
                                style="padding: 2% 2%;">
                                <div class="col-md-4" style="display: flex;">
                                    <span class="sectionName">
                                        {{section.name}}
                                    </span>&nbsp;
                                    <span class="sectionTitle">
                                        Section
                                    </span>

                                </div>
                                <div class="col-md-4" style="padding-left: 0;display: flex;">
                                    <span class="sectionName">
                                        {{section.noOfQuestions}}
                                    </span>&nbsp;
                                    <span class="sectionTitle">
                                        Total Questions
                                    </span>
                                </div>
                                <div class="col-md-4" style="padding-left: 0;padding-right: 0;display: flex;">
                                    <span class="sectionName">
                                        <div *ngIf="section.questionType==1">SCQ</div>
                                        <div *ngIf="section.questionType==2">MCQ</div>
                                        <div *ngIf="section.questionType==3">Numeric</div>
                                        <div *ngIf="section.questionType==4">SA</div>
                                        <div *ngIf="section.questionType==5">VSA</div>
                                        <div *ngIf="section.questionType==6">FIB</div>
                                        <div *ngIf="section.questionType==7">TF</div>
                                    </span>&nbsp;
                                    <span class="sectionTitle">
                                        Question Type
                                    </span>
                                </div>
                            </div>
                            <div class="row" style="margin: 10px 0 0 0;">
                                <div class="col-md-12 sectionTitle">
                                    <p style="margin-bottom: 0;">All are going good continue daily walking more than 60 min to maintain your health</p>
                                </div>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div> -->
<div class="row d-flex flex-row">
    <div class="col-2 px-1 col-box">
        <div class="row mx-0">
            <div class="col-sm-10 pr-0">
                <ng-select [items]="category" bindLabel="name" style="width: 100%;" bindValue="uniqueId"
                    class="borderLess" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                    placeholder="Select" (change)="changeCategory($event)" [searchable]="false"></ng-select>
            </div>
            <div class="col-sm-2 py-2 px-0">
                <img src="assets/images/add.png" class="float-right" height="25" (click)="togleCategory(customType)" />
            </div>
        </div>
    </div>
    <div class="col-2 px-1 col-box">
        <div class="row mx-0">
            <div class="col-sm-10 pr-0">
                <ng-select [items]="patterns" bindLabel="name" style="width: 100%;" bindValue="uniqueId"
                    class="borderLess" [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                    placeholder="Select" (change)="changePattern($event)" [searchable]="false"></ng-select>
            </div>
            <div class="col-sm-2 py-2 px-0">
                <img src="assets/images/add.png" class="float-right" height="25"
                    (click)="toglePattern(customTypePattern)" />
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-box">

    </div>
    <div class="col-sm-1 px-1 col-box">
        <div class="paperTitle p-2">
            Paper 1
        </div>
    </div>
    <div class="col-sm-1 px-1 col-box">
        <div class="paperTitle p-2">
            Paper 2
        </div>
    </div>
    <div class="row mx-3" style="margin-top: 2%;" *ngIf="isShowSubjectList">
        <div class="col-md-4" *ngFor="let subject of patternData.subjectSectionDtoList;let i=index;">
            <div class="card">
                <div class="row mx-0 cardHeading pt-2" [ngClass]="colorClassArray[i%5]">
                    <div class="col-6 subjectTitle"> <img src="assets/images/physics.png" alt="physics" width="28px"
                            height="28px">
                        {{subject.subject.name}}</div>
                    <div class="col-6 text-right"> <i class="fas fa-ellipsis-h"
                            style="cursor: pointer;color: gray;"></i> </div>

                </div>

                <div class="row mx-0" *ngFor="let section of subject.sectionDtoList;let i=index;"
                    style="padding: 2% 2%;">
                    <div class="col-md-4" style="display: flex;">
                        <span class="sectionName">
                            {{section.name}}
                        </span>&nbsp;
                        <span class="sectionTitle">
                            Section
                        </span>

                    </div>
                    <div class="col-md-4" style="padding-left: 0;display: flex;">
                        <span class="sectionName">
                            {{section.totalQuestions}}
                        </span>&nbsp;
                        <span class="sectionTitle">
                            Questions
                        </span>
                    </div>
                    <div class="col-md-4" style="padding-left: 0;padding-right: 0;display: flex;">
                        <span class="sectionName">
                            <div>{{section.questionCategoryName}}</div>
                        </span>&nbsp;
                        <span class="sectionTitle">
                            Question Type
                        </span>
                    </div>
                </div>
                <div class="row" style="margin: 10px 0 10px 0;">
                    <div class="col-md-12 sectionTitle">
                        <p style="margin-bottom: 0;">All are going good continue daily walking more than 60 min to
                            maintain your health</p>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
<ng-template #customType role="document" let-modal="close">
    <div class="row mx-0">
        <div class="modal-header w-100">
            <h4 class="modal-title">Create Category</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="createCategoryForm">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label class="col-form-label label-under">Category name</label>
                        <input type="text" class="form-control" formControlName="name" id="category"
                            placeholder="Pattern Category" />
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label class="col-form-label label-under">Targeted Exam</label>
                        <ng-select [items]="masterCourseList" class="custom1" bindLabel="name" bindValue="uniqueId"
                            [multiple]="false" [closeOnSelect]="true" [clearable]="false"
                            placeholder="Select Targeted Exam" formControlName="masterCourse"
                            (change)="getCourseSubjects($event)" [searchable]="false"></ng-select>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label>Subjects</label>
                        <ng-select id="fnam" [items]="subjectList" bindLabel="name" [multiple]="true"
                            [closeOnSelect]="false" formControlName="subjects" placeholder="Select Subjects"
                            bindValue="uniqueId">

                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                    <span class="ng-value-label"> {{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 2">
                                    <span class="ng-value-label">+{{items.length - 2}}</span>
                                </div>
                            </ng-template>

                        </ng-select>

                    </div>
                </div>
                <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                                    (click)="modal('Cross click')">Close</button></div>
                            <div class="col-6"><button type="button" class="btn btn-testType" style="float: right;"
                                    (click)="addCategory();modal('Cross click')">Submit</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #customTypePattern role="document" let-modal="close">
    <div class="row mx-0">
        <div class="modal-header w-100">
            <h4 class="modal-title">Create Pattern</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="createPatternForm">
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label label-under">Category name</label>
                        <ng-select [items]="category" class="custom1" bindLabel="name" bindValue="uniqueId"
                            [multiple]="false" [closeOnSelect]="true" formControlName="category" [clearable]="false"
                            placeholder="Select Category" [searchable]="false"></ng-select>
                    </div>
                    <div class="col-12">
                        <label class="col-form-label label-under">Pattern name</label>
                        <input type="text" class="form-control" formControlName="name" class="form-control"
                            id="category" placeholder="Pattern Category" />
                    </div>
                </div>
                <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-6"><button type="button" class="btn invigilatorCloseBtn"
                                    (click)="modal('Cross click')">Close</button></div>
                            <div class="col-6"><button type="button" class="btn btn-testType" style="float: right;"
                                    (click)="startPattern(); modal('Cross click')">Submit</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>