<div class="container-fluid px-0" [ngClass]="{'stack-back':isAddLecture || isEditLecture}">
    <div class="row popupHeading mx-0 py-1 w-100">
        <div class="col-4">
            <h4>Assign {{isAssignPeriod?'Period':'Lecture'}}</h4>
        </div>
        <div class="col-1"></div>
        <!-- <div class="col-2 containValue">
            <p>Monday</p>
            <span>Day</span>
        </div>
        <div class="col-3 containValue">
            <p>P1 (8:30 - 9:30)</p>
            <span>Period</span>
        </div> -->
        <div class="col-2 containValue">
            <p>{{batchData.name}}</p>
            <span>Batch Name</span>
        </div>
    </div>
    <!-- <hr> -->
    <div class="row m-0 pt-2 pb-3 workingDays w-100 px-2">
        <tabset #staticTabs>
            <tab *ngFor="let tabz of shiftList; let i=index" [heading]="tabz.name" (selectTab)="onSelectTab($event,i)">
                <div class="table-responsive scroll periodsTbody" *ngIf="selectedShiftPeriodData.length>0">
                    <table class="table table-centered table-bordered mb-5" id="test">
                        <thead>
                            <!-- <div class="table-row"> -->
                            <tr>
                                <th style="min-width: 85px;"></th>
                                <th class="dayHeader">Mon</th>
                                <th class="dayHeader">Tue</th>
                                <th class="dayHeader">Wed</th>
                                <th class="dayHeader">Thu</th>
                                <th class="dayHeader">Fri</th>
                                <th class="dayHeader">Sat</th>
                                <th class="dayHeader">Sun</th>
                            </tr>
                            <!-- </div> -->
                        </thead>
                        <tbody>
                            <tr *ngFor="let period of selectedShiftPeriodData; let j = index;">
                                <td data-toggle="tooltip" [title]="period.name">
                                    <p class="name">
                                        {{(period.name.length>19)?(period.name|slice:0:17)+'..':period.name}}</p>
                                    <p class="time">{{period.startTime}} - {{period.endTime}}</p>
                                </td>
                                <td class="selectable" [ngClass]="{'periodDisabled':period.mon.isDisabled}">
                                    <p [ngClass]="{'periodSelected':period.mon.isSelected && !period.mon.isAssigned}"
                                        (click)="selectPeriod(period.mon.isDisabled, period,j,1,period.mon,0)"
                                        *ngIf="period.mon.isSelected && !period.mon.isAssigned">Assign Lecture</p>
                                    <div [ngClass]="{'periodAssigned':period.mon.isAssigned}"
                                        *ngIf="period.mon.isAssigned">
                                        <p *ngFor="let item of period.mon.periodLectures"
                                            (click)="selectPeriod(period.mon.isDisabled, period,j,1,period.mon,item.lectureId)">
                                            {{item.subjectName}}</p>
                                    </div>
                                    <p class="assignText"
                                        (click)="selectPeriod(period.mon.isDisabled, period,j,1,period.mon,0)"
                                        *ngIf="!period.mon.isSelected && !period.mon.isDisabled">Click to Assign</p>
                                </td>
                                <td class="selectable" [ngClass]="{'periodDisabled':period.tue.isDisabled}">
                                    <p [ngClass]="{'periodSelected':period.tue.isSelected && !period.tue.isAssigned}"
                                        (click)="selectPeriod(period.tue.isDisabled, period,j,2,period.tue,0)"
                                        *ngIf="period.tue.isSelected && !period.tue.isAssigned">Assign Lecture</p>
                                    <div [ngClass]="{'periodAssigned':period.tue.isAssigned}"
                                        *ngIf="period.tue.isAssigned">
                                        <p *ngFor="let item of period.tue.periodLectures"
                                            (click)="selectPeriod(period.tue.isDisabled, period,j,2,period.tue,item.lectureId)">
                                            {{item.subjectName}}</p>
                                    </div>
                                    <p class="assignText"
                                        (click)="selectPeriod(period.tue.isDisabled, period,j,2,period.tue,0)"
                                        *ngIf="!period.tue.isSelected && !period.tue.isDisabled">Click to Assign</p>
                                </td>
                                <td class="selectable" [ngClass]="{'periodDisabled':period.wed.isDisabled}">
                                    <p [ngClass]="{'periodSelected':period.wed.isSelected && !period.wed.isAssigned}"
                                        (click)="selectPeriod(period.wed.isDisabled, period,j,3,period.wed,0)"
                                        *ngIf="period.wed.isSelected && !period.wed.isAssigned">Assign Lecture</p>
                                    <div [ngClass]="{'periodAssigned':period.wed.isAssigned}"
                                        *ngIf="period.wed.isAssigned">
                                        <p *ngFor="let item of period.wed.periodLectures"
                                            (click)="selectPeriod(period.wed.isDisabled, period,j,3,period.wed,item.lectureId)">
                                            {{item.subjectName}}</p>
                                    </div>
                                    <p class="assignText"
                                        (click)="selectPeriod(period.wed.isDisabled, period,j,3,period.wed,0)"
                                        *ngIf="!period.wed.isSelected && !period.wed.isDisabled">Click to Assign</p>
                                </td>
                                <td class="selectable" [ngClass]="{'periodDisabled':period.thu.isDisabled}">
                                    <p [ngClass]="{'periodSelected':period.thu.isSelected && !period.thu.isAssigned}"
                                        (click)="selectPeriod(period.thu.isDisabled, period,j,4,period.thu,0)"
                                        *ngIf="period.thu.isSelected && !period.thu.isAssigned">Assign Lecture</p>
                                    <div [ngClass]="{'periodAssigned':period.thu.isAssigned}"
                                        *ngIf="period.thu.isAssigned">
                                        <p *ngFor="let item of period.thu.periodLectures"
                                            (click)="selectPeriod(period.thu.isDisabled, period,j,4,period.thu,item.lectureId)">
                                            {{item.subjectName}}</p>
                                    </div>
                                    <p class="assignText"
                                        (click)="selectPeriod(period.thu.isDisabled, period,j,4,period.thu,0)"
                                        *ngIf="!period.thu.isSelected && !period.thu.isDisabled">Click to Assign</p>
                                </td>
                                <td class="selectable" [ngClass]="{'periodDisabled':period.fri.isDisabled}">
                                    <p [ngClass]="{'periodSelected':period.fri.isSelected && !period.fri.isAssigned}"
                                        (click)="selectPeriod(period.fri.isDisabled, period,j,5,period.fri,0)"
                                        *ngIf="period.fri.isSelected && !period.fri.isAssigned">Assign Lecture</p>
                                    <div [ngClass]="{'periodAssigned':period.fri.isAssigned}"
                                        *ngIf="period.fri.isAssigned">
                                        <p *ngFor="let item of period.fri.periodLectures"
                                            (click)="selectPeriod(period.fri.isDisabled, period,j,5,period.fri,item.lectureId)">
                                            {{item.subjectName}}</p>
                                    </div>
                                    <p class="assignText"
                                        (click)="selectPeriod(period.fri.isDisabled, period,j,5,period.fri,0)"
                                        *ngIf="!period.fri.isSelected && !period.fri.isDisabled">Click to Assign</p>
                                </td>
                                <td class="selectable" [ngClass]="{'periodDisabled':period.sat.isDisabled}">
                                    <p [ngClass]="{'periodSelected':period.sat.isSelected && !period.sat.isAssigned}"
                                        (click)="selectPeriod(period.sat.isDisabled, period,j,6,period.sat,0)"
                                        *ngIf="period.sat.isSelected && !period.sat.isAssigned">Assign Lecture</p>
                                    <div [ngClass]="{'periodAssigned':period.sat.isAssigned}"
                                        *ngIf="period.sat.isAssigned">
                                        <p *ngFor="let item of period.sat.periodLectures"
                                            (click)="selectPeriod(period.sat.isDisabled, period,j,6,period.sat,item.lectureId)">
                                            {{item.subjectName}}</p>
                                    </div>
                                    <p class="assignText"
                                        (click)="selectPeriod(period.sat.isDisabled, period,j,6,period.sat,0)"
                                        *ngIf="!period.sat.isSelected && !period.sat.isDisabled">Click to Assign</p>
                                </td>
                                <td class="selectable" [ngClass]="{'periodDisabled':period.sun.isDisabled}">
                                    <p [ngClass]="{'periodSelected':period.sun.isSelected && !period.sun.isAssigned}"
                                        (click)="selectPeriod(period.sun.isDisabled, period,j,7,period.sun,0)"
                                        *ngIf="period.sun.isSelected && !period.sun.isAssigned">Assign Lecture</p>
                                    <div [ngClass]="{'periodAssigned':period.sun.isAssigned}"
                                        *ngIf="period.sun.isAssigned">
                                        <p *ngFor="let item of period.sun.periodLectures"
                                            (click)="selectPeriod(period.sun.isDisabled, period,j,7,period.sun,item.lectureId)">
                                            {{item.subjectName}}</p>
                                    </div>
                                    <p class="assignText"
                                        (click)="selectPeriod(period.sun.isDisabled, period,j,7,period.sun,0)"
                                        *ngIf="!period.sun.isSelected && !period.sun.isDisabled">Click to Assign</p>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pt-3 text-center" *ngIf="selectedShiftPeriodData.length==0">
                    <p>Period data not found</p>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="row mt-2 float-right mx-0">
        <a class="btn btn-cancel btn-outline" (click)="close()">Cancel</a>
        <!-- <button class="btn btn-save btn-filled ml-2 mr-3" type="submit"
            (click)="submitTeacherPeriodInfo()">Save</button> -->
        <!-- <button class="btn btn-save ml-2 px-4" type="submit" *ngIf="userDetailsType!=1">Save</button> -->
    </div>
</div>
<div class="viewSidePopup assignLecture" [ngClass]="{'slideInLeft':!isAddLecture,'slideInRight':isAddLecture}"
    *ngIf="isAddLecture">
    <app-rightside-forms [type]="type" [timetableUniqueId]="timetableUniqueId" [batchData]="batchData"
        [periodData]="slotData" (close)="closeAddLectureForm($event)"></app-rightside-forms>
</div>
<div class="viewSidePopup assignedEditLecture" [ngClass]="{'slideInLeft':!isEditLecture,'slideInRight':isEditLecture}"
    *ngIf="isEditLecture">
    <app-rightside-forms [type]="type" [childtype]="1" [timetableUniqueId]="timetableUniqueId" [batchData]="batchData"
        [periodData]="slotData" [lectureId]="selectedLectureId" (close)="closeAddLectureForm($event)">
    </app-rightside-forms>
</div>