@import "../common-r";
.card {
    box-shadow: 0px 2px 6px rgba(56, 65, 74, 0.23) !important;
}
.workingDays th {
    text-align: center;
    width: 10%;
}
.workingDays .table-responsive {
    padding: 5px 0px;
}
.shiftList .shift {
    color: #7c7b98;
}
.shiftList .assignPeriod {
    width: 80%;
    margin-left: 5%;
    border-collapse: separate;
    border-spacing: 0 1em;
    border: none;
}
.shiftList .assignPeriod td {
    padding: 7px;
}
::ng-deep ng-multiselect-dropdown .multiselect-dropdown {
    border: none;
}
.assignPeriod .selectPeriod {
    width: 60%;
}
.assignPeriod .addPeriod {
    border: none;
    color: #6dd1e3;
    cursor: pointer;
}
.workingDays .title {
    color: var(--newApp-color);
    padding-right: 9px;
}
.workingDays p .day {
    background-color: #c2c1c1;
    color: #313131 !important;
    font-size: 12px;
    width: 17px;
    height: 17px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}
.workingDays p .day.dayselected {
    background-color: var(--newApp-color);
    color: #ffffff !important;
}
.selectable {
    cursor: pointer;
}
.periodSelected {
    background-color: var(--newAppbg-color);
    border: 1px solid var(--newApp-color) !important;
    text-align: center;
    color: var(--newApp-color);
    font-size: 12px;
    line-height: 45px;
    margin-bottom: 0px;
}
.periodAssigned {
    background-color: var(--success);
    border: 1px solid var(--success) !important;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 45px;
    margin-bottom: 0px;
}
.periodAssigned p {
    margin-bottom: 0px;
}
.assignText {
    line-height: 45px;
    margin-bottom: 0px;
    text-align: center;
}
tabset {
    width: 100%;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
}
tabset ::ng-deep > .nav-tabs {
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 2%);
}
tabset ::ng-deep > .nav-tabs .nav-link {
    padding: 3px 12px;
    font-size: 12px;
    color: #989898;
    background-color: #e6e6e6;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 0px;
}
tabset ::ng-deep > .nav-tabs .nav-link.active {
    color: var(--newApp-color);
    // border: none;
    background-color: #fcfcfc;
    border-color: #efefef #dee2e6 #fff;
}
.days p {
    float: right;
}
.timeing p {
    float: right;
    position: absolute;
    right: 25px;
    top: 115px;
}
.table tbody td {
    padding: 0rem;
    border-right: 0px;
    border-bottom: 0px;
}
.table tbody td:first-child {
    padding: 0.2rem;
}
.table tbody td:last-child {
    border-right: 1px solid #dee2e6;
}
.table tbody tr:last-child td {
    border-bottom: 1px solid #dee2e6;
}
.workingDays {
    box-shadow: none;
}
.workingDays .table th {
    // border-top: 0px;
    padding: 0.45rem;
    border-bottom: 1px;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    width: 100%;
    background-color: #fff;
    margin: 0px 8px 20px 8px;
    // border: 1px solid #0000008f;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 5%);
}
.panel-heading {
    padding: 8px 15px 4px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    background-color: #cee3f5;
    color: #313131;
    border-top-right-radius: 3px;
    font-size: 15px;
    font-weight: 600;
}
.panel-body {
    padding: 15px 10px 5px;
    min-height: 200px;
}
.panel-body p {
    color: #4c4a4a;
    margin-bottom: 10px;
}
.panel-body p span,
.editImg {
    color: var(--newApp-color) !important;
}
.btn-save,
.btn-cancel {
    width: 135px;
}
.periodDisabled {
    cursor: not-allowed;
}
.periodDisabled {
    background-color: #f7f7f7;
}
.dayHeader {
    width: 100px;
}
.assignLecture {
    width: 75% !important;
    top: 0;
    padding: 0px 0px 20px;
}
.assignedEditLecture {
    width: 75% !important;
    top: 0;
    padding: 0px 0px 20px;
}
.periodsTbody {
    min-height: 350px;
    max-height: 800px;
    overflow-y: auto;
}
p.name,
p.time {
    margin-bottom: 0px !important;
    text-align: center;
    font-size: 12px;
}
p.name {
    font-weight: 600;
}
p.time {
    font-size: 11px;
}
