$ui-fg-color: #5d9cec;
$ui-bg-color: #ddd;
.addQuickForm {
    position: absolute;
    background-color: white;
    top: 26px;
    width: 25%;
    right: 0;
    z-index: 1;
    pointer-events: fill;
}
.inbox-item-author span.subject {
    padding-right: 5px;
}
.inbox-item-author span.noOfSubject {
    padding-right: 5px;
}
.table .table-user img {
    margin-top: -5px !important;
}
// .stack-top {
//     top: -62px !important;
//     min-height: 99vh;
// }

@import "../../../../../assets/scss/custom/components/common";
