<div *ngIf="exam != null">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label
                            style="font-size: 14px;color: black;">Summary</label> </div>
                    <div class="row">
                        <div class="col-4" style="padding-right: 0;">
                            <div class="customCardCss">
                                <img src="assets/Icons/Summary/Exam name.png" alt="" height="30px" width="30px">
                                <i class="fas fa-edit" style="float: right;color: #0091ff;;cursor: pointer;"
                                    (click)="editExamName(content)"></i>
                                <br>
                                <label class="mar-top">{{this.exam.name}}</label><br>
                                <span style="font-size: 10px;color: gray;">Exam Name</span>
                            </div>
                        </div>
                        <div class="col-4" style="padding-right: 0;">
                            <div class="customCardCss">
                                <img src="assets/Icons/Summary/Unit.png" alt="" height="30px" width="30px">
                                <br>
                                <label class="mar-top">{{this.testType}}</label><br>
                                <span style="font-size: 10px;color: gray;">Test Type</span>
                            </div>

                        </div>
                        <div class="col-4" style="padding-right: 0;">
                            <div class="customCardCss">
                                <img src="assets/Icons/Summary/Course.png" alt="" height="30px" width="30px">
                                <br>
                                <label class="mar-top">{{this.courseName}}</label><br>
                                <span style="font-size: 10px;color: gray;">Course</span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top: 13px;">
                        <div class="col-4 " style="padding-right: 0;">
                            <div class="customCardCss">
                                <img src="assets/Icons/Summary/Batch.png" alt="" height="30px" width="30px">
                                <br>
                                <label class="mar-top">{{this.exam.questionCategory == 2 ?
                                    'Subjective':'Objective'}}</label><br>
                                <span style="font-size: 10px;color: gray;">Exam Type</span>
                            </div>

                        </div>
                        <div class="col-8" style="padding-right: 0;">
                            <div class="customCardCssSty">
                                <div class="row">
                                    <div class="col-md-6"
                                        style="border-right: 1px solid #80808059;padding: 3% 3% 3% 7%;">
                                        <img src="assets/Icons/Summary/PassingMarks.png" alt="" height="30px"
                                            width="30px">
                                        <br>
                                        <label class="mar-top">{{this.exam.passingMarks}}</label><br>
                                        <span style="font-size: 10px;color: gray;">Passing Marks</span>
                                    </div>
                                    <div class="col-md-6" style="padding: 3% 7% 3% 3%;">
                                        <img src="assets/Icons/Summary/Maximum Marks.png" alt="" height="30px"
                                            width="30px">
                                        <!-- <i class="fas fa-edit" (click)="edit(2)"
                                            style="float: right;color: #0091ff;;cursor: pointer;"></i> -->
                                        <br>
                                        <label class="mar-top">{{this.exam.maximumMarks}}</label><br>
                                        <span style="font-size: 10px;color: gray;">Maximum Marks</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-4" style="padding-right: 0;">
                    <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label
                            style="font-size: 14px;color: black;">Time Details</label> </div>
                    <div class="customCardCss" style="padding: 9px 6% 29px 6%;min-height: 198px;">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <i class="fas fa-edit" (click)="editTimingInfo()"
                                    style="float: right;color: #0091ff;cursor: pointer;"></i>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-4">

                                <img src="assets/Icons/timedetails/Date.png" alt="" height="35px" width="35px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <span style="font-size: 11px;">
                                        {{this.exam.timingDetailsDto.assessmentDate|date:'EEEE, d MMMM, y'}}
                                    </span>
                                </div>
                                <div class="row"> <label class="label-time">{{this.examTime}}</label></div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 16px;">
                            <div class="col-md-4">
                                <img src="assets/Icons/timedetails/Duration.png" alt="" height="35px" width="35px">
                            </div>
                            <div class="col-md-8">
                                <div class="row"> <span style="font-size: 11px;">{{this.exam.timingDetailsDto.duration}}
                                        Minutes </span></div>
                                <div class="row"> <label class="label-time">Duration</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/Icons/timedetails/Extra Time.png" alt="" height="35px" width="35px">
                            </div>
                            <div class="col-md-8">
                                <div class="row"> <span
                                        style="font-size: 11px;">{{this.exam.timingDetailsDto.extraTime}} Minutes</span>
                                </div>
                                <div class="row"> <label class="label-time">Extra Time</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 5% 0 2% 2%;">
                <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label
                        style="font-size: 14px;color: black;">Subjects</label> </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead style="background-color: #d7e8ec6b;">
                            <tr class="info">
                                <th class="bb-none" style="width: 30%;color: black;">Subject</th>
                                <th class="bb-none" style="width: 44%;color: black;">Syllabus
                                    <!-- <i class="fas fa-edit" (click)="edit(3)"
                                        style="float: right;color: #0091ff;;cursor: pointer;"></i> -->
                                </th>
                                <th class="bb-none" style="color: black;">Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.exam.subjectList">
                                <td>
                                    <div class="row" style="padding-top: 14px;">
                                        <div class="col-4"> <img src="assets/Icons/Subjects/Chemistry.png" alt=""
                                                height="35px" width="35px"></div>
                                        <div class="col-8" style="padding-top: 7px;padding-left: 0;color: black;">
                                            {{item.subjectName}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row" style="padding-top: 14px;">
                                        <div class="chemistrySyll" *ngFor="let cp of item.actualSyllabus|slice:0:2">
                                            <span>{{cp.name}}</span>
                                        </div>
                                        <div class="chemistrySyllRem" *ngIf="item.actualSyllabus.length>2">
                                            <span>+{{item.actualSyllabus.length-2}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span style="font-size: 12px;">
                                        {{item.remarks}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row" style="margin-left: 1px;margin-bottom: 8px;"> <label
                    style="font-size: 14px;color: black;">Students</label> </div>
            <div class="customCardCssStudList">
                <div class="row" style="border-bottom: 1px solid #80808040; padding: 6%;margin: 0;">
                    <div class="col-2" style="padding: 0;">
                        <img src="assets/Icons/Summary/Batch.png" height="30px" width="30px" alt="">
                    </div>
                    <div class="col-8">
                        <div class="row"><label class="label-time"
                                *ngFor="let batch of batchName|slice:0:1;let k=index;">{{batch}}</label> <span
                                *ngIf="batchName.length>1">| +{{batchName.length-1}}</span>
                        </div>
                        <div class="row"><span style="font-size: 10px;color: gray;">Batch</span></div>
                    </div>
                    <div class="col-2" style="padding-right: 0;">
                        <i class="fas fa-edit" (click)="editStudInfo()"
                            style="float: right;color: #0091ff;;cursor: pointer;"></i>
                    </div>
                </div>
                <div style=" padding: 6%;">
                    <div class="row" style="margin-bottom: 5%;"
                        *ngFor="let student of this.exam.studentList|slice:0:10">
                        <div class="col-3">
                            <img *ngIf="student.imageCode==null || student.imageCode==''" height="35px" width="35px"
                                src="assets/images/users/user-1.jpg" class="rounded-circle" alt="">
                            <img *ngIf="student.imageCode!=null && student.imageCode!=''" height="35px" width="35px"
                                [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +student.imageCode)"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="col-5">
                            <div class="row"><label class="label-time">{{student.student.name}}</label></div>
                            <div class="row"><span style="font-size: 10px;color: gray;">JEE Advance</span></div>
                        </div>
                        <div class="col-4">
                            <div class="row"><label class="label-time"
                                    style="margin-left: 5%;color: #0091ff;">4.5</label></div>
                            <div class="row"><span style="font-size: 10px;color: gray;">Internal Score</span></div>
                        </div>
                    </div>
                    <div class="row pt-2" *ngIf="this.exam.studentList.length>10">
                        <span class="extraStudent">+ {{this.exam.studentList.length-10}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>
<div class="row" *ngIf="isExamViewFromList">
    <button class="btn cancelTrack" type="submit" (click)="cancel()">Cancel</button>
</div>
<ng-template #content role="document" let-modal="close">
    <div class="modal-header" style="background-color: #80808014;">
        <h4 class="modal-title">Exam Name</h4>

    </div>
    <div class="modal-body">
        <form *ngIf="isExamViewFromList == false" [formGroup]="quickExamForm">
            <div class="row">
                <div class="col-lg-12">

                    <div class="row" style="margin-bottom: 19px;margin-bottom: 5%;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label>Exam Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mb-12" style="margin-bottom: 19px;margin-top: 10%;">
                        <div class="col-md-2"></div>

                        <div class="col-md-4"><button type="button" class="btn invigilatorCloseBtn"
                                (click)="modal('Cross click');closePopup()">Close</button>
                        </div>
                        <div class="col-md-4"><button type="button" class="btn invigilatorNextBtn"
                                (click)="modal('Cross click');updateExam()">Update</button></div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

        </form>
        <div *ngIf="isExamViewFromList == true">
            <div class="row">
                <div class="col-lg-12">

                    <div class="row" style="margin-bottom: 19px;margin-bottom: 5%;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label>Exam Name</label>
                            <input type="text" class="form-control" [(ngModel)]="examName">
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mb-12" style="margin-bottom: 19px;margin-top: 10%;">
                        <div class="col-md-2"></div>

                        <div class="col-md-4"><button type="button" class="btn invigilatorCloseBtn"
                                (click)="modal('Cross click');closePopup()">Close</button>
                        </div>
                        <div class="col-md-4"><button type="button" class="btn invigilatorNextBtn"
                                (click)="modal('Cross click');updateExamBasicInfo()">Update</button></div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</ng-template>


<div class="viewSidePopup edittimingInfo" [ngClass]="{'slideInLeft':!isEditData,'slideInRight':isEditData}"
    *ngIf="isEditData">

    <app-edit-exam-data [examUid]="examUid" [timingDetails]="this.exam.timingDetailsDto" [Type]="1"
        [isExamViewFromList]="isExamViewFromList" (close)="closeTimingInfo($event)"></app-edit-exam-data>
</div>

<div class="viewSidePopup edittimingInfo" [ngClass]="{'slideInLeft':!isEditStudent,'slideInRight':isEditStudent}"
    *ngIf="isEditStudent">
    <app-add-students [examUid]="examUid" [isExamSummaryList]="isExamSummaryList" [studInfo]="studInfo" [batchInfo]="quickExamForm.controls.batchInfo" (close)="closeStudInfo($event)"></app-add-students>
</div>