.customCardCss {
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #98989812;
  padding: 6%;
  border: 1px solid #80808045;
}

.customCardCssSty {
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #98989812;

  border: 1px solid #80808045;
}

label {
  font-weight: 500;
  margin-bottom: 0;
}

.label-time {
  font-size: 12px;
  color: black;
}

.mar-top {
  margin-top: 5px;
  color: black;
}

.bb-none {
  border-bottom: none;
}

th {
  font-weight: 400;
  font-size: 12px;
}

.table-bordered {
  border: 1px solid #acabca;
}

.tableStyle {
  margin-left: 3%;
  margin-right: 3%;
}

.physicsSyll {
  margin: 5px 5px;
  padding: 3px 6px;
  color: #0091ff;
  border: 1px solid #0091ff;
  background-color: #c9f3f387;
  font-size: 12px;
  border-radius: 2px;
}
.physicsSyllRem {
  margin: 5px 5px;
  padding: 3px 6px;
  color: #0091ff;
  border: 1px solid #0091ff;
  background-color: #c9f3f387;
  font-size: 12px;
  border-radius: 50%;
}

.chemistrySyll {
  margin: 5px 5px;
  padding: 3px 6px;
  color: #f36b11;
  border: 1px solid #f36b11;
  background-color: #eeb28a4a;
  font-size: 12px;
  border-radius: 2px;
}

.chemistrySyllRem {
  margin: 5px 5px;
  padding: 3px 6px;
  color: #f36b11;
  border: 1px solid #f36b11;
  background-color: #eeb28a4a;
  font-size: 12px;
  border-radius: 50%;
}
.mathSyll {
  margin: 5px 5px;
  padding: 3px 6px;
  color: #ff00a5;
  border: 1px solid #ff00a5;
  background-color: #ecbadb5c;
  font-size: 12px;
  border-radius: 2px;
}

.mathSyllRem {
  margin: 5px 5px;
  padding: 3px 6px;
  color: #ff00a5;
  border: 1px solid #ff00a5;
  background-color: #ecbadb5c;
  font-size: 12px;
  border-radius: 50%;
}

.rounded-circle {
  border-radius: 5% !important;
}

.customCardCssStudList {
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #98989812;

  border: 1px solid #80808045;
  min-height: 90%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 240, 240);
  // outline: 1px solid #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 206, 206);
}

.invigilatorCloseBtn {
  width: 96px;
  height: 36px;
  border: 1px solid #80808059;
  color: gray;
  float: right;
}
.invigilatorCloseBtn:hover {
  background-color: gray;
  color: white;
}

.invigilatorNextBtn {
  width: 96px;
  height: 36px;
  border: 1px solid #0091ff;
  color: #fff;
  float: left;
  background-color: var(--newApp-color);
}

::ng-deep .modalEditName .modal-dialog {
  max-width: 370px !important;
  vertical-align: middle;
}
.extraStudent {
  color: var(--newApp-color);
}
.edittimingInfo{
  width: 600px !important;
  top: 45px;
  padding: 0px;
 
}

.cancelTrack {
  border: 1px solid #0091ff;
  color: #0091ff;
  height: 36px;
  padding: 4px 18px;
  float: left;
}

.saveTrack:hover,.cancelTrack:hover {
  background-color: #0091ff;
  color: white;
}
