<div style="background: white; height: 100%;">
    <div *ngFor="let subject of paperSubjects.subjects ">
       <div class="row">
           <div class="col-sm-12">
            <h4 align="center">{{subject.subjectName}}</h4>
           </div>
       </div>
       <div *ngFor="let section of subject.sectionQuestionDtos ">
        <div class="row">
            <div class="col-sm-12">
                <ul id="horizontal" align="center">
                    <li>{{section.sectionName}}</li>
                    <li>(</li>
                    <li *ngIf="section.questionType == 1">SCQ</li>
                    <li *ngIf="section.questionType == 2">MCQ</li>
                    <li *ngIf="section.questionType == 3">NUMERIC</li>
                    <li>)</li>
                  </ul> 
            </div>
        </div>

            <div class="card" *ngFor="let question of section.questionDtos">
                <!-- checkbox for selection -->
                <div class="card-body">
                    <div class="row" style="margin-left: 35px;">
                        <div class="col-sm-12">
                            <label class="container">Correct this answer or assign as a bonus
                                <input type="checkbox" [(ngModel)]="question.isModified" (change)="onChangeAnswerModified($event, subject.subjectUid, section.id, question.uniqueId)">
                                <span class="checkmark"></span>
                              </label>     
                        </div>
                    </div>
                    <!-- radio buttons -->
                    <div class="row" style="margin-top: 20px; margin-left: 40px;" *ngIf="question.isModified == true">
                        <div class="col-sm-6">
                            <label class="container">Answer Correction
                                <input type="checkbox" [(ngModel)]="question.isAnswerCorrected" (change)="onChangeAnswerCorrection($event, subject.subjectUid, section.id, question.uniqueId)">
                                <span class="checkmark"></span>
                              </label>                
                        </div>
                        <div class="col-sm-6">
                            <label class="container">Set Bonus Question
                                <input type="checkbox" [(ngModel)]="question.isQuestionBonus" (change)="onChangeQuestionBonus($event, subject.subjectUid, section.id, question.uniqueId, question.questionType)">
                                <span class="checkmark"></span>
                              </label>
                        </div>
                    </div>
                    <!-- question and answer -->
                    <div style="margin-left: 40px; margin-top: 15px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>{{question.question}}</h5>
                            </div>
                        </div>
                        <div class="row" *ngFor ="let option of question.options" style="margin-left: 40px;">
                            <div class="col-sm-12">
                            
                                <div *ngIf="question.questionType == 1">
                                    <label class="container" *ngIf="question.isAnswerCorrected == true">{{option.optionText}}
                                        <input type="checkbox" [(ngModel)]="option.correct" (change)="onChangeAnswer($event, subject.subjectUid, section.id, question.uniqueId, option.uniqueId)">
                                        <span class="checkmark"></span>
                                      </label>
                                      <label *ngIf="question.isAnswerCorrected == false">{{option.optionText}}</label>
                                </div>
                                <div *ngIf="question.questionType == 2">
                                    <label class="container" *ngIf="question.isAnswerCorrected == true">{{option.optionText}}
                                        <input type="checkbox" [(ngModel)]="option.correct">
                                        <span class="checkmark"></span>
                                      </label>
                                      <label *ngIf="question.isAnswerCorrected == false">{{option.optionText}}</label>
                                </div>
                              
                            </div>
                        </div>
                        <!-- numeric answer section  -->
                        <div *ngFor ="let answer of question.answers"  style="width: 400px; margin-top: 15px;" >
                            <div class="input-group mb-3" *ngIf="question.questionType == 3 && question.isAnswerCorrected == true ">
                                <input type="text" class="form-control" aria-label="answer" [(ngModel)]="answer.answer">
                            </div>    
                        </div>
                        <div *ngIf=" question.isQuestionBonus == true " style="width: 800px; margin-top: 15px;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3"  >
                                            <input type="text" class="form-control" aria-label="answer" [(ngModel)]="question.bonusmarks">
                                        </div>    
                                    </div>
                                    <div class="col-sm-6" *ngIf="question.questionType == 1 || question.questionType == 3">
                                        <div class="input-group mb-3"  >
                                            <select [(ngModel)]="question.bonusMarksFor" class="form-control">
                                                <option value="0" disabled>SELECT BONUS QUESTION FOR</option>
                                                <option value="1">Attempted</option>
                                                <option value="2">Non-Attempted</option>
                                                <option value="3">Both</option>
                                              </select> 
                                        </div>
                                      
                                    </div>
                                </div>
                        </div>
                      
                    </div>
                        
                </div>
            </div>
       </div>
    </div>
    <button class="btn btn-success btn-block" type="submit" (click)="submitPaperChanges()">SUBMIT UPDATIONS</button>
    <!-- <pre>{{ paperSubjects | json}}</pre> -->
    
    <app-common-loader *ngIf="spinner"></app-common-loader>
</div>