.title {
    color: var(--newApp-color) !important;
}
.row-body {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 7px 0px rgba(219, 219, 219, 1);
    margin: 15px;
    padding: 20px 0px;
    min-height: 78vh;
}
.header {
    height: 55px;
    // display: inline-flex;
    align-items: center;
}
.header .cpTitle {
    margin: 5px 15px 15px 15px;
    font-size: 1.125rem;
    display: inline-block;
    padding-top: 10px;
}
.header .subname {
    color: rgb(29, 29, 29);
    margin: 5px 50px 15px 50px;
}
.header .duration {
    color: rgb(98, 98, 98);
    margin: 5px 50px 15px 50px;
}
.header .empty {
    width: 20%;
}
.header .fileconfig {
    float: right;
    width: 15%;
    display: inline-grid;
    margin-right: 15px;
    /* padding-top: 15px; */
    align-content: end;
    height: 40px;
    justify-items: center;
}
.header .form-control {
    min-width: 180px;
    margin-left: 10px;
}
.header .name {
    min-width: 25%;
    margin: auto 20px;
    display: inline-flex;
}
.mapping {
    display: inline-grid;
    height: 50px;
    width: 29%;
    /* float: right; */
    /* position: relative; */
    /* top: 10px; */
    align-items: center;
    justify-content: end;
}
.mapping ng-select {
    width: 170px;
}
.table th {
    color: var(--newApp-color);
    font-weight: 500;
    text-align: center;
    background-color: var(--newAppbg-color);
    height: 40px;
}
.btn-save,
.btn-cancel {
    width: 150px;
    border-radius: 0px;
}
.table th {
    vertical-align: middle;
    padding: 5px 13px;
}
.table-responsive {
    margin-top: 20px;
    overflow-x: unset;
}
.move {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: start;
    padding-top: 33px;
    font-size: 19px;
}
td .form-group {
    width: 87%;
    margin-bottom: 10px;
}
label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #3e3e3e;
}
.form-control {
    padding: 10px 5px !important;
}
.subTopicName,
.topicName,
.chapterName,
.unitName {
    width: 100%;
    font-weight: 500;
    white-space: pre-wrap;
}
.fa-trash {
    color: #ff0b0b;
    cursor: pointer;
    padding-top: 7px;
    position: relative;
    right: 0px;
}
.durationbottom {
    margin-top: 3px;
    width: 98%;
}
.durationbottom img {
    margin-top: -3px;
}
.durationbottom span {
    width: 140px;
}
.subTopictd .durationbottom span {
    display: flex;
}
.subTopictd .durationbottom span ng-select,
.durationbottom span ng-select {
    margin-left: 10px;
    width: 57px;
}
.subTopictd .durationbottom span label,
.subTopictd .durationbottom span i {
    margin-top: 5px;
}
.table tbody td {
    padding: 0.85rem 0.6rem 0.85rem 0.85rem;
    border-top: 0px;
}
.table tbody td p.title {
    cursor: pointer;
    margin: 0px 0px 5px;
    width: fit-content;
}
.btn-circle {
    width: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    border-radius: 25px;
    margin-right: 3px;
    background-color: var(--newApp-color);
    color: #ffffff !important;
}
.onlyAdd {
    min-height: 150px;
    width: fit-content;
    justify-items: center;
    align-items: center;
    margin-left: 10px;
}
table {
    width: 100%;
}
.chaptertd {
    padding: 0px !important;
}
.topictd,
.subTopictd {
    padding: 0px !important;
    border: 0px;
    height: 200px;
}
.choose_file,
.addMapping {
    margin: 8px 2px;
    clear: both;
}
.choose_file {
    width: 110px;
}
.addMapping .btn-filled {
    font-size: 13px;
    padding: 3px 10px;
    margin-top: 4px;
    text-align: center;
    border-radius: 0px;
}
.btn-upload {
    background-color: #c3c3c3;
    color: #5d5d5d;
    font-size: 13px;
    padding: 3px 10px;
    margin-top: 4px;
    text-align: center;
    border-radius: 0px;
}
.btn-upload .fas {
    margin-right: 6px;
}
.btn-viewAttachment {
    background-color: var(--newAppbg-color);
    color: var(--newApp-color);
    border-color: var(--newApp-color);
    font-size: 13px;
    padding: 3px 5px;
    margin-top: 4px;
    text-align: center;
}
.modal-header-title {
    background-color: var(--newAppbg-color);
    color: var(--newApp-color);
    font-weight: 600;
    padding: 15px 35px;
    height: 50px;
    border-bottom: 0px;
}
.tagModal .modal-header-title {
    display: flex;
    align-items: center;
}
.tagModal .modal-header .btn-filled {
    padding: 3px 23px;
}
.modal-footer {
    border-top: 0px;
    padding-right: 15px;
}
.viewAttach .modal-body {
    min-height: 150px;
    margin-top: 20px;
    padding: 1.7rem;
}
.dropdown-item input {
    margin-right: 5px;
}
.table-fixed > tbody > tr,
.createMapping .createMaptbody > tr {
    display: table;
    width: 100%;
}
.table-fixed > tbody {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    z-index: 1000;
    display: block !important;
}
.createMapping .createMaptbody {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
    z-index: 1000;
    display: block !important;
}
.subject p,
.time p {
    color: #4c4a4a;
    margin-bottom: 0px;
    font-size: 14px;
    padding-top: 5px;
}
.subject span,
.time span {
    color: #adadad;
    font-size: 11px;
}
.subject,
.time {
    display: inline-grid;
    margin: 5px 20px 15px 0px;
    width: 10%;
}
.tagModal .modal-body {
    min-height: 150px;
    margin-top: 20px;
}
.itemName {
    float: left;
    width: 75% !important;
}
.itemValue {
    float: right;
    width: 20% !important;
    margin-left: 10px;
}
.createMapping .table tbody td {
    padding: 0px;
    border-bottom: 1px solid #dee2e6;
    vertical-align: initial !important;
}
.createMapping .table td .form-group {
    width: 100%;
}
.propertytd,
.itemtd {
    border-bottom: 0px !important;
}
.createMapping .emptymapping {
    padding-left: 10px;
}
.categorytd {
    padding: 0.85rem 0.6rem 0.45rem 0.85rem !important;
    width: 33%;
}
.propertytd {
    padding: 0.45rem 0.6rem 0.05rem 0.85rem !important;
    width: 50%;
}
.itemtd {
    padding: 0.45rem 0.6rem 0.05rem 0.85rem !important;
    width: 100%;
}
.tableCreateMap thead th {
    color: #464646;
    font-weight: 500;
    background-color: #ffffff;
    padding: 0px 12px !important;
    vertical-align: bottom !important;
    border: 0px;
    text-align: initial;
}
.createMapping form {
    width: 97%;
}
.createMapping .btn-circle {
    width: 21px;
    height: 21px;
    font-size: 11px;
}
.teacherList ng-select {
    width: 100%;
    margin-top: 15px;
}
.fa-calendar {
    margin-right: 5px;
}
.modalClass .modal-dialog {
    max-width: 505px;
}
.invalid-feedback {
    display: block;
}
.inputBoxCount {
    position: relative;
    left: 80% !important;
    bottom: 34% !important;
    right: auto;
    top: auto !important;
}
.cpName {
    left: -15% !important;
    bottom: 32% !important;
}
.topictd .inputBoxCount,
.chaptertd .inputBoxCount,
.unittd .inputBoxCount {
    left: 75% !important;
}
