<div class="row mx-0">
    <div class="card-body row-body">
        <form [formGroup]="formData" class="form-inline">
            <!-- <pre>{{ formData.value | json }}</pre> -->
            <div class="row m-0 header w-100 d-inline">
                <span class="title cpTitle" *ngIf="!isEditForm || plannerType==2">{{formData.value.name}}</span>
                <span class="name" *ngIf="isEditForm && plannerType==1">
                    <div class="form-group">
                        <label for="fname">Name</label>
                        <i style="color: tomato;">* </i>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name"
                            appAlphabetOnly [ngClass]="{ 'is-invalid': submitted && f.name.errors }" #cpName
                            maxlength="20">
                        <p class="badge position-relative inputBoxCount cpName"
                            [ngClass]="{'badge-blue': cpName.value.length !== 20,'badge-danger': cpName.value.length == 20}">
                            {{ cpName.value.length }} / 20</p>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Course Planner Name is required</div>

                        </div>
                    </div>
                </span>
                <span class="subname" *ngIf="!isEditForm">{{formData.value.subjectName}}</span>
                <span class="subject" *ngIf="isEditForm">
                    <p class="title">{{formData.value.subjectName}}</p>
                    <span>Subject</span>
                </span>
                <span class="duration" *ngIf="!isEditForm"><img src="../../../../../assets/Icons/Sample/Duration.png"
                        alt="duration" width="20px"> {{(totalDuration)? format(totalDuration) : "00 hr 00 mins"}}</span>
                <span class="time" *ngIf="isEditForm">
                    <p class="title">{{(totalDuration)? format(totalDuration) : "00 hr 00 mins"}}</p>
                    <span>Duration</span>
                </span>
                <span class="mapping" *ngIf="formData.controls['isNew'].value != true">
                    <ng-select [items]="mappingTypes" bindLabel="name" placeholder="Select Mapping" bindValue="id"
                        [searchable]="false" [(ngModel)]="selectedMapping" [ngModelOptions]="{standalone: true}"
                        [disabled]="showMappingBtnInChapter || showMappingBtnInTopic " (change)="handleChange($event)"
                        [closeOnSelect]="true" [clearable]="false">
                    </ng-select>
                </span>
                <div class="fileconfig" *ngIf="plannerType!=2" ngbDropdown>
                    <span class="title" ngbDropdownToggle><i class="fa fa-cog" aria-hidden="true"></i> File
                        Configuration</span>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <div class="dropdown-item" *ngFor="let value of values;let i = index">
                            <input type="checkbox" name="checkbox" [checked]="value.checked"
                                (change)="getDropdownValue($event, value.id,i)">
                            <span>{{value.field}}</span>
                        </div>
                        <!-- <div class="dropdown-divider"></div> -->
                    </div>
                </div>
            </div>
            <div class="table-responsive" cdkDropListGroup>
                <table class="table table-bordered mb-0" id="test">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 23%;">Unit</th>
                            <th style="width: 23%">Chapter</th>
                            <th style="width: 23%;">Topic</th>
                            <th style="width: 31%;">Sub Topic</th>
                        </tr>
                    </thead>
                </table>
                <table class="table table-bordered table-fixed mb-0 d-block" id="test">
                    <tbody class="scroll" formArrayName="units" cdkDropList (cdkDropListDropped)="drop($event)">
                        <tr *ngFor="let comp of formData.controls.units['controls']; let i=index" [formGroupName]="i"
                            cdkDragLockAxis="y" cdkDrag>
                            <td class="unittd" style="width: 23%;">
                                <div class="row mx-0">
                                    <div class="move">
                                        <span><i class="fe-move"></i></span>
                                    </div>
                                    <div class="form-group" formGroupName="unitDetails">
                                        <label for="unitName">Unit Name</label>
                                        <i style="color: tomato;">* </i>
                                        <input id="comment" name="unitName" class="unitName form-control" #unitName
                                            type="text" formControlName="name"
                                            [ngClass]="{'is-invalid':submitted && comp.controls.unitDetails['controls']['name'].errors}"
                                            maxlength="200">
                                        <p class="badge position-relative inputBoxCount"
                                            [ngClass]="{'badge-blue': unitName.value.length !== 200,'badge-danger': unitName.value.length == 200}">
                                            {{ unitName.value.length }} / 200</p>
                                        <div *ngIf="submitted && comp.controls.unitDetails['controls']['name'].errors?.required"
                                            class="invalid-feedback">
                                            <div *ngIf="comp.controls.unitDetails['controls']['name'].errors?.required">
                                                Name is
                                                required</div>
                                        </div>
                                        <div class="durationbottom">
                                            <span class="float-left"
                                                *ngIf="comp.controls.chapters.controls!=null && comp.controls.chapters.controls.length > 0">
                                                <img src="../../../../../assets/Icons/Sample/Duration.png"
                                                    alt="duration" width="20px"> {{comp.value.durationName}}
                                            </span>
                                            <span class="float-left d-flex"
                                                *ngIf="comp.controls.chapters.controls==null ||  comp.controls.chapters.controls.length == 0">
                                                <label for="duration">Duration</label>
                                                <i style="color: tomato;">*</i>
                                                <ng-select [items]="durationList" bindLabel="name" placeholder="Set"
                                                    bindValue="id" formControlName="duration" [searchable]="false"
                                                    (change)="calculateUnitDuration(comp,i,$event)"
                                                    [closeOnSelect]="true" [clearable]="false"
                                                    [ngClass]="{ 'is-invalid': submitted && comp.controls.unitDetails['controls']['duration'].errors?.required }">
                                                </ng-select>
                                            </span>
                                            <i class="fas fa-trash float-right" style="margin-left: 10px;"
                                                (click)="deleteUnit(i)"></i>
                                        </div>
                                        <div *ngIf="submitted && comp.controls.unitDetails['controls']['duration'].errors?.required"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="comp.controls.unitDetails['controls']['duration'].errors?.required">
                                                Duration is required
                                            </div>
                                        </div>
                                        <!-- <div class="choose_file" [hidden]="!isUnit">
                                            <button class="btn btn-upload" *ngIf="!comp.value.file"
                                                (click)="openFile(1,i)"><i class="fas fa-upload"></i> Upload</button>
                                            <button class="btn btn-viewAttachment" *ngIf="comp.value.file"
                                                (click)="openFileVeiw(viewAttachment,comp.value.file)">View
                                                Attachment</button>
                                            <input type="file" name="file" [id]="'imgupload1'+i" class="d-none"
                                                accept=".png, .jpg, .jpeg" (change)="onSelectFile($event,1,i,0,0,0)">
                                        </div> -->
                                    </div>
                                </div>
                                <p class="title" (click)="addUnit()"
                                    *ngIf="(formData.controls.units['controls'].length-1)==i"><span
                                        class="btn-circle"><i class="fas fa-plus"></i></span> Add Unit
                                </p>
                            </td>
                            <td class="chaptertd">
                                <table #chapterList="cdkDropList" *ngIf="comp.controls.chapters['controls']"
                                    formArrayName="chapters" [cdkDropListData]="comp.controls.chapters['controls']"
                                    cdkDropList (cdkDropListDropped)="dropChapter($event,i)">
                                    <tbody *ngFor="let chapter of comp.controls.chapters['controls']; let j=index"
                                        [formGroupName]="j" cdkDragLockAxis="y" cdkDrag>
                                        <tr>
                                            <td class="border-top-0 border-bottom-0 border-left-0 border-right"
                                                style="width: 30%;min-height: 200px;">
                                                <div class="row mx-0">
                                                    <div class="move">
                                                        <span cdkDragHandle><i class="fe-move"></i></span>
                                                    </div>
                                                    <div class="form-group" formGroupName="chapterDetails">
                                                        <label for="chapterName">Chapter Name</label>
                                                        <i style="color: tomato;">* </i>
                                                        <input id="comment" name="chapterName"
                                                            class="chapterName form-control" #chapterName type="text"
                                                            formControlName="name" maxlength="200">
                                                        <p class="badge position-relative inputBoxCount"
                                                            [ngClass]="{'badge-blue': chapterName.value.length !== 200,'badge-danger': chapterName.value.length == 200}">
                                                            {{ chapterName.value.length }} / 200</p>
                                                        <div *ngIf="submitted && chapter.controls.chapterDetails['controls']['name'].errors?.required"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="chapter.controls.chapterDetails['controls']['name'].errors?.required">
                                                                Name
                                                                is required</div>
                                                        </div>
                                                        <div class="durationbottom">
                                                            <span class="float-left"
                                                                *ngIf="chapter.controls.topics.controls!=null && chapter.controls.topics.controls.length > 0"><img
                                                                    src="../../../../../assets/Icons/Sample/Duration.png"
                                                                    alt="duration" width="20px">
                                                                {{chapter.value.durationName}}</span>
                                                            <span class="float-left d-flex"
                                                                *ngIf="chapter.controls.topics.controls==null ||  chapter.controls.topics.controls.length == 0">
                                                                <label for="duration">Duration</label>
                                                                <i style="color: tomato;">*</i>
                                                                <ng-select [items]="durationList" bindLabel="name"
                                                                    placeholder="Set" bindValue="id"
                                                                    formControlName="duration" [searchable]="false"
                                                                    (change)="calculateChapterduration(comp,i,j,$event)"
                                                                    [closeOnSelect]="true" [clearable]="false"
                                                                    [ngClass]="{ 'is-invalid': submitted && chapter.controls.chapterDetails['controls']['duration'].errors?.required }">
                                                                </ng-select>
                                                            </span>
                                                            <i class="fas fa-trash float-right"
                                                                style="margin-left: 10px;"
                                                                (click)="deleteChapter(i,j)"></i>
                                                        </div>
                                                        <div *ngIf="submitted && chapter.controls.chapterDetails['controls']['duration'].errors?.required"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="chapter.controls.chapterDetails['controls']['duration'].errors?.required">
                                                                Duration is required
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row mx-0 w-100 teacherList" *ngIf="plannerType==2">
                                                            <ng-select [items]="teacherList" bindLabel="name"
                                                                placeholder="Select Teacher" formControlName="teacherId"
                                                                bindValue="id" [searchable]="false"
                                                                (change)="handleChange($event)" [closeOnSelect]="true"
                                                                [clearable]="false">
                                                            </ng-select>
                                                        </div> -->
                                                        <div class="row mx-0 w-100">
                                                            <!-- <div class="choose_file" *ngIf="plannerType==1">
                                                                <button class="btn btn-upload"
                                                                    *ngIf="!chapter.value.file && isChapter"
                                                                    (click)="openFile(2,j)"><i
                                                                        class="fas fa-upload"></i>
                                                                    Upload</button>
                                                                <button class="btn btn-viewAttachment"
                                                                    *ngIf="chapter.value.file && isChapter"
                                                                    (click)="openFileVeiw(viewAttachment,chapter.value.file)">View
                                                                    Attachment</button>
                                                                <input type="file" name="file" [id]="'imgupload2'+j"
                                                                    class="d-none" accept=".png, .jpg, .jpeg"
                                                                    (change)="onSelectFile($event,2,0,j,0,0)">
                                                            </div> -->
                                                            <div class="addMapping">
                                                                <button class="btn btn-filled btn-sm"
                                                                    *ngIf="!isAlreadyMapped && plannerType==1"
                                                                    [hidden]="!showMappingBtnInChapter"
                                                                    (click)="getCoursePlannerMapping();tagModel(chapter,tagModal)">Mapping</button>
                                                                <button class="btn btn-filled btn-sm mapped"
                                                                    *ngIf="isAlreadyMapped && plannerType==1"
                                                                    (click)="getCoursePlannerMapping();tagModel(chapter,tagModal)"
                                                                    [hidden]="!showMappingBtnInChapter">Mapped</button>
                                                                <button class="btn btn-filled btn-sm"
                                                                    *ngIf="!chapter.value.startDate && !chapter.value.endDate && plannerType==2"
                                                                    [hidden]="!showMappingBtnInChapter"
                                                                    (click)="tagDateModel(chapter,tagDateModal)"><i
                                                                        class="far fa-calendar"></i>Mapping</button>
                                                                <button class="btn btn-viewAttachment btn-sm viewDate"
                                                                    *ngIf="chapter.value.startDate && chapter.value.endDate && plannerType==2"
                                                                    (click)="tagViewDateModel(chapter,tagDateModal)"
                                                                    [hidden]="!showMappingBtnInChapter">View
                                                                    Dates</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="title" (click)="addChapter(comp)"
                                                    *ngIf="comp.controls.chapters.controls.length>0 && (comp.controls.chapters.controls.length-1)==j">
                                                    <span class="btn-circle"><i class="fas fa-plus"></i></span> Add
                                                    Chapter
                                                </p>
                                            </td>
                                            <td class="topictd">
                                                <table formArrayName="topics" #topicList="cdkDropList"
                                                    [cdkDropListData]="chapter.controls.topics['controls']" cdkDropList
                                                    (cdkDropListDropped)="dropTopic($event,j,i)">
                                                    <tbody
                                                        *ngFor="let topic of chapter.controls.topics['controls']; let k=index"
                                                        [formGroupName]="k" cdkDragLockAxis="y" cdkDrag>
                                                        <tr>
                                                            <td class="border-top-0 border-left-0 border-bottom-0"
                                                                style="width: 43%;">
                                                                <div class="row mx-0">
                                                                    <div class="move">
                                                                        <span cdkDragHandle><i
                                                                                class="fe-move"></i></span>
                                                                    </div>
                                                                    <div class="form-group"
                                                                        formGroupName="topicDetails">
                                                                        <label for="topicName">Topic Name</label>
                                                                        <i style="color: tomato;">* </i>
                                                                        <input id="comment" name="topicName"
                                                                            class="topicName form-control" #topicName
                                                                            type="text" formControlName="name"
                                                                            maxlength="200"
                                                                            [ngClass]="{'is-invalid':submitted && topic.controls.topicDetails['controls']['name'].errors}">
                                                                        <p class="badge position-relative inputBoxCount"
                                                                            [ngClass]="{'badge-blue': topicName.value.length !== 200,'badge-danger': topicName.value.length == 200}">
                                                                            {{ topicName.value.length }} / 200</p>
                                                                        <div *ngIf="submitted && topic.controls.topicDetails['controls']['name'].errors?.required"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="topic.controls.topicDetails['controls']['name'].errors?.required">
                                                                                Name is required</div>
                                                                        </div>
                                                                        <div class="durationbottom">
                                                                            <span class="float-left"
                                                                                *ngIf="topic.controls.subtopics.controls!=null && topic.controls.subtopics.controls.length > 0"><img
                                                                                    src="../../../../../assets/Icons/Sample/Duration.png"
                                                                                    alt="duration" width="20px">
                                                                                {{topic.value.durationName}}</span>
                                                                            <span class="float-left d-flex"
                                                                                *ngIf="topic.controls.subtopics.controls==null ||  topic.controls.subtopics.controls.length == 0">
                                                                                <label for="duration">Duration</label>
                                                                                <i style="color: tomato;">*</i>
                                                                                <ng-select [items]="durationList"
                                                                                    bindLabel="name" placeholder="Set"
                                                                                    bindValue="id"
                                                                                    formControlName="duration"
                                                                                    [searchable]="false"
                                                                                    (change)="calculateTopicduration(chapter,comp,j,i,k,$event)"
                                                                                    [closeOnSelect]="true"
                                                                                    [clearable]="false"
                                                                                    [ngClass]="{ 'is-invalid': submitted && topic.controls.topicDetails['controls']['duration'].errors?.required }">
                                                                                </ng-select>
                                                                            </span>
                                                                            <i class="fas fa-trash float-right"
                                                                                style="margin-left: 10px;"
                                                                                (click)="deleteTopic(i,j,k)"></i>
                                                                        </div>
                                                                        <div *ngIf="submitted && topic.controls.topicDetails['controls']['duration'].errors?.required"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="topic.controls.topicDetails['controls']['duration'].errors?.required">
                                                                                Duration is required
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mx-0 w-100">
                                                                            <!-- <div class="choose_file"
                                                                                *ngIf="plannerType==1">
                                                                                <button class="btn btn-upload"
                                                                                    *ngIf="!topic.value.file && isTopic"
                                                                                    (click)="openFile(3,k)"><i
                                                                                        class="fas fa-upload"></i>
                                                                                    Upload</button>
                                                                                <button class="btn btn-viewAttachment"
                                                                                    *ngIf="topic.value.file && isTopic"
                                                                                    (click)="openFileVeiw(viewAttachment,topic.value.file)">View
                                                                                    Attachment</button>
                                                                                <input type="file" name="file"
                                                                                    [id]="'imgupload3'+j" class="d-none"
                                                                                    accept=".png, .jpg, .jpeg"
                                                                                    (change)="onSelectFile($event,3,0,0,k,0)">
                                                                            </div> -->
                                                                            <div class="addMapping">
                                                                                <button
                                                                                    *ngIf="!isAlreadyMapped && plannerType==1"
                                                                                    class="btn btn-filled btn-sm"
                                                                                    [hidden]="!showMappingBtnInTopic"
                                                                                    (click)="getCoursePlannerMapping();tagModel(topic,tagModal);">Mapping</button>
                                                                                <button
                                                                                    *ngIf="isAlreadyMapped && plannerType==1"
                                                                                    class="btn btn-filled btn-sm mapped"
                                                                                    [hidden]="!showMappingBtnInTopic">Mapped</button>
                                                                                <button class="btn btn-filled btn-sm"
                                                                                    *ngIf="!topic.value.startDate && !topic.value.endDate && plannerType==2"
                                                                                    [hidden]="!showMappingBtnInTopic"
                                                                                    (click)="tagDateModel(topic,tagDateModal)"><i
                                                                                        class="far fa-calendar"></i>Mapping</button>
                                                                                <button
                                                                                    class="btn btn-viewAttachment btn-sm viewDate"
                                                                                    *ngIf="topic.value.startDate && topic.value.endDate && plannerType==2"
                                                                                    (click)="tagViewDateModel(topic,tagDateModal)"
                                                                                    [hidden]="!showMappingBtnInTopic">View
                                                                                    Dates</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p class="title" (click)="addTopic(chapter)"
                                                                    *ngIf="chapter.controls.topics.controls.length>0 && (chapter.controls.topics.controls.length-1)==k">
                                                                    <span class="btn-circle"><i
                                                                            class="fas fa-plus"></i></span> Add Topic
                                                                </p>
                                                            </td>
                                                            <td class="subTopictd">
                                                                <table formArrayName="subtopics"
                                                                    #subtopicList="cdkDropList"
                                                                    *ngIf="topic.controls.subtopics['controls']"
                                                                    [cdkDropListData]="topic.controls.subtopics['controls']"
                                                                    cdkDropList
                                                                    (cdkDropListDropped)="dropSubTopic($event,k,j,i)">
                                                                    <tbody
                                                                        *ngFor="let subTopic of topic.controls.subtopics['controls']; let l=index"
                                                                        cdkDragLockAxis="y" cdkDrag>
                                                                        <tr [formGroupName]="l">
                                                                            <td class="border-0">
                                                                                <div class="row mx-0">
                                                                                    <div class="move">
                                                                                        <span cdkDragHandle><i
                                                                                                class="fe-move"></i></span>
                                                                                    </div>
                                                                                    <div class="form-group"
                                                                                        formGroupName="subTopicDetails">
                                                                                        <label
                                                                                            for="subTopicName">SubTopic
                                                                                            Name</label>
                                                                                        <i style="color: tomato;">* </i>
                                                                                        <input id="comment"
                                                                                            name="subTopicName"
                                                                                            class="subTopicName form-control"
                                                                                            #subTopicName type="text"
                                                                                            formControlName="name"
                                                                                            maxlength="200"
                                                                                            [ngClass]="{'is-invalid':submitted && subTopic.controls.subTopicDetails['controls']['name'].errors}">
                                                                                        <p class="badge position-relative inputBoxCount"
                                                                                            [ngClass]="{'badge-blue':subTopicName.value.length !== 200,'badge-danger':subTopicName.value.length == 200}">
                                                                                            {{subTopicName.value.length
                                                                                            }} / 200</p>
                                                                                        <div *ngIf="submitted && subTopic.controls.subTopicDetails['controls']['name'].errors?.required"
                                                                                            class="invalid-feedback">
                                                                                            <div
                                                                                                *ngIf="subTopic.controls.subTopicDetails['controls']['name'].errors?.required">
                                                                                                Name is required</div>
                                                                                        </div>
                                                                                        <div class="durationbottom">
                                                                                            <span class="float-left">
                                                                                                <label
                                                                                                    for="duration">Duration</label>
                                                                                                <i
                                                                                                    style="color: tomato;">*</i>
                                                                                                <ng-select
                                                                                                    [items]="durationList"
                                                                                                    bindLabel="name"
                                                                                                    placeholder="Set"
                                                                                                    bindValue="id"
                                                                                                    formControlName="duration"
                                                                                                    [searchable]="false"
                                                                                                    (change)="calculateduration(topic,chapter,comp,k,j,i,$event)"
                                                                                                    [closeOnSelect]="true"
                                                                                                    [clearable]="false"
                                                                                                    [ngClass]="{ 'is-invalid': submitted && subTopic.controls.subTopicDetails['controls']['duration'].errors?.required }">
                                                                                                </ng-select>
                                                                                            </span>
                                                                                            <!-- <div class="choose_file"
                                                                                                [ngClass]="{'d-inline':isSubTopic}"
                                                                                                [hidden]="!isSubTopic">
                                                                                                <button
                                                                                                    class="btn btn-upload"
                                                                                                    *ngIf="!subTopic.value.file"
                                                                                                    (click)="openFile(4,l)"><i
                                                                                                        class="fas fa-upload"></i>
                                                                                                    Upload</button>
                                                                                                <button
                                                                                                    class="btn btn-viewAttachment"
                                                                                                    *ngIf="subTopic.value.file"
                                                                                                    (click)="openFileVeiw(viewAttachment,subTopic.value.file)">View
                                                                                                    Attachment</button>
                                                                                                <input type="file"
                                                                                                    name="file"
                                                                                                    [id]="'imgupload4'+l"
                                                                                                    class="d-none"
                                                                                                    accept=".png, .jpg, .jpeg"
                                                                                                    (change)="onSelectFile($event,4,0,0,0,l)">
                                                                                            </div> -->
                                                                                            <i class="fas fa-trash float-right"
                                                                                                style="margin-left: 10px;"
                                                                                                (click)="deleteSubTopic(i,j,k,l)"></i>
                                                                                        </div>
                                                                                        <div *ngIf="submitted && subTopic.controls.subTopicDetails['controls']['duration'].errors?.required"
                                                                                            class="invalid-feedback">
                                                                                            <div
                                                                                                *ngIf="subTopic.controls.subTopicDetails['controls']['duration'].errors?.required">
                                                                                                Duration is required
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                                <p class="title"
                                                                                    (click)="addsubTopic(topic)"
                                                                                    *ngIf="topic.controls.subtopics.controls.length>0 && (topic.controls.subtopics.controls.length-1)==l">
                                                                                    <span class="btn-circle"><i
                                                                                            class="fas fa-plus"></i></span>Add
                                                                                    Sub Topic
                                                                                </p>
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>

                                                                </table>
                                                                <div class="d-flex onlyAdd"
                                                                    *ngIf="topic.controls.subtopics.controls.length==0">
                                                                    <p class="title" (click)="addsubTopic(topic)"><span
                                                                            class="btn-circle"><i
                                                                                class="fas fa-plus"></i></span>Add Sub
                                                                        Topic</p>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="d-flex onlyAdd"
                                                    *ngIf="chapter.controls.topics.controls.length==0">
                                                    <p class="title"
                                                        *ngIf="chapter.controls.chapterDetails['controls']['name'].value!=null && chapter.controls.chapterDetails['controls']['name'].value!=''"
                                                        (click)="addTopic(chapter)"><span class="btn-circle"><i
                                                                class="fas fa-plus"></i></span>
                                                        Add Topic</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="d-flex onlyAdd" *ngIf="comp.controls.chapters.controls.length==0">
                                    <p class="title"
                                        *ngIf="comp.controls.unitDetails['controls']['name'].value!=null && comp.controls.unitDetails['controls']['name'].value!=''"
                                        (click)="addChapter(comp)"><span class="btn-circle"><i
                                                class="fas fa-plus"></i></span>Add Chapter</p>
                                </div>
                            </td>

                        </tr>
                        <tr *ngIf="formData.controls.units['controls'].length==0">
                            <td style="width: 23%;">
                                <div class="d-flex onlyAdd">
                                    <p class="title" (click)="addUnit()"><span class="btn-circle"><i
                                                class="fas fa-plus"></i></span> Add Unit </p>
                                </div>

                            </td>
                            <td style="width: 23%;"></td>
                            <td style="width: 23%;"></td>
                            <td style="width: 31%;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="mt-2 mx-0 mb-3 mr-3">
    <button *ngIf="!hideSaveButton" class="btn btn-save btn-filled float-right" (click)="submit(formData, 1)"
        type="submit">Save</button>
    <button *ngIf="hideSaveButton" class="btn btn-save btn-filled float-right"
        (click)="returnFormData(formData); cancel(1)" type="submit">Return</button>
    <a class="btn btn-cancel btn-outline float-right" (click)="cancel(1)">Cancel</a>
</div>
<ng-template #viewAttachment let-modal="close">
    <!-- <pre>{{masterCoursePlannerForm.value | json}}</pre> -->
    <div class="modal-content viewAttach">
        <div class="modal-header modal-header-title">
            <span>View Attachment</span>
        </div>
        <div class="modal-body">
            <div class="row mx-3 justify-content-center">
                <img [src]="imageSrc" alt="Attachment" width="250px" height="250px">
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-cancel btn-outline" (click)="closeviewModal()">Close</a>
        </div>
    </div>
</ng-template>
<ng-template #tagDateModal let-modal="close">
    <div class="modal-content tagModal">
        <div class="modal-header modal-header-title">
            <span>Create Date Mapping</span>
        </div>
        <div class="modal-body">
            <form [formGroup]="selectedMapingFormGroup">
                <div class="row w-100 ml-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="girstName">Start Date</label>
                            <i style="color: tomato;">* </i>
                            <input type="text" name="enddate" id="" [(ngModel)]="startDate" class="form-control"
                                readonly *ngIf="isAlreadyDateMapped" [ngModelOptions]="{standalone: true}">
                            <input type="text" formControlName="startDate" class="form-control"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #dp="bsDatepicker"
                                placeholder="Start Date" *ngIf="!isAlreadyDateMapped"
                                [ngClass]="{ 'is-invalid': addMappingSubmit && !selectedMapingFormGroup.value.startDate }"
                                show-weeks="false" bsDatepicker>
                            <div *ngIf="addMappingSubmit && !selectedMapingFormGroup.value.startDate"
                                class="invalid-feedback">
                                <div>Start Date is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="girstName">End Date</label>
                            <i style="color: tomato;">* </i>
                            <input type="text" name="enddate" id="" [(ngModel)]="endDate" class="form-control" readonly
                                *ngIf="isAlreadyDateMapped" [ngModelOptions]="{standalone: true}">
                            <input type="text" formControlName="endDate" class="form-control"
                                *ngIf="!isAlreadyDateMapped" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                #dp="bsDatepicker" placeholder="End Date"
                                [ngClass]="{ 'is-invalid': addMappingSubmit && !selectedMapingFormGroup.value.endDate }"
                                show-weeks="false" bsDatepicker>
                            <div *ngIf="addMappingSubmit && !selectedMapingFormGroup.value.endDate"
                                class="invalid-feedback">
                                <div>End Date is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn btn-cancel btn-outline" (click)="closeModal()">Cancel</a>
            <button class="btn btn-filled btn-save" *ngIf="!isAlreadyDateMapped" type="submit"
                (click)="saveDateMapping()">Save</button>
        </div>
    </div>
</ng-template>
<ng-template #tagModal let-modal="close">
    <div class="modal-content tagModal" [ngClass]="{'tagModal':isAssignMapping, 'createMapping':isCreateMapping}">
        <div class="modal-header modal-header-title">
            <span>Create {{(isAssignMapping && !isCreateMapping) ? "Mapping" : "a Tag" }}</span>
            <button class="btn btn-filled justify-content-end" (click)="createMapping()"
                *ngIf="isAssignMapping && !isCreateMapping">Create</button>
        </div>
        <div class="modal-body">
            <div class="row w-100 ml-2" *ngIf="isAssignMapping && !isCreateMapping">
                <div class="col-lg-4">
                    <label>Select Category</label>
                    <ng-select [items]="categoryData" bindLabel="name" placeholder="Select Category" bindValue="id"
                        [searchable]="false" [(ngModel)]="selectedCategory" (change)="selectCategory($event)"
                        [closeOnSelect]="true" [clearable]="false"
                        [ngClass]="{ 'is-invalid': addMappingSubmit && !selectedCategory }"></ng-select>
                    <div *ngIf="addMappingSubmit && !selectedCategory" class="invalid-feedback">
                        <div *ngIf="addMappingSubmit && !selectedCategory">Please select category</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Select Property</label>
                    <ng-select [items]="propertyData" bindLabel="name" placeholder="Select Property" bindValue="id"
                        [searchable]="false" [(ngModel)]="selectedproperty" (change)="selectProperty($event)"
                        [closeOnSelect]="true" [clearable]="false"
                        [ngClass]="{ 'is-invalid': addMappingSubmit && !selectedproperty }"></ng-select>
                    <div *ngIf="addMappingSubmit && !selectedproperty" class="invalid-feedback">
                        <div *ngIf="addMappingSubmit && !selectedproperty">Please select property</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Select Items</label>
                    <ng-select [items]="itemData" bindLabel="name" placeholder="Select Items" bindValue="id"
                        [searchable]="false" [(ngModel)]="selecteditemId" (change)="selectItem($event)"
                        [closeOnSelect]="true" [clearable]="false"
                        [ngClass]="{ 'is-invalid': addMappingSubmit && !selecteditemId }"></ng-select>
                    <div *ngIf="addMappingSubmit && !selecteditemId" class="invalid-feedback">
                        <div *ngIf="addMappingSubmit && !selecteditemId">Please select item</div>
                    </div>
                </div>

            </div>
            <div class="row w-100 ml-2" *ngIf="!isAssignMapping && isCreateMapping">
                <form [formGroup]="formData">
                    <table class="table table-centered mb-0 tableCreateMap">
                        <thead>
                            <tr>
                                <th style="width: 33.33%;">Category</th>
                                <th style="width: 33.33%;">Property</th>
                                <th style="width: 24%;">Item</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-centered mb-0" formArrayName="categoryList">
                        <tbody class="createMaptbody scroll">
                            <tr *ngFor="let category of formData.controls.categoryList['controls']; let i = index;"
                                [formGroupName]="i">
                                <td class="categorytd">
                                    <div class="row mx-0">
                                        <div class="form-group">
                                            <!-- <label for="unitName">Category</label> -->
                                            <input id="comment" name="name" class="unitName form-control" #categoryName
                                                type="text" formControlName="name" maxlength="20"
                                                [ngClass]="{'is-invalid':createMappingSubmit && category.controls['name'].errors}">
                                            <p class="badge position-relative inputBoxCount"
                                                [ngClass]="{'badge-blue': categoryName.value.length !== 20,'badge-danger': categoryName.value.length == 20}">
                                                {{ categoryName.value.length }} / 20</p>
                                            <div *ngIf="createMappingSubmit && category.controls['name'].errors?.required"
                                                class="invalid-feedback">
                                                <div *ngIf="category.controls['name'].errors?.required"> Category is
                                                    required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="title" (click)="addCategory()"
                                        *ngIf="(formData.controls.categoryList['controls'].length-1)==i"><span
                                            class="btn-circle"><i class="fas fa-plus"></i></span> Add Category
                                    </p>
                                </td>
                                <td class="pb-2">
                                    <table>
                                        <tbody formArrayName="propertyList">
                                            <tr *ngFor="let property of category.controls.propertyList['controls'];let l=index;"
                                                [formGroupName]="l">
                                                <td class="propertytd">
                                                    <div class="row mx-0">
                                                        <div class="form-group">
                                                            <!-- <label for="unitName">Property</label> -->
                                                            <input id="comment" name="name"
                                                                class="unitName form-control" type="text"
                                                                formControlName="name" #propertyName maxlength="20"
                                                                [ngClass]="{'is-invalid':createMappingSubmit && property.controls['name'].errors}">
                                                            <p class="badge position-relative inputBoxCount"
                                                                [ngClass]="{'badge-blue': propertyName.value.length !== 20,'badge-danger': propertyName.value.length == 20}">
                                                                {{ propertyName.value.length }} / 20</p>
                                                            <div *ngIf="createMappingSubmit && property.controls['name'].errors?.required"
                                                                class="invalid-feedback">
                                                                <div *ngIf="property.controls['name'].errors?.required">
                                                                    Property is
                                                                    required</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="title" (click)="addProperty(category)"
                                                        *ngIf="(category.controls.propertyList['controls'].length-1)==l">
                                                        <span class="btn-circle"><i class="fas fa-plus"></i></span> Add
                                                        Property
                                                    </p>
                                                </td>
                                                <td class="border-0 pb-1">
                                                    <table>
                                                        <tbody formArrayName="itemList">
                                                            <tr *ngFor="let item of property.controls.itemList['controls'];let k=index;"
                                                                [formGroupName]="k">
                                                                <td class="itemtd">
                                                                    <div class="row mx-0">
                                                                        <div class="form-group itemName">
                                                                            <!-- <label for="unitName">Item</label> -->
                                                                            <input id="comment" name="name"
                                                                                class="unitName form-control"
                                                                                type="text" formControlName="name"
                                                                                #itemName maxlength="20"
                                                                                [ngClass]="{'is-invalid':createMappingSubmit && item.controls['name'].errors}">
                                                                            <p class="badge position-relative inputBoxCount"
                                                                                [ngClass]="{'badge-blue': itemName.value.length !== 20,'badge-danger': itemName.value.length == 20}">
                                                                                {{ itemName.value.length }} / 20</p>
                                                                        </div>
                                                                        <div class="form-group itemValue">
                                                                            <!-- <label for="unitName">Value</label> -->
                                                                            <ng-select [items]="itemValueList"
                                                                                bindLabel="value" placeholder="Item"
                                                                                bindValue="id" [searchable]="false"
                                                                                formControlName="itemValue"
                                                                                [closeOnSelect]="true"
                                                                                [clearable]="false"
                                                                                [ngClass]="{ 'is-invalid': createMappingSubmit && item.controls['itemValue'].errors }">
                                                                            </ng-select>

                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="createMappingSubmit && item.controls['name'].errors?.required"
                                                                        class="invalid-feedback">
                                                                        <div
                                                                            *ngIf="item.controls['name'].errors?.required">
                                                                            Item is required</div>
                                                                    </div>
                                                                    <div *ngIf="createMappingSubmit && item.controls['itemValue'].errors?.required"
                                                                        class="invalid-feedback">
                                                                        <div
                                                                            *ngIf="item.controls['itemValue'].errors?.required">
                                                                            Item value is required</div>
                                                                    </div>
                                                                    <p class="title" (click)="addItem(property)"
                                                                        *ngIf="(property.controls.itemList['controls'].length-1)==k">
                                                                        <span class="btn-circle"><i
                                                                                class="fas fa-plus"></i></span> Add
                                                                        Item
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="title emptymapping" (click)="addItem(property)"
                                                        *ngIf="(property.controls.itemList['controls'].length)==0">
                                                        <span class="btn-circle"><i class="fas fa-plus"></i></span>Add
                                                        Item
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="title emptymapping" (click)="addProperty(category)"
                                        *ngIf="(category.controls.propertyList['controls'].length)==0"><span
                                            class="btn-circle"><i class="fas fa-plus"></i></span> Add Property
                                    </p>
                                </td>
                            </tr>
                            <tr *ngIf="(formData.controls.categoryList['controls'].length)==0">
                                <td>
                                    <p class="title emptymapping" (click)="addCategory()"
                                        *ngIf="(formData.controls.categoryList['controls'].length)==0"><span
                                            class="btn-circle"><i class="fas fa-plus"></i></span> Add Category
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-cancel btn-outline" (click)="closeModal()">Cancel</a>
            <button class="btn btn-filled btn-save" type="submit" (click)="saveMapping()">Save</button>
        </div>

    </div>
</ng-template>