.userDetails {
  height: 100vh;
}
#headertabs .nav-tabs {
  height: 40px !important;
}
.userDetails .row:first-child {
  height: 100%;
}
.leftSide {
  background-color: #e2f0fd;
}
.leftSide p {
  margin-bottom: 0px !important;
  color: #313131;
}
.leftSide p.last-child {
  margin-bottom: 15px !important;
}
.container-fluid {
  height: 100%;
  position: absolute;
}
.rightSide {
  margin: 0px 0px;
  padding: 0px;
  background-color: #ffffff;
}
ngb-tabset ::ng-deep > .nav-tabs {
  background-color: #cee3f5;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px !important;
}
ngb-tabset ::ng-deep > .nav-tabs .nav-link.active,
ngb-tabset ::ng-deep > .nav-tabs .nav-link.active:hover,
ngb-tabset ::ng-deep > .nav-tabs .nav-item.show .nav-link {
  color: var(--newApp-color);
  border: none;
  background-color: #cee3f5;
  border-color: #fff #fff var(--newApp-color) #fff;
  border-bottom: 2px solid var(--newApp-color) !important;
  font-weight: 600;
  width: fit-content;
  margin: 0px auto;
}
ngb-tabset ::ng-deep > .nav-tabs .nav-link:hover,
ngb-tabset ::ng-deep > .nav-tabs .nav-link:focus {
  border-color: #cee3f5 #cee3f5 #cee3f5;
  color: var(--newApp-color);
}
ngb-tabset ::ng-deep > .nav-tabs > li > a {
  color: #929292;
  font-weight: 500;
}
.hideTab ::ng-deep .nav-tabs {
  visibility: hidden;
}
.panel-default {
  border-color: #ddd;
}
.panel {
  width: 100%;
  background-color: #fff;
  margin: 0px 15px 20px 15px;
  // border: 1px solid #0000008f;
  border-radius: 4px;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
}
.panel-heading {
  padding: 8px 15px 4px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  background-color: #cee3f5;
  color: #313131;
  border-top-right-radius: 3px;
  font-size: 15px;
  font-weight: 600;
}
.panel-body {
  padding: 15px 15px 5px;
}
.panel-body p {
  color: #4c4a4a;
  margin-bottom: 10px;
}
.panel-body p span:first-child,
.editImg {
  color: var(--newApp-color) !important;
}
.leftSide .editImg {
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px !important;
}
.address p span {
  height: 100px;
  float: left;
}
.edit {
  float: right;
  cursor: pointer;
  font-weight: 500;
  padding-right: 10px;
}
.card-body {
  padding-top: 25px !important;
  padding-bottom: 10px;
}
.card-box {
  padding: 1rem;
  margin-left: 12px;
}
.profileImage {
  text-align: center;
  border: 1px solid lightgrey;
  width: 110px;
  vertical-align: middle;
  height: 100px;
  padding: 20px;
  margin: 35px auto 5px;
}
.profileImage .fas {
  color: darkgray;
  vertical-align: middle;
  padding-top: 5px;
}
.image {
  width: 110px;
  margin: 35px auto 5px;
}
img {
  width: 110px;
  vertical-align: middle;
  height: 100px;
  margin: 35px auto 5px;
}
.btn-cancel {
  width: 175px;
}
.btn-save {
  background-color: var(--newApp-color);
  color: #ffffff !important;
  margin-left: 0px;
  margin-right: 40px;
  padding: 8px 50px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
}
.btn-save:hover,
.btn-save:focus {
  color: #fff;
}
.btn-cancel:hover,
.btn-cancel:focus {
  color: var(--newApp-color) !important;
  background-color: #fff;
}
.header-title {
  font-size: 15px !important;
}
.editImg .fas {
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
  font-weight: 600;
  font-size: 10px;
}
.relation {
  background-color: #daeeff;
  text-align: center;
  width: fit-content;
  border: 1px solid var(--newApp-color);
  margin: 0px auto 25px !important;
  font-size: 13px;
  padding: 0px 10px;
  border-radius: 3px;
  color: var(--newApp-color) !important;
}
.guardianProfImg {
  width: 60px;
  height: 60px;
  margin: 20px auto 10px;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: #fff;
}
.guardianProfImg .fas {
  padding: 15px;
}
.guardian {
  margin: 0px 15px 10px 0px;
  // background-color: #ffffff;
  max-height: 194px;
  -webkit-box-flex: 0;
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0px;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
}
.guardian-first {
  margin-left: 12px;
}
.viewMore {
  text-align: center;
  background-color: #e2f0fd;
  color: var(--newApp-color) !important;
  padding: 5px;
  margin-bottom: 0px !important;
  cursor: pointer;
}
.guardianPanel {
  box-shadow: none;
  margin-bottom: 0px;
  height: 330px;
}
.studentPanel {
  box-shadow: none;
  margin-bottom: 0px;
  height: 300px;
}
.guardianPanel .panel-body,
.studentPanel .panel-body {
  padding: 15px 0px 0px;
}
.studentPanel img,
.guardianProfImg img {
  width: 60px;
  height: 60px;
  margin: 0px auto 0px;
}
.guardian p.name {
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.guardianDetails {
  background-color: #e2f0fd;
}
.guardianDetails p {
  margin-bottom: 2px;
  color: #757575;
}
.subDetails {
  padding: 0px;
}
.subHeading {
  margin-top: 10px;
  background-color: #e2f0fd;
  color: var(--newApp-color) !important;
  padding: 3px 5px 4px 5px;
}
.subDetails .col-md-4 {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
  font-weight: 500;
  padding: 0px;
  margin: 5px 10px 5px 0px;
  flex: 0 0 32.1%;
  max-width: 32.1%;
  min-height: 220px;
}
.subDetails .col-md-4 p {
  padding-left: 15px;
}
.leftSide .uploadImage {
  color: var(--newApp-color) !important;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px !important;
  text-align: center;
}
.uploadImage .fas {
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
  font-weight: 600;
  font-size: 10px;
}
.btn-img-cancel {
  background-color: white;
  border: 1px solid var(--newApp-color);
  color: var(--newApp-color) !important;
  margin-left: 10px;
  padding: 5px 20px;
  font-size: 12px;
  cursor: pointer;
}
.btn-img-upload {
  background-color: var(--newApp-color);
  color: #fff;
  margin-left: 10px;
  padding: 5px 20px;
  font-size: 12px;
  cursor: pointer;
}
.listScroll {
  max-width: 600px;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}
.performanceList {
  padding: 15px 0px 9px;
  margin: 10px 10px 10px 15px;
}
.listItem {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
  text-align: center;
  width: fit-content;
  margin: 10px 15px 10px 2px;
  width: 150px;
  display: inline-table;
  height: 90px;
  padding: 10px;
}
.listItem h5 {
  color: var(--newApp-color);
  margin-bottom: 10px;
}
.listItem p {
  font-size: 17px;
  font-weight: 600;
}
#chart {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-title {
  color: var(--newApp-color);
  position: relative;
  margin-left: 15px;
  top: 10px;
}
::-webkit-scrollbar {
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}
.subjects {
  padding-right: 12px;
  padding-left: 12px;
}
.subjects .subheading span {
  color: var(--newApp-color);
  width: fit-content;
  margin-right: 5px;
}
.subjects .subjectData {
  width: 480px;
}
.subjects .subjectList {
  width: 100px;
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 10px;
}
.relationData {
  text-align: center;
}
.relationName {
  background-color: #daeeff;
  text-align: center;
  width: fit-content;
  border: 1px solid var(--newApp-color);
  margin: 0px auto 25px !important;
  font-size: 13px;
  padding: 0px 8px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: var(--newApp-color) !important;
}
.studentPanel .guardian {
  margin: 0px 15px 10px 0px;
  min-height: 190px;
  -webkit-box-flex: 0;
  flex: 0 0 30%;
  max-width: 30%;
  padding: 20px 0px 0px 0px;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
}
.workingDays .title {
  color: var(--newApp-color);
  padding-right: 9px;
}
.workingDays p .day {
  background-color: #c2c1c1;
  color: #313131 !important;
  font-size: 12px;
  width: 17px;
  height: 17px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}
.workingDays p .day.dayselected {
  background-color: var(--newApp-color);
  color: #ffffff !important;
}
.periodSelected {
  background-color: var(--newApp-color);
}
tabset {
  width: 100%;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
  padding-top: 17px;
  margin-left: 10px;
  margin-right: 10px;
}
tabset ::ng-deep > .nav-tabs {
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 2%);
}
tabset ::ng-deep > .nav-tabs .nav-link {
  padding: 0px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #989898;
  background-color: #e6e6e6;
  border-color: #dee2e6 #dee2e6 #fff;
  border-radius: 0px;
}
tabset ::ng-deep > .nav-tabs .nav-link.active {
  color: var(--newApp-color);
  // border: none;
  background-color: #fcfcfc;
  border-color: #efefef #dee2e6 #fff;
}
.days p {
  float: right;
}
.timeing p {
  float: right;
  position: absolute;
  right: 25px;
  top: 115px;
}
p.name,
p.time {
  margin-bottom: 0px !important;
  text-align: center;
  font-size: 13px;
}
p.name {
  font-weight: 600;
}
p.time {
  font-size: 12px;
}
.table tbody td {
  padding: 0.3rem;
}
.table tbody td:first-child,
.table thead th:first-child {
  border-left: none;
}
.workingDays {
  box-shadow: none;
}
.workingDays .table th {
  border-top: 0px;
  border-bottom: 1px;
}
.workingDays .panel-body {
  min-height: 200px;
}
.workingDays.show {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
}
#headertabs .nav-tabs .nav-link {
  min-height: 40px;
}
.panel-body .electiveSub p span {
  color: #4c4a4a !important;
}
.account .activeBox {
  border: 1px solid #c2c1c1;
  border-radius: 5px;
  padding: 10px 15px;
  height: 45px;
}
.btn-activate {
  padding: 10px 25px;
}
.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
::ng-deep.activeDeactiveModal .modal-dialog {
  max-width: 450px;
  margin: 15% auto 15% 54%;
}
::ng-deep.activeDeactiveModal .modal-title {
  color: #ffffff !important;
}
::ng-deep.activeDeactiveModal .modal-header {
  background-color: var(--newApp-color);
  padding: 0.5rem 1rem;
}
.btn-close {
  width: 90px;
  border-width: 1px;
}
.btn-yes {
  margin-left: 10px;
  padding: 8px 15px;
  width: 90px;
}
.label-primary {
  background-color: var(--newApp-color);
}
.accountdetails h5 {
  font-weight: 600;
}
.accountdetails span {
  color: #a7a7a7;
  display: block;
}
