<div class="userDetails" id="detailsUser">
  <div class="row mr-0">
    <div class="col-3 leftSide">
      <div class="studentList py-4">
        <div class="profileImage" *ngIf="!imageSrcFile">
          <i class="fas fa-user-alt fa-3x"></i>
        </div>
        <div class="image" *ngIf="imageSrcFile">
          <img *ngIf="!fileSelected"
            [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +imageSrcFile)" alt="">
          <img [src]="imageSrcFile" alt="" *ngIf="fileSelected">
        </div>
        <input type="file" name="file" id="imgupload" class="d-none" accept=".png, .jpg, .jpeg"
          (change)="onSelectFile($event)">
        <p for="editImg" class="editImg" *ngIf="imageSrcFile" (click)="openFile()">Edit Image <i
            class="fas fa-pencil-alt"></i></p>
        <p for="uploadImage" class="uploadImage" *ngIf="!imageSrcFile" (click)="openFile()">Upload Image <i
            class="fas fa-upload"></i></p>
        <div class="d-flex mb-2" *ngIf="isUploadFile">
          <button class="btn btn-img-cancel" (click)="cancelImage()">Cancel</button>
          <button class="btn btn-img-upload" (click)="uploadImage()">Upload</button>
        </div>
        <p class="text-center font-weight-bold">{{basicFormGroup.value.generalInfo.fullName}}</p>
        <p class="text-center">{{basicFormGroup.value.generalInfo.emailId}}</p>
        <p class="text-center last-child">{{basicFormGroup.value.generalInfo.phoneNumber}}</p>
        <div class="card-box d-none">
          <h4 class="header-title mb-1">Profile Completion</h4>
          <div class="widget-chart text-center" dir="ltr">
            <apx-chart [chart]="revenueRadialChart.chart" [series]="revenueRadialChart.series"
              [plotOptions]="revenueRadialChart.plotOptions" [colors]="revenueRadialChart.colors"
              [labels]="revenueRadialChart.labels" [stroke]="revenueRadialChart.stroke"></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 rightSide" *ngIf="isUserDeatilsShow && !isAcademicFormShow">
      <ngb-tabset #mainTabs [activeId]="mainActiveTab" [justify]="currentJustify" (tabChange)="onSelectMainTab($event)">
        <ngb-tab id="basicDetails" title="{{tabTitle}}">
          <ng-template ngbTabContent>
            <div class="card mb-0">
              <div class="card-body">
                <div class="row">
                  <div class="panel panel-default">
                    <div class="panel-heading">Basic Details <span class="edit" (click)="editClick(1)">Edit</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <!-- <div class="col-md-6" *ngIf="userDetailsType!=4">
                          <p><span>Organization:</span> {{basicFormGroup.value.organizationName}}</p>
                        </div> -->
                        <div class="col-md-6" *ngIf="userDetailsType==1">
                          <p><span>Enrollment Date:</span> {{basicFormGroup.value.enrollmentDate |date:"yyyy-MM-dd"}}
                          </p>
                        </div>
                        <div class="col-md-6" *ngIf="userDetailsType==2">
                          <p><span>Role:</span> <span *ngFor="let roleData of basicFormGroup.value.roles;let i=index">
                              {{roleData.name}}{{(basicFormGroup.value.roles.length-1!=i)
                              ? ',' : ''}}</span></p>
                        </div>
                        <div class="col-md-6" *ngIf="userDetailsType==1">
                          <p><span>Enrollment Number:</span> {{basicFormGroup.value.enrollmentNumber}}</p>
                        </div>
                        <div class="col-md-6"
                          *ngIf="(userDetailsType==2 && basicFormGroup.value.roleName!='Business Owner') || userDetailsType == 3">
                          <p><span>Employee Id:</span> {{basicFormGroup.value.employeeId}}</p>
                        </div>
                        <div class="col-md-6" *ngIf="userDetailsType==2 || userDetailsType == 3">
                          <p><span>Date of Joining:</span> {{basicFormGroup.value.generalInfo.dateOfJoining
                            |date:"yyyy-MM-dd"}}</p>
                        </div>
                        <div class="col-md-6">
                          <p><span>Gender:</span> {{(basicFormGroup.value.generalInfo.gender) ?
                            basicFormGroup.value.generalInfo.gender == 'F' ? 'Female' :
                            (basicFormGroup.value.generalInfo.gender == 'M' ? 'Male' : 'Other') : ""}}</p>
                        </div>
                        <div class="col-md-6" *ngIf="userDetailsType==4">
                          <p><span>Blood Group:</span> {{basicFormGroup.value.generalInfo.bloodGroup}}</p>
                        </div>
                        <div class="col-md-6" *ngIf="userDetailsType==4">
                          <p><span>Adhar Number:</span> {{basicFormGroup.value.generalInfo.adharNumber}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default" *ngIf="userDetailsType!=4">
                    <div class="panel-heading">Other Details <span class="edit" (click)="editClick(2);">Edit</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row address">
                            <div class="col-md-12">
                              <p><span>Address: </span>
                                {{userAddressInfoForm.value.address}}{{userAddressInfoForm.value.address2 ? ", " :
                                ""}}{{userAddressInfoForm.value.address2}}{{userAddressInfoForm.value.city ? ", " :
                                ""}}{{userAddressInfoForm.value.city}}{{userAddressInfoForm.value.state ? ", " :
                                ""}}{{userAddressInfoForm.value.state}}{{userAddressInfoForm.value.country ? ", " :
                                ""}}{{userAddressInfoForm.value.country}}{{userAddressInfoForm.value.zipcode ? ", " :
                                ""}}{{userAddressInfoForm.value.zipcode}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-12">
                              <p><span>Blood Group:</span> {{userAddressInfoForm.value.bloodGroup}}</p>
                            </div>
                            <div class="col-md-12">
                              <p><span>Date of Birth:</span> {{userAddressInfoForm.value.birthDate}}</p>
                            </div>
                            <div class="col-md-12">
                              <p><span>Adhar Number:</span> {{userAddressInfoForm.value.adharNumber}}</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="panel panel-default" *ngIf="userDetailsType==3">
                    <div class="panel-heading">Subjects <span class="edit" (click)="editClick(5);">Edit</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="row subjects">
                            <div class="subheading">
                              <span>Core Subjects: </span>
                            </div>
                            <div class="subjectData">

                              <div class="subjectList" *ngFor="let subject of teacherSubjectList;let i=index;"
                                ngbTooltip={{subject.name}}>
                                {{subject.name | truncateText: 9}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="panel panel-default guardianPanel" *ngIf="userDetailsType==1">
                    <div class="panel-heading">Guardian Details <span class="edit" (click)="editClick(3)">Edit</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 guardian" *ngFor="let guardianForm of guardianForms;let i=index;"
                          [ngClass]="{'guardian-first':i==0}">
                          <div class="guardianProfImg" *ngIf="!guardianForm.value.profileImage">
                            <i class="fas fa-user-alt fa-2x"></i>
                          </div>
                          <div class="guardianProfImg" *ngIf="guardianForm.value.profileImage">
                            <img
                              [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +guardianForm.value.profileImage)"
                              alt="">
                          </div>
                          <p class="text-center name">{{guardianForm.value.generalInfo.fullName}}</p>
                          <p class="relation">{{guardianForm.value.generalInfo.relationName}}</p>
                          <p class="viewMore" *ngIf="!guardianForm.value.isShowVewMore"
                            (click)="showHideViewMore(guardianForm)">View More</p>
                          <p class="viewMore" *ngIf="guardianForm.value.isShowVewMore"
                            (click)="showHideViewMore(guardianForm)">View Less</p>
                          <div class="guardianDetails" *ngIf="guardianForm.value.isShowVewMore">

                            <p class="text-center">{{guardianForm.value.generalInfo.emailId}}</p>
                            <p class="text-center">{{guardianForm.value.generalInfo.phoneNumber}} |
                              {{guardianForm.value.generalInfo.bloodGroup}}</p>
                            <p class="text-center">DOB: {{guardianForm.value.generalInfo.birthDate}}</p>
                            <p class="text-center">Aadhar: {{guardianForm.value.generalInfo.adharNumber}}</p>
                          </div>


                        </div>
                        <div class="col-md-4 guardian guardian-first" *ngIf="guardianForms.length==0"></div>
                        <div class="col-md-4 guardian" *ngIf="guardianForms.length<2"></div>
                        <div class="col-md-4 guardian" *ngIf="guardianForms.length<3"></div>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default" *ngIf="userDetailsType==2">
                    <div class="panel-heading">Work Timing <span class="edit" (click)="editClick(6);">Edit</span>
                    </div>
                    <div class="panel-body pb-2">
                      <div class="row" *ngFor="let shift of shiftList; let i=index">
                        <div class="col-md-6">
                          <p *ngIf="i==0"><span>Shift Name:</span></p>
                          <p>{{shift.name}} ({{shift.startTime}} - {{shift.endTime}})</p>
                        </div>
                        <div class="col-md-6">
                          <p *ngIf="i==0"><span>Shift Days:</span></p>
                          <span *ngFor="let day of shift.days;let j=index;">
                            <span>{{days[day.dayValue]}}{{(shift.days.length-1!=j) ? ', ' : ''}}</span>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="panel panel-default studentPanel" *ngIf="userDetailsType==4">
                    <div class="panel-heading">Assigned Learners <span class="edit" (click)="editClick(7)">Edit</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4 guardian" *ngFor="let student of studentDataList;let i=index;"
                          [ngClass]="{'guardian-first':i==0}">
                          <div class="guardianProfImg" *ngIf="!student.profileImageId">
                            <i class="fas fa-user-alt fa-2x"></i>
                          </div>
                          <div class="guardianProfImg" *ngIf="student.profileImageId">
                            <img
                              [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/jpg;base64, ' +student.profileImageId)"
                              alt="">
                          </div>
                          <p class="text-center name">{{student.fullName}}</p>
                          <p class="relationData">Relation: <span
                              class="relationName">{{relationArray[student.relation-1]}}</span></p>
                        </div>
                        <div class="col-md-4 guardian guardian-first"
                          *ngIf="remainingStudents > 0 && remainingStudents <=3"></div>
                        <div class="col-md-4 guardian" *ngIf="remainingStudents > 1 && remainingStudents <= 3"></div>
                        <div class="col-md-4 guardian" *ngIf="remainingStudents > 2 && remainingStudents <= 3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row float-right mr-0 mb-5">
              <a class="btn btn-cancel btn-outline" (click)="close()" [ngClass]="{'mr-2':userDetailsType!=1}">Close</a>
              <button class="btn btn-save ml-2" (click)="nextTab(1)">Next</button>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="academicDetails" title="Academic Details" *ngIf="userDetailsType==1">
          <ng-template ngbTabContent>
            <div class="card mb-0">
              <div class="card-body">
                <div class="row">
                  <div class="panel panel-default">
                    <div class="panel-heading">Academic Details <span class="edit" (click)="editClick(4)">Edit</span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <!-- <div class="col-md-6">
                          <p><span>Academic Year:</span> {{academicFormGroup.value.yearName}}</p>
                        </div>
                        <div class="col-md-6">
                          <p><span>Academic Calender:</span> {{academicFormGroup.value.calender}}</p>
                        </div> -->
                        <div class="col-md-6">
                          <p><span>Course:</span> {{studentAcademicInfo.course.name}}</p>
                        </div>
                        <div class="col-md-6">
                          <p><span>Batch:</span> {{studentAcademicInfo.batch.name}}</p>
                        </div>
                        <div class="col-md-6">
                          <p><span>Board:</span> {{studentAcademicInfo.board.name}}</p>
                        </div>
                        <div class="col-md-6">
                          <p><span>Grade:</span> {{studentAcademicInfo.grade.name}}</p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Subject Details <span class="edit" (click)="editClick(4)">Edit</span>
                    </div>
                    <div class="panel-body subDetails">
                      <div class="row m-0">
                        <div class="col-md-4">
                          <p class="subHeading"> Compulsory</p>
                          <div>
                            <p *ngFor="let subject of studentAcademicInfo.subjects.compulsorySubjects">
                              {{subject.subjectName}}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <p class="subHeading"> Optional</p>
                          <div *ngFor="let subject of studentAcademicInfo.subjects.optionalSubjects">
                            <p *ngIf="subject.studentSubjectUniqueId">{{subject.subjectName}}</p>
                          </div>
                        </div>
                        <div class="col-md-4 mr-0">
                          <p class="subHeading"> Elective</p>
                          <div *ngFor="let subjectGroup of selectedElectiveSub">
                            <div class="row m-0">
                              <div class="col-md-5">
                                {{subjectGroup.electiveGroup.name}}:
                              </div>
                              <div class="col-md-7 electiveSub">
                                <p *ngFor="let subject of subjectGroup.subjects">
                                  <span *ngIf="subject.studentSubjectUniqueId">{{subject.subjectName}}</span>
                                </p>
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row float-right mr-0 pb-3">
              <a class="btn btn-cancel btn-outline" (click)="close()">Close</a>
              <button class="btn btn-save ml-2" (click)="nextTab(2)">Next</button>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="account" title="Account">
          <ng-template ngbTabContent>
            <div class="row mx-0 account">
              <div class="col-md-1 mt-4"></div>
              <div class="col-md-8 mt-4">
                <label for="account">Account Status</label>
                <div class="activeBox">
                  <span class="float-left">{{userTypesList[userDetailsType]}} Account is currently
                    <b>{{currentStateData.name}}</b></span>
                  <span class="float-right">
                    <div class="material-switch pull-right">
                      <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"
                        [checked]="isToggelSwitchOn" [(ngModel)]="isToggelSwitchOn"
                        (change)="changeToggel($event,activeDective)" />
                      <label for="someSwitchOptionDefault" class="label-primary"></label>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="row mx-0 accountdetails" *ngIf="currentStateData.id!=2">
              <div class="col-md-1 mt-4"></div>
              <div class="col-md-8 mt-4">
                <h5>{{currentStateData.name|titlecase}} by</h5>
                <span>{{currentStateData.stateUpdatedBy}}</span>
                <span>Date & Time: {{currentStateData.stateChangeDateTime|date:'d MMM, yyyy, h:mm a'}}</span>
                <span></span>
              </div>
            </div>
            <div class="row mx-0 mt-3 mb-5">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                <button class="btn btn-filled btn-activate"
                  (click)="activeDectiveModal(activeDective)">{{isAccountActivate?"Deactivate":"Activate"}}</button>
              </div>
            </div>
            <div class="row float-right mr-0 mt-5">
              <a class="btn btn-cancel btn-outline" (click)="close()">Close</a>
              <button class="btn btn-save ml-2" (click)="nextTab(4)">Next</button>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="performance" title="Learner Performance" *ngIf="userDetailsType==1">
          <ng-template ngbTabContent>
            <div class="row performanceList listScroll">
              <div class="listItem">
                <h5>Total Attendace</h5>
                <p>85%</p>
              </div>
              <div class="listItem">
                <h5>Average Rank</h5>
                <p>13</p>
              </div>
              <div class="listItem">
                <h5>Tests Taken</h5>
                <p>13/15</p>
              </div>
              <div class="listItem">
                <h5>Total Attendace</h5>
                <p>85%</p>
              </div>
              <div class="listItem">
                <h5>Total Attendace</h5>
                <p>85%</p>
              </div>
              <div class="listItem">
                <h5>Total Attendace</h5>
                <p>85%</p>
              </div>
            </div>
            <div id="chart">
              <h4 class="header-title mb-2">Student Performance</h4>
              <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels">
              </apx-chart>
            </div>
            <div class="row float-right mr-0 pb-3">
              <a class="btn btn-cancel btn-outline" (click)="close()">Close</a>
              <button class="btn btn-save ml-2" (click)="nextTab(3)">Next</button>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="workDetails" title="Work Details" *ngIf="userDetailsType==3">
          <ng-template ngbTabContent>
            <div class="row p-1 m-0">
              <div class="panel panel-default workingDays" [ngClass]="{'show':shiftListData.length==0}">
                <div class="panel-heading">Work Timings <span class="edit" (click)="editClick(8)">Edit</span>
                </div>
                <div class="panel-body pb-3">
                  <div class="row">
                    <tabset #staticTabs>
                      <tab *ngFor="let tabz of shiftListData; let i=index" [heading]="tabz.name"
                        (selectTab)="onSelectTab($event,i)">
                        <div class="timeing">
                          <p><span class="title">Timing:</span> {{tabz.startTime}} - {{tabz.endTime}}hours</p>
                        </div>
                        <div class="days">
                          <!-- <p><span class="title">Shift Days:</span> <span class="day"
                              *ngFor="let day of tabz.daysArray;"
                              [ngClass]="{'dayselected':day.isSelected}">{{day.day|slice:0:1}}</span></p> -->
                        </div>
                        <div class="table-responsive" *ngIf="isPeriodListData">
                          <table class="table table-centered table-bordered mb-5" id="test">
                            <thead>
                              <!-- <div class="table-row"> -->
                              <tr>
                                <th></th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                                <th>Sun</th>
                              </tr>
                              <!-- </div> -->
                            </thead>
                            <tbody>
                              <tr *ngFor="let period of selectedShiftData.periods; let i = index;">
                                <td>
                                  <p class="name">{{period.name}}</p>
                                  <p class="time">{{period.startTime}} - {{period.endTime}}</p>
                                </td>
                                <td [ngClass]="{'periodSelected':period.mon}"></td>
                                <td [ngClass]="{'periodSelected':period.tue}"></td>
                                <td [ngClass]="{'periodSelected':period.wed}"></td>
                                <td [ngClass]="{'periodSelected':period.thu}"></td>
                                <td [ngClass]="{'periodSelected':period.fri}"></td>
                                <td [ngClass]="{'periodSelected':period.sat}"></td>
                                <td [ngClass]="{'periodSelected':period.sun}"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="pt-3 text-center" *ngIf="!isPeriodListData">
                          <p>Period data not found</p>
                        </div>
                      </tab>
                    </tabset>
                  </div>
                </div>
              </div>
            </div>

            <div class="row float-right mr-0 mb-4">
              <a class="btn btn-cancel btn-outline" (click)="close()">Close</a>
              <button class="btn btn-save ml-2" (click)="nextTab(3)">Next</button>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
    <div class="col-9 rightSide" *ngIf="!isUserDeatilsShow && isAcademicFormShow">
      <div class="mt-2">
        <app-academic-demo [userId]="activeUser" [userUniqueId]="selectedUserUniqueId" [currentTab]="4"
          (showAcademicDetails)="showAcademicDetails($event)">
        </app-academic-demo>
      </div>
    </div>
    <div class="col-9 rightSide" *ngIf="!isUserDeatilsShow && isWorkingDetailsForm">

      <ngb-tabset #tabsetTeacher [activeId]="teacherActiveTab" [justify]="currentJustify"
        (tabChange)="onSelectTeacherTab($event)">
        <ngb-tab id="workTimeForm" title="Shift Details">
          <ng-template ngbTabContent>
            <app-user-work-time-form [userDetailsType]="userDetailsType" [userUniqueId]="selectedUserUniqueId"
              [userId]="activeUser" [currentTab]="3" [staffShiftData]="staffShiftData">
            </app-user-work-time-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="dayAndPeriod" title="Days and Period">
          <ng-template ngbTabContent>
            <app-assign-period [userDetailsType]="userDetailsType" [userUniqueId]="selectedUserUniqueId"
              [userId]="activeUser" [currentTab]="5" [teacherPeriodData]="teacherPeriodData">
            </app-assign-period>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-9 rightSide" *ngIf="isTabFormShow">
      <ngb-tabset #tabset [activeId]="activeTab" [justify]="currentJustify">
        <ngb-tab id="basic" title="Basic Details">
          <ng-template ngbTabContent>
            <app-user-basic-form [roleData]="roleData" [userId]="activeUser" [basicFormGroup]="basicFormGroup"
              [userUniqueId]="selectedUserUniqueId" [userDetailsType]="userDetailsType" (nextTab)="nexttab($event)">
            </app-user-basic-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="other" title="Other Details" *ngIf="userDetailsType!=4">
          <ng-template ngbTabContent>
            <app-user-other-form [userId]="activeUser" [otherFormGroup]="userAddressInfoForm"
              [userUniqueId]="selectedUserUniqueId" [userDetailsType]="userDetailsType" (nextTab)="nexttab($event)">
            </app-user-other-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="guardian" title="Guardian" *ngIf="userDetailsType==1">
          <ng-template ngbTabContent>
            <app-guardian [userId]="activeUser" [userUniqueId]="selectedUserUniqueId" [currentTab]="3"></app-guardian>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="subject" title="Subjects" *ngIf="userDetailsType==3">
          <ng-template ngbTabContent>
            <app-teacher-subjects [userId]="activeUser" [userUniqueId]="selectedUserUniqueId" [currentTab]="3">
            </app-teacher-subjects>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="workTiming" title="Work Timing" *ngIf="userDetailsType==2">
          <ng-template ngbTabContent>
            <app-user-work-time-form [userDetailsType]="userDetailsType" [userUniqueId]="selectedUserUniqueId"
              [userId]="activeUser" [currentTab]="3" [staffShiftData]="staffShiftData">
            </app-user-work-time-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="assignedLearners" title="Assigned Learners" *ngIf="userDetailsType==4">
          <ng-template ngbTabContent>
            <app-assign-student [userDetailsType]="userDetailsType" [userUniqueId]="selectedUserUniqueId"
              [userId]="activeUser" [currentTab]="3" [studentDataList]="studentDataList">
            </app-assign-student>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <div class="row mt-3 float-right">
        <!-- <a class="btn btn-cancel btn-outline" (click)="close()">Close</a> -->
        <!-- <button class="btn btn-save ml-2" type="submit">Save</button> -->
      </div>

    </div>
  </div>
</div>
<ng-template #activeDective role="document" let-modal="close">
  <div class="row mx-0">
    <div class="modal-header w-100">
      <h5 class="modal-title">{{isAccountActivate?'Deactivate':'Activate'}} Account</h5>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-12">
          <h4>Are you sure you want to {{isAccountActivate?'deactivate':'activate'}} the account?</h4>
          <p class="text-center">User will be notified by registered phone number and email address</p>
        </div>
      </div>
      <div class="row mb-12" style="margin-bottom: 19px;margin-top: 32px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <button type="button" class="btn btn-outline btn-close"
                (click)="modal('Cross click');closePopup();">Close</button>
              <button type="button" class="btn btn-filled btn-yes" style="float: right;"
                (click)="updateState()">Yes</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</ng-template>